Repository vbenjs/vue-vben-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

修正日期区间拆解时数据为null时异常问题/修正validate|validateFields时，未将对象型数据进行转换 (#3096)
  src/components/Form/src/hooks/useFormEvents.ts
  src/components/Form/src/hooks/useFormValues.ts
  src/utils/is.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

perf: 解决ts文件通过alias引入vue文件后, vscode调转不到正确vue文件路径
  .vscode/extensions.json
Due: none

perf: 解决ts文件通过alias引入vue文件后, vscode调转不到正确vue文件路径 (#3099)
  .vscode/extensions.json
Due: none

chore: fix onUploadProgress params type error
  src/api/sys/upload.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix(BasicButton): extends type error
  src/components/Button/src/BasicButton.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: useFormRules 类型问题
  src/views/sys/login/useLogin.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: IFormConfig 类型问题
  src/views/form-design/typings/v-form-component.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

chore: 设定CollapseItem list参数的类型
  src/views/form-design/components/VFormDesign/modules/CollapseItem.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

chore: 修复sliderSpan类型错误
  src/views/form-design/components/VFormDesign/components/FormProps.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

chore: 改写成setup组件
  src/views/form-design/components/VFormDesign/components/FormItemProps.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: static func type error
  src/utils/propTypes.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

chore: 设定listener 函数 evt类型为Event
  src/utils/domUtils.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

chore(props): 消除ts类型错误
  src/utils/props.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

chore: 移除多余的类型转换
  src/locales/setupI18n.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

Update domUtils.ts
  src/utils/domUtils.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

perf: 优化is.ts方法
  src/utils/is.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

chore: 消除iconPicker类型错误
  src/components/Icon/src/IconPicker.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

chore(clickOutside): 消除类型错误
  src/directives/clickOutside.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

Update repeatClick.ts
  src/directives/repeatClick.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

Update index.ts
  src/directives/ripple/index.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

chore: 补全参数类型
  src/components/CardList/src/CardList.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: 多选框必填选中校验异常，close #3097
  src/components/Form/src/components/ApiSelect.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: 多选框必填选中校验异常，close #3097 (#3103)
  src/components/Form/src/components/ApiSelect.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

feat: 重写复制文本功能
  src/utils/copyTextToClipboard.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

feat: 重写复制文本功能
  src/components/Icon/src/IconPicker.vue
  src/layouts/default/setting/components/SettingFooter.vue
  src/views/form-design/components/VFormDesign/components/PreviewCode.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

refactor: 替换复制文本示例代码
  src/views/demo/feat/copy/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

chore: delete useCopyToClipboard hook
  src/hooks/web/useCopyToClipboard.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

Refactor：移除useCopyToClipboard hook, 使用navigator.clipboard进行替代。close #2723 (#3105)
  src/components/Icon/src/IconPicker.vue
  src/hooks/web/useCopyToClipboard.ts
  src/layouts/default/setting/components/SettingFooter.vue
  src/utils/copyTextToClipboard.ts
  src/views/demo/feat/copy/index.vue
  src/views/form-design/components/VFormDesign/components/PreviewCode.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix(Cropper): avatar uploadapi 类型问题
  src/components/Cropper/src/CropperAvatar.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

refactor: use `unplugin-config`
  internal/vite-config/package.json
  internal/vite-config/src/plugins/appConfig.ts
  internal/vite-config/src/plugins/index.ts
  internal/vite-config/src/utils/hash.ts
  pnpm-lock.yaml
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write

fix(ApiSelect): 移除watchEffect引发的重复请求
  src/components/Form/src/components/ApiSelect.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix(ApiSelect): 移除watchEffect引发的重复请求 (#3107)
  src/components/Form/src/components/ApiSelect.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: tabel取消编辑单元格后会回到初始值. close #2739
  src/components/Table/src/components/editable/EditableCell.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: tabel取消编辑单元格后会回到初始值. close #2739 (#3108)
  src/components/Table/src/components/editable/EditableCell.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

Path conditions:
  prettier --cache --ignore-unknown --write: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.{scss,less,styl,html})) or (any of: *.md)
  eslint --cache --fix: (any of: *.{js,jsx,ts,tsx}) or (any of: *.vue)
  prettier --cache --write: any of: package.json
  prettier --write: any of: *.vue
  stylelint --fix: (any of: *.vue) or (any of: *.{scss,less,styl,html})
