Repository vbenjs/vue-vben-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": ["prettier --cache --ignore-unknown  --write", "eslint --cache --fix"],
  "{!(package)*.json,*.code-snippets,.!(browserslist)*rc}": [
    "prettier --cache --write--parser json"
  ],
  "package.json": ["prettier --cache --write"],
  "*.vue": ["prettier --write", "eslint --cache --fix", "stylelint --fix"],
  "*.{scss,less,styl,html}": ["prettier --cache --ignore-unknown --write", "stylelint --fix"],
  "*.md": ["prettier --cache --ignore-unknown --write"]
}

chore: add prepare
  package.json
Due: prettier --cache --write

docs: remove docs
  OXLINT_JS_PLUGINS_MIGRATION.md
Due: prettier --cache --ignore-unknown --write

docs(@vben/docs): align guide docs with current tooling
  docs/src/en/guide/essentials/development.md
  docs/src/en/guide/introduction/vben.md
  docs/src/en/guide/project/dir.md
  docs/src/en/guide/project/standard.md
  docs/src/en/guide/project/tailwindcss.md
  docs/src/guide/essentials/development.md
  docs/src/guide/introduction/vben.md
  docs/src/guide/introduction/why.md
  docs/src/guide/project/dir.md
  docs/src/guide/project/standard.md
  docs/src/guide/project/tailwindcss.md
Due: prettier --cache --ignore-unknown --write

docs(@vben/docs): sync component docs with current APIs
  docs/.vitepress/config/en.mts
  docs/src/_env/adapter/form.ts
  docs/src/components/common-ui/vben-alert.md
  docs/src/components/common-ui/vben-api-component.md
  docs/src/components/common-ui/vben-count-to-animator.md
  docs/src/components/common-ui/vben-drawer.md
  docs/src/components/common-ui/vben-ellipsis-text.md
  docs/src/components/common-ui/vben-form.md
  docs/src/components/common-ui/vben-modal.md
  docs/src/components/common-ui/vben-vxe-table.md
  docs/src/components/layout-ui/page.md
  docs/src/en/components/common-ui/vben-alert.md
  docs/src/en/components/common-ui/vben-api-component.md
  docs/src/en/components/common-ui/vben-count-to-animator.md
  docs/src/en/components/common-ui/vben-drawer.md
  docs/src/en/components/common-ui/vben-ellipsis-text.md
  docs/src/en/components/common-ui/vben-form.md
  docs/src/en/components/common-ui/vben-modal.md
  docs/src/en/components/common-ui/vben-vxe-table.md
  docs/src/en/components/introduction.md
  docs/src/en/components/layout-ui/page.md
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

chore: update pnpm-lock
  pnpm-lock.yaml
Due: none

chore: engines node
  package.json
Due: prettier --cache --write

chore: update deps
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

fix: oxlint
  oxlint.config.ts
  pnpm-lock.yaml
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

chore: fix lint issues
  docs/src/_env/adapter/form.ts
  docs/src/demos/vben-vxe-table/form/index.vue
  eslint.config.mjs
  internal/vite-config/src/plugins/extra-app-config.ts
  internal/vite-config/src/plugins/importmap.ts
  packages/@core/ui-kit/layout-ui/src/components/layout-content.vue
  packages/@core/ui-kit/shadcn-ui/src/components/full-screen/full-screen.vue
  packages/@core/ui-kit/tabs-ui/src/components/tabs-chrome/tabs.vue
  packages/effects/common-ui/src/components/captcha/slider-translate-captcha/index.vue
  packages/effects/common-ui/src/components/json-viewer/index.vue
  packages/effects/layouts/src/widgets/global-search/global-search.vue
  packages/effects/layouts/src/widgets/theme-toggle/theme-button.vue
  scripts/vsh/src/publint/index.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: oxlint config (#7661)
  docs/src/_env/adapter/form.ts
  docs/src/demos/vben-vxe-table/form/index.vue
  eslint.config.mjs
  internal/vite-config/src/plugins/extra-app-config.ts
  internal/vite-config/src/plugins/importmap.ts
  oxlint.config.ts
  package.json
  packages/@core/ui-kit/layout-ui/src/components/layout-content.vue
  packages/@core/ui-kit/shadcn-ui/src/components/full-screen/full-screen.vue
  packages/@core/ui-kit/tabs-ui/src/components/tabs-chrome/tabs.vue
  packages/effects/common-ui/src/components/captcha/slider-translate-captcha/index.vue
  packages/effects/common-ui/src/components/json-viewer/index.vue
  packages/effects/layouts/src/widgets/global-search/global-search.vue
  packages/effects/layouts/src/widgets/theme-toggle/theme-button.vue
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/vsh/src/publint/index.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

build: migrate core ts packages to tsdown
  cspell.json
  internal/lint-configs/eslint-config/src/configs/node.ts
  package.json
  packages/@core/base/icons/build.config.ts
  packages/@core/base/icons/package.json
  packages/@core/base/icons/tsdown.config.ts
  packages/@core/base/shared/build.config.ts
  packages/@core/base/shared/package.json
  packages/@core/base/shared/tsdown.config.ts
  packages/@core/base/typings/build.config.ts
  packages/@core/base/typings/package.json
  packages/@core/base/typings/tsdown.config.ts
  packages/@core/base/typings/vue-router.d.ts
  packages/@core/composables/build.config.ts
  packages/@core/composables/package.json
  packages/@core/composables/tsdown.config.ts
  packages/@core/preferences/build.config.ts
  packages/@core/preferences/package.json
  packages/@core/preferences/tsdown.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/vsh/src/check-dep/index.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write

chore(eslint-config): migrate build to tsdown
  internal/lint-configs/eslint-config/build.config.ts
  internal/lint-configs/eslint-config/package.json
  internal/lint-configs/eslint-config/tsdown.config.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write

chore(oxfmt-config): migrate build to tsdown
  internal/lint-configs/oxfmt-config/build.config.ts
  internal/lint-configs/oxfmt-config/package.json
  internal/lint-configs/oxfmt-config/src/index.ts
  internal/lint-configs/oxfmt-config/tsdown.config.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write

chore(oxlint-config): migrate build to tsdown
  internal/lint-configs/oxlint-config/build.config.ts
  internal/lint-configs/oxlint-config/package.json
  internal/lint-configs/oxlint-config/tsdown.config.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write

chore(node-utils): migrate build to tsdown
  internal/node-utils/build.config.ts
  internal/node-utils/package.json
  internal/node-utils/scripts/build.mjs
  internal/node-utils/src/date.ts
  internal/node-utils/src/monorepo.ts
  internal/node-utils/tsconfig.build.json
  internal/node-utils/tsdown.config.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write

chore(core-icons): migrate build to tsdown
  packages/@core/base/icons/package.json
  packages/@core/base/icons/tsdown.config.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write

chore(core-shared): migrate build to tsdown
  packages/@core/base/shared/package.json
  packages/@core/base/shared/src/utils/__tests__/date.test.ts
  packages/@core/base/shared/src/utils/date.ts
  packages/@core/base/shared/tsdown.config.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write

chore(core-typings): migrate build to tsdown
  packages/@core/base/typings/package.json
  packages/@core/base/typings/tsdown.config.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write

chore(core-composables): migrate build to tsdown
  packages/@core/composables/package.json
  packages/@core/composables/tsdown.config.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write

chore(core-preferences): migrate build to tsdown
  packages/@core/preferences/package.json
  packages/@core/preferences/tsdown.config.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write

chore(turbo-run): migrate build to tsdown
  scripts/turbo-run/build.config.ts
  scripts/turbo-run/package.json
  scripts/turbo-run/tsdown.config.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write

chore(vsh): migrate build to tsdown
  scripts/vsh/build.config.ts
  scripts/vsh/package.json
  scripts/vsh/tsdown.config.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write

chore(pnpm): sync lockfile for tsdown migration
  pnpm-lock.yaml
Due: none

fix(vite): adapt rolldown workspace resolution
  internal/vite-config/package.json
  internal/vite-config/src/plugins/index.ts
  internal/vite-config/src/typing.ts
  packages/@core/base/design/package.json
  packages/@core/base/icons/package.json
  packages/@core/base/shared/package.json
  packages/@core/base/typings/package.json
  packages/@core/composables/package.json
  packages/@core/ui-kit/form-ui/package.json
  packages/@core/ui-kit/layout-ui/package.json
  packages/@core/ui-kit/menu-ui/package.json
  packages/@core/ui-kit/popup-ui/package.json
  packages/@core/ui-kit/tabs-ui/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write

fix(node-utils): avoid find-up sync API in monorepo root lookup
  internal/node-utils/src/monorepo.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

chore: migrate vite build to tsdown
  internal/vite-config/build.config.ts
  internal/vite-config/package.json
  internal/vite-config/tsdown.config.ts
  scripts/vsh/src/check-circular/index.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write

chore(tsdown): align stub scripts and package exports
  internal/lint-configs/eslint-config/package.json
  internal/lint-configs/oxfmt-config/package.json
  internal/node-utils/package.json
  internal/vite-config/package.json
  packages/@core/base/icons/package.json
  packages/@core/base/shared/package.json
  packages/@core/base/typings/package.json
  packages/@core/composables/package.json
  packages/@core/preferences/package.json
  scripts/turbo-run/package.json
  scripts/vsh/package.json
Due: prettier --cache --write

refactor(tsdown): migrate ui-kit vue packages
  package.json
  packages/@core/ui-kit/form-ui/build.config.ts
  packages/@core/ui-kit/form-ui/package.json
  packages/@core/ui-kit/form-ui/tsdown.config.ts
  packages/@core/ui-kit/layout-ui/build.config.ts
  packages/@core/ui-kit/layout-ui/package.json
  packages/@core/ui-kit/layout-ui/tsdown.config.ts
  packages/@core/ui-kit/popup-ui/build.config.ts
  packages/@core/ui-kit/popup-ui/package.json
  packages/@core/ui-kit/popup-ui/tsdown.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write

refactor(tsdown): migrate styled ui-kit packages
  packages/@core/ui-kit/menu-ui/build.config.ts
  packages/@core/ui-kit/menu-ui/package.json
  packages/@core/ui-kit/menu-ui/tsdown.config.ts
  packages/@core/ui-kit/tabs-ui/build.config.ts
  packages/@core/ui-kit/tabs-ui/package.json
  packages/@core/ui-kit/tabs-ui/tsdown.config.ts
  pnpm-lock.yaml
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write

chore(tsdown): remove unbuild leftovers
  internal/lint-configs/eslint-config/src/configs/node.ts
  package.json
  packages/@core/ui-kit/shadcn-ui/build.config.ts
  packages/@core/ui-kit/shadcn-ui/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/vsh/src/check-dep/index.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write

fix(@vben/vite-config): externalize node utils dependency
  internal/vite-config/package.json
  internal/vite-config/tsdown.config.ts
  pnpm-lock.yaml
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write

chore: unbuild
  internal/lint-configs/eslint-config/package.json
  internal/lint-configs/oxfmt-config/package.json
  internal/lint-configs/oxlint-config/package.json
  internal/node-utils/package.json
  internal/vite-config/package.json
  packages/@core/base/icons/package.json
  packages/@core/base/typings/package.json
  packages/@core/composables/package.json
  packages/@core/preferences/package.json
  packages/@core/ui-kit/form-ui/package.json
  packages/@core/ui-kit/layout-ui/package.json
  packages/@core/ui-kit/menu-ui/package.json
  packages/@core/ui-kit/popup-ui/package.json
  packages/@core/ui-kit/tabs-ui/package.json
  scripts/turbo-run/package.json
  scripts/vsh/package.json
Due: prettier --cache --write

fix: build warn
  packages/@core/ui-kit/shadcn-ui/src/ui/tree/tree.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: 修复在vue-router 的模式hash复制路径不对
  packages/@core/ui-kit/menu-ui/src/components/menu-item.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

chore: Configure the ESLint auto-repair feature
  .vscode/settings.json
Due: none

feat: antd Upload 组件上传文件组支持拖拽排序
  apps/web-antd/src/adapter/component/index.ts
  playground/src/adapter/component/index.ts
  playground/src/views/examples/form/basic.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

perf: 裁剪组件默认输出格式调整
  packages/effects/common-ui/src/components/cropper/cropper.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: vxe i18n
  packages/effects/plugins/src/vxe-table/init.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix
