Repository vbenjs/vue-vben-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

perf(form->util): duplicate judge (#3865)
  src/components/Form/src/helper.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix(upload): 显式绑定删除fn的key
  src/components/Upload/src/components/data.tsx
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

chore(upload): 重构组件，添加key作为标识
  src/components/Upload/src/BasicUpload.vue
  src/components/Upload/src/components/UploadModal.vue
  src/components/Upload/src/components/UploadPreviewModal.vue
  src/components/Upload/src/props.ts
  src/components/Upload/src/types/typing.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix(upload): 显式传入handleDelete
  src/components/Upload/src/components/data.tsx
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

update case
  src/views/demo/comp/upload/Upload4.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

feat(form): add valueFormat for schema
  src/components/Form/src/BasicForm.vue
  src/components/Form/src/components/FormItem.vue
  src/components/Form/src/types/form.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

chore: remove unuse file
  apps/antd-view/package.json
  packages/@vben-core/uikit/shadcn-ui/src/components/logo/logo.vue
  pnpm-lock.yaml
  scripts/vsh/src/check-dep/index.ts
  website/.vitepress/cache/deps/_metadata.json
  website/.vitepress/cache/deps/chunk-Z6W6QRLO.js
  website/.vitepress/cache/deps/chunk-Z6W6QRLO.js.map
  website/.vitepress/cache/deps/package.json
  website/.vitepress/cache/deps/vitepress___@vue_devtools-api.js
  website/.vitepress/cache/deps/vitepress___@vue_devtools-api.js.map
  website/.vitepress/cache/deps/vitepress___@vueuse_core.js
  website/.vitepress/cache/deps/vitepress___@vueuse_core.js.map
  website/.vitepress/cache/deps/vue.js
  website/.vitepress/cache/deps/vue.js.map
  website/.vitepress/cache/deps_temp_c643c573/chunk-Z6W6QRLO.js
  website/.vitepress/cache/deps_temp_c643c573/chunk-Z6W6QRLO.js.map
  website/.vitepress/cache/deps_temp_c643c573/package.json
  website/.vitepress/cache/deps_temp_c643c573/vitepress___@vue_devtools-api.js
  website/.vitepress/cache/deps_temp_c643c573/vitepress___@vue_devtools-api.js.map
  website/.vitepress/cache/deps_temp_c643c573/vitepress___@vueuse_core.js
  website/.vitepress/cache/deps_temp_c643c573/vitepress___@vueuse_core.js.map
  website/.vitepress/cache/deps_temp_c643c573/vue.js
  website/.vitepress/cache/deps_temp_c643c573/vue.js.map
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

feat: add docker shell
  .dockerignore
  .vscode/settings.json
  Dockerfile
  apps/antd-view/src/bootstrap.ts
  apps/antd-view/src/layouts/basic.vue
  apps/antd-view/src/main.ts
  build-local-docker-image.sh
  deploy/nginx.conf
  internal/lint-configs/eslint-config/package.json
  internal/tailwind-config/package.json
  package.json
  packages/@vben-core/README.md
  packages/@vben-core/shared/typings/src/preference.ts
  packages/@vben-core/shared/typings/src/tools.ts
  packages/@vben-core/uikit/shadcn-ui/src/components/ui/dropdown-menu/DropdownMenuSeparator.vue
  packages/business/common-ui/src/preference/preference.vue
  packages/business/common-ui/src/preference/use-open-preference.ts
  packages/business/common-ui/src/user-dropdown/user-dropdown.vue
  packages/business/layouts/src/basic/layout.vue
  packages/preference/src/cache.ts
  packages/preference/src/config.ts
  packages/preference/src/setup.ts
  packages/stores/src/setup.ts
  packages/styles/package.json
  pnpm-lock.yaml
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

chore: update deps
  .npmrc
  internal/lint-configs/eslint-config/package.json
  internal/lint-configs/stylelint-config/package.json
  internal/tsconfig/package.json
  internal/vite-config/package.json
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

chore: format code
  apps/antd-view/package.json
  internal/lint-configs/commitlint-config/package.json
  internal/lint-configs/eslint-config/package.json
  internal/lint-configs/eslint-config/src/configs/jsonc.ts
  internal/lint-configs/lint-staged-config/package.json
  internal/lint-configs/prettier-config/package.json
  internal/lint-configs/stylelint-config/package.json
  internal/node-utils/package.json
  internal/tailwind-config/package.json
  internal/tsconfig/package.json
  internal/vite-config/package.json
  internal/vite-config/src/config/application.ts
  package.json
  packages/@vben-core/shared/design-tokens/package.json
  packages/@vben-core/shared/design/package.json
  packages/@vben-core/shared/iconify/package.json
  packages/@vben-core/shared/toolkit/package.json
  packages/@vben-core/shared/typings/package.json
  packages/@vben-core/uikit/layout-ui/package.json
  packages/@vben-core/uikit/menu-ui/package.json
  packages/@vben-core/uikit/shadcn-ui/package.json
  packages/@vben-core/uikit/tabs-ui/package.json
  packages/business/common-ui/package.json
  packages/business/layouts/package.json
  packages/constants/package.json
  packages/hooks/package.json
  packages/icons/package.json
  packages/locales/package.json
  packages/preference/package.json
  packages/stores/package.json
  packages/styles/package.json
  packages/types/package.json
  packages/utils/package.json
  pnpm-lock.yaml
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write

chore: Optimize loading display
  packages/business/common-ui/src/spinner/spinner.vue
  packages/locales/src/langs/en-US.yaml
  packages/locales/src/langs/zh-CN.yaml
Due: eslint --cache --fix, prettier --write, stylelint --fix

feat: add shortcut keys
  packages/@vben-core/shared/iconify/src/material.ts
  packages/@vben-core/shared/typings/src/preference.ts
  packages/business/common-ui/src/global-search/global-search.vue
  packages/business/common-ui/src/preference/blocks/general/general.vue
  packages/business/common-ui/src/preference/preference-widget.vue
  packages/business/common-ui/src/preference/preference.vue
  packages/business/common-ui/src/user-dropdown/user-dropdown.vue
  packages/business/layouts/src/basic/header/header.vue
  packages/locales/src/langs/en-US.yaml
  packages/locales/src/langs/zh-CN.yaml
  packages/preference/src/config.ts
  pnpm-lock.yaml
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: 修复tabs已知问题
  apps/antd-view/src/router/routes/modules/vben.ts
  internal/tsconfig/package.json
  internal/vite-config/package.json
  package.json
  packages/@vben-core/uikit/layout-ui/src/vben-layout.vue
  packages/@vben-core/uikit/menu-ui/src/menu.vue
  packages/@vben-core/uikit/tabs-ui/src/components/chrome-tabs/chrome-tabs.scss
  packages/@vben-core/uikit/tabs-ui/src/components/chrome-tabs/tab-background.vue
  packages/@vben-core/uikit/tabs-ui/src/components/chrome-tabs/tab.vue
  packages/@vben-core/uikit/tabs-ui/src/components/chrome-tabs/tabs.vue
  packages/@vben-core/uikit/tabs-ui/src/components/index.ts
  packages/@vben-core/uikit/tabs-ui/src/components/tabs/index.vue
  packages/@vben-core/uikit/tabs-ui/src/index.ts
  packages/@vben-core/uikit/tabs-ui/src/interface.ts
  packages/@vben-core/uikit/tabs-ui/src/tabs-view.vue
  pnpm-lock.yaml
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

fix: When refreshing the page, the topic is wrong
  apps/antd-view/.env
  apps/antd-view/src/bootstrap.ts
  apps/antd-view/src/main.ts
  internal/vite-config/src/config/application.ts
  internal/vite-config/src/plugins/index.ts
  internal/vite-config/src/plugins/inject-app-loading/index.ts
  internal/vite-config/src/plugins/inject-app-loading/loading-antd.html
  internal/vite-config/src/plugins/inject-app-loading/loading.html
  internal/vite-config/src/typing.ts
  packages/preference/src/setup.ts
  packages/stores/src/setup.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, stylelint --fix

fix(loading): useLoading is not working as expected
  src/components/Loading/src/createLoading.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

chore(build): keep same hash for the same files
  internal/vite-config/src/config/application.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

chore: remove comment
  src/components/Loading/src/createLoading.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix(loading): useLoading is not working as expected (#3877)
  src/components/Loading/src/createLoading.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

perf(menu search): highlight match chars when search menu
  src/components/Application/src/search/AppSearchModal.vue
  src/components/Application/src/search/useMenuSearch.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

chore: update deps
  .vscode/settings.json
  apps/antd-view/package.json
  internal/lint-configs/commitlint-config/package.json
  internal/lint-configs/eslint-config/package.json
  internal/tailwind-config/package.json
  internal/tailwind-config/src/index.ts
  internal/tailwind-config/src/plugins.ts
  package.json
  packages/@vben-core/shared/design-tokens/src/dark/index.scss
  packages/@vben-core/shared/design-tokens/src/default/index.scss
  packages/@vben-core/shared/design/src/scss/common/base.scss
  packages/@vben-core/shared/design/src/scss/index.scss
  packages/@vben-core/shared/design/src/tailwind.css
  packages/@vben-core/uikit/layout-ui/package.json
  packages/@vben-core/uikit/layout-ui/src/components/layout-header.vue
  packages/@vben-core/uikit/layout-ui/src/components/layout-tabs.vue
  packages/@vben-core/uikit/layout-ui/src/vben-layout.vue
  packages/@vben-core/uikit/menu-ui/package.json
  packages/@vben-core/uikit/shadcn-ui/package.json
  packages/business/common-ui/package.json
  packages/business/common-ui/src/fallback/fallback.vue
  packages/business/layouts/src/authentication/authentication.vue
  packages/business/layouts/src/authentication/toolbar.vue
  packages/preference/package.json
  packages/preference/src/preference.ts
  packages/styles/src/common/entry.scss
  packages/styles/src/common/nprogress.css
  packages/styles/src/index.scss
  packages/styles/src/index.ts
  packages/styles/src/tokens/dark.scss
  packages/styles/src/tokens/light.scss
  pnpm-lock.yaml
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

fix: stylelint not work
  .vscode/settings.json
  internal/lint-configs/stylelint-config/package.json
  internal/lint-configs/stylelint-config/src/index.ts
  internal/tailwind-config/package.json
  internal/tailwind-config/src/index.ts
  internal/tailwind-config/src/module.d.ts
  internal/tailwind-config/src/plugins.ts
  internal/tailwind-config/src/postcss.config.ts
  internal/vite-config/src/config/application.ts
  package.json
  packages/@vben-core/shared/chche/build.config.ts
  packages/@vben-core/shared/chche/package.json
  packages/@vben-core/shared/chche/src/index.ts
  packages/@vben-core/shared/chche/src/storage-cache.test.ts
  packages/@vben-core/shared/chche/src/storage-cache.ts
  packages/@vben-core/shared/chche/src/types.ts
  packages/@vben-core/shared/chche/tsconfig.json
  packages/@vben-core/shared/design-tokens/src/dark/index.scss
  packages/@vben-core/shared/design-tokens/src/default/index.scss
  packages/@vben-core/shared/design/build.config.ts
  packages/@vben-core/shared/design/src/scss/common/base.scss
  packages/@vben-core/shared/design/src/tailwind.css
  packages/business/common-ui/src/authentication/qrcode-login.vue
  packages/business/common-ui/src/fallback/fallback.vue
  packages/business/common-ui/src/preference/trigger.vue
  packages/business/common-ui/src/spinner/spinner.vue
  packages/business/layouts/src/authentication/authentication.vue
  packages/business/layouts/src/authentication/from-view.vue
  packages/styles/src/tokens/dark.scss
  pnpm-lock.yaml
  turbo.json
  vben-admin.code-workspace
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

fix: 修复表单重置后，页面变化了，但是由于异步问题导致表单内部的状态没有及时同步
  src/components/Form/src/hooks/useForm.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: 修复表单重置后，页面变化了，但是由于异步问题导致表单内部的状态没有及时同步 (#3882)
  src/components/Form/src/hooks/useForm.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

chore: init website project
  .gitignore
  packages/@vben-core/shared/design/src/tailwind.css
  pnpm-lock.yaml
  pnpm-workspace.yaml
  vben-admin.code-workspace
  website/.vitepress/config.mts
  website/.vitepress/theme/index.ts
  website/.vitepress/theme/style.css
  website/api-examples.md
  website/index.md
  website/markdown-examples.md
  website/package.json
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write

feat(form): add valueFormat for schema (#3873)
  src/components/Form/src/BasicForm.vue
  src/components/Form/src/components/FormItem.vue
  src/components/Form/src/types/form.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

chore(upload): use uid && fix handleDelete (#3872)
  src/components/Upload/src/BasicUpload.vue
  src/components/Upload/src/components/UploadModal.vue
  src/components/Upload/src/components/UploadPreviewModal.vue
  src/components/Upload/src/components/data.tsx
  src/components/Upload/src/props.ts
  src/components/Upload/src/types/typing.ts
  src/views/demo/comp/upload/Upload4.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

chore(build): keep same hash for the same files (#3878)
  internal/vite-config/src/config/application.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

perf(menu->search): highlight match chars when search menu (#3880)
  src/components/Application/src/search/AppSearchModal.vue
  src/components/Application/src/search/useMenuSearch.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

chore: release 2.11.5
  CHANGELOG.md
  package.json
Due: prettier --cache --ignore-unknown --write, prettier --cache --write

perf(view): optimize the screenshot code && add print and download
  src/views/demo/feat/screenshot/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: some bugs
  apps/antd-view/src/preferences.ts
  packages/business/common-ui/src/theme-toggle/theme-toggle.vue
  packages/locales/package.json
  pnpm-lock.yaml
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

chore: update helpers
  packages/@vben-core/forward/helpers/build.config.ts
  packages/@vben-core/forward/helpers/package.json
  packages/@vben-core/forward/helpers/src/flatten-object.test.ts
  packages/@vben-core/forward/helpers/src/flatten-object.ts
  packages/@vben-core/forward/helpers/src/index.ts
  packages/@vben-core/forward/helpers/src/nested-object.test.ts
  packages/@vben-core/forward/helpers/src/nested-object.ts
  packages/@vben-core/forward/helpers/tsconfig.json
  packages/@vben-core/forward/preferences/package.json
  packages/@vben-core/forward/preferences/src/preferences.ts
  packages/@vben-core/forward/stores/package.json
  packages/@vben-core/helpers/src/index.ts
  packages/@vben-core/helpers/src/object.test.ts
  packages/@vben-core/shared/chche/package.json
  packages/@vben-core/shared/iconify/package.json
  packages/@vben-core/shared/toolkit/src/letter.test.ts
  packages/@vben-core/shared/toolkit/src/letter.ts
  pnpm-lock.yaml
  vben-admin.code-workspace
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write

feat: add some test case
  apps/antd-view/package.json
  apps/antd-view/src/router/guard.ts
  apps/antd-view/src/router/guard/access.ts
  apps/antd-view/src/router/guard/index.ts
  apps/antd-view/src/router/index.ts
  apps/antd-view/src/store/modules/example.test.ts
  apps/antd-view/src/store/modules/example.ts
  apps/antd-view/src/views/_essential/authentication/login.vue
  packages/@vben-core/forward/helpers/package.json
  packages/@vben-core/forward/helpers/src/generator-menus.test.ts
  packages/@vben-core/forward/helpers/src/generator-menus.ts
  packages/@vben-core/forward/helpers/src/generator-routes.test.ts
  packages/@vben-core/forward/helpers/src/generator-routes.ts
  packages/@vben-core/forward/helpers/src/index.ts
  packages/@vben-core/forward/helpers/src/nested-object.test.ts
  packages/@vben-core/forward/preferences/src/config.ts
  packages/@vben-core/forward/preferences/src/preferences.test.ts
  packages/@vben-core/forward/preferences/src/preferences.ts
  packages/@vben-core/forward/request/.gitkeep
  packages/@vben-core/forward/stores/src/modules/access.test.ts
  packages/@vben-core/forward/stores/src/modules/tabs.test.ts
  packages/@vben-core/shared/typings/package.json
  packages/@vben-core/shared/typings/src/index.ts
  packages/@vben-core/shared/typings/src/vue-router.ts
  packages/@vben-core/shared/typings/vue-router.d.ts
  packages/@vben-core/uikit/shadcn-ui/src/components/input-password/input-password.vue
  packages/business/common-ui/src/fallback/fallback.vue
  packages/business/common-ui/src/fallback/icons/fallback-icon.vue
  packages/hooks/src/index.ts
  packages/hooks/src/use-request.ts
  packages/request/build.config.ts
  packages/request/package.json
  packages/request/src/index.ts
  packages/request/src/use-request.ts
  packages/request/tsconfig.json
  pnpm-lock.yaml
  vben-admin.code-workspace
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

chore: update types
  apps/antd-view/src/apis/index.ts
  apps/antd-view/src/apis/modules/index.ts
  apps/antd-view/src/apis/modules/user.ts
  apps/antd-view/src/apis/request.ts
  apps/antd-view/src/apis/types/index.ts
  apps/antd-view/src/apis/types/user.ts
  apps/antd-view/src/services/index.ts
  apps/antd-view/src/services/modules/user/index.ts
  apps/antd-view/src/views/_essential/authentication/login.vue
  internal/tailwind-config/package.json
  internal/tailwind-config/src/index.ts
  internal/tailwind-config/src/plugins/entry.ts
  packages/@vben-core/forward/preferences/src/constants.ts
  packages/@vben-core/forward/preferences/src/preferences.ts
  packages/@vben-core/forward/preferences/src/types.ts
  packages/@vben-core/forward/stores/src/modules/access.ts
  packages/@vben-core/shared/design/src/index.css
  packages/@vben-core/shared/design/src/tailwind.css
  packages/@vben-core/shared/typings/src/app.d.ts
  packages/@vben-core/shared/typings/src/helper.d.ts
  packages/@vben-core/shared/typings/src/index.ts
  packages/@vben-core/shared/typings/src/vue-router.d.ts
  packages/business/common-ui/src/language-toggle/language-toggle.vue
  packages/business/common-ui/src/preferences/preferences-widget.vue
  packages/business/layouts/src/authentication/authentication.vue
  packages/locales/src/i18n.ts
  packages/locales/src/typing.ts
  packages/styles/src/common/entry.scss
  packages/styles/src/index.scss
  packages/types/src/index.ts
  packages/types/src/user.d.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

feat: refactor request
  .vscode/settings.json
  apps/antd-view/package.json
  apps/antd-view/src/apis/modules/user.ts
  apps/antd-view/src/apis/request.ts
  apps/antd-view/src/forward/request.ts
  apps/antd-view/src/views/_essential/authentication/login.vue
  package.json
  packages/@vben-core/forward/request/build.config.ts
  packages/@vben-core/forward/request/package.json
  packages/@vben-core/forward/request/src/index.ts
  packages/@vben-core/forward/request/src/request-client/index.ts
  packages/@vben-core/forward/request/src/request-client/modules/canceler.test.ts
  packages/@vben-core/forward/request/src/request-client/modules/canceler.ts
  packages/@vben-core/forward/request/src/request-client/modules/downloader.test.ts
  packages/@vben-core/forward/request/src/request-client/modules/downloader.ts
  packages/@vben-core/forward/request/src/request-client/modules/interceptor.ts
  packages/@vben-core/forward/request/src/request-client/modules/uploader.test.ts
  packages/@vben-core/forward/request/src/request-client/modules/uploader.ts
  packages/@vben-core/forward/request/src/request-client/request-client.test.ts
  packages/@vben-core/forward/request/src/request-client/request-client.ts
  packages/@vben-core/forward/request/src/request-client/types.ts
  packages/@vben-core/forward/request/src/request-client/util.test.ts
  packages/@vben-core/forward/request/src/request-client/util.ts
  packages/@vben-core/forward/request/src/use-request.ts
  packages/@vben-core/forward/request/tsconfig.json
  packages/request/src/index.ts
  packages/styles/src/common/entry.scss
  pnpm-lock.yaml
  vben-admin.code-workspace
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

feat: new interface button parameters, control function display
  apps/antd-view/src/apis/modules/user.ts
  apps/antd-view/src/forward/index.ts
  apps/antd-view/src/forward/request/index.ts
  apps/antd-view/src/views/_essential/authentication/login.vue
  packages/business/common-ui/src/authentication/code-login.vue
  packages/business/common-ui/src/authentication/forget-password.vue
  packages/business/common-ui/src/authentication/index.ts
  packages/business/common-ui/src/authentication/login.vue
  packages/business/common-ui/src/authentication/qrcode-login.vue
  packages/business/common-ui/src/authentication/register.vue
  packages/business/common-ui/src/authentication/widgets/color-toggle.vue
  packages/business/common-ui/src/authentication/widgets/layout-toggle.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

feat: support the dynamic introduction and sorting of routes
  apps/antd-view/src/router/guard.ts
  apps/antd-view/src/router/index.ts
  apps/antd-view/src/router/routes/dynamic/nested.ts
  apps/antd-view/src/router/routes/dynamic/outside.ts
  apps/antd-view/src/router/routes/dynamic/root.ts
  apps/antd-view/src/router/routes/dynamic/vben.ts
  apps/antd-view/src/router/routes/external/.gitkeep
  apps/antd-view/src/router/routes/index.ts
  apps/antd-view/src/router/routes/static/.gitkeep
  packages/@vben-core/forward/helpers/src/generator-menus.test.ts
  packages/@vben-core/forward/helpers/src/generator-menus.ts
  packages/@vben-core/forward/helpers/src/index.ts
  packages/@vben-core/forward/helpers/src/merge-route-modules.test.ts
  packages/@vben-core/forward/helpers/src/merge-route-modules.ts
  packages/@vben-core/shared/typings/src/vue-router.d.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: code workspace path error
  apps/antd-view/src/router/index.ts
  internal/node-utils/src/index.ts
  internal/node-utils/src/path.test.ts
  internal/node-utils/src/path.ts
  internal/vite-config/src/plugins/importmap.ts
  internal/vite-config/src/utils/env.ts
  packages/@vben-core/forward/stores/src/modules/tabs.ts
  packages/locales/src/langs/zh-CN.yaml
  scripts/update-dependencies
  scripts/vsh/src/code-workspace/index.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

Path conditions:
  prettier --cache --ignore-unknown --write: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.{scss,less,styl,html})) or (any of: *.md)
  eslint --cache --fix: (any of: *.{js,jsx,ts,tsx}) or (any of: *.vue)
  prettier --cache --write: any of: package.json
  prettier --write: any of: *.vue
  stylelint --fix: (any of: *.vue) or (any of: *.{scss,less,styl,html})
