Repository vbenjs/vue-vben-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": ["prettier --cache --ignore-unknown  --write", "eslint --cache --fix"],
  "{!(package)*.json,*.code-snippets,.!(browserslist)*rc}": [
    "prettier --cache --write--parser json"
  ],
  "package.json": ["prettier --cache --write"],
  "*.vue": ["prettier --write", "eslint --cache --fix", "stylelint --fix"],
  "*.{scss,less,styl,html}": ["prettier --cache --ignore-unknown --write", "stylelint --fix"],
  "*.md": ["prettier --cache --ignore-unknown --write"]
}

Update electron-build.yml
  .github/workflows/electron-build.yml
Due: none

feat: 增加Mac OS X x64
  package.json
Due: prettier --cache --write

fix: 还原
  package.json
Due: prettier --cache --write

fix: download from url triggered twice sometimes (#5319)
  packages/@core/base/shared/src/utils/download.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: 修复Form表单开启submitOnChange、submitOnEnter后配置fieldMappingTime的数组值映射字段不生效
  packages/@core/ui-kit/form-ui/src/form-api.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

修改build文件
  .github/workflows/electron-build.yml
Due: none

types: @clack/prompts => select控件传入类型修改
  scripts/turbo-run/src/run.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

docs: 对scripts中的包添加使用文档
  scripts/turbo-run/README.md
  scripts/vsh/README.md
Due: prettier --cache --ignore-unknown --write

fix: form option `fieldMappingTime` is not working
  packages/@core/ui-kit/form-ui/src/components/form-actions.vue
  packages/@core/ui-kit/form-ui/src/form-api.ts
  packages/@core/ui-kit/form-ui/src/use-form-context.ts
  packages/@core/ui-kit/form-ui/src/vben-use-form.vue
  packages/effects/plugins/src/echarts/use-echarts.ts
  packages/effects/plugins/src/vxe-table/use-vxe-grid.vue
  playground/src/views/examples/vxe-table/form.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: form merge support `fieldMappingTime`
  packages/@core/ui-kit/form-ui/src/form-api.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: form `fieldMappingTime` is not working (#5333)
  packages/@core/ui-kit/form-ui/src/components/form-actions.vue
  packages/@core/ui-kit/form-ui/src/form-api.ts
  packages/@core/ui-kit/form-ui/src/use-form-context.ts
  packages/@core/ui-kit/form-ui/src/vben-use-form.vue
  packages/effects/plugins/src/echarts/use-echarts.ts
  packages/effects/plugins/src/vxe-table/use-vxe-grid.vue
  playground/src/views/examples/vxe-table/form.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: code lint
  docs/.vitepress/components/preview-group.vue
  packages/@core/ui-kit/menu-ui/src/components/menu.vue
  playground/src/views/examples/vxe-table/form.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

style: echarts文件有一个prettier错误，虽然不是我造成的，但是PR合并
  packages/effects/plugins/src/echarts/use-echarts.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: form `fieldMapping` improve and `modelPropName` support
  docs/src/components/common-ui/vben-form.md
  packages/@core/ui-kit/form-ui/src/form-api.ts
  packages/@core/ui-kit/form-ui/src/form-render/form-field.vue
  packages/@core/ui-kit/form-ui/src/form-render/form.vue
  packages/@core/ui-kit/form-ui/src/types.ts
  packages/styles/src/antd/index.css
  playground/src/views/examples/form/custom.vue
  playground/src/views/examples/form/modules/two-fields.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: demo page
  playground/src/views/examples/form/custom.vue
  playground/src/views/examples/form/modules/two-fields.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: form `fieldMappingTime` improve and `modelPropName` support (#5335)
  docs/src/components/common-ui/vben-form.md
  packages/@core/ui-kit/form-ui/src/form-api.ts
  packages/@core/ui-kit/form-ui/src/form-render/form-field.vue
  packages/@core/ui-kit/form-ui/src/form-render/form.vue
  packages/@core/ui-kit/form-ui/src/types.ts
  packages/styles/src/antd/index.css
  playground/src/views/examples/form/custom.vue
  playground/src/views/examples/form/modules/two-fields.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: form valid-error style in naive
  apps/web-naive/src/bootstrap.ts
  packages/styles/package.json
  packages/styles/src/naive/index.css
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write

fix: form valid-error style in naive (#5336)
  apps/web-naive/src/bootstrap.ts
  packages/styles/package.json
  packages/styles/src/naive/index.css
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write

fix: primaryColor calculation
  apps/web-naive/src/views/demos/form/basic.vue
  packages/effects/layouts/src/widgets/preferences/blocks/theme/builtin.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: primaryColor calculation (#5337)
  apps/web-naive/src/views/demos/form/basic.vue
  packages/effects/layouts/src/widgets/preferences/blocks/theme/builtin.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

chore: update deps
  package.json
  packages/@core/ui-kit/tabs-ui/src/use-tabs-view-scroll.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write

fix: vxeGrid init without search form
  packages/@core/ui-kit/form-ui/src/form-api.ts
  packages/effects/plugins/src/vxe-table/use-vxe-grid.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: vxeGrid version downgrade
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

fix: vxeGrid init without search form (#5342)
  packages/@core/ui-kit/form-ui/src/form-api.ts
  packages/effects/plugins/src/vxe-table/use-vxe-grid.vue
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: locale switch logic
  packages/effects/layouts/src/basic/layout.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

feat: form button content support computed value
  packages/@core/ui-kit/form-ui/src/types.ts
  packages/effects/plugins/src/vxe-table/use-vxe-grid.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: locale switching logic correction (#5344)
  packages/@core/ui-kit/form-ui/src/types.ts
  packages/effects/layouts/src/basic/layout.vue
  packages/effects/plugins/src/vxe-table/use-vxe-grid.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

feat: allow close tab when mouse middle button click
  packages/@core/preferences/__tests__/__snapshots__/config.test.ts.snap
  packages/@core/preferences/src/config.ts
  packages/@core/preferences/src/types.ts
  packages/@core/ui-kit/tabs-ui/src/components/tabs-chrome/tabs.vue
  packages/@core/ui-kit/tabs-ui/src/components/tabs/tabs.vue
  packages/@core/ui-kit/tabs-ui/src/types.ts
  packages/effects/layouts/src/basic/tabbar/tabbar.vue
  packages/effects/layouts/src/widgets/preferences/blocks/layout/tabbar.vue
  packages/effects/layouts/src/widgets/preferences/preferences-drawer.vue
  packages/locales/src/langs/en-US/preferences.json
  packages/locales/src/langs/zh-CN/preferences.json
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: remove invalid event
  packages/effects/layouts/src/basic/tabbar/tabbar.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: mouse middle button event only take effect while needed
  packages/@core/ui-kit/tabs-ui/src/components/tabs-chrome/tabs.vue
  packages/@core/ui-kit/tabs-ui/src/components/tabs/tabs.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

feat: allow close tab when mouse middle button click (#5347)
  packages/@core/preferences/__tests__/__snapshots__/config.test.ts.snap
  packages/@core/preferences/src/config.ts
  packages/@core/preferences/src/types.ts
  packages/@core/ui-kit/tabs-ui/src/components/tabs-chrome/tabs.vue
  packages/@core/ui-kit/tabs-ui/src/components/tabs/tabs.vue
  packages/@core/ui-kit/tabs-ui/src/types.ts
  packages/effects/layouts/src/basic/tabbar/tabbar.vue
  packages/effects/layouts/src/widgets/preferences/blocks/layout/tabbar.vue
  packages/effects/layouts/src/widgets/preferences/preferences-drawer.vue
  packages/locales/src/langs/en-US/preferences.json
  packages/locales/src/langs/zh-CN/preferences.json
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: 响应拦截器类型返回HttpResponse的data类型，消除部分any类型
  .vscode/settings.json
  apps/web-antd/src/api/request.ts
  internal/lint-configs/eslint-config/src/configs/typescript.ts
  packages/effects/request/src/request-client/modules/interceptor.ts
  packages/effects/request/src/request-client/preset-interceptors.ts
  packages/effects/request/src/request-client/types.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: 还原
  apps/web-antd/src/api/request.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

Update env.ts
  internal/vite-config/src/utils/env.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

perf: modal and drawer api support chain calls
  docs/src/components/common-ui/vben-drawer.md
  docs/src/components/common-ui/vben-modal.md
  docs/src/demos/vben-drawer/dynamic/index.vue
  docs/src/demos/vben-drawer/shared-data/index.vue
  docs/src/demos/vben-modal/dynamic/index.vue
  docs/src/demos/vben-modal/shared-data/index.vue
  packages/@core/ui-kit/popup-ui/src/drawer/drawer-api.ts
  packages/@core/ui-kit/popup-ui/src/modal/modal-api.ts
  playground/src/views/examples/drawer/index.vue
  playground/src/views/examples/modal/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix
