Repository vbenjs/vue-vben-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": ["prettier --cache --ignore-unknown  --write", "eslint --cache --fix"],
  "{!(package)*.json,*.code-snippets,.!(browserslist)*rc}": [
    "prettier --cache --write--parser json"
  ],
  "package.json": ["prettier --cache --write"],
  "*.vue": ["prettier --write", "eslint --cache --fix", "stylelint --fix"],
  "*.{scss,less,styl,html}": ["prettier --cache --ignore-unknown --write", "stylelint --fix"],
  "*.md": ["prettier --cache --ignore-unknown --write"]
}

fix: form item style adjustment
  packages/@core/ui-kit/form-ui/src/form-render/form-field.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: form item style adjustment (#5694)
  packages/@core/ui-kit/form-ui/src/form-render/form-field.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

feat: setting - cogs - add Pusher
  apps/web-np/src/constants.ts
  apps/web-np/src/views/settings/cogs-handling-fees/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

chore
  .husky/commit-msg
  .husky/post-merge
  .husky/pre-commit
Due: none

chore
  .lintstagedrc.mjs
  .vscode/settings.json
Due: none

feat
  apps/backend-mock/.env
  apps/backend-mock/README.md
  apps/backend-mock/api/auth/codes.ts
  apps/backend-mock/api/auth/login.post.ts
  apps/backend-mock/api/auth/logout.post.ts
  apps/backend-mock/api/auth/refresh.post.ts
  apps/backend-mock/api/menu/all.ts
  apps/backend-mock/api/status.ts
  apps/backend-mock/api/system/dept/.post.ts
  apps/backend-mock/api/system/dept/[id].delete.ts
  apps/backend-mock/api/system/dept/[id].put.ts
  apps/backend-mock/api/system/dept/list.ts
  apps/backend-mock/api/system/menu/list.ts
  apps/backend-mock/api/system/menu/name-exists.ts
  apps/backend-mock/api/system/menu/path-exists.ts
  apps/backend-mock/api/system/role/list.ts
  apps/backend-mock/api/table/list.ts
  apps/backend-mock/api/test.get.ts
  apps/backend-mock/api/test.post.ts
  apps/backend-mock/api/user/info.ts
  apps/backend-mock/error.ts
  apps/backend-mock/middleware/1.api.ts
  apps/backend-mock/nitro.config.ts
  apps/backend-mock/package.json
  apps/backend-mock/routes/[...].ts
  apps/backend-mock/tsconfig.build.json
  apps/backend-mock/tsconfig.json
  apps/backend-mock/utils/cookie-utils.ts
  apps/backend-mock/utils/jwt-utils.ts
  apps/backend-mock/utils/mock-data.ts
  apps/backend-mock/utils/response.ts
  apps/web-antd/.env.development
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write

chore
  .changeset/README.md
  .changeset/config.json
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/docs.yml
  .github/ISSUE_TEMPLATE/feature-request.yml
  .github/actions/setup-node/action.yml
  .github/commit-convention.md
  .github/config.yml
  .github/contributing.md
  .github/dependabot.yml
  .github/pull_request_template.md
  .github/release-drafter.yml
  .github/semantic.yml
  .github/workflows/build.yml
  .github/workflows/changeset-version.yml
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/deploy.yml
  .github/workflows/draft.yml
  .github/workflows/issue-close-require.yml
  .github/workflows/issue-labeled.yml
  .github/workflows/lock.yml
  .github/workflows/release-tag.yml
  .github/workflows/rerun.yml
  .github/workflows/semantic-pull-request.yml
  .github/workflows/stale.yml
  apps/web-antd/package.json
  package.json
  scripts/deploy/Dockerfile
  scripts/deploy/build-local-docker-image.sh
  scripts/deploy/nginx.conf
Due: prettier --cache --ignore-unknown --write, prettier --cache --write

chore
  .dockerignore
  apps/backend-mock/.env
  apps/backend-mock/README.md
  apps/backend-mock/api/auth/codes.ts
  apps/backend-mock/api/auth/login.post.ts
  apps/backend-mock/api/auth/logout.post.ts
  apps/backend-mock/api/auth/refresh.post.ts
  apps/backend-mock/api/menu/all.ts
  apps/backend-mock/api/status.ts
  apps/backend-mock/api/system/dept/.post.ts
  apps/backend-mock/api/system/dept/[id].delete.ts
  apps/backend-mock/api/system/dept/[id].put.ts
  apps/backend-mock/api/system/dept/list.ts
  apps/backend-mock/api/system/menu/list.ts
  apps/backend-mock/api/system/menu/name-exists.ts
  apps/backend-mock/api/system/menu/path-exists.ts
  apps/backend-mock/api/system/role/list.ts
  apps/backend-mock/api/table/list.ts
  apps/backend-mock/api/test.get.ts
  apps/backend-mock/api/test.post.ts
  apps/backend-mock/api/user/info.ts
  apps/backend-mock/error.ts
  apps/backend-mock/middleware/1.api.ts
  apps/backend-mock/nitro.config.ts
  apps/backend-mock/package.json
  apps/backend-mock/routes/[...].ts
  apps/backend-mock/tsconfig.build.json
  apps/backend-mock/tsconfig.json
  apps/backend-mock/utils/cookie-utils.ts
  apps/backend-mock/utils/jwt-utils.ts
  apps/backend-mock/utils/mock-data.ts
  apps/backend-mock/utils/response.ts
  apps/web-antd/.env.development
  package.json
  pnpm-lock.yaml
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write

feat
  apps/web-antd/.env
  apps/web-antd/src/views/dashboard/analytics/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

feat: setting - cogs - Update position for remove product btn
  apps/web-np/src/views/settings/cogs-handling-fees/product-form-modal.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

feat: setting - cogs - import
  apps/web-np/src/api/setting-cogs-handling-fees.ts
  apps/web-np/src/store/shop.ts
  apps/web-np/src/views/settings/cogs-handling-fees/index.vue
  apps/web-np/src/views/settings/cogs-handling-fees/modal-cogs-form.vue
  apps/web-np/src/views/settings/cogs-handling-fees/modal-import-form.vue
  apps/web-np/src/views/settings/cogs-handling-fees/modal-product-form.vue
  apps/web-np/src/views/settings/cogs-handling-fees/modules/products.vue
  apps/web-np/src/views/settings/cogs-handling-fees/modules/upload.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

feat: setting - cogs - import
  apps/web-np/src/constants.ts
  apps/web-np/src/views/settings/cogs-handling-fees/index.vue
  apps/web-np/src/views/settings/cogs-handling-fees/modal-cogs-form.vue
  apps/web-np/src/views/settings/cogs-handling-fees/modal-import-form.vue
  apps/web-np/src/views/settings/cogs-handling-fees/modules/upload.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

Update index.ts
  scripts/vsh/src/lint/index.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: vsh stylelint script fixed (#5729)
  scripts/vsh/src/lint/index.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

feat(ui): 扩展auth页面添加点击 Logo 的事件处理
  packages/effects/layouts/src/authentication/authentication.vue
  playground/src/layouts/auth.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix(ui): 移除logo点击事件的控制台日志
  playground/src/layouts/auth.vue
  playground/src/layouts/basic.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

feat(layout): 添加点击 logo 的事件处理函数
  packages/effects/layouts/src/basic/layout.vue
  playground/src/layouts/basic.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

chore: release 5.5.4
  apps/web-antd/package.json
  apps/web-ele/package.json
  apps/web-naive/package.json
  docs/package.json
  internal/lint-configs/commitlint-config/package.json
  internal/lint-configs/stylelint-config/package.json
  internal/node-utils/package.json
  internal/tailwind-config/package.json
  internal/tsconfig/package.json
  internal/vite-config/package.json
  package.json
  packages/@core/base/design/package.json
  packages/@core/base/icons/package.json
  packages/@core/base/shared/package.json
  packages/@core/base/typings/package.json
  packages/@core/composables/package.json
  packages/@core/preferences/package.json
  packages/@core/ui-kit/form-ui/package.json
  packages/@core/ui-kit/layout-ui/package.json
  packages/@core/ui-kit/menu-ui/package.json
  packages/@core/ui-kit/shadcn-ui/package.json
  packages/@core/ui-kit/tabs-ui/package.json
  packages/constants/package.json
  packages/effects/access/package.json
  packages/effects/common-ui/package.json
  packages/effects/hooks/package.json
  packages/effects/layouts/package.json
  packages/effects/plugins/package.json
  packages/effects/request/package.json
  packages/icons/package.json
  packages/locales/package.json
  packages/preferences/package.json
  packages/stores/package.json
  packages/styles/package.json
  packages/types/package.json
  packages/utils/package.json
  playground/package.json
  scripts/turbo-run/package.json
  scripts/vsh/package.json
Due: prettier --cache --write

feat: Update text
  apps/web-np/src/views/settings/zone-shipping/form-modal.vue
  apps/web-np/src/views/settings/zone-shipping/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

chore: update codeowners
  .github/CODEOWNERS
Due: none

feat: custom costs
  apps/web-np/src/api/custom-cost.ts
  apps/web-np/src/api/index.ts
  apps/web-np/src/api/order.ts
  apps/web-np/src/router/routes/modules/settings.ts
  apps/web-np/src/views/settings/custom-costs/form-modal.vue
  apps/web-np/src/views/settings/custom-costs/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

feat: custom costs
  apps/web-np/src/api/custom-cost.ts
  apps/web-np/src/views/settings/custom-costs/form-modal.vue
  apps/web-np/src/views/settings/custom-costs/index.vue
  apps/web-np/src/views/settings/custom-costs/service.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

feat: custom costs
  apps/web-np/src/views/settings/custom-costs/form-modal.vue
  apps/web-np/src/views/settings/custom-costs/index.vue
  apps/web-np/src/views/settings/custom-costs/table-config.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: sort the menu so that it doesn't get replaced with 999 when order=0
  packages/utils/src/helpers/generate-menus.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: route root.children duplicate problem
  packages/effects/access/src/accessible.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

feat: custom costs
  apps/web-np/src/views/settings/custom-costs/form-modal-example.vue
  apps/web-np/src/views/settings/custom-costs/form-modal.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: sort the menu so that it doesn't get replaced with 999 when order=0 (#5753)
  packages/utils/src/helpers/generate-menus.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: table form reset will trigger reload twice while submitOnChange set
  packages/effects/plugins/src/vxe-table/use-vxe-grid.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: table form reset will trigger reload twice while submitOnChange set (#5756)
  packages/effects/plugins/src/vxe-table/use-vxe-grid.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

perf: 优化多文件上传入参是数组的情况
  packages/effects/request/src/request-client/modules/uploader.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

chore: update codeowners (#5750)
  .github/CODEOWNERS
Due: none

feat: add `form-is-required` class for required items. fixed: #5739
  packages/@core/ui-kit/form-ui/src/form-render/form-field.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

feat: add `form-is-required` class for required items. fixed: #5739 (#5759)
  packages/@core/ui-kit/form-ui/src/form-render/form-field.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: base component focus color in form
  packages/@core/ui-kit/form-ui/src/form-render/form-field.vue
  packages/@core/ui-kit/shadcn-ui/src/components/select/select.vue
  packages/@core/ui-kit/shadcn-ui/src/ui/input/Input.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: base component focus color in form (#5760)
  packages/@core/ui-kit/form-ui/src/form-render/form-field.vue
  packages/@core/ui-kit/shadcn-ui/src/components/select/select.vue
  packages/@core/ui-kit/shadcn-ui/src/ui/input/Input.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

feat: refactor file names
  apps/web-np/src/views/onboard/example-order.vue
  apps/web-np/src/views/onboard/index.vue
  apps/web-np/src/views/onboard/step-1-cogs.vue
  apps/web-np/src/views/onboard/step-2-handling-fees.vue
  apps/web-np/src/views/onboard/step-3-shipping-fees.vue
  apps/web-np/src/views/onboard/step-4-transaction-fees.vue
  apps/web-np/src/views/reports/order/form-modal-recalculate.vue
  apps/web-np/src/views/reports/order/index.vue
  apps/web-np/src/views/reports/order/table-filter.ts
  apps/web-np/src/views/settings/custom-costs/index.vue
  apps/web-np/src/views/settings/custom-costs/table-config.ts
  apps/web-np/src/views/settings/custom-costs/table-filter.ts
  apps/web-np/src/views/settings/transaction-fees/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

feat: custom cost - add types - revenue - gross profit
  apps/web-np/src/api/custom-cost.ts
  apps/web-np/src/views/settings/custom-costs/form-modal.vue
  apps/web-np/src/views/settings/custom-costs/index.vue
  apps/web-np/src/views/settings/custom-costs/service.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix
