Repository vbenjs/vue-vben-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": ["prettier --cache --ignore-unknown  --write", "eslint --cache --fix"],
  "{!(package)*.json,*.code-snippets,.!(browserslist)*rc}": [
    "prettier --cache --write--parser json"
  ],
  "package.json": ["prettier --cache --write"],
  "*.vue": ["prettier --write", "eslint --cache --fix", "stylelint --fix"],
  "*.{scss,less,styl,html}": ["prettier --cache --ignore-unknown --write", "stylelint --fix"],
  "*.md": ["prettier --cache --ignore-unknown --write"]
}

fix: typos
  packages/effects/layouts/src/authentication/authentication.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

chore: typos (#4227)
  packages/effects/layouts/src/authentication/authentication.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

feat: add modal component
  internal/vite-config/src/plugins/inject-app-loading/default-loading-antd.html
  packages/@core/base/icons/src/lucide.ts
  packages/@core/base/shared/src/utils/inference.test.ts
  packages/@core/base/shared/src/utils/inference.ts
  packages/@core/base/shared/src/utils/letter.test.ts
  packages/@core/base/shared/src/utils/letter.ts
  packages/@core/composables/src/__tests__/use-sortable.test.ts
  packages/@core/composables/src/index.ts
  packages/@core/composables/src/use-priority-value.ts
  packages/@core/ui-kit/popup-ui/build.config.ts
  packages/@core/ui-kit/popup-ui/package.json
  packages/@core/ui-kit/popup-ui/postcss.config.mjs
  packages/@core/ui-kit/popup-ui/src/drawer/.gitkeep
  packages/@core/ui-kit/popup-ui/src/index.ts
  packages/@core/ui-kit/popup-ui/src/modal/index.ts
  packages/@core/ui-kit/popup-ui/src/modal/modal-api.ts
  packages/@core/ui-kit/popup-ui/src/modal/modal.ts
  packages/@core/ui-kit/popup-ui/src/modal/modal.vue
  packages/@core/ui-kit/popup-ui/src/modal/use-modal-draggable.ts
  packages/@core/ui-kit/popup-ui/src/modal/use-modal.ts
  packages/@core/ui-kit/popup-ui/tailwind.config.mjs
  packages/@core/ui-kit/popup-ui/tsconfig.json
  packages/@core/ui-kit/shadcn-ui/src/components/spinner/index.ts
  packages/@core/ui-kit/shadcn-ui/src/components/spinner/loading.vue
  packages/@core/ui-kit/shadcn-ui/src/components/ui/dialog/DialogContent.vue
  packages/effects/common-ui/package.json
  packages/effects/common-ui/src/components/index.ts
  playground/src/locales/langs/en-US.json
  playground/src/locales/langs/zh-CN.json
  playground/src/router/routes/modules/examples.ts
  playground/src/views/examples/ellipsis/index.vue
  playground/src/views/examples/modal/auto-height-demo.vue
  playground/src/views/examples/modal/base-demo.vue
  playground/src/views/examples/modal/drag-demo.vue
  playground/src/views/examples/modal/dynamic-demo.vue
  playground/src/views/examples/modal/index.vue
  playground/src/views/examples/modal/shared-data-demo.vue
  pnpm-lock.yaml
  vben-admin.code-workspace
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

chore: release v5.1.2
  apps/web-antd/package.json
  apps/web-ele/package.json
  apps/web-naive/package.json
  docs/package.json
  internal/lint-configs/commitlint-config/package.json
  internal/lint-configs/stylelint-config/package.json
  internal/node-utils/package.json
  internal/tailwind-config/package.json
  internal/tsconfig/package.json
  internal/vite-config/package.json
  package.json
  packages/@core/base/design/package.json
  packages/@core/base/icons/package.json
  packages/@core/base/shared/package.json
  packages/@core/base/typings/package.json
  packages/@core/composables/package.json
  packages/@core/preferences/package.json
  packages/@core/ui-kit/layout-ui/package.json
  packages/@core/ui-kit/menu-ui/package.json
  packages/@core/ui-kit/shadcn-ui/package.json
  packages/@core/ui-kit/tabs-ui/package.json
  packages/constants/package.json
  packages/effects/access/package.json
  packages/effects/chart-ui/package.json
  packages/effects/common-ui/package.json
  packages/effects/hooks/package.json
  packages/effects/layouts/package.json
  packages/effects/request/package.json
  packages/icons/package.json
  packages/locales/package.json
  packages/preferences/package.json
  packages/stores/package.json
  packages/styles/package.json
  packages/types/package.json
  packages/utils/package.json
  playground/package.json
  scripts/turbo-run/package.json
  scripts/vsh/package.json
Due: prettier --cache --write

feat: add drawer component
  .vscode/settings.json
  packages/@core/ui-kit/popup-ui/src/drawer/.gitkeep
  packages/@core/ui-kit/popup-ui/src/drawer/drawer-api.ts
  packages/@core/ui-kit/popup-ui/src/drawer/drawer.ts
  packages/@core/ui-kit/popup-ui/src/drawer/drawer.vue
  packages/@core/ui-kit/popup-ui/src/drawer/index.ts
  packages/@core/ui-kit/popup-ui/src/drawer/use-drawer.ts
  packages/@core/ui-kit/popup-ui/src/index.ts
  packages/@core/ui-kit/popup-ui/src/modal/modal.vue
  packages/@core/ui-kit/shadcn-ui/src/components/ui/sheet/sheet.ts
  playground/src/locales/langs/en-US.json
  playground/src/locales/langs/zh-CN.json
  playground/src/router/routes/modules/examples.ts
  playground/src/views/examples/drawer/auto-height-demo.vue
  playground/src/views/examples/drawer/base-demo.vue
  playground/src/views/examples/drawer/dynamic-demo.vue
  playground/src/views/examples/drawer/index.vue
  playground/src/views/examples/drawer/shared-data-demo.vue
  playground/src/views/examples/modal/base-demo.vue
  playground/src/views/examples/modal/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

feat: apply new modal and drawer components to the layout
  cspell.json
  packages/@core/preferences/src/use-preferences.ts
  packages/@core/ui-kit/popup-ui/package.json
  packages/@core/ui-kit/popup-ui/src/drawer/drawer.vue
  packages/@core/ui-kit/popup-ui/src/modal/modal-api.ts
  packages/@core/ui-kit/popup-ui/src/modal/modal.ts
  packages/@core/ui-kit/popup-ui/src/modal/modal.vue
  packages/@core/ui-kit/shadcn-ui/src/components/alert-dialog/alert-dialog.vue
  packages/@core/ui-kit/shadcn-ui/src/components/alert-dialog/index.ts
  packages/@core/ui-kit/shadcn-ui/src/components/index.ts
  packages/@core/ui-kit/shadcn-ui/src/components/sheet/index.ts
  packages/@core/ui-kit/shadcn-ui/src/components/sheet/sheet.vue
  packages/@core/ui-kit/shadcn-ui/src/components/ui/alert-dialog/AlertDialog.vue
  packages/@core/ui-kit/shadcn-ui/src/components/ui/alert-dialog/AlertDialogAction.vue
  packages/@core/ui-kit/shadcn-ui/src/components/ui/alert-dialog/AlertDialogCancel.vue
  packages/@core/ui-kit/shadcn-ui/src/components/ui/alert-dialog/AlertDialogContent.vue
  packages/@core/ui-kit/shadcn-ui/src/components/ui/alert-dialog/AlertDialogDescription.vue
  packages/@core/ui-kit/shadcn-ui/src/components/ui/alert-dialog/AlertDialogFooter.vue
  packages/@core/ui-kit/shadcn-ui/src/components/ui/alert-dialog/AlertDialogHeader.vue
  packages/@core/ui-kit/shadcn-ui/src/components/ui/alert-dialog/AlertDialogTitle.vue
  packages/@core/ui-kit/shadcn-ui/src/components/ui/alert-dialog/AlertDialogTrigger.vue
  packages/@core/ui-kit/shadcn-ui/src/components/ui/alert-dialog/index.ts
  packages/@core/ui-kit/shadcn-ui/src/components/ui/dialog/DialogContent.vue
  packages/effects/common-ui/src/ui/authentication/login-expired-modal.vue
  packages/effects/layouts/package.json
  packages/effects/layouts/src/widgets/global-search/global-search.vue
  packages/effects/layouts/src/widgets/global-search/search-panel.vue
  packages/effects/layouts/src/widgets/lock-screen/lock-screen-modal.vue
  packages/effects/layouts/src/widgets/preferences/blocks/shortcut-keys/global.vue
  packages/effects/layouts/src/widgets/preferences/preferences-drawer.vue
  packages/effects/layouts/src/widgets/preferences/preferences.vue
  packages/effects/layouts/src/widgets/user-dropdown/user-dropdown.vue
  pnpm-lock.yaml
  scripts/vsh/src/check-circular/index.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

chore: typo
  apps/backend-mock/utils/jwt-utils.ts
  packages/@core/ui-kit/popup-ui/src/drawer/drawer-api.ts
  packages/@core/ui-kit/popup-ui/src/drawer/drawer.ts
  packages/@core/ui-kit/popup-ui/src/modal/modal-api.ts
  packages/@core/ui-kit/popup-ui/src/modal/modal.ts
  packages/@core/ui-kit/popup-ui/src/modal/modal.vue
  packages/effects/layouts/src/widgets/user-dropdown/user-dropdown.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

feat: add some unit tests
  internal/node-utils/src/__tests__/hash.test.ts
  internal/node-utils/src/__tests__/path.test.ts
  packages/@core/base/shared/src/cache/__tests__/storage-manager.test.ts
  packages/@core/base/shared/src/color/__tests__/convert.test.ts
  packages/@core/base/shared/src/utils/__tests__/diff.test.ts
  packages/@core/base/shared/src/utils/__tests__/dom.test.ts
  packages/@core/base/shared/src/utils/__tests__/inference.test.ts
  packages/@core/base/shared/src/utils/__tests__/letter.test.ts
  packages/@core/base/shared/src/utils/__tests__/tree.test.ts
  packages/@core/base/shared/src/utils/__tests__/unique.test.ts
  packages/@core/base/shared/src/utils/__tests__/update-css-variables.test.ts
  packages/@core/base/shared/src/utils/__tests__/window.test.ts
  packages/@core/ui-kit/popup-ui/src/drawer/__tests__/drawer-api.test.ts
  packages/@core/ui-kit/popup-ui/src/modal/__tests__/modal-api.test.ts
  packages/effects/common-ui/src/components/ellipsis-text/ellipsis-text.vue
  packages/utils/src/helpers/__tests__/find-menu-by-path.test.ts
  packages/utils/src/helpers/__tests__/generate-menus.test.ts
  packages/utils/src/helpers/__tests__/generate-routes-frontend.test.ts
  packages/utils/src/helpers/__tests__/merge-route-modules.test.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: when the 'refreshToken' expires, it does not re-authenticate
  packages/effects/request/src/request-client/preset-interceptors.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

chore: fix typo
  packages/@core/composables/src/use-priority-value.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: when the 'refreshToken' expires, it does not re-authenticate (#4231)
  packages/effects/request/src/request-client/preset-interceptors.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

chore: fix typo (#4232)
  packages/@core/composables/src/use-priority-value.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: ease-out
  packages/effects/layouts/src/widgets/color-toggle.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: ease-out (#4233)
  packages/effects/layouts/src/widgets/color-toggle.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: change deprecated func
  apps/backend-mock/error.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: change deprecated func (#4236)
  apps/backend-mock/error.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: improve the display of modal and drawer on mobile
  .vscode/settings.json
  packages/@core/base/design/src/css/global.css
  packages/@core/base/shared/src/utils/__tests__/dom.test.ts
  packages/@core/base/shared/src/utils/__tests__/letter.test.ts
  packages/@core/base/shared/src/utils/__tests__/unique.test.ts
  packages/@core/composables/src/index.ts
  packages/@core/composables/src/use-is-mobile.ts
  packages/@core/ui-kit/popup-ui/src/drawer/drawer-api.ts
  packages/@core/ui-kit/popup-ui/src/drawer/drawer.ts
  packages/@core/ui-kit/popup-ui/src/drawer/drawer.vue
  packages/@core/ui-kit/popup-ui/src/modal/modal.vue
  packages/@core/ui-kit/popup-ui/src/modal/use-modal.ts
  packages/@core/ui-kit/shadcn-ui/src/components/ui/dialog/DialogContent.vue
  packages/@core/ui-kit/shadcn-ui/src/components/ui/sheet/SheetContent.vue
  packages/effects/layouts/src/widgets/lock-screen/lock-screen.vue
  packages/effects/layouts/src/widgets/preferences/preferences.vue
  packages/utils/src/helpers/get-popup-container.ts
  packages/utils/src/helpers/index.ts
  vitest.workspace.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: improve the display of modal and drawer on mobile (#4237)
  .vscode/settings.json
  packages/@core/base/design/src/css/global.css
  packages/@core/base/shared/src/utils/__tests__/dom.test.ts
  packages/@core/base/shared/src/utils/__tests__/letter.test.ts
  packages/@core/base/shared/src/utils/__tests__/unique.test.ts
  packages/@core/composables/src/index.ts
  packages/@core/composables/src/use-is-mobile.ts
  packages/@core/ui-kit/popup-ui/src/drawer/drawer-api.ts
  packages/@core/ui-kit/popup-ui/src/drawer/drawer.ts
  packages/@core/ui-kit/popup-ui/src/drawer/drawer.vue
  packages/@core/ui-kit/popup-ui/src/modal/modal.vue
  packages/@core/ui-kit/popup-ui/src/modal/use-modal.ts
  packages/@core/ui-kit/shadcn-ui/src/components/ui/dialog/DialogContent.vue
  packages/@core/ui-kit/shadcn-ui/src/components/ui/sheet/SheetContent.vue
  packages/effects/layouts/src/widgets/lock-screen/lock-screen.vue
  packages/effects/layouts/src/widgets/preferences/preferences.vue
  packages/utils/src/helpers/get-popup-container.ts
  packages/utils/src/helpers/index.ts
  vitest.workspace.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

refactor: package chart-ui integrated into plugins
  apps/web-antd/package.json
  apps/web-antd/src/views/dashboard/analytics/analytics-trends.vue
  apps/web-antd/src/views/dashboard/analytics/analytics-visits-data.vue
  apps/web-antd/src/views/dashboard/analytics/analytics-visits-sales.vue
  apps/web-antd/src/views/dashboard/analytics/analytics-visits-source.vue
  apps/web-antd/src/views/dashboard/analytics/analytics-visits.vue
  apps/web-ele/package.json
  apps/web-ele/src/views/dashboard/analytics/analytics-trends.vue
  apps/web-ele/src/views/dashboard/analytics/analytics-visits-data.vue
  apps/web-ele/src/views/dashboard/analytics/analytics-visits-sales.vue
  apps/web-ele/src/views/dashboard/analytics/analytics-visits-source.vue
  apps/web-ele/src/views/dashboard/analytics/analytics-visits.vue
  apps/web-naive/package.json
  apps/web-naive/src/views/dashboard/analytics/analytics-trends.vue
  apps/web-naive/src/views/dashboard/analytics/analytics-visits-data.vue
  apps/web-naive/src/views/dashboard/analytics/analytics-visits-sales.vue
  apps/web-naive/src/views/dashboard/analytics/analytics-visits-source.vue
  apps/web-naive/src/views/dashboard/analytics/analytics-visits.vue
  docs/src/en/guide/project/dir.md
  docs/src/guide/project/dir.md
  packages/effects/chart-ui/src/index.ts
  packages/effects/plugins/README.md
  packages/effects/plugins/package.json
  packages/effects/plugins/src/echarts/echarts-ui.vue
  packages/effects/plugins/src/echarts/echarts.ts
  packages/effects/plugins/src/echarts/index.ts
  packages/effects/plugins/src/echarts/use-echarts.ts
  packages/effects/plugins/tsconfig.json
  packages/utils/src/helpers/get-popup-container.ts
  playground/package.json
  playground/src/views/dashboard/analytics/analytics-trends.vue
  playground/src/views/dashboard/analytics/analytics-visits-data.vue
  playground/src/views/dashboard/analytics/analytics-visits-sales.vue
  playground/src/views/dashboard/analytics/analytics-visits-source.vue
  playground/src/views/dashboard/analytics/analytics-visits.vue
  pnpm-lock.yaml
  vben-admin.code-workspace
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

feat: 新增vxeTable
  packages/effects/vxeTable/package.json
  packages/effects/vxeTable/src/Table.vue
  packages/effects/vxeTable/src/componet/PopconfirmButton.vue
  packages/effects/vxeTable/src/formatter.ts
  packages/effects/vxeTable/src/hooks/index.ts
  packages/effects/vxeTable/src/hooks/useInterceptor.ts
  packages/effects/vxeTable/src/hooks/useTable.ts
  packages/effects/vxeTable/src/index.ts
  packages/effects/vxeTable/src/renderer.tsx
  packages/effects/vxeTable/src/type.ts
  packages/effects/vxeTable/tsconfig.json
  packages/effects/vxeTable/vite.config.mts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

fix: lint error
  apps/web-ele/package.json
  apps/web-naive/package.json
  playground/package.json
Due: prettier --cache --write

refactor: package chart-ui integrated into plugins (#4238)
  apps/web-antd/package.json
  apps/web-antd/src/views/dashboard/analytics/analytics-trends.vue
  apps/web-antd/src/views/dashboard/analytics/analytics-visits-data.vue
  apps/web-antd/src/views/dashboard/analytics/analytics-visits-sales.vue
  apps/web-antd/src/views/dashboard/analytics/analytics-visits-source.vue
  apps/web-antd/src/views/dashboard/analytics/analytics-visits.vue
  apps/web-ele/package.json
  apps/web-ele/src/views/dashboard/analytics/analytics-trends.vue
  apps/web-ele/src/views/dashboard/analytics/analytics-visits-data.vue
  apps/web-ele/src/views/dashboard/analytics/analytics-visits-sales.vue
  apps/web-ele/src/views/dashboard/analytics/analytics-visits-source.vue
  apps/web-ele/src/views/dashboard/analytics/analytics-visits.vue
  apps/web-naive/package.json
  apps/web-naive/src/views/dashboard/analytics/analytics-trends.vue
  apps/web-naive/src/views/dashboard/analytics/analytics-visits-data.vue
  apps/web-naive/src/views/dashboard/analytics/analytics-visits-sales.vue
  apps/web-naive/src/views/dashboard/analytics/analytics-visits-source.vue
  apps/web-naive/src/views/dashboard/analytics/analytics-visits.vue
  docs/src/en/guide/project/dir.md
  docs/src/guide/project/dir.md
  packages/effects/chart-ui/src/index.ts
  packages/effects/plugins/README.md
  packages/effects/plugins/package.json
  packages/effects/plugins/src/echarts/echarts-ui.vue
  packages/effects/plugins/src/echarts/echarts.ts
  packages/effects/plugins/src/echarts/index.ts
  packages/effects/plugins/src/echarts/use-echarts.ts
  packages/effects/plugins/tsconfig.json
  packages/utils/src/helpers/get-popup-container.ts
  playground/package.json
  playground/src/views/dashboard/analytics/analytics-trends.vue
  playground/src/views/dashboard/analytics/analytics-visits-data.vue
  playground/src/views/dashboard/analytics/analytics-visits-sales.vue
  playground/src/views/dashboard/analytics/analytics-visits-source.vue
  playground/src/views/dashboard/analytics/analytics-visits.vue
  pnpm-lock.yaml
  vben-admin.code-workspace
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

chore: update vscode settings.json
  .vscode/settings.json
Due: none

chore: update vscode settings.json (#4240)
  .vscode/settings.json
Due: none

fix: sidebar scrolling does not meet expectations
  packages/@core/composables/src/use-content-style.ts
  packages/@core/ui-kit/layout-ui/src/components/layout-sidebar.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: sidebar scrolling does not meet expectations (#4241)
  packages/@core/composables/src/use-content-style.ts
  packages/@core/ui-kit/layout-ui/src/components/layout-sidebar.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: tabbar does not meet expectations in a mixed layout
  docs/src/en/guide/in-depth/access.md
  docs/src/guide/in-depth/access.md
  packages/@core/ui-kit/layout-ui/src/vben-layout.vue
  packages/@core/ui-kit/tabs-ui/src/use-tabs-view-scroll.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: tabbar does not meet expectations in a mixed layout (#4242)
  docs/src/en/guide/in-depth/access.md
  docs/src/guide/in-depth/access.md
  packages/@core/ui-kit/layout-ui/src/vben-layout.vue
  packages/@core/ui-kit/tabs-ui/src/use-tabs-view-scroll.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

feat: preference button supports automatic positioning
  docs/src/en/guide/essentials/settings.md
  docs/src/guide/essentials/settings.md
  packages/@core/base/typings/src/app.d.ts
  packages/@core/preferences/src/config.ts
  packages/@core/preferences/src/use-preferences.ts
  packages/effects/layouts/src/basic/header/header.vue
  packages/effects/layouts/src/basic/layout.vue
  packages/effects/layouts/src/widgets/global-search/global-search.vue
  packages/effects/layouts/src/widgets/preferences/blocks/layout/widget.vue
  packages/locales/src/langs/en-US.json
  packages/locales/src/langs/zh-CN.json
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

feat: preference button supports automatic positioning (#4243)
  docs/src/en/guide/essentials/settings.md
  docs/src/guide/essentials/settings.md
  packages/@core/base/typings/src/app.d.ts
  packages/@core/preferences/src/config.ts
  packages/@core/preferences/src/use-preferences.ts
  packages/effects/layouts/src/basic/header/header.vue
  packages/effects/layouts/src/basic/layout.vue
  packages/effects/layouts/src/widgets/global-search/global-search.vue
  packages/effects/layouts/src/widgets/preferences/blocks/layout/widget.vue
  packages/locales/src/langs/en-US.json
  packages/locales/src/langs/zh-CN.json
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

perf: 优化access指令用法并改进参数类型
  packages/effects/access/src/directive.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

docs: 更新中英文文档示例以支持字符串权限码绑定更新了中文和英文文档中的示例
  docs/src/en/guide/in-depth/access.md
  docs/src/guide/in-depth/access.md
Due: prettier --cache --ignore-unknown --write

perf: optimize the access directive to support string passing (#4246)
  docs/src/en/guide/in-depth/access.md
  docs/src/guide/in-depth/access.md
  packages/effects/access/src/directive.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: search and menu buttons overlapped
  packages/effects/layouts/src/basic/layout.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: search and menu buttons overlapped (#4249)
  packages/effects/layouts/src/basic/layout.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

feat: preview components are supported within documents
  docs/.vitepress/components/demo-preview.vue
  docs/.vitepress/components/index.ts
  docs/.vitepress/components/preview-group.vue
  docs/.vitepress/config/en.mts
  docs/.vitepress/config/index.mts
  docs/.vitepress/config/plugins/demo-preview.ts
  docs/.vitepress/config/shared.mts
  docs/.vitepress/config/zh.mts
  docs/.vitepress/theme/index.ts
  docs/.vitepress/theme/styles/index.ts
  docs/package.json
  docs/src/components/common-ui/vben-modal.md
  docs/src/components/introduction.md
  docs/src/demos/vben-modal/basic/index.vue
  docs/src/demos/vben-modal/extra/index.vue
  docs/src/demos/vben-modal/extra/modal.vue
  docs/src/guide/in-depth/loading.md
  docs/tailwind.config.mjs
  docs/tsconfig.json
  package.json
  packages/@core/ui-kit/shadcn-ui/src/components/tooltip/tooltip.vue
  packages/effects/common-ui/src/components/index.ts
  pnpm-lock.yaml
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

feat(@vben/docs): preview components are supported within documents (#4250)
  docs/.vitepress/components/demo-preview.vue
  docs/.vitepress/components/index.ts
  docs/.vitepress/components/preview-group.vue
  docs/.vitepress/config/en.mts
  docs/.vitepress/config/index.mts
  docs/.vitepress/config/plugins/demo-preview.ts
  docs/.vitepress/config/shared.mts
  docs/.vitepress/config/zh.mts
  docs/.vitepress/theme/index.ts
  docs/.vitepress/theme/styles/index.ts
  docs/package.json
  docs/src/components/common-ui/vben-modal.md
  docs/src/components/introduction.md
  docs/src/demos/vben-modal/basic/index.vue
  docs/src/demos/vben-modal/extra/index.vue
  docs/src/demos/vben-modal/extra/modal.vue
  docs/src/guide/in-depth/loading.md
  docs/tailwind.config.mjs
  docs/tsconfig.json
  package.json
  packages/@core/ui-kit/shadcn-ui/src/components/tooltip/tooltip.vue
  packages/effects/common-ui/src/components/index.ts
  pnpm-lock.yaml
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

fix: clearPreferencesAndLogout does not take effect when the preferences button is at the top
  packages/@core/ui-kit/layout-ui/src/vben-layout.vue
  packages/effects/layouts/src/basic/header/header.vue
  packages/effects/layouts/src/basic/layout.vue
  packages/effects/layouts/src/widgets/preferences/preferences-button.vue
  packages/effects/layouts/src/widgets/preferences/preferences-drawer.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

chore(docs): correct the file path in the markdown for the GitHub website
  docs/.vitepress/config/en.mts
  docs/.vitepress/config/zh.mts
Due: none
