Repository vbenjs/vue-vben-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": ["prettier --cache --ignore-unknown  --write", "eslint --cache --fix"],
  "{!(package)*.json,*.code-snippets,.!(browserslist)*rc}": [
    "prettier --cache --write--parser json"
  ],
  "package.json": ["prettier --cache --write"],
  "*.vue": ["prettier --write", "eslint --cache --fix", "stylelint --fix"],
  "*.{scss,less,styl,html}": ["prettier --cache --ignore-unknown --write", "stylelint --fix"],
  "*.md": ["prettier --cache --ignore-unknown --write"]
}

feat: add api-select component (#5024)
  apps/web-antd/src/adapter/component/index.ts
  apps/web-ele/src/adapter/component/index.ts
  apps/web-naive/src/adapter/component/index.ts
  packages/@core/base/shared/package.json
  packages/@core/base/shared/src/utils/index.ts
  packages/effects/common-ui/src/components/api-select/api-select.vue
  packages/effects/common-ui/src/components/api-select/index.ts
  packages/effects/common-ui/src/components/index.ts
  playground/src/adapter/component/index.ts
  playground/src/views/examples/form/basic.vue
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

chore: release 5.5.0
  apps/web-antd/package.json
  apps/web-ele/package.json
  apps/web-naive/package.json
  docs/package.json
  internal/lint-configs/commitlint-config/package.json
  internal/lint-configs/stylelint-config/package.json
  internal/node-utils/package.json
  internal/tailwind-config/package.json
  internal/tsconfig/package.json
  internal/vite-config/package.json
  package.json
  packages/@core/base/design/package.json
  packages/@core/base/icons/package.json
  packages/@core/base/shared/package.json
  packages/@core/base/typings/package.json
  packages/@core/composables/package.json
  packages/@core/preferences/package.json
  packages/@core/ui-kit/form-ui/package.json
  packages/@core/ui-kit/layout-ui/package.json
  packages/@core/ui-kit/menu-ui/package.json
  packages/@core/ui-kit/shadcn-ui/package.json
  packages/@core/ui-kit/tabs-ui/package.json
  packages/constants/package.json
  packages/effects/access/package.json
  packages/effects/common-ui/package.json
  packages/effects/hooks/package.json
  packages/effects/layouts/package.json
  packages/effects/plugins/package.json
  packages/effects/request/package.json
  packages/icons/package.json
  packages/locales/package.json
  packages/preferences/package.json
  packages/stores/package.json
  packages/styles/package.json
  packages/types/package.json
  packages/utils/package.json
  playground/package.json
  scripts/turbo-run/package.json
  scripts/vsh/package.json
Due: prettier --cache --write

fix: 处理select 选择长选项导致样式超出的问题
  packages/@core/ui-kit/form-ui/src/form-render/form-field.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

feat: add submitOnChange props to vben form
  docs/src/components/common-ui/vben-form.md
  docs/src/demos/vben-vxe-table/form/index.vue
  packages/@core/ui-kit/form-ui/src/form-api.ts
  packages/@core/ui-kit/form-ui/src/types.ts
  packages/@core/ui-kit/form-ui/src/vben-use-form.vue
  playground/src/views/examples/vxe-table/form.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: select Long option style problem (#5030)
  packages/@core/ui-kit/form-ui/src/form-render/form-field.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

feat: add submitOnChange props to vben form (#5032)
  docs/src/components/common-ui/vben-form.md
  docs/src/demos/vben-vxe-table/form/index.vue
  packages/@core/ui-kit/form-ui/src/form-api.ts
  packages/@core/ui-kit/form-ui/src/types.ts
  packages/@core/ui-kit/form-ui/src/vben-use-form.vue
  playground/src/views/examples/vxe-table/form.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: `dialog` and `drawer` footer gap in small screen (#5025)
  packages/@core/ui-kit/shadcn-ui/src/ui/dialog/DialogFooter.vue
  packages/@core/ui-kit/shadcn-ui/src/ui/sheet/SheetFooter.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: replace input component in `IconPicker`
  apps/web-antd/src/adapter/component/index.ts
  apps/web-ele/src/adapter/component/index.ts
  apps/web-naive/src/adapter/component/index.ts
  packages/effects/common-ui/src/components/icon-picker/icon-picker.vue
  playground/src/adapter/component/index.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

chore: fixed IconPicker demo
  playground/src/views/demos/features/icons/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

chore: codeowners update
  .github/CODEOWNERS
Due: none

chore: codeowners update (#5048)
  .github/CODEOWNERS
Due: none

fix: replace input component in `IconPicker` (#5047)
  apps/web-antd/src/adapter/component/index.ts
  apps/web-ele/src/adapter/component/index.ts
  apps/web-naive/src/adapter/component/index.ts
  packages/effects/common-ui/src/components/icon-picker/icon-picker.vue
  playground/src/adapter/component/index.ts
  playground/src/views/demos/features/icons/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: range picker props fixed for element-plus
  apps/web-ele/src/adapter/component/index.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

docs: `Page` docs update
  docs/src/components/layout-ui/page.md
Due: prettier --cache --ignore-unknown --write

fix: page footer zIndex conflict with layout footer
  packages/effects/common-ui/src/components/page/page.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

chore: remove unnecessary code in `Page`
  packages/effects/common-ui/src/components/page/page.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: layout and `Page` style adjustment, fixed #5021 #5027
  packages/@core/ui-kit/layout-ui/src/vben-layout.vue
  packages/effects/common-ui/src/components/page/page.vue
  playground/src/views/examples/vxe-table/basic.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: page style in static header mode
  packages/effects/common-ui/src/components/page/page.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: validate message not display, fix #5034
  packages/@core/ui-kit/form-ui/src/form-render/form-field.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: modal radius not follow preferences
  packages/@core/ui-kit/popup-ui/src/modal/modal.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: setFormValues not support `dayjs object` value
  packages/@core/ui-kit/form-ui/src/form-api.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: setFormValues not support `Date` value
  packages/@core/base/shared/src/utils/date.ts
  packages/@core/ui-kit/form-ui/src/form-api.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

chore: remove console log
  packages/@core/ui-kit/form-ui/src/form-api.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: modal radius not follow preferences (#5063)
  packages/@core/ui-kit/popup-ui/src/modal/modal.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: `form` prop `handleValuesChange` no effect
  packages/@core/ui-kit/form-ui/src/vben-use-form.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: `form` prop `handleValuesChange` no effect (#5060)
  packages/@core/ui-kit/form-ui/src/vben-use-form.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: validate message not display, fix #5034 (#5038)
  packages/@core/ui-kit/form-ui/src/form-render/form-field.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: range picker props fixed for element-plus (#5042)
  apps/web-ele/src/adapter/component/index.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: form setValues not support `dayjs` and `Date` value (#5064)
  packages/@core/base/shared/src/utils/date.ts
  packages/@core/ui-kit/form-ui/src/form-api.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: layout overflow style
  docs/src/components/layout-ui/page.md
  packages/@core/ui-kit/layout-ui/src/vben-layout.vue
  packages/effects/common-ui/src/components/page/page.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: layout overflow style (#5066)
  docs/src/components/layout-ui/page.md
  packages/@core/ui-kit/layout-ui/src/vben-layout.vue
  packages/effects/common-ui/src/components/page/page.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: page prop type check
  packages/effects/common-ui/src/components/page/page.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

chore: page prop type check (#5067)
  packages/effects/common-ui/src/components/page/page.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

chore: remove useless `fixedHeader` prop for `Page`
  docs/src/components/layout-ui/page.md
  packages/effects/common-ui/src/components/page/page.vue
  playground/src/views/examples/form/basic.vue
  playground/src/views/examples/modal/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

chore: remove useless `fixedHeader` prop for `Page` (#5069)
  docs/src/components/layout-ui/page.md
  packages/effects/common-ui/src/components/page/page.vue
  playground/src/views/examples/form/basic.vue
  playground/src/views/examples/modal/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix
