Repository vbenjs/vue-vben-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": ["prettier --cache --ignore-unknown  --write", "eslint --cache --fix"],
  "{!(package)*.json,*.code-snippets,.!(browserslist)*rc}": [
    "prettier --cache --write--parser json"
  ],
  "package.json": ["prettier --cache --write"],
  "*.vue": ["prettier --write", "eslint --cache --fix", "stylelint --fix"],
  "*.{scss,less,styl,html}": ["prettier --cache --ignore-unknown --write", "stylelint --fix"],
  "*.md": ["prettier --cache --ignore-unknown --write"]
}

feat: 提供JWT验证及鉴权
  apps/backend-nest/.env.development
  apps/backend-nest/.env.production
  apps/backend-nest/package.json
  apps/backend-nest/src/app/index.module.ts
  apps/backend-nest/src/app/index.ts
  apps/backend-nest/src/auth/index.module.ts
  apps/backend-nest/src/auth/index.service.ts
  apps/backend-nest/src/auth/index.ts
  apps/backend-nest/src/auth/jwt.strategy.ts
  apps/backend-nest/src/auth/local.strategy.ts
  apps/backend-nest/src/guards/auth.guard.ts
  apps/backend-nest/src/guards/index.ts
  apps/backend-nest/src/plugins/cookies.ts
  apps/backend-nest/src/plugins/index.ts
  apps/backend-nest/src/routes/auth.controller.ts
  apps/backend-nest/src/routes/index.ts
  apps/backend-nest/src/routes/user.controller.ts
  apps/backend-nest/src/utils/cookie-utils.ts
  apps/backend-nest/src/utils/mock-data.ts
  pnpm-lock.yaml
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write

docs: typo (#4748)
  docs/src/guide/introduction/quick-start.md
Due: prettier --cache --ignore-unknown --write

chore: add vxe-table toolbar example
  internal/node-utils/package.json
  internal/node-utils/src/index.ts
  package.json
  packages/effects/plugins/src/vxe-table/init.ts
  packages/effects/plugins/src/vxe-table/theme.css
  packages/effects/plugins/src/vxe-table/use-vxe-grid.vue
  playground/src/views/examples/vxe-table/remote.vue
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

chore: add vxe-table toolbar example (#4765)
  internal/node-utils/package.json
  internal/node-utils/src/index.ts
  package.json
  packages/effects/plugins/src/vxe-table/init.ts
  packages/effects/plugins/src/vxe-table/theme.css
  packages/effects/plugins/src/vxe-table/use-vxe-grid.vue
  playground/src/views/examples/vxe-table/remote.vue
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

feat: 提供vben所必需的核心接口
  apps/backend-nest/src/routes/index.controller.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

修复tab固定标签不允许拖动，修复某些情况下拖动问题，以及移除无用代码，优化逻辑。
  packages/@core/ui-kit/tabs-ui/src/components/tabs-chrome/tabs.vue
  packages/@core/ui-kit/tabs-ui/src/components/tabs/tabs.vue
  packages/@core/ui-kit/tabs-ui/src/use-tabs-drag.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

chore: add vxe-table export example
  packages/effects/plugins/src/vxe-table/init.ts
  playground/src/views/examples/vxe-table/remote.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: long text style in sidemenu. fixed #4749
  packages/@core/ui-kit/menu-ui/src/components/menu.vue
  packages/@core/ui-kit/menu-ui/src/sub-menu.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

chore: add vxe-table export example (#4769)
  packages/effects/plugins/src/vxe-table/init.ts
  playground/src/views/examples/vxe-table/remote.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: long text style in sidemenu. fixed #4749 (#4770)
  packages/@core/ui-kit/menu-ui/src/components/menu.vue
  packages/@core/ui-kit/menu-ui/src/sub-menu.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

feat: add opened and closed events for dialog
  docs/src/components/common-ui/vben-modal.md
  packages/@core/ui-kit/popup-ui/src/modal/modal-api.ts
  packages/@core/ui-kit/popup-ui/src/modal/modal.ts
  packages/@core/ui-kit/popup-ui/src/modal/modal.vue
  packages/@core/ui-kit/shadcn-ui/src/ui/dialog/DialogContent.vue
  playground/src/views/examples/modal/base-demo.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

feat: add opened and closed events for dialog
  docs/src/components/common-ui/vben-modal.md
  packages/@core/ui-kit/popup-ui/src/modal/__tests__/modal-api.test.ts
  packages/@core/ui-kit/popup-ui/src/modal/modal-api.ts
  packages/@core/ui-kit/popup-ui/src/modal/modal.ts
  packages/@core/ui-kit/popup-ui/src/modal/modal.vue
  packages/@core/ui-kit/shadcn-ui/src/ui/dialog/DialogContent.vue
  playground/src/views/examples/modal/base-demo.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix(@vben-core/menu-ui): fix horizontal layout top menu language switching issue(#4724)
  packages/@core/ui-kit/menu-ui/src/components/menu.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

feat: add opened and closed events for dialog (#4775)
  docs/src/components/common-ui/vben-modal.md
  packages/@core/ui-kit/popup-ui/src/modal/__tests__/modal-api.test.ts
  packages/@core/ui-kit/popup-ui/src/modal/modal-api.ts
  packages/@core/ui-kit/popup-ui/src/modal/modal.ts
  packages/@core/ui-kit/popup-ui/src/modal/modal.vue
  packages/@core/ui-kit/shadcn-ui/src/ui/dialog/DialogContent.vue
  playground/src/views/examples/modal/base-demo.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix(@vben-core/menu-ui): fix horizontal layout top menu language switching issue(#4724) (#4777)
  packages/@core/ui-kit/menu-ui/src/components/menu.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix(package): 调整 typescript 版本范围
  package.json
Due: prettier --cache --write

fix(styles): 将 SCSS 导入语法从 @import 更改为 @use
  src/components/VxeTable/src/css/index.scss
Due: prettier --cache --ignore-unknown --write, stylelint --fix

docs: add a way for pnpm to manage nodejs version
  docs/src/guide/introduction/quick-start.md
Due: prettier --cache --ignore-unknown --write

docs: add a way for pnpm to manage nodejs version
  docs/src/en/guide/introduction/quick-start.md
  docs/src/guide/introduction/quick-start.md
Due: prettier --cache --ignore-unknown --write

Update loading.md 错别字
  docs/src/guide/in-depth/loading.md
Due: prettier --cache --ignore-unknown --write

fix: 处理某个页面加载多个Table时，第2个之后的Table初始化报出警告
  packages/effects/plugins/src/vxe-table/use-vxe-grid.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

chore: add a different way for pnpm to manage nodejs version, because users may not want to download other packages. (#4786)
  docs/src/en/guide/introduction/quick-start.md
  docs/src/guide/introduction/quick-start.md
Due: prettier --cache --ignore-unknown --write

chore: update loading.md (#4787)
  docs/src/guide/in-depth/loading.md
Due: prettier --cache --ignore-unknown --write

fix: When multiple Tables are loaded on a page, a warning will be reported in the initialization of Tables after the second one (#4791)
  packages/effects/plugins/src/vxe-table/use-vxe-grid.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: update deps
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --cache --write

fix: try to fix win32 startup error (#4792)
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --cache --write

fix: 使用vxe-table时全局禁用formConfig
  apps/web-antd/src/adapter/vxe-table.ts
  apps/web-ele/src/adapter/vxe-table.ts
  apps/web-naive/src/adapter/vxe-table.ts
  playground/src/adapter/vxe-table.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: remove vite-plugin-lib-inject-css
  apps/backend-mock/nitro.config.ts
  internal/vite-config/package.json
  internal/vite-config/src/config/library.ts
  internal/vite-config/src/plugins/index.ts
  internal/vite-config/src/typing.ts
  packages/@core/base/design/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write

fix: remove vite-plugin-lib-inject-css (#4793)
  apps/backend-mock/nitro.config.ts
  internal/vite-config/package.json
  internal/vite-config/src/config/library.ts
  internal/vite-config/src/plugins/index.ts
  internal/vite-config/src/typing.ts
  packages/@core/base/design/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write

chore: disable the default form configuration of vke-table (#4794)
  apps/web-antd/src/adapter/vxe-table.ts
  apps/web-ele/src/adapter/vxe-table.ts
  apps/web-naive/src/adapter/vxe-table.ts
  playground/src/adapter/vxe-table.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: docker image build failed
  scripts/deploy/Dockerfile
Due: none

fix: docker image build failed (#4796)
  scripts/deploy/Dockerfile
Due: none

refactor: upgrade unbuild to 3.0.0 rc version
  internal/tailwind-config/build.config.ts
  internal/tailwind-config/package.json
  internal/tailwind-config/src/index.ts
  internal/vite-config/src/config/common.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/turbo-run/src/run.ts
  turbo.json
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write

refactor: upgrade unbuild to 3.0.0 rc version (#4797)
  internal/tailwind-config/build.config.ts
  internal/tailwind-config/package.json
  internal/tailwind-config/src/index.ts
  internal/vite-config/src/config/common.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/turbo-run/src/run.ts
  turbo.json
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write

feat: 提供统一响应的过滤器及拦截器
  apps/backend-nest/src/filters/http-exception.filter.ts
  apps/backend-nest/src/interceptor/transform.interceptor.ts
  apps/backend-nest/src/interfaces/response.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

feat: 提供后端服务器常用的接口
  apps/backend-nest/package.json
  apps/backend-nest/src/app/index.module.ts
  apps/backend-nest/src/auth/index.module.ts
  apps/backend-nest/src/auth/local.strategy.ts
  apps/backend-nest/src/filters/http-exception.filter.ts
  apps/backend-nest/src/filters/index.ts
  apps/backend-nest/src/guards/auth.guard.ts
  apps/backend-nest/src/interceptor/index.ts
  apps/backend-nest/src/interceptor/transform.interceptor.ts
  apps/backend-nest/src/interfaces/response.ts
  apps/backend-nest/src/routes/index.controller.ts
  apps/backend-nest/src/routes/index.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write

docs: init vxe-table demos
  docs/src/_env/adapter/index.ts
  docs/src/_env/adapter/vxe-table.ts
  docs/src/components/common-ui/vben-vxe-table.md
  docs/src/demos/vben-vxe-table/basic/index.vue
  docs/src/demos/vben-vxe-table/custom-cell/index.vue
  docs/src/demos/vben-vxe-table/edit-cell/index.vue
  docs/src/demos/vben-vxe-table/edit-row/index.vue
  docs/src/demos/vben-vxe-table/fixed/index.vue
  docs/src/demos/vben-vxe-table/form/index.vue
  docs/src/demos/vben-vxe-table/remote/index.vue
  docs/src/demos/vben-vxe-table/table-data.ts
  docs/src/demos/vben-vxe-table/tree/index.vue
  docs/src/demos/vben-vxe-table/virtual/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

docs(@vben/docs): add public static resources path documentation (#4788)
  docs/src/en/guide/essentials/development.md
  docs/src/guide/essentials/development.md
Due: prettier --cache --ignore-unknown --write

fix: VxeTable destruction/reconstruction remains at the first value
  packages/effects/plugins/src/vxe-table/use-vxe-grid.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix
