Repository vbenjs/vue-vben-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

fix(@vben-core/form-ui): avoid stale form context access
  docs/src/demos/vben-form/value-format/index.vue
  packages/@core/ui-kit/form-ui/__tests__/form-api.test.ts
  packages/@core/ui-kit/form-ui/src/form-api.ts
  packages/effects/layouts/src/widgets/lock-screen/lock-screen.vue
  packages/effects/plugins/src/vxe-table/use-vxe-grid.vue
  playground/src/views/examples/form/value-format.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix(@vben/docs): 明确 getValues/submit 返回值及 submit 参数类型
  docs/src/components/common-ui/vben-form.md
  docs/src/en/components/common-ui/vben-form.md
Due: prettier --cache --ignore-unknown --write

fix(@vben-core/form-ui): restore lock screen form submission (#8195)
  docs/src/components/common-ui/vben-form.md
  docs/src/demos/vben-form/value-format/index.vue
  docs/src/en/components/common-ui/vben-form.md
  packages/@core/ui-kit/form-ui/__tests__/benchmark-fixtures.ts
  packages/@core/ui-kit/form-ui/__tests__/form-api.test.ts
  packages/@core/ui-kit/form-ui/__tests__/form-component-performance.benchmark.ts
  packages/@core/ui-kit/form-ui/__tests__/form-performance.benchmark.ts
  packages/@core/ui-kit/form-ui/src/form-api.ts
  packages/effects/layouts/src/widgets/lock-screen/lock-screen.vue
  packages/effects/plugins/src/vxe-table/use-vxe-grid.vue
  playground/__tests__/unit/date-range-codec.test.ts
  playground/src/utils/date-range-codec.ts
  playground/src/views/examples/form/value-format.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

feat: canonical tailwind class
  packages/@core/ui-kit/shadcn-ui/src/components/collapsible/collapsible-params.vue
  packages/@core/ui-kit/shadcn-ui/src/ui/accordion/AccordionTrigger.vue
  packages/@core/ui-kit/shadcn-ui/src/ui/badge/badge.ts
  packages/@core/ui-kit/shadcn-ui/src/ui/checkbox/Checkbox.vue
  packages/@core/ui-kit/shadcn-ui/src/ui/pin-input/PinInputSlot.vue
  packages/@core/ui-kit/shadcn-ui/src/ui/radio-group/RadioGroupItem.vue
  packages/@core/ui-kit/shadcn-ui/src/ui/select/SelectTrigger.vue
  packages/@core/ui-kit/shadcn-ui/src/ui/switch/Switch.vue
  packages/@core/ui-kit/shadcn-ui/src/ui/tabs/TabsTrigger.vue
  packages/@core/ui-kit/shadcn-ui/src/ui/textarea/Textarea.vue
  packages/@core/ui-kit/shadcn-ui/src/ui/toggle/toggle.ts
  playground/src/views/demos/form-array/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: Tailwindcss v4 new variable shorthand syntax
  packages/@core/ui-kit/shadcn-ui/src/ui/select/SelectContent.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: add missing Symbol descriptions
  packages/@core/ui-kit/shadcn-ui/src/ui/form/injectionKeys.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: constrain popper content to available viewport width
  packages/@core/ui-kit/shadcn-ui/src/ui/dropdown-menu/DropdownMenuSubContent.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: 补充 i18n 缺失的英文
  playground/src/locales/langs/en-US/demos.json
Due: none

style: 优化 vxe-table 类型组织结构，将 viewed-row 功能域相关类型进行模块化拆分，由全局类型声明调整为功能目录内聚管理，避免公共 types 文件持续膨胀。
  packages/effects/plugins/src/vxe-table/api.ts
  packages/effects/plugins/src/vxe-table/types.ts
  packages/effects/plugins/src/vxe-table/use-vxe-grid.vue
  packages/effects/plugins/src/vxe-table/viewed-row/index.ts
  packages/effects/plugins/src/vxe-table/viewed-row/types.ts
  packages/effects/plugins/src/vxe-table/viewed-row/use-viewed-row.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix(project): 修复弹窗中表单上传组件预览图片层级问题
  apps/web-antdv-next/src/adapter/component/index.ts
  playground/src/adapter/component/index.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

style: 优化 vxe-table 类型组织结构，将 viewed-row 功能域相关类型进行模块化拆分，由全局类型声明调整为功能目录内聚管理，避免公共 types 文件持续膨胀。 (#8204)
  packages/effects/plugins/src/vxe-table/api.ts
  packages/effects/plugins/src/vxe-table/types.ts
  packages/effects/plugins/src/vxe-table/use-vxe-grid.vue
  packages/effects/plugins/src/vxe-table/viewed-row/index.ts
  packages/effects/plugins/src/vxe-table/viewed-row/types.ts
  packages/effects/plugins/src/vxe-table/viewed-row/use-viewed-row.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix(project): 修复弹窗中表单上传组件预览图片层级问题 (#8205)
  apps/web-antdv-next/src/adapter/component/index.ts
  playground/src/adapter/component/index.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix(@vben-core/form-ui): 兼容 zod v4 的 ZodArray，避免误用 unwrap() 丢失数组外壳导致数组校验失败
  packages/@core/ui-kit/form-ui/src/form-render/helper.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix(@vben-core/form-ui): 兼容 zod v4 的 ZodArray，避免误用 unwrap() 丢失数组外壳导致数组校验失败 (#8207)
  packages/@core/ui-kit/form-ui/src/form-render/helper.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

docs(@vben-core/form-ui): document dynamic field components
  docs/src/components/common-ui/vben-form.md
  docs/src/demos/vben-form/custom/index.vue
  docs/src/en/components/common-ui/vben-form.md
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

feat(@vben/playground): showcase dynamic form components
  playground/src/views/demos/badge/index.vue
  playground/src/views/examples/form/collapsible.vue
  playground/src/views/examples/form/custom.vue
  playground/src/views/examples/form/modules/two-fields.vue
  playground/src/views/system/role/modules/form.vue
  playground/src/views/system/user/modules/form.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

feat(@vben-core/form-ui): support dynamic field components
  packages/@core/ui-kit/form-ui/__tests__/form-component-performance.benchmark.ts
  packages/@core/ui-kit/form-ui/__tests__/form-integration.test.ts
  packages/@core/ui-kit/form-ui/__tests__/form-types.test.ts
  packages/@core/ui-kit/form-ui/src/form-render/dependencies.ts
  packages/@core/ui-kit/form-ui/src/form-render/form-field.vue
  packages/@core/ui-kit/form-ui/src/index.ts
  packages/@core/ui-kit/form-ui/src/types.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

test(@vben-core/form-ui): verify formApi is exposed in field slot props but excluded from componentProps
  packages/@core/ui-kit/form-ui/__tests__/form-integration.test.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix(@vben/locales): 修复锁屏弹窗按钮文案歧义
  packages/locales/src/langs/en-US/ui.json
  packages/locales/src/langs/zh-CN/ui.json
Due: none

fix(@vben/locales): 修复锁屏弹窗按钮文案歧义 (#8211)
  packages/locales/src/langs/en-US/ui.json
  packages/locales/src/langs/zh-CN/ui.json
Due: none

refactor(@vben-core/form-ui): preserve field slot compatibility
  docs/src/components/common-ui/vben-form.md
  docs/src/demos/vben-form/custom/index.vue
  docs/src/en/components/common-ui/vben-form.md
  packages/@core/ui-kit/form-ui/__tests__/form-integration.test.ts
  packages/@core/ui-kit/form-ui/__tests__/form-types.test.ts
  packages/@core/ui-kit/form-ui/src/form-render/form-field.vue
  packages/@core/ui-kit/form-ui/src/index.ts
  packages/@core/ui-kit/form-ui/src/types.ts
  playground/src/views/demos/badge/index.vue
  playground/src/views/examples/form/custom.vue
  playground/src/views/system/role/modules/form.vue
  playground/src/views/system/user/modules/form.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

refactor(@vben-core/form-ui)!: group field slot component props
  docs/src/components/common-ui/vben-form.md
  docs/src/demos/vben-form/custom/index.vue
  docs/src/en/components/common-ui/vben-form.md
  packages/@core/ui-kit/form-ui/__tests__/form-integration.test.ts
  packages/@core/ui-kit/form-ui/__tests__/form-types.test.ts
  packages/@core/ui-kit/form-ui/src/form-render/form-field.vue
  packages/@core/ui-kit/form-ui/src/index.ts
  packages/@core/ui-kit/form-ui/src/types.ts
  playground/src/views/demos/badge/index.vue
  playground/src/views/examples/form/custom.vue
  playground/src/views/system/role/modules/form.vue
  playground/src/views/system/user/modules/form.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix(@vben-core/form-ui): correct field slot props
  packages/@core/ui-kit/form-ui/__tests__/form-integration.test.ts
  packages/@core/ui-kit/form-ui/__tests__/form-types.test.ts
  packages/@core/ui-kit/form-ui/src/form-render/form-field.vue
  packages/@core/ui-kit/form-ui/src/types.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix(@vben-core/popup-ui): rebind popup api after hmr
  packages/@core/ui-kit/popup-ui/src/drawer/__tests__/use-drawer.test.ts
  packages/@core/ui-kit/popup-ui/src/drawer/use-drawer.ts
  packages/@core/ui-kit/popup-ui/src/modal/__tests__/use-modal.test.ts
  packages/@core/ui-kit/popup-ui/src/modal/use-modal.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix(@vben-core/popup-ui): preserve options after remount
  packages/@core/ui-kit/popup-ui/src/drawer/__tests__/use-drawer.test.ts
  packages/@core/ui-kit/popup-ui/src/drawer/use-drawer.ts
  packages/@core/ui-kit/popup-ui/src/modal/__tests__/use-modal.test.ts
  packages/@core/ui-kit/popup-ui/src/modal/use-modal.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix(@vben-core/form-ui): correct field slot props (#8216)
  packages/@core/ui-kit/form-ui/__tests__/form-integration.test.ts
  packages/@core/ui-kit/form-ui/__tests__/form-types.test.ts
  packages/@core/ui-kit/form-ui/src/form-render/form-field.vue
  packages/@core/ui-kit/form-ui/src/types.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix(@vben-core/popup-ui): rebind popup api after HMR (#8217)
  packages/@core/ui-kit/popup-ui/src/drawer/__tests__/use-drawer.test.ts
  packages/@core/ui-kit/popup-ui/src/drawer/use-drawer.ts
  packages/@core/ui-kit/popup-ui/src/modal/__tests__/use-modal.test.ts
  packages/@core/ui-kit/popup-ui/src/modal/use-modal.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix(@vben-core/form-ui): stabilize grouped field slot bindings
  packages/@core/ui-kit/form-ui/__tests__/form-component-performance.benchmark.ts
  packages/@core/ui-kit/form-ui/__tests__/form-integration.test.ts
  packages/@core/ui-kit/form-ui/__tests__/form-schema.test.ts
  packages/@core/ui-kit/form-ui/src/form-render/form-field.vue
  packages/@core/ui-kit/form-ui/src/form-render/schema.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

feat(@vben/vite-config): warn about field slot migration
  internal/vite-config/src/plugins/form-field-slot-migration-warning.test.ts
  internal/vite-config/src/plugins/form-field-slot-migration-warning.ts
  internal/vite-config/src/plugins/index.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

docs(@vben/docs): document field slot migration
  docs/src/components/common-ui/vben-form.md
  docs/src/en/components/common-ui/vben-form.md
Due: prettier --cache --ignore-unknown --write

feat(@vben/playground): extend custom form example
  playground/src/views/examples/form/custom.vue
  playground/src/views/examples/form/modules/two-fields.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix(@vben-core/form-ui)!: group field slot component props (#8215)
  docs/src/components/common-ui/vben-form.md
  docs/src/demos/vben-form/custom/index.vue
  docs/src/en/components/common-ui/vben-form.md
  internal/vite-config/src/plugins/form-field-slot-migration-warning.test.ts
  internal/vite-config/src/plugins/form-field-slot-migration-warning.ts
  internal/vite-config/src/plugins/index.ts
  packages/@core/ui-kit/form-ui/__tests__/form-component-performance.benchmark.ts
  packages/@core/ui-kit/form-ui/__tests__/form-integration.test.ts
  packages/@core/ui-kit/form-ui/__tests__/form-schema.test.ts
  packages/@core/ui-kit/form-ui/__tests__/form-types.test.ts
  packages/@core/ui-kit/form-ui/src/form-render/form-field.vue
  packages/@core/ui-kit/form-ui/src/form-render/schema.ts
  packages/@core/ui-kit/form-ui/src/index.ts
  packages/@core/ui-kit/form-ui/src/types.ts
  playground/src/views/demos/badge/index.vue
  playground/src/views/examples/form/custom.vue
  playground/src/views/examples/form/modules/two-fields.vue
  playground/src/views/system/role/modules/form.vue
  playground/src/views/system/user/modules/form.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

feat(@vben-core/popup-ui)!: add typed popup data contracts
  packages/@core/ui-kit/popup-ui/src/drawer/__tests__/drawer-api.test.ts
  packages/@core/ui-kit/popup-ui/src/drawer/__tests__/drawer-types.test.ts
  packages/@core/ui-kit/popup-ui/src/drawer/__tests__/fixtures/typed-drawer.vue
  packages/@core/ui-kit/popup-ui/src/drawer/__tests__/use-drawer.test.ts
  packages/@core/ui-kit/popup-ui/src/drawer/drawer-api.ts
  packages/@core/ui-kit/popup-ui/src/drawer/drawer.ts
  packages/@core/ui-kit/popup-ui/src/drawer/index.ts
  packages/@core/ui-kit/popup-ui/src/drawer/use-drawer.ts
  packages/@core/ui-kit/popup-ui/src/modal/__tests__/fixtures/typed-modal.vue
  packages/@core/ui-kit/popup-ui/src/modal/__tests__/modal-api.test.ts
  packages/@core/ui-kit/popup-ui/src/modal/__tests__/modal-types.test.ts
  packages/@core/ui-kit/popup-ui/src/modal/__tests__/use-modal.test.ts
  packages/@core/ui-kit/popup-ui/src/modal/index.ts
  packages/@core/ui-kit/popup-ui/src/modal/modal-api.ts
  packages/@core/ui-kit/popup-ui/src/modal/modal.ts
  packages/@core/ui-kit/popup-ui/src/modal/use-modal.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

refactor(@vben/playground): type popup data consumers
  playground/src/views/examples/drawer/form-drawer-demo.vue
  playground/src/views/examples/drawer/shared-data-demo.vue
  playground/src/views/examples/modal/form-modal-demo.vue
  playground/src/views/examples/modal/shared-data-demo.vue
  playground/src/views/system/dept/modules/form.vue
  playground/src/views/system/menu/modules/form.vue
  playground/src/views/system/role/list.vue
  playground/src/views/system/role/modules/form.vue
  playground/src/views/system/user/list.vue
  playground/src/views/system/user/modules/detail.vue
  playground/src/views/system/user/modules/form.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

feat(@vben/playground): add typed popup data examples
  playground/src/views/examples/drawer/index.vue
  playground/src/views/examples/drawer/typed-data-auto-demo.vue
  playground/src/views/examples/drawer/typed-data-contract.ts
  playground/src/views/examples/drawer/typed-data-explicit-demo.vue
  playground/src/views/examples/drawer/typed-data-factory-demo.vue
  playground/src/views/examples/modal/index.vue
  playground/src/views/examples/modal/typed-data-auto-demo.vue
  playground/src/views/examples/modal/typed-data-contract.ts
  playground/src/views/examples/modal/typed-data-explicit-demo.vue
  playground/src/views/examples/modal/typed-data-factory-demo.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

refactor(@vben/web-naive): type modal shared data
  apps/web-naive/src/views/demos/form/modal.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

docs: document typed popup data contracts
  docs/src/components/common-ui/vben-drawer.md
  docs/src/components/common-ui/vben-modal.md
  docs/src/demos/vben-drawer/shared-data/drawer.vue
  docs/src/demos/vben-modal/shared-data/modal.vue
  docs/src/en/components/common-ui/vben-drawer.md
  docs/src/en/components/common-ui/vben-modal.md
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix(@vben/playground): reset popup form state
  playground/src/views/examples/drawer/form-drawer-demo.vue
  playground/src/views/system/dept/modules/form.vue
  playground/src/views/system/role/modules/form.vue
  playground/src/views/system/user/modules/form.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: 调整lint执行顺序
  internal/lint-configs/oxlint-config/src/configs/javascript.ts
  internal/lint-configs/oxlint-config/src/configs/unicorn.ts
  scripts/vsh/src/lint/index.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

perf: 优化路由动画切换 1、切换出现双页面问题 2、切换出现横向和纵向滚动条问题
  packages/@core/base/design/src/css/transition.css
  packages/effects/layouts/src/basic/content/content.vue
  packages/stores/src/modules/tabbar.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

Path conditions:
  prettier --cache --ignore-unknown --write: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.{scss,less,styl,html})) or (any of: *.md)
  eslint --cache --fix: (any of: *.{js,jsx,ts,tsx}) or (any of: *.vue)
  prettier --cache --write: any of: package.json
  prettier --write: any of: *.vue
  stylelint --fix: (any of: *.vue) or (any of: *.{scss,less,styl,html})
