Repository vbenjs/vue-vben-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": ["prettier --cache --ignore-unknown  --write", "eslint --cache --fix"],
  "{!(package)*.json,*.code-snippets,.!(browserslist)*rc}": [
    "prettier --cache --write--parser json"
  ],
  "package.json": ["prettier --cache --write"],
  "*.vue": ["prettier --write", "eslint --cache --fix", "stylelint --fix"],
  "*.{scss,less,styl,html}": ["prettier --cache --ignore-unknown --write", "stylelint --fix"],
  "*.md": ["prettier --cache --ignore-unknown --write"]
}

fix(form): 修复表单示例中 switch 组件无法切换的问题 (#7636) (#7763)
  playground/src/views/examples/form/merge.vue
  playground/src/views/examples/form/scroll-to-error-test.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

feat: Schema 中 componentProps 随注册组件联动类型提示
  apps/web-antd/src/adapter/form-schema.ts
  apps/web-antd/src/adapter/form.ts
  apps/web-antdv-next/src/adapter/form-schema.ts
  apps/web-antdv-next/src/adapter/form.ts
  apps/web-ele/src/adapter/form-schema.ts
  apps/web-ele/src/adapter/form.ts
  apps/web-naive/src/adapter/form-schema.ts
  apps/web-naive/src/adapter/form.ts
  apps/web-tdesign/src/adapter/form-schema.ts
  apps/web-tdesign/src/adapter/form.ts
  packages/effects/common-ui/src/components/api-component/api-component.vue
  packages/effects/common-ui/src/components/api-component/index.ts
  packages/effects/common-ui/src/components/api-component/types.ts
  packages/effects/common-ui/src/components/icon-picker/icon-picker.vue
  packages/effects/common-ui/src/components/icon-picker/index.ts
  packages/effects/common-ui/src/components/icon-picker/types.ts
  playground/src/adapter/form-schema.ts
  playground/src/adapter/form.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: 函数式 componentProps 按已注册 component 的 Props 校验返回值
  apps/web-antd/src/adapter/form-schema.ts
  apps/web-antdv-next/src/adapter/form-schema.ts
  apps/web-ele/src/adapter/form-schema.ts
  apps/web-naive/src/adapter/form-schema.ts
  apps/web-tdesign/src/adapter/form-schema.ts
  playground/src/adapter/form-schema.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

refactor: 简化 componentProps 回调的类型写法
  apps/web-antd/src/adapter/form-schema.ts
  apps/web-antdv-next/src/adapter/form-schema.ts
  apps/web-ele/src/adapter/form-schema.ts
  apps/web-naive/src/adapter/form-schema.ts
  apps/web-tdesign/src/adapter/form-schema.ts
  packages/@core/ui-kit/form-ui/src/index.ts
  playground/src/adapter/form-schema.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

feat: 表单 Schema 支持组件 Props 映射泛型，同步适配VxeGrid
  apps/web-antd/src/adapter/component/index.ts
  apps/web-antd/src/adapter/form-schema.ts
  apps/web-antd/src/adapter/form.ts
  apps/web-antd/src/adapter/vxe-table.ts
  apps/web-antdv-next/src/adapter/component/index.ts
  apps/web-antdv-next/src/adapter/form-schema.ts
  apps/web-antdv-next/src/adapter/form.ts
  apps/web-antdv-next/src/adapter/vxe-table.ts
  apps/web-ele/src/adapter/component/index.ts
  apps/web-ele/src/adapter/form-schema.ts
  apps/web-ele/src/adapter/form.ts
  apps/web-ele/src/adapter/vxe-table.ts
  apps/web-naive/src/adapter/component/index.ts
  apps/web-naive/src/adapter/form-schema.ts
  apps/web-naive/src/adapter/form.ts
  apps/web-naive/src/adapter/vxe-table.ts
  apps/web-tdesign/src/adapter/component/index.ts
  apps/web-tdesign/src/adapter/form-schema.ts
  apps/web-tdesign/src/adapter/form.ts
  apps/web-tdesign/src/adapter/vxe-table.ts
  packages/@core/ui-kit/form-ui/src/index.ts
  packages/@core/ui-kit/form-ui/src/types.ts
  packages/@core/ui-kit/form-ui/src/use-vben-form.ts
  packages/effects/plugins/src/vxe-table/types.ts
  packages/effects/plugins/src/vxe-table/use-vxe-grid.ts
  playground/src/adapter/component/index.ts
  playground/src/adapter/form-schema.ts
  playground/src/adapter/form.ts
  playground/src/adapter/vxe-table.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: 修复部分情况 component 类型丢失问题
  packages/@core/ui-kit/form-ui/src/types.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: 修复 FormField 在 SFC 中的运行时异常
  packages/@core/ui-kit/form-ui/src/form-render/form-field.vue
  packages/@core/ui-kit/form-ui/src/types.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: 补全 ComponentPropsMap 与 Vxe 表格表单链路的类型
  apps/web-antd/src/adapter/component/index.ts
  apps/web-antd/src/adapter/vxe-table.ts
  apps/web-antdv-next/src/adapter/component/index.ts
  apps/web-antdv-next/src/adapter/vxe-table.ts
  apps/web-ele/src/adapter/vxe-table.ts
  apps/web-naive/src/adapter/vxe-table.ts
  apps/web-tdesign/src/adapter/vxe-table.ts
  packages/@core/ui-kit/form-ui/src/types.ts
  packages/effects/common-ui/src/components/api-component/types.ts
  packages/effects/plugins/src/vxe-table/api.ts
  packages/effects/plugins/src/vxe-table/types.ts
  packages/effects/plugins/src/vxe-table/use-vxe-grid.ts
  playground/src/adapter/component/index.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

docs: add customer personalization design spec
  docs/superpowers/specs/2026-04-06-customer-personalization-design.md
Due: prettier --cache --ignore-unknown --write

chore: checkpoint customer personalization runtime
  .gitignore
  apps/backend-mock/utils/mock-data.ts
  apps/server/prisma/migrations/20260406110000_add_page_schema_runtime_tables/migration.sql
  apps/server/prisma/schema.prisma
  apps/server/src/app.module.ts
  apps/server/src/income-settlement/income-settlement.service.ts
  apps/server/src/sys-page-schema/sys-page-schema.controller.ts
  apps/server/src/sys-page-schema/sys-page-schema.module.ts
  apps/server/src/sys-page-schema/sys-page-schema.service.spec.ts
  apps/server/src/sys-page-schema/sys-page-schema.service.ts
  apps/web-antd/src/api/core/sys-manage.ts
  apps/web-antd/src/composables/useCrudTable.ts
  apps/web-antd/src/composables/usePageSchema.ts
  apps/web-antd/src/router/guard.ts
  apps/web-antd/src/router/routes/modules/dashboard.ts
  apps/web-antd/src/views/finance/_shared/FinanceQueryList.vue
  apps/web-antd/src/views/finance/_shared/legacy-finance.scss
  apps/web-antd/src/views/finance/income-settlement/index.vue
  apps/web-antd/src/views/finance/invoice-folder/index.vue
  apps/web-antd/src/views/finance/reimbursement-audit/index.vue
  apps/web-antd/src/views/finance/reimbursement/index.vue
  apps/web-antd/src/views/sys/_shared/LegacyPickerInput.vue
  apps/web-antd/src/views/sys/_shared/legacy-indicator.scss
  apps/web-antd/src/views/sys/_shared/legacy-indicator.ts
  apps/web-antd/src/views/sys/basic-indicator/index.vue
  apps/web-antd/src/views/sys/budget-indicator/index.vue
  apps/web-antd/src/views/sys/expense-claim/index.vue
  apps/web-antd/src/views/sys/expense-claim/legacy-claim-config.ts
  apps/web-antd/src/views/sys/form-design/page-meta.vue
  apps/web-antd/src/views/sys/form-design/page-schema-presets.ts
  apps/web-antd/src/views/sys/indicator-adjust/index.vue
  apps/web-antd/src/views/sys/indicator-transfer/index.vue
  docs/src/riss-page-schema-runtime.md
  docs/superpowers/plans/2026-04-06-customer-personalization-runtime.md
  packages/@core/preferences/src/config.ts
  scripts/restart-all.ps1
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

chore: fix lint
  internal/lint-configs/oxlint-config/src/configs/test.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: 弹窗组件拖拽后全屏位置异常
  packages/@core/ui-kit/popup-ui/src/modal/modal.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

feat(policy): add tenant personalization runtime
  apps/server/prisma/migrations/20260406153000_add_sys_tenant_policy_tables/migration.sql
  apps/server/prisma/schema.prisma
  apps/server/src/app-menu/system-platform-menus.ts
  apps/server/src/app.module.ts
  apps/server/src/income-settlement/income-settlement.controller.ts
  apps/server/src/income-settlement/income-settlement.module.ts
  apps/server/src/income-settlement/income-settlement.service.spec.ts
  apps/server/src/income-settlement/income-settlement.service.ts
  apps/server/src/invoice-folder/invoice-folder.controller.ts
  apps/server/src/invoice-folder/invoice-folder.module.ts
  apps/server/src/invoice-folder/invoice-folder.service.spec.ts
  apps/server/src/invoice-folder/invoice-folder.service.ts
  apps/server/src/sys-page-schema/sys-page-schema.controller.ts
  apps/server/src/sys-page-schema/sys-page-schema.service.spec.ts
  apps/server/src/sys-page-schema/sys-page-schema.service.ts
  apps/server/src/sys-tenant-policy/sys-tenant-policy.controller.ts
  apps/server/src/sys-tenant-policy/sys-tenant-policy.module.ts
  apps/server/src/sys-tenant-policy/sys-tenant-policy.runtime.spec.ts
  apps/server/src/sys-tenant-policy/sys-tenant-policy.runtime.ts
  apps/server/src/sys-tenant-policy/sys-tenant-policy.service.spec.ts
  apps/server/src/sys-tenant-policy/sys-tenant-policy.service.ts
  apps/web-antd/src/api/core/sys-manage.ts
  apps/web-antd/src/composables/__tests__/useRuntimePageConfig.test.ts
  apps/web-antd/src/composables/useRuntimePageConfig.ts
  apps/web-antd/src/router/routes/modules/sys.ts
  apps/web-antd/src/views/finance/_shared/FinanceQueryList.vue
  apps/web-antd/src/views/finance/_shared/__tests__/FinanceQueryList.runtime.test.ts
  apps/web-antd/src/views/finance/income-settlement/__tests__/index.runtime.test.ts
  apps/web-antd/src/views/finance/income-settlement/index.vue
  apps/web-antd/src/views/finance/invoice-folder/__tests__/index.runtime.test.ts
  apps/web-antd/src/views/finance/invoice-folder/index.vue
  apps/web-antd/src/views/sys/form-design/page-meta.vue
  apps/web-antd/src/views/sys/tenant-policy/__tests__/tenant-policy-page.test.ts
  apps/web-antd/src/views/sys/tenant-policy/index.vue
  docs/src/riss-page-schema-runtime.md
  scripts/riss-page-smoke.cjs
  vitest.config.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

feat: 支持 overflow 配置以允许拖拽超出可视区
  docs/src/components/common-ui/vben-modal.md
  packages/@core/ui-kit/popup-ui/src/modal/modal-api.ts
  packages/@core/ui-kit/popup-ui/src/modal/modal.ts
  packages/@core/ui-kit/popup-ui/src/modal/modal.vue
  packages/@core/ui-kit/popup-ui/src/modal/use-modal-draggable.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: 修正 Modal/Drawer 中 loading 属性注释
  packages/@core/ui-kit/popup-ui/src/drawer/drawer.ts
  packages/@core/ui-kit/popup-ui/src/modal/modal.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix(policy): enforce runtime ceilings and tenant policy lifecycle preview
  apps/server/src/income-settlement/income-settlement.service.spec.ts
  apps/server/src/income-settlement/income-settlement.service.ts
  apps/server/src/invoice-folder/invoice-folder.service.spec.ts
  apps/server/src/invoice-folder/invoice-folder.service.ts
  apps/server/src/sys-page-schema/sys-page-schema.service.spec.ts
  apps/server/src/sys-page-schema/sys-page-schema.service.ts
  apps/server/src/sys-tenant-policy/sys-tenant-policy.runtime.ts
  apps/web-antd/src/views/sys/tenant-policy/__tests__/tenant-policy-page.test.ts
  apps/web-antd/src/views/sys/tenant-policy/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix(smoke): isolate diagnostics per page target
  scripts/__tests__/riss-page-smoke.test.ts
  scripts/riss-page-smoke-lib.mjs
  scripts/riss-page-smoke.cjs
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

chore: fix lint
  pnpm-workspace.yaml
Due: none

fix: tailwindcss config
  internal/tailwind-config/src/theme.css
  packages/@core/ui-kit/shadcn-ui/src/ui/button/button.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

chore: 修正注释
  internal/tailwind-config/src/theme.css
Due: none

chore: update deps
  pnpm-workspace.yaml
Due: none

fix: TypeScript 6 build errors
  internal/node-utils/tsconfig.build.json
  pnpm-lock.yaml
Due: none

fix: ci
  apps/web-antd/src/bootstrap.ts
  apps/web-antdv-next/src/bootstrap.ts
  apps/web-ele/src/bootstrap.ts
  apps/web-naive/src/bootstrap.ts
  playground/src/bootstrap.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: 配置 TypeScript 构建根目录
  internal/node-utils/tsconfig.build.json
Due: none

chore: lock axios version to 1.14.0 and other axios related packages #7758
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

fix: ts config
  internal/tailwind-config/tsconfig.json
Due: none

fix: tailwindcss lint
  packages/effects/plugins/src/tiptap/preview.vue
  packages/effects/plugins/src/tiptap/tiptap.vue
  packages/effects/plugins/src/tiptap/use-tiptap-toolbar.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

chore: update deps
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

fix: check deps
  package.json
  packages/@core/ui-kit/form-ui/package.json
  packages/@core/ui-kit/layout-ui/package.json
  packages/@core/ui-kit/menu-ui/package.json
  packages/@core/ui-kit/popup-ui/package.json
  packages/@core/ui-kit/tabs-ui/package.json
  packages/effects/common-ui/package.json
  packages/styles/package.json
  packages/styles/src/style-exports.d.ts
  playground/package.json
  pnpm-lock.yaml
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write

chore: remove vite-plugin-html
  internal/vite-config/package.json
  internal/vite-config/src/plugins/html.ts
  internal/vite-config/src/plugins/index.ts
  internal/vite-config/src/typing.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write

fix: lint
  internal/vite-config/src/plugins/html.ts
  internal/vite-config/src/typing.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: tailwindcss lint config
  internal/lint-configs/oxlint-config/src/configs/tailwindcss.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

chore: fix actions error
  pnpm-lock.yaml
Due: none

fix: 修复VITE_APP_TITLE变量替换语法
  apps/web-antd/index.html
  apps/web-antdv-next/index.html
  apps/web-ele/index.html
  apps/web-naive/index.html
  apps/web-tdesign/index.html
  docs/src/en/guide/in-depth/loading.md
  docs/src/guide/in-depth/loading.md
  internal/vite-config/src/plugins/inject-app-loading/default-loading-antd.html
  internal/vite-config/src/plugins/inject-app-loading/default-loading.html
  playground/index.html
Due: prettier --cache --ignore-unknown --write, stylelint --fix

fix: antdv-next message/notification 跟随暗色主题
  apps/web-antdv-next/src/app.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

feat: allow api-component labels to be derived from option data
  packages/effects/common-ui/src/components/api-component/api-component.vue
  packages/effects/common-ui/src/components/api-component/index.ts
  packages/effects/common-ui/src/components/api-component/types.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

Update packages/effects/common-ui/src/components/api-component/api-component.vue
  packages/effects/common-ui/src/components/api-component/api-component.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

feat: enable project-scoped preferences extension tabs
  apps/web-antd/src/main.ts
  apps/web-antd/src/preferences.ts
  packages/@core/preferences/__tests__/preferences.test.ts
  packages/@core/preferences/src/index.ts
  packages/@core/preferences/src/preferences.ts
  packages/@core/preferences/src/types.ts
  packages/@core/preferences/src/use-preferences.ts
  packages/effects/layouts/src/widgets/preferences/blocks/custom/custom.vue
  packages/effects/layouts/src/widgets/preferences/blocks/index.ts
  packages/effects/layouts/src/widgets/preferences/blocks/input-item.vue
  packages/effects/layouts/src/widgets/preferences/blocks/select-item.vue
  packages/effects/layouts/src/widgets/preferences/preferences-drawer.vue
  packages/preferences/src/index.ts
  playground/src/locales/langs/en-US/demos.json
  playground/src/locales/langs/zh-CN/demos.json
  playground/src/main.ts
  playground/src/preferences.ts
  playground/src/router/routes/modules/demos.ts
  playground/src/views/demos/features/preferences-extension/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix
