Repository vbenjs/vue-vben-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

更新 userStore
  src/hooks/web/usePermission.ts
  src/store/modules/user.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

删除多余代码
  src/views/system/role/component/AuthTree.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

feat(用户组管理): 添加启停功能
  src/modules/smart-system/constants/SystemConstants.ts
  src/modules/smart-system/views/userGroup/UserGroupListView.api.ts
  src/modules/smart-system/views/userGroup/UserGroupListView.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

perf(用户组管理): 完善用户组管理页面
  src/modules/smart-system/views/userGroup/UserGroupListView.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

修复一些错误
  src/components/Table/src/types/table.ts
  src/components/Table/src/types/tableAction.ts
  src/components/Upload/src/components/UploadModal.vue
  src/enums/roleEnum.ts
  src/hooks/web/usePermission.ts
  src/router/types.ts
  src/store/modules/permission.ts
  src/store/modules/user.ts
  types/vue-router.d.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

增加配置
  src/layouts/default/header/index.vue
  src/store/modules/brand.ts
  src/store/modules/lock.ts
  src/views/common/FormSchemas/AdminSelectBrandFormSchemas.ts
  src/views/common/FormSchemas/index.ts
  src/views/common/Modals/index.ts
  src/views/enterprise/organization/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

更新接口
  src/api/company/company.ts
  src/api/company/supplier.ts
  src/api/company/supplierService.ts
  src/views/enterprise/brand/data.tsx
  src/views/enterprise/group/data.tsx
  src/views/enterprise/organization/data.tsx
  src/views/enterprise/organization/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

修改接口和页面
  src/views/common/Columns/Company.tsx
  src/views/common/Columns/index.ts
  src/views/common/FormSchemas/AdminSelectBrand.tsx
  src/views/common/FormSchemas/index.ts
  src/views/enterprise/group/data.tsx
  src/views/enterprise/group/index.vue
  src/views/supplier/list/data.tsx
  src/views/supplier/list/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

更新 role页面
  src/views/system/role/Role.vue
  src/views/system/role/component/AuthTree.vue
  src/views/system/role/data.tsx
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

修改ApiSelect的isFirstLoaded赋值逻辑，只有当加载报错时才能恢复未初次加载状态
  src/components/Form/src/components/ApiSelect.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

更新 Model
  src/api/remind/model/template.ts
  src/api/system/account.ts
  src/api/system/model/accountModel.ts
  src/api/system/model/permissionModel.ts
  src/api/system/model/roleModel.ts
  src/api/system/roles.ts
  src/views/system/account/drawer/AccountDrawer.vue
  src/views/system/account/form.tsx
  src/views/system/authority/drawer/AuthDrawer.vue
  src/views/system/authority/form.tsx
  src/views/system/role/component/type.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

更新页面
  src/views/workorder/list/Drawer/WorkOrderFormDrawer.vue
  src/views/workorder/list/data.tsx
  src/views/workorder/list/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

更新页面
  src/router/routes/modules/enterprise.ts
  src/views/enterprise/group/Drawer/GroupFormDrawer.vue
  src/views/enterprise/group/GroupForm.vue
  src/views/enterprise/group/data.tsx
  src/views/enterprise/group/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

更新路由和页面
  src/router/routes/modules/enterprise.ts
  src/views/enterprise/group/GroupForm.vue
  src/views/enterprise/group/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

更新页面
  src/views/enterprise/group/Drawer/GroupFormDrawer.vue
  src/views/enterprise/group/GroupForm.vue
  src/views/enterprise/group/data.tsx
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

隐藏表单页
  src/router/routes/modules/enterprise.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

tabs增加删除逻辑修改
  src/store/modules/multipleTab.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

增加currentActiveMenu
  src/router/routes/modules/enterprise.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

修复 tabs
  src/store/modules/multipleTab.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

更新选择品牌组件，增加品牌 store
  src/ApiModel/company/company.ts
  src/layouts/default/header/components/BrandSelect.vue
  src/layouts/default/header/index.vue
  src/store/modules/brand.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix(ApiSelect): ApiSelect的isFirstLoaded赋值逻辑，只有当加载报错时才能恢复未初次加载状态 (#3671)
  src/components/Form/src/components/ApiSelect.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix(smart-table): 修复smart-table行拖拽错乱的问题
  src/components/SmartTable/src/SmartTable.tsx
  src/components/SmartTable/src/hooks/useTableDrag.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

perf(smart-table): 可编辑表格 props支持函数
  src/components/SmartTable/src/hooks/useSmartTableColumn.tsx
  src/components/SmartTable/src/renderer/VxeTableAntdRenderer.ts
  src/components/SmartTable/src/types/SmartTableColumnType.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix(架构): 修复菜单加载未设置URL导致加载菜单失败的问题
  src/api/sys/menu.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

perf(代码生成器): 代码生成器功能完善
  src/modules/smart-code/views/codeDesign/CodeDesignPage.config.ts
  src/modules/smart-code/views/codeDesign/CodeDesignPage.vue
  src/modules/smart-code/views/codeDesign/componenets/PageSearchSetting/PageSearchSetting.vue
  src/modules/smart-code/views/codeDesign/componenets/PageSearchSetting/PageSearchSettingOld.vue
  src/modules/smart-code/views/codeDesign/componenets/TableFieldTable/TableFieldTable.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: remove duplicate code
  index.html
Due: prettier --cache --ignore-unknown --write, stylelint --fix

Pref: 路由菜单取title字段 而不是name，树结构数据修改 (#3666)
  src/components/SimpleMenu/src/SimpleSubMenu.vue
  src/router/helper/menuHelper.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: remove duplicate code (#3674)
  index.html
Due: prettier --cache --ignore-unknown --write, stylelint --fix

feat(组件): 添加SmartPageProvider组件，支持统一加载字典信息
  src/components/Form/src/smart-boot/components/SmartApiSelectDict.vue
  src/components/SmartPageProvider/index.ts
  src/components/SmartPageProvider/src/SmartPageProvider.vue
  src/components/SmartPageProvider/src/constants.ts
  src/components/SmartPageProvider/src/hooks/useProviderDict.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

feat(系统模块): 添加批量查询字典接口
  src/components/Form/src/smart-boot/components/SmartApiSelectDict.vue
  src/components/SmartPageProvider/src/constants.ts
  src/components/SmartPageProvider/src/hooks/useProviderDict.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: Correct spelling error in comments
  src/enums/appEnum.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: Correct spelling error in comments (#3678)
  src/enums/appEnum.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: 修复菜单在MIX_SIDEBAR模式下title显示为name的问题
  src/layouts/default/sider/MixSider.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: Correct spelling errors in form component
  src/components/Form/src/hooks/useFormEvents.ts
  src/components/Form/src/hooks/useFormValues.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: Correct spelling errors in vxetable component
  src/components/VxeTable/src/components/common.tsx
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: 修复菜单在MIX_SIDEBAR模式下title显示为name的问题 (#3682)
  src/layouts/default/sider/MixSider.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

feat(input): add auto-trimming for vxe-table input components (#3684)
  src/components/Form/src/hooks/useFormEvents.ts
  src/components/Form/src/hooks/useFormValues.ts
  src/components/VxeTable/src/components/common.tsx
  src/components/VxeTable/src/const.ts
  src/components/VxeTable/src/helper.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

feat(VirtualScroll): 虚拟滚动增加滚动到顶部, 底部, 指定项方法
  src/components/VirtualScroll/src/VirtualScroll.vue
  src/design/ant/input.less
  src/views/demo/comp/scroll/VirtualScroll.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

feat(VirtualScroll): 虚拟滚动增加滚动到顶部, 底部, 指定项方法 (#3687)
  src/components/VirtualScroll/src/VirtualScroll.vue
  src/design/ant/input.less
  src/views/demo/comp/scroll/VirtualScroll.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

Path conditions:
  prettier --cache --ignore-unknown --write: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.{scss,less,styl,html})) or (any of: *.md)
  eslint --cache --fix: (any of: *.{js,jsx,ts,tsx}) or (any of: *.vue)
  prettier --cache --write: any of: package.json
  prettier --write: any of: *.vue
  stylelint --fix: (any of: *.vue) or (any of: *.{scss,less,styl,html})
