Repository vbenjs/vue-vben-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": ["prettier --cache --ignore-unknown  --write", "eslint --cache --fix"],
  "{!(package)*.json,*.code-snippets,.!(browserslist)*rc}": [
    "prettier --cache --write--parser json"
  ],
  "package.json": ["prettier --cache --write"],
  "*.vue": ["prettier --write", "eslint --cache --fix", "stylelint --fix"],
  "*.{scss,less,styl,html}": ["prettier --cache --ignore-unknown --write", "stylelint --fix"],
  "*.md": ["prettier --cache --ignore-unknown --write"]
}

fix(EditCellTable): 表格编辑行在使用Switch,checkedValue为数字时无法切换开关.close #2560
  src/components/Table/src/components/editable/EditableCell.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

chore: update `unplugin-config`
  internal/vite-config/package.json
  internal/vite-config/src/plugins/appConfig.ts
  pnpm-lock.yaml
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write

chore: update `unplugin-config` (#3116)
  internal/vite-config/package.json
  internal/vite-config/src/plugins/appConfig.ts
  pnpm-lock.yaml
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write

Revert "chore: update `unplugin-config` (#3116)"
  internal/vite-config/package.json
  internal/vite-config/src/plugins/appConfig.ts
  pnpm-lock.yaml
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write

Revert "chore: update `unplugin-config` (#3116)" (#3117)
  internal/vite-config/package.json
  internal/vite-config/src/plugins/appConfig.ts
  pnpm-lock.yaml
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write

fix: ScrollContainer的一个问题 #3046
  src/components/Container/src/ScrollContainer.vue
  src/components/Modal/src/components/ModalWrapper.vue
  src/components/Scrollbar/src/Scrollbar.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix(StrengthMeter): change事件应随handleChange一起抛出。close #3118
  src/components/StrengthMeter/src/StrengthMeter.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: ScrollContainer的一个问题 #3046 (#3119)
  src/components/Container/src/ScrollContainer.vue
  src/components/Modal/src/components/ModalWrapper.vue
  src/components/Scrollbar/src/Scrollbar.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: decode HTML entities in the injected HTML code
  internal/vite-config/package.json
  internal/vite-config/src/plugins/appConfig.ts
  pnpm-lock.yaml
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write

chore(demo): 消除ts类型错误
  src/views/demo/comp/modal/index.vue
  src/views/demo/feat/ws/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix(SimpleMenuTag): SimpleMenuTag的引用都改为动态组件引用,以消除打包警告.close #3121
  src/components/SimpleMenu/index.ts
  src/layouts/default/sider/MixSider.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

chore(MenuItem): watch回调参数类型不一致
  src/components/SimpleMenu/src/components/MenuItem.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

feat: add top progress bar
  src/router/guard/index.ts
  src/utils/lib/progress.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix(Editor): ts类型错误
  src/components/Tinymce/src/Editor.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

表单项：模版内容 改为编辑器
  src/components/Form/src/componentMap.ts
  src/components/Form/src/components/FormItem.vue
  src/components/Form/src/hooks/useForm.ts
  src/components/Form/src/types/index.ts
  src/views/extension/template/TemplateModal.vue
  src/views/extension/template/template.data.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix(demo): useForm中DatePicker，RangePicker 日期控件位置不对
  src/views/demo/form/UseForm.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

chore(demo): 修正表单增删示例类型错误
  src/views/demo/form/AppendForm.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

chore: update `unplugin-config` (#3120)
  internal/vite-config/package.json
  internal/vite-config/src/plugins/appConfig.ts
  pnpm-lock.yaml
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write

chore: fix type:check error
  packages/types/src/utils.ts
  src/components/Form/src/BasicForm.vue
  src/components/Form/src/components/ApiTree.vue
  src/components/Table/src/components/editable/CellComponent.ts
  src/components/Transition/src/CreateTransition.tsx
  src/components/Tree/src/TreeIcon.ts
  src/components/Tree/src/components/TreeHeader.vue
  src/layouts/default/setting/components/SelectItem.vue
  src/layouts/default/setting/components/SwitchItem.vue
  src/views/demo/editor/json/index.vue
  src/views/demo/form/index.vue
  src/views/demo/table/FormTable.vue
  types/index.d.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: #2744tabs选项卡渲染问题，以及完善路由中affix=true时处理逻辑。
  src/layouts/default/header/MultipleHeader.vue
  src/layouts/default/tabs/useMultipleTabs.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: type warning
  src/layouts/default/tabs/index.vue
  src/layouts/default/tabs/useMultipleTabs.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: #2744tabs选项卡渲染问题，以及完善路由中affix=true时处理逻辑。 (#3127)
  src/layouts/default/header/MultipleHeader.vue
  src/layouts/default/tabs/index.vue
  src/layouts/default/tabs/useMultipleTabs.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

chore: fix type:check error (#3126)
  packages/types/src/utils.ts
  src/components/Form/src/BasicForm.vue
  src/components/Form/src/components/ApiTree.vue
  src/components/Table/src/components/editable/CellComponent.ts
  src/components/Transition/src/CreateTransition.tsx
  src/components/Tree/src/TreeIcon.ts
  src/components/Tree/src/components/TreeHeader.vue
  src/layouts/default/setting/components/SelectItem.vue
  src/layouts/default/setting/components/SwitchItem.vue
  src/views/demo/editor/json/index.vue
  src/views/demo/form/index.vue
  src/views/demo/table/FormTable.vue
  types/index.d.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix(BasicForm): type instantiation is excessively deep and possibly infinite.
  src/components/Form/src/BasicForm.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix(BasicForm): type instantiation is excessively deep and possibly infinite. (#3128)
  src/components/Form/src/BasicForm.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix(full-screen): dom fullscreen status text
  src/views/demo/feat/full-screen/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix
