Repository vbenjs/vue-vben-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

fix(BasicTable): ref table (#3327)
  src/components/Table/src/BasicTable.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: resolve conflicts between eslint and prettier and bump prettier-plugin-packagejson version to 2.4.6(#3328)
  .eslintignore
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

chore: '/@/' ==> '@/' and '/#/ '==> '#/'
  .vscode/settings.json
  internal/vite-config/src/config/application.ts
  tsconfig.json
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: lint:prettier
  src/locales/lang/en/common.json
  src/locales/lang/en/component.json
  src/locales/lang/en/layout.json
  src/locales/lang/en/routes/basic.json
  src/locales/lang/en/sys.json
  src/locales/lang/zh-CN/antdLocale/DatePicker.json
  src/locales/lang/zh-CN/component.json
  src/locales/lang/zh-CN/layout.json
  src/locales/lang/zh-CN/sys.json
Due: none

fix: Failed to resolve component EllipsisText
  src/views/demo/feat/ellipsis/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: scrollbar is obscured
  src/design/index.less
  src/layouts/default/content/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: Failed to resolve component EllipsisText (#3330)
  src/views/demo/feat/ellipsis/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: scrollbar is obscured (#3331)
  src/design/index.less
  src/layouts/default/content/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

feat: 新增 sync 的action
  .github/workflows/sync.yml
Due: none

fix: turbo run lint
  internal/eslint-config/.eslintignore
  internal/stylelint-config/.eslintignore
  internal/vite-config/.eslintignore
Due: none

fix: 解决 'Cannot find module uncss' 的问题
  .vscode/settings.json
  internal/vite-config/package.json
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

fix: 解决 'Cannot find module uncss' 的问题 (#3334)
  .vscode/settings.json
  internal/vite-config/package.json
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

fix: turbo run lint (#3332)
  internal/eslint-config/.eslintignore
  internal/stylelint-config/.eslintignore
  internal/vite-config/.eslintignore
Due: none

feat(FormItem): 新增只读属性
  src/components/Form/src/components/FormItem.vue
  src/components/Form/src/types/form.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

feat(FormItem): 新增表单只读属性
  .github/workflows/sync.yml
Due: none

fix(breadcrumb): 修复面包屑跳转外链时，导致当前页面404问题
  src/hooks/web/usePage.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: 解决Breadcrumb面包屑导航问题
  src/layouts/default/header/components/Breadcrumb.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

chore: update deps
  internal/eslint-config/package.json
  internal/stylelint-config/package.json
  internal/ts-config/package.json
  internal/vite-config/package.json
  mock/sys/menu.ts
  package.json
  packages/hooks/package.json
  pnpm-lock.yaml
  src/components/Cropper/src/Cropper.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

fix: 解决Breadcrumb面包屑导航404问题
  src/layouts/default/header/components/Breadcrumb.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix(breadcrumb): 修复面包屑跳转外链时，导致当前页面404问题 (#3337). close #3336
  src/hooks/web/usePage.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

ci: rename node.js.yml -> linter.yml
  .github/workflows/linter.yml
Due: none

fix: table index column width is not enough
  src/components/Table/src/hooks/useColumns.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

feat: 恢复系统主题功能
  src/App.vue
  src/hooks/setting/useDarkModeTheme.ts
  src/hooks/setting/useMenuSetting.ts
  src/layouts/default/setting/SettingDrawer.tsx
  src/logics/initAppConfig.ts
  src/store/modules/app.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: table index column width is not enough in english (#3342)
  src/components/Table/src/hooks/useColumns.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

feat: 新增表单只读功能 (#3335)
  src/components/Form/src/components/FormItem.vue
  src/components/Form/src/types/form.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

Update typing.ts
  src/components/Upload/src/types/typing.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

默认上传单个
  src/components/Upload/src/props.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

Path conditions:
  prettier --cache --ignore-unknown --write: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.{scss,less,styl,html})) or (any of: *.md)
  eslint --cache --fix: (any of: *.{js,jsx,ts,tsx}) or (any of: *.vue)
  prettier --cache --write: any of: package.json
  prettier --write: any of: *.vue
  stylelint --fix: (any of: *.vue) or (any of: *.{scss,less,styl,html})
