Repository vbenjs/vue-vben-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

fix: form required style adjustment
  packages/@core/ui-kit/form-ui/src/form-render/form-field.vue
  packages/@core/ui-kit/form-ui/src/form-render/form-label.vue
  packages/effects/layouts/src/authentication/authentication.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: fix the issues with the request.js (#4667)
  apps/web-antd/src/api/request.ts
  playground/src/api/request.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: form required style adjustment (#4668)
  packages/@core/ui-kit/form-ui/src/form-render/form-field.vue
  packages/@core/ui-kit/form-ui/src/form-render/form-label.vue
  packages/effects/layouts/src/authentication/authentication.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

feat: add submitOnEnter configuration to form
  docs/src/components/common-ui/vben-form.md
  packages/@core/ui-kit/form-ui/src/components/form-actions.vue
  packages/@core/ui-kit/form-ui/src/form-api.ts
  packages/@core/ui-kit/form-ui/src/types.ts
  packages/@core/ui-kit/form-ui/src/vben-use-form.vue
  playground/src/views/examples/form/basic.vue
  playground/src/views/examples/vxe-table/form.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

feat: add submitOnEnter configuration to form (#4670)
  docs/src/components/common-ui/vben-form.md
  packages/@core/ui-kit/form-ui/src/components/form-actions.vue
  packages/@core/ui-kit/form-ui/src/form-api.ts
  packages/@core/ui-kit/form-ui/src/types.ts
  packages/@core/ui-kit/form-ui/src/vben-use-form.vue
  playground/src/views/examples/form/basic.vue
  playground/src/views/examples/vxe-table/form.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

style:Adaptation issues in dark mode
  packages/@core/ui-kit/menu-ui/src/components/menu.vue
  packages/@core/ui-kit/menu-ui/src/components/normal-menu/normal-menu.vue
  packages/@core/ui-kit/tabs-ui/src/components/tabs-chrome/tabs.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

复原
  packages/@core/ui-kit/menu-ui/src/components/menu.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

style:Adaptation issues in dark mode
  packages/@core/ui-kit/menu-ui/src/components/menu.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

style: adaptation issues in dark mode
  packages/@core/ui-kit/menu-ui/src/components/menu.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

chore: update deps
  package.json
  packages/effects/common-ui/src/ui/fallback/fallback.vue
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/vsh/src/publint/index.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

fix: modified fixed and unfixed logic, fixed #4640
  packages/stores/src/modules/tabbar.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

Revert "fix: modified fixed and unfixed logic, fixed #4640"
  packages/stores/src/modules/tabbar.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

feat: pakage.json增加pnpm install执行命令
  package.json
Due: prettier --cache --write

fix: maximum call stack size
  packages/@core/base/shared/package.json
  packages/@core/base/shared/src/utils/index.ts
  packages/@core/base/shared/src/utils/reactivity.ts
  packages/@core/ui-kit/tabs-ui/src/components/tabs-chrome/tabs.vue
  packages/@core/ui-kit/tabs-ui/src/components/tabs/tabs.vue
  packages/effects/layouts/src/basic/layout.vue
  pnpm-lock.yaml
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

chore: typo
  packages/@core/ui-kit/tabs-ui/src/components/tabs-chrome/tabs.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

chore: typo
  packages/@core/ui-kit/tabs-ui/src/components/tabs-chrome/tabs.vue
  packages/@core/ui-kit/tabs-ui/src/components/tabs/tabs.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: maximum call stack size (#4674)
  packages/@core/base/shared/package.json
  packages/@core/base/shared/src/utils/index.ts
  packages/@core/base/shared/src/utils/reactivity.ts
  packages/@core/ui-kit/tabs-ui/src/components/tabs-chrome/tabs.vue
  packages/@core/ui-kit/tabs-ui/src/components/tabs/tabs.vue
  packages/effects/layouts/src/basic/layout.vue
  pnpm-lock.yaml
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

chore: update deps
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

perf: improved exception handling when request status code is 200
  apps/web-antd/src/api/request.ts
  apps/web-ele/src/api/request.ts
  apps/web-naive/src/api/request.ts
  docs/src/en/guide/essentials/server.md
  docs/src/guide/essentials/server.md
  playground/src/api/request.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

perf: improved exception handling when request status code is 200 (#4679)
  apps/web-antd/src/api/request.ts
  apps/web-ele/src/api/request.ts
  apps/web-naive/src/api/request.ts
  docs/src/en/guide/essentials/server.md
  docs/src/guide/essentials/server.md
  playground/src/api/request.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: form does not take effect in vertical layout
  packages/@core/ui-kit/form-ui/src/form-render/form-field.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: form does not take effect in vertical layout (#4680)
  packages/@core/ui-kit/form-ui/src/form-render/form-field.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

chore: release v5.4.1
  apps/web-antd/package.json
  apps/web-ele/package.json
  apps/web-naive/package.json
  docs/package.json
  internal/lint-configs/commitlint-config/package.json
  internal/lint-configs/stylelint-config/package.json
  internal/node-utils/package.json
  internal/tailwind-config/package.json
  internal/tsconfig/package.json
  internal/vite-config/package.json
  package.json
  packages/@core/base/design/package.json
  packages/@core/base/icons/package.json
  packages/@core/base/shared/package.json
  packages/@core/base/typings/package.json
  packages/@core/composables/package.json
  packages/@core/preferences/package.json
  packages/@core/ui-kit/layout-ui/package.json
  packages/@core/ui-kit/menu-ui/package.json
  packages/@core/ui-kit/shadcn-ui/package.json
  packages/@core/ui-kit/tabs-ui/package.json
  packages/constants/package.json
  packages/effects/access/package.json
  packages/effects/common-ui/package.json
  packages/effects/hooks/package.json
  packages/effects/layouts/package.json
  packages/effects/plugins/package.json
  packages/effects/request/package.json
  packages/icons/package.json
  packages/locales/package.json
  packages/preferences/package.json
  packages/stores/package.json
  packages/styles/package.json
  packages/types/package.json
  packages/utils/package.json
  playground/package.json
  scripts/turbo-run/package.json
  scripts/vsh/package.json
Due: prettier --cache --write

chore: typo
  apps/web-antd/src/locales/index.ts
  apps/web-ele/src/locales/index.ts
  apps/web-naive/src/locales/index.ts
  docs/src/components/common-ui/vben-drawer.md
  docs/src/components/common-ui/vben-modal.md
  packages/locales/src/i18n.ts
  packages/locales/src/langs/en-US/authentication.json
  packages/locales/src/langs/en-US/common.json
  playground/src/locales/index.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

feat: menu supports carrying default query
  apps/backend-mock/api/auth/login.post.ts
  apps/backend-mock/utils/response.ts
  apps/web-antd/src/api/request.ts
  apps/web-ele/src/api/request.ts
  apps/web-naive/src/api/request.ts
  docs/src/components/common-ui/vben-modal.md
  docs/src/en/guide/essentials/server.md
  docs/src/guide/essentials/route.md
  docs/src/guide/essentials/server.md
  packages/@core/base/typings/src/vue-router.d.ts
  packages/@core/ui-kit/popup-ui/src/modal/modal-api.ts
  packages/@core/ui-kit/popup-ui/src/modal/modal.ts
  packages/@core/ui-kit/popup-ui/src/modal/modal.vue
  packages/effects/layouts/src/basic/menu/use-navigation.ts
  packages/effects/layouts/src/widgets/global-search/global-search.vue
  packages/stores/src/modules/tabbar.ts
  playground/src/api/request.ts
  playground/src/locales/langs/en-US/demos.json
  playground/src/locales/langs/zh-CN/demos.json
  playground/src/router/routes/modules/demos.ts
  playground/src/views/demos/features/menu-query/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

feat: menu supports carrying default query (#4687)
  apps/backend-mock/api/auth/login.post.ts
  apps/backend-mock/utils/response.ts
  apps/web-antd/src/api/request.ts
  apps/web-ele/src/api/request.ts
  apps/web-naive/src/api/request.ts
  docs/src/components/common-ui/vben-modal.md
  docs/src/en/guide/essentials/server.md
  docs/src/guide/essentials/route.md
  docs/src/guide/essentials/server.md
  packages/@core/base/typings/src/vue-router.d.ts
  packages/@core/ui-kit/popup-ui/src/modal/modal-api.ts
  packages/@core/ui-kit/popup-ui/src/modal/modal.ts
  packages/@core/ui-kit/popup-ui/src/modal/modal.vue
  packages/effects/layouts/src/basic/menu/use-navigation.ts
  packages/effects/layouts/src/widgets/global-search/global-search.vue
  packages/stores/src/modules/tabbar.ts
  playground/src/api/request.ts
  playground/src/locales/langs/en-US/demos.json
  playground/src/locales/langs/zh-CN/demos.json
  playground/src/router/routes/modules/demos.ts
  playground/src/views/demos/features/menu-query/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: downgrade the sass version to suppress the warnings
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

fix: downgrade the sass version to suppress the warnings (#4689)
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

fix(@vben-core/form-ui): fix the issue of Textarea not being able to wrap lines in the form
  packages/@core/ui-kit/form-ui/src/vben-use-form.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: vite-config warmup config
  internal/vite-config/src/config/application.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: vite-config warmup config (#4693)
  internal/vite-config/src/config/application.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix(@vben-core/form-ui): fix the issue of Textarea not being able to wrap lines in the form (#4691)
  packages/@core/ui-kit/form-ui/src/vben-use-form.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

perf: adjustment of form spelling errors, type adjustment, closer to actual development
  apps/web-antd/src/locales/langs/zh-CN/page.json
  apps/web-antd/src/store/auth.ts
  apps/web-antd/src/views/_core/authentication/code-login.vue
  apps/web-antd/src/views/_core/authentication/forget-password.vue
  apps/web-antd/src/views/_core/authentication/register.vue
  apps/web-ele/src/locales/langs/zh-CN/page.json
  apps/web-ele/src/store/auth.ts
  apps/web-ele/src/views/_core/authentication/code-login.vue
  apps/web-ele/src/views/_core/authentication/forget-password.vue
  apps/web-ele/src/views/_core/authentication/register.vue
  apps/web-naive/src/locales/langs/zh-CN/page.json
  apps/web-naive/src/store/auth.ts
  apps/web-naive/src/views/_core/authentication/code-login.vue
  apps/web-naive/src/views/_core/authentication/forget-password.vue
  apps/web-naive/src/views/_core/authentication/register.vue
  docs/src/guide/in-depth/access.md
  packages/constants/src/core.ts
  packages/effects/common-ui/src/ui/authentication/code-login.vue
  packages/effects/common-ui/src/ui/authentication/forget-password.vue
  packages/effects/common-ui/src/ui/authentication/index.ts
  packages/effects/common-ui/src/ui/authentication/login.vue
  packages/effects/common-ui/src/ui/authentication/qrcode-login.vue
  packages/effects/common-ui/src/ui/authentication/register.vue
  packages/effects/common-ui/src/ui/authentication/types.ts
  packages/effects/layouts/src/widgets/lock-screen/lock-screen-modal.vue
  playground/src/locales/langs/zh-CN/page.json
  playground/src/store/auth.ts
  playground/src/views/_core/authentication/code-login.vue
  playground/src/views/_core/authentication/forget-password.vue
  playground/src/views/_core/authentication/register.vue
  playground/src/views/demos/access/button-control.vue
  playground/src/views/demos/access/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

perf: adjustment of form spelling errors, type adjustment, closer to actual development (#4694)
  apps/web-antd/src/locales/langs/zh-CN/page.json
  apps/web-antd/src/store/auth.ts
  apps/web-antd/src/views/_core/authentication/code-login.vue
  apps/web-antd/src/views/_core/authentication/forget-password.vue
  apps/web-antd/src/views/_core/authentication/register.vue
  apps/web-ele/src/locales/langs/zh-CN/page.json
  apps/web-ele/src/store/auth.ts
  apps/web-ele/src/views/_core/authentication/code-login.vue
  apps/web-ele/src/views/_core/authentication/forget-password.vue
  apps/web-ele/src/views/_core/authentication/register.vue
  apps/web-naive/src/locales/langs/zh-CN/page.json
  apps/web-naive/src/store/auth.ts
  apps/web-naive/src/views/_core/authentication/code-login.vue
  apps/web-naive/src/views/_core/authentication/forget-password.vue
  apps/web-naive/src/views/_core/authentication/register.vue
  docs/src/guide/in-depth/access.md
  packages/constants/src/core.ts
  packages/effects/common-ui/src/ui/authentication/code-login.vue
  packages/effects/common-ui/src/ui/authentication/forget-password.vue
  packages/effects/common-ui/src/ui/authentication/index.ts
  packages/effects/common-ui/src/ui/authentication/login.vue
  packages/effects/common-ui/src/ui/authentication/qrcode-login.vue
  packages/effects/common-ui/src/ui/authentication/register.vue
  packages/effects/common-ui/src/ui/authentication/types.ts
  packages/effects/layouts/src/widgets/lock-screen/lock-screen-modal.vue
  playground/src/locales/langs/zh-CN/page.json
  playground/src/store/auth.ts
  playground/src/views/_core/authentication/code-login.vue
  playground/src/views/_core/authentication/forget-password.vue
  playground/src/views/_core/authentication/register.vue
  playground/src/views/demos/access/button-control.vue
  playground/src/views/demos/access/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: use pnpm manage package
  internal/node-utils/src/monorepo.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: fix known issues with the form
  apps/web-antd/src/views/_core/authentication/register.vue
  apps/web-ele/src/views/_core/authentication/register.vue
  apps/web-naive/src/views/_core/authentication/register.vue
  packages/@core/base/design/src/css/global.css
  packages/@core/ui-kit/form-ui/src/form-render/expandable.ts
  packages/@core/ui-kit/form-ui/src/form-render/form-field.vue
  packages/@core/ui-kit/form-ui/src/form-render/form-label.vue
  packages/@core/ui-kit/shadcn-ui/src/components/expandable-arrow/expandable-arrow.vue
  packages/effects/common-ui/src/ui/about/about.vue
  packages/effects/common-ui/src/ui/authentication/login.vue
  packages/effects/common-ui/src/ui/authentication/register.vue
  playground/src/router/routes/modules/examples.ts
  playground/src/views/_core/authentication/register.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

chore: typo
  packages/@core/ui-kit/form-ui/src/form-render/form-field.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

Path conditions:
  prettier --cache --ignore-unknown --write: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.{scss,less,styl,html})) or (any of: *.md)
  eslint --cache --fix: (any of: *.{js,jsx,ts,tsx}) or (any of: *.vue)
  prettier --cache --write: any of: package.json
  prettier --write: any of: *.vue
  stylelint --fix: (any of: *.vue) or (any of: *.{scss,less,styl,html})
