Repository vbenjs/vue-vben-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": ["prettier --cache --ignore-unknown  --write", "eslint --cache --fix"],
  "{!(package)*.json,*.code-snippets,.!(browserslist)*rc}": [
    "prettier --cache --write--parser json"
  ],
  "package.json": ["prettier --cache --write"],
  "*.vue": ["prettier --write", "eslint --cache --fix", "stylelint --fix"],
  "*.{scss,less,styl,html}": ["prettier --cache --ignore-unknown --write", "stylelint --fix"],
  "*.md": ["prettier --cache --ignore-unknown --write"]
}

fix: remove the overlap caused by border-b (#5160)
  packages/effects/common-ui/src/ui/dashboard/workbench/workbench-project.vue
  packages/effects/common-ui/src/ui/dashboard/workbench/workbench-quick-nav.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: sidebar header height
  packages/@core/ui-kit/layout-ui/src/components/layout-sidebar.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: sidebar header height (#5183)
  packages/@core/ui-kit/layout-ui/src/components/layout-sidebar.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix bug #5171
  apps/web-antd/package.json
  apps/web-ele/package.json
  apps/web-naive/package.json
  playground/package.json
  pnpm-lock.yaml
Due: prettier --cache --write

feat: add component resizable
  packages/@core/base/icons/src/lucide.ts
  packages/@core/ui-kit/shadcn-ui/src/ui/index.ts
  packages/@core/ui-kit/shadcn-ui/src/ui/resizable/ResizableHandle.vue
  packages/@core/ui-kit/shadcn-ui/src/ui/resizable/ResizablePanelGroup.vue
  packages/@core/ui-kit/shadcn-ui/src/ui/resizable/index.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

feat: component `ColPage` with demo
  packages/effects/common-ui/src/components/col-page/col-page.vue
  packages/effects/common-ui/src/components/col-page/index.ts
  packages/effects/common-ui/src/components/col-page/types.ts
  packages/effects/common-ui/src/components/index.ts
  packages/effects/common-ui/src/components/page/index.ts
  packages/effects/common-ui/src/components/page/page.vue
  packages/effects/common-ui/src/components/page/types.ts
  playground/src/locales/langs/en-US/examples.json
  playground/src/locales/langs/zh-CN/examples.json
  playground/src/router/routes/modules/examples.ts
  playground/src/views/examples/layout/col-page.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

feat: add `resizable` and `ColPage` component (#5188)
  packages/@core/base/icons/src/lucide.ts
  packages/@core/ui-kit/shadcn-ui/src/ui/index.ts
  packages/@core/ui-kit/shadcn-ui/src/ui/resizable/ResizableHandle.vue
  packages/@core/ui-kit/shadcn-ui/src/ui/resizable/ResizablePanelGroup.vue
  packages/@core/ui-kit/shadcn-ui/src/ui/resizable/index.ts
  packages/effects/common-ui/src/components/col-page/col-page.vue
  packages/effects/common-ui/src/components/col-page/index.ts
  packages/effects/common-ui/src/components/col-page/types.ts
  packages/effects/common-ui/src/components/index.ts
  packages/effects/common-ui/src/components/page/index.ts
  packages/effects/common-ui/src/components/page/page.vue
  packages/effects/common-ui/src/components/page/types.ts
  playground/src/locales/langs/en-US/examples.json
  playground/src/locales/langs/zh-CN/examples.json
  playground/src/router/routes/modules/examples.ts
  playground/src/views/examples/layout/col-page.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: grid tools in toolbar config not working as expected
  packages/effects/plugins/src/vxe-table/use-vxe-grid.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: grid tools in toolbar config not working as expected (#5190)
  packages/effects/plugins/src/vxe-table/use-vxe-grid.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: vxeGrid top padding
  packages/effects/plugins/src/vxe-table/use-vxe-grid.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: fieldMappingTime not work in grid form
  packages/@core/ui-kit/form-ui/src/components/form-actions.vue
  packages/@core/ui-kit/form-ui/src/form-api.ts
  packages/@core/ui-kit/form-ui/src/use-form-context.ts
  packages/effects/plugins/src/vxe-table/use-vxe-grid.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: vxeGrid top padding (#5193)
  packages/effects/plugins/src/vxe-table/use-vxe-grid.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: build error
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --cache --write

fix: build error (#5199)
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --cache --write

fix: grid form submit button locale switch
  packages/effects/layouts/src/basic/layout.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: grid form submit button locale switch (#5205)
  packages/effects/layouts/src/basic/layout.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: 修复AccessControl默认codes逻辑错误
  packages/effects/access/src/access-control.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: grid form action locale with keep-alive
  packages/@core/ui-kit/form-ui/src/components/form-actions.vue
  packages/@core/ui-kit/form-ui/src/types.ts
  packages/effects/plugins/src/vxe-table/use-vxe-grid.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

test: add apiSelect remote search demo
  playground/src/views/examples/form/basic.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

chore: add apiSelect remote search demo (#5246)
  playground/src/views/examples/form/basic.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

vue，i18n升级到最新 修部最新包下的部分bug
  package.json
  src/components/Form/src/components/ApiSelect.vue
  src/components/VxeTable/src/css/index.scss
  src/router/routes/basic.ts
  src/views/demo/form/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

feat: header menu align support
  packages/@core/base/typings/src/app.d.ts
  packages/@core/preferences/__tests__/__snapshots__/config.test.ts.snap
  packages/@core/preferences/src/config.ts
  packages/@core/preferences/src/types.ts
  packages/@core/ui-kit/menu-ui/src/components/menu.vue
  packages/effects/layouts/src/basic/header/header.vue
  packages/effects/layouts/src/widgets/preferences/blocks/layout/header.vue
  packages/effects/layouts/src/widgets/preferences/preferences-drawer.vue
  packages/locales/src/langs/en-US/preferences.json
  packages/locales/src/langs/zh-CN/preferences.json
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: typo
  packages/@core/preferences/__tests__/__snapshots__/config.test.ts.snap
Due: none

chore: update deps
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --cache --write

feat: header menu align support (#5256)
  packages/@core/base/typings/src/app.d.ts
  packages/@core/preferences/__tests__/__snapshots__/config.test.ts.snap
  packages/@core/preferences/src/config.ts
  packages/@core/preferences/src/types.ts
  packages/@core/ui-kit/menu-ui/src/components/menu.vue
  packages/effects/layouts/src/basic/header/header.vue
  packages/effects/layouts/src/widgets/preferences/blocks/layout/header.vue
  packages/effects/layouts/src/widgets/preferences/preferences-drawer.vue
  packages/locales/src/langs/en-US/preferences.json
  packages/locales/src/langs/zh-CN/preferences.json
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

chore: downgrade vue-tsc version
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

chore: release 5.5.2
  apps/web-antd/package.json
  apps/web-ele/package.json
  apps/web-naive/package.json
  docs/package.json
  internal/lint-configs/commitlint-config/package.json
  internal/lint-configs/stylelint-config/package.json
  internal/node-utils/package.json
  internal/tailwind-config/package.json
  internal/tsconfig/package.json
  internal/vite-config/package.json
  package.json
  packages/@core/base/design/package.json
  packages/@core/base/icons/package.json
  packages/@core/base/shared/package.json
  packages/@core/base/typings/package.json
  packages/@core/composables/package.json
  packages/@core/preferences/package.json
  packages/@core/ui-kit/form-ui/package.json
  packages/@core/ui-kit/layout-ui/package.json
  packages/@core/ui-kit/menu-ui/package.json
  packages/@core/ui-kit/shadcn-ui/package.json
  packages/@core/ui-kit/tabs-ui/package.json
  packages/constants/package.json
  packages/effects/access/package.json
  packages/effects/common-ui/package.json
  packages/effects/hooks/package.json
  packages/effects/layouts/package.json
  packages/effects/plugins/package.json
  packages/effects/request/package.json
  packages/icons/package.json
  packages/locales/package.json
  packages/preferences/package.json
  packages/stores/package.json
  packages/styles/package.json
  packages/types/package.json
  packages/utils/package.json
  playground/package.json
  scripts/turbo-run/package.json
  scripts/vsh/package.json
Due: prettier --cache --write

Update api-component.vue
  packages/effects/common-ui/src/components/api-component/api-component.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

feat: new layout header-mixed
  packages/@core/base/typings/src/app.d.ts
  packages/@core/preferences/src/use-preferences.ts
  packages/@core/ui-kit/layout-ui/src/hooks/use-layout.ts
  packages/@core/ui-kit/layout-ui/src/vben-layout.vue
  packages/effects/layouts/src/basic/layout.vue
  packages/effects/layouts/src/basic/menu/use-extra-menu.ts
  packages/effects/layouts/src/basic/menu/use-mixed-menu.ts
  packages/effects/layouts/src/widgets/preferences/blocks/layout/layout.vue
  packages/effects/layouts/src/widgets/preferences/icons/header-mixed-nav.vue
  packages/effects/layouts/src/widgets/preferences/icons/index.ts
  packages/locales/src/langs/zh-CN/preferences.json
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: header-mixed layout update
  packages/effects/layouts/src/basic/layout.vue
  packages/effects/layouts/src/basic/menu/use-extra-menu.ts
  packages/effects/layouts/src/basic/menu/use-mixed-menu.ts
  packages/utils/src/helpers/find-menu-by-path.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

feat: layout preference update
  packages/@core/preferences/src/use-preferences.ts
  packages/effects/layouts/src/widgets/preferences/blocks/layout/sidebar.vue
  packages/locales/src/langs/zh-CN/preferences.json
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: extra menus follow layout setting
  packages/effects/layouts/src/basic/menu/use-extra-menu.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

feat: header mixed layout (#5263)
  packages/@core/base/typings/src/app.d.ts
  packages/@core/preferences/src/use-preferences.ts
  packages/@core/ui-kit/layout-ui/src/hooks/use-layout.ts
  packages/@core/ui-kit/layout-ui/src/vben-layout.vue
  packages/effects/layouts/src/basic/layout.vue
  packages/effects/layouts/src/basic/menu/use-extra-menu.ts
  packages/effects/layouts/src/basic/menu/use-mixed-menu.ts
  packages/effects/layouts/src/widgets/preferences/blocks/layout/layout.vue
  packages/effects/layouts/src/widgets/preferences/blocks/layout/sidebar.vue
  packages/effects/layouts/src/widgets/preferences/icons/header-mixed-nav.vue
  packages/effects/layouts/src/widgets/preferences/icons/index.ts
  packages/locales/src/langs/zh-CN/preferences.json
  packages/utils/src/helpers/find-menu-by-path.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: header-mixed layout side-menu active
  packages/@core/preferences/src/config.ts
  packages/effects/layouts/src/basic/layout.vue
  packages/effects/layouts/src/basic/menu/use-extra-menu.ts
  packages/effects/layouts/src/basic/menu/use-mixed-menu.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: config test
  packages/@core/preferences/__tests__/__snapshots__/config.test.ts.snap
Due: none

fix: header-mixed layout side-menu active (#5265)
  packages/@core/preferences/__tests__/__snapshots__/config.test.ts.snap
  packages/@core/preferences/src/config.ts
  packages/effects/layouts/src/basic/layout.vue
  packages/effects/layouts/src/basic/menu/use-extra-menu.ts
  packages/effects/layouts/src/basic/menu/use-mixed-menu.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

feat: modal support destroy on close
  packages/@core/ui-kit/popup-ui/src/modal/modal.ts
  packages/@core/ui-kit/popup-ui/src/modal/use-modal.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

feat: drawer support `onOpened` & `onClosed`
  docs/src/components/common-ui/vben-drawer.md
  packages/@core/ui-kit/popup-ui/src/drawer/__tests__/drawer-api.test.ts
  packages/@core/ui-kit/popup-ui/src/drawer/drawer-api.ts
  packages/@core/ui-kit/popup-ui/src/drawer/drawer.ts
  packages/@core/ui-kit/popup-ui/src/drawer/drawer.vue
  packages/@core/ui-kit/shadcn-ui/src/ui/sheet/SheetContent.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

feat: drawer support destroy on close
  packages/@core/ui-kit/popup-ui/src/drawer/drawer.ts
  packages/@core/ui-kit/popup-ui/src/drawer/use-drawer.ts
  packages/@core/ui-kit/popup-ui/src/modal/use-modal.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

docs: update dialog and drawer docs
  docs/src/components/common-ui/vben-drawer.md
  docs/src/components/common-ui/vben-modal.md
Due: prettier --cache --ignore-unknown --write
