Repository vbenjs/vue-vben-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": ["prettier --cache --ignore-unknown  --write", "eslint --cache --fix"],
  "{!(package)*.json,*.code-snippets,.!(browserslist)*rc}": [
    "prettier --cache --write--parser json"
  ],
  "package.json": ["prettier --cache --write"],
  "*.vue": ["prettier --write", "eslint --cache --fix", "stylelint --fix"],
  "*.{scss,less,styl,html}": ["prettier --cache --ignore-unknown --write", "stylelint --fix"],
  "*.md": ["prettier --cache --ignore-unknown --write"]
}

add customer
  apps/web-antd/package.json
  apps/web-antd/src/views/basic/customer/index.vue
  apps/web-antd/src/views/basic/customer/modal.vue
  apps/web-antd/src/views/basic/store/index.vue
  pnpm-lock.yaml
Due: eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

add supplier
  apps/web-antd/src/views/basic/supplier/index.vue
  apps/web-antd/src/views/basic/supplier/modal.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

add product
  apps/web-antd/src/views/basic/bank/index.vue
  apps/web-antd/src/views/basic/product/index.vue
  apps/web-antd/src/views/basic/product/modal.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix gridEvents,destroyOnClose
  apps/web-antd/src/views/basic/brand/index.vue
  apps/web-antd/src/views/basic/color/index.vue
  apps/web-antd/src/views/basic/customer/index.vue
  apps/web-antd/src/views/basic/supplier/index.vue
  apps/web-antd/src/views/basic/unit/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: fix `LoginExpiredModal` in some cases, `message` may be obscured (#6086)
  packages/effects/common-ui/src/ui/authentication/login-expired-modal.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: destroyOnClose incorrect default value, fixed #6092
  docs/src/components/common-ui/vben-drawer.md
  packages/@core/ui-kit/popup-ui/src/drawer/drawer.vue
  packages/@core/ui-kit/popup-ui/src/drawer/use-drawer.ts
  packages/@core/ui-kit/popup-ui/src/modal/modal.vue
  packages/@core/ui-kit/popup-ui/src/modal/use-modal.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: destroyOnClose incorrect default value, fixed #6092 (#6093)
  docs/src/components/common-ui/vben-drawer.md
  packages/@core/ui-kit/popup-ui/src/drawer/drawer.vue
  packages/@core/ui-kit/popup-ui/src/drawer/use-drawer.ts
  packages/@core/ui-kit/popup-ui/src/modal/modal.vue
  packages/@core/ui-kit/popup-ui/src/modal/use-modal.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: add missing translation for preferences drawer
  packages/effects/layouts/src/widgets/preferences/blocks/layout/sidebar.vue
  packages/locales/src/langs/en-US/preferences.json
  packages/locales/src/langs/zh-CN/preferences.json
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: add missing translation for preferences drawer (#6094)
  packages/effects/layouts/src/widgets/preferences/blocks/layout/sidebar.vue
  packages/locales/src/langs/en-US/preferences.json
  packages/locales/src/langs/zh-CN/preferences.json
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: add triggerClass binding to PopoverTrigger and update icon-picker styles
  packages/@core/ui-kit/shadcn-ui/src/components/popover/popover.vue
  packages/effects/common-ui/src/components/icon-picker/icon-picker.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: lint fixed
  packages/effects/common-ui/src/components/icon-picker/icon-picker.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: add triggerClass binding to PopoverTrigger and update icon-picker styles (#6095)
  packages/@core/ui-kit/shadcn-ui/src/components/popover/popover.vue
  packages/effects/common-ui/src/components/icon-picker/icon-picker.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

add stock,bankRecord,productRecord
  apps/web-antd/src/api/index.ts
  apps/web-antd/src/api/stock/current.ts
  apps/web-antd/src/api/stock/index.ts
  apps/web-antd/src/locales/langs/zh-CN/finance.json
  apps/web-antd/src/locales/langs/zh-CN/stock.json
  apps/web-antd/src/router/routes/modules/stock.ts
  apps/web-antd/src/router/routes/modules/​finance.ts
  apps/web-antd/src/views/basic/brand/index.vue
  apps/web-antd/src/views/basic/color/index.vue
  apps/web-antd/src/views/basic/customer/index.vue
  apps/web-antd/src/views/basic/product/modal.vue
  apps/web-antd/src/views/basic/supplier/index.vue
  apps/web-antd/src/views/basic/unit/index.vue
  apps/web-antd/src/views/finance/bankRecord/index.vue
  apps/web-antd/src/views/stock/current/index.vue
  apps/web-antd/src/views/stock/productRecord/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

refactor: modify the default homepage path loaded from the preferences.ts
  apps/web-antd/src/router/guard.ts
  apps/web-antd/src/router/routes/core.ts
  apps/web-antd/src/store/auth.ts
  apps/web-ele/src/router/guard.ts
  apps/web-ele/src/router/routes/core.ts
  apps/web-ele/src/store/auth.ts
  apps/web-naive/src/router/guard.ts
  apps/web-naive/src/router/routes/core.ts
  apps/web-naive/src/store/auth.ts
  docs/src/en/guide/essentials/settings.md
  docs/src/guide/essentials/settings.md
  packages/@core/preferences/src/config.ts
  packages/@core/preferences/src/types.ts
  packages/constants/README.md
  packages/constants/src/core.ts
  playground/src/router/guard.ts
  playground/src/router/routes/core.ts
  playground/src/store/auth.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

refactor: modify the default homepage path loaded from the preferences.ts
  packages/@core/preferences/__tests__/__snapshots__/config.test.ts.snap
Due: none

chore: close eslint object sorting
  apps/web-antd/src/adapter/component/index.ts
  apps/web-ele/src/adapter/component/index.ts
  apps/web-naive/src/adapter/component/index.ts
  internal/lint-configs/eslint-config/src/configs/perfectionist.ts
  internal/lint-configs/eslint-config/src/custom-config.ts
  packages/@core/ui-kit/form-ui/src/use-vben-form.ts
  packages/@core/ui-kit/popup-ui/src/drawer/use-drawer.ts
  packages/@core/ui-kit/popup-ui/src/modal/use-modal.ts
  packages/@core/ui-kit/tabs-ui/src/components/tabs-chrome/tabs.vue
  packages/@core/ui-kit/tabs-ui/src/components/tabs/tabs.vue
  packages/effects/layouts/src/widgets/language-toggle.vue
  packages/effects/layouts/src/widgets/layout-toggle.vue
  packages/effects/layouts/src/widgets/theme-toggle/theme-toggle.vue
  playground/src/adapter/component/index.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

refactor: modify the default homepage path loaded from the preference… (#6099)
  apps/web-antd/src/router/guard.ts
  apps/web-antd/src/router/routes/core.ts
  apps/web-antd/src/store/auth.ts
  apps/web-ele/src/router/guard.ts
  apps/web-ele/src/router/routes/core.ts
  apps/web-ele/src/store/auth.ts
  apps/web-naive/src/router/guard.ts
  apps/web-naive/src/router/routes/core.ts
  apps/web-naive/src/store/auth.ts
  docs/src/en/guide/essentials/settings.md
  docs/src/guide/essentials/settings.md
  packages/@core/preferences/__tests__/__snapshots__/config.test.ts.snap
  packages/@core/preferences/src/config.ts
  packages/@core/preferences/src/types.ts
  packages/constants/README.md
  packages/constants/src/core.ts
  playground/src/router/guard.ts
  playground/src/router/routes/core.ts
  playground/src/store/auth.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

chore: close eslint object sorting (#6101)
  apps/web-antd/src/adapter/component/index.ts
  apps/web-ele/src/adapter/component/index.ts
  apps/web-naive/src/adapter/component/index.ts
  internal/lint-configs/eslint-config/src/configs/perfectionist.ts
  internal/lint-configs/eslint-config/src/custom-config.ts
  packages/@core/ui-kit/form-ui/src/use-vben-form.ts
  packages/@core/ui-kit/popup-ui/src/drawer/use-drawer.ts
  packages/@core/ui-kit/popup-ui/src/modal/use-modal.ts
  packages/@core/ui-kit/tabs-ui/src/components/tabs-chrome/tabs.vue
  packages/@core/ui-kit/tabs-ui/src/components/tabs/tabs.vue
  packages/effects/layouts/src/widgets/language-toggle.vue
  packages/effects/layouts/src/widgets/layout-toggle.vue
  packages/effects/layouts/src/widgets/theme-toggle/theme-toggle.vue
  playground/src/adapter/component/index.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

feat: support smooth auto-scroll to active menu item
  packages/@core/ui-kit/menu-ui/src/components/menu.vue
  packages/@core/ui-kit/menu-ui/src/hooks/use-menu-scroll.ts
  packages/@core/ui-kit/menu-ui/src/menu.vue
  packages/@core/ui-kit/menu-ui/src/types.ts
  packages/effects/access/src/accessible.ts
  packages/effects/layouts/src/basic/menu/menu.vue
  packages/effects/layouts/src/basic/menu/use-navigation.ts
  packages/utils/src/helpers/__tests__/generate-menus.test.ts
  packages/utils/src/helpers/generate-menus.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: tsconfig
  internal/tsconfig/node.json
  internal/tsconfig/web-app.json
Due: none

feat: support smooth auto-scroll to active menu item (#6102)
  packages/@core/ui-kit/menu-ui/src/components/menu.vue
  packages/@core/ui-kit/menu-ui/src/hooks/use-menu-scroll.ts
  packages/@core/ui-kit/menu-ui/src/menu.vue
  packages/@core/ui-kit/menu-ui/src/types.ts
  packages/effects/access/src/accessible.ts
  packages/effects/layouts/src/basic/menu/menu.vue
  packages/effects/layouts/src/basic/menu/use-navigation.ts
  packages/utils/src/helpers/__tests__/generate-menus.test.ts
  packages/utils/src/helpers/generate-menus.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

feat(project): migrate from husky and lint-staged to lefthook
  .husky/commit-msg
  .husky/post-merge
  .husky/pre-commit
  .lintstagedrc.mjs
  .npmrc
  .vscode/settings.json
  docs/src/en/guide/essentials/development.md
  docs/src/en/guide/other/faq.md
  docs/src/en/guide/project/standard.md
  docs/src/guide/essentials/development.md
  docs/src/guide/other/faq.md
  docs/src/guide/project/standard.md
  lefthook.yml
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/vsh/src/check-dep/index.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write

feat(project): migrate from husky and lint-staged to lefthook (#6104)
  .husky/commit-msg
  .husky/post-merge
  .husky/pre-commit
  .lintstagedrc.mjs
  .npmrc
  .vscode/settings.json
  docs/src/en/guide/essentials/development.md
  docs/src/en/guide/other/faq.md
  docs/src/en/guide/project/standard.md
  docs/src/guide/essentials/development.md
  docs/src/guide/other/faq.md
  docs/src/guide/project/standard.md
  lefthook.yml
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/vsh/src/check-dep/index.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write

chore: update prepare script in package.json to remove lefthook installation
  package.json
Due: prettier --cache --write

feat: Update order report UI
  apps/web-np/src/adapter/vxe-table.ts
  apps/web-np/src/api/order.ts
  apps/web-np/src/interfaces.ts
  apps/web-np/src/locales/langs/en-US/field-name.json
  apps/web-np/src/store/shop.ts
  apps/web-np/src/utils.ts
  apps/web-np/src/views/reports/order/form-modal-order-detail.vue
  apps/web-np/src/views/reports/order/index.vue
  apps/web-np/src/views/reports/order/table-config.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

Uat (#13)
  apps/web-np/src/adapter/vxe-table.ts
  apps/web-np/src/api/order.ts
  apps/web-np/src/interfaces.ts
  apps/web-np/src/locales/langs/en-US/field-name.json
  apps/web-np/src/store/shop.ts
  apps/web-np/src/utils.ts
  apps/web-np/src/views/dashboard/profit-chart.vue
  apps/web-np/src/views/reports/order/form-modal-order-detail.vue
  apps/web-np/src/views/reports/order/index.vue
  apps/web-np/src/views/reports/order/table-config.ts
  apps/web-np/src/views/shared-components/date-range-picker.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

chore: remove prepare script from package.json
  package.json
Due: prettier --cache --write

2025-05-03
  apps/web-antd/src/abc.css
  apps/web-antd/src/api/inbound/index.ts
  apps/web-antd/src/api/inbound/purchase.ts
  apps/web-antd/src/api/index.ts
  apps/web-antd/src/api/system/index.ts
  apps/web-antd/src/api/system/role.ts
  apps/web-antd/src/api/system/user.ts
  apps/web-antd/src/bootstrap.ts
  apps/web-antd/src/locales/langs/zh-CN/inbound.json
  apps/web-antd/src/router/routes/modules/basic.ts
  apps/web-antd/src/router/routes/modules/inbound.ts
  apps/web-antd/src/router/routes/modules/stock.ts
  apps/web-antd/src/router/routes/modules/​finance.ts
  apps/web-antd/src/views/inbound/purchase/index.vue
  apps/web-antd/src/views/inbound/purchaseList/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

feat: Update order report UI
  apps/web-np/public/static/images/logo.png
  apps/web-np/public/static/images/no-image.png
  apps/web-np/public/static/images/shopify-header-logo.png
  apps/web-np/src/layouts/basic.vue
  apps/web-np/src/preferences.ts
  apps/web-np/src/views/reports/order/form-modal-order-detail.vue
  apps/web-np/src/views/reports/product/index.vue
  apps/web-np/src/views/settings/cogs-handling-fees/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

feat: Change tawk
  apps/web-np/index.html
  apps/web-np/src/store/auth.ts
  apps/web-np/src/views/_core/authentication/auth-shopify.vue
  apps/web-np/src/views/_core/authentication/login.vue
  packages/types/global.d.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

Add Tawk
  apps/web-np/index.html
  apps/web-np/src/store/auth.ts
  apps/web-np/src/views/_core/authentication/auth-shopify.vue
  apps/web-np/src/views/_core/authentication/login.vue
  packages/types/global.d.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

feat: Update chat widget layout
  apps/web-np/index.html
  apps/web-np/src/icons.ts
  apps/web-np/src/layouts/basic.vue
  apps/web-np/src/layouts/chat.vue
  apps/web-np/src/store/auth.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: fix `IconPicker` props warning
  packages/effects/common-ui/src/components/icon-picker/icon-picker.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

feat: Add policy
  apps/web-np/public/static/privacy.html
Due: prettier --cache --ignore-unknown --write, stylelint --fix

fix: fix `IconPicker` props warning (#6108)
  packages/effects/common-ui/src/components/icon-picker/icon-picker.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: when keepAlive is enabled, returning directly through browser buttons/gestures will not close pop ups
  packages/@core/ui-kit/popup-ui/src/drawer/use-drawer.ts
  packages/@core/ui-kit/popup-ui/src/modal/use-modal.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: when keepAlive is enabled, returning directly through browser buttons/gestures will not close pop ups (#6113)
  packages/@core/ui-kit/popup-ui/src/drawer/use-drawer.ts
  packages/@core/ui-kit/popup-ui/src/modal/use-modal.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: handle undefined children in generate-menus
  packages/utils/src/helpers/generate-menus.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: handle undefined children in generate-menus (#6117)
  packages/utils/src/helpers/generate-menus.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix
