Repository vbenjs/vue-vben-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": ["prettier --cache --ignore-unknown  --write", "eslint --cache --fix"],
  "{!(package)*.json,*.code-snippets,.!(browserslist)*rc}": [
    "prettier --cache --write--parser json"
  ],
  "package.json": ["prettier --cache --write"],
  "*.vue": ["prettier --write", "eslint --cache --fix", "stylelint --fix"],
  "*.{scss,less,styl,html}": ["prettier --cache --ignore-unknown --write", "stylelint --fix"],
  "*.md": ["prettier --cache --ignore-unknown --write"]
}

fix: 修复index.html加载文字偏移的问题 (#3306)
  index.html
Due: prettier --cache --ignore-unknown --write, stylelint --fix

refactor: dashboard use setup
  src/views/dashboard/analysis/components/VisitAnalysis.vue
  src/views/dashboard/analysis/components/VisitAnalysisBar.vue
  src/views/dashboard/workbench/components/ProjectCard.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix(BasicForm): script setup defineExpose
  src/components/Form/src/BasicForm.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: breadcrumbs types
  src/layouts/default/header/components/Breadcrumb.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix(BasicForm): script setup defineExpose (#3316)
  src/components/Form/src/BasicForm.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: noticeList type check error
  src/layouts/default/header/components/notify/NoticeList.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: 设置 baseurl 后不生效
  internal/vite-config/package.json
  internal/vite-config/src/plugins/appConfig.ts
  internal/vite-config/src/plugins/index.ts
  pnpm-lock.yaml
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write

chore: update vite-config antdv version
  internal/vite-config/package.json
  pnpm-lock.yaml
Due: prettier --cache --write

fix: fullscreen-modal width wrong
  src/components/Modal/src/index.less
Due: prettier --cache --ignore-unknown --write, stylelint --fix

fix: ModalWrapper expose setModalHeight missing
  src/components/Modal/src/components/ModalWrapper.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: setup script defineExpose
  src/components/Form/src/BasicForm.vue
  src/components/Scrollbar/src/Scrollbar.vue
  src/components/Table/src/BasicTable.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix(useFormEvents): some function is lost in componentsProps
  src/components/Form/src/hooks/useFormEvents.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: fullscreen-modal width wrong (#3321)
  src/components/Modal/src/components/ModalWrapper.vue
  src/components/Modal/src/index.less
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

chore(Breadcrumb): revert setup change
  src/layouts/default/header/components/Breadcrumb.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix(DatePicker): date show is wrong
  src/locales/lang/zh-CN/antdLocale/DatePicker.json
Due: none

fix(DatePicker): date show is wrong
  src/components/Form/src/BasicForm.vue
  src/components/Scrollbar/src/Scrollbar.vue
  src/components/Table/src/BasicTable.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix(DatePicker): date show is wrong and setup script defineExpose (#3324)
  src/components/Form/src/BasicForm.vue
  src/components/Form/src/hooks/useFormEvents.ts
  src/components/Scrollbar/src/Scrollbar.vue
  src/components/Table/src/BasicTable.vue
  src/locales/lang/zh-CN/antdLocale/DatePicker.json
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: 设置 baseurl 后不生效的问题 (#3318)
  internal/vite-config/package.json
  internal/vite-config/src/plugins/appConfig.ts
  internal/vite-config/src/plugins/index.ts
  pnpm-lock.yaml
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write

chore: 升级 unocss 版本 添加 unocss.config.ts 配置文件
  internal/vite-config/package.json
  internal/vite-config/src/config/common.ts
  pnpm-lock.yaml
  uno.config.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write

chore: 更新 unocss 插件
  .vscode/extensions.json
  .vscode/settings.json
Due: none

fix: ref table
  src/components/Table/src/BasicTable.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: resolve conflicts between eslint and prettier
  .eslintignore
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

chore: 更新 unocss 版本及配置 (#3326)
  .vscode/extensions.json
  .vscode/settings.json
  internal/vite-config/package.json
  internal/vite-config/src/config/common.ts
  pnpm-lock.yaml
  uno.config.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write
