Repository vbenjs/vue-vben-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": ["prettier --cache --ignore-unknown  --write", "eslint --cache --fix"],
  "{!(package)*.json,*.code-snippets,.!(browserslist)*rc}": [
    "prettier --cache --write--parser json"
  ],
  "package.json": ["prettier --cache --write"],
  "*.vue": ["prettier --write", "eslint --cache --fix", "stylelint --fix"],
  "*.{scss,less,styl,html}": ["prettier --cache --ignore-unknown --write", "stylelint --fix"],
  "*.md": ["prettier --cache --ignore-unknown --write"]
}

防止冲突
  .gitpod.yml
  apps/test-server/tsconfig.json
  mock/sys/menu.ts
  vite.config.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

chore: add todo comment
  apps/web-antd/src/api/request.ts
  packages/effects/request/src/request-client/request-client.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

perf: all icons used in the core are offline
  apps/web-antd/src/router/routes/modules/vben.ts
  apps/web-antd/src/views/_core/about/index.vue
  apps/web-ele/src/router/routes/modules/vben.ts
  apps/web-ele/src/views/_core/about/index.vue
  apps/web-naive/src/router/routes/modules/vben.ts
  apps/web-naive/src/views/_core/about/index.vue
  docs/package.json
  docs/src/guide/essentials/route.md
  internal/tailwind-config/package.json
  package.json
  packages/@core/base/icons/src/create-icon.ts
  packages/@core/base/icons/src/index.ts
  packages/@core/base/icons/src/lucide.ts
  packages/@core/base/icons/src/mdi.ts
  packages/@core/ui-kit/layout-ui/src/components/layout-content.vue
  packages/@core/ui-kit/layout-ui/src/components/widgets/sidebar-collapse-button.vue
  packages/@core/ui-kit/layout-ui/src/components/widgets/sidebar-fixed-button.vue
  packages/@core/ui-kit/shadcn-ui/src/components/scrollbar/scrollbar.vue
  packages/@core/ui-kit/tabs-ui/src/components/tabs-chrome/tabs.vue
  packages/@core/ui-kit/tabs-ui/src/components/tabs/tabs.vue
  packages/@core/ui-kit/tabs-ui/src/tabs-view.vue
  packages/@core/ui-kit/tabs-ui/src/use-tabs-drag.ts
  packages/effects/layouts/src/basic/tabbar/use-tabbar.ts
  packages/icons/src/iconify/index.ts
  packages/locales/package.json
  playground/src/router/routes/modules/vben.ts
  playground/src/views/_core/about/index.vue
  playground/src/views/examples/ellipsis/index.vue
  pnpm-lock.yaml
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

chore: update default icon
  packages/@core/base/icons/src/lucide.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

chore: update shadow
  packages/@core/ui-kit/layout-ui/src/vben-layout.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

perf: all icons used in the core are offline (#4173)
  apps/web-antd/src/router/routes/modules/vben.ts
  apps/web-antd/src/views/_core/about/index.vue
  apps/web-ele/src/router/routes/modules/vben.ts
  apps/web-ele/src/views/_core/about/index.vue
  apps/web-naive/src/router/routes/modules/vben.ts
  apps/web-naive/src/views/_core/about/index.vue
  docs/package.json
  docs/src/guide/essentials/route.md
  internal/tailwind-config/package.json
  package.json
  packages/@core/base/icons/src/create-icon.ts
  packages/@core/base/icons/src/index.ts
  packages/@core/base/icons/src/lucide.ts
  packages/@core/base/icons/src/mdi.ts
  packages/@core/ui-kit/layout-ui/src/components/layout-content.vue
  packages/@core/ui-kit/layout-ui/src/components/widgets/sidebar-collapse-button.vue
  packages/@core/ui-kit/layout-ui/src/components/widgets/sidebar-fixed-button.vue
  packages/@core/ui-kit/layout-ui/src/vben-layout.vue
  packages/@core/ui-kit/shadcn-ui/src/components/scrollbar/scrollbar.vue
  packages/@core/ui-kit/tabs-ui/src/components/tabs-chrome/tabs.vue
  packages/@core/ui-kit/tabs-ui/src/components/tabs/tabs.vue
  packages/@core/ui-kit/tabs-ui/src/tabs-view.vue
  packages/@core/ui-kit/tabs-ui/src/use-tabs-drag.ts
  packages/effects/layouts/src/basic/tabbar/use-tabbar.ts
  packages/icons/src/iconify/index.ts
  packages/locales/package.json
  playground/src/router/routes/modules/vben.ts
  playground/src/views/_core/about/index.vue
  playground/src/views/examples/ellipsis/index.vue
  pnpm-lock.yaml
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

perf: supplement login interface documents and add configuration parameters
  docs/.vitepress/config.mts
  docs/src/guide/in-depth/login.md
  docs/src/public/guide/login.png
  packages/@core/base/shared/build.config.ts
  packages/@core/base/shared/package.json
  packages/@core/base/shared/src/index.ts
  packages/@core/base/shared/src/store.ts
  packages/@core/preferences/src/preferences.ts
  packages/effects/layouts/src/authentication/authentication.vue
  packages/effects/layouts/src/authentication/form.vue
  packages/effects/layouts/src/authentication/toolbar.vue
  packages/effects/layouts/src/basic/layout.vue
  packages/effects/layouts/src/basic/tabbar/use-tab-view-scroll.ts
  packages/effects/layouts/src/iframe/iframe-view.vue
  pnpm-lock.yaml
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

perf: supplement login interface documents and add configuration parameters (#4175)
  docs/.vitepress/config.mts
  docs/src/guide/in-depth/login.md
  docs/src/public/guide/login.png
  packages/@core/base/shared/build.config.ts
  packages/@core/base/shared/package.json
  packages/@core/base/shared/src/index.ts
  packages/@core/base/shared/src/store.ts
  packages/@core/preferences/src/preferences.ts
  packages/effects/layouts/src/authentication/authentication.vue
  packages/effects/layouts/src/authentication/form.vue
  packages/effects/layouts/src/authentication/toolbar.vue
  packages/effects/layouts/src/basic/layout.vue
  packages/effects/layouts/src/basic/tabbar/use-tab-view-scroll.ts
  packages/effects/layouts/src/iframe/iframe-view.vue
  pnpm-lock.yaml
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

chore: update deps
  README.ja-JP.md
  README.md
  README.zh-CN.md
  apps/web-antd/package.json
  apps/web-ele/package.json
  apps/web-naive/package.json
  docs/package.json
  package.json
  packages/@core/base/icons/package.json
  packages/@core/base/shared/package.json
  packages/@core/base/typings/package.json
  packages/@core/composables/package.json
  packages/@core/preferences/package.json
  packages/@core/ui-kit/layout-ui/package.json
  packages/@core/ui-kit/menu-ui/package.json
  packages/@core/ui-kit/shadcn-ui/package.json
  packages/@core/ui-kit/tabs-ui/package.json
  packages/effects/access/package.json
  packages/effects/chart-ui/package.json
  packages/effects/common-ui/package.json
  packages/effects/hooks/package.json
  packages/effects/layouts/package.json
  packages/locales/package.json
  packages/stores/package.json
  packages/types/package.json
  playground/package.json
  pnpm-lock.yaml
Due: prettier --cache --ignore-unknown --write, prettier --cache --write

chore: update docs
  .github/workflows/deploy.yml
  apps/backend-mock/package.json
  docs/src/guide/essentials/development.md
  docs/src/guide/introduction/thin.md
  internal/vite-config/src/plugins/nitro-mock.ts
  package.json
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write

chore: update menu
  packages/@core/ui-kit/menu-ui/src/components/menu.vue
  packages/@core/ui-kit/menu-ui/src/components/sub-menu.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

chore: update deps and docs (#4184)
  .github/workflows/deploy.yml
  README.ja-JP.md
  README.md
  README.zh-CN.md
  apps/backend-mock/package.json
  apps/web-antd/package.json
  apps/web-ele/package.json
  apps/web-naive/package.json
  docs/package.json
  docs/src/guide/essentials/development.md
  docs/src/guide/introduction/thin.md
  internal/vite-config/src/plugins/nitro-mock.ts
  package.json
  packages/@core/base/icons/package.json
  packages/@core/base/shared/package.json
  packages/@core/base/typings/package.json
  packages/@core/composables/package.json
  packages/@core/preferences/package.json
  packages/@core/ui-kit/layout-ui/package.json
  packages/@core/ui-kit/menu-ui/package.json
  packages/@core/ui-kit/menu-ui/src/components/menu.vue
  packages/@core/ui-kit/menu-ui/src/components/sub-menu.vue
  packages/@core/ui-kit/shadcn-ui/package.json
  packages/@core/ui-kit/tabs-ui/package.json
  packages/effects/access/package.json
  packages/effects/chart-ui/package.json
  packages/effects/common-ui/package.json
  packages/effects/hooks/package.json
  packages/effects/layouts/package.json
  packages/locales/package.json
  packages/stores/package.json
  packages/types/package.json
  playground/package.json
  pnpm-lock.yaml
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

fix: ci error
  package.json
Due: prettier --cache --write

chore: update pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

chore: remove default interceptors
  apps/backend-mock/utils/jwt_utils.ts
  apps/web-antd/src/api/request.ts
  apps/web-antd/src/layouts/basic.vue
  packages/effects/request/src/request-client/index.ts
  packages/effects/request/src/request-client/modules/interceptor.ts
  packages/effects/request/src/request-client/preset-interceptors.ts
  packages/effects/request/src/request-client/request-client.ts
  packages/effects/request/src/request-client/types.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

chore: copy codes
  apps/web-ele/src/api/core/auth.ts
  apps/web-ele/src/api/request.ts
  apps/web-ele/src/store/auth.ts
  apps/web-naive/src/api/core/auth.ts
  apps/web-naive/src/api/request.ts
  apps/web-naive/src/store/auth.ts
  playground/src/api/core/auth.ts
  playground/src/api/request.ts
  playground/src/store/auth.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

chore: handle refreshToken invalid
  apps/web-antd/src/api/request.ts
  apps/web-antd/src/store/auth.ts
  apps/web-ele/src/api/request.ts
  apps/web-ele/src/store/auth.ts
  apps/web-naive/src/api/request.ts
  apps/web-naive/src/store/auth.ts
  playground/src/api/request.ts
  playground/src/store/auth.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

chore: add refreshToken preference
  apps/web-antd/src/api/request.ts
  apps/web-ele/src/api/request.ts
  apps/web-naive/src/api/request.ts
  docs/src/guide/essentials/settings.md
  packages/@core/preferences/src/config.ts
  packages/@core/preferences/src/types.ts
  playground/src/api/request.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: slots
  packages/effects/layouts/src/basic/header/header.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

chore: typo
  apps/backend-mock/README.md
  apps/backend-mock/api/auth/codes.ts
  apps/backend-mock/api/auth/login.post.ts
  apps/backend-mock/api/auth/logout.post.ts
  apps/backend-mock/api/auth/refresh.post.ts
  apps/backend-mock/api/menu/all.ts
  apps/backend-mock/api/user/info.ts
  apps/backend-mock/middleware/1.api.ts
  apps/backend-mock/package.json
  apps/backend-mock/utils/cookie-utils.ts
  apps/backend-mock/utils/jwt-utils.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write

chore: refresh token逻辑调整
  packages/effects/request/src/request-client/request-client.ts
  playground/src/api/request.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: reademe
  packages/effects/layouts/src/basic/README.md
  packages/effects/layouts/src/basic/header/header.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

refactor: interceptor presets
  packages/effects/request/src/request-client/preset-interceptors.ts
  playground/src/api/request.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

chore: copy codes
  apps/web-antd/src/api/request.ts
  apps/web-ele/src/api/request.ts
  apps/web-naive/src/api/request.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: ci errors
  apps/backend-mock/utils/jwt-utils.ts
  pnpm-lock.yaml
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

chore: add missing await
  packages/effects/request/src/request-client/preset-interceptors.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

feat: 完善refresh-token逻辑及文档
  apps/backend-mock/api/auth/codes.ts
  apps/backend-mock/api/auth/login.post.ts
  apps/backend-mock/api/auth/logout.post.ts
  apps/backend-mock/api/auth/refresh.post.ts
  apps/backend-mock/api/menu/all.ts
  apps/backend-mock/api/user/info.ts
  apps/backend-mock/utils/cookie_utils.ts
  apps/backend-mock/utils/jwt_utils.ts
  apps/web-antd/src/api/request.ts
  apps/web-antd/src/layouts/basic.vue
  apps/web-ele/src/api/request.ts
  apps/web-ele/src/layouts/basic.vue
  apps/web-naive/src/api/request.ts
  apps/web-naive/src/layouts/basic.vue
  docs/src/guide/essentials/server.md
  docs/src/guide/essentials/settings.md
  packages/@core/preferences/src/config.ts
  packages/@core/preferences/src/types.ts
  packages/effects/request/src/request-client/preset-interceptors.ts
  playground/src/api/request.ts
  playground/src/layouts/basic.vue
  playground/src/store/auth.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: ci error
  apps/web-antd/src/store/auth.ts
  apps/web-ele/src/store/auth.ts
  apps/web-naive/src/store/auth.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

chore: filename
  apps/backend-mock/api/auth/codes.ts
  apps/backend-mock/api/auth/login.post.ts
  apps/backend-mock/api/auth/logout.post.ts
  apps/backend-mock/api/auth/refresh.post.ts
  apps/backend-mock/api/menu/all.ts
  apps/backend-mock/api/user/info.ts
  apps/backend-mock/utils/cookie-utils.ts
  apps/backend-mock/utils/jwt-utils.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

feat: refactor and improve the request client and support refreshToken (#4157)
  apps/backend-mock/.env
  apps/backend-mock/README.md
  apps/backend-mock/api/auth/codes.ts
  apps/backend-mock/api/auth/login.post.ts
  apps/backend-mock/api/auth/logout.post.ts
  apps/backend-mock/api/auth/refresh.post.ts
  apps/backend-mock/api/menu/all.ts
  apps/backend-mock/api/user/info.ts
  apps/backend-mock/middleware/1.api.ts
  apps/backend-mock/package.json
  apps/backend-mock/utils/cookie-utils.ts
  apps/backend-mock/utils/jwt-utils.ts
  apps/backend-mock/utils/mock-data.ts
  apps/backend-mock/utils/response.ts
  apps/web-antd/src/api/core/auth.ts
  apps/web-antd/src/api/request.ts
  apps/web-antd/src/layouts/basic.vue
  apps/web-antd/src/store/auth.ts
  apps/web-ele/src/api/core/auth.ts
  apps/web-ele/src/api/request.ts
  apps/web-ele/src/layouts/basic.vue
  apps/web-ele/src/store/auth.ts
  apps/web-naive/src/api/core/auth.ts
  apps/web-naive/src/api/request.ts
  apps/web-naive/src/layouts/basic.vue
  apps/web-naive/src/store/auth.ts
  docs/src/guide/essentials/server.md
  docs/src/guide/essentials/settings.md
  packages/@core/preferences/src/config.ts
  packages/@core/preferences/src/types.ts
  packages/effects/request/src/request-client/index.ts
  packages/effects/request/src/request-client/modules/interceptor.ts
  packages/effects/request/src/request-client/preset-interceptors.ts
  packages/effects/request/src/request-client/request-client.ts
  packages/effects/request/src/request-client/types.ts
  playground/src/api/core/auth.ts
  playground/src/api/request.ts
  playground/src/layouts/basic.vue
  playground/src/store/auth.ts
  pnpm-lock.yaml
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

fix: mock server deployment error
  apps/backend-mock/utils/jwt-utils.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: fix keepAlive parameter error (#4194)
  apps/backend-mock/utils/jwt-utils.ts
  docs/src/guide/introduction/thin.md
  packages/@core/base/design/src/design-tokens/dark/index.css
  packages/@core/base/design/src/design-tokens/default/index.css
  packages/@core/base/shared/src/utils/index.ts
  packages/@core/base/shared/src/utils/to.ts
  packages/@core/ui-kit/layout-ui/src/components/layout-header.vue
  packages/@core/ui-kit/layout-ui/src/vben-layout.vue
  packages/@core/ui-kit/menu-ui/src/components/menu-item.vue
  packages/@core/ui-kit/menu-ui/src/components/menu.vue
  packages/@core/ui-kit/menu-ui/src/components/sub-menu-content.vue
  packages/@core/ui-kit/menu-ui/src/components/sub-menu.vue
  packages/@core/ui-kit/menu-ui/src/hooks/use-menu-context.ts
  packages/@core/ui-kit/menu-ui/src/hooks/use-menu.ts
  packages/@core/ui-kit/menu-ui/src/index.ts
  packages/@core/ui-kit/menu-ui/src/menu.vue
  packages/@core/ui-kit/menu-ui/src/types.ts
  packages/@core/ui-kit/tabs-ui/src/components/tabs-chrome/tabs.vue
  packages/@core/ui-kit/tabs-ui/src/components/tabs/tabs.vue
  packages/effects/hooks/src/use-design-tokens.ts
  packages/stores/src/modules/tabbar.ts
  packages/styles/src/antd/index.css
  playground/.env
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

chore: typo
  docs/src/guide/introduction/thin.md
  packages/@core/base/design/src/design-tokens/dark/index.css
  packages/@core/base/design/src/design-tokens/default/index.css
  packages/@core/base/shared/src/utils/index.ts
  packages/@core/base/shared/src/utils/to.ts
  packages/@core/ui-kit/layout-ui/src/components/layout-header.vue
  packages/@core/ui-kit/layout-ui/src/vben-layout.vue
  packages/@core/ui-kit/menu-ui/src/components/menu-item.vue
  packages/@core/ui-kit/menu-ui/src/components/menu.vue
  packages/@core/ui-kit/menu-ui/src/components/sub-menu-content.vue
  packages/@core/ui-kit/menu-ui/src/components/sub-menu.vue
  packages/@core/ui-kit/menu-ui/src/hooks/use-menu-context.ts
  packages/@core/ui-kit/menu-ui/src/hooks/use-menu.ts
  packages/@core/ui-kit/menu-ui/src/index.ts
  packages/@core/ui-kit/menu-ui/src/menu.vue
  packages/@core/ui-kit/menu-ui/src/types.ts
  packages/@core/ui-kit/tabs-ui/src/components/tabs-chrome/tabs.vue
  packages/@core/ui-kit/tabs-ui/src/components/tabs/tabs.vue
  packages/effects/hooks/src/use-design-tokens.ts
  packages/stores/src/modules/tabbar.ts
  packages/styles/src/antd/index.css
  playground/.env
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

chore: release v5.1.1 [skip ci]
  apps/web-antd/package.json
  apps/web-ele/package.json
  apps/web-naive/package.json
  docs/package.json
  internal/lint-configs/commitlint-config/package.json
  internal/lint-configs/stylelint-config/package.json
  internal/node-utils/package.json
  internal/tailwind-config/package.json
  internal/tsconfig/package.json
  internal/vite-config/package.json
  package.json
  packages/@core/base/design/package.json
  packages/@core/base/icons/package.json
  packages/@core/base/shared/package.json
  packages/@core/base/typings/package.json
  packages/@core/composables/package.json
  packages/@core/preferences/package.json
  packages/@core/ui-kit/layout-ui/package.json
  packages/@core/ui-kit/menu-ui/package.json
  packages/@core/ui-kit/shadcn-ui/package.json
  packages/@core/ui-kit/tabs-ui/package.json
  packages/constants/package.json
  packages/effects/access/package.json
  packages/effects/chart-ui/package.json
  packages/effects/common-ui/package.json
  packages/effects/hooks/package.json
  packages/effects/layouts/package.json
  packages/effects/request/package.json
  packages/icons/package.json
  packages/locales/package.json
  packages/preferences/package.json
  packages/stores/package.json
  packages/styles/package.json
  packages/types/package.json
  packages/utils/package.json
  playground/package.json
  scripts/turbo-run/package.json
  scripts/vsh/package.json
Due: prettier --cache --write

docs: fix document typos
  docs/src/guide/in-depth/access.md
Due: prettier --cache --ignore-unknown --write

chore(@vben/playground): add fast-crud example
  playground/package.json
  playground/src/api/demos/fast-crud/index.ts
  playground/src/bootstrap.ts
  playground/src/router/routes/modules/examples.ts
  playground/src/views/examples/fast-crud/crud.ts
  playground/src/views/examples/fast-crud/index.vue
  playground/src/views/examples/fast-crud/register.ts
  pnpm-lock.yaml
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

chore: update pnpm lock
  pnpm-lock.yaml
Due: none

chore: update pnpm lock file
  pnpm-lock.yaml
Due: none

docs: fix document typos (#4196)
  docs/src/guide/in-depth/access.md
Due: prettier --cache --ignore-unknown --write

chore(@vben/docs): 完成guide文档的翻译
  docs/.vitepress/config.mts
  docs/src/en/guide/index.md
  docs/src/en/guide/introduction/changelog.md
  docs/src/en/guide/introduction/quick-start.md
  docs/src/en/guide/introduction/roadmap.md
  docs/src/en/guide/introduction/thin.md
  docs/src/en/guide/introduction/vben.md
  docs/src/en/guide/introduction/why.md
  docs/src/en/index.md
Due: prettier --cache --ignore-unknown --write
