Repository vbenjs/vue-vben-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

fit change it to online
  vite.config.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix echarts
  src/router/Backup/about.ts
  src/router/Backup/dashboard.ts
  src/router/Backup/demo/charts.ts
  src/router/Backup/demo/comp.ts
  src/router/Backup/demo/feat.ts
  src/router/Backup/demo/flow.ts
  src/router/Backup/demo/iframe.ts
  src/router/Backup/demo/level.ts
  src/router/Backup/demo/page.ts
  src/router/Backup/demo/permission.ts
  src/router/Backup/demo/steps.ts
  src/router/Backup/demo/system.ts
  src/router/Backup/form-design/main.ts
  src/router/Backup/hooks/request.ts
  src/router/routes/modules/adSense.ts
  src/views/adsense/components/rightContent.vue
  src/views/adsense/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix
  src/enums/pageEnum.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

update
  .env.production
Due: none

fix: improve layout boundary processing
  .github/workflows/ci.yml
  docs/.vitepress/config/shared.mts
  docs/.vitepress/theme/index.ts
  docs/package.json
  docs/src/guide/introduction/quick-start.md
  internal/lint-configs/eslint-config/package.json
  internal/tailwind-config/package.json
  internal/vite-config/package.json
  package.json
  packages/@core/ui-kit/layout-ui/src/components/layout-sidebar.vue
  pnpm-lock.yaml
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

fix: improve layout boundary processing (#4423)
  .github/workflows/ci.yml
  docs/.vitepress/config/shared.mts
  docs/.vitepress/theme/index.ts
  docs/package.json
  docs/src/guide/introduction/quick-start.md
  internal/lint-configs/eslint-config/package.json
  internal/tailwind-config/package.json
  internal/vite-config/package.json
  package.json
  packages/@core/ui-kit/layout-ui/src/components/layout-sidebar.vue
  pnpm-lock.yaml
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

fix: the onOpenChange event for the modal component does not work as expected
  internal/vite-config/src/config/application.ts
  packages/@core/ui-kit/popup-ui/src/drawer/use-drawer.ts
  packages/@core/ui-kit/popup-ui/src/modal/use-modal.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: the onOpenChange event for the modal component does not work as expected (#4425)
  internal/vite-config/src/config/application.ts
  packages/@core/ui-kit/popup-ui/src/drawer/use-drawer.ts
  packages/@core/ui-kit/popup-ui/src/modal/use-modal.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: fixed the form component componentProps using the function that did not meet expectations
  packages/@core/ui-kit/form-ui/src/form-render/form-field.vue
  packages/@core/ui-kit/form-ui/src/form-render/form.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: fixed the form component componentProps using the function that did not meet expectations (#4426)
  packages/@core/ui-kit/form-ui/src/form-render/form-field.vue
  packages/@core/ui-kit/form-ui/src/form-render/form.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: hover border style same as antd style when validate error
  packages/@core/ui-kit/form-ui/src/form-render/form-field.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix
  .env.development
  .env.production
  index.html
  public/logo.png
  public/logo1.png
  src/api/demo/system.ts
  src/api/sys/menu.ts
  src/api/sys/user.ts
  src/assets/images/logo.png
  src/assets/images/logo2.png
  src/components/Menu/src/props.ts
  src/enums/pageEnum.ts
  src/layouts/default/header/index.vue
  src/router/routes/modules/adSense.ts
  src/router/routes/modules/demo/system.ts
  src/settings/projectSetting.ts
  src/views/sys/login/LoginForm.vue
  vite.config.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

chore: resolve conflict
  packages/effects/common-ui/package.json
  pnpm-lock.yaml
Due: prettier --cache --write

chore: 迁移v2的图片旋转校验组件
  packages/effects/common-ui/src/components/verify/drag-verify/index.vue
  packages/effects/common-ui/src/components/verify/img-rotate/index.vue
  packages/effects/common-ui/src/components/verify/props.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

add 'ESTIMATED_EARNINGS',
  src/views/adsense/components/config/listConfig.js
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

'COST_PER_CLICK',
  src/views/adsense/components/config/listConfig.js
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

'PAGE_VIEWS_RPM',
  src/views/adsense/components/config/listConfig.js
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

chore: 完善选择校验demo
  packages/effects/common-ui/src/components/verify/index.ts
  packages/effects/common-ui/src/components/verify/rotate-verify/index.vue
  playground/src/locales/langs/en-US.json
  playground/src/locales/langs/zh-CN.json
  playground/src/router/routes/modules/examples.ts
  playground/src/views/examples/verify/rotate-verify/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

chore: 转换为tailwindcss
  packages/effects/common-ui/src/components/verify/rotate-verify/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: hover border style same as antd style when validate error (#4409)
  packages/@core/ui-kit/form-ui/src/form-render/form-field.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

chore: 替换为系统的颜色变量
  packages/effects/common-ui/src/components/verify/drag-verify/bar.vue
  packages/effects/common-ui/src/components/verify/rotate-verify/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

chore: 使用interface代替组件的props声明
  packages/effects/common-ui/src/components/verify/drag-verify/index.vue
  packages/effects/common-ui/src/components/verify/props.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix(@vben/web-ele): fixed some style issues in dark mode
  packages/effects/hooks/src/use-design-tokens.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: lint error
  pnpm-workspace.yaml
Due: none

fix: improve the scroll bar flashing when the modal box is opened
  packages/@core/base/shared/src/utils/dom.ts
  packages/@core/composables/src/use-scroll-lock.ts
  packages/@core/preferences/__tests__/__snapshots__/config.test.ts.snap
  packages/@core/preferences/__tests__/config.test.ts
  packages/@core/preferences/__tests__/preferences.test.ts
  packages/@core/preferences/tsconfig.json
  packages/@core/ui-kit/form-ui/__tests__/form-api.test.ts
  packages/@core/ui-kit/form-ui/src/form-api.ts
  packages/@core/ui-kit/form-ui/tsconfig.json
  playground/src/locales/langs/en-US.json
  playground/src/locales/langs/zh-CN.json
  playground/src/router/routes/modules/examples.ts
  playground/src/views/examples/form/api.vue
  playground/src/views/examples/form/basic.vue
  playground/src/views/examples/form/custom.vue
  playground/src/views/examples/form/dynamic.vue
  playground/src/views/examples/form/query.vue
  playground/src/views/examples/form/rules.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: improve the scroll bar flashing when the modal box is opened (#4438)
  packages/@core/base/shared/src/utils/dom.ts
  packages/@core/composables/src/use-scroll-lock.ts
  packages/@core/preferences/__tests__/__snapshots__/config.test.ts.snap
  packages/@core/preferences/__tests__/config.test.ts
  packages/@core/preferences/__tests__/preferences.test.ts
  packages/@core/preferences/tsconfig.json
  packages/@core/ui-kit/form-ui/__tests__/form-api.test.ts
  packages/@core/ui-kit/form-ui/src/form-api.ts
  packages/@core/ui-kit/form-ui/tsconfig.json
  playground/src/locales/langs/en-US.json
  playground/src/locales/langs/zh-CN.json
  playground/src/router/routes/modules/examples.ts
  playground/src/views/examples/form/api.vue
  playground/src/views/examples/form/basic.vue
  playground/src/views/examples/form/custom.vue
  playground/src/views/examples/form/dynamic.vue
  playground/src/views/examples/form/query.vue
  playground/src/views/examples/form/rules.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

perf: the request client upload function supports more parameters
  packages/effects/request/src/request-client/modules/uploader.test.ts
  packages/effects/request/src/request-client/modules/uploader.ts
  packages/effects/request/src/request-client/request-client.test.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

perf: the request client upload function supports more parameters (#4439)
  packages/effects/request/src/request-client/modules/uploader.test.ts
  packages/effects/request/src/request-client/modules/uploader.ts
  packages/effects/request/src/request-client/request-client.test.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: lint
  packages/effects/hooks/src/use-design-tokens.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: when the api returns 401, the page is refreshed not as expected
  apps/web-antd/src/store/auth.ts
  apps/web-ele/src/store/auth.ts
  apps/web-naive/src/store/auth.ts
  docs/src/components/common-ui/vben-drawer.md
  docs/src/components/common-ui/vben-modal.md
  docs/src/components/introduction.md
  playground/src/store/auth.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: when the api returns 401, the page is refreshed not as expected (#4440)
  apps/web-antd/src/store/auth.ts
  apps/web-ele/src/store/auth.ts
  apps/web-naive/src/store/auth.ts
  docs/src/components/common-ui/vben-drawer.md
  docs/src/components/common-ui/vben-modal.md
  docs/src/components/introduction.md
  playground/src/store/auth.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix(@vben/web-ele): fixed some style issues in dark mode (#4436)
  packages/effects/hooks/src/use-design-tokens.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

feat(@vben-core/form-ui): Default form validation rules applicable to selector components
  apps/web-antd/src/adapter/form.ts
  apps/web-ele/src/adapter/form.ts
  apps/web-naive/src/adapter/form.ts
  packages/@core/ui-kit/form-ui/src/types.ts
  packages/locales/src/langs/en-US.json
  packages/locales/src/langs/zh-CN.json
  playground/src/adapter/form.ts
  playground/src/views/examples/form/rules.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

feat: default form validation rules applicable to selector components (#4442)
  apps/web-antd/src/adapter/form.ts
  apps/web-ele/src/adapter/form.ts
  apps/web-naive/src/adapter/form.ts
  packages/@core/ui-kit/form-ui/src/types.ts
  packages/locales/src/langs/en-US.json
  packages/locales/src/langs/zh-CN.json
  playground/src/adapter/form.ts
  playground/src/views/examples/form/rules.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: enforce minimum pnpm version 9.5.0
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

fix: enforce minimum pnpm version 9.5.0 (#4443)
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

fix: Missing the default required label style for components such as select
  packages/@core/ui-kit/form-ui/src/form-render/form-field.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix
  src/api/adsense/adsense.ts
  src/layouts/default/header/index.vue
  src/locales/lang/en/report.json
  src/locales/lang/en/routes/adsense.json
  src/locales/lang/zh-CN/report.json
  src/locales/lang/zh-CN/routes/adsense.json
  src/router/routes/modules/adSense.ts
  src/views/adsense/components/config/listConfig.js
  src/views/adsense/components/headerFilter.vue
  src/views/adsense/components/leftMenu.vue
  src/views/adsense/components/rightContent.vue
  src/views/adsense/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

Path conditions:
  prettier --cache --ignore-unknown --write: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.{scss,less,styl,html})) or (any of: *.md)
  eslint --cache --fix: (any of: *.{js,jsx,ts,tsx}) or (any of: *.vue)
  prettier --cache --write: any of: package.json
  prettier --write: any of: *.vue
  stylelint --fix: (any of: *.vue) or (any of: *.{scss,less,styl,html})
