Repository vbenjs/vue-vben-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": ["prettier --cache --ignore-unknown  --write", "eslint --cache --fix"],
  "{!(package)*.json,*.code-snippets,.!(browserslist)*rc}": [
    "prettier --cache --write--parser json"
  ],
  "package.json": ["prettier --cache --write"],
  "*.vue": ["prettier --write", "eslint --cache --fix", "stylelint --fix"],
  "*.{scss,less,styl,html}": ["prettier --cache --ignore-unknown --write", "stylelint --fix"],
  "*.md": ["prettier --cache --ignore-unknown --write"]
}

feat: init vite-plugin-html
  internal/vite-plugin-html/.eslintignore
  internal/vite-plugin-html/.eslintrc.js
  internal/vite-plugin-html/build.config.ts
  internal/vite-plugin-html/package.json
  internal/vite-plugin-html/src/htmlPlugin.ts
  internal/vite-plugin-html/src/index.ts
  internal/vite-plugin-html/src/minifyHtml.ts
  internal/vite-plugin-html/src/typing.ts
  internal/vite-plugin-html/src/utils/createHtmlFilter.ts
  internal/vite-plugin-html/src/utils/index.ts
  internal/vite-plugin-html/tsconfig.json
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write

feat: use @vben/vite-plugin-html
  internal/vite-config/package.json
  internal/vite-config/src/plugins/html.ts
  internal/vite-plugin-html/package.json
  internal/vite-plugin-html/src/htmlPlugin.ts
  internal/vite-plugin-html/src/typing.ts
  package.json
  pnpm-lock.yaml
  src/components/Upload/src/components/UploadModal.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

chore: update vite v5
  .commitlintrc.js
  .eslintrc.cjs
  .prettierrc.js
  .stylelintrc.js
  .vscode/settings.json
  index.html
  internal/eslint-config/.eslintrc.cjs
  internal/eslint-config/package.json
  internal/stylelint-config/.eslintrc.cjs
  internal/stylelint-config/package.json
  internal/ts-config/base.json
  internal/ts-config/package.json
  internal/vite-config/.eslintrc.cjs
  internal/vite-config/package.json
  internal/vite-plugin-html/.eslintrc.cjs
  internal/vite-plugin-html/package.json
  package.json
  packages/hooks/.eslintrc.cjs
  packages/hooks/package.json
  packages/types/.eslintrc.cjs
  packages/types/package.json
  pnpm-lock.yaml
  vite.config.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, stylelint --fix

feat: 提供了一个 koa-restful 后台实现
  apps/koa-restful-server/.env
  apps/koa-restful-server/.env.development
  apps/koa-restful-server/.gitignore
  apps/koa-restful-server/README.md
  apps/koa-restful-server/build/swagger.ts
  apps/koa-restful-server/package.json
  apps/koa-restful-server/src/_util.ts
  apps/koa-restful-server/src/core/env.ts
  apps/koa-restful-server/src/core/index.ts
  apps/koa-restful-server/src/index.ts
  apps/koa-restful-server/src/service/basic/demo/account.ts
  apps/koa-restful-server/src/service/basic/demo/api-cascader.ts
  apps/koa-restful-server/src/service/basic/demo/select-demo.ts
  apps/koa-restful-server/src/service/basic/demo/system.ts
  apps/koa-restful-server/src/service/basic/demo/table.ts
  apps/koa-restful-server/src/service/basic/demo/tree.ts
  apps/koa-restful-server/src/service/basic/sys/menu.ts
  apps/koa-restful-server/src/service/basic/sys/user.ts
  apps/koa-restful-server/src/service/index.ts
  apps/koa-restful-server/static/index.html
  apps/koa-restful-server/tsconfig.dist.json
  apps/koa-restful-server/tsconfig.json
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, stylelint --fix

fix: menu.ts 多余的 'basic-api' 前缀
  apps/koa-restful-server/src/service/basic/sys/menu.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: 提交 pnpm-lock.yaml 修复不能install的问题
  apps/koa-restful-server/.gitignore
  pnpm-lock.yaml
Due: none

fix: form-item should not required when hidden
  src/components/Form/src/components/FormItem.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix(autofill): 修复深色模式输入框自动填充后样式异常
  src/design/index.less
Due: prettier --cache --ignore-unknown --write, stylelint --fix

perf(Login): 去除登录页重复autofill样式;ant-divider-inner-text样式改为仅对登录页深色模式生效
  src/views/sys/login/Login.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

style(autofill): 修复深色模式输入框自动填充后样式异常; 修正登录页不恰当全局样式 (#3435)
  src/design/index.less
  src/views/sys/login/Login.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

perf(darkMode): 深色模式颜色定义以及切换方式优化
  src/design/color.less
  src/design/index.less
  src/logics/theme/dark.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, stylelint --fix

perf: text-color rgb->rgba
  src/design/color.less
Due: prettier --cache --ignore-unknown --write, stylelint --fix

perf(darkMode): 深色模式颜色定义以及切换方式优化 (#3436)
  src/design/color.less
  src/design/index.less
  src/logics/theme/dark.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, stylelint --fix

chore: fix form type error
  src/components/Form/src/types/index.ts
  src/views/demo/form/AdvancedForm.vue
  src/views/demo/form/CustomerForm.vue
  src/views/demo/form/DynamicForm.vue
  src/views/demo/form/RefForm.vue
  src/views/demo/form/RuleForm.vue
  src/views/demo/form/TabsForm.vue
  src/views/demo/form/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix(ApiRadioGroup): Resolve api type conflict with labelField/valueField
  src/components/Form/src/components/ApiRadioGroup.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix(ApiTree): api type error
  src/components/Form/src/components/ApiTree.vue
  src/components/Form/src/components/ApiTreeSelect.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

滑动表格内容合计行不跟随滑动bug
  src/components/Table/src/hooks/useTableFooter.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix(BasicTable): 滑动表格内容合计行不跟随滑动bug (#3438) resolve #2166
  src/components/Table/src/hooks/useTableFooter.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: column setting about action fixed and default not cache
  src/components/Table/src/components/settings/ColumnSetting.vue
  src/components/Table/src/components/settings/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix(BasicTable): column setting about action fixed and default not cache (#3441)
  src/components/Table/src/components/settings/ColumnSetting.vue
  src/components/Table/src/components/settings/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

chore(demo): form basic page schemas use FormSchemaAll
  src/views/demo/page/form/basic/data.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: ColumnSetting about selectedRowKeys override
  src/components/Table/src/components/settings/ColumnSetting.vue
  src/components/Table/src/components/settings/index.vue
  src/components/Table/src/types/table.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

feat: hooks useRequest 异步数据管理
  packages/hooks/package.json
  packages/hooks/src/index.ts
  packages/hooks/src/useRequest/Fetch.ts
  packages/hooks/src/useRequest/index.ts
  packages/hooks/src/useRequest/plugins/useAutoRunPlugin.ts
  packages/hooks/src/useRequest/plugins/useCachePlugin.ts
  packages/hooks/src/useRequest/plugins/useDebouncePlugin.ts
  packages/hooks/src/useRequest/plugins/useLoadingDelayPlugin.ts
  packages/hooks/src/useRequest/plugins/usePollingPlugin.ts
  packages/hooks/src/useRequest/plugins/useRefreshOnWindowFocusPlugin.ts
  packages/hooks/src/useRequest/plugins/useRetryPlugin.ts
  packages/hooks/src/useRequest/plugins/useThrottlePlugin.ts
  packages/hooks/src/useRequest/types.ts
  packages/hooks/src/useRequest/useRequestImplement.ts
  packages/hooks/src/useRequest/utils/cache.ts
  packages/hooks/src/useRequest/utils/cachePromise.ts
  packages/hooks/src/useRequest/utils/cacheSubscribe.ts
  packages/hooks/src/useRequest/utils/isBrowser.ts
  packages/hooks/src/useRequest/utils/isDocumentVisible.ts
  packages/hooks/src/useRequest/utils/isFunction.ts
  packages/hooks/src/useRequest/utils/isOnline.ts
  packages/hooks/src/useRequest/utils/limit.ts
  packages/hooks/src/useRequest/utils/subscribeFocus.ts
  packages/hooks/src/useRequest/utils/subscribeReVisible.ts
  pnpm-lock.yaml
  src/router/routes/modules/hooks/request.ts
  src/views/hooks/request/base.tsx
  src/views/hooks/request/cache.tsx
  src/views/hooks/request/debounce.tsx
  src/views/hooks/request/loading-delay.tsx
  src/views/hooks/request/mock-api.ts
  src/views/hooks/request/polling.tsx
  src/views/hooks/request/ready.tsx
  src/views/hooks/request/refresh-on-window-focus.tsx
  src/views/hooks/request/refresy-deps.tsx
  src/views/hooks/request/retry.tsx
  src/views/hooks/request/throttle.tsx
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write

fix(BasicTable): ColumnSetting about selectedRowKeys override (#3446)
  src/components/Table/src/components/settings/ColumnSetting.vue
  src/components/Table/src/components/settings/index.vue
  src/components/Table/src/types/table.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

解决 eslint-plugin-vue 关于 v-show 无法在 template 中报错的问题
  src/components/SimpleMenu/src/components/SubMenuItem.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

chore: FormSchemaAll to FormSchema
  src/components/Form/src/types/form.ts
  src/components/Table/index.ts
  src/views/demo/form/AdvancedForm.vue
  src/views/demo/form/CustomerForm.vue
  src/views/demo/form/DynamicForm.vue
  src/views/demo/form/RefForm.vue
  src/views/demo/form/RuleForm.vue
  src/views/demo/form/TabsForm.vue
  src/views/demo/form/UseForm.vue
  src/views/demo/form/index.vue
  src/views/demo/page/form/basic/data.ts
  src/views/demo/table/tableData.tsx
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: ComponentFormSchemaType
  src/components/Form/src/types/form.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: Object literal may only specify known properties
  src/components/Form/src/types/form.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

feat(BasicForm): Improve ts types for BasicForm (#3426)
  src/api/demo/cascader.ts
  src/components/Form/src/components/ApiCascader.vue
  src/components/Form/src/components/ApiRadioGroup.vue
  src/components/Form/src/components/ApiTree.vue
  src/components/Form/src/components/ApiTreeSelect.vue
  src/components/Form/src/types/form.ts
  src/components/Form/src/types/index.ts
  src/layouts/default/header/components/ChangeApi/index.vue
  src/views/demo/form/AppendForm.vue
  src/views/demo/form/CustomerForm.vue
  src/views/demo/form/DynamicForm.vue
  src/views/demo/form/UseForm.vue
  src/views/demo/form/index.vue
  src/views/demo/page/form/basic/data.ts
  src/views/demo/table/tableData.tsx
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

chore: remove slot from ComponentFormSchema type
  src/components/Form/src/types/form.ts
  src/views/demo/page/form/step/data.tsx
  src/views/demo/system/role/role.data.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: FormItem won't render when a component is not provided
  src/components/Form/src/components/FormItem.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: 修复搜索表单使用updateSchema时，如果使用fieldMapToTime引起的bug
  src/components/Form/src/hooks/useFormEvents.ts
  src/components/Form/src/types/form.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix
