Repository vbenjs/vue-vben-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": ["prettier --cache --ignore-unknown  --write", "eslint --cache --fix"],
  "{!(package)*.json,*.code-snippets,.!(browserslist)*rc}": [
    "prettier --cache --write--parser json"
  ],
  "package.json": ["prettier --cache --write"],
  "*.vue": ["prettier --write", "eslint --cache --fix", "stylelint --fix"],
  "*.{scss,less,styl,html}": ["prettier --cache --ignore-unknown --write", "stylelint --fix"],
  "*.md": ["prettier --cache --ignore-unknown --write"]
}

chore: output console error for invalid route component (#5593)
  packages/utils/src/helpers/generate-routes-backend.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

feat: taskList可用，请求地址改为本地
  playground/.env
  playground/src/api/examples/index.ts
  playground/src/api/examples/tasks.ts
  playground/src/api/requestv2.ts
  playground/src/myViews/taskList.vue
  playground/tsconfig.json
  playground/vite.config.mts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

Update tailwindcss.md
  docs/src/guide/project/tailwindcss.md
Due: prettier --cache --ignore-unknown --write

feat: department management demo
  apps/backend-mock/api/system/dept/.post.ts
  apps/backend-mock/api/system/dept/[id].delete.ts
  apps/backend-mock/api/system/dept/[id].put.ts
  apps/backend-mock/api/system/dept/list.ts
  packages/@core/base/icons/src/lucide.ts
  packages/locales/src/index.ts
  packages/locales/src/langs/en-US/common.json
  packages/locales/src/langs/en-US/ui.json
  packages/locales/src/langs/zh-CN/common.json
  packages/locales/src/langs/zh-CN/ui.json
  playground/src/adapter/vxe-table.ts
  playground/src/api/system/dept.ts
  playground/src/locales/langs/en-US/system.json
  playground/src/locales/langs/zh-CN/system.json
  playground/src/router/routes/modules/system.ts
  playground/src/views/system/dept/data.ts
  playground/src/views/system/dept/list.vue
  playground/src/views/system/dept/modules/form.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

feat: Update cogs settings
  apps/web-np/src/views/settings/cogs-handling-fees/form-modal.vue
  apps/web-np/src/views/settings/cogs-handling-fees/index.vue
  apps/web-np/src/views/settings/cogs-handling-fees/table-config.ts
  apps/web-np/src/views/settings/general/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

perf: department page improve
  playground/src/adapter/vxe-table.ts
  playground/src/locales/langs/en-US/system.json
  playground/src/router/routes/modules/system.ts
  playground/src/views/system/dept/data.ts
  playground/src/views/system/dept/list.vue
  playground/src/views/system/dept/modules/form.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

feat: demo api middleware
  apps/backend-mock/middleware/1.api.ts
  playground/src/views/system/dept/list.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: add losing import
  apps/backend-mock/api/system/dept/.post.ts
  apps/backend-mock/api/system/dept/[id].delete.ts
  apps/backend-mock/api/system/dept/[id].put.ts
  apps/backend-mock/api/system/dept/list.ts
  apps/backend-mock/middleware/1.api.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

chore: demo page for system/department (#5611)
  apps/backend-mock/api/system/dept/.post.ts
  apps/backend-mock/api/system/dept/[id].delete.ts
  apps/backend-mock/api/system/dept/[id].put.ts
  apps/backend-mock/api/system/dept/list.ts
  apps/backend-mock/middleware/1.api.ts
  packages/@core/base/icons/src/lucide.ts
  packages/locales/src/index.ts
  packages/locales/src/langs/en-US/common.json
  packages/locales/src/langs/en-US/ui.json
  packages/locales/src/langs/zh-CN/common.json
  packages/locales/src/langs/zh-CN/ui.json
  playground/src/adapter/vxe-table.ts
  playground/src/api/system/dept.ts
  playground/src/locales/langs/en-US/system.json
  playground/src/locales/langs/zh-CN/system.json
  playground/src/router/routes/modules/system.ts
  playground/src/views/system/dept/data.ts
  playground/src/views/system/dept/list.vue
  playground/src/views/system/dept/modules/form.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: getPopupContainer will return closet form first
  packages/utils/src/helpers/get-popup-container.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: getPopupContainer will return closet form first (#5612)
  packages/utils/src/helpers/get-popup-container.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

chore: remove sleep in department list api
  apps/backend-mock/api/system/dept/list.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

feat: 搞了三个按钮
  playground/src/adapter/vxe-table.ts
  playground/src/myViews/taskList.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

feat: Update cogs settings
  apps/web-np/src/api/shop.ts
  apps/web-np/src/utils.ts
  apps/web-np/src/views/reports/order/table-config.ts
  apps/web-np/src/views/settings/cogs-handling-fees/form-modal.vue
  apps/web-np/src/views/settings/cogs-handling-fees/index.vue
  apps/web-np/src/views/settings/cogs-handling-fees/table-config.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

chore: add demo page `menu management`
  apps/backend-mock/api/system/menu/list.ts
  apps/backend-mock/api/system/menu/name-exists.ts
  apps/backend-mock/api/system/menu/path-exists.ts
  apps/backend-mock/utils/mock-data.ts
  packages/@core/ui-kit/form-ui/src/form-api.ts
  packages/locales/src/langs/en-US/common.json
  packages/locales/src/langs/en-US/ui.json
  packages/locales/src/langs/zh-CN/common.json
  packages/locales/src/langs/zh-CN/ui.json
  playground/src/adapter/vxe-table.ts
  playground/src/api/system/menu.ts
  playground/src/locales/langs/en-US/system.json
  playground/src/locales/langs/zh-CN/system.json
  playground/src/router/routes/index.ts
  playground/src/router/routes/modules/system.ts
  playground/src/views/system/menu/data.ts
  playground/src/views/system/menu/list.vue
  playground/src/views/system/menu/modules/form.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: menu icon show
  playground/src/views/system/menu/list.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: responsive form
  playground/src/views/system/menu/data.ts
  playground/src/views/system/menu/modules/form.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: missing import
  apps/backend-mock/api/system/menu/list.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

chore: demo page menu management (#5619)
  apps/backend-mock/api/system/menu/list.ts
  apps/backend-mock/api/system/menu/name-exists.ts
  apps/backend-mock/api/system/menu/path-exists.ts
  apps/backend-mock/utils/mock-data.ts
  packages/@core/ui-kit/form-ui/src/form-api.ts
  packages/locales/src/langs/en-US/common.json
  packages/locales/src/langs/en-US/ui.json
  packages/locales/src/langs/zh-CN/common.json
  packages/locales/src/langs/zh-CN/ui.json
  playground/src/adapter/vxe-table.ts
  playground/src/api/system/menu.ts
  playground/src/locales/langs/en-US/system.json
  playground/src/locales/langs/zh-CN/system.json
  playground/src/router/routes/index.ts
  playground/src/router/routes/modules/system.ts
  playground/src/views/system/menu/data.ts
  playground/src/views/system/menu/list.vue
  playground/src/views/system/menu/modules/form.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: useDrawer中closeIconPlacement设置无效
  packages/@core/ui-kit/popup-ui/src/drawer/drawer.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: useDrawer中closeIconPlacement设置无效 (#5624)
  packages/@core/ui-kit/popup-ui/src/drawer/drawer.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

docs: fix zod rules docs
  docs/src/components/common-ui/vben-form.md
Due: prettier --cache --ignore-unknown --write

fix: hideChildrenInMenu demo code
  playground/src/router/routes/modules/demos.ts
  playground/src/views/demos/features/hide-menu-children/children.vue
  playground/src/views/demos/features/hide-menu-children/parent.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: hideChildrenInMenu demo code (#5626)
  playground/src/router/routes/modules/demos.ts
  playground/src/views/demos/features/hide-menu-children/children.vue
  playground/src/views/demos/features/hide-menu-children/parent.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: breadcrumb style is affected by the globally-imported antd styles
  packages/@core/ui-kit/shadcn-ui/src/components/breadcrumb/breadcrumb-view.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: breadcrumb style is affected by the globally-imported antd styles (#5627)
  packages/@core/ui-kit/shadcn-ui/src/components/breadcrumb/breadcrumb-view.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

feat: add transaction settings
  apps/web-np/src/api/shop.ts
  apps/web-np/src/router/routes/modules/settings.ts
  apps/web-np/src/store/shop-settings.ts
  apps/web-np/src/views/onboard/index.vue
  apps/web-np/src/views/onboard/transactionFees.vue
  apps/web-np/src/views/settings/cogs-handling-fees/modules/select.vue
  apps/web-np/src/views/settings/transaction-fees/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

feat: settings zone and shipping fees
  apps/web-np/src/api/shop.ts
  apps/web-np/src/constants.ts
  apps/web-np/src/router/routes/modules/settings.ts
  apps/web-np/src/store/shop-settings.ts
  apps/web-np/src/views/settings/zone-shipping/form-modal.vue
  apps/web-np/src/views/settings/zone-shipping/index.vue
  apps/web-np/src/views/settings/zone-shipping/modules/countries.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: drawer close icon placement default value
  packages/@core/ui-kit/popup-ui/src/drawer/drawer-api.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

feat: setting - cogs - handling fees
  apps/web-np/src/constants.ts
  apps/web-np/src/store/shop-settings.ts
  apps/web-np/src/views/settings/cogs-handling-fees/cogs-form-modal.vue
  apps/web-np/src/views/settings/cogs-handling-fees/index.vue
  apps/web-np/src/views/settings/cogs-handling-fees/modules/products.vue
  apps/web-np/src/views/settings/cogs-handling-fees/product-form-modal.vue
  apps/web-np/src/views/settings/cogs-handling-fees/table-config.ts
  apps/web-np/src/views/settings/zone-shipping/index.vue
  apps/web-np/src/views/settings/zone-shipping/modules/countries.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

chore: update depts
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --cache --write

fix: logo style in login page is affected by the globally-imported antd styles
  packages/effects/layouts/src/authentication/authentication.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

docs: `vbenVxeTable` slots docs update
  docs/src/components/common-ui/vben-vxe-table.md
Due: prettier --cache --ignore-unknown --write

fix: 表单在compact 压缩模式下, 错误提示与输入框重叠
  packages/@core/ui-kit/form-ui/src/form-render/form-field.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

Update thin.md
  docs/src/guide/introduction/thin.md
Due: prettier --cache --ignore-unknown --write

docs: typo
  docs/src/guide/introduction/thin.md
Due: prettier --cache --ignore-unknown --write

fix: fix modal's close button disabled on locking
  packages/@core/ui-kit/popup-ui/src/modal/modal.vue
  packages/@core/ui-kit/shadcn-ui/src/ui/dialog/DialogContent.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

feat: add `lock` and `unlock` for drawerApi
  docs/src/components/common-ui/vben-drawer.md
  packages/@core/ui-kit/popup-ui/src/drawer/drawer-api.ts
  packages/@core/ui-kit/popup-ui/src/drawer/drawer.ts
  packages/@core/ui-kit/popup-ui/src/drawer/drawer.vue
  playground/src/views/examples/drawer/base-demo.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: modal's close button style in locking
  docs/src/components/common-ui/vben-modal.md
  packages/@core/ui-kit/popup-ui/src/modal/modal.vue
  playground/src/views/examples/modal/base-demo.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

feat: add `unlock` for modalApi
  docs/src/components/common-ui/vben-modal.md
  packages/@core/ui-kit/popup-ui/src/modal/modal-api.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix
