Repository vbenjs/vue-vben-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": ["prettier --cache --ignore-unknown  --write", "eslint --cache --fix"],
  "{!(package)*.json,*.code-snippets,.!(browserslist)*rc}": [
    "prettier --cache --write--parser json"
  ],
  "package.json": ["prettier --cache --write"],
  "*.vue": ["prettier --write", "eslint --cache --fix", "stylelint --fix"],
  "*.{scss,less,styl,html}": ["prettier --cache --ignore-unknown --write", "stylelint --fix"],
  "*.md": ["prettier --cache --ignore-unknown --write"]
}

chore: release v5.4.0-beta.1
  apps/web-antd/package.json
  apps/web-ele/package.json
  apps/web-naive/package.json
  docs/package.json
  internal/lint-configs/commitlint-config/package.json
  internal/lint-configs/stylelint-config/package.json
  internal/node-utils/package.json
  internal/tailwind-config/package.json
  internal/tsconfig/package.json
  internal/vite-config/package.json
  package.json
  packages/@core/base/design/package.json
  packages/@core/base/icons/package.json
  packages/@core/base/shared/package.json
  packages/@core/base/typings/package.json
  packages/@core/composables/package.json
  packages/@core/preferences/package.json
  packages/@core/ui-kit/layout-ui/package.json
  packages/@core/ui-kit/menu-ui/package.json
  packages/@core/ui-kit/shadcn-ui/package.json
  packages/@core/ui-kit/tabs-ui/package.json
  packages/constants/package.json
  packages/effects/access/package.json
  packages/effects/common-ui/package.json
  packages/effects/hooks/package.json
  packages/effects/layouts/package.json
  packages/effects/plugins/package.json
  packages/effects/request/package.json
  packages/icons/package.json
  packages/locales/package.json
  packages/preferences/package.json
  packages/stores/package.json
  packages/styles/package.json
  packages/types/package.json
  packages/utils/package.json
  playground/package.json
  scripts/turbo-run/package.json
  scripts/vsh/package.json
Due: prettier --cache --write

chore: release v5.4.0
  apps/web-antd/package.json
  apps/web-ele/package.json
  apps/web-naive/package.json
  docs/package.json
  internal/lint-configs/commitlint-config/package.json
  internal/lint-configs/stylelint-config/package.json
  internal/node-utils/package.json
  internal/tailwind-config/package.json
  internal/tsconfig/package.json
  internal/vite-config/package.json
  package.json
  packages/@core/base/design/package.json
  packages/@core/base/icons/package.json
  packages/@core/base/shared/package.json
  packages/@core/base/typings/package.json
  packages/@core/composables/package.json
  packages/@core/preferences/package.json
  packages/@core/ui-kit/layout-ui/package.json
  packages/@core/ui-kit/menu-ui/package.json
  packages/@core/ui-kit/shadcn-ui/package.json
  packages/@core/ui-kit/tabs-ui/package.json
  packages/constants/package.json
  packages/effects/access/package.json
  packages/effects/common-ui/package.json
  packages/effects/hooks/package.json
  packages/effects/layouts/package.json
  packages/effects/plugins/package.json
  packages/effects/request/package.json
  packages/icons/package.json
  packages/locales/package.json
  packages/preferences/package.json
  packages/stores/package.json
  packages/styles/package.json
  packages/types/package.json
  packages/utils/package.json
  playground/package.json
  scripts/turbo-run/package.json
  scripts/vsh/package.json
Due: prettier --cache --write

refactor: global components can be customized
  packages/@core/base/design/src/css/global.css
  packages/@core/base/design/src/design-tokens/dark.css
  packages/@core/base/design/src/design-tokens/default.css
  packages/@core/base/design/src/design-tokens/index.ts
  packages/@core/base/shared/build.config.ts
  packages/@core/base/shared/package.json
  packages/@core/base/shared/src/global-state.ts
  packages/@core/composables/src/use-sortable.ts
  packages/@core/ui-kit/form-ui/src/components/form-actions.vue
  packages/@core/ui-kit/form-ui/src/config.ts
  packages/@core/ui-kit/form-ui/src/types.ts
  packages/effects/common-ui/src/components/index.ts
  packages/locales/src/i18n.ts
  playground/src/adapter/components/index.ts
  playground/src/adapter/form.ts
  playground/src/bootstrap.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

chore: use taze to update deps
  package.json
Due: prettier --cache --write

chore: use taze to update deps (#4627)
  package.json
Due: prettier --cache --write

chore: typo
  README.md
Due: prettier --cache --ignore-unknown --write

fix: ci error
  packages/@core/base/shared/package.json
  pnpm-lock.yaml
Due: prettier --cache --write

fix: table search form slot not working as expected
  docs/src/components/common-ui/vben-vxe-table.md
  packages/effects/plugins/src/vxe-table/extends.ts
  packages/effects/plugins/src/vxe-table/formatter.ts
  packages/effects/plugins/src/vxe-table/init.ts
  packages/effects/plugins/src/vxe-table/use-vxe-grid.vue
  playground/src/views/examples/vxe-table/form.vue
  playground/src/views/examples/vxe-table/tree.vue
  playground/src/views/examples/vxe-table/virtual.vue
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: fixed rename and lint
  packages/@core/ui-kit/form-ui/src/components/form-actions.vue
  packages/@core/ui-kit/form-ui/src/vben-use-form.vue
  packages/effects/plugins/src/vxe-table/use-vxe-grid.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: update default query of error page
  apps/backend-mock/api/table/list.ts
  packages/effects/plugins/src/vxe-table/extends.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

refactor: remove the adapter bucket introduction pattern and improve potential introduction timing
  apps/web-antd/src/adapter/index.ts
  apps/web-ele/src/adapter/index.ts
  apps/web-naive/src/adapter/index.ts
  apps/web-naive/src/api/request.ts
  apps/web-naive/src/router/access.ts
  apps/web-naive/src/store/auth.ts
  docs/src/components/common-ui/vben-form.md
  docs/src/demos/vben-form/api/index.vue
  docs/src/demos/vben-form/basic/index.vue
  docs/src/demos/vben-form/custom/index.vue
  docs/src/demos/vben-form/dynamic/index.vue
  docs/src/demos/vben-form/query/index.vue
  docs/src/demos/vben-form/rules/index.vue
  internal/lint-configs/eslint-config/src/custom-config.ts
  playground/src/adapter/index.ts
  playground/src/views/examples/drawer/form-drawer-demo.vue
  playground/src/views/examples/form/api.vue
  playground/src/views/examples/form/basic.vue
  playground/src/views/examples/form/custom.vue
  playground/src/views/examples/form/dynamic.vue
  playground/src/views/examples/form/merge.vue
  playground/src/views/examples/form/query.vue
  playground/src/views/examples/form/rules.vue
  playground/src/views/examples/modal/form-model-demo.vue
  playground/src/views/examples/vxe-table/basic.vue
  playground/src/views/examples/vxe-table/custom-cell.vue
  playground/src/views/examples/vxe-table/edit-cell.vue
  playground/src/views/examples/vxe-table/edit-row.vue
  playground/src/views/examples/vxe-table/fixed.vue
  playground/src/views/examples/vxe-table/form.vue
  playground/src/views/examples/vxe-table/remote.vue
  playground/src/views/examples/vxe-table/tree.vue
  playground/src/views/examples/vxe-table/virtual.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

feat: add form slot for action area (#4621)
  packages/@core/ui-kit/form-ui/src/components/form-actions.vue
  packages/@core/ui-kit/form-ui/src/vben-use-form.vue
  packages/effects/plugins/src/vxe-table/use-vxe-grid.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

chore: update deps
  packages/effects/layouts/src/authentication/toolbar.vue
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: eslint --cache --fix, prettier --write, stylelint --fix

refactor: remove the adapter bucket introduction pattern and improve potential introduction timing (#4635)
  apps/web-antd/src/adapter/index.ts
  apps/web-ele/src/adapter/index.ts
  apps/web-naive/src/adapter/index.ts
  apps/web-naive/src/api/request.ts
  apps/web-naive/src/router/access.ts
  apps/web-naive/src/store/auth.ts
  docs/src/components/common-ui/vben-form.md
  docs/src/demos/vben-form/api/index.vue
  docs/src/demos/vben-form/basic/index.vue
  docs/src/demos/vben-form/custom/index.vue
  docs/src/demos/vben-form/dynamic/index.vue
  docs/src/demos/vben-form/query/index.vue
  docs/src/demos/vben-form/rules/index.vue
  internal/lint-configs/eslint-config/src/custom-config.ts
  packages/effects/layouts/src/authentication/toolbar.vue
  playground/src/adapter/index.ts
  playground/src/views/examples/drawer/form-drawer-demo.vue
  playground/src/views/examples/form/api.vue
  playground/src/views/examples/form/basic.vue
  playground/src/views/examples/form/custom.vue
  playground/src/views/examples/form/dynamic.vue
  playground/src/views/examples/form/merge.vue
  playground/src/views/examples/form/query.vue
  playground/src/views/examples/form/rules.vue
  playground/src/views/examples/modal/form-model-demo.vue
  playground/src/views/examples/vxe-table/basic.vue
  playground/src/views/examples/vxe-table/custom-cell.vue
  playground/src/views/examples/vxe-table/edit-cell.vue
  playground/src/views/examples/vxe-table/edit-row.vue
  playground/src/views/examples/vxe-table/fixed.vue
  playground/src/views/examples/vxe-table/form.vue
  playground/src/views/examples/vxe-table/remote.vue
  playground/src/views/examples/vxe-table/tree.vue
  playground/src/views/examples/vxe-table/virtual.vue
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: default theme colors cannot be overridden
  packages/@core/preferences/src/update-css-variables.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

chore: update default config
  packages/@core/preferences/__tests__/__snapshots__/config.test.ts.snap
  packages/@core/preferences/src/config.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: default theme colors cannot be overridden (#4636)
  packages/@core/preferences/__tests__/__snapshots__/config.test.ts.snap
  packages/@core/preferences/src/config.ts
  packages/@core/preferences/src/update-css-variables.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

build: fix the issues with the local build docker script
  package.json
  scripts/deploy/Dockerfile
  scripts/deploy/build-local-docker-image.sh
Due: prettier --cache --write

fix: fix the issues with the local build docker script
  package.json
  scripts/deploy/Dockerfile
  scripts/deploy/build-local-docker-image.sh
Due: prettier --cache --write

fix: optimized code
  apps/backend-mock/api/table/list.ts
  packages/effects/plugins/src/vxe-table/extends.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: internationalization issue of tabView title
  packages/stores/src/modules/tabbar.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: fix the issues with the local build docker script (#4647)
  package.json
  scripts/deploy/Dockerfile
  scripts/deploy/build-local-docker-image.sh
Due: prettier --cache --write

fix: tabView title 国际化切换问题
  packages/stores/src/modules/tabbar.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: login page brand color does not take effect
  packages/effects/layouts/src/widgets/color-toggle.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

chore: update deps
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

fix: tabView title internationalization switchover problem (#4652)
  packages/stores/src/modules/tabbar.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: login page brand color does not take effect (#4655)
  packages/effects/layouts/src/widgets/color-toggle.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

chore: lint fix
  apps/web-antd/src/locales/index.ts
  apps/web-ele/src/locales/index.ts
  docs/.vitepress/theme/styles/index.ts
  docs/src/demos/vben-form/api/index.vue
  packages/@core/base/design/src/index.ts
  packages/effects/access/src/accessible.ts
  packages/effects/layouts/src/widgets/preferences/blocks/theme/builtin.vue
  packages/effects/layouts/src/widgets/preferences/blocks/theme/theme.vue
  playground/src/locales/index.ts
  playground/src/views/examples/form/api.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: variables
  internal/vite-config/src/config/index.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

feat: limit the drag range of tabs, fixed #4640
  packages/@core/ui-kit/tabs-ui/src/components/tabs-chrome/tabs.vue
  packages/@core/ui-kit/tabs-ui/src/components/tabs/tabs.vue
  packages/@core/ui-kit/tabs-ui/src/use-tabs-drag.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

style:Adaptation issues in dark mode
  packages/@core/ui-kit/menu-ui/src/components/menu.vue
  packages/@core/ui-kit/menu-ui/src/components/normal-menu/normal-menu.vue
  packages/@core/ui-kit/tabs-ui/src/components/tabs-chrome/tabs.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: total field parsing
  packages/effects/plugins/src/vxe-table/extends.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

style:Adaptation issues in dark mode
  packages/@core/ui-kit/menu-ui/src/components/menu.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

chore: variables typo (#4658)
  internal/vite-config/src/config/index.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

feat: limit the drag range of tabs, fixed #4640 (#4659)
  packages/@core/ui-kit/tabs-ui/src/components/tabs-chrome/tabs.vue
  packages/@core/ui-kit/tabs-ui/src/components/tabs/tabs.vue
  packages/@core/ui-kit/tabs-ui/src/use-tabs-drag.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

复原
  packages/@core/ui-kit/menu-ui/src/components/menu.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix
