Repository vbenjs/vue-vben-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": ["prettier --cache --ignore-unknown  --write", "eslint --cache --fix"],
  "{!(package)*.json,*.code-snippets,.!(browserslist)*rc}": [
    "prettier --cache --write--parser json"
  ],
  "package.json": ["prettier --cache --write"],
  "*.vue": ["prettier --write", "eslint --cache --fix", "stylelint --fix"],
  "*.{scss,less,styl,html}": ["prettier --cache --ignore-unknown --write", "stylelint --fix"],
  "*.md": ["prettier --cache --ignore-unknown --write"]
}

fix: ensure trigger function is awaited in useDependencies (#7830)
  packages/@core/ui-kit/form-ui/src/form-render/dependencies.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix(@vben/stores): respect base URL when opening route in new window
  packages/effects/hooks/src/use-tabs.ts
  packages/stores/src/modules/tabbar.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

feat: 添加日期格式化函数的空值处理
  packages/@core/base/shared/src/utils/date.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

feat(watermark): 添加暗黑模式水印颜色适配
  apps/web-antd/src/layouts/basic.vue
  apps/web-antdv-next/src/layouts/basic.vue
  apps/web-ele/src/layouts/basic.vue
  apps/web-naive/src/layouts/basic.vue
  apps/web-tdesign/src/layouts/basic.vue
  playground/src/layouts/basic.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

refactor(watermark): 移除布局中的暗色模式处理并集中到水印钩子中
  apps/web-antd/src/layouts/basic.vue
  apps/web-antdv-next/src/layouts/basic.vue
  apps/web-ele/src/layouts/basic.vue
  apps/web-naive/src/layouts/basic.vue
  apps/web-tdesign/src/layouts/basic.vue
  packages/effects/hooks/src/use-watermark.ts
  playground/src/layouts/basic.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

refactor(hooks): 优化水印钩子的状态管理和清理逻辑
  packages/effects/hooks/src/use-watermark.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix(tabbar): 修复标签页关闭时缓存清理不彻底的问题
  packages/stores/src/modules/tabbar.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

feat(tabbar): 添加组件引用计数功能优化标签页管理
  packages/stores/src/modules/tabbar.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

feat(水印): 添加水印透明度配置选项
  packages/@core/preferences/src/config.ts
  packages/@core/preferences/src/types.ts
  packages/effects/layouts/src/basic/layout.vue
  packages/effects/layouts/src/widgets/preferences/blocks/general/general.vue
  packages/effects/layouts/src/widgets/preferences/preferences-drawer.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

feat(watermark): 支持暗黑模式并增强水印防篡改能力
  packages/effects/hooks/src/use-watermark.ts
  packages/effects/layouts/src/basic/layout.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

refactor(watermark): 重构水印功能实现方式
  packages/effects/hooks/src/use-watermark.ts
  packages/effects/layouts/src/basic/layout.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

refactor(hooks): 简化水印颜色处理逻辑
  packages/effects/hooks/src/use-watermark.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

feat(workbench): 添加核心依赖监控组件
  apps/web-antd/src/views/dashboard/workspace/index.vue
  packages/effects/common-ui/src/ui/dashboard/workbench/dependencies.ts
  packages/effects/common-ui/src/ui/dashboard/workbench/index.ts
  packages/effects/common-ui/src/ui/dashboard/workbench/workbench-dependencies.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

feat(workbench): 优化依赖项显示布局并清理版本号
  packages/effects/common-ui/src/ui/dashboard/workbench/dependencies.ts
  packages/effects/common-ui/src/ui/dashboard/workbench/workbench-dependencies.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix(workbench): 修复依赖版本显示问题并添加暗黑模式样式
  packages/effects/common-ui/src/ui/dashboard/workbench/dependencies.ts
  packages/effects/common-ui/src/ui/dashboard/workbench/workbench-dependencies.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

feat: refactor context menu to capture native events
  packages/@core/ui-kit/shadcn-ui/src/components/context-menu/context-menu.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: refactor context-menu.vue for improved structure
  packages/@core/ui-kit/shadcn-ui/src/components/context-menu/context-menu.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

chore: fix format
  packages/@core/ui-kit/shadcn-ui/src/components/context-menu/context-menu.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

chore: remove dead code
  packages/@core/ui-kit/shadcn-ui/src/components/context-menu/context-menu.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

chore: fix lint
  packages/@core/ui-kit/shadcn-ui/src/components/context-menu/context-menu.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: update contenteditable selector in context menu
  packages/@core/ui-kit/shadcn-ui/src/components/context-menu/context-menu.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

feat(@vben/plugins): tiptap 支持图片上传功能
  packages/effects/plugins/package.json
  packages/effects/plugins/src/tiptap/extensions.ts
  packages/effects/plugins/src/tiptap/style.css
  packages/effects/plugins/src/tiptap/tiptap.vue
  packages/effects/plugins/src/tiptap/toolbar.ts
  packages/effects/plugins/src/tiptap/types.ts
  packages/locales/src/langs/en-US/ui.json
  packages/locales/src/langs/zh-CN/ui.json
  playground/src/views/examples/tiptap/index.vue
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

feat(@vben/plugins): 补充 tiptap 图片上传类型、工具栏和示例
  packages/effects/plugins/src/tiptap/toolbar.ts
  packages/effects/plugins/src/tiptap/types.ts
  playground/src/views/examples/tiptap/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix(@vben/plugins): 根据代码审查意见修复 tiptap 图片上传
  packages/effects/plugins/src/tiptap/extensions.ts
  packages/effects/plugins/src/tiptap/tiptap.vue
  packages/effects/plugins/src/tiptap/toolbar.ts
  packages/effects/plugins/src/tiptap/types.ts
  packages/locales/src/langs/en-US/ui.json
  packages/locales/src/langs/zh-CN/ui.json
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

feat: refactor context menu to capture native events (#7858)
  packages/@core/ui-kit/shadcn-ui/src/components/context-menu/context-menu.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: issue in tab bar chrome height is not full due to wrapper element `div`
  packages/@core/ui-kit/shadcn-ui/src/components/context-menu/context-menu.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: 修复 IconPicker 在手动输入时表单值不更新的问题
  packages/effects/common-ui/src/components/icon-picker/icon-picker.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: Fix preference settings not have time zone option
  packages/effects/layouts/src/widgets/preferences/blocks/layout/widget.vue
  packages/effects/layouts/src/widgets/preferences/preferences-drawer.vue
  packages/locales/src/langs/en-US/preferences.json
  packages/locales/src/langs/zh-CN/preferences.json
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix(@vben/stores): respect base URL when opening route in new window
  packages/stores/src/modules/tabbar.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: issue in tab bar chrome height is not full due to wrapper element `div` (#7867)
  packages/@core/ui-kit/shadcn-ui/src/components/context-menu/context-menu.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: 修复 IconPicker 在手动输入时表单值不更新的问题 (#7869)
  packages/effects/common-ui/src/components/icon-picker/icon-picker.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix(@vben/stores): respect base URL when opening route in new window (#7837)
  packages/effects/hooks/src/use-tabs.ts
  packages/stores/src/modules/tabbar.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

chore: 更新 FTP 部署操作版本
  .github/workflows/deploy.yml
Due: none

chore: 更新依赖包版本
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

feat: add time zone option to preference settings (#7871)
  packages/effects/layouts/src/widgets/preferences/blocks/layout/widget.vue
  packages/effects/layouts/src/widgets/preferences/preferences-drawer.vue
  packages/locales/src/langs/en-US/preferences.json
  packages/locales/src/langs/zh-CN/preferences.json
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix(other): 修复 oxlint ignorePatterns 导致 pre-commit hook 失败
  lefthook.yml
Due: none

fix(@vben-core/shadcn-ui): 修复 Input 组件 focus 时边框被父容器 overflow hidden 裁剪
  packages/@core/ui-kit/shadcn-ui/src/ui/input/Input.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix(@vben-core/shadcn-ui): 修复 SelectTrigger 组件 focus 时边框被父容器 overflow hidden 裁剪
  packages/@core/ui-kit/shadcn-ui/src/ui/select/SelectTrigger.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

feat(@vben-core/shared): 新增indexedDB
  packages/@core/base/shared/src/cache/README.md
  packages/@core/base/shared/src/cache/__tests__/storage-manager.test.ts
  packages/@core/base/shared/src/cache/index.ts
  packages/@core/base/shared/src/cache/indexeddb-driver.ts
  packages/@core/base/shared/src/cache/local-storage-driver.ts
  packages/@core/base/shared/src/cache/memory-storage-driver.ts
  packages/@core/base/shared/src/cache/storage-manager.ts
  packages/@core/base/shared/src/cache/types.ts
  packages/@core/preferences/__tests__/preferences.test.ts
  packages/@core/preferences/src/preferences.ts
  packages/effects/layouts/src/widgets/preferences/preferences-drawer.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix
