Repository vbenjs/vue-vben-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": ["prettier --cache --ignore-unknown  --write", "eslint --cache --fix"],
  "{!(package)*.json,*.code-snippets,.!(browserslist)*rc}": [
    "prettier --cache --write--parser json"
  ],
  "package.json": ["prettier --cache --write"],
  "*.vue": ["prettier --write", "eslint --cache --fix", "stylelint --fix"],
  "*.{scss,less,styl,html}": ["prettier --cache --ignore-unknown --write", "stylelint --fix"],
  "*.md": ["prettier --cache --ignore-unknown --write"]
}

chore: clean up spec workflow templates formatting
  .spec-workflow/templates/design-template.md
  .spec-workflow/templates/product-template.md
  .spec-workflow/templates/requirements-template.md
  .spec-workflow/templates/structure-template.md
  .spec-workflow/templates/tech-template.md
Due: prettier --cache --ignore-unknown --write

feat: add spec workflow configuration
  .spec-workflow/config.toml
Due: none

feat: add FactoryOS project steering documents
  .spec-workflow/steering/product.md
  .spec-workflow/steering/structure.md
  .spec-workflow/steering/tech.md
Due: prettier --cache --ignore-unknown --write

feat: add spec workflow approval system
  .spec-workflow/approvals/steering/approval_1760598341202_fr0g9mj3u.json
  .spec-workflow/approvals/steering/approval_1760599299002_20wru9skp.json
Due: none

fix: update approval status and template formatting
  .spec-workflow/approvals/steering/approval_1760598341202_fr0g9mj3u.json
  .spec-workflow/approvals/steering/approval_1760599299002_20wru9skp.json
  .spec-workflow/steering/product.md
  .spec-workflow/steering/structure.md
  .spec-workflow/steering/tech.md
  .spec-workflow/templates/design-template.md
  .spec-workflow/templates/product-template.md
  .spec-workflow/templates/requirements-template.md
  .spec-workflow/templates/structure-template.md
  .spec-workflow/templates/tech-template.md
Due: prettier --cache --ignore-unknown --write

chore(project): 升级@types/node版本，使apps/web-ele的vite.config.mts不再爆红
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

docs(project): 为项目文档添加git提交规范和原文档的指引
  README.md
  README.origin.md
Due: prettier --cache --ignore-unknown --write

chore(@vben/web-ele): 初始化鉴权项目，为项目添加服务器代理地址和关闭mock服务
  README.md
  apps/web-ele/.env.development
  apps/web-ele/vite.config.mts
Due: prettier --cache --ignore-unknown --write

docs: 完善 FactoryOS 项目文档体系和工作流模板
  .bmad-core/enhanced-ide-development-workflow.md
  .bmad-core/user-guide.md
  .bmad-core/working-in-the-brownfield.md
  .claude/settings.local.json
  .spec-workflow/templates/design-template.md
  .spec-workflow/templates/product-template.md
  .spec-workflow/templates/requirements-template.md
  .spec-workflow/templates/structure-template.md
  .spec-workflow/templates/tech-template.md
  docs/architecture.md
  docs/prd.md
  docs/prd/checklist-results-report.md
  docs/prd/epic-列表.md
  docs/prd/epic-详细设计.md
  docs/prd/index.md
  docs/prd/next-steps.md
  docs/prd/技术假设.md
  docs/prd/用户界面设计目标.md
  docs/prd/目标和背景上下文.md
  docs/prd/需求.md
  docs/需求文档.pdf
Due: prettier --cache --ignore-unknown --write

fix: 修复mock-data.ts父id错误
  apps/backend-mock/utils/mock-data.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

Update README.md
  README.md
Due: prettier --cache --ignore-unknown --write

style: 统一文档格式和换行符标准化
  .bmad-core/enhanced-ide-development-workflow.md
  .bmad-core/user-guide.md
  .bmad-core/working-in-the-brownfield.md
  .spec-workflow/templates/design-template.md
  .spec-workflow/templates/product-template.md
  .spec-workflow/templates/requirements-template.md
  .spec-workflow/templates/structure-template.md
  .spec-workflow/templates/tech-template.md
  docs/architecture.md
  docs/prd.md
  docs/prd/checklist-results-report.md
  docs/prd/epic-详细设计.md
  docs/prd/next-steps.md
  docs/prd/目标和背景上下文.md
Due: prettier --cache --ignore-unknown --write

fix: 优化左侧和右侧认证面板动画效果
  packages/@core/base/design/src/css/ui.css
  packages/effects/layouts/src/authentication/authentication.vue
  packages/effects/layouts/src/authentication/form.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: 锁屏和解锁密码输入框自动聚焦
  packages/effects/layouts/src/widgets/lock-screen/lock-screen-modal.vue
  packages/effects/layouts/src/widgets/lock-screen/lock-screen.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: 优化Checkbox组件hover样式,Input组件placeholder样式,TabsList组件圆角样式
  packages/@core/ui-kit/shadcn-ui/src/ui/checkbox/Checkbox.vue
  packages/@core/ui-kit/shadcn-ui/src/ui/input/Input.vue
  packages/@core/ui-kit/shadcn-ui/src/ui/tabs/TabsList.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

chore: 优化侧边栏展开折叠图标
  packages/@core/ui-kit/layout-ui/src/vben-layout.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: 修复对话框modal组件方法名错误
  packages/@core/ui-kit/popup-ui/src/modal/modal.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: 调整zh-CN/system.json中<"title": "系统管理">配置位置，保持与en-US/system.json中位置一致
  playground/src/locales/langs/zh-CN/system.json
Due: none

fix: 优化双列布局组件点击展开左侧按钮位置不居中问题
  playground/src/views/examples/layout/col-page.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: update ai assistant hub theming
  apps/web-antd/src/views/ai-assistant/components/AssistantCard.vue
  apps/web-antd/src/views/ai-assistant/hub/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

feat(@vben/web-ele): 基本完成登录和登出(当前不可见)
  apps/web-ele/.env
  apps/web-ele/src/api/core/auth.ts
  apps/web-ele/src/api/core/user.ts
  apps/web-ele/src/locales/langs/en-US/authentication.json
  apps/web-ele/src/locales/langs/zh-CN/authentication.json
  apps/web-ele/src/preferences.ts
  apps/web-ele/src/store/auth.ts
  apps/web-ele/src/views/_core/authentication/login.vue
  package.json
  packages/@core/base/typings/src/basic.d.ts
  packages/effects/request/src/request-client/types.ts
  packages/stores/src/modules/access.ts
  packages/stores/src/modules/user.ts
  packages/types/package.json
  packages/types/src/user.ts
  pnpm-lock.yaml
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

feat(spec-workflow): Standardize and refine workflow documentation templates
  .spec-workflow/templates/design-template.md
  .spec-workflow/templates/product-template.md
  .spec-workflow/templates/requirements-template.md
  .spec-workflow/templates/structure-template.md
  .spec-workflow/templates/tech-template.md
  apps/web-antd/src/api/ai-assistant.ts
  apps/web-antd/src/locales/langs/en-US/page.json
  apps/web-antd/src/locales/langs/zh-CN/page.json
  apps/web-antd/src/router/routes/modules/ai-assistant.ts
  apps/web-antd/src/views/ai-assistant/chat/index.vue
  apps/web-antd/src/views/ai-assistant/components/AssistantCard.vue
  apps/web-antd/src/views/ai-assistant/hub/index.vue
  apps/web-antd/src/views/ai-assistant/index.vue
  apps/web-antd/src/views/ai-assistant/test/index.vue
  packages/@core/preferences/__tests__/__snapshots__/config.test.ts.snap
  packages/types/src/ai-assistant.ts
  packages/types/src/index.ts
  pnpm-lock.yaml
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

style(spec-workflow): Standardize markdown formatting across workflow templates
  .spec-workflow/templates/design-template.md
  .spec-workflow/templates/product-template.md
  .spec-workflow/templates/requirements-template.md
  .spec-workflow/templates/structure-template.md
  .spec-workflow/templates/tech-template.md
  apps/web-antd/src/api/ai-assistant.ts
  apps/web-antd/src/router/routes/modules/ai-assistant.ts
  apps/web-antd/src/views/ai-assistant/hub/index.vue
  apps/web-antd/src/views/ai-assistant/index.vue
  apps/web-antd/src/views/ai-assistant/test/index.vue
  lefthook.yml
  packages/types/src/ai-assistant.ts
  packages/types/src/index.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

refactor(ai-assistant): Simplify AI chat interface and remove unnecessary features
  apps/web-antd/src/views/ai-assistant/chat/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

feat: increase support for multiple time zones
  apps/backend-mock/api/profile/timezone.ts
  apps/backend-mock/api/user/setTimezone.ts
  apps/backend-mock/api/user/timezone.ts
  apps/backend-mock/utils/mock-data.ts
  apps/backend-mock/utils/timezone-utils.ts
  apps/web-antd/src/api/core/index.ts
  apps/web-antd/src/api/core/user-profile.ts
  apps/web-antd/src/layouts/basic.vue
  apps/web-antd/src/store/index.ts
  apps/web-antd/src/store/user-profile.ts
  apps/web-ele/src/api/core/index.ts
  apps/web-ele/src/api/core/user-profile.ts
  apps/web-ele/src/layouts/basic.vue
  apps/web-ele/src/store/index.ts
  apps/web-ele/src/store/user-profile.ts
  apps/web-naive/src/api/core/index.ts
  apps/web-naive/src/api/core/user-profile.ts
  apps/web-naive/src/layouts/basic.vue
  apps/web-naive/src/store/index.ts
  apps/web-naive/src/store/user-profile.ts
  packages/@core/base/shared/src/utils/date.ts
  packages/@core/base/typings/src/index.ts
  packages/@core/base/typings/src/user-profile.d.ts
  packages/@core/preferences/src/config.ts
  packages/@core/preferences/src/types.ts
  packages/effects/layouts/src/basic/header/header.vue
  packages/effects/layouts/src/basic/layout.vue
  packages/effects/layouts/src/widgets/index.ts
  packages/effects/layouts/src/widgets/timezone/index.ts
  packages/effects/layouts/src/widgets/timezone/timezone-button.vue
  packages/locales/src/langs/en-US/ui.json
  packages/locales/src/langs/zh-CN/ui.json
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

feat: increase support for multiple time zones
  apps/backend-mock/utils/timezone-utils.ts
  apps/web-antd/src/layouts/basic.vue
  apps/web-antd/src/store/user-profile.ts
  apps/web-ele/src/layouts/basic.vue
  apps/web-ele/src/store/user-profile.ts
  apps/web-naive/src/layouts/basic.vue
  apps/web-naive/src/store/user-profile.ts
  packages/@core/preferences/__tests__/__snapshots__/config.test.ts.snap
  packages/effects/layouts/src/widgets/timezone/timezone-button.vue
  packages/effects/plugins/src/echarts/use-echarts.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

feat: increase support for multiple time zones
  packages/effects/layouts/src/widgets/timezone/timezone-button.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

feat: increase support for multiple time zones
  apps/web-antd/src/store/user-profile.ts
  apps/web-ele/src/store/user-profile.ts
  apps/web-naive/src/store/user-profile.ts
  packages/effects/layouts/src/widgets/timezone/timezone-button.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

feat(ai-assistant): Enhance Dify chat iframe with dynamic configuration
  apps/web-antd/src/views/ai-assistant/chat/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

refactor: 重命名文档目录从docs到doc并优化工作流模板
  .spec-workflow/templates/design-template.md
  .spec-workflow/templates/product-template.md
  .spec-workflow/templates/requirements-template.md
  .spec-workflow/templates/structure-template.md
  .spec-workflow/templates/tech-template.md
  doc/architecture.md
  doc/prd.md
  doc/prd/checklist-results-report.md
  doc/prd/epic-列表.md
  doc/prd/epic-详细设计.md
  doc/prd/index.md
  doc/prd/next-steps.md
  doc/prd/技术假设.md
  doc/prd/用户界面设计目标.md
  doc/prd/目标和背景上下文.md
  doc/prd/需求.md
Due: prettier --cache --ignore-unknown --write

refactor: 重构项目文档结构并优化工作流格式
  .bmad-core/checklists/architect-checklist.md
  .bmad-core/checklists/change-checklist.md
  .bmad-core/checklists/pm-checklist.md
  .bmad-core/checklists/po-master-checklist.md
  .bmad-core/data/bmad-kb.md
  .bmad-core/install-manifest.yaml
  .bmad-core/tasks/brownfield-create-story.md
  .bmad-core/tasks/create-brownfield-story.md
  .bmad-core/tasks/create-deep-research-prompt.md
  .bmad-core/tasks/document-project.md
  .bmad-core/tasks/facilitate-brainstorming-session.md
  .bmad-core/tasks/index-docs.md
  .bmad-core/tasks/nfr-assess.md
  .bmad-core/tasks/review-story.md
  .bmad-core/tasks/risk-profile.md
  .bmad-core/tasks/shard-doc.md
  .bmad-core/tasks/test-design.md
  .gitignore
  AGENTS.md
  doc/architecture.md
  doc/prd.md
  doc/prd/checklist-results-report.md
  doc/prd/epic-列表.md
  doc/prd/epic-详细设计.md
  doc/prd/index.md
  doc/prd/next-steps.md
  doc/prd/技术假设.md
  doc/prd/用户界面设计目标.md
  doc/prd/目标和背景上下文.md
  doc/prd/需求.md
  package.json
Due: prettier --cache --ignore-unknown --write, prettier --cache --write

chore: 更新工作区配置以匹配新的文档路径
  vben-admin.code-workspace
Due: none

chore: 清理文档移动后的路径引用
  doc/architecture.md
  doc/prd.md
Due: prettier --cache --ignore-unknown --write

docs: 补充项目现状评估与技术差距分析
  docs/prd.md
Due: prettier --cache --ignore-unknown --write
