Repository vbenjs/vue-vben-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": ["prettier --cache --ignore-unknown  --write", "eslint --cache --fix"],
  "{!(package)*.json,*.code-snippets,.!(browserslist)*rc}": [
    "prettier --cache --write--parser json"
  ],
  "package.json": ["prettier --cache --write"],
  "*.vue": ["prettier --write", "eslint --cache --fix", "stylelint --fix"],
  "*.{scss,less,styl,html}": ["prettier --cache --ignore-unknown --write", "stylelint --fix"],
  "*.md": ["prettier --cache --ignore-unknown --write"]
}

feat: 站内支持API接口地址切换,解决冲突,新增开关显示
  src/hooks/setting/useHeaderSetting.ts
  src/layouts/default/header/components/user-dropdown/index.vue
  src/locales/lang/en/layout.json
  src/locales/lang/zh-CN/layout.json
  src/settings/projectSetting.ts
  types/config.d.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: preview upload result file name nowrap
  src/components/Upload/src/FileList.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

chore: modify i18 to be uploaded
  src/components/Upload/src/data.tsx
  src/locales/lang/en/component.json
  src/locales/lang/zh-CN/component.json
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

站内支持API接口地址切换 (#3162)
  src/enums/cacheEnum.ts
  src/hooks/setting/useHeaderSetting.ts
  src/layouts/default/header/components/ChangeApi/index.vue
  src/layouts/default/header/components/user-dropdown/index.vue
  src/locales/lang/en/layout.json
  src/locales/lang/zh-CN/layout.json
  src/settings/projectSetting.ts
  src/store/modules/app.ts
  src/utils/env.ts
  types/config.d.ts
  types/store.d.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

feat: 增加文本省略组件 (#3180)
  src/components/EllipsisText/index.ts
  src/components/EllipsisText/src/EllipsisText.vue
  src/components/EllipsisText/src/Tooltip.vue
  src/components/EllipsisText/src/_utils.ts
  src/components/Form/src/components/ApiTreeSelect.vue
  src/locales/lang/en/routes/demo.json
  src/locales/lang/zh-CN/routes/demo.json
  src/router/routes/modules/demo/feat.ts
  src/views/demo/feat/ellipsis/index.vue
  src/views/demo/form/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

chore: typing & i18n
  src/components/Upload/src/UploadModal.vue
  src/components/Upload/src/UploadPreviewModal.vue
  src/components/Upload/src/data.tsx
  src/components/Upload/src/typing.ts
  src/locales/lang/en/component.json
  src/locales/lang/zh-CN/component.json
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix(Upload): The file name is too long bug (#3182)
  src/components/Upload/src/FileList.vue
  src/components/Upload/src/UploadModal.vue
  src/components/Upload/src/UploadPreviewModal.vue
  src/components/Upload/src/data.tsx
  src/components/Upload/src/typing.ts
  src/locales/lang/en/component.json
  src/locales/lang/zh-CN/component.json
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

feat: 增加表单复选框全选组件
  src/components/Form/src/componentMap.ts
  src/components/Form/src/components/AllCheckboxGroup.vue
  src/components/Form/src/helper.ts
  src/components/Form/src/types/index.ts
  src/views/demo/form/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix(tree): remove expandedKeys prop default value
  src/components/Tree/src/types/tree.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix(tree): remove expandedKeys prop default value (#3184)
  src/components/Tree/src/types/tree.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

chore(TableFooter): resolve ts type error
  src/components/Table/src/components/TableFooter.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

chore(ATypographyParagraph): fix type:check
  src/layouts/default/header/components/notify/NoticeList.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

chore(ATypographyParagraph): fix type:check (#3187)
  src/layouts/default/header/components/notify/NoticeList.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix(BasicTable): pagination exceeds page height. close #3185
  src/components/Table/src/BasicTable.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

Update README.md
  README.md
Due: prettier --cache --ignore-unknown --write

Update README.zh-CN.md
  README.zh-CN.md
Due: prettier --cache --ignore-unknown --write

fix(setting): 修复设置弹框滚动条样式问题
  src/components/Drawer/src/BasicDrawer.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: 修复设置抽屉弹框滚动条样式异常
  src/components/Drawer/src/BasicDrawer.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: 修复设置抽屉弹框滚动条样式异常 (#3193)
  src/components/Drawer/src/BasicDrawer.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: async validator
  src/views/demo/form/RuleForm.vue
  src/views/demo/system/account/account.data.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: async validator (#3194)
  src/views/demo/form/RuleForm.vue
  src/views/demo/system/account/account.data.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: checkedKeys use unref bug
  src/views/demo/table/FormTable.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: checkedKeys use unref bug (#3198)
  src/views/demo/table/FormTable.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: 修复黑暗模式下一些样式问题
  src/design/dark.less
  src/design/index.less
  src/layouts/default/header/index.less
  src/layouts/default/tabs/index.less
  src/views/demo/comp/modal/Modal4.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

chore: refactor dark.less
  src/design/dark.less
  src/design/theme.less
Due: prettier --cache --ignore-unknown --write, stylelint --fix

fix: 修复黑暗模式下一些样式问题 (#3201)
  src/design/dark.less
  src/design/index.less
  src/design/theme.less
  src/layouts/default/header/index.less
  src/layouts/default/tabs/index.less
  src/views/demo/comp/modal/Modal4.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: 修复黑暗模式下一些样式问题
  internal/vite-config/src/utils/modifyVars.ts
  src/components/Application/src/AppDarkModeToggle.vue
  src/components/Modal/src/index.less
  src/design/ant/btn.less
  src/design/color.less
  src/design/dark.less
  src/layouts/default/header/index.less
  src/logics/initAppConfig.ts
  src/logics/theme/updateBackground.ts
  src/views/demo/page/form/step/Step1.vue
  src/views/demo/page/list/basic/index.vue
  src/views/demo/page/list/card/index.vue
  src/views/sys/login/Login.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix
