Repository vbenjs/vue-vben-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": ["prettier --cache --ignore-unknown  --write", "eslint --cache --fix"],
  "{!(package)*.json,*.code-snippets,.!(browserslist)*rc}": [
    "prettier --cache --write--parser json"
  ],
  "package.json": ["prettier --cache --write"],
  "*.vue": ["prettier --write", "eslint --cache --fix", "stylelint --fix"],
  "*.{scss,less,styl,html}": ["prettier --cache --ignore-unknown --write", "stylelint --fix"],
  "*.md": ["prettier --cache --ignore-unknown --write"]
}

fix: isible deprecated warnings (#3029)
  src/components/Table/src/components/settings/ColumnSetting.vue
  src/views/demo/form/UseForm.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

feat: BasicTable 组件 HeaderCell 新增(类customRender) customHeaderRender 方法 自定义渲染支持 (#3030)
  src/components/Table/src/BasicTable.vue
  src/components/Table/src/components/EditTableHeaderIcon.vue
  src/components/Table/src/components/HeaderCell.vue
  src/components/Table/src/types/table.ts
  src/views/demo/table/tableData.tsx
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

chore: 关闭eslint的no-undef规则校验
  .eslintrc.js
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

chore(VFormDesign): 替换表单设计组件的modal是否可见属性
  src/views/form-design/components/VFormDesign/components/CodeModal.vue
  src/views/form-design/components/VFormDesign/components/ImportJsonModal.vue
  src/views/form-design/components/VFormDesign/components/JsonModal.vue
  src/views/form-design/components/VFormPreview/index.vue
  src/views/form-design/components/VFormPreview/useForm.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

chore(BasicTable): emit传参类型问题
  src/components/Table/src/BasicTable.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

chore(Table): 调整函数参数类型
  src/components/Table/src/hooks/useDataSource.ts
  src/components/Table/src/types/table.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

chore: 调整expandedRowKeys数据类型
  src/components/Table/src/hooks/useTableExpand.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

chore(Table): 完善TableRowSelection接口类型
  src/components/Table/src/types/table.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

chore(Table): 完善useRowSelection 文件的类型问题
  src/components/Table/src/hooks/useRowSelection.ts
  src/components/Table/src/hooks/useTableScroll.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

chore(useColumns): key赋值的类型问题
  src/components/Table/src/hooks/useColumns.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

chore(useDataSource): setTableData的类型问题
  src/components/Table/src/hooks/useDataSource.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

chore: 替换rowKeys类型为 (string|number)[]
  src/components/Table/src/hooks/useTable.ts
  src/components/Table/src/hooks/useTableExpand.ts
  src/components/Table/src/types/table.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix(edit-cell): 修复edit table Popover 传参问题
  src/components/Table/src/components/editable/CellComponent.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix(Table): handleItem函数进行绑定key dataIndex可能为数组，造成类型错误提示
  src/components/Table/src/hooks/useColumns.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

chore: 解决 ESLint no-undef 规则校验问题和 basicTable 组件的类型问题，替换popover组件的 visible 属性。 (#3033)
  .eslintrc.js
  src/components/Table/src/BasicTable.vue
  src/components/Table/src/components/editable/CellComponent.ts
  src/components/Table/src/hooks/useColumns.ts
  src/components/Table/src/hooks/useDataSource.ts
  src/components/Table/src/hooks/useRowSelection.ts
  src/components/Table/src/hooks/useTable.ts
  src/components/Table/src/hooks/useTableExpand.ts
  src/components/Table/src/hooks/useTableScroll.ts
  src/components/Table/src/types/table.ts
  src/views/form-design/components/VFormDesign/components/CodeModal.vue
  src/views/form-design/components/VFormDesign/components/ImportJsonModal.vue
  src/views/form-design/components/VFormDesign/components/JsonModal.vue
  src/views/form-design/components/VFormPreview/index.vue
  src/views/form-design/components/VFormPreview/useForm.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

perf: 指令权限v-auth支持并显示按钮权限
  src/hooks/web/usePermission.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

perf: 指令权限v-auth支持并显示按钮权限 (#3035)
  src/hooks/web/usePermission.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: FormAction组件 绑定表单提交事件
  src/components/Form/src/components/FormAction.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: Change role to toles for LoginResultModel
  src/api/sys/model/userModel.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: type check failed for prop 'onClick'
  src/components/Button/src/props.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix(axiox): get等方法配置ignoreCancelToken无效
  src/utils/http/axios/Axios.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix(axios): get等方法配置ignoreCancelToken无效
  src/utils/http/axios/Axios.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: FormAction组件 绑定表单提交事件 (#3036)
  src/components/Form/src/components/FormAction.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: Change role to toles for LoginResultModel (#3037)
  src/api/sys/model/userModel.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: type check failed for prop 'onClick' (#3038)
  src/components/Button/src/props.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix(axios): get等方法配置ignoreCancelToken无效 (#3040)
  src/utils/http/axios/Axios.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

style(TableColumn): fix Column settings container is too wide #3043
  src/components/Table/src/components/settings/ColumnSetting.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

feat: update nginx.conf 使用固定编译入口可能导致浏览器使用缓存js文件，而此配置可以解决
  nginx.conf
Due: none

style(TableColumn): fix Column settings container is too wide #3043 (#3044)
  src/components/Table/src/components/settings/ColumnSetting.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

feat: update nginx.conf 使用固定编译入口可能导致浏览器使用缓存js文件，而此配置可以解决 (#3045)
  nginx.conf
Due: none
