Repository vbenjs/vue-vben-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

docs: fix form `compact` docs (#5811)
  docs/src/components/common-ui/vben-form.md
Due: prettier --cache --ignore-unknown --write

feat: 补充vxetable配置,完善自定义功能
  packages/@core/preferences/src/config.ts
  packages/@core/preferences/src/types.ts
  packages/@core/ui-kit/layout-ui/src/components/layout-content.vue
  packages/@core/ui-kit/layout-ui/src/components/layout-footer.vue
  packages/@core/ui-kit/layout-ui/src/components/layout-header.vue
  packages/@core/ui-kit/layout-ui/src/components/layout-sidebar.vue
  packages/@core/ui-kit/layout-ui/src/components/layout-tabbar.vue
  packages/@core/ui-kit/layout-ui/src/vben-layout.ts
  packages/@core/ui-kit/layout-ui/src/vben-layout.vue
  packages/@core/ui-kit/menu-ui/src/components/menu.vue
  packages/effects/layouts/src/basic/layout.vue
  packages/effects/layouts/src/widgets/preferences/blocks/layout/header.vue
  packages/effects/layouts/src/widgets/preferences/blocks/layout/sidebar.vue
  packages/effects/layouts/src/widgets/preferences/preferences-drawer.vue
  packages/effects/plugins/src/vxe-table/init.ts
  packages/effects/plugins/src/vxe-table/types.ts
  packages/effects/plugins/src/vxe-table/use-vxe-grid-origin.vue
  packages/locales/src/langs/en-US/preferences.json
  packages/locales/src/langs/zh-CN/preferences.json
  playground/public/favicon.ico
  playground/public/logo.png
  playground/src/adapter/vxe-table.ts
  playground/src/views/_core/authentication/login.vue
  playground/src/views/examples/vxe-table/form.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

feat: reaname constance
  apps/web-np/src/constants.ts
  apps/web-np/src/views/reports/order/form-modal-recalculate.vue
  apps/web-np/src/views/reports/order/table-filter.ts
  apps/web-np/src/views/settings/cogs-handling-fees/form-modal-recalculate.vue
  apps/web-np/src/views/settings/custom-costs/form-modal.vue
  apps/web-np/src/views/settings/custom-costs/table-filter.ts
  apps/web-np/src/views/settings/transaction-fees/form-modal-recalculate.vue
  apps/web-np/src/views/settings/zone-shipping/form-modal-recalculate.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

feat: p and l report
  apps/web-np/src/constants.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

feat: 私有化
  apps/web-antd/package.json
  apps/web-ele/package.json
  apps/web-naive/package.json
  playground/package.json
Due: prettier --cache --write

feat: pre-set serialization methods for request parameters
  docs/src/guide/essentials/server.md
  packages/effects/request/package.json
  packages/effects/request/src/request-client/request-client.ts
  packages/effects/request/src/request-client/types.ts
  playground/src/api/examples/params.ts
  playground/src/locales/langs/zh-CN/demos.json
  playground/src/router/routes/modules/demos.ts
  playground/src/views/demos/features/request-params-serializer/index.vue
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

feat: pre-set serialization methods for request parameters (#5814)
  docs/src/guide/essentials/server.md
  packages/effects/request/package.json
  packages/effects/request/src/request-client/request-client.ts
  packages/effects/request/src/request-client/types.ts
  playground/src/api/examples/params.ts
  playground/src/locales/langs/zh-CN/demos.json
  playground/src/router/routes/modules/demos.ts
  playground/src/views/demos/features/request-params-serializer/index.vue
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

style: 更正引用格式 (#5784)
  packages/icons/src/index.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: route root.children duplicate problem (#5755)
  packages/effects/access/src/accessible.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

feat: add product report
  apps/web-np/src/api/index.ts
  apps/web-np/src/api/order.ts
  apps/web-np/src/api/product.ts
  apps/web-np/src/constants.ts
  apps/web-np/src/router/routes/modules/reports.ts
  apps/web-np/src/utils.ts
  apps/web-np/src/views/reports/order/form-modal-recalculate.vue
  apps/web-np/src/views/reports/order/table-config.ts
  apps/web-np/src/views/reports/order/table-filter.ts
  apps/web-np/src/views/reports/product/index.vue
  apps/web-np/src/views/reports/product/table-config.ts
  apps/web-np/src/views/settings/cogs-handling-fees/form-modal-recalculate.vue
  apps/web-np/src/views/settings/custom-costs/form-modal.vue
  apps/web-np/src/views/settings/custom-costs/table-filter.ts
  apps/web-np/src/views/settings/transaction-fees/form-modal-recalculate.vue
  apps/web-np/src/views/settings/zone-shipping/form-modal-recalculate.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

docs: add third-party libraries to check update methods
  docs/src/guide/in-depth/check-updates.md
Due: prettier --cache --ignore-unknown --write

feat(tabbar): 添加右键菜单过滤功能
  packages/effects/layouts/src/basic/tabbar/use-tabbar.ts
  packages/stores/src/modules/tabbar.ts
  playground/src/layouts/basic.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

feat(tabbar): 添加右键菜单过滤功能 (#5820)
  packages/effects/layouts/src/basic/tabbar/use-tabbar.ts
  packages/stores/src/modules/tabbar.ts
  playground/src/layouts/basic.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

feat: add product report
  apps/web-np/src/preferences.ts
  apps/web-np/src/views/reports/order/table-config.ts
  apps/web-np/src/views/reports/p-and-l/table-config.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: watermark settings in the preferences modified accidentally
  apps/web-antd/src/layouts/basic.vue
  apps/web-ele/src/layouts/basic.vue
  apps/web-naive/src/layouts/basic.vue
  packages/effects/hooks/src/use-watermark.ts
  playground/src/layouts/basic.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: watermark settings in the preferences modified accidentally (#5823)
  apps/web-antd/src/layouts/basic.vue
  apps/web-ele/src/layouts/basic.vue
  apps/web-naive/src/layouts/basic.vue
  packages/effects/hooks/src/use-watermark.ts
  playground/src/layouts/basic.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

docs: add explanation and related script configuration to distinguish build environment
  docs/src/en/guide/essentials/development.md
  docs/src/guide/essentials/development.md
Due: prettier --cache --ignore-unknown --write

feat(preferences): 添加侧边栏按钮配置功能
  packages/effects/layouts/src/widgets/preferences/blocks/layout/sidebar.vue
  packages/effects/layouts/src/widgets/preferences/preferences-drawer.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

feat: 新增 PreferenceCheckboxItem 组件
  packages/effects/layouts/src/widgets/preferences/blocks/checkbox-item.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

feat(SidebarPreferences): 新增侧边栏折叠按钮与固定按钮配置
  packages/@core/preferences/src/config.ts
  packages/@core/preferences/src/types.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix(test): 修正侧边栏配置项缺失问题
  packages/@core/preferences/__tests__/__snapshots__/config.test.ts.snap
Due: none

feat(ui): 新增侧边栏固定按钮及配置选项
  packages/@core/ui-kit/layout-ui/src/components/layout-sidebar.vue
  packages/@core/ui-kit/layout-ui/src/vben-layout.ts
  packages/@core/ui-kit/layout-ui/src/vben-layout.vue
  packages/effects/layouts/src/basic/layout.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

feat: 新增按钮点击事件触发功能
  packages/@core/ui-kit/shadcn-ui/src/components/button/check-button-group.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

feat: sidebar button config (#5818)
  packages/@core/preferences/__tests__/__snapshots__/config.test.ts.snap
  packages/@core/preferences/src/config.ts
  packages/@core/preferences/src/types.ts
  packages/@core/ui-kit/layout-ui/src/components/layout-sidebar.vue
  packages/@core/ui-kit/layout-ui/src/vben-layout.ts
  packages/@core/ui-kit/layout-ui/src/vben-layout.vue
  packages/@core/ui-kit/shadcn-ui/src/components/button/check-button-group.vue
  packages/effects/layouts/src/basic/layout.vue
  packages/effects/layouts/src/widgets/preferences/blocks/checkbox-item.vue
  packages/effects/layouts/src/widgets/preferences/blocks/layout/sidebar.vue
  packages/effects/layouts/src/widgets/preferences/preferences-drawer.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: vbenTree modelValue synchronization
  packages/@core/ui-kit/shadcn-ui/src/ui/tree/tree.vue
  packages/@core/ui-kit/shadcn-ui/src/ui/tree/types.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: vbenTree modelValue synchronization (#5825)
  packages/@core/ui-kit/shadcn-ui/src/ui/tree/tree.vue
  packages/@core/ui-kit/shadcn-ui/src/ui/tree/types.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

chore: add demo for apiComponent with caching and concurrency
  playground/src/views/demos/features/vue-query/concurrency-caching.vue
  playground/src/views/demos/features/vue-query/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

docs: update api component docs
  docs/src/components/common-ui/vben-api-component.md
Due: prettier --cache --ignore-unknown --write

chore: add demo for apiComponent with caching and concurrency (#5827)
  docs/src/components/common-ui/vben-api-component.md
  playground/src/views/demos/features/vue-query/concurrency-caching.vue
  playground/src/views/demos/features/vue-query/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

docs: fix api-component demo link
  docs/src/components/common-ui/vben-api-component.md
Due: prettier --cache --ignore-unknown --write

docs: fix api-component demo link (#5828)
  docs/src/components/common-ui/vben-api-component.md
Due: prettier --cache --ignore-unknown --write

fix: 解决AccessModeType:backend登录过期，重新登录不会重新生成路由的问题，重现步骤分析：
  packages/utils/src/helpers/generate-routes-backend.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

docs: fix spell error
  docs/src/guide/essentials/development.md
Due: prettier --cache --ignore-unknown --write

docs: add explanation and related script configuration to distinguish build environment (#5826)
  docs/src/en/guide/essentials/development.md
  docs/src/guide/essentials/development.md
Due: prettier --cache --ignore-unknown --write

docs: add third-party libraries to check update methods (#5819)
  docs/src/guide/in-depth/check-updates.md
Due: prettier --cache --ignore-unknown --write

feat: add preset alert, confirm, prompt components that can be simple called
  docs/.vitepress/config/zh.mts
  docs/src/components/common-ui/vben-alert.md
  docs/src/demos/vben-alert/alert/index.vue
  docs/src/demos/vben-alert/confirm/index.vue
  docs/src/demos/vben-alert/prompt/index.vue
  packages/@core/base/icons/src/lucide.ts
  packages/@core/composables/src/use-simple-locale/messages.ts
  packages/@core/ui-kit/popup-ui/src/alert/AlertBuilder.ts
  packages/@core/ui-kit/popup-ui/src/alert/alert.ts
  packages/@core/ui-kit/popup-ui/src/alert/alert.vue
  packages/@core/ui-kit/popup-ui/src/alert/index.ts
  packages/@core/ui-kit/popup-ui/src/index.ts
  packages/@core/ui-kit/shadcn-ui/src/components/render-content/render-content.vue
  packages/@core/ui-kit/shadcn-ui/src/ui/alert-dialog/AlertDialog.vue
  packages/@core/ui-kit/shadcn-ui/src/ui/alert-dialog/AlertDialogAction.vue
  packages/@core/ui-kit/shadcn-ui/src/ui/alert-dialog/AlertDialogCancel.vue
  packages/@core/ui-kit/shadcn-ui/src/ui/alert-dialog/AlertDialogContent.vue
  packages/@core/ui-kit/shadcn-ui/src/ui/alert-dialog/AlertDialogDescription.vue
  packages/@core/ui-kit/shadcn-ui/src/ui/alert-dialog/AlertDialogOverlay.vue
  packages/@core/ui-kit/shadcn-ui/src/ui/alert-dialog/AlertDialogTitle.vue
  packages/@core/ui-kit/shadcn-ui/src/ui/alert-dialog/index.ts
  packages/@core/ui-kit/shadcn-ui/src/ui/index.ts
  playground/src/views/examples/modal/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: type define
  packages/@core/ui-kit/popup-ui/src/alert/AlertBuilder.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

feat: add preset alert, confirm, prompt components that can be simple called (#5843)
  docs/.vitepress/config/zh.mts
  docs/src/components/common-ui/vben-alert.md
  docs/src/demos/vben-alert/alert/index.vue
  docs/src/demos/vben-alert/confirm/index.vue
  docs/src/demos/vben-alert/prompt/index.vue
  packages/@core/base/icons/src/lucide.ts
  packages/@core/composables/src/use-simple-locale/messages.ts
  packages/@core/ui-kit/popup-ui/src/alert/AlertBuilder.ts
  packages/@core/ui-kit/popup-ui/src/alert/alert.ts
  packages/@core/ui-kit/popup-ui/src/alert/alert.vue
  packages/@core/ui-kit/popup-ui/src/alert/index.ts
  packages/@core/ui-kit/popup-ui/src/index.ts
  packages/@core/ui-kit/shadcn-ui/src/components/render-content/render-content.vue
  packages/@core/ui-kit/shadcn-ui/src/ui/alert-dialog/AlertDialog.vue
  packages/@core/ui-kit/shadcn-ui/src/ui/alert-dialog/AlertDialogAction.vue
  packages/@core/ui-kit/shadcn-ui/src/ui/alert-dialog/AlertDialogCancel.vue
  packages/@core/ui-kit/shadcn-ui/src/ui/alert-dialog/AlertDialogContent.vue
  packages/@core/ui-kit/shadcn-ui/src/ui/alert-dialog/AlertDialogDescription.vue
  packages/@core/ui-kit/shadcn-ui/src/ui/alert-dialog/AlertDialogOverlay.vue
  packages/@core/ui-kit/shadcn-ui/src/ui/alert-dialog/AlertDialogTitle.vue
  packages/@core/ui-kit/shadcn-ui/src/ui/alert-dialog/index.ts
  packages/@core/ui-kit/shadcn-ui/src/ui/index.ts
  playground/src/views/examples/modal/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: 解决AccessModeType:backend登录过期，重新登录不会重新生成路由的问题，重现步骤分析： (#5830)
  packages/utils/src/helpers/generate-routes-backend.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: alert `beforeClose` callback arguments fixed
  docs/src/components/common-ui/vben-alert.md
  packages/@core/ui-kit/popup-ui/src/alert/AlertBuilder.ts
  packages/@core/ui-kit/popup-ui/src/alert/alert.ts
  packages/@core/ui-kit/popup-ui/src/alert/alert.vue
  playground/src/views/examples/modal/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

Path conditions:
  prettier --cache --ignore-unknown --write: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.{scss,less,styl,html})) or (any of: *.md)
  eslint --cache --fix: (any of: *.{js,jsx,ts,tsx}) or (any of: *.vue)
  prettier --cache --write: any of: package.json
  prettier --write: any of: *.vue
  stylelint --fix: (any of: *.vue) or (any of: *.{scss,less,styl,html})
