Repository vbenjs/vue-vben-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": ["prettier --write", "eslint --fix"],
  "{!(package)*.json,*.code-snippets,.!(browserslist)*rc}": ["prettier --write--parser json"],
  "package.json": ["prettier --write"],
  "*.vue": ["prettier --write", "eslint --fix", "stylelint --fix"],
  "*.{scss,less,styl,html}": ["prettier --write", "stylelint --fix"],
  "*.md": ["prettier --write"]
}

chore: /#/ 别名替换为 #/
  src/api/sys/upload.ts
  src/api/sys/user.ts
  src/components/Application/src/AppLocalePicker.vue
  src/components/Form/src/hooks/useForm.ts
  src/components/Modal/src/typing.ts
  src/components/Table/src/hooks/useTable.ts
  src/hooks/setting/index.ts
  src/hooks/setting/useHeaderSetting.ts
  src/hooks/setting/useMenuSetting.ts
  src/hooks/setting/useMultipleTabSetting.ts
  src/hooks/setting/useRootSetting.ts
  src/hooks/setting/useTransitionSetting.ts
  src/layouts/default/setting/handler.ts
  src/locales/helper.ts
  src/locales/useLocale.ts
  src/logics/initAppConfig.ts
  src/settings/localeSetting.ts
  src/settings/projectSetting.ts
  src/store/modules/app.ts
  src/store/modules/locale.ts
  src/store/modules/lock.ts
  src/store/modules/user.ts
  src/utils/cache/persistent.ts
  src/utils/env.ts
  src/utils/http/axios/Axios.ts
  src/utils/http/axios/axiosTransform.ts
  src/utils/http/axios/checkStatus.ts
  src/utils/http/axios/index.ts
Due: prettier --write, eslint --fix, stylelint --fix

✨ feat(日志管理): 增加日志详情界面
  src/apis/logs/index.ts
  src/locales/lang/zh-CN/routes/system.ts
  src/router/routes/modules/system.ts
  src/utils/http/axios/index.ts
  src/views/system/log/LogDetail.vue
  src/views/system/log/index.vue
  src/views/system/log/log.data.ts
Due: prettier --write, eslint --fix, stylelint --fix

✨ feat(请求配置): 默认关闭接口重试机制
  src/utils/http/axios/index.ts
Due: prettier --write, eslint --fix

🐞 fix(请求配置): 去除多余打印信息
  src/utils/http/axios/index.ts
Due: prettier --write, eslint --fix

fix: 解决打包报内存溢出问题 (#2697)
  package.json
Due: prettier --write

✨ feat(用户管理): 调整用户密码属性名称
  src/views/system/user/user.data.ts
Due: prettier --write, eslint --fix

✨ feat(数据库管理): 增加测试连接功能
  src/apis/databases/index.ts
  src/views/extension/database/DatabaseModal.vue
Due: prettier --write, eslint --fix, stylelint --fix

✨ feat(权限控制): 调整权限控制逻辑
  src/hooks/web/usePermission.ts
  src/views/system/department/index.vue
  src/views/system/dictionary/index.vue
  src/views/system/role/index.vue
  src/views/system/user/index.vue
Due: prettier --write, eslint --fix, stylelint --fix

fix: eslint
  mock/demo/account.ts
  mock/demo/api-cascader.ts
  mock/demo/select-demo.ts
  mock/demo/system.ts
  mock/demo/table-demo.ts
  mock/demo/tree-demo.ts
  mock/sys/menu.ts
  mock/sys/user.ts
  src/components/ClickOutSide/src/ClickOutSide.vue
  src/components/ContextMenu/index.ts
  src/components/CountDown/src/useCountdown.ts
  src/components/Form/index.ts
  src/components/Form/src/hooks/useAutoFocus.ts
  src/components/Form/src/hooks/useComponentRegister.ts
  src/components/Form/src/hooks/useLabelWidth.ts
  src/components/Menu/src/components/BasicMenuItem.vue
  src/components/Modal/src/hooks/useModalDrag.ts
  src/components/SimpleMenu/src/components/useMenu.ts
  src/components/Table/src/hooks/useCustomRow.ts
  src/components/Table/src/hooks/useLoading.ts
  src/components/Table/src/hooks/useTableContext.ts
  src/components/Table/src/hooks/useTableExpand.ts
  src/components/Table/src/hooks/useTableStyle.ts
  src/components/Transition/index.ts
  src/components/Upload/src/props.ts
  src/hooks/web/useCopyToClipboard.ts
  src/hooks/web/useSortable.ts
  src/locales/lang/en.ts
  src/locales/lang/zh_CN.ts
  src/views/dashboard/analysis/index.vue
  src/views/sys/iframe/FrameBlank.vue
  src/views/sys/redirect/index.vue
Due: prettier --write, eslint --fix, stylelint --fix

fix: globEager 已过期
  mock/_createProductionServer.ts
  src/locales/lang/en.ts
  src/locales/lang/zh_CN.ts
  src/router/menus/index.ts
  src/router/routes/index.ts
Due: prettier --write, eslint --fix

🐞 fix(代码生成): 生成结果预览默认选中
  src/views/extension/code/CodePreview.vue
Due: prettier --write, eslint --fix, stylelint --fix

fix: 修复构建错误
  src/components/Table/src/hooks/useDataSource.ts
  src/components/Upload/src/UploadModal.vue
Due: prettier --write, eslint --fix, stylelint --fix

chore: 更严格的eslint规范
  internal/eslint-config/src/index.ts
  internal/eslint-config/src/strict.ts
  packages/hooks/src/useNamespace.ts
  packages/shared/src/utils/inference.ts
Due: prettier --write, eslint --fix

chore: 使用`defineConfig`定义eslint配置
  internal/eslint-config/src/strict.ts
Due: prettier --write, eslint --fix

feat: 上传接口可选认证
  src/utils/http/axios/Axios.ts
Due: prettier --write, eslint --fix

feat: add test case
  internal/eslint-config/package.json
  internal/eslint-config/src/strict.ts
  internal/ts-config/package.json
  internal/vite-config/package.json
  package.json
  packages/hooks/package.json
  packages/shared/src/utils/__tests__/data.test.ts
  packages/shared/src/utils/__tests__/hash.test.ts
  packages/shared/src/utils/__tests__/inferene.test.ts
  packages/shared/src/utils/date.ts
  packages/shared/src/utils/hash.ts
  packages/shared/src/utils/inference.ts
  packages/shared/src/utils/tree.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

feat: add @vben/store
  .eslintignore
  .stylelintignore
  apps/vben-admin/package.json
  apps/vben-admin/src/main.ts
  apps/vben-admin/src/router/routes.ts
  apps/website/.gitkeep
  internal/eslint-config/package.json
  internal/eslint-config/src/strict.ts
  internal/ts-config/base.json
  internal/ts-config/node-server.json
  monorepo.code-workspace
  package.json
  packages/shared/src/utils/__tests__/data.test.ts
  packages/shared/src/utils/__tests__/inferene.test.ts
  packages/shared/src/utils/inference.ts
  packages/shared/src/utils/tree.ts
  packages/store/.eslintrc.js
  packages/store/build.config.ts
  packages/store/package.json
  packages/store/shim-pinia.d.ts
  packages/store/src/__tests__/preference.test.ts
  packages/store/src/index.ts
  packages/store/src/modules/preference.ts
  packages/store/src/useStore.ts
  packages/store/tsconfig.json
  packages/store/yarn.lock
  packages/ui/src/index.ts
  packages/ui/src/not-found/index.vue
  pnpm-lock.yaml
  vitest.config.ts
Due: prettier --write, eslint --fix, stylelint --fix

feat: add page-not-found
  apps/vben-admin/package.json
  apps/vben-admin/src/pages/error-page/index.vue
  apps/vben-admin/src/router/routes.ts
  apps/vben-admin/src/views/not-found/index.vue
  internal/eslint-config/src/strict.ts
  packages/ui/.eslintrc.js
  packages/ui/build.config.ts
  packages/ui/package.json
  packages/ui/src/components/index.ts
  packages/ui/src/index.ts
  packages/ui/src/pages/index.ts
  packages/ui/src/pages/not-found/index.vue
  packages/ui/tsconfig.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix, stylelint --fix

chore: bem mixins
  apps/vben-admin/src/App.vue
  apps/vben-admin/src/router/routes.ts
  apps/vben-admin/src/views/dashboard/index.vue
  apps/vben-admin/src/views/login/index.vue
  apps/vben-admin/src/views/not-found/index.vue
  internal/stylelint-config/package.json
  internal/stylelint-config/src/index.ts
  internal/stylelint-config/yarn.lock
  internal/vite-config/src/config/common.ts
  packages/assets/src/iamges/logo.png
  packages/assets/src/index.ts
  packages/assets/src/svg/login-bg-dark.svg
  packages/assets/src/svg/login-bg.svg
  packages/assets/src/svg/login-slogan.svg
  packages/design/package.json
  packages/design/src/_shared.scss
  packages/design/src/common/_entry.scss
  packages/design/src/common/_global.scss
  packages/design/src/index.ts
  packages/hooks/src/index.ts
  packages/hooks/src/useNamespace.ts
  packages/icons/src/Icon.vue
  packages/icons/src/SvgIcon.vue
  packages/ui/package.json
  packages/ui/src/pages/index.ts
  packages/ui/src/pages/login/AntdLoginForm.vue
  packages/ui/src/pages/login/index.vue
  packages/ui/src/pages/not-found/index.vue
  pnpm-lock.yaml
Due: prettier --write, eslint --fix, stylelint --fix

feat: add login page
  apps/vben-admin/index.html
  apps/vben-admin/src/main.ts
  apps/vben-admin/src/router/routes.ts
  apps/vben-admin/src/views/login/index.vue
  apps/vben-admin/src/views/not-found/index.vue
  internal/vite-config/src/config/common.ts
  packages/design/package.json
  packages/design/src/common/entry.scss
  packages/design/src/common/global.scss
  packages/design/src/index.ts
  packages/hooks/src/index.ts
  packages/hooks/src/useNamespace.ts
  packages/hooks/src/useWindowSizeFn.ts
  packages/types/src/index.ts
  packages/types/src/ui/index.ts
  packages/types/src/ui/page.ts
  packages/ui/package.json
  packages/ui/src/pages/index.ts
  packages/ui/src/pages/login/AntdLoginForm.vue
  packages/ui/src/pages/login/LoginForm.vue
  packages/ui/src/pages/login/index.vue
  packages/ui/src/pages/redirect/index.vue
  pnpm-lock.yaml
  src/views/sys/login/Login.vue
Due: prettier --write, eslint --fix, stylelint --fix

fix: 修复 Modal 组件边框留白丢失问题
  src/components/Modal/src/index.less
Due: prettier --write, stylelint --fix

chore: 使用`defineConfig`定义eslint配置 (#2711)
  internal/eslint-config/src/strict.ts
Due: prettier --write, eslint --fix

🐞 fix(代码生成): 修复代码生成页面部分BUG
  src/views/extension/code/CodePreview.vue
  src/views/extension/code/index.vue
Due: prettier --write, eslint --fix, stylelint --fix

feat: 增加Descriptions.Item的contentStyle属性
  src/components/Description/src/Description.vue
  src/components/Description/src/typing.ts
Due: prettier --write, eslint --fix, stylelint --fix

chore: release 3.0.0-alpha.2
  package.json
Due: prettier --write

refactor: 完善ColumnSetting的操作逻辑
  src/components/Table/src/BasicTable.vue
  src/components/Table/src/components/settings/ColumnSetting.vue
  src/components/Table/src/hooks/useColumns.ts
  src/components/Table/src/types/table.ts
Due: prettier --write, eslint --fix, stylelint --fix

refactor: 完善ColumnSetting的操作逻辑 (#2745)
  src/components/Table/src/BasicTable.vue
  src/components/Table/src/components/settings/ColumnSetting.vue
  src/components/Table/src/hooks/useColumns.ts
  src/components/Table/src/types/table.ts
Due: prettier --write, eslint --fix, stylelint --fix

workflow: fix github action build error
  .github/workflows/deploy.yml
Due: none

fix: 解决重定向路径 params 参数丢失问题
  src/hooks/web/usePage.ts
  src/router/routes/basic.ts
  src/views/sys/redirect/index.vue
Due: prettier --write, eslint --fix, stylelint --fix

chore: up antdv 4.0.0-beta.2
  apps/vben-admin/package.json
  packages/apis/package.json
  packages/ui/package.json
  pnpm-lock.yaml
Due: prettier --write

style: stylelint
  src/design/public.less
  src/design/theme.less
  src/design/transition/fade.less
  src/design/transition/scale.less
  src/design/transition/slide.less
  src/design/transition/zoom.less
Due: prettier --write, stylelint --fix

feat(utils): add tree
  packages/shared/src/utils/__tests__/tree.test.ts
  packages/shared/src/utils/tree.ts
Due: prettier --write, eslint --fix

fix(utils): dateUtils test file name
  packages/shared/src/utils/__tests__/date.test.ts
Due: prettier --write, eslint --fix
