Repository vbenjs/vue-vben-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": ["prettier --cache --ignore-unknown  --write", "eslint --cache --fix"],
  "{!(package)*.json,*.code-snippets,.!(browserslist)*rc}": [
    "prettier --cache --write--parser json"
  ],
  "package.json": ["prettier --cache --write"],
  "*.vue": ["prettier --write", "eslint --cache --fix", "stylelint --fix"],
  "*.{scss,less,styl,html}": ["prettier --cache --ignore-unknown --write", "stylelint --fix"],
  "*.md": ["prettier --cache --ignore-unknown --write"]
}

feat(@vben/playground): add full-screen examples
  playground/src/locales/langs/en-US.json
  playground/src/locales/langs/zh-CN.json
  playground/src/router/routes/modules/examples.ts
  playground/src/views/examples/full-screen/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

perf: optimize the diffPreferences logic and adjust the unit test
  docs/src/commercial/community.md
  internal/vite-config/src/options.ts
  internal/vite-config/src/plugins/importmap.ts
  internal/vite-config/src/plugins/inject-metadata.ts
  internal/vite-config/src/utils/env.ts
  packages/@core/base/design/src/design-tokens/dark/index.css
  packages/@core/base/design/src/design-tokens/default/index.css
  packages/@core/base/shared/src/utils/diff.test.ts
  packages/@core/base/shared/src/utils/diff.ts
  packages/effects/common-ui/src/components/page/__tests__/page.test.ts
  packages/effects/common-ui/src/components/page/page.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

chore: rm unuse class
  playground/src/views/examples/full-screen/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

perf: optimize the diffPreferences logic and adjust the unit test (#4130)
  docs/src/commercial/community.md
  internal/vite-config/src/options.ts
  internal/vite-config/src/plugins/importmap.ts
  internal/vite-config/src/plugins/inject-metadata.ts
  internal/vite-config/src/utils/env.ts
  packages/@core/base/design/src/design-tokens/dark/index.css
  packages/@core/base/design/src/design-tokens/default/index.css
  packages/@core/base/shared/src/utils/diff.test.ts
  packages/@core/base/shared/src/utils/diff.ts
  packages/effects/common-ui/src/components/page/__tests__/page.test.ts
  packages/effects/common-ui/src/components/page/page.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

chore: move fullScreen demo to features router
  playground/src/locales/langs/en-US.json
  playground/src/locales/langs/zh-CN.json
  playground/src/router/routes/modules/demos.ts
  playground/src/router/routes/modules/examples.ts
  playground/src/views/demos/features/full-screen/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

chore(@vben/playground): 增加剪切板示例
  playground/src/locales/langs/en-US.json
  playground/src/locales/langs/zh-CN.json
  playground/src/router/routes/modules/demos.ts
  playground/src/views/demos/features/clipboard/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

chore: responsive
  playground/src/views/demos/features/full-screen/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

chore: 调整路由路径
  playground/src/router/routes/modules/demos.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

chore: card增加间距
  playground/src/views/demos/features/full-screen/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

chore: rm unuse code
  playground/src/router/routes/modules/demos.ts
  playground/src/views/demos/features/clipboard/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

chore(@vben/playground): add a clipboard example (#4133)
  playground/src/locales/langs/en-US.json
  playground/src/locales/langs/zh-CN.json
  playground/src/router/routes/modules/demos.ts
  playground/src/views/demos/features/clipboard/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

feat(@vben/playground): add full-screen examples (#4126)
  playground/src/locales/langs/en-US.json
  playground/src/locales/langs/zh-CN.json
  playground/src/router/routes/modules/demos.ts
  playground/src/router/routes/modules/examples.ts
  playground/src/views/demos/features/full-screen/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: tab close by key, fixed: #4132
  packages/stores/src/modules/tabbar.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: tab close by key, fixed: #4132 (#4136)
  packages/stores/src/modules/tabbar.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix(@vben/common-ui): 修复文本省略组件展开异常
  packages/effects/common-ui/src/components/ellipsis-text/ellipsis-text.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

chore: 增加点击展开切换的测试
  packages/effects/common-ui/src/components/ellipsis-text/__tests__/ellipsis-text.test.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: type `Component` is not assignable to `RouteMeta`
  packages/@core/base/typings/src/vue-router.d.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

perf: improve login page UI
  docs/src/guide/in-depth/theme.md
  internal/tailwind-config/src/index.ts
  packages/@core/base/design/src/css/global.css
  packages/@core/base/design/src/design-tokens/dark/index.css
  packages/@core/base/design/src/design-tokens/default/index.css
  packages/@core/base/icons/src/lucide.ts
  packages/@core/preferences/src/constants.ts
  packages/@core/ui-kit/shadcn-ui/src/components/back-top/back-top.vue
  packages/@core/ui-kit/shadcn-ui/src/components/input/input.vue
  packages/effects/layouts/src/authentication/authentication.vue
  packages/effects/layouts/src/widgets/preferences/preferences-sheet.vue
  packages/effects/layouts/src/widgets/preferences/preferences.vue
  playground/src/views/demos/features/tabs/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix(@vben/common-ui): text omission component expansion exception (#4139)
  packages/effects/common-ui/src/components/ellipsis-text/__tests__/ellipsis-text.test.ts
  packages/effects/common-ui/src/components/ellipsis-text/ellipsis-text.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

chore: update docs
  README.ja-JP.md
  README.md
  README.zh-CN.md
  docs/.vitepress/config.mts
  docs/src/commercial/community.md
  docs/src/commercial/customized.md
  docs/src/en/index.md
  docs/src/friend-links/index.md
  docs/src/guide/essentials/settings.md
  docs/src/index.md
  docs/src/sponsor/personal.md
  internal/vite-config/src/options.ts
  packages/@core/base/shared/src/constants/vben.ts
  packages/@core/preferences/src/config.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

perf: improve login page UI (#4142)
  README.ja-JP.md
  README.md
  README.zh-CN.md
  docs/.vitepress/config.mts
  docs/src/commercial/community.md
  docs/src/commercial/customized.md
  docs/src/en/index.md
  docs/src/friend-links/index.md
  docs/src/guide/essentials/settings.md
  docs/src/guide/in-depth/theme.md
  docs/src/index.md
  docs/src/sponsor/personal.md
  internal/tailwind-config/src/index.ts
  internal/vite-config/src/options.ts
  packages/@core/base/design/src/css/global.css
  packages/@core/base/design/src/design-tokens/dark/index.css
  packages/@core/base/design/src/design-tokens/default/index.css
  packages/@core/base/icons/src/lucide.ts
  packages/@core/base/shared/src/constants/vben.ts
  packages/@core/preferences/src/config.ts
  packages/@core/preferences/src/constants.ts
  packages/@core/ui-kit/shadcn-ui/src/components/back-top/back-top.vue
  packages/@core/ui-kit/shadcn-ui/src/components/input/input.vue
  packages/effects/layouts/src/authentication/authentication.vue
  packages/effects/layouts/src/widgets/preferences/preferences-sheet.vue
  packages/effects/layouts/src/widgets/preferences/preferences.vue
  playground/src/views/demos/features/tabs/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: ci fail
  packages/@core/base/typings/src/menu-record.ts
  packages/@core/ui-kit/menu-ui/src/interface/index.ts
  packages/@core/ui-kit/menu-ui/src/sub-menu.vue
  packages/@core/ui-kit/shadcn-ui/src/components/breadcrumb/types.ts
  packages/effects/layouts/src/widgets/breadcrumb.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: type `Component` is not assignable to `RouteMeta` (#4140)
  packages/@core/base/typings/src/menu-record.ts
  packages/@core/base/typings/src/vue-router.d.ts
  packages/@core/ui-kit/menu-ui/src/interface/index.ts
  packages/@core/ui-kit/menu-ui/src/sub-menu.vue
  packages/@core/ui-kit/shadcn-ui/src/components/breadcrumb/types.ts
  packages/effects/layouts/src/widgets/breadcrumb.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: staticRoutes is renamed externalRoutes
  apps/web-antd/src/router/routes/index.ts
  apps/web-ele/src/router/routes/index.ts
  apps/web-naive/src/router/routes/index.ts
  internal/vite-config/src/plugins/inject-app-loading/default-loading.html
  packages/effects/layouts/src/authentication/authentication.vue
  playground/src/router/routes/index.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: some icons behave inconsistently on menu and tab
  packages/@core/ui-kit/menu-ui/src/components/menu.vue
  packages/@core/ui-kit/tabs-ui/src/components/tabs/tabs.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

perf: staticRoutes is renamed externalRoutes (#4143)
  apps/web-antd/src/router/routes/index.ts
  apps/web-ele/src/router/routes/index.ts
  apps/web-naive/src/router/routes/index.ts
  internal/vite-config/src/plugins/inject-app-loading/default-loading.html
  packages/effects/layouts/src/authentication/authentication.vue
  playground/src/router/routes/index.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: automatic hiding and displaying of headers can only be used on content
  docs/src/guide/essentials/route.md
  packages/@core/ui-kit/layout-ui/src/vben-layout.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: some icons behave inconsistently on menu and tab (#4144)
  packages/@core/ui-kit/menu-ui/src/components/menu.vue
  packages/@core/ui-kit/tabs-ui/src/components/tabs/tabs.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: automatic hiding and displaying of headers can only be used on content (#4145)
  docs/src/guide/essentials/route.md
  packages/@core/ui-kit/layout-ui/src/vben-layout.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: the translation is incorrect when switching languages for the first time
  packages/locales/src/i18n.ts
  packages/locales/src/index.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

chore: merge locale message even if default locale not exist
  packages/locales/src/i18n.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: the translation is incorrect when switching languages for the first time (#4146)
  packages/locales/src/i18n.ts
  packages/locales/src/index.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

feat: add swap component
  docs/src/guide/in-depth/theme.md
  internal/node-utils/src/spinner.ts
  packages/@core/base/design/src/design-tokens/dark/index.css
  packages/@core/base/design/src/design-tokens/default/index.css
  packages/@core/ui-kit/layout-ui/src/components/layout-header.vue
  packages/@core/ui-kit/layout-ui/src/components/layout-sidebar.vue
  packages/@core/ui-kit/layout-ui/src/hooks/use-layout.ts
  packages/@core/ui-kit/layout-ui/src/vben-layout.ts
  packages/@core/ui-kit/layout-ui/src/vben-layout.vue
  packages/@core/ui-kit/menu-ui/src/components/menu.vue
  packages/@core/ui-kit/shadcn-ui/src/components/index.ts
  packages/@core/ui-kit/shadcn-ui/src/components/spinner/index.ts
  packages/@core/ui-kit/shadcn-ui/src/components/swap/index.ts
  packages/@core/ui-kit/shadcn-ui/src/components/swap/swap.vue
  packages/@core/ui-kit/shadcn-ui/src/components/ui/dialog/DialogScrollContent.vue
  packages/@core/ui-kit/shadcn-ui/src/components/ui/sheet/sheet.ts
  packages/@core/ui-kit/shadcn-ui/src/components/ui/toast/toast.ts
  packages/@core/ui-kit/shadcn-ui/src/components/ui/tooltip/TooltipContent.vue
  packages/constants/README.md
  packages/effects/hooks/README.md
  packages/effects/layouts/src/basic/content/content.vue
  packages/effects/layouts/src/basic/layout.vue
  packages/effects/layouts/src/iframe/iframe-router-view.vue
  packages/icons/README.md
  packages/styles/README.md
  packages/types/README.md
  packages/utils/README.md
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

feat: add swap component (#4149)
  docs/src/guide/in-depth/theme.md
  internal/node-utils/src/spinner.ts
  packages/@core/base/design/src/design-tokens/dark/index.css
  packages/@core/base/design/src/design-tokens/default/index.css
  packages/@core/ui-kit/layout-ui/src/components/layout-header.vue
  packages/@core/ui-kit/layout-ui/src/components/layout-sidebar.vue
  packages/@core/ui-kit/layout-ui/src/hooks/use-layout.ts
  packages/@core/ui-kit/layout-ui/src/vben-layout.ts
  packages/@core/ui-kit/layout-ui/src/vben-layout.vue
  packages/@core/ui-kit/menu-ui/src/components/menu.vue
  packages/@core/ui-kit/shadcn-ui/src/components/index.ts
  packages/@core/ui-kit/shadcn-ui/src/components/spinner/index.ts
  packages/@core/ui-kit/shadcn-ui/src/components/swap/index.ts
  packages/@core/ui-kit/shadcn-ui/src/components/swap/swap.vue
  packages/@core/ui-kit/shadcn-ui/src/components/ui/dialog/DialogScrollContent.vue
  packages/@core/ui-kit/shadcn-ui/src/components/ui/sheet/sheet.ts
  packages/@core/ui-kit/shadcn-ui/src/components/ui/toast/toast.ts
  packages/@core/ui-kit/shadcn-ui/src/components/ui/tooltip/TooltipContent.vue
  packages/constants/README.md
  packages/effects/hooks/README.md
  packages/effects/layouts/src/basic/content/content.vue
  packages/effects/layouts/src/basic/layout.vue
  packages/effects/layouts/src/iframe/iframe-router-view.vue
  packages/icons/README.md
  packages/styles/README.md
  packages/types/README.md
  packages/utils/README.md
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

feat: support custom background colors for sidebar and header
  apps/backend-mock/README.md
  docs/src/guide/essentials/settings.md
  docs/src/guide/in-depth/theme.md
  internal/tailwind-config/src/index.ts
  packages/@core/base/design/src/design-tokens/dark/index.css
  packages/@core/base/design/src/design-tokens/default/index.css
  packages/@core/preferences/src/config.ts
  packages/@core/preferences/src/types.ts
  packages/@core/ui-kit/layout-ui/src/components/layout-header.vue
  packages/@core/ui-kit/layout-ui/src/vben-layout.ts
  packages/@core/ui-kit/layout-ui/src/vben-layout.vue
  packages/@core/ui-kit/menu-ui/src/components/menu.vue
  packages/@core/ui-kit/shadcn-ui/src/components/ui/hover-card/HoverCardContent.vue
  packages/@core/ui-kit/tabs-ui/src/components/tabs-chrome/tabs.vue
  packages/effects/layouts/src/basic/layout.vue
  packages/effects/layouts/src/widgets/preferences/blocks/theme/theme.vue
  packages/effects/layouts/src/widgets/preferences/preferences-sheet.vue
  packages/locales/src/langs/en-US.json
  packages/locales/src/langs/zh-CN.json
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: type error
  packages/@core/ui-kit/layout-ui/src/components/layout-header.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

feat: support custom background colors for sidebar and header (#4151)
  apps/backend-mock/README.md
  docs/src/guide/essentials/settings.md
  docs/src/guide/in-depth/theme.md
  internal/tailwind-config/src/index.ts
  packages/@core/base/design/src/design-tokens/dark/index.css
  packages/@core/base/design/src/design-tokens/default/index.css
  packages/@core/preferences/src/config.ts
  packages/@core/preferences/src/types.ts
  packages/@core/ui-kit/layout-ui/src/components/layout-header.vue
  packages/@core/ui-kit/layout-ui/src/vben-layout.ts
  packages/@core/ui-kit/layout-ui/src/vben-layout.vue
  packages/@core/ui-kit/menu-ui/src/components/menu.vue
  packages/@core/ui-kit/shadcn-ui/src/components/ui/hover-card/HoverCardContent.vue
  packages/@core/ui-kit/tabs-ui/src/components/tabs-chrome/tabs.vue
  packages/effects/layouts/src/basic/layout.vue
  packages/effects/layouts/src/widgets/preferences/blocks/theme/theme.vue
  packages/effects/layouts/src/widgets/preferences/preferences-sheet.vue
  packages/locales/src/langs/en-US.json
  packages/locales/src/langs/zh-CN.json
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix
