Repository vbenjs/vue-vben-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": ["prettier --cache --ignore-unknown  --write", "eslint --cache --fix"],
  "{!(package)*.json,*.code-snippets,.!(browserslist)*rc}": [
    "prettier --cache --write--parser json"
  ],
  "package.json": ["prettier --cache --write"],
  "*.vue": ["prettier --write", "eslint --cache --fix", "stylelint --fix"],
  "*.{scss,less,styl,html}": ["prettier --cache --ignore-unknown --write", "stylelint --fix"],
  "*.md": ["prettier --cache --ignore-unknown --write"]
}

feat(@vben/plugins): 新增VxeGrid组件插槽类型定义 (#6452)
  packages/effects/plugins/src/vxe-table/use-vxe-grid.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: 接口返回子节点为空数组时，还会显示折叠箭头 (#6463)
  packages/@core/ui-kit/shadcn-ui/src/ui/tree/tree.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix(@vben/common-ui): add page footer's height to calc contentstyle (#6422)
  packages/effects/common-ui/src/components/page/page.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

Revert "fix(@vben/common-ui): add page footer's height to calc contentstyle (…"
  packages/effects/common-ui/src/components/page/page.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

revert: page height fixed,revert #6422
  packages/effects/common-ui/src/components/page/page.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

feat: 增加基于图片拼图切片平移的验证码
  packages/effects/common-ui/src/components/captcha/slider-translate-captcha/index.vue
  packages/locales/src/langs/en-US/ui.json
  packages/locales/src/langs/zh-CN/ui.json
Due: eslint --cache --fix, prettier --write, stylelint --fix

feat: 增加基于图片拼图切片平移的验证码
  packages/effects/common-ui/src/components/captcha/slider-translate-captcha/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

Update vben-drawer.md
  docs/src/components/common-ui/vben-drawer.md
Due: prettier --cache --ignore-unknown --write

fix: 锁定屏幕页面样式自适应
  packages/effects/layouts/src/widgets/lock-screen/lock-screen.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

feat: add scrollToFirstError to the form component
  docs/src/components/common-ui/vben-form.md
  docs/src/demos/vben-form/rules/index.vue
  packages/@core/ui-kit/form-ui/src/components/form-actions.vue
  packages/@core/ui-kit/form-ui/src/form-api.ts
  packages/@core/ui-kit/form-ui/src/types.ts
  playground/src/locales/langs/en-US/examples.json
  playground/src/locales/langs/zh-CN/examples.json
  playground/src/router/routes/modules/examples.ts
  playground/src/views/examples/form/scroll-to-error-test.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

feat: add scrollToFirstError to the form component
  packages/@core/ui-kit/form-ui/src/types.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

docs: update vben-drawer.md
  docs/src/components/common-ui/vben-drawer.md
Due: prettier --cache --ignore-unknown --write

docs: update vben-drawer.md (#6478)
  docs/src/components/common-ui/vben-drawer.md
Due: prettier --cache --ignore-unknown --write

chore: fix lint warning
  packages/@core/ui-kit/shadcn-ui/src/ui/tree/tree.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

chore: fix lint warning (#6487)
  packages/@core/ui-kit/shadcn-ui/src/ui/tree/tree.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

feat: 集成tauri示例，playground目录下 执行 pnpm run tauri dev 即可启动
  playground/package.json
  playground/src-tauri/.gitignore
  playground/src-tauri/Cargo.lock
  playground/src-tauri/Cargo.toml
  playground/src-tauri/build.rs
  playground/src-tauri/capabilities/default.json
  playground/src-tauri/icons/128x128.png
  playground/src-tauri/icons/128x128@2x.png
  playground/src-tauri/icons/32x32.png
  playground/src-tauri/icons/Square107x107Logo.png
  playground/src-tauri/icons/Square142x142Logo.png
  playground/src-tauri/icons/Square150x150Logo.png
  playground/src-tauri/icons/Square284x284Logo.png
  playground/src-tauri/icons/Square30x30Logo.png
  playground/src-tauri/icons/Square310x310Logo.png
  playground/src-tauri/icons/Square44x44Logo.png
  playground/src-tauri/icons/Square71x71Logo.png
  playground/src-tauri/icons/Square89x89Logo.png
  playground/src-tauri/icons/StoreLogo.png
  playground/src-tauri/icons/icon.icns
  playground/src-tauri/icons/icon.ico
  playground/src-tauri/icons/icon.png
  playground/src-tauri/src/lib.rs
  playground/src-tauri/src/main.rs
  playground/src-tauri/tauri.conf.json
  playground/src/app.vue
  playground/vite.config.mts
  pnpm-lock.yaml
Due: eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

feat: Adding pricing page
  apps/web-np/public/static/images/logo-text-512.png
  apps/web-np/src/layouts/basic.vue
  apps/web-np/src/shared/constants.ts
  apps/web-np/src/shared/utils.ts
  apps/web-np/src/store/shop.ts
  apps/web-np/src/views/reports/order/index.vue
  apps/web-np/src/views/settings/general/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

feat: Adding tiktok ad
  apps/web-np/src/views/ads/account/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

feat: Update admin page
  apps/web-np-admin/src/preferences.ts
  apps/web-np-admin/src/views/dashboard/analytics/analytics-trends.vue
  apps/web-np-admin/src/views/dashboard/analytics/analytics-visits-data.vue
  apps/web-np-admin/src/views/dashboard/analytics/analytics-visits-sales.vue
  apps/web-np-admin/src/views/dashboard/analytics/analytics-visits-source.vue
  apps/web-np-admin/src/views/dashboard/analytics/analytics-visits.vue
  apps/web-np-admin/src/views/dashboard/analytics/index.vue
  apps/web-np-admin/src/views/dashboard/workspace/index.vue
  apps/web-np-admin/src/views/shops/index.vue
  apps/web-np-admin/src/views/shops/table-config.ts
  apps/web-np-admin/src/views/shops/table-filter.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

feat: Update admin page
  apps/web-np-admin/src/views/shops/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

feat: Update admin page
  apps/web-np-admin/src/api/shop.ts
  apps/web-np-admin/src/views/shops/form-modal-send-weekly-report.vue
  apps/web-np-admin/src/views/shops/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

feat: add function support for formItemClass prop
  docs/src/components/common-ui/vben-form.md
  packages/@core/ui-kit/form-ui/src/form-render/form.vue
  packages/@core/ui-kit/form-ui/src/types.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

feat: add try-catch to formItemClass function
  packages/@core/ui-kit/form-ui/src/form-render/form.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

feat: Update layout
  apps/web-np/src/layouts/basic.vue
  apps/web-np/src/router/routes/modules/ads.ts
  apps/web-np/src/router/routes/modules/settings.ts
  apps/web-np/src/views/ads/account/index.vue
  apps/web-np/src/views/dashboard/index.vue
  apps/web-np/src/views/fullscreen.vue
  apps/web-np/src/views/settings/general/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

feat: Update layout
  apps/web-np/src/router/routes/modules/ads.ts
  apps/web-np/src/shared/constants.ts
  apps/web-np/src/views/ads/account/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

Fix date picker (#27)
  apps/web-np/src/shared/utils.ts
  apps/web-np/src/views/ads/ad-insights/table-filter.ts
  apps/web-np/src/views/dashboard/index.vue
  apps/web-np/src/views/dashboard/service.ts
  apps/web-np/src/views/reports/customer-ltv/table-config.ts
  apps/web-np/src/views/reports/order/form-modal-order-sync.vue
  apps/web-np/src/views/reports/order/form-modal-recalculate.vue
  apps/web-np/src/views/reports/order/table-filter.ts
  apps/web-np/src/views/reports/p-and-l/table-config.ts
  apps/web-np/src/views/reports/product/table-config.ts
  apps/web-np/src/views/settings/cogs-handling-fees/form-modal-cogs.vue
  apps/web-np/src/views/settings/cogs-handling-fees/form-modal-recalculate.vue
  apps/web-np/src/views/settings/custom-costs/form-modal.vue
  apps/web-np/src/views/settings/transaction-fees/form-modal-recalculate.vue
  apps/web-np/src/views/settings/zone-shipping/form-modal-recalculate.vue
  apps/web-np/src/views/shared-components/date-range-picker.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

feat: Update dashboard date picker
  apps/web-np/src/views/dashboard/service.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

chore: update vxe-pc-ui,vxe-table
  pnpm-workspace.yaml
Due: none

fix(ui): 修复代理配置初始化方法名错误
  packages/effects/plugins/src/vxe-table/use-vxe-grid.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix(ui): 修改远程表格刷新配置
  playground/src/views/examples/vxe-table/remote.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

feat: Update dashboard
  apps/web-np/src/views/dashboard/service.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

feat: Update dashboard
  apps/web-np/src/api/customer.ts
  apps/web-np/src/views/dashboard/index.vue
  apps/web-np/src/views/dashboard/order-statistic.vue
  apps/web-np/src/views/dashboard/overview-custom-costs.vue
  apps/web-np/src/views/dashboard/overview-customer.vue
  apps/web-np/src/views/dashboard/overview-order.vue
  apps/web-np/src/views/dashboard/profit-chart.vue
  apps/web-np/src/views/dashboard/service.ts
  apps/web-np/src/views/reports/customer-ltv/table-config.ts
  apps/web-np/src/views/shared-components/date-range-picker.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

feat: Update dashboard
  apps/web-np/src/views/dashboard/index.vue
  apps/web-np/src/views/dashboard/order-statistic.vue
  apps/web-np/src/views/dashboard/service.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: 锁定屏幕页面样式自适应 (#6480)
  packages/effects/layouts/src/widgets/lock-screen/lock-screen.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

feat: Add cost chart
  apps/web-np/src/views/dashboard/index.vue
  apps/web-np/src/views/dashboard/order-statistic.vue
  apps/web-np/src/views/dashboard/overview-ads.vue
  apps/web-np/src/views/dashboard/overview-cost-chart.vue
  apps/web-np/src/views/dashboard/overview-costs.vue
  apps/web-np/src/views/dashboard/overview-custom-costs.vue
  apps/web-np/src/views/dashboard/overview-order.vue
  apps/web-np/src/views/dashboard/service.ts
  apps/web-np/src/views/shared-components/date-range-picker.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

feat: Adding Ad chart
  apps/web-np/src/views/dashboard/index.vue
  apps/web-np/src/views/dashboard/overview-ads-chart.vue
  apps/web-np/src/views/dashboard/overview-cost-chart.vue
  apps/web-np/src/views/dashboard/overview-costs.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

feat: Fix dashboard submit btn
  apps/web-np/src/views/dashboard/service.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

feat: Fix dashboard submit btn
  apps/web-np/src/views/dashboard/overview-ads-chart.vue
  apps/web-np/src/views/dashboard/service.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

feat: Fix dashboard submit btn
  apps/web-np/src/views/dashboard/overview-cost-chart.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

feat: Update dashboard layout
  apps/web-np/src/views/dashboard/order-statistic.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix
