Repository vbenjs/vue-vben-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": ["prettier --cache --ignore-unknown  --write", "eslint --cache --fix"],
  "{!(package)*.json,*.code-snippets,.!(browserslist)*rc}": [
    "prettier --cache --write--parser json"
  ],
  "package.json": ["prettier --cache --write"],
  "*.vue": ["prettier --write", "eslint --cache --fix", "stylelint --fix"],
  "*.{scss,less,styl,html}": ["prettier --cache --ignore-unknown --write", "stylelint --fix"],
  "*.md": ["prettier --cache --ignore-unknown --write"]
}

fix(ImageUpload): 修正图片单个上传&返回结果未进行处理
  src/components/Upload/src/components/ImageUpload.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

feat(RefForm): 新增只读表单demo
  src/views/demo/form/RefForm.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

feat: RefForm页面新增只读功能按钮 (#3346)
  src/views/demo/form/RefForm.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

调整后的ImageUpload组件无法正常使用且无法使用单个上传[#3344] (#3345)
  src/components/Upload/src/components/ImageUpload.vue
  src/components/Upload/src/props.ts
  src/components/Upload/src/types/typing.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix(demo): 修复引导页文件名问题
  src/locales/lang/en/routes/demo.json
  src/locales/lang/zh-CN/routes/demo.json
  src/router/routes/modules/demo/steps.ts
  src/views/demo/steps/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix(demo): 修复引导页文件名问题 (#3352)
  src/locales/lang/en/routes/demo.json
  src/locales/lang/zh-CN/routes/demo.json
  src/router/routes/modules/demo/steps.ts
  src/views/demo/steps/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

perf(BasicTree): 外部获取treeData不必通过treeDataRef.value
  src/components/Tree/src/BasicTree.vue
  src/components/Tree/src/types/tree.ts
  src/views/demo/tree/ActionTree.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

feat: 解决Form updateSchema后执行setProps导致schemaRef被重置的问题
  src/components/Form/src/BasicForm.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

修复BasicForm使用componentProps函数返回valueFormat时DatePicker无法正确格式化的问题
  src/components/Form/src/BasicForm.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

feat: 解决Form updateSchema后执行setProps导致schemaRef被重置的问题 (#3354)
  src/components/Form/src/BasicForm.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

feat(VxeTable): 修复 vxetable 实例中缺少的 getRefMaps 和 getComputeMaps 方法
  src/components/VxeTable/src/methods.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

chore: resolve prettier error
  src/components/Form/src/BasicForm.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: 修复BasicForm使用componentProps函数返回valueFormat时DatePicker无法正确格式化的问题 (#3357)
  src/components/Form/src/BasicForm.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

feat: 修复 vxetable 实例中缺少的 getRefMaps 和 getComputeMaps 方法
  src/components/VxeTable/src/methods.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

feat: 修复 vxetable 实例中缺少的 getRefMaps 和 getComputeMaps 方法 (#3361)
  src/components/VxeTable/src/methods.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

feat(Form): 新增Transfer、CropperAvatar、BasicTitle 组件至Form中，并添加至演示页面
  src/components/Form/src/componentMap.ts
  src/components/Form/src/components/FormItem.vue
  src/components/Form/src/types/index.ts
  src/views/demo/form/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

feat(Form): 新增Transfer、CropperAvatar、BasicTitle 组件至Form中，并添加至演示页面 (#3362)
  src/components/Form/src/componentMap.ts
  src/components/Form/src/components/FormItem.vue
  src/components/Form/src/types/index.ts
  src/views/demo/form/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: 解决table复选框点击无法勾选状态问题
  src/views/demo/table/FormTable.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

feat(Form): 在Form将BasicTitle识做为Divider一样的处理
  src/components/Form/src/BasicForm.vue
  src/components/Form/src/components/FormItem.vue
  src/components/Form/src/helper.ts
  src/components/Form/src/hooks/useFormEvents.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

feat: iframe postmessage
  src/views/sys/iframe/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

feat(vxetable): 新增 clearEdit 方法
  src/components/VxeTable/src/methods.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

feat(vxetable): 新增 clearEdit 方法 (#3369)
  src/components/VxeTable/src/methods.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: 解决table复选框点击无法勾选状态问题 (#3370)
  src/views/demo/table/FormTable.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

refactor: 抽离是否存在SimpleComponents的校验逻辑
  src/components/Form/src/BasicForm.vue
  src/components/Form/src/components/FormItem.vue
  src/components/Form/src/helper.ts
  src/components/Form/src/hooks/useFormEvents.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

feat(Form): 在Form将BasicTitle识做为Divider一样的处理 (#3371)
  src/components/Form/src/BasicForm.vue
  src/components/Form/src/components/FormItem.vue
  src/components/Form/src/helper.ts
  src/components/Form/src/hooks/useFormEvents.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

chore: prettier format code
  src/views/sys/iframe/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix
