Repository vbenjs/vue-vben-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": ["prettier --cache --ignore-unknown  --write", "eslint --cache --fix"],
  "{!(package)*.json,*.code-snippets,.!(browserslist)*rc}": [
    "prettier --cache --write--parser json"
  ],
  "package.json": ["prettier --cache --write"],
  "*.vue": ["prettier --write", "eslint --cache --fix", "stylelint --fix"],
  "*.{scss,less,styl,html}": ["prettier --cache --ignore-unknown --write", "stylelint --fix"],
  "*.md": ["prettier --cache --ignore-unknown --write"]
}

chore: typo
  .github/release-drafter.yml
Due: none

fix: use pnpm manage package (#4695)
  internal/node-utils/src/monorepo.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: fix known issues with the form (#4696)
  .github/release-drafter.yml
  apps/web-antd/src/views/_core/authentication/register.vue
  apps/web-ele/src/views/_core/authentication/register.vue
  apps/web-naive/src/views/_core/authentication/register.vue
  packages/@core/base/design/src/css/global.css
  packages/@core/ui-kit/form-ui/src/form-render/expandable.ts
  packages/@core/ui-kit/form-ui/src/form-render/form-field.vue
  packages/@core/ui-kit/form-ui/src/form-render/form-label.vue
  packages/@core/ui-kit/shadcn-ui/src/components/expandable-arrow/expandable-arrow.vue
  packages/effects/common-ui/src/ui/about/about.vue
  packages/effects/common-ui/src/ui/authentication/login.vue
  packages/effects/common-ui/src/ui/authentication/register.vue
  playground/src/router/routes/modules/examples.ts
  playground/src/views/_core/authentication/register.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

chore: release v5.4.2
  apps/web-antd/package.json
  apps/web-ele/package.json
  apps/web-naive/package.json
  docs/package.json
  internal/lint-configs/commitlint-config/package.json
  internal/lint-configs/stylelint-config/package.json
  internal/node-utils/package.json
  internal/tailwind-config/package.json
  internal/tsconfig/package.json
  internal/vite-config/package.json
  package.json
  packages/@core/base/design/package.json
  packages/@core/base/icons/package.json
  packages/@core/base/shared/package.json
  packages/@core/base/typings/package.json
  packages/@core/composables/package.json
  packages/@core/preferences/package.json
  packages/@core/ui-kit/layout-ui/package.json
  packages/@core/ui-kit/menu-ui/package.json
  packages/@core/ui-kit/shadcn-ui/package.json
  packages/@core/ui-kit/tabs-ui/package.json
  packages/constants/package.json
  packages/effects/access/package.json
  packages/effects/common-ui/package.json
  packages/effects/hooks/package.json
  packages/effects/layouts/package.json
  packages/effects/plugins/package.json
  packages/effects/request/package.json
  packages/icons/package.json
  packages/locales/package.json
  packages/preferences/package.json
  packages/stores/package.json
  packages/styles/package.json
  packages/types/package.json
  packages/utils/package.json
  playground/package.json
  scripts/turbo-run/package.json
  scripts/vsh/package.json
Due: prettier --cache --write

feat(@vben/request): export basic HttpResponse generic
  packages/effects/request/src/request-client/modules/downloader.ts
  packages/effects/request/src/request-client/types.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

chore(@vben/docs): update nginx deployment error related documentation
  docs/src/en/guide/other/faq.md
  docs/src/guide/other/faq.md
Due: prettier --cache --ignore-unknown --write

chore(@vben/docs): update nginx deployment error related documentation (#4702)
  docs/src/en/guide/other/faq.md
  docs/src/guide/other/faq.md
Due: prettier --cache --ignore-unknown --write

feat(@vben/request): export basic HttpResponse generic (#4697)
  packages/effects/request/src/request-client/modules/downloader.ts
  packages/effects/request/src/request-client/types.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: rename the Icon component to IconifyIcon to prevent name conflicts
  apps/web-ele/src/views/demos/element/index.vue
  apps/web-naive/src/adapter/component/index.ts
  docs/src/components/common-ui/vben-form.md
  internal/vite-config/src/config/application.ts
  packages/@core/base/design/src/design-tokens/dark.css
  packages/@core/base/icons/src/index.ts
  packages/@core/base/shared/src/color/color.ts
  packages/@core/base/shared/src/color/index.ts
  packages/@core/ui-kit/form-ui/src/types.ts
  packages/@core/ui-kit/shadcn-ui/src/components/icon/icon.vue
  packages/effects/hooks/src/use-design-tokens.ts
  packages/icons/src/index.ts
  packages/icons/src/svg/index.ts
  packages/icons/src/svg/load.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: rename the Icon component to IconifyIcon to prevent name conflicts and fix type issues (#4704)
  apps/web-ele/src/views/demos/element/index.vue
  apps/web-naive/src/adapter/component/index.ts
  docs/src/components/common-ui/vben-form.md
  internal/vite-config/src/config/application.ts
  packages/@core/base/design/src/design-tokens/dark.css
  packages/@core/base/icons/src/index.ts
  packages/@core/base/shared/src/color/color.ts
  packages/@core/base/shared/src/color/index.ts
  packages/@core/ui-kit/form-ui/src/types.ts
  packages/@core/ui-kit/shadcn-ui/src/components/icon/icon.vue
  packages/effects/hooks/src/use-design-tokens.ts
  packages/icons/src/index.ts
  packages/icons/src/svg/index.ts
  packages/icons/src/svg/load.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

feat: 路由增加perms配置项
  apps/web-antd/src/router/guard.ts
  apps/web-ele/src/router/guard.ts
  apps/web-naive/src/router/guard.ts
  packages/@core/base/typings/src/vue-router.d.ts
  packages/effects/access/src/accessible.ts
  packages/utils/src/helpers/generate-routes-frontend.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: modified fixed and unfixed logic, fixed #4640
  packages/stores/src/modules/tabbar.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: fix typo in Update faq.md
  docs/src/guide/other/faq.md
Due: prettier --cache --ignore-unknown --write

fix: fix typo in Update faq.md (#4711)
  docs/src/guide/other/faq.md
Due: prettier --cache --ignore-unknown --write

fix(@vben/tabs-ui): modified fixed and unfixed logic, fixed #4640 (#4709)
  packages/stores/src/modules/tabbar.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

feat: menu routing support opens in a new window
  docs/src/en/guide/essentials/route.md
  docs/src/guide/essentials/route.md
  packages/@core/base/shared/src/utils/window.ts
  packages/@core/base/typings/src/vue-router.d.ts
  packages/@core/ui-kit/shadcn-ui/src/components/breadcrumb/breadcrumb-background.vue
  packages/effects/layouts/src/basic/menu/use-navigation.ts
  packages/stores/src/modules/tabbar.ts
  playground/src/locales/langs/en-US/demos.json
  playground/src/locales/langs/zh-CN/demos.json
  playground/src/router/routes/modules/demos.ts
  playground/src/views/demos/features/new-window/index.vue
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

feat: menu routing support opens in a new window (#4715)
  docs/src/en/guide/essentials/route.md
  docs/src/guide/essentials/route.md
  packages/@core/base/shared/src/utils/window.ts
  packages/@core/base/typings/src/vue-router.d.ts
  packages/@core/ui-kit/shadcn-ui/src/components/breadcrumb/breadcrumb-background.vue
  packages/effects/layouts/src/basic/menu/use-navigation.ts
  packages/stores/src/modules/tabbar.ts
  playground/src/locales/langs/en-US/demos.json
  playground/src/locales/langs/zh-CN/demos.json
  playground/src/router/routes/modules/demos.ts
  playground/src/views/demos/features/new-window/index.vue
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: fix the error of closing the default analysis page on the tab page
  packages/stores/src/modules/tabbar.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: fix the error of closing the default analysis page on the tab page (#4720)
  packages/stores/src/modules/tabbar.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: path '/auth' is blank page
  apps/web-antd/src/router/routes/core.ts
  apps/web-ele/src/router/routes/core.ts
  apps/web-naive/src/router/routes/core.ts
  playground/src/router/routes/core.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

feat: table grid supports setting title and helpMessage
  apps/web-antd/src/adapter/vxe-table.ts
  apps/web-ele/src/adapter/vxe-table.ts
  apps/web-naive/src/adapter/vxe-table.ts
  internal/node-utils/package.json
  packages/@core/ui-kit/popup-ui/src/modal/modal-api.ts
  packages/@core/ui-kit/popup-ui/src/modal/modal.vue
  packages/effects/plugins/src/vxe-table/theme.css
  packages/effects/plugins/src/vxe-table/types.ts
  packages/effects/plugins/src/vxe-table/use-vxe-grid.vue
  playground/src/adapter/vxe-table.ts
  playground/src/views/examples/vxe-table/basic.vue
  playground/src/views/examples/vxe-table/remote.vue
  playground/src/views/examples/vxe-table/tree.vue
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

fix: path '/auth' is blank page (#4731)
  apps/web-antd/src/router/routes/core.ts
  apps/web-ele/src/router/routes/core.ts
  apps/web-naive/src/router/routes/core.ts
  playground/src/router/routes/core.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

feat: table grid supports setting title and helpMessage (#4732)
  apps/web-antd/src/adapter/vxe-table.ts
  apps/web-ele/src/adapter/vxe-table.ts
  apps/web-naive/src/adapter/vxe-table.ts
  internal/node-utils/package.json
  packages/@core/ui-kit/popup-ui/src/modal/modal-api.ts
  packages/@core/ui-kit/popup-ui/src/modal/modal.vue
  packages/effects/plugins/src/vxe-table/theme.css
  packages/effects/plugins/src/vxe-table/types.ts
  packages/effects/plugins/src/vxe-table/use-vxe-grid.vue
  playground/src/adapter/vxe-table.ts
  playground/src/views/examples/vxe-table/basic.vue
  playground/src/views/examples/vxe-table/remote.vue
  playground/src/views/examples/vxe-table/tree.vue
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

fix: 修改偏好设置优先级设置错误
  packages/@core/preferences/src/preferences.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: 使用renderEcharts多次渲染不刷新图表
  packages/effects/plugins/src/echarts/use-echarts.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

feat: 新增nest模板、新增server类型的vite配置
  apps/backend-nest/.env
  apps/backend-nest/.env.analyze
  apps/backend-nest/.env.development
  apps/backend-nest/.env.production
  apps/backend-nest/.vscode/settings.json
  apps/backend-nest/package.json
  apps/backend-nest/src/app/index.module.ts
  apps/backend-nest/src/app/index.ts
  apps/backend-nest/src/index.ts
  apps/backend-nest/tsconfig.build.json
  apps/backend-nest/tsconfig.json
  apps/backend-nest/vite.config.mts
  cspell.json
  internal/vite-config/package.json
  internal/vite-config/src/config/application.ts
  internal/vite-config/src/config/index.ts
  internal/vite-config/src/config/server.ts
  internal/vite-config/src/index.ts
  internal/vite-config/src/plugins/index.ts
  internal/vite-config/src/typing.ts
  internal/vite-config/src/utils/env.ts
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/vsh/src/check-dep/index.ts
  vben-admin.code-workspace
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write

feat: 允许使用swc编译, 并提供模板配置
  apps/backend-nest/.env.development
  apps/backend-nest/.env.production
  internal/vite-config/package.json
  internal/vite-config/src/plugins/index.ts
  internal/vite-config/src/typing.ts
  internal/vite-config/src/utils/env.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write

fix: fix renderEcharts refresh issue (#4741)
  packages/effects/plugins/src/echarts/use-echarts.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

feat: allow configuration of staticRroues
  apps/web-antd/src/router/guard.ts
  apps/web-antd/src/router/routes/index.ts
  apps/web-ele/src/router/guard.ts
  apps/web-ele/src/router/routes/index.ts
  apps/web-naive/src/router/guard.ts
  apps/web-naive/src/router/routes/index.ts
  playground/src/router/guard.ts
  playground/src/router/routes/index.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

chore: update deps
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

chore: typo
  packages/@core/ui-kit/form-ui/src/form-render/form.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

feat: allow configuration of staticRroues (#4746)
  apps/web-antd/src/router/guard.ts
  apps/web-antd/src/router/routes/index.ts
  apps/web-ele/src/router/guard.ts
  apps/web-ele/src/router/routes/index.ts
  apps/web-naive/src/router/guard.ts
  apps/web-naive/src/router/routes/index.ts
  packages/@core/ui-kit/form-ui/src/form-render/form.vue
  playground/src/router/guard.ts
  playground/src/router/routes/index.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

chore: release v5.4.3
  apps/web-antd/package.json
  apps/web-ele/package.json
  apps/web-naive/package.json
  docs/package.json
  internal/lint-configs/commitlint-config/package.json
  internal/lint-configs/stylelint-config/package.json
  internal/node-utils/package.json
  internal/tailwind-config/package.json
  internal/tsconfig/package.json
  internal/vite-config/package.json
  package.json
  packages/@core/base/design/package.json
  packages/@core/base/icons/package.json
  packages/@core/base/shared/package.json
  packages/@core/base/typings/package.json
  packages/@core/composables/package.json
  packages/@core/preferences/package.json
  packages/@core/ui-kit/layout-ui/package.json
  packages/@core/ui-kit/menu-ui/package.json
  packages/@core/ui-kit/shadcn-ui/package.json
  packages/@core/ui-kit/tabs-ui/package.json
  packages/constants/package.json
  packages/effects/access/package.json
  packages/effects/common-ui/package.json
  packages/effects/hooks/package.json
  packages/effects/layouts/package.json
  packages/effects/plugins/package.json
  packages/effects/request/package.json
  packages/icons/package.json
  packages/locales/package.json
  packages/preferences/package.json
  packages/stores/package.json
  packages/styles/package.json
  packages/types/package.json
  packages/utils/package.json
  playground/package.json
  scripts/turbo-run/package.json
  scripts/vsh/package.json
Due: prettier --cache --write

docs: typo
  docs/src/guide/introduction/quick-start.md
Due: prettier --cache --ignore-unknown --write

docs: typo
  docs/src/guide/essentials/concept.md
Due: prettier --cache --ignore-unknown --write

fix: czg configuration not effective
  .commitlintrc.js
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: czg configuration not effective (#4759)
  .commitlintrc.js
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

docs: typo (#4755)
  docs/src/guide/essentials/concept.md
Due: prettier --cache --ignore-unknown --write
