Repository vbenjs/vue-vben-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": ["prettier --cache --ignore-unknown  --write", "eslint --cache --fix"],
  "{!(package)*.json,*.code-snippets,.!(browserslist)*rc}": [
    "prettier --cache --write--parser json"
  ],
  "package.json": ["prettier --cache --write"],
  "*.vue": ["prettier --write", "eslint --cache --fix", "stylelint --fix"],
  "*.{scss,less,styl,html}": ["prettier --cache --ignore-unknown --write", "stylelint --fix"],
  "*.md": ["prettier --cache --ignore-unknown --write"]
}

fix(bug): 缺失await关键字
  playground/src/views/system/dept/modules/form.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

feat: pass `fieldsChanged` into the `handleValuesChange` callback function
  docs/src/components/common-ui/vben-form.md
  packages/@core/ui-kit/form-ui/src/types.ts
  packages/@core/ui-kit/form-ui/src/vben-use-form.vue
  playground/src/views/examples/form/basic.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: missing await in department form(#5967)
  playground/src/views/system/dept/modules/form.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

perf: `beforeClose` of drawer support promise (#5932)
  packages/@core/ui-kit/popup-ui/src/drawer/__tests__/drawer-api.test.ts
  packages/@core/ui-kit/popup-ui/src/drawer/drawer-api.ts
  packages/@core/ui-kit/popup-ui/src/drawer/drawer.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

perf: improve `destroyOnClose` for VbenModal (#5964)
  packages/@core/ui-kit/popup-ui/src/modal/modal.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

feat: pass `fieldsChanged` into the `handleValuesChange` callback function (#5968)
  docs/src/components/common-ui/vben-form.md
  packages/@core/ui-kit/form-ui/src/types.ts
  packages/@core/ui-kit/form-ui/src/vben-use-form.vue
  playground/src/views/examples/form/basic.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: `handleValuesChange` brings processed values
  packages/@core/ui-kit/form-ui/src/vben-use-form.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

docs: form docs update
  docs/src/components/common-ui/vben-form.md
Due: prettier --cache --ignore-unknown --write

fix: `handleReset` argument fixed
  packages/@core/ui-kit/form-ui/src/components/form-actions.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: fixed arguments of callbacks in `formApi` (#5970)
  docs/src/components/common-ui/vben-form.md
  packages/@core/ui-kit/form-ui/src/components/form-actions.vue
  packages/@core/ui-kit/form-ui/src/vben-use-form.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

feat: Add more preferences
  packages/@core/preferences/src/config.ts
  packages/@core/preferences/src/types.ts
  packages/effects/layouts/src/basic/layout.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

feat: Add more preferences in the document
  docs/src/guide/essentials/settings.md
Due: prettier --cache --ignore-unknown --write

feat: 更新偏好设置的快照内容
  packages/@core/preferences/__tests__/__snapshots__/config.test.ts.snap
Due: none

feat: add examples: form-upload (#5955)
  apps/backend-mock/api/upload.ts
  apps/backend-mock/routes/[...].ts
  playground/src/api/examples/upload.ts
  playground/src/locales/langs/en-US/examples.json
  playground/src/locales/langs/zh-CN/examples.json
  playground/src/views/examples/form/basic.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

Update tailwindcss.md (#5602)
  docs/src/guide/project/tailwindcss.md
Due: prettier --cache --ignore-unknown --write

fix: handle error when store has no method in resetAllStores
  packages/stores/src/setup.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: destroyOnClose works within connectedComponent
  docs/src/components/common-ui/vben-modal.md
  packages/@core/ui-kit/popup-ui/src/modal/use-modal.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: destroyOnClose works within connectedComponent (#5989)
  docs/src/components/common-ui/vben-modal.md
  packages/@core/ui-kit/popup-ui/src/modal/use-modal.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: alert send wrong confirm state to beforeClose
  packages/@core/ui-kit/popup-ui/src/alert/alert.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: alert send wrong confirm state to beforeClose (#5991)
  packages/@core/ui-kit/popup-ui/src/alert/alert.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: fix geader menu activation path
  packages/effects/layouts/src/basic/menu/use-mixed-menu.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: fix geader menu activation path (#5997)
  packages/effects/layouts/src/basic/menu/use-mixed-menu.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: Update existing route index to prevent 404 on user switch
  packages/effects/access/src/accessible.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

perf: vxe-table 活动颜色，松开颜色，按下颜色，没有随主题颜色修复
  packages/effects/plugins/src/vxe-table/style.css
Due: none

fix: vxe-table theme token follow primary color (#6007)
  packages/effects/plugins/src/vxe-table/style.css
Due: none

fix: alert confirm state in beforeClose callback
  packages/@core/ui-kit/popup-ui/src/alert/alert.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: alert confirm state in beforeClose callback (#6019)
  packages/@core/ui-kit/popup-ui/src/alert/alert.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

chore: update dependency version for improved stability and compatibility
  internal/lint-configs/eslint-config/src/configs/vue.ts
  internal/lint-configs/stylelint-config/index.mjs
  package.json
  packages/@core/base/shared/src/utils/inference.ts
  packages/@core/ui-kit/menu-ui/src/components/menu.vue
  packages/effects/common-ui/src/components/json-viewer/style.scss
  packages/effects/common-ui/src/components/resize/resize.vue
  packages/effects/layouts/src/widgets/theme-toggle/theme-button.vue
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

fix: the initial value echo for the check-button-group
  packages/@core/ui-kit/shadcn-ui/src/components/button/check-button-group.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: the initial value echo for the check-button-group (#6029)
  packages/@core/ui-kit/shadcn-ui/src/components/button/check-button-group.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

docs: update example
  docs/src/guide/in-depth/access.md
Due: prettier --cache --ignore-unknown --write

feat: Update order report
  apps/web-np/src/adapter/vxe-table.ts
  apps/web-np/src/views/reports/order/table-config.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

Uat (#11)
  apps/web-np/src/adapter/vxe-table.ts
  apps/web-np/src/views/reports/order/table-config.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

docs: update example (#6036)
  docs/src/guide/in-depth/access.md
Due: prettier --cache --ignore-unknown --write

feat: Update order report
  apps/web-np/src/views/reports/order/table-config.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

Uat (#12)
  apps/web-np/src/views/reports/order/table-config.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

perf: resolve duplicate component names
  apps/web-antd/src/adapter/component/index.ts
  apps/web-ele/src/adapter/component/index.ts
  apps/web-naive/src/adapter/component/index.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

feat: vbenSelect support prop `allowClear`
  packages/@core/ui-kit/shadcn-ui/src/components/select/select.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

feat: vbenSelect support prop `allowClear` (#6043)
  packages/@core/ui-kit/shadcn-ui/src/components/select/select.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: title of search button in vxeTable toolbar
  packages/effects/plugins/src/vxe-table/use-vxe-grid.vue
  packages/locales/src/langs/en-US/common.json
  packages/locales/src/langs/zh-CN/common.json
Due: eslint --cache --fix, prettier --write, stylelint --fix
