Repository vbenjs/vue-vben-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

fix: xxeTable destruction/reconstruction remains at the first init
  packages/effects/plugins/src/vxe-table/use-vxe-grid.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

style: fix vxe-table index.scss import error
  docs/package.json
  docs/src/_env/adapter/theme.css
  docs/src/_env/adapter/vxe-table.ts
  docs/src/components/common-ui/vben-vxe-table.md
  docs/src/demos/vben-vxe-table/mock-api.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write

fix: 运行测试，修复接口响应错误的问题
  apps/backend-nest/src/app/index.module.ts
  apps/backend-nest/src/filters/http-exception.filter.ts
  apps/backend-nest/src/interceptor/transform.interceptor.ts
  apps/backend-nest/src/middlewares/index.ts
  apps/backend-nest/src/middlewares/logger.middleware.ts
  apps/backend-nest/src/plugins/cookies.plugin.ts
  apps/backend-nest/src/plugins/index.ts
  apps/backend-nest/src/routes/auth.controller.ts
  apps/backend-nest/src/routes/index.controller.ts
  apps/backend-nest/src/routes/user.controller.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

docs: 更新nestjs模版相关文档
  apps/backend-nest/.env
  apps/backend-nest/.env.development
  apps/web-antd/.env.development
  docs/src/guide/essentials/server.md
Due: prettier --cache --ignore-unknown --write

chore: changeset
  .changeset/old-dots-live.md
Due: prettier --cache --ignore-unknown --write

docs: fix vxe-table style & theme toggle problem
  docs/.vitepress/theme/components/site-layout.vue
  docs/package.json
  docs/src/_env/adapter/theme.css
  docs/src/_env/adapter/vxe-table.ts
  docs/src/components/common-ui/vben-vxe-table.md
  docs/src/demos/vben-vxe-table/basic/index.vue
  docs/src/demos/vben-vxe-table/custom-cell/index.vue
  docs/src/demos/vben-vxe-table/mock-api.ts
  docs/src/demos/vben-vxe-table/remote/index.vue
  docs/src/demos/vben-vxe-table/table-data.ts
  packages/effects/plugins/src/vxe-table/index.ts
  pnpm-lock.yaml
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

docs: add rest demos
  docs/src/components/common-ui/vben-vxe-table.md
  docs/src/demos/vben-vxe-table/custom-cell/index.vue
  docs/src/demos/vben-vxe-table/edit-cell/index.vue
  docs/src/demos/vben-vxe-table/edit-row/index.vue
  docs/src/demos/vben-vxe-table/fixed/index.vue
  docs/src/demos/vben-vxe-table/form/index.vue
  docs/src/demos/vben-vxe-table/mock-api.ts
  docs/src/demos/vben-vxe-table/table-data.ts
  docs/src/demos/vben-vxe-table/tree/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

docs(@vben/docs): add public static resources path documentation (#4788) (#4801)
  docs/src/en/guide/essentials/development.md
  docs/src/guide/essentials/development.md
Due: prettier --cache --ignore-unknown --write

perf: expose the formApi for a login form
  packages/@core/base/shared/package.json
  packages/effects/common-ui/src/ui/authentication/code-login.vue
  packages/effects/common-ui/src/ui/authentication/forget-password.vue
  packages/effects/common-ui/src/ui/authentication/login.vue
  packages/effects/common-ui/src/ui/authentication/register.vue
  packages/effects/plugins/src/vxe-table/use-vxe-grid.vue
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

perf: expose the formApi for a login form (#4806)
  packages/@core/base/shared/package.json
  packages/effects/common-ui/src/ui/authentication/code-login.vue
  packages/effects/common-ui/src/ui/authentication/forget-password.vue
  packages/effects/common-ui/src/ui/authentication/login.vue
  packages/effects/common-ui/src/ui/authentication/register.vue
  packages/effects/plugins/src/vxe-table/use-vxe-grid.vue
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

chore: release v5.4.4
  apps/web-antd/package.json
  apps/web-ele/package.json
  apps/web-naive/package.json
  docs/package.json
  internal/lint-configs/commitlint-config/package.json
  internal/lint-configs/stylelint-config/package.json
  internal/node-utils/package.json
  internal/tailwind-config/package.json
  internal/tsconfig/package.json
  internal/vite-config/package.json
  package.json
  packages/@core/base/design/package.json
  packages/@core/base/icons/package.json
  packages/@core/base/shared/package.json
  packages/@core/base/typings/package.json
  packages/@core/composables/package.json
  packages/@core/preferences/package.json
  packages/@core/ui-kit/layout-ui/package.json
  packages/@core/ui-kit/menu-ui/package.json
  packages/@core/ui-kit/shadcn-ui/package.json
  packages/@core/ui-kit/tabs-ui/package.json
  packages/constants/package.json
  packages/effects/access/package.json
  packages/effects/common-ui/package.json
  packages/effects/hooks/package.json
  packages/effects/layouts/package.json
  packages/effects/plugins/package.json
  packages/effects/request/package.json
  packages/icons/package.json
  packages/locales/package.json
  packages/preferences/package.json
  packages/stores/package.json
  packages/styles/package.json
  packages/types/package.json
  packages/utils/package.json
  playground/package.json
  scripts/turbo-run/package.json
  scripts/vsh/package.json
Due: prettier --cache --write

docs: add vxe-table demo desc
  docs/src/_env/adapter/vxe-table.ts
  docs/src/components/common-ui/vben-vxe-table.md
  docs/src/demos/vben-vxe-table/basic/index.vue
  docs/src/demos/vben-vxe-table/custom-cell/index.vue
  docs/src/demos/vben-vxe-table/edit-cell/index.vue
  docs/src/demos/vben-vxe-table/edit-row/index.vue
  docs/src/demos/vben-vxe-table/fixed/index.vue
  docs/src/demos/vben-vxe-table/form/index.vue
  docs/src/demos/vben-vxe-table/remote/index.vue
  docs/src/demos/vben-vxe-table/table-data.ts
  docs/src/demos/vben-vxe-table/tree/index.vue
  docs/src/demos/vben-vxe-table/virtual/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: page title is not updated after language switch. fixed: #4799
  apps/web-antd/src/bootstrap.ts
  apps/web-antd/src/router/guard.ts
  apps/web-ele/src/bootstrap.ts
  apps/web-ele/src/router/guard.ts
  apps/web-naive/src/bootstrap.ts
  apps/web-naive/src/router/guard.ts
  playground/src/bootstrap.ts
  playground/src/router/guard.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: add maximumFileSizeToCacheInBytes to fix build error
  docs/.vitepress/config/shared.mts
  docs/src/demos/vben-vxe-table/custom-cell/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: fix vxe-table set-theme build error
  docs/.vitepress/theme/components/site-layout.vue
  packages/effects/plugins/src/vxe-table/index.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

chore: vxe-table's renderDefault is deprecated， use renderTableDefault
  apps/web-antd/src/adapter/vxe-table.ts
  apps/web-ele/src/adapter/vxe-table.ts
  apps/web-naive/src/adapter/vxe-table.ts
  playground/src/adapter/vxe-table.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

chore: vxe-table's renderDefault is deprecated， use renderTableDefault (#4814)
  apps/web-antd/src/adapter/vxe-table.ts
  apps/web-ele/src/adapter/vxe-table.ts
  apps/web-naive/src/adapter/vxe-table.ts
  playground/src/adapter/vxe-table.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: page title is not updated after language switch. fixed: #4799 (#4813)
  apps/web-antd/src/bootstrap.ts
  apps/web-antd/src/router/guard.ts
  apps/web-ele/src/bootstrap.ts
  apps/web-ele/src/router/guard.ts
  apps/web-naive/src/bootstrap.ts
  apps/web-naive/src/router/guard.ts
  playground/src/bootstrap.ts
  playground/src/router/guard.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

docs: fix vitepress ssr render problem
  docs/.vitepress/theme/index.ts
  docs/src/_env/adapter/vxe-table.ts
  docs/src/demos/vben-vxe-table/basic/index.vue
  docs/src/demos/vben-vxe-table/custom-cell/index.vue
  docs/src/demos/vben-vxe-table/edit-cell/index.vue
  docs/src/demos/vben-vxe-table/edit-row/index.vue
  docs/src/demos/vben-vxe-table/fixed/index.vue
  docs/src/demos/vben-vxe-table/form/index.vue
  docs/src/demos/vben-vxe-table/remote/index.vue
  docs/src/demos/vben-vxe-table/tree/index.vue
  docs/src/demos/vben-vxe-table/virtual/index.vue
  packages/effects/plugins/src/vxe-table/use-vxe-grid.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

docs: add some tips for vitepress compatibility
  docs/src/components/common-ui/vben-vxe-table.md
Due: prettier --cache --ignore-unknown --write

feat: 引入Upload Icon
  packages/@core/base/icons/src/lucide.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

feat: 初步集成PageSpy，设置内增加上传离线日志按钮
  packages/effects/layouts/src/widgets/preferences/preferences-drawer.vue
  packages/locales/src/langs/en-US/preferences.json
  packages/locales/src/langs/zh-CN/preferences.json
  playground/index.html
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

chore: update VSCode settings to configure Stylelint for .vue files
  .vscode/settings.json
Due: none

fix: 修复Grid中query函数不能拿到最新的表单参数的bug
  packages/effects/plugins/src/vxe-table/use-vxe-grid.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

feat: add crypto-js and nanoid , add add crypto demo page
  packages/@core/base/shared/build.config.ts
  packages/@core/base/shared/package.json
  packages/@core/base/shared/src/crypto/index.ts
  packages/@core/base/shared/src/utils/__tests__/nanoid.test.ts
  packages/@core/base/shared/src/utils/index.ts
  packages/@core/base/shared/src/utils/nanoid.ts
  packages/utils/src/index.ts
  playground/.env.development
  playground/src/router/routes/modules/demos.ts
  playground/src/views/demos/features/crypto/index.vue
  playground/src/views/demos/features/crypto/inner/CryptoHooks.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

feat: add crypto-js and nanoid , add add crypto demo page
  packages/@core/base/shared/package.json
Due: prettier --cache --write

feat: 修改顺序
  packages/@core/base/shared/package.json
Due: prettier --cache --write

chore: update vscode settings to configure stylelint for .vue files (#4821)
  .vscode/settings.json
Due: none

docs: add vxe-table doc (#4807)
  docs/.vitepress/config/shared.mts
  docs/.vitepress/theme/components/site-layout.vue
  docs/.vitepress/theme/index.ts
  docs/package.json
  docs/src/_env/adapter/index.ts
  docs/src/_env/adapter/vxe-table.ts
  docs/src/components/common-ui/vben-vxe-table.md
  docs/src/demos/vben-vxe-table/basic/index.vue
  docs/src/demos/vben-vxe-table/custom-cell/index.vue
  docs/src/demos/vben-vxe-table/edit-cell/index.vue
  docs/src/demos/vben-vxe-table/edit-row/index.vue
  docs/src/demos/vben-vxe-table/fixed/index.vue
  docs/src/demos/vben-vxe-table/form/index.vue
  docs/src/demos/vben-vxe-table/mock-api.ts
  docs/src/demos/vben-vxe-table/remote/index.vue
  docs/src/demos/vben-vxe-table/table-data.ts
  docs/src/demos/vben-vxe-table/tree/index.vue
  docs/src/demos/vben-vxe-table/virtual/index.vue
  packages/effects/plugins/src/vxe-table/index.ts
  packages/effects/plugins/src/vxe-table/use-vxe-grid.ts
  pnpm-lock.yaml
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

perf: improve the usage documentation of vben-vxe-table
  apps/web-antd/src/preferences.ts
  apps/web-ele/src/preferences.ts
  apps/web-naive/src/preferences.ts
  docs/.vitepress/config/shared.mts
  docs/.vitepress/theme/components/site-layout.vue
  docs/.vitepress/theme/index.ts
  docs/package.json
  docs/src/_env/adapter/vxe-table.ts
  docs/src/components/common-ui/vben-vxe-table.md
  docs/src/demos/vben-vxe-table/basic/index.vue
  docs/src/demos/vben-vxe-table/custom-cell/index.vue
  docs/src/demos/vben-vxe-table/edit-cell/index.vue
  docs/src/demos/vben-vxe-table/edit-row/index.vue
  docs/src/demos/vben-vxe-table/fixed/index.vue
  docs/src/demos/vben-vxe-table/form/index.vue
  docs/src/demos/vben-vxe-table/remote/index.vue
  docs/src/demos/vben-vxe-table/tree/index.vue
  docs/src/demos/vben-vxe-table/virtual/index.vue
  docs/src/guide/essentials/settings.md
  docs/src/guide/introduction/quick-start.md
  internal/vite-config/src/plugins/index.ts
  internal/vite-config/src/plugins/vxe-table.ts
  package.json
  packages/effects/plugins/src/vxe-table/index.ts
  packages/effects/plugins/src/vxe-table/theme.css
  playground/src/preferences.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

fix: build error
  docs/package.json
  docs/src/_env/adapter/vxe-table.ts
  docs/src/_env/node/adapter/form.ts
  docs/src/_env/node/adapter/vxe-table.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write

fix: build error
  docs/src/_env/adapter/index.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: build error
  packages/effects/plugins/src/vxe-table/theme.css
Due: none

perf: improve the usage documentation of vben-vxe-table (#4829)
  apps/web-antd/src/preferences.ts
  apps/web-ele/src/preferences.ts
  apps/web-naive/src/preferences.ts
  docs/.vitepress/config/shared.mts
  docs/.vitepress/theme/components/site-layout.vue
  docs/.vitepress/theme/index.ts
  docs/package.json
  docs/src/_env/adapter/index.ts
  docs/src/_env/adapter/vxe-table.ts
  docs/src/_env/node/adapter/form.ts
  docs/src/_env/node/adapter/vxe-table.ts
  docs/src/components/common-ui/vben-vxe-table.md
  docs/src/demos/vben-vxe-table/basic/index.vue
  docs/src/demos/vben-vxe-table/custom-cell/index.vue
  docs/src/demos/vben-vxe-table/edit-cell/index.vue
  docs/src/demos/vben-vxe-table/edit-row/index.vue
  docs/src/demos/vben-vxe-table/fixed/index.vue
  docs/src/demos/vben-vxe-table/form/index.vue
  docs/src/demos/vben-vxe-table/remote/index.vue
  docs/src/demos/vben-vxe-table/tree/index.vue
  docs/src/demos/vben-vxe-table/virtual/index.vue
  docs/src/guide/essentials/settings.md
  docs/src/guide/introduction/quick-start.md
  internal/vite-config/src/plugins/index.ts
  internal/vite-config/src/plugins/vxe-table.ts
  package.json
  packages/effects/plugins/src/vxe-table/index.ts
  packages/effects/plugins/src/vxe-table/theme.css
  playground/src/preferences.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

feat: add icon-picker component
  packages/@core/base/icons/src/index.ts
  packages/@core/base/icons/src/lucide.ts
  packages/@core/ui-kit/shadcn-ui/src/components/button/icon-button.vue
  packages/effects/common-ui/package.json
  packages/effects/common-ui/src/components/icon-picker/icon-picker.vue
  packages/effects/common-ui/src/components/icon-picker/index.ts
  packages/effects/common-ui/src/components/index.ts
  packages/effects/hooks/src/index.ts
  packages/effects/hooks/src/use-pagination.ts
  playground/src/views/demos/features/icons/icon-picker.vue
  playground/src/views/demos/features/icons/icons.data.ts
  playground/src/views/demos/features/icons/index.vue
  pnpm-lock.yaml
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

docs: remove unnecessary commas
  docs/src/components/common-ui/vben-vxe-table.md
Due: prettier --cache --ignore-unknown --write

fix: resolve conversations
  packages/effects/common-ui/package.json
  packages/effects/common-ui/src/components/icon-picker/icon-picker.vue
  packages/effects/hooks/src/use-pagination.ts
  playground/src/views/demos/features/icons/icon-picker.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

refactor: resort @vben/hooks
  packages/effects/common-ui/package.json
Due: prettier --cache --write

feat: env 关闭devtools
  playground/.env.development
Due: none

Path conditions:
  prettier --cache --ignore-unknown --write: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.{scss,less,styl,html})) or (any of: *.md)
  eslint --cache --fix: (any of: *.{js,jsx,ts,tsx}) or (any of: *.vue)
  prettier --cache --write: any of: package.json
  prettier --write: any of: *.vue
  stylelint --fix: (any of: *.vue) or (any of: *.{scss,less,styl,html})
