Repository vbenjs/vue-vben-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": ["prettier --cache --ignore-unknown  --write", "eslint --cache --fix"],
  "{!(package)*.json,*.code-snippets,.!(browserslist)*rc}": [
    "prettier --cache --write--parser json"
  ],
  "package.json": ["prettier --cache --write"],
  "*.vue": ["prettier --write", "eslint --cache --fix", "stylelint --fix"],
  "*.{scss,less,styl,html}": ["prettier --cache --ignore-unknown --write", "stylelint --fix"],
  "*.md": ["prettier --cache --ignore-unknown --write"]
}

fix: typo
  docs/src/components/common-ui/vben-modal.md
Due: prettier --cache --ignore-unknown --write

perf: modal and drawer api support chain calls (#5351)
  docs/src/components/common-ui/vben-drawer.md
  docs/src/components/common-ui/vben-modal.md
  docs/src/demos/vben-drawer/dynamic/index.vue
  docs/src/demos/vben-drawer/shared-data/index.vue
  docs/src/demos/vben-modal/dynamic/index.vue
  docs/src/demos/vben-modal/shared-data/index.vue
  packages/@core/ui-kit/popup-ui/src/drawer/drawer-api.ts
  packages/@core/ui-kit/popup-ui/src/modal/modal-api.ts
  playground/src/views/examples/drawer/index.vue
  playground/src/views/examples/modal/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

perf: add nested modal demo
  playground/src/views/examples/modal/index.vue
  playground/src/views/examples/modal/nested-demo.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

perf: add nested modal demo (#5353)
  playground/src/views/examples/modal/index.vue
  playground/src/views/examples/modal/nested-demo.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: 响应拦截器bug
  apps/backend-mock/utils/response.ts
  apps/web-ele/src/store/auth.ts
  docs/src/demos/vben-api-component/cascader/index.vue
  docs/src/demos/vben-drawer/shared-data/drawer.vue
  docs/src/demos/vben-vxe-table/mock-api.ts
  packages/@core/base/shared/src/global-state.ts
  packages/@core/base/shared/src/utils/unique.ts
  packages/@core/ui-kit/popup-ui/src/drawer/drawer-api.ts
  packages/effects/request/src/request-client/modules/interceptor.ts
  packages/effects/request/src/request-client/modules/uploader.ts
  packages/effects/request/src/request-client/request-client.ts
  playground/src/views/examples/form/basic.vue
  scripts/turbo-run/src/run.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

feat: add tippy support
  packages/effects/common-ui/package.json
  packages/effects/common-ui/src/components/index.ts
  packages/effects/common-ui/src/components/tippy/directive.ts
  packages/effects/common-ui/src/components/tippy/index.ts
  packages/effects/common-ui/src/components/tippy/theme.css
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write

feat: tippy demo
  apps/web-antd/src/bootstrap.ts
  apps/web-ele/src/bootstrap.ts
  apps/web-naive/src/bootstrap.ts
  packages/effects/common-ui/package.json
  packages/effects/common-ui/src/components/tippy/index.ts
  packages/effects/common-ui/src/components/tippy/theme.css
  playground/src/bootstrap.ts
  playground/src/router/routes/modules/examples.ts
  playground/src/views/examples/tippy/index.vue
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

feat: integrate new component `Tippy` with demo (#5355)
  apps/web-antd/src/bootstrap.ts
  apps/web-ele/src/bootstrap.ts
  apps/web-naive/src/bootstrap.ts
  packages/effects/common-ui/package.json
  packages/effects/common-ui/src/components/index.ts
  packages/effects/common-ui/src/components/tippy/directive.ts
  packages/effects/common-ui/src/components/tippy/index.ts
  playground/src/bootstrap.ts
  playground/src/router/routes/modules/examples.ts
  playground/src/views/examples/tippy/index.vue
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

feat: improve `tippy` demo
  packages/effects/common-ui/src/components/tippy/index.ts
  playground/src/router/routes/modules/examples.ts
  playground/src/views/examples/tippy/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

feat: improve `tippy` demo (#5357)
  packages/effects/common-ui/src/components/tippy/index.ts
  playground/src/router/routes/modules/examples.ts
  playground/src/views/examples/tippy/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

feat: popup component support overlay blur effect
  docs/src/components/common-ui/vben-drawer.md
  docs/src/components/common-ui/vben-modal.md
  packages/@core/ui-kit/popup-ui/src/drawer/drawer.ts
  packages/@core/ui-kit/popup-ui/src/drawer/drawer.vue
  packages/@core/ui-kit/popup-ui/src/modal/modal.ts
  packages/@core/ui-kit/popup-ui/src/modal/modal.vue
  packages/@core/ui-kit/shadcn-ui/src/ui/dialog/DialogContent.vue
  packages/@core/ui-kit/shadcn-ui/src/ui/sheet/SheetContent.vue
  playground/src/views/examples/drawer/base-demo.vue
  playground/src/views/examples/drawer/index.vue
  playground/src/views/examples/modal/blur-demo.vue
  playground/src/views/examples/modal/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

feat: popup component support overlay blur effect (#5359)
  docs/src/components/common-ui/vben-drawer.md
  docs/src/components/common-ui/vben-modal.md
  packages/@core/ui-kit/popup-ui/src/drawer/drawer.ts
  packages/@core/ui-kit/popup-ui/src/drawer/drawer.vue
  packages/@core/ui-kit/popup-ui/src/modal/modal.ts
  packages/@core/ui-kit/popup-ui/src/modal/modal.vue
  packages/@core/ui-kit/shadcn-ui/src/ui/dialog/DialogContent.vue
  packages/@core/ui-kit/shadcn-ui/src/ui/sheet/SheetContent.vue
  playground/src/views/examples/drawer/base-demo.vue
  playground/src/views/examples/drawer/index.vue
  playground/src/views/examples/modal/blur-demo.vue
  playground/src/views/examples/modal/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: useEcharts return invalid instance
  packages/effects/plugins/src/echarts/use-echarts.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: useEcharts return invalid instance (#5360)
  packages/effects/plugins/src/echarts/use-echarts.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

ci: retry deploy while faild
  .github/workflows/deploy.yml
  .github/workflows/rerun.yml
Due: none

style: popover bgColor is too close to common
  packages/@core/base/design/src/design-tokens/dark.css
Due: none

style: popover bgColor is too close to common (#5364)
  packages/@core/base/design/src/design-tokens/dark.css
Due: none

fix: spinner may stop playing animation after dismiss
  packages/@core/ui-kit/shadcn-ui/src/components/spinner/spinner.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: animation paused more safely
  packages/@core/ui-kit/shadcn-ui/src/components/spinner/spinner.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: spinner may stop playing animation after dismiss (#5365)
  packages/@core/ui-kit/shadcn-ui/src/components/spinner/spinner.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

feat: Added judgment to determine whether to trigger the countdown
  packages/@core/ui-kit/shadcn-ui/src/components/pin-input/input.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

feat: Added header height props
  packages/@core/preferences/src/types.ts
  packages/effects/layouts/src/basic/layout.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

feat: Added mandatory check presets for multiple selections
  apps/web-antd/src/adapter/form.ts
  apps/web-naive/src/adapter/form.ts
  docs/src/_env/adapter/form.ts
  docs/src/components/common-ui/vben-form.md
  packages/@core/ui-kit/form-ui/src/form-render/form-field.vue
  packages/@core/ui-kit/form-ui/src/types.ts
  playground/src/adapter/form.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

feat: Added mandatory check presets for multiple selections
  apps/web-ele/src/adapter/form.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

feat: Add a trigger hook function for each item of the form and a global hook function
  docs/src/components/common-ui/vben-form.md
  packages/@core/ui-kit/form-ui/src/form-render/form-field.vue
  packages/@core/ui-kit/form-ui/src/form-render/form.vue
  packages/@core/ui-kit/form-ui/src/types.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

feat: add judgment to determine whether to trigger the countdown
  packages/@core/ui-kit/shadcn-ui/src/components/pin-input/input.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

feat: added mandatory check presets for multiple selections
  apps/web-antd/src/adapter/form.ts
  apps/web-ele/src/adapter/form.ts
  apps/web-naive/src/adapter/form.ts
  docs/src/_env/adapter/form.ts
  docs/src/components/common-ui/vben-form.md
  packages/@core/ui-kit/form-ui/src/form-render/form-field.vue
  packages/@core/ui-kit/form-ui/src/types.ts
  playground/src/adapter/form.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

feat: add a trigger hook function for each item of the form and a global hook function
  docs/src/components/common-ui/vben-form.md
  packages/@core/ui-kit/form-ui/src/form-render/form-field.vue
  packages/@core/ui-kit/form-ui/src/form-render/form.vue
  packages/@core/ui-kit/form-ui/src/types.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

feat: add `noBasicLayout` in route meta
  apps/backend-mock/utils/mock-data.ts
  apps/web-antd/src/router/routes/core.ts
  apps/web-antd/src/router/routes/modules/dashboard.ts
  apps/web-antd/src/router/routes/modules/demos.ts
  apps/web-antd/src/router/routes/modules/vben.ts
  apps/web-ele/src/router/routes/core.ts
  apps/web-ele/src/router/routes/modules/dashboard.ts
  apps/web-ele/src/router/routes/modules/demos.ts
  apps/web-ele/src/router/routes/modules/vben.ts
  apps/web-naive/src/router/routes/core.ts
  apps/web-naive/src/router/routes/modules/dashboard.ts
  apps/web-naive/src/router/routes/modules/demos.ts
  apps/web-naive/src/router/routes/modules/vben.ts
  docs/src/en/guide/essentials/route.md
  docs/src/guide/essentials/route.md
  packages/@core/base/typings/src/vue-router.d.ts
  packages/effects/access/src/accessible.ts
  playground/src/router/routes/core.ts
  playground/src/router/routes/modules/dashboard.ts
  playground/src/router/routes/modules/demos.ts
  playground/src/router/routes/modules/examples.ts
  playground/src/router/routes/modules/vben.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

feat: add `noBasicLayout` in route meta (#5386)
  apps/backend-mock/utils/mock-data.ts
  apps/web-antd/src/router/routes/core.ts
  apps/web-antd/src/router/routes/modules/dashboard.ts
  apps/web-antd/src/router/routes/modules/demos.ts
  apps/web-antd/src/router/routes/modules/vben.ts
  apps/web-ele/src/router/routes/core.ts
  apps/web-ele/src/router/routes/modules/dashboard.ts
  apps/web-ele/src/router/routes/modules/demos.ts
  apps/web-ele/src/router/routes/modules/vben.ts
  apps/web-naive/src/router/routes/core.ts
  apps/web-naive/src/router/routes/modules/dashboard.ts
  apps/web-naive/src/router/routes/modules/demos.ts
  apps/web-naive/src/router/routes/modules/vben.ts
  docs/src/en/guide/essentials/route.md
  docs/src/guide/essentials/route.md
  packages/@core/base/typings/src/vue-router.d.ts
  packages/effects/access/src/accessible.ts
  playground/src/router/routes/core.ts
  playground/src/router/routes/modules/dashboard.ts
  playground/src/router/routes/modules/demos.ts
  playground/src/router/routes/modules/examples.ts
  playground/src/router/routes/modules/vben.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: root router config fixed
  apps/web-antd/src/router/routes/core.ts
  apps/web-ele/src/router/routes/core.ts
  apps/web-naive/src/router/routes/core.ts
  playground/src/router/routes/core.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: root router config fixed (#5389)
  apps/web-antd/src/router/routes/core.ts
  apps/web-ele/src/router/routes/core.ts
  apps/web-naive/src/router/routes/core.ts
  playground/src/router/routes/core.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

feat: support set default props for drawer and modal
  apps/web-antd/src/bootstrap.ts
  apps/web-ele/src/bootstrap.ts
  apps/web-naive/src/bootstrap.ts
  docs/src/components/common-ui/vben-drawer.md
  docs/src/components/common-ui/vben-modal.md
  packages/@core/ui-kit/popup-ui/src/drawer/index.ts
  packages/@core/ui-kit/popup-ui/src/drawer/use-drawer.ts
  packages/@core/ui-kit/popup-ui/src/modal/index.ts
  packages/@core/ui-kit/popup-ui/src/modal/use-modal.ts
  packages/styles/src/antd/index.css
  playground/src/bootstrap.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

docs: fix typo
  docs/src/components/common-ui/vben-modal.md
Due: prettier --cache --ignore-unknown --write

feat: support set default props for drawer and modal (#5390)
  apps/web-antd/src/bootstrap.ts
  apps/web-ele/src/bootstrap.ts
  apps/web-naive/src/bootstrap.ts
  docs/src/components/common-ui/vben-drawer.md
  docs/src/components/common-ui/vben-modal.md
  packages/@core/ui-kit/popup-ui/src/drawer/index.ts
  packages/@core/ui-kit/popup-ui/src/drawer/use-drawer.ts
  packages/@core/ui-kit/popup-ui/src/modal/index.ts
  packages/@core/ui-kit/popup-ui/src/modal/use-modal.ts
  packages/styles/src/antd/index.css
  playground/src/bootstrap.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: hide root route in breadcrumb
  apps/web-antd/src/router/routes/core.ts
  apps/web-ele/src/router/routes/core.ts
  apps/web-naive/src/router/routes/core.ts
  playground/src/router/routes/core.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

perf: improve fieldMappingTime to support format function
  docs/src/components/common-ui/vben-form.md
  packages/@core/ui-kit/form-ui/src/form-api.ts
  packages/@core/ui-kit/form-ui/src/types.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

perf: improve fieldMappingTime to support format function (#5392)
  docs/src/components/common-ui/vben-form.md
  packages/@core/ui-kit/form-ui/src/form-api.ts
  packages/@core/ui-kit/form-ui/src/types.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

style: element plus loading style fixed
  packages/styles/src/ele/index.css
Due: none

style: element plus loading style fixed (#5393)
  packages/styles/src/ele/index.css
Due: none
