Repository vbenjs/vue-vben-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

docs: fix typos
  docs/src/components/common-ui/vben-form.md
  docs/src/components/common-ui/vben-modal.md
  packages/@core/ui-kit/form-ui/src/vben-use-form.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

chore: update deps
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --cache --write

docs: fix typos (#5105)
  docs/src/components/common-ui/vben-form.md
  docs/src/components/common-ui/vben-modal.md
  packages/@core/ui-kit/form-ui/src/vben-use-form.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

feat: form support reverse action buttons
  docs/src/components/common-ui/vben-form.md
  packages/@core/ui-kit/form-ui/src/components/form-actions.vue
  packages/@core/ui-kit/form-ui/src/types.ts
  playground/src/views/examples/form/api.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

chore: update deps (#5107)
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --cache --write

fix: submit button class
  packages/@core/ui-kit/form-ui/src/components/form-actions.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

feat: form support reverse action buttons (#5108)
  docs/src/components/common-ui/vben-form.md
  packages/@core/ui-kit/form-ui/src/components/form-actions.vue
  packages/@core/ui-kit/form-ui/src/types.ts
  playground/src/views/examples/form/api.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: resolve table toolbar error
  packages/effects/plugins/src/vxe-table/init.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: resolve table toolbar error (#5109)
  packages/effects/plugins/src/vxe-table/init.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

feat: table search form visible control
  docs/src/components/common-ui/vben-vxe-table.md
  packages/effects/plugins/src/vxe-table/api.ts
  packages/effects/plugins/src/vxe-table/index.ts
  packages/effects/plugins/src/vxe-table/types.ts
  packages/effects/plugins/src/vxe-table/use-vxe-grid.vue
  packages/locales/src/langs/en-US/common.json
  packages/locales/src/langs/zh-CN/common.json
  playground/src/views/examples/vxe-table/form.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

chore: fix docs and demo
  docs/src/components/common-ui/vben-vxe-table.md
  docs/src/demos/vben-vxe-table/form/index.vue
  packages/effects/plugins/src/vxe-table/use-vxe-grid.vue
  playground/src/views/examples/vxe-table/custom-cell.vue
  playground/src/views/examples/vxe-table/form.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

chore: type error fixed
  docs/src/components/common-ui/vben-vxe-table.md
  packages/effects/plugins/src/vxe-table/api.ts
  packages/effects/plugins/src/vxe-table/types.ts
  packages/effects/plugins/src/vxe-table/use-vxe-grid.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

feat: table search form visible control (#5121)
  docs/src/components/common-ui/vben-vxe-table.md
  docs/src/demos/vben-vxe-table/form/index.vue
  packages/effects/plugins/src/vxe-table/api.ts
  packages/effects/plugins/src/vxe-table/index.ts
  packages/effects/plugins/src/vxe-table/types.ts
  packages/effects/plugins/src/vxe-table/use-vxe-grid.vue
  packages/locales/src/langs/en-US/common.json
  packages/locales/src/langs/zh-CN/common.json
  playground/src/views/examples/vxe-table/custom-cell.vue
  playground/src/views/examples/vxe-table/form.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

chore: release 5.5.1
  apps/web-antd/package.json
  apps/web-ele/package.json
  apps/web-naive/package.json
  docs/package.json
  internal/lint-configs/commitlint-config/package.json
  internal/lint-configs/stylelint-config/package.json
  internal/node-utils/package.json
  internal/tailwind-config/package.json
  internal/tsconfig/package.json
  internal/vite-config/package.json
  package.json
  packages/@core/base/design/package.json
  packages/@core/base/icons/package.json
  packages/@core/base/shared/package.json
  packages/@core/base/typings/package.json
  packages/@core/composables/package.json
  packages/@core/preferences/package.json
  packages/@core/ui-kit/form-ui/package.json
  packages/@core/ui-kit/layout-ui/package.json
  packages/@core/ui-kit/menu-ui/package.json
  packages/@core/ui-kit/shadcn-ui/package.json
  packages/@core/ui-kit/tabs-ui/package.json
  packages/constants/package.json
  packages/effects/access/package.json
  packages/effects/common-ui/package.json
  packages/effects/hooks/package.json
  packages/effects/layouts/package.json
  packages/effects/plugins/package.json
  packages/effects/request/package.json
  packages/icons/package.json
  packages/locales/package.json
  packages/preferences/package.json
  packages/stores/package.json
  packages/styles/package.json
  packages/types/package.json
  packages/utils/package.json
  playground/package.json
  scripts/turbo-run/package.json
  scripts/vsh/package.json
Due: prettier --cache --write

fix: form submission not appropriate
  packages/@core/ui-kit/form-ui/src/vben-use-form.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: form submission not appropriate (#5126)
  packages/@core/ui-kit/form-ui/src/vben-use-form.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: form support `disabledOnInputListener`
  apps/web-ele/src/adapter/form.ts
  apps/web-ele/src/views/demos/form/basic.vue
  packages/@core/ui-kit/form-ui/src/config.ts
  packages/@core/ui-kit/form-ui/src/form-render/form-field.vue
  packages/@core/ui-kit/form-ui/src/form-render/form.vue
  packages/@core/ui-kit/form-ui/src/types.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

chore: docs update
  packages/@core/ui-kit/form-ui/src/types.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: form support `disabledOnInputListener` (#5127)
  apps/web-ele/src/adapter/form.ts
  apps/web-ele/src/views/demos/form/basic.vue
  packages/@core/ui-kit/form-ui/src/config.ts
  packages/@core/ui-kit/form-ui/src/form-render/form-field.vue
  packages/@core/ui-kit/form-ui/src/form-render/form.vue
  packages/@core/ui-kit/form-ui/src/types.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

feat: tabbar support mouse wheel
  packages/@core/preferences/src/config.ts
  packages/@core/preferences/src/types.ts
  packages/@core/ui-kit/tabs-ui/src/tabs-view.vue
  packages/@core/ui-kit/tabs-ui/src/types.ts
  packages/@core/ui-kit/tabs-ui/src/use-tabs-view-scroll.ts
  packages/effects/layouts/src/basic/tabbar/tabbar.vue
  packages/effects/layouts/src/widgets/preferences/blocks/layout/tabbar.vue
  packages/effects/layouts/src/widgets/preferences/preferences-drawer.vue
  packages/locales/src/langs/en-US/preferences.json
  packages/locales/src/langs/zh-CN/preferences.json
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

docs: add tabbar wheelable tips
  packages/@core/ui-kit/tabs-ui/src/use-tabs-view-scroll.ts
  packages/effects/layouts/src/widgets/preferences/blocks/layout/tabbar.vue
  packages/effects/layouts/src/widgets/preferences/blocks/switch-item.vue
  packages/locales/src/langs/en-US/preferences.json
  packages/locales/src/langs/zh-CN/preferences.json
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

chore: resolve vitest test
  packages/@core/preferences/__tests__/__snapshots__/config.test.ts.snap
Due: none

feat: tabbar support mouse wheel vertical (#5129)
  packages/@core/preferences/__tests__/__snapshots__/config.test.ts.snap
  packages/@core/preferences/src/config.ts
  packages/@core/preferences/src/types.ts
  packages/@core/ui-kit/tabs-ui/src/tabs-view.vue
  packages/@core/ui-kit/tabs-ui/src/types.ts
  packages/@core/ui-kit/tabs-ui/src/use-tabs-view-scroll.ts
  packages/effects/layouts/src/basic/tabbar/tabbar.vue
  packages/effects/layouts/src/widgets/preferences/blocks/layout/tabbar.vue
  packages/effects/layouts/src/widgets/preferences/blocks/switch-item.vue
  packages/effects/layouts/src/widgets/preferences/preferences-drawer.vue
  packages/locales/src/langs/en-US/preferences.json
  packages/locales/src/langs/zh-CN/preferences.json
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: element plus validate failed style
  packages/styles/src/ele/index.css
Due: none

fix: element plus textarea style
  packages/styles/src/ele/index.css
Due: none

fix: element plus validate failed style (#5130)
  packages/styles/src/ele/index.css
Due: none

fix: from component events bind
  apps/web-ele/src/adapter/form.ts
  apps/web-naive/src/adapter/form.ts
  packages/@core/ui-kit/form-ui/src/config.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

chore: update docs
  packages/@core/ui-kit/form-ui/src/types.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

chore: default value and docs sync
  docs/src/_env/adapter/form.ts
  packages/@core/ui-kit/form-ui/src/form-render/form.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: form component events bind (#5137)
  apps/web-ele/src/adapter/form.ts
  apps/web-naive/src/adapter/form.ts
  docs/src/_env/adapter/form.ts
  packages/@core/ui-kit/form-ui/src/config.ts
  packages/@core/ui-kit/form-ui/src/form-render/form.vue
  packages/@core/ui-kit/form-ui/src/types.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: vxeTable default sort data no effect in first query
  packages/effects/plugins/src/vxe-table/use-vxe-grid.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

chore: table remote sort demo
  apps/backend-mock/api/table/list.ts
  playground/src/views/examples/vxe-table/remote.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: vxeGrid default sort data no effect in first query
  apps/backend-mock/api/table/list.ts
  packages/effects/plugins/src/vxe-table/use-vxe-grid.vue
  playground/src/views/examples/vxe-table/remote.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: vscode debug profile
  .vscode/launch.json
Due: none

fix: query params lost
  packages/effects/plugins/src/vxe-table/use-vxe-grid.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: vscode debug profile (#5140)
  .vscode/launch.json
Due: none

fix: vxeGrid default sort data no effect in first query (#5141)
  apps/backend-mock/api/table/list.ts
  packages/effects/plugins/src/vxe-table/use-vxe-grid.vue
  playground/src/views/examples/vxe-table/remote.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: pinInput value synchronous update
  apps/web-antd/src/views/_core/authentication/code-login.vue
  apps/web-ele/src/views/_core/authentication/code-login.vue
  apps/web-naive/src/views/_core/authentication/code-login.vue
  packages/@core/ui-kit/shadcn-ui/src/components/pin-input/input.vue
  packages/locales/src/langs/en-US/authentication.json
  packages/locales/src/langs/zh-CN/authentication.json
  playground/src/views/_core/authentication/code-login.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: pinInput value synchronous update (#5142)
  apps/web-antd/src/views/_core/authentication/code-login.vue
  apps/web-ele/src/views/_core/authentication/code-login.vue
  apps/web-naive/src/views/_core/authentication/code-login.vue
  packages/@core/ui-kit/shadcn-ui/src/components/pin-input/input.vue
  packages/locales/src/langs/en-US/authentication.json
  packages/locales/src/langs/zh-CN/authentication.json
  playground/src/views/_core/authentication/code-login.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

feat: user-dropdown support `hover` trigger
  packages/effects/hooks/package.json
  packages/effects/hooks/src/index.ts
  packages/effects/hooks/src/use-hover-toggle.ts
  packages/effects/layouts/src/widgets/user-dropdown/user-dropdown.vue
  playground/src/layouts/basic.vue
  pnpm-lock.yaml
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

Path conditions:
  prettier --cache --ignore-unknown --write: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.{scss,less,styl,html})) or (any of: *.md)
  eslint --cache --fix: (any of: *.{js,jsx,ts,tsx}) or (any of: *.vue)
  prettier --cache --write: any of: package.json
  prettier --write: any of: *.vue
  stylelint --fix: (any of: *.vue) or (any of: *.{scss,less,styl,html})
