Repository vbenjs/vue-vben-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

chore: replace intro.js with driver.js
  package.json
  pnpm-lock.yaml
  src/views/demo/setup/index.vue
Due: eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

chore: replace intro.js with driver.js (#3151)
  package.json
  pnpm-lock.yaml
  src/views/demo/setup/index.vue
Due: eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

fix(BasicForm): useForm 中 scheme 选项 slot 与 component冲突 (#3133)
  src/components/Form/src/BasicForm.vue
  src/components/Form/src/components/FormItem.vue
  src/components/Form/src/hooks/useAdvanced.ts
  src/components/Form/src/hooks/useAutoFocus.ts
  src/components/Form/src/hooks/useForm.ts
  src/components/Form/src/hooks/useFormEvents.ts
  src/components/Form/src/hooks/useFormValues.ts
  src/components/Form/src/hooks/useLabelWidth.ts
  src/components/Form/src/types/form.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

feat(SimpleMenu): Add custom images to menu icons
  src/components/SimpleMenu/src/SimpleSubMenu.vue
  src/router/types.ts
  types/vue-router.d.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

style: Set image and text alignment
  src/components/SimpleMenu/src/SimpleSubMenu.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

feat: 顶部菜单模式路由也支持图片
  src/components/Menu/src/components/MenuItemContent.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

feat(mixSilder): 左侧菜单混合模式也支持图片显示
  src/layouts/default/sider/MixSider.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

style(menu): 调整图片对齐样式
  src/components/Menu/src/components/MenuItemContent.vue
  src/components/SimpleMenu/src/SimpleSubMenu.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

chore(Menu): 调整图片与文字间距样式
  src/components/Menu/src/components/MenuItemContent.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

chore: fix type:check error
  src/components/Scrollbar/src/util.ts
  src/components/SimpleMenu/src/components/Menu.vue
  src/components/Table/src/types/table.ts
  src/components/Tree/src/types/tree.ts
  src/layouts/default/header/components/notify/NoticeList.vue
  src/utils/types.ts
  src/views/demo/comp/modal/index.vue
  src/views/demo/tree/EditTree.vue
  src/views/form-design/components/VFormDesign/components/ComponentProps.vue
  src/views/form-design/components/VFormDesign/components/FormItemColumnProps.vue
  src/views/form-design/components/VFormDesign/components/FormItemProps.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

chore(deps): updated ant-design-vue to version 4.04
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

chore: fix type:check error (#3159)
  src/components/Scrollbar/src/util.ts
  src/components/SimpleMenu/src/components/Menu.vue
  src/components/Table/src/types/table.ts
  src/components/Tree/src/types/tree.ts
  src/layouts/default/header/components/notify/NoticeList.vue
  src/utils/types.ts
  src/views/demo/comp/modal/index.vue
  src/views/demo/tree/EditTree.vue
  src/views/form-design/components/VFormDesign/components/ComponentProps.vue
  src/views/form-design/components/VFormDesign/components/FormItemColumnProps.vue
  src/views/form-design/components/VFormDesign/components/FormItemProps.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: 修复Modal.confirm的返回类型问题，需要有destroy，update的方法
  src/hooks/web/useMessage.tsx
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

chore: simplify
  src/hooks/web/useMessage.tsx
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: 修复Modal.confirm的返回类型问题，需要有destroy，update的方法 (#3161)
  src/hooks/web/useMessage.tsx
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

chore: icon和img都传值的情况下, 仅显示img
  src/components/Menu/src/components/MenuItemContent.vue
  src/components/SimpleMenu/src/SimpleSubMenu.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

feat(Menu): Add custom images to menu (#3158)
  src/components/Menu/src/components/MenuItemContent.vue
  src/components/SimpleMenu/src/SimpleSubMenu.vue
  src/layouts/default/sider/MixSider.vue
  src/router/types.ts
  types/vue-router.d.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix(demo): account page table without dept
  mock/demo/system.ts
  src/views/demo/system/account/account.data.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

chore(deps): updated ant-design-vue to version 4.05
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

chore(deps): updated ant-design-vue to version 4.05 (#3160)
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

fix(demo): account page table without dept (#3164)
  mock/demo/system.ts
  src/views/demo/system/account/account.data.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix(BasicTable): headerCell slot title not exist
  src/components/Table/src/hooks/useColumns.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

feat: Form增加图片上传组件
  src/components/Form/index.ts
  src/components/Form/src/componentMap.ts
  src/components/Form/src/components/ImageUpload.vue
  src/components/Form/src/helper.ts
  src/components/Form/src/types/index.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix(ApiSelect): Incorrect value type definition. close #3168
  src/components/Form/src/components/ApiSelect.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

chore: fix type:check error
  src/components/CardList/src/CardList.vue
  src/components/Form/src/components/ApiTree.vue
  src/components/Menu/src/BasicMenu.vue
  src/components/Menu/src/props.ts
  src/components/Menu/src/types.ts
  src/components/Menu/src/useOpenKeys.ts
  src/components/Scrollbar/src/Scrollbar.vue
  src/components/Table/src/hooks/useCustomRow.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

perf: Modify i18 file format to JSON
  .vscode/settings.json
  src/locales/lang/en.ts
  src/locales/lang/en/common.json
  src/locales/lang/en/common.ts
  src/locales/lang/en/component.json
  src/locales/lang/en/component.ts
  src/locales/lang/en/layout.json
  src/locales/lang/en/layout.ts
  src/locales/lang/en/routes/basic.json
  src/locales/lang/en/routes/basic.ts
  src/locales/lang/en/routes/dashboard.json
  src/locales/lang/en/routes/dashboard.ts
  src/locales/lang/en/routes/demo.json
  src/locales/lang/en/routes/demo.ts
  src/locales/lang/en/sys.json
  src/locales/lang/en/sys.ts
  src/locales/lang/zh-CN/antdLocale/DatePicker.json
  src/locales/lang/zh-CN/antdLocale/DatePicker.ts
  src/locales/lang/zh-CN/common.json
  src/locales/lang/zh-CN/common.ts
  src/locales/lang/zh-CN/component.json
  src/locales/lang/zh-CN/component.ts
  src/locales/lang/zh-CN/layout.json
  src/locales/lang/zh-CN/layout.ts
  src/locales/lang/zh-CN/routes/basic.json
  src/locales/lang/zh-CN/routes/basic.ts
  src/locales/lang/zh-CN/routes/dashboard.json
  src/locales/lang/zh-CN/routes/dashboard.ts
  src/locales/lang/zh-CN/routes/demo.json
  src/locales/lang/zh-CN/routes/demo.ts
  src/locales/lang/zh-CN/sys.json
  src/locales/lang/zh-CN/sys.ts
  src/locales/lang/zh_CN.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

perf: Modify i18 file format to JSON (#3171)
  .vscode/settings.json
  src/locales/lang/en.ts
  src/locales/lang/en/common.json
  src/locales/lang/en/common.ts
  src/locales/lang/en/component.json
  src/locales/lang/en/component.ts
  src/locales/lang/en/layout.json
  src/locales/lang/en/layout.ts
  src/locales/lang/en/routes/basic.json
  src/locales/lang/en/routes/basic.ts
  src/locales/lang/en/routes/dashboard.json
  src/locales/lang/en/routes/dashboard.ts
  src/locales/lang/en/routes/demo.json
  src/locales/lang/en/routes/demo.ts
  src/locales/lang/en/sys.json
  src/locales/lang/en/sys.ts
  src/locales/lang/zh-CN/antdLocale/DatePicker.json
  src/locales/lang/zh-CN/antdLocale/DatePicker.ts
  src/locales/lang/zh-CN/common.json
  src/locales/lang/zh-CN/common.ts
  src/locales/lang/zh-CN/component.json
  src/locales/lang/zh-CN/component.ts
  src/locales/lang/zh-CN/layout.json
  src/locales/lang/zh-CN/layout.ts
  src/locales/lang/zh-CN/routes/basic.json
  src/locales/lang/zh-CN/routes/basic.ts
  src/locales/lang/zh-CN/routes/dashboard.json
  src/locales/lang/zh-CN/routes/dashboard.ts
  src/locales/lang/zh-CN/routes/demo.json
  src/locales/lang/zh-CN/routes/demo.ts
  src/locales/lang/zh-CN/sys.json
  src/locales/lang/zh-CN/sys.ts
  src/locales/lang/zh_CN.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

chore: fix type:check error (#3169)
  src/components/CardList/src/CardList.vue
  src/components/Form/src/components/ApiTree.vue
  src/components/Menu/src/BasicMenu.vue
  src/components/Menu/src/props.ts
  src/components/Menu/src/types.ts
  src/components/Menu/src/useOpenKeys.ts
  src/components/Scrollbar/src/Scrollbar.vue
  src/components/Table/src/hooks/useCustomRow.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix(ApiSelect): BasicForm emit ield-value-change twice
  src/components/Form/src/components/ApiSelect.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

Path conditions:
  prettier --cache --ignore-unknown --write: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.{scss,less,styl,html})) or (any of: *.md)
  eslint --cache --fix: (any of: *.{js,jsx,ts,tsx}) or (any of: *.vue)
  prettier --cache --write: any of: package.json
  prettier --write: any of: *.vue
  stylelint --fix: (any of: *.vue) or (any of: *.{scss,less,styl,html})
