Repository vbenjs/vue-vben-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

fix(BasicForm): 修复表单项通过ifShow控制隐藏后其表单值还存在
  src/components/Form/src/components/FormItem.vue
  src/components/Form/src/types/form.ts
  src/views/demo/form/DynamicForm.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: 被动退出系统redirect出现乱码
  src/store/modules/user.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

Update git url
  README.zh-CN.md
Due: prettier --cache --ignore-unknown --write

Update git url
  README.md
Due: prettier --cache --ignore-unknown --write

chore(docs): update git url (#3839)
  README.md
  README.zh-CN.md
Due: prettier --cache --ignore-unknown --write

feat(BasicForm): prefix
  src/components/Form/src/BasicForm.vue
  src/components/Form/src/components/FormItem.vue
  src/components/Form/src/types/form.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

feat(BasicForm): add prefix slot for schema (#3840)
  src/components/Form/src/BasicForm.vue
  src/components/Form/src/components/FormItem.vue
  src/components/Form/src/types/form.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: 路由参数存在非英文字符的情况下 会生成一个新的tab 而非返回原有tab (#3832)
  src/store/modules/multipleTab.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

Fix: search menu now correctly lowercases input keys (resolved in r: 96ac362fa6a89af256cf8a84e4b667c195c6ea2e)
  src/components/Application/src/search/useMenuSearch.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix(Application): search menu now correctly lowercases input keys (#3842)
  src/components/Application/src/search/useMenuSearch.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

feat(BasicTable): add search form field change event
  src/components/Table/src/BasicTable.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

feat(form):add prefix & suffix to componentsprop
  src/components/Form/src/components/FormItem.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix(form): 添加对于input系列prefix和suffix的兼容性处理
  src/components/Form/src/components/FormItem.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

feat(form): adapt fn
  src/components/Form/src/components/FormItem.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

feat(BasicTable): BasicTable add onQueryFormFieldValueChange prop
  src/components/Table/src/BasicTable.vue
  src/components/Table/src/hooks/useTableForm.ts
  src/components/Table/src/types/table.ts
  src/views/demo/table/FormTable.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

feat: add devtools plugin instead of inspector plugin
  internal/vite-config/src/plugins/index.ts
  package.json
  pnpm-lock.yaml
  vite.config.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write

first commit
  CHANGELOG.en_US.md
Due: prettier --cache --ignore-unknown --write

style: format code style
  CHANGELOG.en_US.md
Due: prettier --cache --ignore-unknown --write

style: format code
  src/components/CodeEditor/src/CodeEditor.vue
  src/components/CodeEditor/src/codemirror/CodeMirror.vue
  src/components/CodeEditor/src/typing.ts
  src/components/Form/src/BasicForm.vue
  src/components/Form/src/components/FormItem.vue
  src/components/Form/src/types/form.ts
  src/views/demo/editor/code/Editor.vue
  src/views/demo/editor/code/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: state mutations in computed getters should be avoided
  src/components/Table/src/hooks/useDataSource.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: type about getDataSourceRef
  src/components/Table/src/hooks/useDataSource.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

update case
  src/views/demo/form/RuleForm.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix(Loading): 处理v-loading指令和useLoading的内存泄露
  src/components/Loading/src/createLoading.ts
  src/components/Loading/src/useLoading.ts
  src/directives/loading.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

chore(project): refactor types dir
  apps/antd-view/package.json
  apps/antd-view/src/preference.ts
  apps/antd-view/src/router/guard/access.ts
  apps/antd-view/src/router/routes/modules/vben.ts
  apps/antd-view/src/services/modules/user/index.ts
  internal/lint-configs/eslint-config/package.json
  internal/tsconfig/package.json
  internal/tsconfig/web-app.json
  packages/@vben-core/shared/typings/package.json
  packages/@vben-core/shared/typings/src/index.ts
  packages/@vben-core/uikit/shadcn-ui/src/components/breadcrumb/breadcrumb-background.vue
  packages/@vben-core/uikit/shadcn-ui/src/components/breadcrumb/breadcrumb.vue
  packages/business/common-ui/package.json
  packages/business/common-ui/src/authentication/layout-toggle.vue
  packages/business/common-ui/src/global-search/global-search.vue
  packages/business/common-ui/src/global-search/search-panel.vue
  packages/business/common-ui/src/language-toggle/language-toggle.vue
  packages/business/common-ui/src/preference/blocks/general/general.vue
  packages/business/common-ui/src/preference/blocks/general/navigation.vue
  packages/business/common-ui/src/preference/blocks/layout/breadcrumb.vue
  packages/business/common-ui/src/preference/blocks/layout/header.vue
  packages/business/common-ui/src/preference/blocks/layout/layout.vue
  packages/business/common-ui/src/preference/blocks/select-item.vue
  packages/business/common-ui/src/preference/blocks/toggle-item.vue
  packages/business/common-ui/src/preference/preference-widget.vue
  packages/business/common-ui/src/preference/preference.vue
  packages/business/common-ui/src/user-dropdown/user-dropdown.vue
  packages/icons/package.json
  packages/types/build.config.ts
  packages/types/global.d.ts
  packages/types/package.json
  packages/types/src/index.ts
  packages/types/src/ui.ts
  packages/types/tsconfig.json
  pnpm-lock.yaml
  vben-admin.code-workspace
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

chore: update dir
  apps/antd-view/package.json
  apps/antd-view/src/layouts/basic.vue
  apps/antd-view/src/layouts/index.ts
  apps/antd-view/src/main.ts
  apps/antd-view/src/router/routes/builtin.ts
  apps/antd-view/src/router/routes/index.ts
  apps/antd-view/src/router/routes/modules/nested.ts
  apps/antd-view/src/router/routes/modules/outside.ts
  apps/antd-view/src/router/routes/modules/vben.ts
  apps/antd-view/vite.config.mts
  packages/@vben-core/shared/design/src/scss/common/base.scss
  packages/@vben-core/shared/toolkit/src/window.test.ts
  packages/business/common-ui/src/authentication/login.vue
  packages/hooks/src/index.ts
  packages/styles/package.json
  packages/styles/src/index.ts
  packages/styles/tsconfig.json
  packages/styles/vite.config.mts
  pnpm-lock.yaml
  vben-admin.code-workspace
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

feat: add website package
  internal/lint-configs/eslint-config/src/configs/ignores.ts
  website/.vitepress/cache/deps/_metadata.json
  website/.vitepress/cache/deps/chunk-Z6W6QRLO.js
  website/.vitepress/cache/deps/chunk-Z6W6QRLO.js.map
  website/.vitepress/cache/deps/package.json
  website/.vitepress/cache/deps/vitepress___@vue_devtools-api.js
  website/.vitepress/cache/deps/vitepress___@vue_devtools-api.js.map
  website/.vitepress/cache/deps/vitepress___@vueuse_core.js
  website/.vitepress/cache/deps/vitepress___@vueuse_core.js.map
  website/.vitepress/cache/deps/vue.js
  website/.vitepress/cache/deps/vue.js.map
  website/.vitepress/cache/deps_temp_c643c573/chunk-Z6W6QRLO.js
  website/.vitepress/cache/deps_temp_c643c573/chunk-Z6W6QRLO.js.map
  website/.vitepress/cache/deps_temp_c643c573/package.json
  website/.vitepress/cache/deps_temp_c643c573/vitepress___@vue_devtools-api.js
  website/.vitepress/cache/deps_temp_c643c573/vitepress___@vue_devtools-api.js.map
  website/.vitepress/cache/deps_temp_c643c573/vitepress___@vueuse_core.js
  website/.vitepress/cache/deps_temp_c643c573/vitepress___@vueuse_core.js.map
  website/.vitepress/cache/deps_temp_c643c573/vue.js
  website/.vitepress/cache/deps_temp_c643c573/vue.js.map
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write

fix: some bugs
  .vscode/settings.json
  packages/@vben-core/uikit/layout-ui/src/vben-layout.vue
  packages/@vben-core/uikit/shadcn-ui/src/components/breadcrumb/breadcrumb-background.vue
  packages/@vben-core/uikit/shadcn-ui/src/components/breadcrumb/breadcrumb.vue
  packages/@vben-core/uikit/shadcn-ui/src/components/button/icon-button.vue
  packages/business/common-ui/src/authentication/login.vue
  packages/business/common-ui/src/preference/blocks/select-item.vue
  packages/business/common-ui/src/preference/blocks/switch-item.vue
  packages/business/common-ui/src/preference/blocks/toggle-item.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

feat(project): support dynamic title
  apps/antd-view/package.json
  apps/antd-view/src/router/guard/index.ts
  apps/antd-view/vite.config.mts
  packages/@vben-core/shared/design-tokens/src/dark/index.scss
  packages/@vben-core/shared/typings/src/preference.ts
  packages/@vben-core/shared/typings/src/tools.ts
  packages/@vben-core/uikit/shadcn-ui/src/components/logo/logo.vue
  packages/business/common-ui/package.json
  packages/business/common-ui/src/preference/blocks/general/general.vue
  packages/business/common-ui/src/preference/preference-widget.vue
  packages/business/common-ui/src/preference/preference.vue
  packages/locales/src/langs/en-US.yaml
  packages/locales/src/langs/zh-CN.yaml
  packages/preference/src/config.ts
  pnpm-lock.yaml
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

feat(project): add menu split config
  packages/@vben-core/shared/typings/src/preference.ts
  packages/business/common-ui/src/preference/blocks/general/navigation.vue
  packages/business/common-ui/src/preference/blocks/index.ts
  packages/business/common-ui/src/preference/blocks/layout/breadcrumb.vue
  packages/business/common-ui/src/preference/blocks/layout/navigation.vue
  packages/business/common-ui/src/preference/blocks/layout/sidebar.vue
  packages/business/common-ui/src/preference/preference-widget.vue
  packages/business/common-ui/src/preference/preference.vue
  packages/business/layouts/src/basic/menu/use-mixed-menu.ts
  packages/locales/src/langs/en-US.yaml
  packages/locales/src/langs/zh-CN.yaml
  packages/preference/src/config.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix(Loading): 处理v-loading指令和useLoading的内存泄露 (#3861)
  src/components/Loading/src/createLoading.ts
  src/components/Loading/src/useLoading.ts
  src/directives/loading.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

update case (#3858)
  src/views/demo/form/RuleForm.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

style: format code style (#3857)
  src/components/CodeEditor/src/CodeEditor.vue
  src/components/CodeEditor/src/codemirror/CodeMirror.vue
  src/components/CodeEditor/src/typing.ts
  src/components/Form/src/BasicForm.vue
  src/components/Form/src/components/FormItem.vue
  src/components/Form/src/types/form.ts
  src/views/demo/editor/code/Editor.vue
  src/views/demo/editor/code/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

feat: The accordion mode of the menu is configurable
  packages/@vben-core/shared/typings/src/preference.ts
  packages/business/common-ui/src/preference/blocks/layout/navigation.vue
  packages/business/common-ui/src/preference/preference-widget.vue
  packages/business/common-ui/src/preference/preference.vue
  packages/business/layouts/src/basic/content/content.vue
  packages/business/layouts/src/basic/layout.vue
  packages/business/layouts/src/basic/menu/extra-menu.vue
  packages/business/layouts/src/basic/menu/menu.vue
  packages/locales/src/langs/en-US.yaml
  packages/locales/src/langs/zh-CN.yaml
  packages/preference/src/config.ts
  packages/stores/src/modules/tabs.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix(useDataSource): state mutations in computed getters should be avoided (#3859)
  src/components/Table/src/hooks/useDataSource.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

feat: add devtools plugin instead of inspector plugin (#3856)
  internal/vite-config/src/plugins/index.ts
  package.json
  pnpm-lock.yaml
  vite.config.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write

perf(form->util): duplicate judge
  src/components/Form/src/helper.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

Path conditions:
  prettier --cache --ignore-unknown --write: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.{scss,less,styl,html})) or (any of: *.md)
  eslint --cache --fix: (any of: *.{js,jsx,ts,tsx}) or (any of: *.vue)
  prettier --cache --write: any of: package.json
  prettier --write: any of: *.vue
  stylelint --fix: (any of: *.vue) or (any of: *.{scss,less,styl,html})
