Repository vbenjs/vue-vben-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

chore: 调整props
  packages/effects/common-ui/src/components/verify/drag-verify/index.vue
  packages/effects/common-ui/src/components/verify/props.ts
  packages/effects/common-ui/src/components/verify/rotate-verify/index.vue
  playground/src/views/examples/verify/drag-verify/index.vue
  playground/src/views/examples/verify/rotate-verify/index.vue
  pnpm-lock.yaml
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

chore: 优化demo背景
  playground/src/views/examples/verify/rotate-verify/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: missing the default required label style for components such as select (#4444)
  packages/@core/ui-kit/form-ui/src/form-render/form-field.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: the focus style and antd of the input box validation failure should be consistent
  packages/@core/ui-kit/form-ui/src/form-render/form-field.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

chore: follow suggest
  packages/effects/common-ui/src/components/verify/drag-verify/index.vue
  packages/effects/common-ui/src/components/verify/rotate-verify/index.vue
  packages/effects/common-ui/src/components/verify/use-event-listener.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix lang
  src/locales/lang/en/report.json
  src/locales/lang/zh-CN/report.json
  src/views/adsense/components/rightContent.vue
  src/views/adsense/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

chore: rm unnecessary style tag
  packages/effects/common-ui/src/components/verify/drag-verify/action.vue
  packages/effects/common-ui/src/components/verify/drag-verify/bar.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: update fetch URL to use BASE_URL for version tag retrieval
  packages/effects/layouts/src/widgets/check-updates/check-updates.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

feat: add configurable update check URL for better flexibility
  packages/effects/layouts/src/widgets/check-updates/check-updates.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: layout.vue 组件 因 主题sidebar-nav 布局 隐藏 菜单后 转换 为 双列菜单sidebar-mixed-nav 找不到主菜单 & Header 宽度计算 空白问题
  packages/effects/layouts/src/basic/layout.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: update fetch URL to use BASE_URL for version tag retrieval (#4448)
  packages/effects/layouts/src/widgets/check-updates/check-updates.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: the focus style and antd of the input box validation failure should be consistent (#4446)
  packages/@core/ui-kit/form-ui/src/form-render/form-field.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

chore: update deps
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/docs.yml
  .github/ISSUE_TEMPLATE/feature-request.yml
  .github/actions/setup-node/action.yml
  .github/dependabot.yml
  .github/release-drafter.yml
  .github/workflows/build.yml
  .github/workflows/changeset-version.yml
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/issue-close-require.yml
  .github/workflows/issue-labeled.yml
  .github/workflows/lock.yml
  .github/workflows/release-tag.yml
  .github/workflows/stale.yml
  docs/src/commercial/community.md
  internal/lint-configs/prettier-config/index.mjs
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tea.yaml
Due: prettier --cache --ignore-unknown --write, prettier --cache --write

fix: form verification style fails in pop-up window
  packages/styles/src/antd/index.css
Due: none

fix: form verification style fails in pop-up window (#4452)
  packages/styles/src/antd/index.css
Due: none

feat: add updateSchema to form api
  packages/@core/ui-kit/form-ui/__tests__/form-api.test.ts
  packages/@core/ui-kit/form-ui/src/form-api.ts
  playground/src/views/examples/form/api.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

chore: typo
  packages/@core/ui-kit/form-ui/src/form-api.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

feat: add updateSchema to form api (#4453)
  packages/@core/ui-kit/form-ui/__tests__/form-api.test.ts
  packages/@core/ui-kit/form-ui/src/form-api.ts
  playground/src/views/examples/form/api.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: improve defineConfig types
  internal/vite-config/src/typing.ts
  packages/@core/ui-kit/form-ui/__tests__/form-api.test.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: improve defineConfig types (#4454)
  internal/vite-config/src/typing.ts
  packages/@core/ui-kit/form-ui/__tests__/form-api.test.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: improve global type detection of vue files
  internal/lint-configs/eslint-config/src/configs/javascript.ts
  internal/lint-configs/eslint-config/src/configs/vue.ts
  packages/effects/common-ui/src/ui/about/about.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: improve global type detection of vue files (#4455)
  internal/lint-configs/eslint-config/src/configs/javascript.ts
  internal/lint-configs/eslint-config/src/configs/vue.ts
  packages/effects/common-ui/src/ui/about/about.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: improve layout boundary issues (#4450)
  packages/effects/layouts/src/basic/layout.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

chore: update demo
  README.ja-JP.md
  README.md
  README.zh-CN.md
  docs/.vitepress/config/shared.mts
  docs/src/commercial/community.md
  docs/src/commercial/customized.md
  docs/src/en/guide/essentials/settings.md
  docs/src/en/index.md
  docs/src/friend-links/index.md
  docs/src/guide/essentials/settings.md
  docs/src/index.md
  docs/src/sponsor/personal.md
  internal/vite-config/src/options.ts
  packages/@core/base/shared/src/constants/vben.ts
  packages/@core/preferences/__tests__/__snapshots__/config.test.ts.snap
  packages/@core/preferences/src/config.ts
  packages/effects/common-ui/src/components/captcha/index.ts
  packages/effects/common-ui/src/components/captcha/point-selection-captcha-card.vue
  packages/effects/common-ui/src/components/captcha/point-selection-captcha.vue
  packages/effects/common-ui/src/components/captcha/types.ts
  packages/effects/common-ui/src/components/verify/drag-verify/index.vue
  playground/src/views/examples/captcha/base64.ts
  playground/src/views/examples/captcha/index.vue
  pnpm-lock.yaml
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: some antd components failed to verify styles
  packages/styles/src/antd/index.css
  playground/src/views/examples/form/rules.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: some antd components failed to verify styles (#4458)
  packages/styles/src/antd/index.css
  playground/src/views/examples/form/rules.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

perf: improve the experience of Captcha components
  packages/@core/ui-kit/shadcn-ui/src/components/spine-text/spine-text.vue
  packages/effects/common-ui/package.json
  packages/effects/common-ui/src/components/captcha/index.ts
  packages/effects/common-ui/src/components/captcha/point-selection-captcha/index.vue
  packages/effects/common-ui/src/components/captcha/point-selection-captcha/point-selection-captcha-card.vue
  packages/effects/common-ui/src/components/captcha/slider-captcha/index.vue
  packages/effects/common-ui/src/components/captcha/slider-captcha/slider-captcha-action.vue
  packages/effects/common-ui/src/components/captcha/slider-captcha/slider-captcha-bar.vue
  packages/effects/common-ui/src/components/captcha/slider-captcha/slider-captcha-content.vue
  packages/effects/common-ui/src/components/captcha/slider-rotate-captcha/index.vue
  packages/effects/common-ui/src/components/captcha/types.ts
  packages/effects/common-ui/src/components/captcha/utils.ts
  packages/effects/common-ui/src/components/index.ts
  packages/effects/common-ui/src/components/verify/drag-verify/action.vue
  packages/effects/common-ui/src/components/verify/drag-verify/bar.vue
  packages/effects/common-ui/src/components/verify/drag-verify/content.vue
  packages/effects/common-ui/src/components/verify/index.ts
  packages/effects/common-ui/src/components/verify/props.ts
  packages/effects/common-ui/src/components/verify/typing.ts
  packages/locales/src/langs/en-US.json
  packages/locales/src/langs/zh-CN.json
  playground/src/locales/langs/en-US.json
  playground/src/locales/langs/zh-CN.json
  playground/src/router/routes/modules/examples.ts
  playground/src/views/examples/captcha/point-selection-captcha.vue
  playground/src/views/examples/captcha/slider-captcha.vue
  playground/src/views/examples/captcha/slider-rotate-captcha.vue
  playground/src/views/examples/verify/drag-verify/index.vue
  pnpm-lock.yaml
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

chore(@vben/common-ui): add verify component (#4390)
  README.ja-JP.md
  README.md
  README.zh-CN.md
  docs/.vitepress/config/shared.mts
  docs/src/commercial/community.md
  docs/src/commercial/customized.md
  docs/src/en/guide/essentials/settings.md
  docs/src/en/index.md
  docs/src/friend-links/index.md
  docs/src/guide/essentials/settings.md
  docs/src/index.md
  docs/src/sponsor/personal.md
  internal/vite-config/src/options.ts
  packages/@core/base/icons/src/lucide.ts
  packages/@core/base/shared/src/constants/vben.ts
  packages/@core/preferences/__tests__/__snapshots__/config.test.ts.snap
  packages/@core/preferences/src/config.ts
  packages/@core/ui-kit/shadcn-ui/src/components/spine-text/spine-text.vue
  packages/effects/common-ui/package.json
  packages/effects/common-ui/src/components/captcha/index.ts
  packages/effects/common-ui/src/components/captcha/point-selection-captcha/index.vue
  packages/effects/common-ui/src/components/captcha/point-selection-captcha/point-selection-captcha-card.vue
  packages/effects/common-ui/src/components/captcha/slider-captcha/index.vue
  packages/effects/common-ui/src/components/captcha/slider-captcha/slider-captcha-action.vue
  packages/effects/common-ui/src/components/captcha/slider-captcha/slider-captcha-bar.vue
  packages/effects/common-ui/src/components/captcha/slider-captcha/slider-captcha-content.vue
  packages/effects/common-ui/src/components/captcha/slider-rotate-captcha/index.vue
  packages/effects/common-ui/src/components/captcha/types.ts
  packages/effects/common-ui/src/components/captcha/utils.ts
  packages/locales/src/langs/en-US.json
  packages/locales/src/langs/zh-CN.json
  playground/src/locales/langs/en-US.json
  playground/src/locales/langs/zh-CN.json
  playground/src/router/routes/modules/examples.ts
  playground/src/views/examples/captcha/base64.ts
  playground/src/views/examples/captcha/point-selection-captcha.vue
  playground/src/views/examples/captcha/slider-captcha.vue
  playground/src/views/examples/captcha/slider-rotate-captcha.vue
  pnpm-lock.yaml
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

feat: add sliding verification to the login form
  apps/web-antd/src/views/_core/authentication/login.vue
  apps/web-ele/src/views/_core/authentication/login.vue
  apps/web-naive/src/adapter/index.ts
  apps/web-naive/src/adapter/naive.ts
  apps/web-naive/src/api/request.ts
  apps/web-naive/src/router/access.ts
  apps/web-naive/src/store/auth.ts
  apps/web-naive/src/views/_core/authentication/login.vue
  packages/@core/ui-kit/shadcn-ui/src/components/ui/select/SelectTrigger.vue
  packages/effects/common-ui/src/components/captcha/slider-captcha/index.vue
  packages/effects/common-ui/src/components/captcha/slider-rotate-captcha/index.vue
  packages/locales/src/langs/en-US.json
  packages/locales/src/langs/zh-CN.json
  playground/src/views/_core/authentication/login.vue
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

feat: add sliding verification to the login form (#4461)
  apps/web-antd/src/views/_core/authentication/login.vue
  apps/web-ele/src/views/_core/authentication/login.vue
  apps/web-naive/src/adapter/index.ts
  apps/web-naive/src/adapter/naive.ts
  apps/web-naive/src/api/request.ts
  apps/web-naive/src/router/access.ts
  apps/web-naive/src/store/auth.ts
  apps/web-naive/src/views/_core/authentication/login.vue
  packages/@core/ui-kit/shadcn-ui/src/components/ui/select/SelectTrigger.vue
  packages/effects/common-ui/src/components/captcha/slider-captcha/index.vue
  packages/effects/common-ui/src/components/captcha/slider-rotate-captcha/index.vue
  packages/locales/src/langs/en-US.json
  packages/locales/src/langs/zh-CN.json
  playground/src/views/_core/authentication/login.vue
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

chore: fixed known issues with form components
  packages/@core/base/shared/src/utils/__tests__/inference.test.ts
  packages/@core/base/shared/src/utils/inference.ts
  packages/@core/ui-kit/form-ui/src/form-api.ts
  packages/@core/ui-kit/form-ui/src/form-render/dependencies.ts
  packages/@core/ui-kit/form-ui/src/form-render/form-field.vue
  packages/@core/ui-kit/form-ui/src/types.ts
  packages/effects/common-ui/src/components/captcha/point-selection-captcha/index.vue
  packages/effects/layouts/src/widgets/notification/notification.vue
  playground/src/views/examples/form/api.vue
  playground/src/views/examples/form/dynamic.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

docs: add vben form doc
  apps/web-antd/src/adapter/form.ts
  docs/.vitepress/theme/components/site-layout.vue
  docs/.vitepress/theme/styles/base.css
  docs/package.json
  docs/src/_env/adapter/form.ts
  docs/src/_env/adapter/index.ts
  docs/src/components/common-ui/vben-form.md
  docs/src/demos/vben-form/api/index.vue
  docs/src/demos/vben-form/basic/index.vue
  docs/src/demos/vben-form/custom/index.vue
  docs/src/demos/vben-form/dynamic/index.vue
  docs/src/demos/vben-form/query/index.vue
  docs/src/demos/vben-form/rules/index.vue
  docs/tsconfig.json
  packages/@core/ui-kit/form-ui/src/types.ts
  pnpm-lock.yaml
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

fix: build error
  docs/.vitepress/components/demo-preview.vue
  docs/.vitepress/theme/components/site-layout.vue
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: eslint --cache --fix, prettier --write, stylelint --fix

chore: test error
  apps/web-antd/src/adapter/form.ts
  apps/web-ele/src/adapter/form.ts
  apps/web-naive/src/adapter/form.ts
  docs/.vitepress/config/zh.mts
  docs/src/_env/adapter/form.ts
  docs/src/components/common-ui/vben-form.md
  packages/@core/base/shared/src/utils/inference.ts
  packages/@core/ui-kit/form-ui/src/form-api.ts
  playground/src/adapter/form.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

chore: update docs
  docs/.vitepress/config/zh.mts
  docs/src/components/common-ui/vben-count-to-animator.md
  docs/src/demos/vben-count-to-animator/basic/index.vue
  docs/src/demos/vben-count-to-animator/custom/index.vue
  packages/effects/common-ui/src/components/index.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

docs: update docs (#4466)
  apps/web-antd/src/adapter/form.ts
  apps/web-ele/src/adapter/form.ts
  apps/web-naive/src/adapter/form.ts
  docs/.vitepress/components/demo-preview.vue
  docs/.vitepress/config/zh.mts
  docs/.vitepress/theme/components/site-layout.vue
  docs/.vitepress/theme/styles/base.css
  docs/package.json
  docs/src/_env/adapter/form.ts
  docs/src/_env/adapter/index.ts
  docs/src/components/common-ui/vben-count-to-animator.md
  docs/src/components/common-ui/vben-form.md
  docs/src/demos/vben-count-to-animator/basic/index.vue
  docs/src/demos/vben-count-to-animator/custom/index.vue
  docs/src/demos/vben-form/api/index.vue
  docs/src/demos/vben-form/basic/index.vue
  docs/src/demos/vben-form/custom/index.vue
  docs/src/demos/vben-form/dynamic/index.vue
  docs/src/demos/vben-form/query/index.vue
  docs/src/demos/vben-form/rules/index.vue
  docs/tsconfig.json
  packages/@core/base/shared/src/utils/__tests__/inference.test.ts
  packages/@core/base/shared/src/utils/inference.ts
  packages/@core/ui-kit/form-ui/src/form-api.ts
  packages/@core/ui-kit/form-ui/src/form-render/dependencies.ts
  packages/@core/ui-kit/form-ui/src/form-render/form-field.vue
  packages/@core/ui-kit/form-ui/src/types.ts
  packages/effects/common-ui/src/components/captcha/point-selection-captcha/index.vue
  packages/effects/common-ui/src/components/index.ts
  packages/effects/layouts/src/widgets/notification/notification.vue
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

chore: release v5.3.0
  apps/web-antd/package.json
  apps/web-ele/package.json
  apps/web-naive/package.json
  docs/package.json
  internal/lint-configs/commitlint-config/package.json
  internal/lint-configs/stylelint-config/package.json
  internal/node-utils/package.json
  internal/tailwind-config/package.json
  internal/tsconfig/package.json
  internal/vite-config/package.json
  package.json
  packages/@core/base/design/package.json
  packages/@core/base/icons/package.json
  packages/@core/base/shared/package.json
  packages/@core/base/typings/package.json
  packages/@core/composables/package.json
  packages/@core/preferences/package.json
  packages/@core/ui-kit/layout-ui/package.json
  packages/@core/ui-kit/menu-ui/package.json
  packages/@core/ui-kit/shadcn-ui/package.json
  packages/@core/ui-kit/tabs-ui/package.json
  packages/constants/package.json
  packages/effects/access/package.json
  packages/effects/common-ui/package.json
  packages/effects/hooks/package.json
  packages/effects/layouts/package.json
  packages/effects/plugins/package.json
  packages/effects/request/package.json
  packages/icons/package.json
  packages/locales/package.json
  packages/preferences/package.json
  packages/stores/package.json
  packages/styles/package.json
  packages/types/package.json
  packages/utils/package.json
  playground/package.json
  pnpm-lock.yaml
  scripts/turbo-run/package.json
  scripts/vsh/package.json
Due: prettier --cache --write

fix: Clear the input box when closing the search
  packages/effects/layouts/src/widgets/global-search/global-search.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

Path conditions:
  prettier --cache --ignore-unknown --write: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.{scss,less,styl,html})) or (any of: *.md)
  eslint --cache --fix: (any of: *.{js,jsx,ts,tsx}) or (any of: *.vue)
  prettier --cache --write: any of: package.json
  prettier --write: any of: *.vue
  stylelint --fix: (any of: *.vue) or (any of: *.{scss,less,styl,html})
