Repository vbenjs/vue-vben-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

chore(@vben/docs): 完成other文档的翻译
  docs/src/en/guide/other/faq.md
  docs/src/en/guide/other/project-update.md
  docs/src/en/guide/other/remove-code.md
Due: prettier --cache --ignore-unknown --write

Update README.md
  README.md
Due: prettier --cache --ignore-unknown --write

chore: 同步到main分支
  apps/electron-app/electron.vite.config.ts
  apps/electron-app/package.json
  apps/electron-app/src/renderer/src/api/core/auth.ts
  apps/electron-app/src/renderer/src/api/core/menu.ts
  apps/electron-app/src/renderer/src/api/core/user.ts
  apps/electron-app/src/renderer/src/api/demos/index.ts
  apps/electron-app/src/renderer/src/api/demos/status.ts
  apps/electron-app/src/renderer/src/api/index.ts
  apps/electron-app/src/renderer/src/api/request.ts
  apps/electron-app/src/renderer/src/layouts/basic.vue
  apps/electron-app/src/renderer/src/locales/index.ts
  apps/electron-app/src/renderer/src/locales/langs/en-US.json
  apps/electron-app/src/renderer/src/locales/langs/zh-CN.json
  apps/electron-app/src/renderer/src/router/access.ts
  apps/electron-app/src/renderer/src/router/guard.ts
  apps/electron-app/src/renderer/src/router/routes/index.ts
  apps/electron-app/src/renderer/src/router/routes/modules/demos.ts
  apps/electron-app/src/renderer/src/router/routes/modules/vben.ts
  apps/electron-app/src/renderer/src/store/auth.ts
  apps/electron-app/src/renderer/src/views/_core/about/index.vue
  apps/electron-app/src/renderer/src/views/dashboard/analytics/analytics-trends.vue
  apps/electron-app/src/renderer/src/views/dashboard/analytics/analytics-visits.vue
  apps/electron-app/src/renderer/src/views/demos/antd/index.vue
  apps/electron-app/src/renderer/src/views/demos/features/login-expired/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

chore: 翻译部分文档
  docs/src/en/guide/essentials/build.md
  docs/src/en/guide/essentials/concept.md
  docs/src/en/guide/essentials/development.md
  docs/src/en/guide/essentials/external-module.md
  docs/src/en/guide/essentials/icons.md
  docs/src/en/guide/essentials/route.md
  docs/src/en/guide/essentials/server.md
  docs/src/en/guide/essentials/settings.md
  docs/src/en/guide/essentials/styles.md
  docs/src/en/guide/in-depth/access.md
  docs/src/en/guide/in-depth/check-updates.md
  docs/src/en/guide/in-depth/features.md
  docs/src/en/guide/in-depth/layout.md
  docs/src/en/guide/in-depth/loading.md
  docs/src/en/guide/in-depth/locale.md
  docs/src/en/guide/in-depth/login.md
  docs/src/en/guide/in-depth/theme.md
  docs/src/en/guide/in-depth/ui-framework.md
  docs/src/en/guide/project/changeset.md
  docs/src/en/guide/project/cli.md
  docs/src/en/guide/project/dir.md
  docs/src/en/guide/project/standard.md
  docs/src/en/guide/project/tailwindcss.md
  docs/src/en/guide/project/test.md
  docs/src/en/guide/project/vite.md
  docs/src/en/index.md
Due: prettier --cache --ignore-unknown --write

fix: element-plus styles
  apps/web-ele/src/bootstrap.ts
  packages/effects/hooks/src/use-design-tokens.ts
  packages/styles/package.json
  packages/styles/src/ele/index.css
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write

style: element-plus theme info adaptation (#4082)
  packages/effects/hooks/src/use-design-tokens.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: element-plus styles (#4203)
  apps/web-ele/src/bootstrap.ts
  packages/effects/hooks/src/use-design-tokens.ts
  packages/styles/package.json
  packages/styles/src/ele/index.css
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write

fix: fixed the failure to refresh the page when login failed
  apps/backend-mock/utils/jwt-utils.ts
  apps/web-antd/src/api/request.ts
  apps/web-antd/src/router/guard.ts
  apps/web-ele/src/api/request.ts
  apps/web-ele/src/router/guard.ts
  apps/web-naive/src/api/request.ts
  apps/web-naive/src/router/guard.ts
  docs/src/guide/essentials/server.md
  packages/@core/preferences/src/config.ts
  packages/stores/src/modules/access.ts
  playground/src/api/request.ts
  playground/src/router/guard.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: fixed the failure to refresh the page when login failed (#4204)
  apps/backend-mock/utils/jwt-utils.ts
  apps/web-antd/src/api/request.ts
  apps/web-antd/src/router/guard.ts
  apps/web-ele/src/api/request.ts
  apps/web-ele/src/router/guard.ts
  apps/web-naive/src/api/request.ts
  apps/web-naive/src/router/guard.ts
  docs/src/guide/essentials/server.md
  packages/@core/preferences/src/config.ts
  packages/stores/src/modules/access.ts
  playground/src/api/request.ts
  playground/src/router/guard.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

ci: update workflows [skip ci]
  .github/workflows/issue-close-require.yml
Due: none

fix: switching language does not load the translation of the component correctly
  apps/web-antd/src/locales/index.ts
  apps/web-ele/src/locales/index.ts
  apps/web-naive/src/locales/index.ts
  packages/locales/src/i18n.ts
  playground/src/locales/index.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: 忽略vscode history插件目录git提交
  .gitignore
Due: none

fix: Ignore vscode-history plug-in directory git submissions (#4207)
  .gitignore
Due: none

fix: switching language does not load the translation of the component correctly (#4205)
  apps/web-antd/src/locales/index.ts
  apps/web-ele/src/locales/index.ts
  apps/web-naive/src/locales/index.ts
  packages/locales/src/i18n.ts
  playground/src/locales/index.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

chore: 完成英文config的配置
  docs/.vitepress/config.mts
  docs/.vitepress/config/en.mts
  docs/.vitepress/config/index.mts
  docs/.vitepress/config/shard.mts
  docs/.vitepress/config/zh.mts
  docs/src/en/guide/essentials/build.md
  docs/src/en/guide/introduction/thin.md
Due: prettier --cache --ignore-unknown --write

chore: 完成in-depth的文档翻译
  docs/src/en/guide/essentials/server.md
  docs/src/en/guide/in-depth/access.md
  docs/src/en/guide/in-depth/check-updates.md
  docs/src/en/guide/in-depth/features.md
  docs/src/en/guide/in-depth/layout.md
  docs/src/en/guide/in-depth/loading.md
  docs/src/en/guide/in-depth/locale.md
  docs/src/en/guide/in-depth/login.md
  docs/src/en/guide/in-depth/theme.md
  docs/src/en/guide/in-depth/ui-framework.md
Due: prettier --cache --ignore-unknown --write

chore: 调整调整链接
  docs/.vitepress/config/en.mts
  docs/src/en/guide/in-depth/locale.md
Due: prettier --cache --ignore-unknown --write

chore: typo
  docs/src/en/guide/essentials/build.md
  docs/src/en/guide/essentials/concept.md
  docs/src/en/guide/essentials/server.md
  docs/src/en/guide/in-depth/access.md
  docs/src/en/guide/in-depth/loading.md
  docs/src/en/guide/other/project-update.md
  docs/src/en/guide/project/cli.md
  docs/src/guide/essentials/build.md
  docs/src/guide/in-depth/loading.md
Due: prettier --cache --ignore-unknown --write

chore: typo
  docs/src/en/guide/other/project-update.md
Due: prettier --cache --ignore-unknown --write

fix: error note
  packages/@core/ui-kit/tabs-ui/src/tabs-view.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

chore: error note (#4209)
  packages/@core/ui-kit/tabs-ui/src/tabs-view.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

chore: vscode 配置package.json默认匹配为json而不是jsonc, 以修复依赖悬浮提示信息
  .vscode/settings.json
Due: none

fix: settings.json eslint
  .vscode/settings.json
Due: none

docs(other): update function parameters jsdoc
  packages/@core/base/typings/src/vue-router.d.ts
  packages/effects/access/src/accessible.ts
  playground/src/store/auth.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

docs: 删除 `activePath` 属性的默认值注释
  docs/src/guide/essentials/route.md
Due: prettier --cache --ignore-unknown --write

fix: Fix .test.ts name
  docs/src/guide/project/test.md
Due: prettier --cache --ignore-unknown --write

chore: update links
  docs/src/en/index.md
Due: prettier --cache --ignore-unknown --write

chore(docs): correct the naming convention typo in the test files (#4216)
  docs/src/guide/project/test.md
Due: prettier --cache --ignore-unknown --write

chore(docs): updated title slot description (#4192)
  packages/effects/layouts/src/basic/README.md
Due: prettier --cache --ignore-unknown --write

chore: update vscode configuration (#4210)
  .vscode/settings.json
Due: none

chore(docs): update function parameter comments (#4215)
  docs/src/guide/essentials/route.md
  packages/@core/base/typings/src/vue-router.d.ts
  packages/effects/access/src/accessible.ts
  playground/src/store/auth.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

feat(@vben/web-antd): dashboard 头部卡片调整为grid布局
  packages/effects/common-ui/src/ui/dashboard/analysis/analysis-overview.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

feat(@vben/web-antd): perf: home page analysis card adjusted to grid layout (#4219)
  packages/effects/common-ui/src/ui/dashboard/analysis/analysis-overview.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

feat: add default params to get and delete methods
  packages/effects/request/src/request-client/request-client.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: correct the SVG icon format
  packages/icons/src/svg/load.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: ci fail
  packages/icons/src/svg/load.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

chore: apply suggestion
  packages/icons/src/svg/load.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: correct the SVG icon format (#4224)
  packages/icons/src/svg/load.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

Path conditions:
  prettier --cache --ignore-unknown --write: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.{scss,less,styl,html})) or (any of: *.md)
  eslint --cache --fix: (any of: *.{js,jsx,ts,tsx}) or (any of: *.vue)
  prettier --cache --write: any of: package.json
  prettier --write: any of: *.vue
  stylelint --fix: (any of: *.vue) or (any of: *.{scss,less,styl,html})
