Repository vbenjs/vue-vben-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": ["prettier --cache --ignore-unknown  --write", "eslint --cache --fix"],
  "{!(package)*.json,*.code-snippets,.!(browserslist)*rc}": [
    "prettier --cache --write--parser json"
  ],
  "package.json": ["prettier --cache --write"],
  "*.vue": ["prettier --write", "eslint --cache --fix", "stylelint --fix"],
  "*.{scss,less,styl,html}": ["prettier --cache --ignore-unknown --write", "stylelint --fix"],
  "*.md": ["prettier --cache --ignore-unknown --write"]
}

feat: fix ellipsis bug
  src/components/EllipsisText/src/Tooltip.vue
  vite.config.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix(系统模块): 菜单保存优化
  src/modules/smart-system/views/role/components/RoleSetFunction.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix(系统模块): 菜单保存优化
  src/components/Tree/src/BasicTree.vue
  src/components/Tree/src/types/tree.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix(router): resolve the next function being called twice (#3643)
  src/router/guard/permissionGuard.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

feat: fix ellipsis bug (#3644)
  src/components/EllipsisText/src/Tooltip.vue
  vite.config.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix(component): resolving the inability of "vxe-table" export function to be used
  src/components/VxeTable/index.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix(component): resolve the issue of "vxe-table" export function not being able to be used
  src/components/VxeTable/index.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

Update README.zh-CN.md
  README.zh-CN.md
Due: prettier --cache --ignore-unknown --write

chore: Update README.zh-CN.md (#3648)
  README.zh-CN.md
Due: prettier --cache --ignore-unknown --write

fix(component): resolve the issue of "vxe-table" export function not being able to be used (#3646)
  src/components/VxeTable/index.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix(component): resolve the error problem of setting "defaultValue" in "RangePicker"
  src/components/Form/src/BasicForm.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix(component): resolve the defaultValue error in setting the date type
  src/components/Form/src/BasicForm.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix(component): resolve the defaultValue error in setting the date type (#3652)
  src/components/Form/src/BasicForm.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix(component): insertNextAt is not a function (#3656)
  src/components/VxeTable/src/methods.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix(component): insertNextAt is not a function (#3656) (#3657)
  src/components/VxeTable/src/methods.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: typo in locale
  src/locales/lang/en/component.json
  src/locales/lang/en/layout.json
Due: none

删除 readme
  README.zh-CN.md
Due: prettier --cache --ignore-unknown --write

删除文件
  CNAME
  LICENSE
Due: none

fix: typo in locale (#3659)
  src/locales/lang/en/component.json
  src/locales/lang/en/layout.json
Due: none

fix(router): resolve menu loading failure when permission is in "role mode"
  src/router/helper/menuHelper.ts
  src/router/menus/index.ts
  src/router/types.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix(router): resolve menu loading failure when permission is in "role mode" (#3660)
  src/router/helper/menuHelper.ts
  src/router/menus/index.ts
  src/router/types.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

feat(系统架构): 重构登录验证码功能
  src/App.vue
  src/api/sys/app.ts
  src/api/sys/model/userModel.ts
  src/components/Verify/index.ts
  src/components/Verify/src/TextCaptcha.vue
  src/components/registerGlobComp.ts
  src/locales/lang/zh-CN/component.json
  src/store/modules/app.ts
  src/views/sys/login/LoginForm.vue
  types/store.d.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

feat(架构): 完善登录验证码
  src/api/sys/model/userModel.ts
  src/components/Verify/index.ts
  src/components/Verify/src/ImageCaptcha.vue
  src/components/Verify/src/ImageCaptchaModal.vue
  src/components/Verify/src/Verify.api.ts
  src/components/Verify/src/components/ImageSliderCaptcha.vue
  src/components/Verify/src/hooks/useImageSliderCaptcha.ts
  src/components/Verify/src/typing.ts
  src/views/sys/login/LoginForm.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

perf(smart-table): 优化添加修改弹窗导致table重新渲染的问题
  src/components/SmartTable/src/components/SmartTableAddEditModal.tsx
  src/components/SmartTable/src/hooks/useTableModalAddEdit.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

perf: 修改路由菜单获取title字段
  src/components/SimpleMenu/src/SimpleSubMenu.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

perf: 调整树结构获取的数据源
  src/router/helper/menuHelper.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

更新 selectTable 组件
  src/components/Business/index.ts
  src/components/Business/src/ModalSelect/SelectTableDrawer.vue
  src/components/Business/src/ModalSelect/functional.ts
  src/components/Business/src/ModalSelect/index.ts
  src/components/Business/src/ModalSelect/index.vue
  src/components/Business/src/ModalSelect/state.ts
  src/components/Form/src/componentMap.ts
  src/store/modules/options.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

perf: 修改getI18nName 获取值方式
  src/components/SimpleMenu/src/SimpleSubMenu.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

增加路由和页面
  src/router/routes/modules/enterprise.ts
  src/router/routes/modules/monitor.ts
  src/router/routes/modules/supplier.ts
  src/router/routes/modules/workorder.ts
  src/views/enterprise/brand/Drawer/BrandFormDrawer.vue
  src/views/enterprise/brand/data.tsx
  src/views/enterprise/brand/index.vue
  src/views/enterprise/group/Drawer/GroupFormDrawer.vue
  src/views/enterprise/group/data.tsx
  src/views/enterprise/group/index.vue
  src/views/enterprise/organization/data.tsx
  src/views/enterprise/organization/index.vue
  src/views/enterprise/user/data.tsx
  src/views/enterprise/user/index.vue
  src/views/supplier/list/Drawer/InvitQRDrawer.vue
  src/views/supplier/list/data.tsx
  src/views/supplier/list/index.vue
  src/views/workorder/list/data.tsx
  src/views/workorder/list/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

chore: remove the volar plugin because it is not recommended for use
  .vscode/extensions.json
Due: none

build(打包问题): 打包问题处理和优化
  .env.production
  src/modules/smart-code/views/codeCreate/CodeCreateView.vue
  src/modules/smart-code/views/codeList/components/CodeCreateForm.vue
  src/modules/smart-code/views/database/components/DatabaseListViewAddEditModal.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

增加接口
  src/ApiModel/base/ModifyStatus.ts
  src/ApiModel/base/index.ts
  src/ApiModel/company/company.ts
  src/ApiModel/company/supplier.ts
  src/ApiModel/company/supplierService.ts
  src/api/company/company.ts
  src/api/company/supplier.ts
  src/api/company/supplierService.ts
  src/api/model/baseModel.ts
  src/enums/alarmLevel.ts
  src/enums/companyType.ts
  src/views/property/type/data.tsx
  src/views/property/type/index.vue
  src/views/supplier/list/Drawer/InvitQRDrawer.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

增加接口更新页面
  src/ApiModel/company/area.ts
  src/api/company/area.ts
  src/components/Table/src/hooks/useColumns.ts
  src/router/routes/modules/property.ts
  src/views/enterprise/group/Drawer/GroupFormDrawer.vue
  src/views/enterprise/group/data.tsx
  src/views/property/list/IT.vue
  src/views/property/list/components/Drawer/PropertyFormDrawer.vue
  src/views/property/list/components/PropertyList.vue
  src/views/property/list/components/data.tsx
  src/views/property/list/device.vue
  src/views/property/list/other.vue
  src/views/property/list/project.vue
  src/views/property/type/Drawer/TypeFormDrawer.vue
  src/views/property/type/data.tsx
  src/views/property/type/index.vue
  src/views/supplier/list/data.tsx
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

增加未选中提示
  src/components/Business/src/ModalSelect/SelectTableDrawer.vue
  src/components/Business/src/ModalSelect/SelectTableModal.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

remove the volar plugin because it is not recommended for use
  .vscode/extensions.json
Due: none

修复弹窗关闭问题
  src/components/Business/src/ModalSelect/SelectTableDrawer.vue
  src/components/Business/src/ModalSelect/SelectTableModal.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: typo in Container
  src/components/Container/src/collapse/CollapseContainer.vue
  src/components/Container/src/collapse/CollapseHeader.vue
  src/components/Description/src/Description.vue
  src/views/demo/comp/qrcode/index.vue
  src/views/demo/page/account/center/index.vue
  src/views/demo/page/account/setting/AccountBind.vue
  src/views/demo/page/account/setting/BaseSetting.vue
  src/views/demo/page/account/setting/MsgNotify.vue
  src/views/demo/page/account/setting/SecureSetting.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

更新页面
  src/enums/companyType.ts
  src/views/enterprise/brand/data.tsx
  src/views/enterprise/brand/index.vue
  src/views/enterprise/group/data.tsx
  src/views/enterprise/group/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

chore: typo in Container (#3669)
  src/components/Container/src/collapse/CollapseContainer.vue
  src/components/Container/src/collapse/CollapseHeader.vue
  src/components/Description/src/Description.vue
  src/views/demo/comp/qrcode/index.vue
  src/views/demo/page/account/center/index.vue
  src/views/demo/page/account/setting/AccountBind.vue
  src/views/demo/page/account/setting/BaseSetting.vue
  src/views/demo/page/account/setting/MsgNotify.vue
  src/views/demo/page/account/setting/SecureSetting.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

更新图标
  src/components/Upload/src/components/UploadImage.vue
  src/components/Upload/src/components/UploadImages.vue
  src/layouts/default/header/components/BrandSelect.vue
  src/layouts/default/header/components/index.ts
  src/layouts/default/header/index.vue
  src/router/routes/modules/enterprise.ts
  src/router/routes/modules/monitor.ts
  src/router/routes/modules/property.ts
  src/router/routes/modules/statistics.ts
  src/router/routes/modules/supplier.ts
  src/router/routes/modules/workorder.ts
  src/store/modules/user.ts
  src/views/enterprise/organization/Drawer/AreaFormDrawer.vue
  src/views/enterprise/organization/data.tsx
  src/views/enterprise/organization/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix
