Repository vbenjs/vue-vben-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": ["prettier --cache --ignore-unknown  --write", "eslint --cache --fix"],
  "{!(package)*.json,*.code-snippets,.!(browserslist)*rc}": [
    "prettier --cache --write--parser json"
  ],
  "package.json": ["prettier --cache --write"],
  "*.vue": ["prettier --write", "eslint --cache --fix", "stylelint --fix"],
  "*.{scss,less,styl,html}": ["prettier --cache --ignore-unknown --write", "stylelint --fix"],
  "*.md": ["prettier --cache --ignore-unknown --write"]
}

chore: update deps
  pnpm-workspace.yaml
Due: none

feat: 支持 overflow 配置以允许拖拽超出可视区
  docs/src/components/common-ui/vben-modal.md
  packages/@core/ui-kit/popup-ui/src/modal/modal-api.ts
  packages/@core/ui-kit/popup-ui/src/modal/modal.ts
  packages/@core/ui-kit/popup-ui/src/modal/modal.vue
  packages/@core/ui-kit/popup-ui/src/modal/use-modal-draggable.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: 修正 Modal/Drawer 中 loading 属性注释
  packages/@core/ui-kit/popup-ui/src/drawer/drawer.ts
  packages/@core/ui-kit/popup-ui/src/modal/modal.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

chore: fix lint
  internal/lint-configs/oxlint-config/src/configs/test.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

chore: remove vite-plugin-html
  internal/vite-config/package.json
  internal/vite-config/src/plugins/html.ts
  internal/vite-config/src/plugins/index.ts
  internal/vite-config/src/typing.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write

fix: ts config
  internal/tailwind-config/tsconfig.json
Due: none

fix: lint
  internal/vite-config/src/plugins/html.ts
  internal/vite-config/src/typing.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

chore: fix actions error
  pnpm-lock.yaml
Due: none

chore: update deps
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

fix: check deps
  package.json
  packages/@core/ui-kit/form-ui/package.json
  packages/@core/ui-kit/layout-ui/package.json
  packages/@core/ui-kit/menu-ui/package.json
  packages/@core/ui-kit/popup-ui/package.json
  packages/@core/ui-kit/tabs-ui/package.json
  packages/effects/common-ui/package.json
  packages/styles/package.json
  packages/styles/src/style-exports.d.ts
  playground/package.json
  pnpm-lock.yaml
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write

fix: tailwindcss lint
  packages/effects/plugins/src/tiptap/preview.vue
  packages/effects/plugins/src/tiptap/tiptap.vue
  packages/effects/plugins/src/tiptap/use-tiptap-toolbar.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: tailwindcss lint config
  internal/lint-configs/oxlint-config/src/configs/tailwindcss.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: 修复VITE_APP_TITLE变量替换语法
  apps/web-antd/index.html
  apps/web-antdv-next/index.html
  apps/web-ele/index.html
  apps/web-naive/index.html
  apps/web-tdesign/index.html
  docs/src/en/guide/in-depth/loading.md
  docs/src/guide/in-depth/loading.md
  internal/vite-config/src/plugins/inject-app-loading/default-loading-antd.html
  internal/vite-config/src/plugins/inject-app-loading/default-loading.html
  playground/index.html
Due: prettier --cache --ignore-unknown --write, stylelint --fix

feat: enable project-scoped preferences extension tabs (#7803)
  .gitignore
  apps/web-antd/src/main.ts
  apps/web-antd/src/preferences.ts
  docs/src/en/guide/essentials/settings.md
  docs/src/guide/essentials/settings.md
  packages/@core/preferences/__tests__/preferences.test.ts
  packages/@core/preferences/src/index.ts
  packages/@core/preferences/src/preferences.ts
  packages/@core/preferences/src/types.ts
  packages/@core/preferences/src/use-preferences.ts
  packages/effects/layouts/src/widgets/preferences/blocks/custom/custom.vue
  packages/effects/layouts/src/widgets/preferences/blocks/index.ts
  packages/effects/layouts/src/widgets/preferences/blocks/input-item.vue
  packages/effects/layouts/src/widgets/preferences/blocks/select-item.vue
  packages/effects/layouts/src/widgets/preferences/preferences-drawer.vue
  packages/locales/src/langs/en-US/preferences.json
  packages/locales/src/langs/zh-CN/preferences.json
  packages/preferences/src/index.ts
  playground/src/locales/langs/en-US/demos.json
  playground/src/locales/langs/zh-CN/demos.json
  playground/src/main.ts
  playground/src/preferences.ts
  playground/src/router/routes/modules/demos.ts
  playground/src/views/demos/features/preferences-extension/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

feat(common-ui): add labelFn support to ApiComponent (#7801)
  packages/effects/common-ui/src/components/api-component/api-component.vue
  packages/effects/common-ui/src/components/api-component/index.ts
  packages/effects/common-ui/src/components/api-component/types.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

feat(form-ui): support schema valueFormat for getValues payload shaping (#7804)
  docs/src/components/common-ui/vben-form.md
  docs/src/demos/vben-form/value-format/index.vue
  docs/src/en/components/common-ui/vben-form.md
  packages/@core/ui-kit/form-ui/__tests__/form-api.test.ts
  packages/@core/ui-kit/form-ui/src/field-name.ts
  packages/@core/ui-kit/form-ui/src/form-api.ts
  packages/@core/ui-kit/form-ui/src/form-render/dependencies.ts
  packages/@core/ui-kit/form-ui/src/types.ts
  playground/src/locales/langs/en-US/examples.json
  playground/src/locales/langs/zh-CN/examples.json
  playground/src/router/routes/modules/examples.ts
  playground/src/views/examples/form/value-format.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: antdv-next message/notification 跟随暗色主题 (#7799)
  apps/web-antdv-next/src/app.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

feat: add collapsible 组件，form表单增加单项可折叠，支持schema配置默认关闭/开启
  apps/web-naive/package.json
  apps/web-naive/src/views/demos/form/basic.vue
  packages/@core/base/icons/src/lucide.ts
  packages/@core/ui-kit/form-ui/src/components/form-actions.vue
  packages/@core/ui-kit/form-ui/src/form-render/form-field.vue
  packages/@core/ui-kit/form-ui/src/form-render/form-label.vue
  packages/@core/ui-kit/form-ui/src/types.ts
  packages/@core/ui-kit/shadcn-ui/src/components/collapsible/collapsible-params-item.vue
  packages/@core/ui-kit/shadcn-ui/src/components/collapsible/collapsible-params.vue
  packages/@core/ui-kit/shadcn-ui/src/components/collapsible/collapsible.vue
  packages/@core/ui-kit/shadcn-ui/src/components/collapsible/index.ts
  packages/@core/ui-kit/shadcn-ui/src/components/collapsible/type.ts
  packages/@core/ui-kit/shadcn-ui/src/components/index.ts
  playground/src/locales/langs/en-US/examples.json
  playground/src/locales/langs/zh-CN/examples.json
  playground/src/router/routes/modules/examples.ts
  playground/src/views/examples/form/collapsible.vue
  pnpm-lock.yaml
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

fix: collapsible component css fix
  packages/@core/ui-kit/shadcn-ui/src/components/collapsible/collapsible-params-item.vue
  packages/@core/ui-kit/shadcn-ui/src/components/collapsible/collapsible-params.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: demo validator usage & types import
  apps/web-naive/src/views/demos/form/basic.vue
  packages/@core/ui-kit/shadcn-ui/src/components/collapsible/collapsible-params-item.vue
  packages/@core/ui-kit/shadcn-ui/src/components/collapsible/collapsible-params.vue
  packages/@core/ui-kit/shadcn-ui/src/components/collapsible/collapsible.vue
  packages/@core/ui-kit/shadcn-ui/src/components/collapsible/type.ts
  playground/src/views/examples/form/collapsible.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: class
  packages/@core/ui-kit/shadcn-ui/src/components/collapsible/collapsible-params-item.vue
  packages/@core/ui-kit/shadcn-ui/src/components/collapsible/collapsible-params.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: lint
  packages/@core/ui-kit/shadcn-ui/src/components/collapsible/collapsible-params-item.vue
  packages/@core/ui-kit/shadcn-ui/src/components/collapsible/collapsible-params.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: default precision error
  packages/@core/ui-kit/shadcn-ui/src/components/collapsible/collapsible-params-item.vue
  packages/@core/ui-kit/shadcn-ui/src/components/collapsible/collapsible-params.vue
  playground/src/views/examples/form/collapsible.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: fix lint and add new form-ui features
  apps/web-naive/src/views/demos/form/basic.vue
  packages/@core/ui-kit/form-ui/src/form-render/dependencies.ts
  packages/@core/ui-kit/form-ui/src/index.ts
  packages/@core/ui-kit/form-ui/src/types.ts
  packages/@core/ui-kit/shadcn-ui/src/components/collapsible/collapsible-params-item.vue
  packages/@core/ui-kit/shadcn-ui/src/components/collapsible/collapsible-params.vue
  playground/src/locales/langs/en-US/examples.json
  playground/src/views/examples/form/collapsible.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: dependencies访问extendApi
  packages/@core/ui-kit/form-ui/src/form-render/dependencies.ts
  packages/@core/ui-kit/shadcn-ui/src/components/collapsible/collapsible-params.vue
  playground/src/views/examples/form/collapsible.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

docs: demo注释修改
  playground/src/views/examples/form/collapsible.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: devtools warning
  packages/@core/ui-kit/shadcn-ui/src/components/collapsible/collapsible-params.vue
  packages/@core/ui-kit/shadcn-ui/src/components/collapsible/type.ts
  playground/src/adapter/component/index.ts
  playground/src/views/examples/form/collapsible.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: devtools warning
  playground/src/views/examples/form/collapsible.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

chore: 优化通知组件逻辑
  packages/effects/layouts/src/widgets/notification/notification.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

chore: 更新 pnpm action 版本
  .github/actions/setup-node/action.yml
  .github/workflows/ci.yml
Due: none

chore: 更新依赖包版本
  pnpm-workspace.yaml
Due: none

fix: type check
  playground/src/views/examples/form/collapsible.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: type check (#7818)
  playground/src/views/examples/form/collapsible.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

feat: 增强窗口打开能力
  packages/@core/base/shared/src/utils/window.ts
  playground/src/views/demos/features/tabs/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: update selector for active menu item in useMenuScroll hook
  packages/@core/ui-kit/menu-ui/src/hooks/use-menu-scroll.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: ensure trigger function is awaited in useDependencies
  packages/@core/ui-kit/form-ui/src/form-render/dependencies.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: update selector for active menu item in useMenuScroll hook (#7829)
  packages/@core/ui-kit/menu-ui/src/hooks/use-menu-scroll.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix
