Repository vbenjs/vue-vben-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

perf: 优化关闭页面切换动画的tab切换性能 (#5883)
  packages/effects/layouts/src/basic/content/content.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

feat: customizable table separator (#5898)
  docs/src/components/common-ui/vben-vxe-table.md
  packages/effects/plugins/src/vxe-table/types.ts
  packages/effects/plugins/src/vxe-table/use-vxe-grid.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

feat: Update domain config
  apps/web-np/.env.production
  apps/web-np/.env.uat
Due: none

feat: Update domain config (#3)
  apps/web-np/.env.production
  apps/web-np/.env.uat
Due: none

feat: Update domain config
  apps/web-np/.env
Due: none

Uat - Update app name (#4)
  apps/web-np/.env
Due: none

perf: optimize bootstrap modules to speed up first-screen loading
  apps/web-antd/src/adapter/component/index.ts
  apps/web-antd/src/bootstrap.ts
  apps/web-antd/src/router/routes/core.ts
  apps/web-ele/src/adapter/component/index.ts
  apps/web-ele/src/bootstrap.ts
  apps/web-ele/src/router/routes/core.ts
  apps/web-naive/src/adapter/component/index.ts
  apps/web-naive/src/bootstrap.ts
  apps/web-naive/src/router/routes/core.ts
  packages/effects/common-ui/package.json
  playground/src/adapter/component/index.ts
  playground/src/bootstrap.ts
  playground/src/router/routes/core.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write

fix: antd component import
  apps/web-antd/src/adapter/component/index.ts
  playground/src/adapter/component/index.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

perf: optimize bootstrap modules to speed up first-screen loading (#5899)
  apps/web-antd/src/adapter/component/index.ts
  apps/web-antd/src/bootstrap.ts
  apps/web-antd/src/router/routes/core.ts
  apps/web-ele/src/adapter/component/index.ts
  apps/web-ele/src/bootstrap.ts
  apps/web-ele/src/router/routes/core.ts
  apps/web-naive/src/adapter/component/index.ts
  apps/web-naive/src/bootstrap.ts
  apps/web-naive/src/router/routes/core.ts
  packages/effects/common-ui/package.json
  playground/src/adapter/component/index.ts
  playground/src/bootstrap.ts
  playground/src/router/routes/core.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write

feat: electron support
  .gitignore
  .npmrc
  internal/vite-config/package.json
  internal/vite-config/src/plugins/electron.ts
  internal/vite-config/src/plugins/index.ts
  internal/vite-config/src/typing.ts
  packages/@core/base/shared/package.json
  packages/@core/base/shared/src/utils/window.ts
  packages/@core/base/shared/tsconfig.json
  packages/@core/base/typings/electron.d.ts
  packages/@core/base/typings/package.json
  playground/.env
  playground/.env.production
  playground/electron/logo/logo_128.ico
  playground/electron/logo/logo_256.ico
  playground/electron/main.ts
  playground/electron/preload.ts
  playground/package.json
  playground/src/preferences.ts
  playground/vite.config.mts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write

feat: electron control buttons
  packages/@core/base/icons/src/lucide.ts
  packages/@core/base/typings/electron.d.ts
  packages/@core/ui-kit/layout-ui/src/components/layout-header.vue
  packages/effects/layouts/package.json
  packages/effects/layouts/src/authentication/toolbar.vue
  packages/effects/layouts/src/basic/header/header.vue
  packages/effects/layouts/src/widgets/app-close/app-close.vue
  packages/effects/layouts/src/widgets/app-close/index.ts
  packages/effects/layouts/src/widgets/app-maximize/app-maximize.vue
  packages/effects/layouts/src/widgets/app-maximize/index.ts
  packages/effects/layouts/src/widgets/app-minimize/app-minimize.vue
  packages/effects/layouts/src/widgets/app-minimize/index.ts
  packages/effects/layouts/src/widgets/index.ts
  packages/effects/layouts/tsconfig.json
  playground/electron/main.ts
  playground/electron/preload.ts
  pnpm-lock.yaml
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

fix(bug): 缺失await关键字
  .vscode/settings.json
  playground/src/views/system/dept/modules/form.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

chore: 导出框架自带的组件，方便独立页面使用 (#5876)
  packages/effects/common-ui/src/components/index.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

feat: Update logo and favicon
  apps/web-np/public/favicon.ico
  apps/web-np/src/preferences.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

Logo (#5)
  apps/web-np/public/favicon.ico
  apps/web-np/src/preferences.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: install corepack from npm
  .gitpod.yml
Due: none

docs: install corepack from npm
  README.ja-JP.md
  README.md
  README.zh-CN.md
  docs/src/en/guide/introduction/quick-start.md
  docs/src/guide/introduction/quick-start.md
  scripts/deploy/Dockerfile
Due: prettier --cache --ignore-unknown --write

fix(bug): 缺失await关键字
  playground/src/views/system/dept/modules/form.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

chore: 更新pinia版本到3.0.2
  pnpm-workspace.yaml
Due: none

modified: apps/web-antd/index.html modified: apps/web-antd/vite.config.mts modified: turbo.json
  apps/web-antd/index.html
  apps/web-antd/vite.config.mts
  turbo.json
Due: prettier --cache --ignore-unknown --write, stylelint --fix

modified: apps/web-antd/index.html
  apps/web-antd/index.html
Due: prettier --cache --ignore-unknown --write, stylelint --fix

feat: Adding new tab btn and correct the route name
  apps/web-np/src/router/routes/modules/reports.ts
  apps/web-np/src/utils.ts
  apps/web-np/src/views/dashboard/index.vue
  apps/web-np/src/views/dashboard/overview-customer.vue
  apps/web-np/src/views/dashboard/overview-order.vue
  apps/web-np/src/views/dashboard/profit-chart.vue
  apps/web-np/src/views/settings/cogs-handling-fees/form-modal-recalculate.vue
  apps/web-np/src/views/settings/transaction-fees/form-modal-recalculate.vue
  apps/web-np/src/views/settings/zone-shipping/form-modal-recalculate.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

Uat (#6)
  apps/web-np/src/router/routes/modules/reports.ts
  apps/web-np/src/utils.ts
  apps/web-np/src/views/dashboard/index.vue
  apps/web-np/src/views/dashboard/overview-customer.vue
  apps/web-np/src/views/dashboard/overview-order.vue
  apps/web-np/src/views/dashboard/profit-chart.vue
  apps/web-np/src/views/settings/cogs-handling-fees/form-modal-recalculate.vue
  apps/web-np/src/views/settings/transaction-fees/form-modal-recalculate.vue
  apps/web-np/src/views/settings/zone-shipping/form-modal-recalculate.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

feat: Update chart layout and reload method
  apps/web-np/src/views/dashboard/profit-chart.vue
  apps/web-np/src/views/settings/cogs-handling-fees/index.vue
  apps/web-np/src/views/settings/custom-costs/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

Uat (#7)
  apps/web-np/src/views/dashboard/profit-chart.vue
  apps/web-np/src/views/settings/cogs-handling-fees/index.vue
  apps/web-np/src/views/settings/custom-costs/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

feat: vben-form添加arrayToStringFields属性
  packages/@core/ui-kit/form-ui/src/form-api.ts
  packages/@core/ui-kit/form-ui/src/types.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

feat: Update chart layout
  apps/web-np/src/views/dashboard/profit-chart.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: alert action button focus, fixed #5921
  packages/@core/ui-kit/popup-ui/src/alert/alert.vue
  playground/src/views/examples/modal/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: alert action button focus, fixed #5921 (#5922)
  packages/@core/ui-kit/popup-ui/src/alert/alert.vue
  playground/src/views/examples/modal/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: theme mode follow the system only `auto`
  packages/@core/preferences/src/preferences.ts
  packages/effects/plugins/src/vxe-table/init.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: theme mode follow the system only `auto` (#5923)
  packages/@core/preferences/src/preferences.ts
  packages/effects/plugins/src/vxe-table/init.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

feat: Update verify shopify token flow
  apps/web-np/.env
  apps/web-np/src/store/auth.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

Uat (#8)
  apps/web-np/.env
  apps/web-np/src/store/auth.ts
  apps/web-np/src/views/dashboard/profit-chart.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: builtin color change throttled in preference drawer
  packages/effects/layouts/src/widgets/preferences/blocks/theme/builtin.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: builtin color change throttled in preference drawer (#5924)
  packages/effects/layouts/src/widgets/preferences/blocks/theme/builtin.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: alert animation
  packages/@core/ui-kit/popup-ui/src/alert/alert.ts
  packages/@core/ui-kit/popup-ui/src/alert/alert.vue
  packages/@core/ui-kit/shadcn-ui/src/ui/alert-dialog/AlertDialogContent.vue
  playground/src/views/examples/modal/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: alert animation (#5927)
  packages/@core/ui-kit/popup-ui/src/alert/alert.ts
  packages/@core/ui-kit/popup-ui/src/alert/alert.vue
  packages/@core/ui-kit/shadcn-ui/src/ui/alert-dialog/AlertDialogContent.vue
  playground/src/views/examples/modal/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

docs: docs modal z-index fixed, update alert docs
  apps/web-ele/src/views/demos/form/basic.vue
  docs/.vitepress/theme/styles/variables.css
  docs/src/demos/vben-alert/prompt/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

feat: api-component support autoSelect prop
  docs/src/components/common-ui/vben-api-component.md
  packages/effects/common-ui/src/components/api-component/api-component.vue
  playground/src/views/examples/form/basic.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

docs: docs modal z-index fixed, update alert docs (#5930)
  apps/web-ele/src/views/demos/form/basic.vue
  docs/.vitepress/theme/styles/variables.css
  docs/src/demos/vben-alert/prompt/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

Path conditions:
  prettier --cache --ignore-unknown --write: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.{scss,less,styl,html})) or (any of: *.md)
  eslint --cache --fix: (any of: *.{js,jsx,ts,tsx}) or (any of: *.vue)
  prettier --cache --write: any of: package.json
  prettier --write: any of: *.vue
  stylelint --fix: (any of: *.vue) or (any of: *.{scss,less,styl,html})
