Repository vbenjs/vue-vben-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": ["prettier --cache --ignore-unknown  --write", "eslint --cache --fix"],
  "{!(package)*.json,*.code-snippets,.!(browserslist)*rc}": [
    "prettier --cache --write--parser json"
  ],
  "package.json": ["prettier --cache --write"],
  "*.vue": ["prettier --write", "eslint --cache --fix", "stylelint --fix"],
  "*.{scss,less,styl,html}": ["prettier --cache --ignore-unknown --write", "stylelint --fix"],
  "*.md": ["prettier --cache --ignore-unknown --write"]
}

feat(ci): add codeql.yml [deploy] (#3995)
  .github/workflows/codeql.yml
  .github/workflows/draft.yml
  package.json
Due: prettier --cache --write

fix: correct i18n translation
  README.zh-CN.md
  packages/effects/layouts/src/widgets/preferences/blocks/layout/content.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: Adjusted contentCompact without triggering ECharts resize
  packages/effects/chart-ui/src/echarts/use-echarts.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: 修复文档链接错误
  internal/vite-config/src/config/application.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: 修复文档链接错误 (#3999)
  internal/vite-config/src/config/application.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: correct i18n translation (#3996)
  README.zh-CN.md
  packages/effects/layouts/src/widgets/preferences/blocks/layout/content.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: Adjusted contentCompact without triggering ECharts resize (#3997)
  packages/effects/chart-ui/src/echarts/use-echarts.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

feat: 1.ApiSelect增加远程搜索功能 2.ApiSelect设定懒加载时允许控制空搜索时不查询 3.增加下拉远程搜索Json版本demo (#3992)
  src/components/Form/src/components/ApiSelect.vue
  src/views/demo/form/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

chore: vscode eslint已默认启用flat
  .vscode/settings.json
Due: none

chore: delete invalid comments
  .vscode/settings.json
Due: none

perf: 全局搜索框打开后自动聚焦输入框
  packages/effects/layouts/src/widgets/global-search/global-search.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: the menu background color is incorrect when activating the dark menu light theme
  packages/@core/ui-kit/menu-ui/src/components/menu.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

chore: update active-color & active-background-color
  packages/@core/ui-kit/menu-ui/src/components/menu.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

chore: vscode-eslint已默认启用flat config (#4002)
  .vscode/settings.json
Due: none

fix: The menu background color is incorrect when toggling the dark menu (#4008)
  packages/@core/ui-kit/menu-ui/src/components/menu.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

perf: 全局搜索框打开后自动聚焦输入框 (#4006)
  packages/effects/layouts/src/widgets/global-search/global-search.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

perf(router): 删除了多余的菜单数据的步骤，减少性能开销，优化初始化速度。
  src/router/helper/menuHelper.ts
  src/router/menus/index.ts
  src/store/modules/permission.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

feat: 添加 mockm
  .eslintignore
  apps/mockm-mock/.eslintignore
  apps/mockm-mock/README.md
  apps/mockm-mock/api/auth.cjs
  apps/mockm-mock/api/menu.cjs
  apps/mockm-mock/api/user.cjs
  apps/mockm-mock/apiWeb.json
  apps/mockm-mock/httpData/.gitignore
  apps/mockm-mock/httpData/apiWeb.json
  apps/mockm-mock/mm.config.cjs
  apps/mockm-mock/package.json
  apps/mockm-mock/util.cjs
  apps/web-antd/.env.development
  apps/web-antd/vite.config.mts
  internal/lint-configs/eslint-config/src/custom-config.ts
  internal/vite-config/src/plugins/index.ts
  internal/vite-config/src/plugins/mockm-mock.ts
  internal/vite-config/src/typing.ts
  internal/vite-config/src/utils/env.ts
  package.json
  pnpm-lock.yaml
  scripts/vsh/src/check-dep/index.ts
  vben-admin.code-workspace
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write

refactor: 在统一的地方处理授权信息
  apps/backend-mock/api/auth.cjs
  apps/backend-mock/api/menu.cjs
  apps/backend-mock/api/user.cjs
  apps/backend-mock/get-user.cjs
  apps/backend-mock/mm.config.cjs
  pnpm-lock.yaml
  scripts/vsh/src/check-dep/index.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: global scss injection error problem
  docs/src/guide/essentials/styles.md
  internal/vite-config/src/config/application.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: global scss injection error problem (#4014)
  docs/src/guide/essentials/styles.md
  internal/vite-config/src/config/application.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

chore: update codeowners
  .github/CODEOWNERS
Due: none

chore(@vben/docs): update docs
  docs/src/guide/in-depth/ui-framework.md
  docs/src/index.md
Due: prettier --cache --ignore-unknown --write

chore(@vben/docs): update docs [deploy] (#4015)
  docs/src/guide/in-depth/ui-framework.md
  docs/src/index.md
Due: prettier --cache --ignore-unknown --write

feat: 添加默认值
  internal/vite-config/src/config/application.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

chore: update contributors image
  README.md
  docs/.vitepress/theme/components/vben-contributors.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: compatibility of fs-extra with esm
  .github/CODEOWNERS
  .github/workflows/deploy.yml
  internal/node-utils/package.json
  internal/node-utils/src/fs.ts
  internal/node-utils/src/index.ts
  internal/node-utils/src/prettier.ts
  internal/tailwind-config/src/index.ts
  internal/vite-config/src/plugins/inject-app-loading/index.ts
  pnpm-lock.yaml
  scripts/vsh/src/code-workspace/index.ts
  scripts/vsh/src/publint/index.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write

chore: update
  README.md
  docs/.vitepress/theme/components/vben-contributors.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: compatibility of fs-extra with esm (#4017)
  .github/CODEOWNERS
  .github/workflows/deploy.yml
  internal/node-utils/package.json
  internal/node-utils/src/fs.ts
  internal/node-utils/src/index.ts
  internal/node-utils/src/prettier.ts
  internal/tailwind-config/src/index.ts
  internal/vite-config/src/plugins/inject-app-loading/index.ts
  pnpm-lock.yaml
  scripts/vsh/src/code-workspace/index.ts
  scripts/vsh/src/publint/index.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write

refactor: 简化代码
  apps/backend-mock/README.md
  apps/backend-mock/get-user.cjs
  apps/backend-mock/mm.config.cjs
Due: prettier --cache --ignore-unknown --write

fix: unbuild version reduced to 2.0
  .github/workflows/build.yml
  internal/node-utils/src/fs.ts
  internal/tailwind-config/src/plugins/entry.ts
  internal/vite-config/src/plugins/inject-app-loading/index.ts
  internal/vite-config/src/utils/env.ts
  package.json
  pnpm-lock.yaml
  scripts/vsh/src/lint/index.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write

feat: 优化启动命令
  apps/backend-mock/README.md
  apps/backend-mock/package.json
Due: prettier --cache --ignore-unknown --write, prettier --cache --write

chore: define components router
  apps/web-antd/src/locales/langs/en-US.json
  apps/web-antd/src/locales/langs/zh-CN.json
  apps/web-antd/src/router/routes/modules/comp.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

chore: 组件路由放置到演示路由下
  apps/web-antd/src/locales/langs/en-US.json
  apps/web-antd/src/locales/langs/zh-CN.json
  apps/web-antd/src/router/routes/modules/comp.ts
  apps/web-antd/src/router/routes/modules/demos.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: typo in tabbar preferences
  packages/effects/layouts/src/widgets/preferences/blocks/layout/tabbar.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

docs: add Japanese README
  README.ja-JP.md
  README.md
  README.zh-CN.md
Due: prettier --cache --ignore-unknown --write

perf: optimize for some details and comments
  .github/workflows/ci.yml
  .github/workflows/semantic-pull-request.yml
  deploy/nginx.conf
  docs/src/guide/in-depth/loading.md
  internal/vite-config/src/config/application.ts
  internal/vite-config/src/config/library.ts
  internal/vite-config/src/options.ts
  internal/vite-config/src/plugins/inject-app-loading/README.md
  internal/vite-config/src/plugins/inject-app-loading/default-loading.html
  internal/vite-config/src/plugins/inject-app-loading/index.ts
  internal/vite-config/src/typing.ts
  packages/@core/preferences/src/preferences.ts
  packages/@core/preferences/src/update-css-variables.ts
  packages/@core/preferences/src/use-preferences.ts
  packages/effects/hooks/src/use-design-tokens.ts
  packages/utils/src/helpers/unmount-global-loading.ts
  scripts/turbo-run/src/run.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, stylelint --fix
