Repository vbenjs/vue-vben-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": ["prettier --cache --ignore-unknown  --write", "eslint --cache --fix"],
  "{!(package)*.json,*.code-snippets,.!(browserslist)*rc}": [
    "prettier --cache --write--parser json"
  ],
  "package.json": ["prettier --cache --write"],
  "*.vue": ["prettier --write", "eslint --cache --fix", "stylelint --fix"],
  "*.{scss,less,styl,html}": ["prettier --cache --ignore-unknown --write", "stylelint --fix"],
  "*.md": ["prettier --cache --ignore-unknown --write"]
}

fix(CropperModal): beforeUpload should return false
  src/components/Cropper/src/CropperModal.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

chore: update deps
  internal/eslint-config/package.json
  internal/stylelint-config/package.json
  internal/ts-config/package.json
  internal/vite-config/package.json
  package.json
  packages/hooks/package.json
  pnpm-lock.yaml
Due: prettier --cache --write

feat: vite-html
  internal/vite-config/src/plugins/html.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: eslint
  src/utils/props.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: type check
  src/views/demo/system/account/account.data.ts
  src/views/demo/system/dept/dept.data.ts
  src/views/demo/system/menu/menu.data.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix(PopConfirmButton): avoid type lint error (#3600)
  src/components/Button/src/PopConfirmButton.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix(CropperModal): beforeUpload should return false (#3601)
  src/components/Cropper/src/CropperModal.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

chore: update deps (#3602)
  internal/eslint-config/package.json
  internal/stylelint-config/package.json
  internal/ts-config/package.json
  internal/vite-config/package.json
  internal/vite-config/src/plugins/html.ts
  package.json
  packages/hooks/package.json
  pnpm-lock.yaml
  src/components/Tree/style/index.less
  src/utils/props.ts
  src/views/demo/system/account/account.data.ts
  src/views/demo/system/dept/dept.data.ts
  src/views/demo/system/menu/menu.data.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, stylelint --fix

fix: TableAction设置icon显示iconify关键字
  src/components/Table/src/components/TableAction.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: TableAction设置icon显示iconify关键字 (#3608)
  src/components/Table/src/components/TableAction.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix(LayoutSidre): resolve the breakpoint conflict
  src/layouts/default/sider/LayoutSider.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

docs: update comment
  src/layouts/default/sider/LayoutSider.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix(LayoutSider): add trigger footer limit
  src/layouts/default/sider/LayoutSider.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

refactor(Exception): support original status values with not overrided
  src/views/sys/exception/Exception.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

feat(config): 添加tailwind智能提示的config文件
  tailwind.config.js
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

refactor(Exception): support original status values with not overrided (#3610)
  src/views/sys/exception/Exception.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

Update TableAction.vue
  src/components/Table/src/components/TableAction.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

feat: init system config
  src/hooks/setting/useComponentSetting.ts
  src/layouts/default/header/components/notify/data.ts
  src/layouts/default/header/index.vue
  src/locales/lang/zh-TW/layout.json
  src/settings/componentSetting.ts
  src/settings/designSetting.ts
  src/settings/encryptionSetting.ts
  src/settings/localeSetting.ts
  src/settings/projectSetting.ts
  src/views/dashboard/workbench/components/WorkbenchHeader.vue
  src/views/demo/page/account/setting/data.ts
  src/views/demo/page/list/basic/index.vue
  src/views/sys/login/Login.vue
  src/views/sys/login/LoginForm.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: Update TableAction.vue (#3619)
  src/components/Table/src/components/TableAction.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: fileservice class name
  apps/test-server/service/FileService.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix(typo): fileservice class name (#3625)
  apps/test-server/service/FileService.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix(LayoutSidre): resolve the breakpoint conflict. resolve #3605
  src/layouts/default/sider/LayoutSider.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix(SmartApiSelectDIct组件): SmartApiSelectDIct组件功能优化
  src/components/Form/src/helper.ts
  src/components/Form/src/smart-boot/components/SmartApiSelectDict.vue
  src/modules/system/hooks/SysDictHooks.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix(SMART-TABLE组件): 修复点击查询分组页数重置的问题
  src/components/SmartTable/src/SmartTable.tsx
  src/components/SmartTable/src/hooks/usePagination.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

feat(架构): 添加模块支持
  modules/smart-ui-app/.eslintrc.cjs
  modules/smart-ui-app/build.config.ts
  modules/smart-ui-app/package.json
  modules/smart-ui-app/src/index.ts
  modules/smart-ui-app/src/init.ts
  modules/smart-ui-app/tsconfig.json
  package.json
  packages/types/src/utils.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/main.ts
  vite.config.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write

fix(系统模块-国际化): 优化国际化分组功能
  src/api/sys/sysI18nApi.ts
  src/modules/system/views/i18n/I18nMainView.vue
  src/modules/system/views/i18n/components/I18nGroupList.vue
  src/modules/system/views/i18n/components/i18n.api.ts
  src/modules/system/views/i18n/components/i18n.config.ts
  src/modules/system/views/i18n/components/i18nList.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

build(结构): 移除无用模块
  .env
  .env.development
  modules/smart-ui-app/.eslintrc.cjs
  modules/smart-ui-app/build.config.ts
  modules/smart-ui-app/package.json
  modules/smart-ui-app/src/index.ts
  modules/smart-ui-app/src/init.ts
  modules/smart-ui-app/tsconfig.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/main.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write

feat(架构): 优化500异常提示
  src/App.vue
  src/hooks/web/useMessage.tsx
  src/modules/smart-app/i18n/lang/en_US.ts
  src/modules/smart-app/i18n/lang/zh_CN.ts
  src/utils/http/axios/index.ts
  src/views/sys/exception/ExceptionModal.vue
  src/views/sys/exception/index.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix(Login): avoid infinite loop when query redirect to next route redirect
  src/router/guard/permissionGuard.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix(Login): avoid infinite loop when query redirect to next route redirect (#3630). resolve #3620 #3627
  src/router/guard/permissionGuard.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix(文件模块): 文件列表优化排序、优化存储器查询
  src/modules/smart-file/views/SmartFile/SmartFileListView.config.ts
  src/modules/smart-file/views/SmartFile/SmartFileListView.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix(文件模块): 文件模块页面优化
  src/modules/smart-file/views/SmartFile/SmartFileListView.config.ts
  src/modules/smart-file/views/SmartFile/SmartFileListView.vue
  src/modules/smart-file/views/SmartFileStorage/SmartFileStorageListView.vue
  src/modules/smart-system/views/system/SysSystemListView.api.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

通用化
  src/api/system/logs.ts
  src/api/system/upload.ts
  src/store/modules/options.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

init
  pnpm-lock.yaml
Due: none

修改路由
  src/hooks/web/usePage.ts
  src/router/routes/modules/enterprise.ts
  src/router/routes/modules/store.ts
  src/views/store/store.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

修复报错
  pnpm-lock.yaml
  src/components/Business/src/ModalSelect/SelectTableModal.vue
  src/router/routes/modules/configuration.ts
  src/router/routes/modules/dashboard.ts
  src/router/routes/modules/statistics.ts
  src/router/routes/modules/system.ts
  src/router/routes/modules/warehouse.ts
  src/views/system/authority/Authority.vue
  src/views/system/role/Role.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix
