Repository vbenjs/vue-vben-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": ["prettier --cache --ignore-unknown  --write", "eslint --cache --fix"],
  "{!(package)*.json,*.code-snippets,.!(browserslist)*rc}": [
    "prettier --cache --write--parser json"
  ],
  "package.json": ["prettier --cache --write"],
  "*.vue": ["prettier --write", "eslint --cache --fix", "stylelint --fix"],
  "*.{scss,less,styl,html}": ["prettier --cache --ignore-unknown --write", "stylelint --fix"],
  "*.md": ["prettier --cache --ignore-unknown --write"]
}

feat: 解决Form组件slot必须传递component字段才显示的问题
  src/components/Form/src/components/FormItem.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

perf(style): 使用antd4的暗黑主题
  src/App.vue
  src/components/Modal/src/index.less
  src/design/dark.less
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

refactor: 抽离切换暗黑主题模式
  src/App.vue
  src/hooks/setting/useDarkModeTheme.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

移动滚动条的时候，ant-select-dropdown 没有随form-item移动
  src/design/index.less
Due: prettier --cache --ignore-unknown --write, stylelint --fix

Update index.less
  src/design/index.less
Due: prettier --cache --ignore-unknown --write, stylelint --fix

feat: 解决Form组件slot必须传递component字段才显示的问题 (#3049)
  src/components/Form/src/components/FormItem.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

feat(style): 使用Antd组件提供的切换主题功能 (#3051)
  src/App.vue
  src/components/Modal/src/index.less
  src/design/dark.less
  src/hooks/setting/useDarkModeTheme.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

Update index.less (#3055)
  src/design/index.less
Due: prettier --cache --ignore-unknown --write, stylelint --fix

Create node.js.yml
  .github/workflows/node.js.yml
Due: none

feat(funcation): update 修复表格无法拖拽列改变宽度
  src/components/Table/src/BasicTable.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

Create node.js.yml (#3060)
  .github/workflows/node.js.yml
Due: none

fix: 英文版本时提示中的单词没有分开
  src/locales/lang/en/common.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: 英文版本时提示中的单词没有分开 (#3062)
  src/locales/lang/en/common.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

feat(function): add 完善可伸缩列
  src/components/Table/src/BasicTable.vue
  src/components/Table/src/hooks/useColumns.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

feat(table): 表格拖拽列改变宽度
  src/components/Table/src/BasicTable.vue
  src/components/Table/src/hooks/useColumns.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

chore: rm unuse params
  src/components/Modal/src/components/ModalWrapper.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

chore(Modal): getCurrentInstance的uid类型为number
  src/components/Modal/src/hooks/useModal.ts
  src/components/Modal/src/typing.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

chore(Drawer): 调整drawer组件的一些类型问题
  src/components/Drawer/src/typing.ts
  src/components/Drawer/src/useDrawer.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

chore(Drawer): 移除多余的classname配置
  src/components/Drawer/src/BasicDrawer.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

chore(Drawer): 修复getContainer和antd4 drawer组件类型不一致
  src/components/Drawer/src/typing.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix(AppSearchModal): 调整setRefs函数的类型
  packages/hooks/src/useRefs.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix(ApiSelect): ApiSelect首次选择值时仍然提示校验, fix #3065
  src/components/Form/src/components/ApiSelect.vue
  src/components/Form/src/helper.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

style(Modal): modal全屏模式 ant 的modal-footer margin-top调整为0
  src/components/Modal/src/index.less
Due: prettier --cache --ignore-unknown --write, stylelint --fix

Chore: 处理了Vben封装的Drawer,Modal组件的一些类型错误 (#3064)
  packages/hooks/src/useRefs.ts
  src/components/Drawer/src/BasicDrawer.vue
  src/components/Drawer/src/typing.ts
  src/components/Drawer/src/useDrawer.ts
  src/components/Modal/src/components/ModalWrapper.vue
  src/components/Modal/src/hooks/useModal.ts
  src/components/Modal/src/typing.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix(ApiSelect): ApiSelect首次选择值时仍然提示校验, fix #3065 (#3071)
  src/components/Form/src/components/ApiSelect.vue
  src/components/Form/src/helper.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

style(Modal): modal全屏模式 ant 的modal-footer margin-top调整为0 (#3072)
  src/components/Modal/src/index.less
Due: prettier --cache --ignore-unknown --write, stylelint --fix

fix: Fix context menu style not working
  src/components/ContextMenu/src/ContextMenu.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: Fix context menu style not working (#3075)
  src/components/ContextMenu/src/ContextMenu.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix
