Repository vbenjs/vue-vben-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

fix: title of search button in vxeTable toolbar (#6046)
  packages/effects/plugins/src/vxe-table/use-vxe-grid.vue
  packages/locales/src/langs/en-US/common.json
  packages/locales/src/langs/zh-CN/common.json
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: fix that the default value of modal destroyOnClose does not take effect
  packages/@core/ui-kit/popup-ui/src/modal/use-modal.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

perf: improve destroyOnClose for VbenDrawer
  packages/@core/ui-kit/popup-ui/src/drawer/drawer.ts
  packages/@core/ui-kit/popup-ui/src/drawer/drawer.vue
  packages/@core/ui-kit/popup-ui/src/drawer/use-drawer.ts
  playground/src/views/examples/drawer/in-content-demo.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

perf: improve destroyOnClose for VbenDrawer&VbenModal (#6051)
  packages/@core/ui-kit/popup-ui/src/drawer/drawer.ts
  packages/@core/ui-kit/popup-ui/src/drawer/drawer.vue
  packages/@core/ui-kit/popup-ui/src/drawer/use-drawer.ts
  packages/@core/ui-kit/popup-ui/src/modal/use-modal.ts
  playground/src/views/examples/drawer/in-content-demo.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

feat: encrypt sensitive store data in localStorage
  apps/web-antd/.env
  apps/web-ele/.env
  apps/web-naive/.env
  packages/@core/base/shared/src/utils/crypto.ts
  packages/@core/base/shared/src/utils/index.ts
  packages/stores/src/setup.ts
  playground/.env
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: improve the encryption algorithm
  internal/lint-configs/eslint-config/src/configs/unicorn.ts
  packages/@core/base/shared/src/utils/crypto.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: update bytesToString
  packages/@core/base/shared/src/utils/crypto.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

feat: encrypt the privacy data when it is persisted
  apps/web-antd/.env
  apps/web-ele/.env
  apps/web-naive/.env
  packages/effects/layouts/src/widgets/lock-screen/lock-screen.vue
  packages/stores/package.json
  packages/stores/src/modules/access.ts
  packages/stores/src/modules/index.ts
  packages/stores/src/modules/lock.test.ts
  packages/stores/src/modules/lock.ts
  packages/stores/src/setup.ts
  playground/.env
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

docs(index.md): 添加DeepWiki文档链接
  docs/src/index.md
Due: prettier --cache --ignore-unknown --write

fix: replace lockStore
  packages/effects/layouts/src/basic/layout.vue
  packages/effects/layouts/src/widgets/user-dropdown/user-dropdown.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

docs: add deepWiki doc link (#6057)
  docs/src/index.md
Due: prettier --cache --ignore-unknown --write

feat: encrypt the privacy data when it is persisted (#6056)
  apps/web-antd/.env
  apps/web-ele/.env
  apps/web-naive/.env
  packages/effects/layouts/src/basic/layout.vue
  packages/effects/layouts/src/widgets/lock-screen/lock-screen.vue
  packages/effects/layouts/src/widgets/user-dropdown/user-dropdown.vue
  packages/stores/package.json
  packages/stores/src/modules/access.ts
  packages/stores/src/modules/index.ts
  packages/stores/src/modules/lock.test.ts
  packages/stores/src/modules/lock.ts
  packages/stores/src/setup.ts
  playground/.env
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

chore: release v5.5.5
  apps/web-antd/package.json
  apps/web-ele/package.json
  apps/web-naive/package.json
  docs/package.json
  internal/lint-configs/commitlint-config/package.json
  internal/lint-configs/stylelint-config/package.json
  internal/node-utils/package.json
  internal/tailwind-config/package.json
  internal/tsconfig/package.json
  internal/vite-config/package.json
  package.json
  packages/@core/base/design/package.json
  packages/@core/base/icons/package.json
  packages/@core/base/shared/package.json
  packages/@core/base/typings/package.json
  packages/@core/composables/package.json
  packages/@core/preferences/package.json
  packages/@core/ui-kit/form-ui/package.json
  packages/@core/ui-kit/layout-ui/package.json
  packages/@core/ui-kit/menu-ui/package.json
  packages/@core/ui-kit/shadcn-ui/package.json
  packages/@core/ui-kit/tabs-ui/package.json
  packages/constants/package.json
  packages/effects/access/package.json
  packages/effects/common-ui/package.json
  packages/effects/hooks/package.json
  packages/effects/layouts/package.json
  packages/effects/plugins/package.json
  packages/effects/request/package.json
  packages/icons/package.json
  packages/locales/package.json
  packages/preferences/package.json
  packages/stores/package.json
  packages/styles/package.json
  packages/types/package.json
  packages/utils/package.json
  playground/package.json
  scripts/turbo-run/package.json
  scripts/vsh/package.json
Due: prettier --cache --write

fix: optimize clearPoints function in useCaptchaPoints hook to improve performance
  packages/effects/common-ui/src/components/captcha/hooks/useCaptchaPoints.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: make several props optional in various components for better flexibility
  packages/@core/ui-kit/menu-ui/src/components/sub-menu-content.vue
  packages/@core/ui-kit/shadcn-ui/src/components/segmented/segmented.vue
  packages/effects/common-ui/src/ui/authentication/login.vue
  packages/effects/common-ui/src/ui/authentication/register.vue
  packages/effects/common-ui/src/ui/dashboard/analysis/analysis-charts-tabs.vue
  packages/effects/common-ui/src/ui/dashboard/analysis/analysis-overview.vue
  packages/effects/common-ui/src/ui/dashboard/workbench/workbench-project.vue
  packages/effects/common-ui/src/ui/dashboard/workbench/workbench-quick-nav.vue
  packages/effects/common-ui/src/ui/dashboard/workbench/workbench-todo.vue
  packages/effects/common-ui/src/ui/dashboard/workbench/workbench-trends.vue
  packages/effects/layouts/src/basic/copyright/copyright.vue
  packages/effects/layouts/src/basic/menu/extra-menu.vue
  packages/effects/layouts/src/basic/menu/menu.vue
  packages/effects/layouts/src/widgets/global-search/global-search.vue
  packages/effects/layouts/src/widgets/global-search/search-panel.vue
  packages/effects/layouts/src/widgets/preferences/blocks/checkbox-item.vue
  packages/effects/layouts/src/widgets/preferences/blocks/toggle-item.vue
  packages/effects/plugins/src/vxe-table/use-vxe-grid.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

perf: resolve duplicate component names (#6039)
  apps/web-antd/src/adapter/component/index.ts
  apps/web-ele/src/adapter/component/index.ts
  apps/web-naive/src/adapter/component/index.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: install corepack from npm (#5905)
  .gitpod.yml
  README.ja-JP.md
  README.md
  README.zh-CN.md
  docs/src/en/guide/introduction/quick-start.md
  docs/src/guide/introduction/quick-start.md
  scripts/deploy/Dockerfile
Due: prettier --cache --ignore-unknown --write

chore: update dependency version for improved stability and compatibility (#6023)
  internal/lint-configs/eslint-config/src/configs/vue.ts
  internal/lint-configs/stylelint-config/index.mjs
  package.json
  packages/@core/base/shared/src/utils/inference.ts
  packages/@core/ui-kit/menu-ui/src/components/menu.vue
  packages/@core/ui-kit/menu-ui/src/components/sub-menu-content.vue
  packages/@core/ui-kit/shadcn-ui/src/components/segmented/segmented.vue
  packages/effects/common-ui/src/components/captcha/hooks/useCaptchaPoints.ts
  packages/effects/common-ui/src/components/json-viewer/style.scss
  packages/effects/common-ui/src/components/resize/resize.vue
  packages/effects/common-ui/src/ui/authentication/login.vue
  packages/effects/common-ui/src/ui/authentication/register.vue
  packages/effects/common-ui/src/ui/dashboard/analysis/analysis-charts-tabs.vue
  packages/effects/common-ui/src/ui/dashboard/analysis/analysis-overview.vue
  packages/effects/common-ui/src/ui/dashboard/workbench/workbench-project.vue
  packages/effects/common-ui/src/ui/dashboard/workbench/workbench-quick-nav.vue
  packages/effects/common-ui/src/ui/dashboard/workbench/workbench-todo.vue
  packages/effects/common-ui/src/ui/dashboard/workbench/workbench-trends.vue
  packages/effects/layouts/src/basic/copyright/copyright.vue
  packages/effects/layouts/src/basic/menu/extra-menu.vue
  packages/effects/layouts/src/basic/menu/menu.vue
  packages/effects/layouts/src/widgets/global-search/global-search.vue
  packages/effects/layouts/src/widgets/global-search/search-panel.vue
  packages/effects/layouts/src/widgets/preferences/blocks/checkbox-item.vue
  packages/effects/layouts/src/widgets/preferences/blocks/toggle-item.vue
  packages/effects/layouts/src/widgets/theme-toggle/theme-button.vue
  packages/effects/plugins/src/vxe-table/use-vxe-grid.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

chore: update packageManager version to pnpm@10.9.0 for compatibility improvements
  package.json
Due: prettier --cache --write

fix: add rounded corners to project and quick nav items (#5296)
  packages/effects/common-ui/src/ui/dashboard/workbench/workbench-project.vue
  packages/effects/common-ui/src/ui/dashboard/workbench/workbench-quick-nav.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: lock state will not change overflow style in drawer and modal
  packages/@core/ui-kit/popup-ui/src/drawer/drawer.vue
  packages/@core/ui-kit/popup-ui/src/modal/modal.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: lock state will not change overflow style in drawer and modal (#6067)
  packages/@core/ui-kit/popup-ui/src/drawer/drawer.vue
  packages/@core/ui-kit/popup-ui/src/modal/modal.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: Update existing route index to prevent 404 on user switch (#6003)
  packages/effects/access/src/accessible.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: calculation for collapsing search form is incorrect while initially hidden
  packages/@core/ui-kit/form-ui/src/form-render/expandable.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

chore: Update dependent versions and configurations to improve compatibility and stability
  .lintstagedrc.mjs
  .node-version
  .vscode/settings.json
  README.ja-JP.md
  README.md
  README.zh-CN.md
  internal/vite-config/src/typing.ts
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/clean.mjs
  scripts/deploy/Dockerfile
  scripts/turbo-run/README.md
  scripts/turbo-run/src/run.ts
  scripts/vsh/README.md
  scripts/vsh/src/check-circular/index.ts
  scripts/vsh/src/check-dep/index.ts
  scripts/vsh/src/index.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write

fix: lint error
  packages/effects/access/src/accessible.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

chore: update dependencies and documentation, optimize build toolchain (#6060)
  .lintstagedrc.mjs
  .node-version
  .vscode/settings.json
  README.ja-JP.md
  README.md
  README.zh-CN.md
  internal/vite-config/src/typing.ts
  package.json
  packages/effects/access/src/accessible.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/clean.mjs
  scripts/deploy/Dockerfile
  scripts/turbo-run/README.md
  scripts/turbo-run/src/run.ts
  scripts/vsh/README.md
  scripts/vsh/src/check-circular/index.ts
  scripts/vsh/src/check-dep/index.ts
  scripts/vsh/src/index.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write

chore: update readme.md
  README.ja-JP.md
  README.md
  README.zh-CN.md
Due: prettier --cache --ignore-unknown --write

fix: calculation for collapsing search form is incorrect while initially hidden (#6068)
  packages/@core/ui-kit/form-ui/src/form-render/expandable.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

feat: Update order report
  apps/web-np/src/views/dashboard/profit-chart.vue
  apps/web-np/src/views/reports/order/table-config.ts
  apps/web-np/src/views/shared-components/date-range-picker.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

perf: Page supports custom height offset for flexible content height control.
  packages/effects/common-ui/src/components/page/page.vue
  packages/effects/common-ui/src/components/page/types.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

chore: typo
  packages/effects/common-ui/src/components/page/types.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

perf(page): replace height with heightOffset for flexible content sizing
  packages/effects/common-ui/src/components/page/page.vue
  packages/effects/common-ui/src/components/page/types.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

perf: page componet supports custom height offset for flexible content height … (#6081)
  packages/effects/common-ui/src/components/page/page.vue
  packages/effects/common-ui/src/components/page/types.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

first commit
  apps/web-antd/.env.development
  apps/web-antd/src/adapter/component/index.ts
  apps/web-antd/src/adapter/vxe-table.ts
  apps/web-antd/src/locales/langs/en-US/demos.json
  apps/web-antd/src/locales/langs/zh-CN/demos.json
  apps/web-antd/src/router/routes/modules/demos.ts
  apps/web-antd/src/router/routes/modules/vben.ts
  apps/web-antd/src/views/_core/about/index.vue
  apps/web-antd/src/views/demos/antd/index.vue
  apps/web-antd/vite.config.mts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

add brand,color,unit
  .vscode/settings.json
  .vscode/tasks.json
  apps/web-antd/src/api/basic/bank.ts
  apps/web-antd/src/api/basic/brand.ts
  apps/web-antd/src/api/basic/color.ts
  apps/web-antd/src/api/basic/customer.ts
  apps/web-antd/src/api/basic/index.ts
  apps/web-antd/src/api/basic/product.ts
  apps/web-antd/src/api/basic/store.ts
  apps/web-antd/src/api/basic/supplier.ts
  apps/web-antd/src/api/basic/unit.ts
  apps/web-antd/src/api/index.ts
  apps/web-antd/src/locales/langs/zh-CN/basic.json
  apps/web-antd/src/router/routes/modules/basic.ts
  apps/web-antd/src/views/basic/bank/index.vue
  apps/web-antd/src/views/basic/brand/index.vue
  apps/web-antd/src/views/basic/brand/modal.vue
  apps/web-antd/src/views/basic/color/index.vue
  apps/web-antd/src/views/basic/color/modal.vue
  apps/web-antd/src/views/basic/customer/index.vue
  apps/web-antd/src/views/basic/product/index.vue
  apps/web-antd/src/views/basic/store/index.vue
  apps/web-antd/src/views/basic/supplier/index.vue
  apps/web-antd/src/views/basic/unit/index.vue
  apps/web-antd/src/views/basic/unit/modal.vue
  packages/@core/ui-kit/form-ui/src/form-api.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: fix `LoginExpiredModal` in some cases, `message` may be obscured
  packages/effects/common-ui/src/ui/authentication/login-expired-modal.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: show validation message as tooltip in compact form
  packages/@core/ui-kit/form-ui/package.json
  packages/@core/ui-kit/form-ui/src/form-render/form-field.vue
  pnpm-lock.yaml
Due: eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

fix: show validation message as tooltip in compact form (#6087)
  packages/@core/ui-kit/form-ui/package.json
  packages/@core/ui-kit/form-ui/src/form-render/form-field.vue
  pnpm-lock.yaml
Due: eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

add bank,store
  apps/web-antd/src/views/basic/bank/index.vue
  apps/web-antd/src/views/basic/bank/modal.vue
  apps/web-antd/src/views/basic/brand/index.vue
  apps/web-antd/src/views/basic/color/index.vue
  apps/web-antd/src/views/basic/store/index.vue
  apps/web-antd/src/views/basic/store/modal.vue
  apps/web-antd/src/views/basic/unit/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

Path conditions:
  prettier --cache --ignore-unknown --write: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.{scss,less,styl,html})) or (any of: *.md)
  eslint --cache --fix: (any of: *.{js,jsx,ts,tsx}) or (any of: *.vue)
  prettier --cache --write: any of: package.json
  prettier --write: any of: *.vue
  stylelint --fix: (any of: *.vue) or (any of: *.{scss,less,styl,html})
