Repository vbenjs/vue-vben-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": ["prettier --cache --ignore-unknown  --write", "eslint --cache --fix"],
  "{!(package)*.json,*.code-snippets,.!(browserslist)*rc}": [
    "prettier --cache --write--parser json"
  ],
  "package.json": ["prettier --cache --write"],
  "*.vue": ["prettier --write", "eslint --cache --fix", "stylelint --fix"],
  "*.{scss,less,styl,html}": ["prettier --cache --ignore-unknown --write", "stylelint --fix"],
  "*.md": ["prettier --cache --ignore-unknown --write"]
}

更新路由
  src/router/routes/modules/alarm.ts
  src/router/routes/modules/monitor.ts
  src/router/routes/modules/property.ts
  src/views/alarm/record/AlarmRecord.vue
  src/views/alarm/setting/AlarmSetting.vue
  src/views/equipment/custom/EquipmentCustom.vue
  src/views/equipment/custom/sensor/EquipmentSensor.vue
  src/views/equipment/gateway/GatewayManager.vue
  src/views/equipment/sensor/SensorManager.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

修复自定义组件无法使用的问题
  src/components/Form/src/componentMap.ts
  src/views/Drawers/OriginData.vue
  src/views/alarm/record/data.tsx
  src/views/equipment/gateway/Drawer/OriginData.vue
  src/views/system/account/data.tsx
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

feat(function): add watermark custom style
  src/hooks/web/useWatermark.ts
  src/views/demo/feat/watermark/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix(CropperAvatar): wrong type about the prop size
  src/components/Form/src/components/FormItem.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix(登录): 修复获取登录用户名失败的问题
  src/store/modules/user.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix(架构): 修复右上角下拉警告报错的问题
  src/layouts/default/header/components/user-dropdown/DropMenuItem.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

perf(认证-登录): 1、登录信息缓存改为使用sessionStorage 2、登出移除角色权限信息
  src/settings/projectSetting.ts
  src/store/modules/user.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

feat(smart-table): smart-table添加表格尺寸调整功能
  .env.development
  src/components/SmartTable/index.ts
  src/components/SmartTable/src/SmartTable.tsx
  src/components/SmartTable/src/components/SmartTableSizeSetting.tsx
  src/components/SmartTable/src/components/SmartVxeTableAction.vue
  src/components/SmartTable/src/components/TableAction.vue
  src/components/SmartTable/src/const.ts
  src/components/SmartTable/src/hooks/useSmartTableContext.ts
  src/components/SmartTable/src/hooks/useTableToolbarConfig.ts
  src/components/SmartTable/src/lang/en_US.ts
  src/components/SmartTable/src/lang/zh_CN.ts
  src/components/SmartTable/src/types/SmartTableToolbarConfigType.ts
  src/components/SmartTable/src/types/SmartTableType.ts
  src/locales/lang/en_US.ts
  src/locales/lang/zh_CN.ts
  src/modules/smart-system/views/parameter/SysParameterListView.config.ts
  src/modules/smart-system/views/parameter/SysParameterListView.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix(架构): 修复登录后跳转进入死循环问题
  src/enums/pageEnum.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

perf(smart-table): 完善表格尺寸配置
  src/components/SmartTable/src/SmartTable.tsx
  src/components/SmartTable/src/components/SmartTableSizeSetting.tsx
  src/components/SmartTable/src/hooks/useSmartTableColumnConfig.ts
  src/components/SmartTable/src/hooks/useSmartTableContext.ts
  src/components/SmartTable/src/types/SmartTableType.ts
  src/modules/smart-system/views/parameter/SysParameterListView.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

增加路由
  src/hooks/web/usePermission.ts
  src/router/routes/modules/property.ts
  src/router/routes/modules/statistics.ts
  src/router/routes/modules/supplier.ts
  src/router/routes/modules/system.ts
  src/router/routes/modules/workorder.ts
  src/views/statistics/alarm/AlarmStatistics.vue
  src/views/system/settings/SystemSet.vue
  src/views/system/settings/data.ts
  src/views/system/settings/settings.vue
  src/views/system/settings/time/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

更新权限管理
  src/hooks/web/usePermission.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

perf(系统工具-系统管理): 系统管理页面优化
  src/modules/smart-system/views/system/SysSystemListView.config.ts
  src/modules/smart-system/views/system/SysSystemListView.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

perf(smart-code): 代码生成器功能完善
  src/modules/smart-code/views/codeDesign/CodeDesignPageHook.ts
  src/modules/smart-code/views/codeList/CodeListView.vue
  src/modules/smart-code/views/codeList/components/CodeCreatedResultModal.vue
  src/modules/smart-code/views/codeList/components/TemplateSelectTable.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

update
  pnpm-lock.yaml
  src/views/system/role/Role.vue
  src/views/system/role/RoleDrawer.vue
  src/views/system/role/RoleModal.vue
  src/views/system/role/data.tsx
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

改为?.
  src/router/helper/menuHelper.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

修复错误
  src/components/Button/src/PopConfirmButton.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix(用户列表): 修复部门树显示错误的问题
  src/modules/smart-system/views/user/UserListView.config.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: basemodal 无法透传 attributes 至 Modal.tsx
  src/components/Modal/src/components/Modal.tsx
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix(layout): fix warning "Invalid prop name: key is a reserved property"
  src/layouts/default/header/components/user-dropdown/DropMenuItem.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix(CropperAvatar): wrong type about the prop size (#3635)
  src/components/Form/src/components/FormItem.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

feat(watermark): support custom style (#3634)
  src/hooks/web/useWatermark.ts
  src/views/demo/feat/watermark/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix(layout->user-dropdown): resolve warning "Invalid prop name: key is a reserved property" (#3640)
  src/layouts/default/header/components/user-dropdown/DropMenuItem.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

perf(系统模块-部门管理): 优化部门管理模块性能
  src/modules/smart-system/components/SysDept/SysDeptTree.vue
  src/modules/smart-system/views/dept/SysDeptTreeList.vue
  src/modules/smart-system/views/dept/components/SysDeptEdit.vue
  src/modules/smart-system/views/dept/components/SysDeptTree.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

perf(页面调整): 页面调整优化
  src/modules/smart-message/components/SystemMessageShowModal.vue
  src/modules/smart-message/views/MessageTemplate/SmartMessageTemplateListView.vue
  src/modules/smart-system/views/serial/SmartSerialNoListView.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix(系统-登录): 登录失败自动刷新验证码
  src/views/sys/login/LoginForm.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

perf(代码生成器): 代码生成器功能完善
  src/modules/smart-code/views/codeDesign/CodeDesignPage.config.ts
  src/modules/smart-code/views/codeDesign/CodeDesignPage.vue
  src/modules/smart-code/views/codeDesign/CodeDesignPageHook.ts
  src/modules/smart-code/views/codeDesign/componenets/PageTableSetting/PageTableSetting.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

build(架构): 增加微服务启动模式
  .env.cloud
  package.json
Due: prettier --cache --write

feat: 账号管理，字典管理
  src/api/account/index.ts
  src/api/account/model/accountModel.ts
  src/api/account/role.ts
  src/api/sys/dict.ts
  src/api/sys/dictData.ts
  src/router/routes/modules/system.ts
  src/views/system/account/index.vue
  src/views/system/dict/DictModal.vue
  src/views/system/dict/dict.data.ts
  src/views/system/dict/dictData/DictDataModal.vue
  src/views/system/dict/dictData/dictData.data.ts
  src/views/system/dict/dictData/index.vue
  src/views/system/dict/index.vue
  src/views/system/menu/MenuDrawer.vue
  src/views/system/permission/MenuTree.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

sync
  src/components/Form/src/components/FormItem.vue
  src/hooks/web/useWatermark.ts
  src/layouts/default/header/components/user-dropdown/DropMenuItem.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: basemodal 无法透传 attributes 至 Modal.tsx (#3637)
  src/components/Modal/src/components/Modal.tsx
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

feat(系统): 添加修改密码功能
  src/api/sys/model/userModel.ts
  src/api/sys/user.ts
  src/layouts/default/header/components/user-dropdown/ChangePasswordModal.vue
  src/layouts/default/header/components/user-dropdown/index.vue
  src/locales/lang/en/layout.json
  src/locales/lang/zh-CN/layout.json
  src/store/modules/user.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix(router): resolve the next function being called twice
  src/router/guard/permissionGuard.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

更新数据统计弹窗；修复路由
  src/hooks/web/useECharts.ts
  src/router/routes/modules/monitor.ts
  src/views/common/Modals/statistics/EquipmentStatistics.vue
  src/views/common/Modals/statistics/index.ts
  src/views/common/Modals/statistics/src/Chart.vue
  src/views/common/Modals/statistics/src/EquipmentStatistics.vue
  src/views/common/Modals/statistics/src/functional.ts
  src/views/common/Modals/statistics/src/typing.ts
  src/views/common/Modals/statistics/state.ts
  src/views/enterprise/store/statistics/data.tsx
  src/views/enterprise/store/store.vue
  src/views/monitor/custom/EquipmentCustom.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

更新样式
  src/views/common/Modals/statistics/src/Chart.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

删除demo
  src/views/demo/feat/watermark/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

更新system
  src/views/system/account/Account.vue
  src/views/system/authority/Authority.vue
  src/views/system/authority/drawer/AuthDrawer.vue
  src/views/system/role/Role.vue
  src/views/system/role/RoleDrawer.vue
  src/views/system/role/RoleModal.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

更新Account
  src/views/system/account/Account.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix
