Repository vbenjs/vue-vben-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

feat(upload prop:crop,aspectRatio): from Upload component accept prop crop,aspectRatio
  apps/web-antd/src/adapter/component/index.ts
  playground/src/adapter/component/index.ts
  playground/src/views/examples/form/basic.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

feat(upload prop:crop,aspectRatio): from Upload component accept prop crop,aspectRatio
  apps/web-antd/src/adapter/component/index.ts
  playground/src/adapter/component/index.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix(antd Upload onChange Event): rewrite onChange event to handle upload success or error messages
  apps/web-antd/src/adapter/component/index.ts
  playground/src/adapter/component/index.ts
  playground/src/views/examples/form/basic.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

feat: 完成角色管理功能,还缺menuidlist的值和分配用户的接口
  apps/web-ele/src/api/core/role.ts
  apps/web-ele/src/views/sys/role/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: header auto mode issue (#7096)
  packages/@core/ui-kit/layout-ui/src/vben-layout.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix:修复默认默认首页如果携带参数时刷新页面参数丢失问题
  playground/src/router/guard.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix(antd Upload onChange Event): rewrite onChange event to handle upload success or error messages
  apps/web-antd/src/adapter/component/index.ts
  playground/src/adapter/component/index.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

feat(upload prop:crop,aspectRatio): from Upload component accept prop… (#7095)
  apps/web-antd/src/adapter/component/index.ts
  packages/locales/src/langs/en-US/ui.json
  packages/locales/src/langs/zh-CN/ui.json
  playground/src/adapter/component/index.ts
  playground/src/locales/langs/en-US/examples.json
  playground/src/locales/langs/zh-CN/examples.json
  playground/src/views/examples/form/basic.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix(antd Upload onChange Event): rewrite onChange event to handle upl… (#7098)
  apps/web-antd/src/adapter/component/index.ts
  playground/src/adapter/component/index.ts
  playground/src/views/examples/form/basic.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix:修复默认默认首页如果携带参数时刷新页面参数丢失问题 (#7102)
  playground/src/router/guard.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

docs(@vben-core/preferences): update comments
  packages/@core/preferences/src/use-preferences.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

docs(@vben-core/preferences): update comments (#7107)
  packages/@core/preferences/src/use-preferences.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

Refactor row calculation logic in expandable.ts
  packages/@core/ui-kit/form-ui/src/form-render/expandable.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

perf(cropper): enhance image cropping functionality and add output type support
  packages/effects/common-ui/src/components/cropper/cropper.vue
  packages/locales/src/langs/en-US/ui.json
  packages/locales/src/langs/zh-CN/ui.json
  playground/src/adapter/component/index.ts
  playground/src/views/examples/cropper/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

perf(cropper): enhance image cropping functionality and add output type support
  apps/web-antd/src/adapter/component/index.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

Perf: Optimization of cropping component result acquisition & optimization of cropping frame prompts (#7111)
  apps/web-antd/src/adapter/component/index.ts
  packages/effects/common-ui/src/components/cropper/cropper.vue
  packages/locales/src/langs/en-US/ui.json
  packages/locales/src/langs/zh-CN/ui.json
  playground/src/adapter/component/index.ts
  playground/src/views/examples/cropper/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

perf(antd upload params): 优化组件参数取值 确保不同调用场景配置参数可用
  playground/src/adapter/component/index.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

perf(antd upload params): 优化组件参数取值 确保不同调用场景配置参数可用
  apps/web-antd/src/adapter/component/index.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

perf(antd upload params): 优化组件参数取值 确保不同调用场景配置参数可用
  apps/web-antd/src/adapter/component/index.ts
  playground/src/adapter/component/index.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: chart instance disposal condition
  packages/effects/plugins/src/echarts/use-echarts.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

Perf: 优化antd upload组件参数获取 (#7114)
  apps/web-antd/src/adapter/component/index.ts
  playground/src/adapter/component/index.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix(@vben-core/shared): element outside viewport
  packages/@core/base/shared/src/utils/dom.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix(@vben-core/shared): element outside viewport, the element visible rect each prop expect 0 (#7120)
  packages/@core/base/shared/src/utils/dom.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: 嵌套弹窗，错误 merge options
  packages/@core/ui-kit/popup-ui/src/modal/use-modal.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: 嵌套弹窗，错误 merge options (#7126)
  packages/@core/ui-kit/popup-ui/src/modal/use-modal.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: timer not need reactivity
  packages/@core/ui-kit/shadcn-ui/src/components/spinner/loading.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

feat(effects-plugins): 添加 echarts 图表更新功能
  packages/effects/plugins/src/echarts/use-echarts.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: timer not need reactivity (#7128)
  packages/@core/ui-kit/shadcn-ui/src/components/spinner/loading.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

feat(@core/base): 新增CSS变量转RGBA颜色功能
  packages/@core/base/shared/src/color/convert.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

chore: update deps
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --cache --write

fix: lint
  packages/@core/composables/src/__tests__/use-sortable.test.ts
  packages/effects/common-ui/src/components/cropper/cropper.vue
  playground/src/views/examples/cropper/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: arguments order update
  packages/@core/ui-kit/shadcn-ui/src/components/render-content/render-content.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: 个人中心在后端权限模式打不开
  playground/src/router/routes/core.ts
  playground/src/router/routes/modules/vben.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: lint error
  packages/@core/ui-kit/menu-ui/src/components/menu.vue
  packages/effects/plugins/src/vxe-table/use-vxe-grid.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: lint error
  packages/effects/common-ui/src/components/cropper/cropper.vue
  playground/src/views/examples/cropper/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: lint error
  packages/@core/ui-kit/menu-ui/src/components/menu.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

test(dom): 更新元素可见区域计算的测试用例
  packages/@core/base/shared/src/utils/__tests__/dom.test.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

Path conditions:
  prettier --cache --ignore-unknown --write: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.{scss,less,styl,html})) or (any of: *.md)
  eslint --cache --fix: (any of: *.{js,jsx,ts,tsx}) or (any of: *.vue)
  prettier --cache --write: any of: package.json
  prettier --write: any of: *.vue
  stylelint --fix: (any of: *.vue) or (any of: *.{scss,less,styl,html})
