Repository vbenjs/vue-vben-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": ["prettier --cache --ignore-unknown  --write", "eslint --cache --fix"],
  "{!(package)*.json,*.code-snippets,.!(browserslist)*rc}": [
    "prettier --cache --write--parser json"
  ],
  "package.json": ["prettier --cache --write"],
  "*.vue": ["prettier --write", "eslint --cache --fix", "stylelint --fix"],
  "*.{scss,less,styl,html}": ["prettier --cache --ignore-unknown --write", "stylelint --fix"],
  "*.md": ["prettier --cache --ignore-unknown --write"]
}

chore: up vue 3.4.13 antdv 4.1.0
  internal/eslint-config/package.json
  internal/stylelint-config/package.json
  internal/ts-config/package.json
  internal/vite-config/package.json
  package.json
  packages/hooks/package.json
  pnpm-lock.yaml
Due: prettier --cache --write

fix: stylelint
  src/components/Tree/style/index.less
Due: prettier --cache --ignore-unknown --write, stylelint --fix

fix(BasicTable): getSelectRows return duplicate records (#3545)
  src/components/Table/src/hooks/useRowSelection.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: table resize wrong in modal
  src/components/Modal/src/BasicModal.vue
  src/components/Table/src/hooks/useTableScroll.ts
  src/utils/domUtils.ts
  src/views/demo/comp/modal/Modal5.vue
  src/views/demo/comp/modal/index.vue
  src/views/demo/table/RefTable.vue
  src/views/demo/table/ResizeParentHeightTable.vue
  src/views/demo/table/UseTable.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: (demo->page>form>high) expose getDataSource close #3529 (#3530)
  src/views/demo/page/form/high/PersonTable.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix(BasicTable): BasicTable resize wrong in modal (#3549)
  src/components/Modal/src/BasicModal.vue
  src/components/Table/src/hooks/useTableScroll.ts
  src/utils/domUtils.ts
  src/views/demo/comp/modal/Modal5.vue
  src/views/demo/comp/modal/index.vue
  src/views/demo/table/RefTable.vue
  src/views/demo/table/ResizeParentHeightTable.vue
  src/views/demo/table/UseTable.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: substract -> subtract
  src/hooks/web/useContentHeight.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: typo substract -> subtract (#3551)
  src/hooks/web/useContentHeight.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

chore(i18n): add ts,js file support
  .vscode/settings.json
  src/locales/lang/en.ts
  src/locales/lang/zh_CN.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

chore(i18n): add ts,js file support (#3552)
  .vscode/settings.json
  src/locales/lang/en.ts
  src/locales/lang/zh_CN.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: test-server can not lanuch
  apps/test-server/package.json
Due: prettier --cache --write

fix(test-server): test-server can not lanuch (#3554)
  apps/test-server/package.json
Due: prettier --cache --write

fix(tabs): tab close button position
  src/layouts/default/tabs/index.less
Due: prettier --cache --ignore-unknown --write, stylelint --fix

fix(useColumns): handle deep colunm hidden
  src/components/Table/src/hooks/useColumns.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix(BasicTable->useColumns): handle deep colunm hidden (#3561) resolve #3559
  src/components/Table/src/hooks/useColumns.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

style(tabs): tab close button position (#3560) resolve #3557
  src/layouts/default/tabs/index.less
Due: prettier --cache --ignore-unknown --write, stylelint --fix

chore: update label type
  src/components/Form/src/types/form.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

perf(component): formItem: label支持函数渲染 (#3504)
  src/components/Form/src/components/FormItem.vue
  src/components/Form/src/types/form.ts
  src/views/demo/form/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix(ScrollContainer): enable x scroll
  src/components/Container/src/ScrollContainer.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix(PageWrapper): 修复headerSticky样式
  src/components/Page/src/PageWrapper.vue
  src/views/demo/page/desc/high/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix(ScrollContainer): enable x scroll (#3564)
  src/components/Container/src/ScrollContainer.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix(PageWrapper): 修复headerSticky样式 (#3569)
  src/components/Page/src/PageWrapper.vue
  src/views/demo/page/desc/high/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix(FormItem): model should update before event call
  src/components/Form/src/components/FormItem.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix(BasicForm->FormItem): model should update before event call (#3573). resolve #3570
  src/components/Form/src/components/FormItem.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

docs: i18n
  README.md
Due: prettier --cache --ignore-unknown --write

chore: update README.md (#3575)
  README.md
Due: prettier --cache --ignore-unknown --write

feat: avatar upload progress param
  src/api/sys/upload.ts
  src/components/Cropper/src/CropperAvatar.vue
  src/components/Cropper/src/CropperModal.vue
  types/axios.d.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix
