Repository vbenjs/vue-vben-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": ["prettier --cache --ignore-unknown  --write", "eslint --cache --fix"],
  "{!(package)*.json,*.code-snippets,.!(browserslist)*rc}": [
    "prettier --cache --write--parser json"
  ],
  "package.json": ["prettier --cache --write"],
  "*.vue": ["prettier --write", "eslint --cache --fix", "stylelint --fix"],
  "*.{scss,less,styl,html}": ["prettier --cache --ignore-unknown --write", "stylelint --fix"],
  "*.md": ["prettier --cache --ignore-unknown --write"]
}

fix: modified type declaration
  packages/effects/hooks/src/use-hover-toggle.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

feat: user-dropdown support `hover` trigger (#5143)
  packages/effects/hooks/package.json
  packages/effects/hooks/src/index.ts
  packages/effects/hooks/src/use-hover-toggle.ts
  packages/effects/layouts/src/widgets/user-dropdown/user-dropdown.vue
  playground/src/layouts/basic.vue
  pnpm-lock.yaml
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

fix: login expired modal z-index
  packages/effects/common-ui/src/ui/authentication/login-expired-modal.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

feat: support custom z-index
  packages/effects/common-ui/src/ui/authentication/login-expired-modal.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: login expired modal z-index (#5145)
  packages/effects/common-ui/src/ui/authentication/login-expired-modal.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: `disabledOnChangeListener` not work in form
  packages/@core/ui-kit/form-ui/src/form-render/form-field.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: `disabledOnChangeListener` not work in form (#5146)
  packages/@core/ui-kit/form-ui/src/form-render/form-field.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

feat: auto activate subMenu on click root menu
  packages/@core/preferences/src/config.ts
  packages/@core/preferences/src/types.ts
  packages/effects/layouts/src/basic/menu/use-extra-menu.ts
  packages/effects/layouts/src/widgets/preferences/blocks/layout/sidebar.vue
  packages/effects/layouts/src/widgets/preferences/preferences-drawer.vue
  packages/locales/src/langs/en-US/preferences.json
  packages/locales/src/langs/zh-CN/preferences.json
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: prop name fixed
  packages/effects/layouts/src/widgets/preferences/blocks/layout/sidebar.vue
  packages/effects/layouts/src/widgets/preferences/preferences-drawer.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

chore: test and docs update
  docs/src/en/guide/essentials/settings.md
  docs/src/guide/essentials/settings.md
  packages/@core/preferences/__tests__/__snapshots__/config.test.ts.snap
  packages/effects/layouts/src/widgets/preferences/blocks/layout/sidebar.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

feat: auto activate subMenu on select root menu (#5147)
  docs/src/en/guide/essentials/settings.md
  docs/src/guide/essentials/settings.md
  packages/@core/preferences/__tests__/__snapshots__/config.test.ts.snap
  packages/@core/preferences/src/config.ts
  packages/@core/preferences/src/types.ts
  packages/effects/layouts/src/basic/menu/use-extra-menu.ts
  packages/effects/layouts/src/widgets/preferences/blocks/layout/sidebar.vue
  packages/effects/layouts/src/widgets/preferences/preferences-drawer.vue
  packages/locales/src/langs/en-US/preferences.json
  packages/locales/src/langs/zh-CN/preferences.json
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

feat: `autoActivateChild` support more layout mode
  packages/effects/layouts/src/basic/layout.vue
  packages/effects/layouts/src/basic/menu/menu.vue
  packages/effects/layouts/src/basic/menu/use-mixed-menu.ts
  packages/effects/layouts/src/widgets/preferences/blocks/layout/sidebar.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

feat: `autoActivateChild` support more layout mode (#5148)
  packages/effects/layouts/src/basic/layout.vue
  packages/effects/layouts/src/basic/menu/menu.vue
  packages/effects/layouts/src/basic/menu/use-mixed-menu.ts
  packages/effects/layouts/src/widgets/preferences/blocks/layout/sidebar.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

feat: add demo for modify menu badge data
  packages/@core/ui-kit/menu-ui/src/index.ts
  packages/stores/src/modules/access.ts
  playground/package.json
  playground/src/views/demos/badge/index.vue
  pnpm-lock.yaml
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

feat: add some method in formApi
  docs/src/components/common-ui/vben-form.md
  packages/@core/ui-kit/form-ui/src/form-api.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: VbenPinInput style with small screen
  packages/@core/ui-kit/shadcn-ui/src/ui/button/button.ts
  packages/@core/ui-kit/shadcn-ui/src/ui/pin-input/PinInputInput.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

chore: improve code login demo
  playground/src/locales/langs/en-US/page.json
  playground/src/locales/langs/zh-CN/page.json
  playground/src/views/_core/authentication/code-login.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

feat: improve code login demo (#5154)
  docs/src/components/common-ui/vben-form.md
  packages/@core/ui-kit/form-ui/src/form-api.ts
  packages/@core/ui-kit/shadcn-ui/src/ui/button/button.ts
  packages/@core/ui-kit/shadcn-ui/src/ui/pin-input/PinInputInput.vue
  playground/src/locales/langs/en-US/page.json
  playground/src/locales/langs/zh-CN/page.json
  playground/src/views/_core/authentication/code-login.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

feat: form `colon` support
  docs/src/components/common-ui/vben-form.md
  packages/@core/ui-kit/form-ui/src/form-render/form-field.vue
  packages/@core/ui-kit/form-ui/src/form-render/form.vue
  packages/@core/ui-kit/form-ui/src/types.ts
  playground/src/views/examples/form/basic.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

feat: form `colon` support (#5156)
  docs/src/components/common-ui/vben-form.md
  packages/@core/ui-kit/form-ui/src/form-render/form-field.vue
  packages/@core/ui-kit/form-ui/src/form-render/form.vue
  packages/@core/ui-kit/form-ui/src/types.ts
  playground/src/views/examples/form/basic.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

docs: fix docs-link and add `EllipsisText` docs
  docs/.vitepress/config/zh.mts
  docs/src/components/common-ui/vben-api-component.md
  docs/src/components/common-ui/vben-ellipsis-text.md
  docs/src/demos/vben-ellipsis-text/expand/index.vue
  docs/src/demos/vben-ellipsis-text/line/index.vue
  docs/src/demos/vben-ellipsis-text/tooltip/index.vue
  playground/src/views/examples/doc-button.vue
  playground/src/views/examples/ellipsis/index.vue
  playground/src/views/examples/form/basic.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: ellipsisText docs link
  playground/src/views/examples/ellipsis/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

docs: fix docs-link and add `EllipsisText` docs (#5158)
  docs/.vitepress/config/zh.mts
  docs/src/components/common-ui/vben-api-component.md
  docs/src/components/common-ui/vben-ellipsis-text.md
  docs/src/demos/vben-ellipsis-text/expand/index.vue
  docs/src/demos/vben-ellipsis-text/line/index.vue
  docs/src/demos/vben-ellipsis-text/tooltip/index.vue
  playground/src/views/examples/doc-button.vue
  playground/src/views/examples/ellipsis/index.vue
  playground/src/views/examples/form/basic.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: remove the overlap caused by border-b
  packages/effects/common-ui/src/ui/dashboard/workbench/workbench-project.vue
  packages/effects/common-ui/src/ui/dashboard/workbench/workbench-quick-nav.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: form auto submit no effect when showDefaultActions is false
  packages/@core/ui-kit/form-ui/src/vben-use-form.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: form auto submit no effect when showDefaultActions is false (#5163)
  packages/@core/ui-kit/form-ui/src/vben-use-form.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

feat: form compact mode support
  docs/src/components/common-ui/vben-form.md
  packages/@core/ui-kit/form-ui/src/components/form-actions.vue
  packages/@core/ui-kit/form-ui/src/form-render/form-field.vue
  packages/@core/ui-kit/form-ui/src/types.ts
  packages/effects/plugins/src/vxe-table/use-vxe-grid.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

feat: form compact mode support (#5165)
  docs/src/components/common-ui/vben-form.md
  packages/@core/ui-kit/form-ui/src/components/form-actions.vue
  packages/@core/ui-kit/form-ui/src/form-render/form-field.vue
  packages/@core/ui-kit/form-ui/src/types.ts
  packages/effects/plugins/src/vxe-table/use-vxe-grid.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: user homePath no effect sometimes
  apps/backend-mock/utils/mock-data.ts
  apps/web-antd/src/router/guard.ts
  apps/web-ele/src/router/guard.ts
  apps/web-naive/src/router/guard.ts
  playground/src/router/guard.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: user homePath no effect sometimes (#5166)
  apps/backend-mock/utils/mock-data.ts
  apps/web-antd/src/router/guard.ts
  apps/web-ele/src/router/guard.ts
  apps/web-naive/src/router/guard.ts
  playground/src/router/guard.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: the anchor and tabs conflict
  packages/effects/layouts/src/authentication/form.vue
  packages/effects/layouts/src/basic/content/content.vue
  packages/effects/layouts/src/basic/tabbar/use-tabbar.ts
  packages/effects/layouts/src/iframe/iframe-router-view.vue
  packages/stores/src/modules/tabbar.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

docs: fix typos
  docs/src/guide/in-depth/ui-framework.md
Due: prettier --cache --ignore-unknown --write

fix: remove TypeScript error suppression for missing types in Vue ESLint config
  internal/lint-configs/eslint-config/src/configs/vue.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: enhance application configuration with CSS options type support
  internal/vite-config/src/config/application.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: sidebar style on focus
  packages/@core/ui-kit/shadcn-ui/src/ui/scroll-area/ScrollArea.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

feat: page class override
  packages/effects/common-ui/src/components/page/page.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: sidebar style on focus (#5178)
  packages/@core/ui-kit/shadcn-ui/src/ui/scroll-area/ScrollArea.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

feat: page content class override (#5179)
  packages/effects/common-ui/src/components/page/page.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: resolve eslint errors as well as TS type errors (#5172)
  internal/lint-configs/eslint-config/src/configs/vue.ts
  internal/vite-config/src/config/application.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

docs: fix typos (#5169)
  docs/src/guide/in-depth/ui-framework.md
Due: prettier --cache --ignore-unknown --write
