Repository vbenjs/vue-vben-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": ["prettier --cache --ignore-unknown  --write", "eslint --cache --fix"],
  "{!(package)*.json,*.code-snippets,.!(browserslist)*rc}": [
    "prettier --cache --write--parser json"
  ],
  "package.json": ["prettier --cache --write"],
  "*.vue": ["prettier --write", "eslint --cache --fix", "stylelint --fix"],
  "*.{scss,less,styl,html}": ["prettier --cache --ignore-unknown --write", "stylelint --fix"],
  "*.md": ["prettier --cache --ignore-unknown --write"]
}

fix: delete Popconfirm being obscured by fixed columns
  playground/src/adapter/vxe-table.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: opened popConfirm will prevent the table from scrolling
  playground/src/adapter/vxe-table.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

chore: release v5.5.6
  apps/web-antd/package.json
  apps/web-ele/package.json
  apps/web-naive/package.json
  docs/package.json
  internal/lint-configs/commitlint-config/package.json
  internal/lint-configs/stylelint-config/package.json
  internal/node-utils/package.json
  internal/tailwind-config/package.json
  internal/tsconfig/package.json
  internal/vite-config/package.json
  package.json
  packages/@core/base/design/package.json
  packages/@core/base/icons/package.json
  packages/@core/base/shared/package.json
  packages/@core/base/typings/package.json
  packages/@core/composables/package.json
  packages/@core/preferences/package.json
  packages/@core/ui-kit/form-ui/package.json
  packages/@core/ui-kit/layout-ui/package.json
  packages/@core/ui-kit/menu-ui/package.json
  packages/@core/ui-kit/shadcn-ui/package.json
  packages/@core/ui-kit/tabs-ui/package.json
  packages/constants/package.json
  packages/effects/access/package.json
  packages/effects/common-ui/package.json
  packages/effects/hooks/package.json
  packages/effects/layouts/package.json
  packages/effects/plugins/package.json
  packages/effects/request/package.json
  packages/icons/package.json
  packages/locales/package.json
  packages/preferences/package.json
  packages/stores/package.json
  packages/styles/package.json
  packages/types/package.json
  packages/utils/package.json
  playground/package.json
  scripts/turbo-run/package.json
  scripts/vsh/package.json
Due: prettier --cache --write

fix: delete Popconfirm being obscured by fixed columns (#6118)
  playground/src/adapter/vxe-table.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: missing argument for getPopupContainer
  playground/src/adapter/vxe-table.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: tsconfig moduleResolution
  internal/tailwind-config/tsconfig.json
Due: none

docs(@vben/docs): update settings doc
  docs/src/en/guide/essentials/settings.md
  docs/src/guide/essentials/settings.md
Due: prettier --cache --ignore-unknown --write

fix: tsconfig moduleResolution (#6122)
  internal/tailwind-config/tsconfig.json
Due: none

docs(@vben/docs): update settings doc (#6128)
  docs/src/en/guide/essentials/settings.md
  docs/src/guide/essentials/settings.md
Due: prettier --cache --ignore-unknown --write

feat: Disable chat widget
  apps/web-np/index.html
  apps/web-np/src/layouts/basic.vue
  apps/web-np/src/store/auth.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: delete useless code
  apps/web-antd/src/router/guard.ts
  apps/web-ele/src/router/guard.ts
  apps/web-naive/src/router/guard.ts
  playground/src/router/guard.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: delete useless code (#6143)
  apps/web-antd/src/router/guard.ts
  apps/web-ele/src/router/guard.ts
  apps/web-naive/src/router/guard.ts
  playground/src/router/guard.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

feat: support to refresh the tab page by route name
  packages/effects/hooks/src/use-tabs.ts
  packages/stores/src/modules/tabbar.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

feat: Add account page
  apps/web-np/src/api/account.ts
  apps/web-np/src/api/index.ts
  apps/web-np/src/constants.ts
  apps/web-np/src/router/routes/modules/settings.ts
  apps/web-np/src/views/settings/account/index.vue
  apps/web-np/src/views/settings/account/table-config.ts
  apps/web-np/src/views/settings/account/table-filter.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

types: 导出authentication组件的type，自定义toolbarList时类型使用ToolbarType
  packages/effects/layouts/src/authentication/index.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

feat: support to refresh the tab page by route name (#6153)
  packages/effects/hooks/src/use-tabs.ts
  packages/stores/src/modules/tabbar.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

purchase
  apps/web-antd/index.html
  apps/web-antd/src/api/inbound/purchase.ts
  apps/web-antd/src/main.ts
  apps/web-antd/src/router/routes/modules/inbound.ts
  apps/web-antd/src/store/index.ts
  apps/web-antd/src/store/purchase.ts
  apps/web-antd/src/views/_core/authentication/login.vue
  apps/web-antd/src/views/inbound/purchase/index.vue
  apps/web-antd/src/views/inbound/purchase/modal.vue
  apps/web-antd/src/views/inbound/purchaseList/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: the mobile terminal can wrap lines and expand slot attributes
  packages/@core/ui-kit/shadcn-ui/src/components/button/button.ts
  packages/@core/ui-kit/shadcn-ui/src/components/button/check-button-group.vue
  playground/src/views/examples/button-group/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

feat(tabs): 支持动态函数作为标签标题
  packages/@core/ui-kit/tabs-ui/src/components/tabs-chrome/tabs.vue
  packages/@core/ui-kit/tabs-ui/src/components/tabs/tabs.vue
  packages/effects/hooks/src/use-tabs.ts
  packages/stores/src/modules/tabbar.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

feat(tabbar): 添加动态设置标签页标题功能
  packages/effects/hooks/src/use-tabs.ts
  packages/stores/src/modules/tabbar.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

refactor(tabs): 移除冗余的newTabTitle2变量并优化标题设置逻辑
  packages/@core/ui-kit/tabs-ui/src/components/tabs-chrome/tabs.vue
  packages/@core/ui-kit/tabs-ui/src/components/tabs/tabs.vue
  packages/effects/hooks/src/use-tabs.ts
  packages/stores/src/modules/tabbar.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: refresh command of tabbar, fixed: #6162
  packages/effects/layouts/src/basic/tabbar/use-tabbar.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: refresh command of tabbar issue, fixed: #6162 (#6169)
  packages/effects/layouts/src/basic/tabbar/use-tabbar.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: css style
  packages/effects/layouts/src/authentication/authentication.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

feat: Add ads account page
  apps/web-np/src/api/account.ts
  apps/web-np/src/interfaces.ts
  apps/web-np/src/preferences.ts
  apps/web-np/src/views/reports/order/form-modal-order-detail.vue
  apps/web-np/src/views/settings/account/index.vue
  apps/web-np/src/views/settings/account/table-config.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

feat(@vben/access): add mixed access control
  packages/@core/base/typings/src/app.d.ts
  packages/effects/access/src/accessible.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

feat: add access control docs
  docs/src/en/guide/in-depth/access.md
  docs/src/guide/in-depth/access.md
Due: prettier --cache --ignore-unknown --write

fix: column table on mobile is blocked
  playground/src/views/system/menu/data.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: Using ellipsis in the grid component does not wrap
  packages/effects/common-ui/src/components/ellipsis-text/ellipsis-text.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

perf: perf the control logic of Tab
  docs/src/guide/essentials/route.md
  packages/@core/base/typings/src/tabs.ts
  packages/@core/base/typings/src/vue-router.d.ts
  packages/@core/ui-kit/tabs-ui/src/components/tabs-chrome/tabs.vue
  packages/effects/layouts/src/basic/content/content.vue
  packages/effects/layouts/src/basic/tabbar/tabbar.vue
  packages/effects/layouts/src/basic/tabbar/use-tabbar.ts
  packages/stores/src/modules/tabbar.ts
  playground/src/router/routes/modules/system.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

perf: perf the control logic of Tab
  docs/src/guide/essentials/route.md
Due: prettier --cache --ignore-unknown --write

fix(@vben-core/shadcn-ui): fix disabled functionality not working in VbenTree component
  packages/@core/ui-kit/shadcn-ui/src/ui/tree/tree.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

types: 导出authentication组件的type，自定义toolbarList时类型使用ToolbarType (#6158)
  packages/effects/layouts/src/authentication/index.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

feat(tabs): 支持计算属性作为标签标题，解决 #6170 的问题 (#6163)
  packages/effects/hooks/src/use-tabs.ts
  packages/stores/src/modules/tabbar.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: the mobile terminal can wrap lines and expand slot attributes (#6165)
  packages/@core/ui-kit/shadcn-ui/src/components/button/button.ts
  packages/@core/ui-kit/shadcn-ui/src/components/button/check-button-group.vue
  playground/src/views/examples/button-group/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: css style (#6176)
  packages/effects/layouts/src/authentication/authentication.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

perf: stub unbuild params
  internal/tailwind-config/package.json
Due: prettier --cache --write

fix(@vben-core/shadcn-ui): add cursor-not-allowed className when disabled and disable onfocus
  packages/@core/ui-kit/shadcn-ui/src/ui/tree/tree.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix
