Repository vbenjs/vue-vben-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": ["prettier --cache --ignore-unknown  --write", "eslint --cache --fix"],
  "{!(package)*.json,*.code-snippets,.!(browserslist)*rc}": [
    "prettier --cache --write--parser json"
  ],
  "package.json": ["prettier --cache --write"],
  "*.vue": ["prettier --write", "eslint --cache --fix", "stylelint --fix"],
  "*.{scss,less,styl,html}": ["prettier --cache --ignore-unknown --write", "stylelint --fix"],
  "*.md": ["prettier --cache --ignore-unknown --write"]
}

fix: fix window system clean script execution problems
  docs/src/en/guide/essentials/development.md
  docs/src/en/guide/project/cli.md
  docs/src/guide/essentials/development.md
  docs/src/guide/project/cli.md
  package.json
  packages/@core/preferences/__tests__/preferences.test.ts
  packages/@core/preferences/src/preferences.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/clean.mjs
  scripts/vsh/src/clean/index.ts
  scripts/vsh/src/index.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write

fix: lint error
  internal/lint-configs/eslint-config/src/custom-config.ts
  scripts/clean.mjs
  scripts/package.json
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write

fix: lint error
  scripts/clean.mjs
Due: none

chore: remove test code
  pnpm-lock.yaml
  scripts/package.json
Due: prettier --cache --write

fix: window system clean script execution problems (#4513)
  docs/src/en/guide/essentials/development.md
  docs/src/en/guide/project/cli.md
  docs/src/guide/essentials/development.md
  docs/src/guide/project/cli.md
  internal/lint-configs/eslint-config/src/custom-config.ts
  package.json
  packages/@core/preferences/__tests__/preferences.test.ts
  packages/@core/preferences/src/preferences.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/clean.mjs
  scripts/vsh/src/clean/index.ts
  scripts/vsh/src/index.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write

fix: 1
  vercel.json
Due: none

perf: check-updates.vue 检测更新提示窗 通过 worker 进行 请求 通过 message 触发 更新弹窗
  packages/effects/layouts/src/widgets/check-updates/check-updates.vue
  packages/effects/layouts/src/widgets/check-updates/utils.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: improve input browser backfilling style
  packages/@core/base/design/src/css/global.css
Due: none

fix: improve input browser backfilling style (#4519)
  packages/@core/base/design/src/css/global.css
Due: none

fix: improve ant design button icon style
  packages/styles/src/antd/index.css
Due: none

fix: improve ant design button icon style (#4520)
  packages/styles/src/antd/index.css
Due: none

fix: when modal and drawer exist at the same time, click Close All
  packages/@core/ui-kit/popup-ui/src/drawer/drawer.vue
  packages/@core/ui-kit/shadcn-ui/src/components/ui/sheet/SheetOverlay.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: when modal and drawer exist at the same time, click Close All (#4521)
  packages/@core/ui-kit/popup-ui/src/drawer/drawer.vue
  packages/@core/ui-kit/shadcn-ui/src/components/ui/sheet/SheetOverlay.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

feat: add pagination component
  packages/@core/ui-kit/shadcn-ui/package.json
  packages/@core/ui-kit/shadcn-ui/src/components/index.ts
  packages/@core/ui-kit/shadcn-ui/src/components/pagination/index.ts
  packages/@core/ui-kit/shadcn-ui/src/components/pagination/pagination.ts
  packages/@core/ui-kit/shadcn-ui/src/components/pagination/pagination.vue
  packages/@core/ui-kit/shadcn-ui/src/components/ui/accordion/AccordionTrigger.vue
  packages/@core/ui-kit/shadcn-ui/src/components/ui/breadcrumb/BreadcrumbEllipsis.vue
  packages/@core/ui-kit/shadcn-ui/src/components/ui/breadcrumb/BreadcrumbSeparator.vue
  packages/@core/ui-kit/shadcn-ui/src/components/ui/button/Button.vue
  packages/@core/ui-kit/shadcn-ui/src/components/ui/checkbox/Checkbox.vue
  packages/@core/ui-kit/shadcn-ui/src/components/ui/context-menu/ContextMenuCheckboxItem.vue
  packages/@core/ui-kit/shadcn-ui/src/components/ui/context-menu/ContextMenuRadioItem.vue
  packages/@core/ui-kit/shadcn-ui/src/components/ui/context-menu/ContextMenuSubTrigger.vue
  packages/@core/ui-kit/shadcn-ui/src/components/ui/dialog/DialogContent.vue
  packages/@core/ui-kit/shadcn-ui/src/components/ui/dropdown-menu/DropdownMenuCheckboxItem.vue
  packages/@core/ui-kit/shadcn-ui/src/components/ui/dropdown-menu/DropdownMenuRadioItem.vue
  packages/@core/ui-kit/shadcn-ui/src/components/ui/dropdown-menu/DropdownMenuSubTrigger.vue
  packages/@core/ui-kit/shadcn-ui/src/components/ui/pagination/PaginationEllipsis.vue
  packages/@core/ui-kit/shadcn-ui/src/components/ui/pagination/PaginationFirst.vue
  packages/@core/ui-kit/shadcn-ui/src/components/ui/pagination/PaginationLast.vue
  packages/@core/ui-kit/shadcn-ui/src/components/ui/pagination/PaginationNext.vue
  packages/@core/ui-kit/shadcn-ui/src/components/ui/pagination/PaginationPrev.vue
  packages/@core/ui-kit/shadcn-ui/src/components/ui/pagination/index.ts
  packages/@core/ui-kit/shadcn-ui/src/components/ui/pin-input/PinInputSeparator.vue
  packages/@core/ui-kit/shadcn-ui/src/components/ui/radio-group/RadioGroupItem.vue
  packages/@core/ui-kit/shadcn-ui/src/components/ui/select/SelectItem.vue
  packages/@core/ui-kit/shadcn-ui/src/components/ui/select/SelectScrollDownButton.vue
  packages/@core/ui-kit/shadcn-ui/src/components/ui/select/SelectScrollUpButton.vue
  packages/@core/ui-kit/shadcn-ui/src/components/ui/select/SelectTrigger.vue
  packages/@core/ui-kit/shadcn-ui/src/components/ui/toast/ToastClose.vue
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

chore: update
  packages/@core/ui-kit/shadcn-ui/src/components/ui/dialog/DialogScrollContent.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

feat: add pagination component (#4522)
  packages/@core/ui-kit/shadcn-ui/package.json
  packages/@core/ui-kit/shadcn-ui/src/components/index.ts
  packages/@core/ui-kit/shadcn-ui/src/components/pagination/index.ts
  packages/@core/ui-kit/shadcn-ui/src/components/pagination/pagination.ts
  packages/@core/ui-kit/shadcn-ui/src/components/pagination/pagination.vue
  packages/@core/ui-kit/shadcn-ui/src/components/ui/accordion/AccordionTrigger.vue
  packages/@core/ui-kit/shadcn-ui/src/components/ui/breadcrumb/BreadcrumbEllipsis.vue
  packages/@core/ui-kit/shadcn-ui/src/components/ui/breadcrumb/BreadcrumbSeparator.vue
  packages/@core/ui-kit/shadcn-ui/src/components/ui/button/Button.vue
  packages/@core/ui-kit/shadcn-ui/src/components/ui/checkbox/Checkbox.vue
  packages/@core/ui-kit/shadcn-ui/src/components/ui/context-menu/ContextMenuCheckboxItem.vue
  packages/@core/ui-kit/shadcn-ui/src/components/ui/context-menu/ContextMenuRadioItem.vue
  packages/@core/ui-kit/shadcn-ui/src/components/ui/context-menu/ContextMenuSubTrigger.vue
  packages/@core/ui-kit/shadcn-ui/src/components/ui/dialog/DialogContent.vue
  packages/@core/ui-kit/shadcn-ui/src/components/ui/dialog/DialogScrollContent.vue
  packages/@core/ui-kit/shadcn-ui/src/components/ui/dropdown-menu/DropdownMenuCheckboxItem.vue
  packages/@core/ui-kit/shadcn-ui/src/components/ui/dropdown-menu/DropdownMenuRadioItem.vue
  packages/@core/ui-kit/shadcn-ui/src/components/ui/dropdown-menu/DropdownMenuSubTrigger.vue
  packages/@core/ui-kit/shadcn-ui/src/components/ui/pagination/PaginationEllipsis.vue
  packages/@core/ui-kit/shadcn-ui/src/components/ui/pagination/PaginationFirst.vue
  packages/@core/ui-kit/shadcn-ui/src/components/ui/pagination/PaginationLast.vue
  packages/@core/ui-kit/shadcn-ui/src/components/ui/pagination/PaginationNext.vue
  packages/@core/ui-kit/shadcn-ui/src/components/ui/pagination/PaginationPrev.vue
  packages/@core/ui-kit/shadcn-ui/src/components/ui/pagination/index.ts
  packages/@core/ui-kit/shadcn-ui/src/components/ui/pin-input/PinInputSeparator.vue
  packages/@core/ui-kit/shadcn-ui/src/components/ui/radio-group/RadioGroupItem.vue
  packages/@core/ui-kit/shadcn-ui/src/components/ui/select/SelectItem.vue
  packages/@core/ui-kit/shadcn-ui/src/components/ui/select/SelectScrollDownButton.vue
  packages/@core/ui-kit/shadcn-ui/src/components/ui/select/SelectScrollUpButton.vue
  packages/@core/ui-kit/shadcn-ui/src/components/ui/select/SelectTrigger.vue
  packages/@core/ui-kit/shadcn-ui/src/components/ui/toast/ToastClose.vue
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

feat(@vben/stores): export defineStore to support pinia persistence within apps (#4483)
  packages/stores/src/index.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

chore: update deps
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

fix(table): Fixed table tree structure bug
  src/components/Table/src/hooks/useRowSelection.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix(table): Fixed table tree structure bug (#4543)
  src/components/Table/src/hooks/useRowSelection.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: 修复当全局页面出现滚动条时，锁屏页面异常显示
  packages/effects/layouts/src/widgets/lock-screen/lock-screen.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: 使用 useScrollLock 并将 tryOnBeforeMount 替换为 tryOnMounted，确保页面刷新后 scrollHeight 计算准确，滚动条显示符合预期。
  packages/@core/composables/src/use-scroll-lock.ts
  packages/effects/layouts/package.json
  packages/effects/layouts/src/widgets/lock-screen/lock-screen.vue
  pnpm-lock.yaml
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

chore: disable sorting of non-core folder object fields
  internal/lint-configs/eslint-config/src/custom-config.ts
  packages/@core/base/shared/src/utils/__tests__/util.test.ts
  packages/@core/base/shared/src/utils/merge.ts
  packages/@core/base/shared/src/utils/util.ts
  packages/@core/ui-kit/form-ui/__tests__/form-api.test.ts
  packages/@core/ui-kit/form-ui/src/form-api.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: fix abnormal display of scroll bar on lock screen page (#4546)
  packages/@core/composables/src/use-scroll-lock.ts
  packages/effects/layouts/package.json
  packages/effects/layouts/src/widgets/lock-screen/lock-screen.vue
  pnpm-lock.yaml
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

chore: ci error
  packages/@core/base/shared/src/utils/__tests__/util.test.ts
  packages/@core/base/shared/src/utils/util.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

chore: disable sorting of non-core folder object fields (#4547)
  internal/lint-configs/eslint-config/src/custom-config.ts
  packages/@core/base/shared/src/utils/__tests__/util.test.ts
  packages/@core/base/shared/src/utils/merge.ts
  packages/@core/base/shared/src/utils/util.ts
  packages/@core/ui-kit/form-ui/__tests__/form-api.test.ts
  packages/@core/ui-kit/form-ui/src/form-api.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: when multiple pop-ups exist at the same time, clicking will close all
  packages/@core/ui-kit/popup-ui/src/drawer/drawer.vue
  packages/@core/ui-kit/popup-ui/src/modal/modal.vue
  packages/@core/ui-kit/shadcn-ui/src/components/ui/dialog/DialogOverlay.vue
  packages/@core/ui-kit/shadcn-ui/src/components/ui/sheet/SheetOverlay.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: when multiple pop-ups exist at the same time, clicking will close all (#4548)
  packages/@core/ui-kit/popup-ui/src/drawer/drawer.vue
  packages/@core/ui-kit/popup-ui/src/modal/modal.vue
  packages/@core/ui-kit/shadcn-ui/src/components/ui/dialog/DialogOverlay.vue
  packages/@core/ui-kit/shadcn-ui/src/components/ui/sheet/SheetOverlay.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

chore: release v5.3.1
  apps/web-antd/package.json
  apps/web-ele/package.json
  apps/web-naive/package.json
  docs/package.json
  internal/lint-configs/commitlint-config/package.json
  internal/lint-configs/stylelint-config/package.json
  internal/node-utils/package.json
  internal/tailwind-config/package.json
  internal/tsconfig/package.json
  internal/vite-config/package.json
  package.json
  packages/@core/base/design/package.json
  packages/@core/base/icons/package.json
  packages/@core/base/shared/package.json
  packages/@core/base/typings/package.json
  packages/@core/composables/package.json
  packages/@core/preferences/package.json
  packages/@core/ui-kit/layout-ui/package.json
  packages/@core/ui-kit/menu-ui/package.json
  packages/@core/ui-kit/shadcn-ui/package.json
  packages/@core/ui-kit/tabs-ui/package.json
  packages/constants/package.json
  packages/effects/access/package.json
  packages/effects/common-ui/package.json
  packages/effects/hooks/package.json
  packages/effects/layouts/package.json
  packages/effects/plugins/package.json
  packages/effects/request/package.json
  packages/icons/package.json
  packages/locales/package.json
  packages/preferences/package.json
  packages/stores/package.json
  packages/styles/package.json
  packages/types/package.json
  packages/utils/package.json
  playground/package.json
  scripts/turbo-run/package.json
  scripts/vsh/package.json
Due: prettier --cache --write

chore: demo of customizing form layout using tailwind
  playground/src/views/examples/form/basic.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

chore: demo of customizing form layout using tailwind (#4549)
  playground/src/views/examples/form/basic.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

feat: 添加表单字段聚焦(autofocus)配置。
  packages/@core/ui-kit/form-ui/src/form-render/form-field.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

perf: default placeholder for input and select components
  apps/web-antd/src/adapter/form.ts
  packages/locales/src/langs/en-US.json
  packages/locales/src/langs/zh-CN.json
  playground/src/adapter/form.ts
  playground/src/views/examples/form/basic.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

chore: update ts type
  apps/web-antd/src/adapter/form.ts
  playground/src/adapter/form.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

chore: extract public methods
  apps/web-antd/src/adapter/form.ts
  playground/src/adapter/form.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

chore: update deps
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --cache --write

perf: [antd] default placeholder for input and select components (#4551)
  apps/web-antd/src/adapter/form.ts
  packages/locales/src/langs/en-US.json
  packages/locales/src/langs/zh-CN.json
  playground/src/adapter/form.ts
  playground/src/views/examples/form/basic.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

feat: add form field autofocus configuration (#4550)
  packages/@core/ui-kit/form-ui/src/form-render/form-field.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: fixed an error in the form onChange within Naive
  apps/web-antd/src/adapter/form.ts
  apps/web-ele/src/adapter/form.ts
  apps/web-naive/src/adapter/form.ts
  apps/web-naive/src/router/routes/modules/demos.ts
  packages/@core/ui-kit/form-ui/src/config.ts
  packages/@core/ui-kit/form-ui/src/form-render/form-field.vue
  packages/@core/ui-kit/form-ui/src/form-render/form.vue
  packages/@core/ui-kit/form-ui/src/types.ts
  packages/@core/ui-kit/form-ui/src/vben-form.vue
  packages/@core/ui-kit/form-ui/src/vben-use-form.vue
  playground/src/adapter/form.ts
  pnpm-lock.yaml
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

chore: update
  apps/web-antd/src/adapter/form.ts
  apps/web-ele/src/adapter/form.ts
  apps/web-naive/src/adapter/form.ts
  packages/@core/ui-kit/form-ui/src/config.ts
  packages/@core/ui-kit/form-ui/src/form-render/form.vue
  packages/@core/ui-kit/form-ui/src/vben-form.vue
  packages/@core/ui-kit/form-ui/src/vben-use-form.vue
  playground/src/adapter/form.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix
