Repository vbenjs/vue-vben-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": ["prettier --cache --ignore-unknown  --write", "eslint --cache --fix"],
  "{!(package)*.json,*.code-snippets,.!(browserslist)*rc}": [
    "prettier --cache --write--parser json"
  ],
  "package.json": ["prettier --cache --write"],
  "*.vue": ["prettier --write", "eslint --cache --fix", "stylelint --fix"],
  "*.{scss,less,styl,html}": ["prettier --cache --ignore-unknown --write", "stylelint --fix"],
  "*.md": ["prettier --cache --ignore-unknown --write"]
}

chore: 更新社区交流群信息，包括QQ频道和QQ群的新链接
  docs/src/commercial/community.md
Due: prettier --cache --ignore-unknown --write

chore: 使用css module解决样式冲突
  packages/effects/common-ui/src/ellipsis-text/ellipsis-text.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

chore: 更新社区交流群信息，包括QQ频道和QQ群的新链接 (#4068)
  docs/src/commercial/community.md
Due: prettier --cache --ignore-unknown --write

chore: 添加3群链接
  docs/src/commercial/community.md
Due: prettier --cache --ignore-unknown --write

chore: 添加3群链接 (#4069)
  docs/src/commercial/community.md
Due: prettier --cache --ignore-unknown --write

refactor: Use @ant-design/fast-color instead
  packages/@core/base/shared/package.json
  packages/@core/base/shared/src/colorful/convert.test.ts
  packages/@core/base/shared/src/colorful/convert.ts
  packages/@core/base/shared/src/colorful/generator.ts
  packages/effects/hooks/src/use-design-tokens.ts
  packages/effects/layouts/src/widgets/preferences/blocks/theme/builtin.vue
  pnpm-lock.yaml
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

fix: test failed
  packages/@core/base/shared/src/colorful/convert.test.ts
  packages/@core/base/shared/src/colorful/convert.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

chore: remove isValidColor
  packages/@core/base/shared/src/colorful/convert.test.ts
  packages/@core/base/shared/src/colorful/convert.ts
  packages/@core/ui-kit/shadcn-ui/src/components/menu-badge/menu-badge.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

refactor: rename directory `colorful` to `color`
  packages/@core/base/shared/build.config.ts
  packages/@core/base/shared/src/color/convert.test.ts
  packages/@core/base/shared/src/color/convert.ts
  packages/@core/base/shared/src/color/generator.ts
  packages/@core/base/shared/src/color/index.ts
  packages/@core/base/shared/src/index.ts
  packages/utils/src/index.ts
  pnpm-lock.yaml
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: ci fail
  packages/@core/base/shared/package.json
Due: prettier --cache --write

refactor: use @ant-design/fast-color instead (#4070)
  packages/@core/base/shared/build.config.ts
  packages/@core/base/shared/package.json
  packages/@core/base/shared/src/color/convert.test.ts
  packages/@core/base/shared/src/color/convert.ts
  packages/@core/base/shared/src/color/generator.ts
  packages/@core/base/shared/src/color/index.ts
  packages/@core/base/shared/src/colorful/convert.ts
  packages/@core/base/shared/src/index.ts
  packages/@core/ui-kit/shadcn-ui/src/components/menu-badge/menu-badge.vue
  packages/effects/hooks/src/use-design-tokens.ts
  packages/effects/layouts/src/widgets/preferences/blocks/theme/builtin.vue
  packages/utils/src/index.ts
  pnpm-lock.yaml
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

fix: fix the failure of breadcrumb animation
  .github/workflows/draft.yml
  .vscode/settings.json
  docs/src/guide/essentials/build.md
  internal/tsconfig/base.json
  packages/@core/base/design/src/css/ui.css
  packages/@core/base/design/src/index.ts
  packages/@core/ui-kit/shadcn-ui/src/index.ts
  scripts/vsh/src/check-dep/index.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: the failure of breadcrumb animation (#4073)
  .github/workflows/draft.yml
  .vscode/settings.json
  docs/src/guide/essentials/build.md
  internal/tsconfig/base.json
  packages/@core/base/design/src/css/ui.css
  packages/@core/base/design/src/index.ts
  packages/@core/ui-kit/shadcn-ui/src/index.ts
  scripts/vsh/src/check-dep/index.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

chore(deps): bump the non-breaking-changes group with 10 updates
  .github/workflows/draft.yml
  apps/web-antd/package.json
  apps/web-ele/package.json
  apps/web-naive/package.json
  docs/package.json
  internal/lint-configs/commitlint-config/package.json
  internal/lint-configs/eslint-config/package.json
  internal/lint-configs/stylelint-config/package.json
  internal/tailwind-config/package.json
  internal/vite-config/package.json
  package.json
  packages/@core/base/icons/package.json
  packages/@core/base/shared/package.json
  packages/@core/base/typings/package.json
  packages/@core/composables/package.json
  packages/@core/preferences/package.json
  packages/@core/ui-kit/layout-ui/package.json
  packages/@core/ui-kit/menu-ui/package.json
  packages/@core/ui-kit/shadcn-ui/package.json
  packages/@core/ui-kit/tabs-ui/package.json
  packages/effects/access/package.json
  packages/effects/chart-ui/package.json
  packages/effects/common-ui/package.json
  packages/effects/hooks/package.json
  packages/effects/layouts/package.json
  packages/locales/package.json
  packages/stores/package.json
  packages/types/package.json
  packages/utils/package.json
  pnpm-lock.yaml
Due: prettier --cache --write

chore(deps): bump the non-breaking-changes group with 10 updates (#4074)
  .github/workflows/draft.yml
  apps/web-antd/package.json
  apps/web-ele/package.json
  apps/web-naive/package.json
  docs/package.json
  internal/lint-configs/commitlint-config/package.json
  internal/lint-configs/eslint-config/package.json
  internal/lint-configs/stylelint-config/package.json
  internal/tailwind-config/package.json
  internal/vite-config/package.json
  package.json
  packages/@core/base/icons/package.json
  packages/@core/base/shared/package.json
  packages/@core/base/typings/package.json
  packages/@core/composables/package.json
  packages/@core/preferences/package.json
  packages/@core/ui-kit/layout-ui/package.json
  packages/@core/ui-kit/menu-ui/package.json
  packages/@core/ui-kit/shadcn-ui/package.json
  packages/@core/ui-kit/tabs-ui/package.json
  packages/effects/access/package.json
  packages/effects/chart-ui/package.json
  packages/effects/common-ui/package.json
  packages/effects/hooks/package.json
  packages/effects/layouts/package.json
  packages/locales/package.json
  packages/stores/package.json
  packages/types/package.json
  packages/utils/package.json
  pnpm-lock.yaml
Due: prettier --cache --write

docs: add Japanese README (#4028)
  README.ja-JP.md
  README.md
  README.zh-CN.md
Due: prettier --cache --ignore-unknown --write

chore: update readme logo size
  README.md
Due: prettier --cache --ignore-unknown --write

Update README.md
  README.md
Due: prettier --cache --ignore-unknown --write

Update README.zh-CN.md
  README.zh-CN.md
Due: prettier --cache --ignore-unknown --write

Update README.ja-JP.md
  README.ja-JP.md
Due: prettier --cache --ignore-unknown --write

chore: update readme logo size [skip ci] (#4075)
  README.ja-JP.md
  README.md
  README.zh-CN.md
Due: prettier --cache --ignore-unknown --write

chore: switch back to `@ctrl/tinycolor`
  packages/@core/base/shared/package.json
  packages/@core/base/shared/src/color/convert.ts
  packages/effects/layouts/src/widgets/preferences/blocks/theme/builtin.vue
  packages/effects/layouts/src/widgets/preferences/preferences-sheet.vue
  pnpm-lock.yaml
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

fix: ci
  packages/@core/base/shared/src/color/convert.test.ts
  packages/@core/base/shared/src/color/generator.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

chore: switch back to `@ctrl/tinycolor` (#4077)
  packages/@core/base/shared/package.json
  packages/@core/base/shared/src/color/convert.test.ts
  packages/@core/base/shared/src/color/convert.ts
  packages/@core/base/shared/src/color/generator.ts
  packages/effects/layouts/src/widgets/preferences/blocks/theme/builtin.vue
  packages/effects/layouts/src/widgets/preferences/preferences-sheet.vue
  pnpm-lock.yaml
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

chore: update props
  packages/effects/common-ui/src/ellipsis-text/ellipsis-text.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

chore: 优化css
  packages/effects/common-ui/src/ellipsis-text/ellipsis-text.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

chore: rm unuse attr
  packages/effects/common-ui/src/ellipsis-text/ellipsis-text.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

style: element-plus主题info适配
  packages/effects/hooks/src/use-design-tokens.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: Remove duplicate code
  packages/effects/layouts/src/authentication/authentication.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

feat: add debugger type
  .vscode/launch.json
Due: none

refactor(form): 使用空值合并运算符 (??) 和 isDef 优化宽度判断逻辑，处理 labelWidth 可能为 0 的情况
  src/components/Form/src/hooks/useLabelWidth.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

feat: page component
  apps/web-naive/src/views/demos/table/index.vue
  packages/effects/common-ui/src/index.ts
  packages/effects/common-ui/src/page/index.ts
  packages/effects/common-ui/src/page/page-footer.vue
  packages/effects/common-ui/src/page/page-header.vue
  packages/effects/common-ui/src/page/page.ts
  packages/effects/common-ui/src/page/page.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

refactor(form): 使用空值合并运算符 (??) 和 isDef 优化宽度判断逻辑，处理 labelWidth 可能为 0 的情况 (#4086)
  src/components/Form/src/hooks/useLabelWidth.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

feat: add debugger type (#4085)
  .vscode/launch.json
Due: none

chore: release v5.0.1
  apps/web-antd/package.json
  apps/web-ele/package.json
  apps/web-naive/package.json
  docs/package.json
  internal/lint-configs/commitlint-config/package.json
  internal/lint-configs/stylelint-config/package.json
  internal/node-utils/package.json
  internal/tailwind-config/package.json
  internal/tsconfig/package.json
  internal/vite-config/package.json
  package.json
  packages/@core/base/design/package.json
  packages/@core/base/icons/package.json
  packages/@core/base/shared/package.json
  packages/@core/base/typings/package.json
  packages/@core/composables/package.json
  packages/@core/preferences/package.json
  packages/@core/ui-kit/layout-ui/package.json
  packages/@core/ui-kit/menu-ui/package.json
  packages/@core/ui-kit/shadcn-ui/package.json
  packages/@core/ui-kit/tabs-ui/package.json
  packages/constants/package.json
  packages/effects/access/package.json
  packages/effects/chart-ui/package.json
  packages/effects/common-ui/package.json
  packages/effects/hooks/package.json
  packages/effects/layouts/package.json
  packages/effects/request/package.json
  packages/icons/package.json
  packages/locales/package.json
  packages/preferences/package.json
  packages/stores/package.json
  packages/styles/package.json
  packages/types/package.json
  packages/utils/package.json
  scripts/turbo-run/package.json
  scripts/vsh/package.json
Due: prettier --cache --write

fix: menu-badge color not correct
  packages/@core/base/shared/src/color/convert.test.ts
  packages/@core/base/shared/src/color/convert.ts
  packages/@core/ui-kit/shadcn-ui/src/components/menu-badge/menu-badge.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: menu-badge color not correct (#4089)
  packages/@core/base/shared/src/color/convert.test.ts
  packages/@core/base/shared/src/color/convert.ts
  packages/@core/ui-kit/shadcn-ui/src/components/menu-badge/menu-badge.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix
