Repository vbenjs/vue-vben-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": ["prettier --cache --ignore-unknown  --write", "eslint --cache --fix"],
  "{!(package)*.json,*.code-snippets,.!(browserslist)*rc}": [
    "prettier --cache --write--parser json"
  ],
  "package.json": ["prettier --cache --write"],
  "*.vue": ["prettier --write", "eslint --cache --fix", "stylelint --fix"],
  "*.{scss,less,styl,html}": ["prettier --cache --ignore-unknown --write", "stylelint --fix"],
  "*.md": ["prettier --cache --ignore-unknown --write"]
}

feat: add captcha internationalization
  packages/effects/common-ui/src/components/captcha/captcha-card.vue
  packages/effects/common-ui/src/components/captcha/point-selection-captcha.vue
  packages/locales/src/langs/en-US.json
  packages/locales/src/langs/zh-CN.json
  playground/src/locales/langs/en-US.json
  playground/src/locales/langs/zh-CN.json
  playground/src/views/examples/captcha/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

chore: bump vue-i18n from 9.14.0 to 10.0.1
  internal/vite-config/package.json
  packages/locales/package.json
  playground/src/router/routes/modules/demos.ts
  pnpm-lock.yaml
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write

chore: bump vue-i18n from 9.14.0 to 10.0.1 (#4393)
  internal/vite-config/package.json
  packages/locales/package.json
  playground/src/router/routes/modules/demos.ts
  pnpm-lock.yaml
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write

chore: 适配时间戳国际化展示
  playground/src/views/examples/captcha/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

refactor: refactor code structure and improve demo page (#4389)
  packages/effects/common-ui/src/components/captcha/captcha-card.vue
  packages/effects/common-ui/src/components/captcha/index.ts
  packages/effects/common-ui/src/components/captcha/point-selection-captcha.vue
  packages/effects/common-ui/src/components/captcha/types.ts
  packages/effects/common-ui/src/components/captcha/utils.ts
  packages/locales/src/langs/en-US.json
  packages/locales/src/langs/zh-CN.json
  playground/src/locales/langs/en-US.json
  playground/src/locales/langs/zh-CN.json
  playground/src/views/examples/captcha/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

chore: 封装action组件
  packages/effects/common-ui/src/components/verify/drag-verify/action.vue
  packages/effects/common-ui/src/components/verify/drag-verify/bar.vue
  packages/effects/common-ui/src/components/verify/drag-verify/content.vue
  packages/effects/common-ui/src/components/verify/drag-verify/index.vue
  pnpm-lock.yaml
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: 1. 添加点击位置边界校验，防止点击外部导致x,y误差。2. 演示页面宽度过长添加滚动条。3. 添加hooks
  packages/effects/common-ui/src/components/captcha/hooks/useCaptchaPoints.ts
  packages/effects/common-ui/src/components/captcha/point-selection-captcha.vue
  playground/src/views/examples/captcha/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

chore: 拆分完成拖拽功能
  packages/effects/common-ui/src/components/verify/drag-verify/action.vue
  packages/effects/common-ui/src/components/verify/drag-verify/bar.vue
  packages/effects/common-ui/src/components/verify/drag-verify/content.vue
  packages/effects/common-ui/src/components/verify/drag-verify/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

google adsense
  .env
  .env.production
  src/api/adsense/adsense.ts
  src/assets/icons/ad-menu.svg
  src/router/routes/modules/adSense.ts
  src/views/adsense/components/config/listConfig.js
  src/views/adsense/components/headerFilter.vue
  src/views/adsense/components/leftMenu.vue
  src/views/adsense/components/rightContent.vue
  src/views/adsense/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

google adsense
  src/api/adsense/adsense.ts
  src/views/adsense/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

google adsense
  src/views/adsense/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

chore: 样式调整为tailwindcss语法
  packages/effects/common-ui/src/components/verify/drag-verify/action.vue
  packages/effects/common-ui/src/components/verify/drag-verify/bar.vue
  packages/effects/common-ui/src/components/verify/drag-verify/content.vue
  packages/effects/common-ui/src/components/verify/drag-verify/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

chore: 导出check图标
  packages/@core/base/icons/src/lucide.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

chore: 拖动的图标变为@vben/icons的
  packages/effects/common-ui/src/components/verify/drag-verify/action.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

google adsense
  src/views/adsense/components/rightContent.vue
  src/views/adsense/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

chore: fix ci
  packages/@core/ui-kit/popup-ui/src/modal/__tests__/modal-api.test.ts
  packages/utils/src/helpers/__tests__/generate-menus.test.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

chore: fix ci (#4404)
  packages/@core/ui-kit/popup-ui/src/modal/__tests__/modal-api.test.ts
  packages/utils/src/helpers/__tests__/generate-menus.test.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

chore: 完成插槽功能迁移
  packages/effects/common-ui/src/components/verify/drag-verify/action.vue
  packages/effects/common-ui/src/components/verify/drag-verify/content.vue
  packages/effects/common-ui/src/components/verify/drag-verify/index.vue
  playground/src/views/examples/verify/drag-verify/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: ci error
  packages/effects/common-ui/src/components/verify/drag-verify/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

chore: 适配暗黑主题
  packages/effects/common-ui/src/components/verify/drag-verify/action.vue
  packages/effects/common-ui/src/components/verify/drag-verify/content.vue
  packages/effects/common-ui/src/components/verify/drag-verify/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

chore: 国际化
  playground/src/locales/langs/en-US.json
  playground/src/locales/langs/zh-CN.json
  playground/src/router/routes/modules/examples.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: Improve the problem of inaccurate captcha accuracy (#4401)
  packages/effects/common-ui/src/components/captcha/hooks/useCaptchaPoints.ts
  packages/effects/common-ui/src/components/captcha/point-selection-captcha.vue
  playground/src/views/examples/captcha/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: the brand color setting does not take effect
  packages/@core/base/shared/src/color/generator.ts
  packages/@core/base/shared/src/utils/__tests__/window.test.ts
  packages/@core/preferences/src/update-css-variables.ts
  packages/@core/ui-kit/popup-ui/src/modal/__tests__/modal-api.test.ts
  packages/@core/ui-kit/shadcn-ui/src/components/ui/dialog/DialogContent.vue
  packages/@core/ui-kit/shadcn-ui/src/components/ui/dialog/DialogOverlay.vue
  packages/@core/ui-kit/shadcn-ui/src/components/ui/sheet/SheetContent.vue
  packages/@core/ui-kit/shadcn-ui/src/components/ui/sheet/SheetOverlay.vue
  packages/stores/src/modules/lock.test.ts
  packages/stores/src/modules/tabbar.test.ts
  packages/stores/src/modules/user.test.ts
  packages/utils/src/helpers/__tests__/generate-menus.test.ts
  playground/src/preferences.ts
  playground/src/views/demos/features/login-expired/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: the brand color setting does not take effect (#4405)
  packages/@core/base/shared/src/color/generator.ts
  packages/@core/base/shared/src/utils/__tests__/window.test.ts
  packages/@core/preferences/src/update-css-variables.ts
  packages/@core/ui-kit/popup-ui/src/modal/__tests__/modal-api.test.ts
  packages/@core/ui-kit/shadcn-ui/src/components/ui/dialog/DialogContent.vue
  packages/@core/ui-kit/shadcn-ui/src/components/ui/dialog/DialogOverlay.vue
  packages/@core/ui-kit/shadcn-ui/src/components/ui/sheet/SheetContent.vue
  packages/@core/ui-kit/shadcn-ui/src/components/ui/sheet/SheetOverlay.vue
  packages/stores/src/modules/lock.test.ts
  packages/stores/src/modules/tabbar.test.ts
  packages/stores/src/modules/user.test.ts
  packages/utils/src/helpers/__tests__/generate-menus.test.ts
  playground/src/preferences.ts
  playground/src/views/demos/features/login-expired/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: when the form is opened repeatedly, the state is unexpectedly destroyed
  packages/@core/ui-kit/form-ui/src/form-api.ts
  playground/src/views/examples/modal/form-model-demo.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: when the form is opened repeatedly, the state is unexpectedly destroyed (#4406)
  packages/@core/ui-kit/form-ui/src/form-api.ts
  playground/src/views/examples/modal/form-model-demo.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

perf: display border status color when the form is verified incorrectly
  .dockerignore
  .vscode/settings.json
  docs/src/guide/introduction/thin.md
  packages/@core/ui-kit/form-ui/src/form-render/form-field.vue
  packages/styles/src/antd/index.css
  scripts/deploy/Dockerfile
  scripts/deploy/build-local-docker-image.sh
  scripts/deploy/nginx.conf
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

chore: adjust the document preview file order
  docs/.vitepress/config/plugins/demo-preview.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

perf: display border status color when the form is verified incorrectly (#4407)
  .dockerignore
  .vscode/settings.json
  docs/.vitepress/config/plugins/demo-preview.ts
  docs/src/guide/introduction/thin.md
  packages/@core/ui-kit/form-ui/src/form-render/form-field.vue
  packages/styles/src/antd/index.css
  scripts/deploy/Dockerfile
  scripts/deploy/build-local-docker-image.sh
  scripts/deploy/nginx.conf
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: hover border style same as antd style when validate error
  packages/@core/ui-kit/form-ui/src/form-render/form-field.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: 修复table setting 上下不居中
  src/components/Table/src/components/settings/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: 修复table setting 上下不居中 (#4410)
  src/components/Table/src/components/settings/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

update
  src/views/adsense/components/config/listConfig.js
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix list config
  src/views/adsense/components/config/listConfig.js
  src/views/adsense/components/leftMenu.vue
  src/views/adsense/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

add filter
  src/views/adsense/components/config/listConfig.js
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix
  .github/workflows/issue-close-require.yml
  .github/workflows/issue-labeled.yml
  .github/workflows/linter.yml
  .github/workflows/release-tag.yml
  .github/workflows/stale.yml
Due: none

add npm build
  .github/workflows/deploy.yml
Due: none

add install pnpm
  .github/workflows/deploy.yml
Due: none

add
  .github/workflows/deploy.yml
Due: none
