Repository vbenjs/vue-vben-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

Revert "chore(deps): update ant-design-vue version to 4.1.0. resolve #3495"
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

chore(deps): lock the version of Vue to 3.3.4
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

chore(hooks): lock vue version to 3.3.4
  packages/hooks/package.json
  pnpm-lock.yaml
Due: prettier --cache --write

fix: contextmenu location not right when body with scroll
  src/components/ContextMenu/src/createContextMenu.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: contextmenu location not right when body with scroll (#3516)
  src/components/ContextMenu/src/createContextMenu.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: vite:html warning
  internal/vite-config/src/plugins/html.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix(layout): 修复切换导航栏模式,分割菜单的状态不同步,导致页面内容区域存在被遮挡的问题
  src/layouts/default/setting/handler.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix(config): vite:html warning (#3518)
  internal/vite-config/src/plugins/html.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: menu->about icon is missing
  src/router/routes/modules/about.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

chore(menu): about icon is missing (#3522)
  src/router/routes/modules/about.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: content fixed mode
  src/layouts/default/content/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

change salesProductPie.vue's data name to '成交占比'.
  src/views/dashboard/analysis/components/SalesProductPie.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix(layout): 修复切换导航栏模式,分割菜单的状态不同步,导致页面内容区域存在被遮挡的问题 (#3519)
  src/layouts/default/setting/handler.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: content fixed mode with blank page (#3523)
  src/layouts/default/content/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: change salesProductPie.vue's data name to '成交占比'. (#3524)
  src/views/dashboard/analysis/components/SalesProductPie.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: (page>form>high) expose getDataSource close #3529
  src/views/demo/page/form/high/PersonTable.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

feat: read env in vite.config.ts
  vite.config.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

feat: table enable accordion expand
  src/components/Table/src/BasicTable.vue
  src/components/Table/src/hooks/useTableExpand.ts
  src/components/Table/src/types/table.ts
  src/views/demo/table/ExpandTable.vue
  src/views/demo/table/TreeTable.vue
  src/views/demo/table/tableData.tsx
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix(ApiCascader): wrong api reload
  src/components/Form/src/components/ApiCascader.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix(ApiCascader): wrong api reload (#3536) resolve #3534
  src/components/Form/src/components/ApiCascader.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

feat(BasicTable): table enable accordion expand (#3533). resolve #3525
  src/components/Table/src/BasicTable.vue
  src/components/Table/src/hooks/useTableExpand.ts
  src/components/Table/src/types/table.ts
  src/views/demo/table/ExpandTable.vue
  src/views/demo/table/TreeTable.vue
  src/views/demo/table/tableData.tsx
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix(Table): selection wrong by click input when cross pages
  src/components/Table/src/hooks/useRowSelection.ts
  src/components/Table/src/types/table.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix(BasicTable): selection wrong by click input when cross pages (#3540). resolve #3539
  src/components/Table/src/hooks/useRowSelection.ts
  src/components/Table/src/types/table.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix(rowKey&scroll): declear and usage about rowKey and scroll
  src/components/Table/src/components/TableFooter.vue
  src/components/Table/src/components/editable/EditableCell.vue
  src/components/Table/src/helper.ts
  src/components/Table/src/hooks/useCustomRow.ts
  src/components/Table/src/hooks/useDataSource.ts
  src/components/Table/src/hooks/useRowSelection.ts
  src/components/Table/src/hooks/useTable.ts
  src/components/Table/src/hooks/useTableExpand.ts
  src/components/Table/src/hooks/useTableFooter.ts
  src/components/Table/src/hooks/useTableScroll.ts
  src/components/Table/src/props.ts
  src/components/Table/src/types/table.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: key/keyValue type declare fix
  src/components/Table/src/hooks/useDataSource.ts
  src/components/Table/src/hooks/useRowSelection.ts
  src/components/Table/src/hooks/useTable.ts
  src/components/Table/src/hooks/useTableExpand.ts
  src/components/Table/src/props.ts
  src/components/Table/src/types/table.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix(BasicTable->rowKey&scroll): declear and usage about rowKey and scroll (#3541)
  src/components/Table/src/components/TableFooter.vue
  src/components/Table/src/components/editable/EditableCell.vue
  src/components/Table/src/helper.ts
  src/components/Table/src/hooks/useCustomRow.ts
  src/components/Table/src/hooks/useDataSource.ts
  src/components/Table/src/hooks/useRowSelection.ts
  src/components/Table/src/hooks/useTable.ts
  src/components/Table/src/hooks/useTableExpand.ts
  src/components/Table/src/hooks/useTableFooter.ts
  src/components/Table/src/hooks/useTableScroll.ts
  src/components/Table/src/props.ts
  src/components/Table/src/types/table.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix(Table): getSelectRows return duplicate records
  src/components/Table/src/hooks/useRowSelection.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

Path conditions:
  prettier --cache --ignore-unknown --write: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.{scss,less,styl,html})) or (any of: *.md)
  eslint --cache --fix: (any of: *.{js,jsx,ts,tsx}) or (any of: *.vue)
  prettier --cache --write: any of: package.json
  prettier --write: any of: *.vue
  stylelint --fix: (any of: *.vue) or (any of: *.{scss,less,styl,html})
