Repository vbenjs/vue-vben-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

chore: update
  playground/src/views/demos/features/vue-query/infinite-queries.vue
  playground/src/views/demos/features/vue-query/paginated-queries.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: ci error
  playground/package.json
  playground/src/views/demos/features/vue-query/paginated-queries.vue
Due: eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

chore: update
  playground/src/views/demos/features/vue-query/infinite-queries.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: external link jump
  packages/effects/layouts/src/widgets/global-search/search-panel.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

chore: update
  packages/effects/layouts/src/widgets/lock-screen/lock-screen.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

chore: update deps
  apps/web-antd/package.json
  apps/web-ele/package.json
  apps/web-naive/package.json
  docs/package.json
  internal/lint-configs/eslint-config/package.json
  internal/lint-configs/stylelint-config/package.json
  internal/node-utils/package.json
  internal/tailwind-config/package.json
  internal/vite-config/package.json
  package.json
  packages/@core/base/icons/package.json
  packages/@core/base/shared/package.json
  packages/@core/base/typings/package.json
  packages/@core/composables/package.json
  packages/@core/preferences/package.json
  packages/@core/ui-kit/layout-ui/package.json
  packages/@core/ui-kit/menu-ui/package.json
  packages/@core/ui-kit/popup-ui/package.json
  packages/@core/ui-kit/shadcn-ui/package.json
  packages/@core/ui-kit/tabs-ui/package.json
  packages/effects/access/package.json
  packages/effects/common-ui/package.json
  packages/effects/hooks/package.json
  packages/effects/layouts/package.json
  packages/effects/layouts/src/widgets/preferences/preferences-drawer.vue
  packages/effects/plugins/package.json
  packages/locales/package.json
  packages/stores/package.json
  packages/types/package.json
  playground/package.json
  pnpm-lock.yaml
Due: eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

fix: external link jump
  packages/effects/layouts/package.json
  packages/effects/layouts/src/widgets/global-search/search-panel.vue
Due: eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

chore: release v5.2.2
  apps/web-antd/package.json
  apps/web-ele/package.json
  apps/web-naive/package.json
  docs/package.json
  internal/lint-configs/commitlint-config/package.json
  internal/lint-configs/stylelint-config/package.json
  internal/node-utils/package.json
  internal/tailwind-config/package.json
  internal/tsconfig/package.json
  internal/vite-config/package.json
  package.json
  packages/@core/base/design/package.json
  packages/@core/base/icons/package.json
  packages/@core/base/shared/package.json
  packages/@core/base/typings/package.json
  packages/@core/composables/package.json
  packages/@core/preferences/package.json
  packages/@core/ui-kit/layout-ui/package.json
  packages/@core/ui-kit/menu-ui/package.json
  packages/@core/ui-kit/shadcn-ui/package.json
  packages/@core/ui-kit/tabs-ui/package.json
  packages/constants/package.json
  packages/effects/access/package.json
  packages/effects/common-ui/package.json
  packages/effects/hooks/package.json
  packages/effects/layouts/package.json
  packages/effects/plugins/package.json
  packages/effects/request/package.json
  packages/icons/package.json
  packages/locales/package.json
  packages/preferences/package.json
  packages/stores/package.json
  packages/styles/package.json
  packages/types/package.json
  packages/utils/package.json
  playground/package.json
  scripts/turbo-run/package.json
  scripts/vsh/package.json
Due: prettier --cache --write

chore: remove axios-retry
  packages/effects/request/package.json
  pnpm-lock.yaml
Due: prettier --cache --write

chore: update deps
  pnpm-lock.yaml
Due: none

Update community.md
  docs/src/commercial/community.md
Due: prettier --cache --ignore-unknown --write

DataTable Vue component with Editor and CSV export
  .npmrc
  apps/backend-mock/api/data_table/list.ts
  apps/backend-mock/api/data_table/update.ts
  apps/backend-mock/utils/mock-data.ts
  apps/web-antd/src/assets/buttons.dataTables.css
  apps/web-antd/src/router/routes/modules/dashboard.ts
  apps/web-antd/src/views/test/index.vue
  download/Editor-2.3.2.zip
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

chore: add old qq group
  docs/src/commercial/community.md
Due: prettier --cache --ignore-unknown --write

chore: add qq group [skip ci] #4 (#4321)
  docs/src/commercial/community.md
Due: prettier --cache --ignore-unknown --write

fix: improve the lock-screen password validation logic (#4324)
  packages/effects/layouts/src/widgets/lock-screen/lock-screen.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: external link jump (#4319)
  packages/effects/layouts/package.json
  packages/effects/layouts/src/widgets/global-search/search-panel.vue
  pnpm-lock.yaml
Due: eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

feat: captcha example
  packages/effects/common-ui/src/components/captcha/index.ts
  packages/effects/common-ui/src/components/captcha/point-selection-captcha.vue
  packages/effects/common-ui/src/components/index.ts
  packages/icons/src/svg/icons/refresh.svg
  packages/icons/src/svg/index.ts
  playground/src/locales/langs/en-US.json
  playground/src/locales/langs/zh-CN.json
  playground/src/router/routes/modules/examples.ts
  playground/src/views/examples/captcha/base64.ts
  playground/src/views/examples/captcha/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: fix lint errors
  packages/effects/layouts/src/widgets/global-search/search-panel.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

chore: event handling and methods
  packages/effects/common-ui/src/components/captcha/point-selection-captcha.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

chore: add accessibility features ARIA labels and roles
  packages/effects/common-ui/src/components/captcha/point-selection-captcha.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: resolve lint fail
  packages/effects/layouts/src/widgets/global-search/search-panel.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: resolve lint fail (#4335)
  packages/effects/layouts/src/widgets/global-search/search-panel.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

feat: captcha example (#4330)
  packages/effects/common-ui/src/components/captcha/index.ts
  packages/effects/common-ui/src/components/captcha/point-selection-captcha.vue
  packages/effects/common-ui/src/components/index.ts
  packages/icons/src/svg/icons/refresh.svg
  packages/icons/src/svg/index.ts
  playground/src/locales/langs/en-US.json
  playground/src/locales/langs/zh-CN.json
  playground/src/router/routes/modules/examples.ts
  playground/src/views/examples/captcha/base64.ts
  playground/src/views/examples/captcha/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: build error
  packages/@core/ui-kit/menu-ui/src/components/menu.vue
  packages/@core/ui-kit/shadcn-ui/src/components/full-screen/full-screen.vue
  packages/@core/ui-kit/shadcn-ui/src/components/index.ts
  packages/@core/ui-kit/shadcn-ui/src/components/input/index.ts
  packages/@core/ui-kit/shadcn-ui/src/components/input/input.vue
  packages/@core/ui-kit/shadcn-ui/src/components/input/types.ts
  packages/@core/ui-kit/shadcn-ui/src/components/ui/input/Input.vue
  packages/effects/layouts/src/basic/header/header.vue
  packages/effects/layouts/src/widgets/language-toggle.vue
  packages/effects/layouts/src/widgets/notification/notification.vue
  packages/effects/layouts/src/widgets/preferences/preferences-button.vue
  packages/effects/layouts/src/widgets/theme-toggle/theme-button.vue
  pnpm-lock.yaml
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: module is not listed in package. json dependencies
  packages/effects/common-ui/src/components/captcha/point-selection-captcha.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: module is not listed in package. json dependencies (#4338)
  packages/effects/common-ui/src/components/captcha/point-selection-captcha.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

chore: update pnpm.lock
  pnpm-lock.yaml
Due: none

feat: add form adapter
  packages/@core/base/icons/src/lucide.ts
  packages/@core/ui-kit/form-ui/src/config.ts
  packages/@core/ui-kit/form-ui/src/constants.ts
  packages/@core/ui-kit/form-ui/src/form-api.ts
  packages/@core/ui-kit/form-ui/src/index.ts
  packages/@core/ui-kit/form-ui/src/types.ts
  packages/@core/ui-kit/form-ui/src/use-vben-form.ts
  packages/@core/ui-kit/form-ui/src/vben-form.vue
  packages/@core/ui-kit/form-ui/src/vben-use-form.vue
  packages/effects/common-ui/src/components/captcha/point-selection-captcha.vue
  packages/effects/common-ui/src/components/index.ts
  packages/effects/common-ui/src/ui/authentication/code-login.vue
  packages/effects/common-ui/src/ui/authentication/forget-password.vue
  packages/effects/common-ui/src/ui/authentication/login.vue
  packages/effects/common-ui/src/ui/authentication/register.vue
  packages/effects/layouts/src/widgets/lock-screen/lock-screen-modal.vue
  packages/effects/layouts/src/widgets/lock-screen/lock-screen.vue
  packages/types/src/user.ts
  playground/src/adapter.ts
  playground/src/locales/langs/en-US.json
  playground/src/locales/langs/zh-CN.json
  playground/src/router/routes/modules/examples.ts
  playground/src/views/examples/form/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

feat: tanstack query demos (#4276)
  playground/package.json
  playground/src/bootstrap.ts
  playground/src/router/routes/modules/demos.ts
  playground/src/views/demos/features/vue-query/index.vue
  playground/src/views/demos/features/vue-query/infinite-queries.vue
  playground/src/views/demos/features/vue-query/paginated-queries.vue
  playground/src/views/demos/features/vue-query/query-retries.vue
  playground/src/views/demos/features/vue-query/typing.ts
  pnpm-lock.yaml
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

feat: add some component
  internal/lint-configs/eslint-config/src/configs/unicorn.ts
  packages/@core/ui-kit/form-ui/src/components/form-actions.vue
  packages/@core/ui-kit/form-ui/src/config.ts
  packages/@core/ui-kit/form-ui/src/form-api.ts
  packages/@core/ui-kit/form-ui/src/form-render/form-field.vue
  packages/@core/ui-kit/form-ui/src/form-render/helper.ts
  packages/@core/ui-kit/form-ui/src/types.ts
  packages/@core/ui-kit/form-ui/src/use-form-context.ts
  packages/@core/ui-kit/popup-ui/src/drawer/drawer-api.ts
  packages/@core/ui-kit/popup-ui/src/modal/modal-api.ts
  packages/@core/ui-kit/shadcn-ui/src/components/ui/form/FormLabel.vue
  playground/src/adapter.ts
  playground/src/views/examples/form/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

feat: add some component
  playground/src/adapter.ts
  playground/src/views/examples/form/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

feat: add example
  apps/web-antd/src/views/_core/authentication/login.vue
  apps/web-ele/src/views/_core/authentication/login.vue
  apps/web-naive/src/views/_core/authentication/login.vue
  packages/@core/base/shared/src/utils/__tests__/state-handler.test.ts
  packages/@core/base/shared/src/utils/__tests__/util.test.ts
  packages/@core/base/shared/src/utils/index.ts
  packages/@core/base/shared/src/utils/state-handler.ts
  packages/@core/base/shared/src/utils/util.ts
  packages/@core/ui-kit/form-ui/src/components/form-actions.vue
  packages/@core/ui-kit/form-ui/src/config.ts
  packages/@core/ui-kit/form-ui/src/form-api.ts
  packages/@core/ui-kit/form-ui/src/form-render/expandable.ts
  packages/@core/ui-kit/form-ui/src/form-render/form-field.vue
  packages/@core/ui-kit/form-ui/src/form-render/form.vue
  packages/@core/ui-kit/form-ui/src/types.ts
  packages/@core/ui-kit/form-ui/src/use-form-context.ts
  packages/@core/ui-kit/form-ui/src/use-vben-form.ts
  packages/@core/ui-kit/form-ui/src/vben-form.vue
  packages/@core/ui-kit/form-ui/src/vben-use-form.vue
  packages/@core/ui-kit/popup-ui/src/drawer/drawer-api.ts
  packages/@core/ui-kit/popup-ui/src/modal/modal-api.ts
  packages/effects/common-ui/src/ui/authentication/code-login.vue
  packages/effects/common-ui/src/ui/authentication/forget-password.vue
  packages/effects/common-ui/src/ui/authentication/login.vue
  packages/effects/common-ui/src/ui/authentication/register.vue
  packages/effects/layouts/src/widgets/lock-screen/lock-screen-modal.vue
  packages/effects/layouts/src/widgets/lock-screen/lock-screen.vue
  packages/effects/request/src/request-client/request-client.ts
  packages/locales/src/langs/en-US.json
  packages/locales/src/langs/zh-CN.json
  playground/src/adapter.ts
  playground/src/locales/langs/en-US.json
  playground/src/locales/langs/zh-CN.json
  playground/src/router/routes/modules/examples.ts
  playground/src/views/_core/authentication/login.vue
  playground/src/views/examples/form/basic.vue
  playground/src/views/examples/form/query.vue
  playground/src/views/examples/form/rules.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

feat: suppoer custom action button
  apps/web-naive/src/adapter.ts
  apps/web-naive/src/views/demos/naive/index.vue
  packages/@core/ui-kit/form-ui/src/components/form-actions.vue
  packages/@core/ui-kit/form-ui/src/config.ts
  packages/@core/ui-kit/form-ui/src/form-api.ts
  packages/@core/ui-kit/form-ui/src/types.ts
  playground/src/adapter.ts
  playground/src/views/examples/form/query.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

chore: update
  apps/web-naive/src/adapter.ts
  packages/@core/ui-kit/form-ui/src/form-api.ts
  playground/src/adapter.ts
  playground/src/views/examples/form/basic.vue
  playground/src/views/examples/form/rules.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

Path conditions:
  prettier --cache --ignore-unknown --write: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.{scss,less,styl,html})) or (any of: *.md)
  eslint --cache --fix: (any of: *.{js,jsx,ts,tsx}) or (any of: *.vue)
  prettier --cache --write: any of: package.json
  prettier --write: any of: *.vue
  stylelint --fix: (any of: *.vue) or (any of: *.{scss,less,styl,html})
