Repository vbenjs/vue-vben-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

perf: Improve the global loading display
  apps/antd-view/src/main.ts
  apps/antd-view/vite.config.mts
  internal/node-utils/src/index.ts
  internal/vite-config/src/config/application.ts
  internal/vite-config/src/config/index.ts
  internal/vite-config/src/config/library.ts
  internal/vite-config/src/plugins/extra-app-config.ts
  internal/vite-config/src/plugins/index.ts
  internal/vite-config/src/plugins/inject-app-loading/index.ts
  internal/vite-config/src/plugins/inject-app-loading/loading-antd.html
  internal/vite-config/src/plugins/inject-app-loading/loading.html
  internal/vite-config/src/typing.ts
  packages/@vben-core/forward/preferences/src/preferences.ts
  packages/@vben-core/shared/chche/src/storage-manager.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, stylelint --fix

perf(demo->screenshot): optimize the screenshot code && add print and download (#3885)
  src/views/demo/feat/screenshot/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix(dataSource): BasicTable Component with dataSource is not working (hot fix)
  src/components/Table/src/hooks/useDataSource.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: destroy方法命名修正
  src/components/Loading/src/createLoading.ts
  src/components/Loading/src/useLoading.ts
  src/directives/loading.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix(dataSource): BasicTable Component with dataSource is not working (hot fix) (#3888)
  src/components/Table/src/hooks/useDataSource.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

chore: typo destroy word
  src/components/Loading/src/createLoading.ts
  src/components/Loading/src/useLoading.ts
  src/directives/loading.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

perf: 未登录重定向路径存储改为完整路径
  src/router/guard/permissionGuard.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

perf: 未登录重定向路径存储改为完整路径 (#3897)
  src/router/guard/permissionGuard.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

chore: upload component defaulttype should be array
  src/components/Form/src/BasicForm.vue
  src/components/Form/src/helper.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

chore: upload component setFieldsValue should be array
  src/components/Form/src/hooks/useFormEvents.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

chore(upload): split event between change and update:value
  src/components/Upload/src/BasicUpload.vue
  src/components/Upload/src/components/ImageUpload.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

update
  src/components/Upload/src/components/ImageUpload.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

update
  src/components/Form/src/BasicForm.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix(BasicForm->Upload): setValue and defaultValue uncertain && rule about first render (#3900)
  src/components/Form/src/BasicForm.vue
  src/components/Form/src/helper.ts
  src/components/Form/src/hooks/useFormEvents.ts
  src/components/Upload/src/BasicUpload.vue
  src/components/Upload/src/components/ImageUpload.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: axios retry losing headers
  src/utils/http/axios/axiosRetry.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: axios retry losing headers (#3902)
  src/utils/http/axios/axiosRetry.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

feat: 回退页面完善
  apps/web-antd/src/router/guard.ts
  apps/web-antd/src/router/index.ts
  apps/web-antd/src/router/routes/_essentials.ts
  apps/web-antd/src/router/routes/dynamic/outside.ts
  apps/web-antd/src/router/routes/external/.gitkeep
  apps/web-antd/src/router/routes/index.ts
  apps/web-antd/src/router/routes/modules/fallback.ts
  apps/web-antd/src/router/routes/modules/home.ts
  apps/web-antd/src/router/routes/modules/nested.ts
  apps/web-antd/src/router/routes/modules/outside.ts
  apps/web-antd/src/router/routes/modules/vben.ts
  apps/web-antd/src/router/routes/static/.gitkeep
  apps/web-antd/src/views/_essential/fallback/forbidden.vue
  apps/web-antd/src/views/_essential/fallback/internal-error.vue
  apps/web-antd/src/views/_essential/fallback/not-found.vue
  apps/web-antd/src/views/_essential/vben/about/index.vue
  internal/vite-config/src/plugins/inject-app-loading/loading-antd.html
  internal/vite-config/src/plugins/inject-app-loading/loading.html
  packages/@vben-core/forward/helpers/src/generator-menus.ts
  packages/@vben-core/shared/typings/src/vue-router.d.ts
  packages/business/common-ui/src/fallback/fallback.ts
  packages/business/common-ui/src/fallback/fallback.vue
  packages/business/common-ui/src/fallback/icons/icon-403.vue
  packages/business/common-ui/src/fallback/icons/icon-404.vue
  packages/business/common-ui/src/fallback/icons/icon-500.vue
  packages/business/common-ui/src/fallback/index.ts
  packages/business/layouts/src/basic/content/content.vue
  packages/constants/src/_essentials.ts
  packages/constants/src/vben.ts
  packages/locales/src/langs/en-US.yaml
  packages/locales/src/langs/zh-CN.yaml
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: iframe spinner
  apps/web-antd/src/main.ts
  packages/@core/uikit/shadcn-ui/src/components/index.ts
  packages/@core/uikit/shadcn-ui/src/components/spinner/index.ts
  packages/@core/uikit/shadcn-ui/src/components/spinner/spinner.vue
  packages/business/layouts/src/iframe/iframe-router-view.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: border css
  internal/lint-configs/eslint-config/src/custom-config.ts
  packages/@core/uikit/shadcn-ui/src/components/ui/alert-dialog/AlertDialogContent.vue
  packages/@core/uikit/shadcn-ui/src/components/ui/badge/badge.ts
  packages/@core/uikit/shadcn-ui/src/components/ui/context-menu/ContextMenuContent.vue
  packages/@core/uikit/shadcn-ui/src/components/ui/context-menu/ContextMenuSubContent.vue
  packages/@core/uikit/shadcn-ui/src/components/ui/dialog/DialogContent.vue
  packages/@core/uikit/shadcn-ui/src/components/ui/dialog/DialogScrollContent.vue
  packages/@core/uikit/shadcn-ui/src/components/ui/dropdown-menu/DropdownMenuContent.vue
  packages/@core/uikit/shadcn-ui/src/components/ui/dropdown-menu/DropdownMenuSubContent.vue
  packages/@core/uikit/shadcn-ui/src/components/ui/hover-card/HoverCardContent.vue
  packages/@core/uikit/shadcn-ui/src/components/ui/popover/PopoverContent.vue
  packages/@core/uikit/shadcn-ui/src/components/ui/select/SelectContent.vue
  packages/@core/uikit/shadcn-ui/src/components/ui/sheet/sheet.ts
  packages/@core/uikit/shadcn-ui/src/components/ui/tooltip/TooltipContent.vue
  packages/@core/uikit/tabs-ui/src/components/tabs-more.vue
  packages/@core/uikit/tabs-ui/src/components/tabs-screen.vue
  packages/business/common-ui/src/global-search/global-search.vue
  packages/business/common-ui/src/index.ts
  packages/locales/src/langs/en-US.yaml
  packages/locales/src/langs/zh-CN.yaml
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

chore: update deps
  apps/web-antd/package.json
  internal/lint-configs/eslint-config/package.json
  internal/lint-configs/prettier-config/package.json
  internal/tailwind-config/package.json
  package.json
  packages/@core/forward/helpers/package.json
  packages/@core/forward/stores/package.json
  packages/@core/shared/typings/package.json
  packages/business/common-ui/package.json
  packages/business/layouts/package.json
  packages/types/package.json
  pnpm-lock.yaml
Due: prettier --cache --write

chore: remove flatPreferences
  packages/@core/forward/preferences/src/index.ts
  packages/@core/forward/preferences/src/preferences.ts
  packages/@core/forward/preferences/src/types.ts
  packages/@core/forward/preferences/src/use-preferences.ts
  packages/business/common-ui/src/authentication/widgets/layout-toggle.vue
  packages/business/common-ui/src/preferences/blocks/general/animation.vue
  packages/business/common-ui/src/preferences/blocks/general/general.vue
  packages/business/common-ui/src/preferences/blocks/index.ts
  packages/business/common-ui/src/preferences/blocks/layout/breadcrumb.vue
  packages/business/common-ui/src/preferences/blocks/layout/footer.vue
  packages/business/common-ui/src/preferences/blocks/layout/header.vue
  packages/business/common-ui/src/preferences/blocks/layout/navigation.vue
  packages/business/common-ui/src/preferences/blocks/layout/sidebar.vue
  packages/business/common-ui/src/preferences/blocks/layout/tabbar.vue
  packages/business/common-ui/src/preferences/blocks/theme/color-mode.vue
  packages/business/common-ui/src/preferences/blocks/theme/theme.vue
  packages/business/common-ui/src/preferences/preferences-widget.vue
  packages/business/common-ui/src/preferences/preferences.vue
  packages/business/common-ui/src/theme-toggle/theme-toggle.vue
  packages/business/layouts/src/basic/layout.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

chore: add offline page
  apps/web-antd/package.json
  apps/web-antd/src/router/routes/modules/fallback.ts
  apps/web-antd/src/views/_essential/fallback/offline.vue
  internal/lint-configs/eslint-config/package.json
  internal/lint-configs/prettier-config/package.json
  internal/tailwind-config/package.json
  packages/@core/forward/preferences/package.json
  packages/@core/uikit/layout-ui/package.json
  packages/@core/uikit/menu-ui/package.json
  packages/@core/uikit/shadcn-ui/package.json
  packages/business/common-ui/package.json
  packages/business/common-ui/src/fallback/fallback.ts
  packages/business/common-ui/src/fallback/fallback.vue
  packages/business/common-ui/src/fallback/icons/icon-offline.vue
  packages/business/common-ui/src/fallback/icons/warning.svg
  packages/locales/src/langs/en-US.yaml
  packages/locales/src/langs/zh-CN.yaml
  pnpm-lock.yaml
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

fix: improve build file naming convention
  internal/vite-config/src/config/application.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

remove js to the entryFileName path
  internal/vite-config/src/config/application.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

replace dot to hyphen
  internal/vite-config/src/config/application.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

perf(UploadPreviewModal): delete invalid assign
  src/components/Upload/src/components/UploadPreviewModal.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

perf(UploadPreviewModal): delete invalid assign (#3915)
  src/components/Upload/src/components/UploadPreviewModal.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

chore: improve build file naming convention and caching (#3908)
  internal/vite-config/src/config/application.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

feat: add shortcut keys preferencs
  .gitignore
  apps/web-antd/src/views/_essential/fallback/internal-error.vue
  internal/lint-configs/eslint-config/package.json
  internal/tsconfig/package.json
  internal/vite-config/package.json
  package.json
  packages/@core/forward/preferences/src/config.ts
  packages/@core/forward/preferences/src/types.ts
  packages/@core/forward/preferences/src/use-preferences.ts
  packages/@core/shared/toolkit/package.json
  packages/business/common-ui/src/fallback/fallback.ts
  packages/business/common-ui/src/fallback/fallback.vue
  packages/business/common-ui/src/fallback/icons/icon-hello.vue
  packages/business/common-ui/src/preferences/blocks/general/animation.vue
  packages/business/common-ui/src/preferences/blocks/general/general.vue
  packages/business/common-ui/src/preferences/blocks/index.ts
  packages/business/common-ui/src/preferences/blocks/layout/breadcrumb.vue
  packages/business/common-ui/src/preferences/blocks/layout/content.vue
  packages/business/common-ui/src/preferences/blocks/layout/footer.vue
  packages/business/common-ui/src/preferences/blocks/layout/header.vue
  packages/business/common-ui/src/preferences/blocks/layout/interface-control.vue
  packages/business/common-ui/src/preferences/blocks/layout/layout.vue
  packages/business/common-ui/src/preferences/blocks/layout/navigation.vue
  packages/business/common-ui/src/preferences/blocks/layout/sidebar.vue
  packages/business/common-ui/src/preferences/blocks/layout/tabbar.vue
  packages/business/common-ui/src/preferences/blocks/shortcut-keys/global.vue
  packages/business/common-ui/src/preferences/blocks/switch-item.vue
  packages/business/common-ui/src/preferences/blocks/theme/color-mode.vue
  packages/business/common-ui/src/preferences/blocks/theme/theme.vue
  packages/business/common-ui/src/preferences/preferences-widget.vue
  packages/business/common-ui/src/preferences/preferences.vue
  packages/business/common-ui/src/preferences/trigger.vue
  packages/business/common-ui/src/theme-toggle/theme-toggle.vue
  packages/business/common-ui/src/user-dropdown/user-dropdown.vue
  packages/business/layouts/src/basic/header/header.vue
  packages/locales/src/langs/en-US.yaml
  packages/locales/src/langs/zh-CN.yaml
  pnpm-lock.yaml
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

feat: support pwa
  .gitignore
  apps/web-antd/src/views/_essential/fallback/coming-soon.vue
  apps/web-antd/vite.config.mts
  internal/tailwind-config/src/index.ts
  internal/vite-config/package.json
  internal/vite-config/src/config/application.ts
  internal/vite-config/src/config/library.ts
  internal/vite-config/src/plugins/index.ts
  internal/vite-config/src/plugins/inject-app-loading/index.ts
  internal/vite-config/src/typing.ts
  packages/@core/forward/preferences/src/preferences.ts
  packages/@core/shared/design-tokens/src/dark/index.css
  packages/@core/shared/design-tokens/src/default/index.css
  packages/@core/shared/design-tokens/src/index.ts
  packages/@core/uikit/layout-ui/src/components/layout-sidebar.vue
  packages/@core/uikit/shadcn-ui/src/components/sheet/sheet.vue
  packages/business/common-ui/src/fallback/fallback.vue
  packages/business/common-ui/src/preferences/preferences.vue
  packages/business/common-ui/src/preferences/trigger.vue
  packages/business/layouts/src/iframe/iframe-router-view.vue
  packages/constants/src/vben.ts
  packages/locales/src/langs/en-US.yaml
  packages/locales/src/langs/zh-CN.yaml
  pnpm-lock.yaml
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

chore: update ci
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/feature-request.yml
  .github/dependabot.yml
  .github/pull_request_template.md
  .github/workflows/changeset-version.yml
  .github/workflows/ci.yml
  .github/workflows/issue-labeled.yml
  .github/workflows/release-tag.yml
  .github/workflows/semantic-pull-request.yml
  .github/workflows/stale.yml
  apps/web-antd/package.json
  package.json
  packages/@core/forward/preferences/package.json
  packages/@core/forward/stores/package.json
  packages/@core/shared/iconify/package.json
  packages/@core/shared/typings/package.json
  packages/@core/uikit/layout-ui/package.json
  packages/@core/uikit/menu-ui/package.json
  packages/@core/uikit/shadcn-ui/package.json
  packages/@core/uikit/tabs-ui/package.json
  packages/business/common-ui/package.json
  packages/business/layouts/package.json
  packages/hooks/package.json
  packages/locales/package.json
  packages/types/package.json
  pnpm-lock.yaml
  website/package.json
Due: prettier --cache --ignore-unknown --write, prettier --cache --write

feat: add coze assistant
  .github/workflows/ci.yml
  packages/@core/forward/preferences/src/config.ts
  packages/@core/forward/preferences/src/types.ts
  packages/business/common-ui/src/coze-assistant/assistant.vue
  packages/business/common-ui/src/coze-assistant/index.ts
  packages/business/common-ui/src/global-provider/global-provider.vue
  packages/business/common-ui/src/index.ts
  packages/business/common-ui/src/preferences/blocks/general/general.vue
  packages/business/common-ui/src/preferences/preferences-widget.vue
  packages/business/common-ui/src/preferences/preferences.vue
  packages/locales/src/langs/en-US.yaml
  packages/locales/src/langs/zh-CN.yaml
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

Path conditions:
  prettier --cache --ignore-unknown --write: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.{scss,less,styl,html})) or (any of: *.md)
  eslint --cache --fix: (any of: *.{js,jsx,ts,tsx}) or (any of: *.vue)
  prettier --cache --write: any of: package.json
  prettier --write: any of: *.vue
  stylelint --fix: (any of: *.vue) or (any of: *.{scss,less,styl,html})
