Repository vbenjs/vue-vben-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": ["prettier --cache --ignore-unknown  --write", "eslint --cache --fix"],
  "{!(package)*.json,*.code-snippets,.!(browserslist)*rc}": [
    "prettier --cache --write--parser json"
  ],
  "package.json": ["prettier --cache --write"],
  "*.vue": ["prettier --write", "eslint --cache --fix", "stylelint --fix"],
  "*.{scss,less,styl,html}": ["prettier --cache --ignore-unknown --write", "stylelint --fix"],
  "*.md": ["prettier --cache --ignore-unknown --write"]
}

fix: 修复首选项导航栏宽度问题 (#8136)
  packages/@core/ui-kit/shadcn-ui/src/components/segmented/segmented.vue
  packages/@core/ui-kit/shadcn-ui/src/ui/tabs/TabsList.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

feat: fixed the preference will hide all other button theme/timezone/lanague etc
  packages/effects/layouts/src/basic/header/header.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

修复动画导致的白屏Bug
  packages/effects/layouts/src/basic/content/content.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

chore: update pnpm v11.12.0
  package.json
Due: prettier --cache --write

chore: update deps
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

fix(style): 添加no-invalid-position-declaration规则到stylelint配置
  internal/lint-configs/stylelint-config/index.mjs
Due: none

fix: 优化代码格式，合并类型声明
  .github/config.yml
  docs/src/components/common-ui/vben-alert.md
  docs/src/demos/vben-descriptions/size/index.vue
  docs/src/demos/vben-descriptions/span/index.vue
  docs/src/demos/vben-descriptions/vertical/index.vue
  docs/src/en/components/common-ui/vben-alert.md
  docs/src/en/guide/essentials/route.md
  docs/src/guide/essentials/route.md
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

feat: fixed the preference will hide all other button theme/timezone/lanague etc (#8147)
  packages/effects/layouts/src/basic/header/header.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

修复动画导致的白屏Bug (#8148)
  packages/effects/layouts/src/basic/content/content.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix(@vben/playground): 弹窗中使用裁剪图片会出现层级问题
  playground/src/adapter/component/index.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix(project): 修复弹窗中裁剪图片在 web-antd 与 web-antdv-next 的层级问题
  apps/web-antd/src/adapter/component/index.ts
  apps/web-antdv-next/src/adapter/component/index.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: fixed the test case fail at upstream
  packages/@core/base/shared/src/utils/__tests__/date.test.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: lint rule agisnt oxlint rule
  oxlint.config.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: 修复弹窗中使用裁剪图片会出现层级问题 (#8156)
  apps/web-antd/src/adapter/component/index.ts
  apps/web-antdv-next/src/adapter/component/index.ts
  playground/src/adapter/component/index.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

feat: 顶栏按钮支持位置选择（header/user-dropdown/none）
  apps/web-antd/src/layouts/basic.vue
  apps/web-antdv-next/src/layouts/basic.vue
  apps/web-ele/src/layouts/basic.vue
  apps/web-naive/src/layouts/basic.vue
  apps/web-tdesign/src/layouts/basic.vue
  packages/@core/preferences/src/config.ts
  packages/@core/preferences/src/types.ts
  packages/effects/layouts/src/basic/header/header.vue
  packages/effects/layouts/src/widgets/preferences/blocks/layout/widget.vue
  packages/effects/layouts/src/widgets/preferences/preferences-drawer.vue
  packages/effects/layouts/src/widgets/user-dropdown/user-dropdown.vue
  packages/locales/src/langs/en-US/common.json
  packages/locales/src/langs/en-US/preferences.json
  packages/locales/src/langs/zh-CN/common.json
  packages/locales/src/langs/zh-CN/preferences.json
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

docs: 修复英文语言文件路径错误
  docs/src/en/guide/in-depth/locale.md
  docs/src/guide/in-depth/locale.md
Due: prettier --cache --ignore-unknown --write

docs: 更正语言使用示例,确保可用
  docs/src/en/guide/in-depth/locale.md
  docs/src/guide/in-depth/locale.md
Due: prettier --cache --ignore-unknown --write

docs: 更新新增语言包的说明
  docs/src/en/guide/in-depth/locale.md
  docs/src/guide/in-depth/locale.md
Due: prettier --cache --ignore-unknown --write

feat: 偏好设置小部件支持位置选择与拖拽排序
  apps/web-antd/src/layouts/basic.vue
  apps/web-antdv-next/src/layouts/basic.vue
  apps/web-ele/src/layouts/basic.vue
  apps/web-naive/src/layouts/basic.vue
  apps/web-tdesign/src/layouts/basic.vue
  package.json
  packages/@core/base/typings/src/app.d.ts
  packages/@core/preferences/src/config.ts
  packages/@core/preferences/src/preferences.ts
  packages/@core/preferences/src/types.ts
  packages/effects/layouts/src/basic/header/header.vue
  packages/effects/layouts/src/basic/layout.vue
  packages/effects/layouts/src/widgets/preferences/blocks/draggable-list.vue
  packages/effects/layouts/src/widgets/preferences/blocks/layout/widget.vue
  packages/effects/layouts/src/widgets/preferences/preferences-drawer.vue
  packages/effects/layouts/src/widgets/user-dropdown/user-dropdown.vue
  packages/locales/src/langs/en-US/common.json
  packages/locales/src/langs/en-US/preferences.json
  packages/locales/src/langs/zh-CN/common.json
  packages/locales/src/langs/zh-CN/preferences.json
  pnpm-lock.yaml
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

fix: 系统菜单管理上级菜单无法显示名称的问题
  playground/src/views/system/menu/modules/form.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: 路由地址不强制以斜杠开头
  playground/src/views/system/menu/modules/form.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: 菜单组件mock数据与实际保持一致
  apps/backend-mock/utils/mock-data.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

docs: 同步后端接入文档示例菜单地址
  docs/src/en/guide/in-depth/access.md
  docs/src/guide/in-depth/access.md
Due: prettier --cache --ignore-unknown --write

fix: message/notification demos not auto-dismissing due to wrong duration unit
  apps/web-antd/src/views/demos/antd/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

chore: update pnpm v11.15.1
  package.json
  pnpm-workspace.yaml
Due: prettier --cache --write

chore: update dependencies and refactor command execution
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/turbo-run/src/run.ts
  scripts/vsh/src/lint/index.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: 修复Vben用户信息中的 homePath 属性定义
  apps/backend-mock/utils/mock-data.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: lint
  playground/src/views/demos/form-array/README.md
Due: prettier --cache --ignore-unknown --write

fix: 添加 oxlint 禁用注释以避免嵌套三元运算符警告
  packages/@core/ui-kit/form-ui/src/components/form-field-array.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: test error
  packages/@core/preferences/__tests__/__snapshots__/config.test.ts.snap
Due: none

fix: 优化命令执行逻辑，使用串行执行以提高错误可见性
  scripts/turbo-run/src/run.ts
  scripts/vsh/src/lint/index.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: message/notification demos not auto-dismissing due to wrong duration unit (#8168)
  apps/web-antd/src/views/demos/antd/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

build(@vben-core/form-ui): update form validation dependencies
  packages/@core/ui-kit/form-ui/package.json
  packages/@core/ui-kit/shadcn-ui/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --cache --write

refactor(@vben-core/form-ui): replace vee-validate with TanStack Form
  packages/@core/ui-kit/form-ui/src/components/form-actions.vue
  packages/@core/ui-kit/form-ui/src/components/form-field-array.vue
  packages/@core/ui-kit/form-ui/src/config.ts
  packages/@core/ui-kit/form-ui/src/deprecation.ts
  packages/@core/ui-kit/form-ui/src/form-api.ts
  packages/@core/ui-kit/form-ui/src/form-render/dependencies.ts
  packages/@core/ui-kit/form-ui/src/form-render/form-field.vue
  packages/@core/ui-kit/form-ui/src/form-render/form.vue
  packages/@core/ui-kit/form-ui/src/form-render/helper.ts
  packages/@core/ui-kit/form-ui/src/form-render/schema.ts
  packages/@core/ui-kit/form-ui/src/form-runtime.ts
  packages/@core/ui-kit/form-ui/src/index.ts
  packages/@core/ui-kit/form-ui/src/rule-registry.ts
  packages/@core/ui-kit/form-ui/src/types.ts
  packages/@core/ui-kit/form-ui/src/use-form-context.ts
  packages/@core/ui-kit/form-ui/src/use-vben-form.ts
  packages/@core/ui-kit/form-ui/src/vben-use-form.vue
  packages/@core/ui-kit/shadcn-ui/src/ui/form/FormField.vue
  packages/@core/ui-kit/shadcn-ui/src/ui/form/FormMessage.vue
  packages/@core/ui-kit/shadcn-ui/src/ui/form/index.ts
  packages/@core/ui-kit/shadcn-ui/src/ui/form/injectionKeys.ts
  packages/@core/ui-kit/shadcn-ui/src/ui/form/useFormField.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

test(@vben-core/form-ui): cover TanStack Form migration
  packages/@core/ui-kit/form-ui/__tests__/form-api.test.ts
  packages/@core/ui-kit/form-ui/__tests__/form-compatibility.test.ts
  packages/@core/ui-kit/form-ui/__tests__/form-integration.test.ts
  packages/@core/ui-kit/form-ui/__tests__/form-runtime.test.ts
  packages/@core/ui-kit/form-ui/__tests__/form-types.test.ts
  packages/@core/ui-kit/form-ui/__tests__/zod-v4-schema.test.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

docs(@vben/docs): document Zod 4 form migration
  docs/src/_env/adapter/form.ts
  docs/src/components/common-ui/vben-form.md
  docs/src/demos/vben-form/rules/index.vue
  docs/src/en/components/common-ui/vben-form.md
  docs/src/en/guide/in-depth/zod-v4-form-migration.md
  docs/src/guide/in-depth/zod-v4-form-migration.md
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

refactor(project): update form adapters
  apps/web-antd/src/adapter/form.ts
  apps/web-antdv-next/src/adapter/form.ts
  apps/web-ele/src/adapter/form.ts
  apps/web-naive/src/adapter/form.ts
  apps/web-tdesign/src/adapter/form.ts
  playground/src/adapter/form.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

refactor(project): migrate application form consumers
  apps/web-antd/src/views/_core/authentication/register.vue
  apps/web-antd/src/views/_core/profile/password-setting.vue
  apps/web-antdv-next/src/views/_core/authentication/register.vue
  apps/web-antdv-next/src/views/_core/profile/password-setting.vue
  apps/web-ele/src/views/_core/authentication/register.vue
  apps/web-ele/src/views/_core/profile/password-setting.vue
  apps/web-naive/src/views/_core/authentication/register.vue
  apps/web-naive/src/views/_core/profile/password-setting.vue
  apps/web-naive/src/views/demos/form/modal.vue
  apps/web-naive/src/views/demos/naive/array-form/index.vue
  apps/web-tdesign/src/views/_core/authentication/register.vue
  apps/web-tdesign/src/views/_core/profile/password-setting.vue
  packages/effects/common-ui/src/ui/profile/notification-setting.vue
  packages/effects/common-ui/src/ui/profile/security-setting.vue
  packages/effects/plugins/src/vxe-table/use-vxe-grid.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

refactor(@vben/playground): migrate form examples
  playground/src/views/_core/authentication/register.vue
  playground/src/views/_core/profile/password-setting.vue
  playground/src/views/demos/form-array/index.vue
  playground/src/views/examples/drawer/form-drawer-demo.vue
  playground/src/views/examples/form/collapsible.vue
  playground/src/views/examples/form/rules.vue
  playground/src/views/examples/form/scroll-to-error-test.vue
  playground/src/views/examples/modal/form-modal-demo.vue
  playground/src/views/system/dept/modules/form.vue
  playground/src/views/system/menu/modules/form.vue
  playground/src/views/system/role/modules/form.vue
  playground/src/views/system/user/modules/form.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

docs(@vben/docs): fix validate return type and required rule empty check in form docs
  docs/src/components/common-ui/vben-form.md
  docs/src/en/guide/in-depth/zod-v4-form-migration.md
  docs/src/guide/in-depth/zod-v4-form-migration.md
Due: prettier --cache --ignore-unknown --write
