Repository vbenjs/vue-vben-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": ["prettier --cache --ignore-unknown  --write", "eslint --cache --fix"],
  "{!(package)*.json,*.code-snippets,.!(browserslist)*rc}": [
    "prettier --cache --write--parser json"
  ],
  "package.json": ["prettier --cache --write"],
  "*.vue": ["prettier --write", "eslint --cache --fix", "stylelint --fix"],
  "*.{scss,less,styl,html}": ["prettier --cache --ignore-unknown --write", "stylelint --fix"],
  "*.md": ["prettier --cache --ignore-unknown --write"]
}

update left/right icon not align to center (#2958)
  src/design/ant/index.less
Due: prettier --cache --ignore-unknown --write, stylelint --fix

refactor: code optimization (#2961)
  src/enums/cacheEnum.ts
  src/hooks/core/useContext.ts
  src/store/modules/app.ts
  src/utils/http/axios/index.ts
  src/views/sys/login/LoginForm.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix(Tree): beforeRightClick type
  src/components/Tree/src/types/tree.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: fix production spelling
  internal/vite-config/src/config/common.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix(Tree): beforeRightClick type (#2968)
  src/components/Tree/src/types/tree.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

Feat/scott man (#2970)
  internal/vite-config/src/config/common.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

chore: format nginx.conf
  nginx.conf
Due: none

chore: format nginx.conf (#2971)
  nginx.conf
Due: none

feat: 增加Prompt组件
  src/components/Prompt/dialog.vue
  src/components/Prompt/index.ts
  src/components/Prompt/state.ts
  src/views/demo/comp/modal/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: #2976
  src/components/Form/src/hooks/useFormEvents.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

refactor: 对appendSchemaByField函数的通用操作进行整理
  src/components/Form/src/hooks/useFormEvents.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

feat: 增加Prompt组件, 并且修复 #2976 (#2979)
  src/components/Form/src/hooks/useFormEvents.ts
  src/components/Prompt/dialog.vue
  src/components/Prompt/index.ts
  src/components/Prompt/state.ts
  src/views/demo/comp/modal/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix(msg): message icon not centered
  src/design/ant/index.less
Due: prettier --cache --ignore-unknown --write, stylelint --fix

fix: pagination组件默认页数参数不生效 #2983
  src/components/Table/src/hooks/usePagination.tsx
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix(msg): message icon not centered (#2982)
  src/design/ant/index.less
Due: prettier --cache --ignore-unknown --write, stylelint --fix

fix: VxeTable demo parameter typo
  src/views/demo/table/VxeTable.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: tabs close icon not centered
  src/design/ant/index.less
Due: prettier --cache --ignore-unknown --write, stylelint --fix

fix: VxeTable demo parameter typo& tabs close icon not centered (#2989)
  src/design/ant/index.less
  src/views/demo/table/VxeTable.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

修复updateSchema更新元素不增减
  src/components/Form/src/hooks/useFormEvents.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

perf: 为createAsyncComponent函数增加类型推导 (#2967)
  src/utils/factory/createAsyncComponent.tsx
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

feat(Form): 为fieldMapToTime的映射类型增加时间戳转换
  src/components/Form/src/hooks/useFormValues.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

perf: 为createAsyncComponent函数增加类型推导 (#2967) (#2991)
  src/utils/factory/createAsyncComponent.tsx
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

feat(Form): 为fieldMapToTime的映射类型增加时间戳转换 (#2996)
  src/components/Form/src/hooks/useFormValues.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix(ApiTreeSelect): ApiTreeSelect组件首次调用会重复请求(#2940)
  src/components/Form/src/components/ApiTreeSelect.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix(ApiTreeSelect): ApiTreeSelect组件首次调用会重复请求(#2940) (#3005)
  src/components/Form/src/components/ApiTreeSelect.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

chore: update ant design npm version
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

chore: 修改antd的css引用路径
  src/main.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

style(layout): 替换sider header组件传参属性，适配原有组件的样式
  src/layouts/default/header/index.vue
  src/layouts/default/sider/LayoutSider.vue
  src/layouts/default/sider/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

style(Menu): 去除气泡卡片的背景
  src/components/SimpleMenu/src/components/SubMenuItem.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix
