Repository vbenjs/vue-vben-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": ["prettier --cache --ignore-unknown  --write", "eslint --cache --fix"],
  "{!(package)*.json,*.code-snippets,.!(browserslist)*rc}": [
    "prettier --cache --write--parser json"
  ],
  "package.json": ["prettier --cache --write"],
  "*.vue": ["prettier --write", "eslint --cache --fix", "stylelint --fix"],
  "*.{scss,less,styl,html}": ["prettier --cache --ignore-unknown --write", "stylelint --fix"],
  "*.md": ["prettier --cache --ignore-unknown --write"]
}

type(setting): change the function name to a more appropriate one
  src/layouts/default/setting/SettingDrawer.tsx
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

feat(menu): Restore side bar settings and added menu mouse move in mode light style (#3295)
  src/components/SimpleMenu/src/components/menu.less
  src/layouts/default/setting/SettingDrawer.tsx
  src/layouts/default/sider/MixSider.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

style(qrcode): add margin bottom
  src/views/demo/comp/qrcode/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

chore: rm unnecessary script
  src/layouts/default/trigger/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

refactor(demo-tree): 优化demo-tree页面结构，改用setup语法糖
  src/views/demo/tree/ActionTree.vue
  src/views/demo/tree/EditTree.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

refactor(demo): transition and account use setup
  src/views/demo/comp/transition/index.vue
  src/views/demo/page/account/center/index.vue
  src/views/demo/page/account/setting/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: 修复表单设计的右侧属性配置面板中部分表单错乱的问题
  src/views/form-design/components/VFormDesign/components/ComponentProps.vue
  src/views/form-design/components/VFormDesign/components/FormProps.vue
  src/views/form-design/components/VFormDesign/config/formItemPropsConfig.ts
  src/views/form-design/components/VFormDesign/modules/FormComponentPanel.vue
  src/views/form-design/components/VFormDesign/modules/PropsPanel.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: 修复表单设计的右侧属性配置面板中部分表单错乱的问题 (#3300). close #3268
  src/views/form-design/components/VFormDesign/components/ComponentProps.vue
  src/views/form-design/components/VFormDesign/components/FormProps.vue
  src/views/form-design/components/VFormDesign/config/formItemPropsConfig.ts
  src/views/form-design/components/VFormDesign/modules/FormComponentPanel.vue
  src/views/form-design/components/VFormDesign/modules/PropsPanel.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix(useFormEvents): 修复setFieldsValue 方法设置完值后，表单属性丢失formActionType 的bug
  src/components/Form/src/hooks/useFormEvents.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

style: 修复eslint和stylelint
  src/utils/http/axios/Axios.ts
  src/views/demo/feat/icon/index.vue
  src/views/demo/feat/menu-params/index.vue
  src/views/form-design/components/VFormDesign/index.vue
  src/views/sys/lock/LockPage.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

refactor(demo): transition and account use setup (#3298)
  src/views/demo/comp/transition/index.vue
  src/views/demo/page/account/center/index.vue
  src/views/demo/page/account/setting/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix(VFormDesign): findIndex === -1
  src/views/form-design/components/VFormDesign/config/componentPropsConfig.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix(VFormDesign): findIndex === -1 (#3305)
  src/views/form-design/components/VFormDesign/config/componentPropsConfig.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

style: 修复eslint和stylelint (#3303)
  src/utils/http/axios/Axios.ts
  src/views/demo/feat/icon/index.vue
  src/views/demo/feat/menu-params/index.vue
  src/views/form-design/components/VFormDesign/index.vue
  src/views/sys/lock/LockPage.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix(useFormEvents): 修复setFieldsValue 方法设置完值后，函数 componentProps丢失formActionType 的bug (#3301)
  src/components/Form/src/hooks/useFormEvents.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: 修复index.html加载文字偏移的问题
  index.html
Due: prettier --cache --ignore-unknown --write, stylelint --fix

fix(useFormEvents): some function is lost in componentsProps
  src/components/Form/src/hooks/useFormEvents.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix(type): type:check error
  src/components/Form/src/BasicForm.vue
  src/components/Form/src/components/ApiCascader.vue
  src/components/Upload/src/components/ImageUpload.vue
  src/views/sys/error-log/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix(type): type:check error (#3309)
  src/components/Form/src/BasicForm.vue
  src/components/Form/src/components/ApiCascader.vue
  src/components/Upload/src/components/ImageUpload.vue
  src/views/sys/error-log/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

chore(demo->form-design): resolve ts error. close #2179 #1882
  src/views/form-design/components/VFormDesign/components/JsonModal.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

chore(demo->form-design): resolve ts error. close #2719 #1882
  src/views/form-design/components/VFormDesign/components/JsonModal.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

ci: add ts type check
  .github/workflows/node.js.yml
Due: none
