Repository vbenjs/vue-vben-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

style(@vben-core/popup-ui): apply oxfmt formatting to drawer interaction tests
  packages/@core/ui-kit/popup-ui/src/drawer/__tests__/drawer-interaction.test.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix(project): pass withCredentials as request config for refresh/logout
  apps/web-antd/src/api/core/auth.ts
  apps/web-antdv-next/src/api/core/auth.ts
  apps/web-ele/src/api/core/auth.ts
  apps/web-naive/src/api/core/auth.ts
  apps/web-tdesign/src/api/core/auth.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix(@vben/preferences): expose full copyright fields in appCopyrightPreferences
  packages/preferences/src/index.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

chore: add changeset for withCredentials config fix
  .changeset/calm-otters-refresh-credentials.md
Due: prettier --cache --ignore-unknown --write

chore: add changeset for copyright preferences fix
  .changeset/tidy-pandas-copyright-fields.md
Due: prettier --cache --ignore-unknown --write

feat(@vben-core/popup-ui): add extra header slot to modal
  .changeset/gold-donkeys-modal-extra.md
  packages/@core/ui-kit/popup-ui/src/modal/__tests__/modal.test.ts
  packages/@core/ui-kit/popup-ui/src/modal/modal.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

chore(project): dedupe oxc extension recommendation in vscode config
  .vscode/extensions.json
Due: none

docs(@vben/docs): fix setUserInfo store reference in access guide
  docs/src/en/guide/in-depth/access.md
  docs/src/guide/in-depth/access.md
Due: prettier --cache --ignore-unknown --write

feat(@vben/layouts): make user dropdown avatar dot configurable
  .changeset/young-planes-avatar-dot.md
  packages/effects/layouts/package.json
  packages/effects/layouts/src/widgets/user-dropdown/user-dropdown.vue
  pnpm-lock.yaml
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

fix(@vben/layouts): apply avatarDotClass to header trigger avatar too
  packages/effects/layouts/src/widgets/user-dropdown/user-dropdown.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix(@vben-core/form-ui): fix partial updates and bindings
  docs/src/components/common-ui/vben-form.md
  docs/src/en/components/common-ui/vben-form.md
  packages/@core/ui-kit/form-ui/__tests__/config.test.ts
  packages/@core/ui-kit/form-ui/__tests__/form-api.test.ts
  packages/@core/ui-kit/form-ui/__tests__/form-integration.test.ts
  packages/@core/ui-kit/form-ui/__tests__/form-types.test.ts
  packages/@core/ui-kit/form-ui/src/config.ts
  packages/@core/ui-kit/form-ui/src/form-api.ts
  packages/@core/ui-kit/form-ui/src/types.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix(@vben-core/form-ui): guard cyclic patches and restore api docs table
  docs/src/components/common-ui/vben-form.md
  packages/@core/ui-kit/form-ui/__tests__/form-api.test.ts
  packages/@core/ui-kit/form-ui/src/form-api.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix(@vben-core/shadcn-ui): reject non-finite progress max values
  packages/@core/ui-kit/shadcn-ui/src/ui/progress/Progress.vue
  packages/@core/ui-kit/shadcn-ui/src/ui/progress/__tests__/progress.test.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix(@vben-core/shadcn-ui): narrow max to number in progress normalization
  packages/@core/ui-kit/shadcn-ui/src/ui/progress/Progress.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

feat(@vben-core/shadcn-ui): add Progress primitive with progressbar semantics (#8305)
  .changeset/olive-foxes-progress-meter.md
  packages/@core/ui-kit/shadcn-ui/src/ui/index.ts
  packages/@core/ui-kit/shadcn-ui/src/ui/progress/Progress.vue
  packages/@core/ui-kit/shadcn-ui/src/ui/progress/__tests__/progress.test.ts
  packages/@core/ui-kit/shadcn-ui/src/ui/progress/index.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

test(@vben-core/popup-ui): add modal mouse and keyboard regression tests (#8306)
  apps/web-antd/src/api/core/auth.ts
  apps/web-antdv-next/src/api/core/auth.ts
  apps/web-ele/src/api/core/auth.ts
  apps/web-naive/src/api/core/auth.ts
  apps/web-tdesign/src/api/core/auth.ts
  packages/@core/ui-kit/popup-ui/src/modal/__tests__/modal-interaction.test.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

test(@vben-core/popup-ui): add drawer mouse and keyboard regression tests (#8307)
  packages/@core/ui-kit/popup-ui/src/drawer/__tests__/drawer-interaction.test.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix(apps): pass withCredentials as request config for refresh/logout (#8308)
  .changeset/calm-otters-refresh-credentials.md
Due: prettier --cache --ignore-unknown --write

fix(@vben/preferences): expose full copyright fields in appCopyrightPreferences (#8309)
  .changeset/tidy-pandas-copyright-fields.md
  packages/preferences/src/index.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

feat(@vben-core/popup-ui): add extra header slot to modal (#8310)
  .changeset/gold-donkeys-modal-extra.md
  packages/@core/ui-kit/popup-ui/src/modal/__tests__/modal.test.ts
  packages/@core/ui-kit/popup-ui/src/modal/modal.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

chore(project): dedupe oxc extension recommendation in vscode config (#8311)
  .vscode/extensions.json
Due: none

docs(@vben/docs): fix setUserInfo store reference in access guide (#8313)
  docs/src/en/guide/in-depth/access.md
  docs/src/guide/in-depth/access.md
Due: prettier --cache --ignore-unknown --write

feat(@vben/layouts): make user dropdown avatar dot configurable (#8314)
  .changeset/young-planes-avatar-dot.md
  packages/effects/layouts/package.json
  packages/effects/layouts/src/widgets/user-dropdown/user-dropdown.vue
  pnpm-lock.yaml
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

fix(@vben-core/form-ui): 修复嵌套部分更新与重复初始化绑定残留 (#8315)
  docs/src/components/common-ui/vben-form.md
  docs/src/en/components/common-ui/vben-form.md
  packages/@core/ui-kit/form-ui/__tests__/config.test.ts
  packages/@core/ui-kit/form-ui/__tests__/form-api.test.ts
  packages/@core/ui-kit/form-ui/__tests__/form-integration.test.ts
  packages/@core/ui-kit/form-ui/__tests__/form-types.test.ts
  packages/@core/ui-kit/form-ui/src/config.ts
  packages/@core/ui-kit/form-ui/src/form-api.ts
  packages/@core/ui-kit/form-ui/src/types.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix(@vben/playground): 移除 authLogin 中重复的 setUserInfo 调用 (#8165)
  playground/src/store/auth.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix(@vben/playground): 移除 authLogin 中重复的 setUserInfo 调用 (#8165) (#8317)
  playground/src/store/auth.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

test(@vben/common-ui): add icon-picker keyword filter regression tests
  packages/effects/common-ui/src/components/icon-picker/__tests__/icon-picker.test.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

test(@vben-core/popup-ui): add imperative alert/confirm regression tests
  packages/@core/ui-kit/popup-ui/src/alert/__tests__/alert-builder.test.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix(@vben-core/form-ui): strip native name attr when fieldName collides with form properties
  packages/@core/ui-kit/form-ui/__tests__/form-field-node-name.test.ts
  packages/@core/ui-kit/form-ui/src/form-render/form-field.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

test(@vben-core/popup-ui): add imperative alert/confirm regression tests (#8319)
  packages/@core/ui-kit/popup-ui/src/alert/__tests__/alert-builder.test.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

test(@vben/common-ui): add icon-picker keyword filter regression tests (#8320)
  packages/effects/common-ui/src/components/icon-picker/__tests__/icon-picker.test.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix(@vben-core/form-ui): 字段名与 <form> 固有属性冲突时剥离原生 name (#8214)
  .changeset/eight-deserts-kneel.md
  packages/@core/ui-kit/form-ui/__tests__/form-field-node-name.test.ts
  packages/@core/ui-kit/form-ui/src/form-render/form-field.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix(@vben/common-ui): keep auto-height Page from clamping outer flex layout
  packages/effects/common-ui/src/components/page/page.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix(@vben-core/form-ui): keep name-resolved model bindings intact in conflict sweep (#8214)
  packages/@core/ui-kit/form-ui/__tests__/form-field-node-name.test.ts
  packages/@core/ui-kit/form-ui/src/form-render/form-field.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix(@vben-core/form-ui): preserve declared name props in conflict sweep (#8214)
  packages/@core/ui-kit/form-ui/__tests__/form-field-node-name.test.ts
  packages/@core/ui-kit/form-ui/src/form-render/form-field.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix(@vben-core/form-ui): resolve string components before name-prop introspection (#8214)
  packages/@core/ui-kit/form-ui/__tests__/form-field-node-name.test.ts
  packages/@core/ui-kit/form-ui/src/form-render/form-field.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix(@vben-core/form-ui): 字段名与 <form> 固有属性冲突时剥离原生 name（#8214） (#8321)
  .changeset/eight-deserts-kneel.md
  packages/@core/ui-kit/form-ui/__tests__/form-field-node-name.test.ts
  packages/@core/ui-kit/form-ui/src/form-render/form-field.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix(@vben/common-ui): keep auto-height Page from clamping outer flex layout (#8323)
  packages/effects/common-ui/src/components/page/page.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix(@vben/layouts): show route loading spinner only after a delay to avoid jank on fast navigations (#8289)
  packages/effects/layouts/src/basic/content/__tests__/use-content-spinner.test.ts
  packages/effects/layouts/src/basic/content/use-content-spinner.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix(@vben-core/layout-ui): guard sidebar hover handlers in mobile drawer mode (#8274)
  .changeset/lucky-pandas-hover.md
  packages/@core/ui-kit/layout-ui/src/__tests__/layout-sidebar-mobile-hover.test.ts
  packages/@core/ui-kit/layout-ui/src/components/layout-sidebar.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

Path conditions:
  prettier --cache --ignore-unknown --write: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.{scss,less,styl,html})) or (any of: *.md)
  eslint --cache --fix: (any of: *.{js,jsx,ts,tsx}) or (any of: *.vue)
  prettier --cache --write: any of: package.json
  prettier --write: any of: *.vue
  stylelint --fix: (any of: *.vue) or (any of: *.{scss,less,styl,html})
