Repository vbenjs/vue-vben-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": ["prettier --cache --ignore-unknown  --write", "eslint --cache --fix"],
  "{!(package)*.json,*.code-snippets,.!(browserslist)*rc}": [
    "prettier --cache --write--parser json"
  ],
  "package.json": ["prettier --cache --write"],
  "*.vue": ["prettier --write", "eslint --cache --fix", "stylelint --fix"],
  "*.{scss,less,styl,html}": ["prettier --cache --ignore-unknown --write", "stylelint --fix"],
  "*.md": ["prettier --cache --ignore-unknown --write"]
}

Revert "feat: ApiSelect增加远程搜索功能"
  src/components/Form/src/components/ApiSelect.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

feat: Regular monitoring page update [deploy]
  .gitignore
  .stylelintignore
  apps/web-antd/.env.production
  apps/web-antd/src/app.vue
  apps/web-antd/src/layouts/basic.vue
  apps/web-antd/src/router/routes/modules/vben.ts
  cspell.json
  internal/lint-configs/eslint-config/package.json
  internal/lint-configs/eslint-config/src/custom-config.ts
  internal/lint-configs/stylelint-config/package.json
  internal/tailwind-config/package.json
  internal/vite-config/src/config/application.ts
  internal/vite-config/src/config/library.ts
  internal/vite-config/src/options.ts
  internal/vite-config/src/plugins/index.ts
  packages/@core/preferences/src/config.ts
  packages/@core/preferences/src/types.ts
  packages/effects/common-ui/src/global-provider/global-provider.vue
  packages/effects/common-ui/src/global-provider/index.ts
  packages/effects/common-ui/src/index.ts
  packages/effects/hooks/src/use-design-tokens.ts
  packages/effects/layouts/src/basic/layout.vue
  packages/effects/layouts/src/widgets/check-updates/check-updates.vue
  packages/effects/layouts/src/widgets/check-updates/index.ts
  packages/effects/layouts/src/widgets/index.ts
  packages/effects/layouts/src/widgets/preferences/blocks/general/general.vue
  packages/effects/layouts/src/widgets/preferences/preferences-sheet.vue
  packages/locales/src/langs/en-US.json
  packages/locales/src/langs/zh-CN.json
  pnpm-lock.yaml
  website/.vitepress/config.mts
  website/.vitepress/theme/index.ts
  website/.vitepress/theme/plugins/hm.ts
  website/package.json
  website/src/guide/essentials/settings.md
  website/src/guide/other/faq.md
  website/tsconfig.json
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

fix: The built-in theme does not take effect, fixed #55 [deploy]
  internal/lint-configs/lint-staged-config/src/index.ts
  packages/@core/ui-kit/menu-ui/src/components/menu.vue
  packages/effects/layouts/src/basic/tabbar/use-tabbar.ts
  packages/stores/src/modules/tabbar.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: Fixed tab error，fixex #59 [deploy]
  internal/lint-configs/eslint-config/package.json
  internal/lint-configs/stylelint-config/package.json
  package.json
  packages/effects/layouts/src/basic/tabbar/tabbar.vue
  packages/stores/src/modules/tabbar.ts
  pnpm-lock.yaml
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

chore: update docs [deploy]
  packages/@core/preferences/src/config.ts
  packages/@core/preferences/src/types.ts
  packages/effects/layouts/src/basic/layout.vue
  packages/effects/layouts/src/widgets/check-updates/check-updates.vue
  website/.vitepress/config.mts
  website/src/guide/essentials/settings.md
  website/src/guide/in-depth/check-updates.md
  website/src/guide/in-depth/features.md
  website/src/public/guide/update-notice.png
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

chore: update packages
  README.md
  packages/@core/preferences/package.json
  packages/constants/package.json
  packages/constants/tsconfig.json
  packages/effects/access/package.json
  packages/effects/chart-ui/package.json
  packages/effects/common-ui/package.json
  packages/effects/hooks/package.json
  packages/effects/layouts/package.json
  packages/effects/request/package.json
  packages/icons/package.json
  packages/locales/package.json
  packages/preferences/package.json
  packages/stores/package.json
  packages/styles/package.json
  packages/types/package.json
  packages/types/tsconfig.json
  packages/utils/package.json
  website/src/guide/in-depth/check-updates.md
Due: prettier --cache --ignore-unknown --write, prettier --cache --write

refactor: Separate store
  apps/web-antd/src/api/request.ts
  apps/web-antd/src/bootstrap.ts
  apps/web-antd/src/layouts/basic.vue
  apps/web-antd/src/router/guard.ts
  apps/web-antd/src/router/index.ts
  apps/web-antd/src/store/auth.ts
  apps/web-antd/src/store/index.ts
  apps/web-antd/src/views/_core/authentication/login.vue
  apps/web-antd/src/views/dashboard/workspace/index.vue
  apps/web-antd/src/views/demos/access/button-control.vue
  apps/web-antd/src/views/demos/access/index.vue
  packages/effects/access/src/directive.ts
  packages/effects/access/src/use-access.ts
  packages/effects/hooks/src/use-refresh.ts
  packages/effects/hooks/src/use-tabs.ts
  packages/effects/layouts/src/basic/content/content.vue
  packages/effects/layouts/src/basic/header/header.vue
  packages/effects/layouts/src/basic/layout.vue
  packages/effects/layouts/src/basic/menu/use-extra-menu.ts
  packages/effects/layouts/src/basic/menu/use-mixed-menu.ts
  packages/effects/layouts/src/basic/tabbar/tabbar.vue
  packages/effects/layouts/src/basic/tabbar/use-tabbar.ts
  packages/effects/layouts/src/iframe/iframe-router-view.vue
  packages/effects/layouts/src/widgets/lock-screen/lock-screen.vue
  packages/effects/layouts/src/widgets/user-dropdown/user-dropdown.vue
  packages/stores/src/modules/access.test.ts
  packages/stores/src/modules/access.ts
  packages/stores/src/modules/index.ts
  packages/stores/src/modules/lock.test.ts
  packages/stores/src/modules/lock.ts
  packages/stores/src/modules/tabbar.test.ts
  packages/stores/src/modules/tabbar.ts
  packages/stores/src/modules/user.test.ts
  packages/stores/src/modules/user.ts
  packages/stores/src/setup.ts
  packages/utils/src/helpers/index.ts
  packages/utils/src/helpers/reset-routes.ts
  pnpm-lock.yaml
  website/src/guide/essentials/server.md
  website/src/guide/in-depth/access.md
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

chore: update deps
  .stylelintignore
  internal/lint-configs/eslint-config/package.json
  internal/lint-configs/stylelint-config/package.json
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

fix: Wrong color value
  .husky/commit-msg
  .husky/pre-commit
  src/components/Loading/src/Loading.vue
  src/components/Scrollbar/src/Scrollbar.vue
  src/design/public.less
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

feat: Support multiple application launch scripts
  .npmrc
  apps/web-antd/src/preferences.ts
  apps/web-naive/src/preferences.ts
  package.json
  packages/@core/preferences/src/config.ts
  packages/@core/preferences/src/constants.ts
  packages/@core/preferences/src/update-css-variables.ts
  packages/effects/layouts/src/widgets/preferences/blocks/theme/builtin.vue
  pnpm-lock.yaml
  scripts/turbo-run/README.md
  scripts/turbo-run/bin/turbo-run.mjs
  scripts/turbo-run/build.config.ts
  scripts/turbo-run/package.json
  scripts/turbo-run/src/index.ts
  scripts/turbo-run/src/run.ts
  scripts/turbo-run/tsconfig.json
  vben-admin.code-workspace
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

fix(multipleTab): 已经打开的动态路由数判断bug
  src/store/modules/multipleTab.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix(upload): 修复上传组件删除无效bug
  src/components/Upload/src/components/UploadModal.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

chore(@vben/web-naive): Import on demand
  apps/web-naive/src/app.vue
  apps/web-naive/src/bootstrap.ts
  apps/web-naive/src/router/routes/modules/demos.ts
  website/src/guide/essentials/development.md
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: element theme adjustment
  apps/web-ele/.env
  apps/web-ele/.env.development
  apps/web-ele/index.html
  apps/web-ele/package.json
  apps/web-ele/src/api/demos/index.ts
  apps/web-ele/src/api/demos/status.ts
  apps/web-ele/src/api/index.ts
  apps/web-ele/src/bootstrap.ts
  apps/web-ele/src/locales/index.ts
  apps/web-ele/src/preferences.ts
  apps/web-ele/src/views/demos/element/index.vue
  apps/web-naive/.env.development
  apps/web-naive/src/bootstrap.ts
  internal/vite-config/package.json
  internal/vite-config/src/plugins/nitor-mock.ts
  packages/@core/base/design/src/design-tokens/dark/index.css
  packages/@core/ui-kit/tabs-ui/src/components/tabs-chrome/tabs.vue
  packages/@core/ui-kit/tabs-ui/src/components/tabs/tabs.vue
  packages/effects/hooks/package.json
  packages/effects/hooks/src/use-design-tokens.ts
  pnpm-lock.yaml
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

feat: add upgrade prompt
  src/layouts/default/header/components/UpgradePrompt.vue
  src/layouts/default/header/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: typo
  apps/web-ele/src/views/demos/element/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

chore: update ci
  .github/workflows/deploy.yml
Due: none

chore: Update the preview address
  apps/web-antd/src/router/routes/modules/vben.ts
  apps/web-ele/src/router/routes/modules/vben.ts
  apps/web-naive/src/router/routes/modules/vben.ts
  packages/@core/base/shared/src/constants/vben.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

chore: update deps
  apps/web-antd/package.json
  apps/web-antd/src/router/routes/modules/demos.ts
  apps/web-ele/package.json
  apps/web-ele/src/router/routes/modules/vben.ts
  apps/web-ele/vite.config.mts
  apps/web-naive/package.json
  apps/web-naive/src/router/routes/modules/vben.ts
  internal/lint-configs/eslint-config/package.json
  internal/lint-configs/eslint-config/src/configs/typescript.ts
  internal/vite-config/src/typing.ts
  package.json
  packages/@core/base/icons/package.json
  packages/@core/base/typings/package.json
  packages/@core/base/typings/src/basic.d.ts
  packages/@core/base/typings/vue-router.d.ts
  packages/@core/ui-kit/shadcn-ui/package.json
  packages/effects/common-ui/package.json
  packages/effects/hooks/package.json
  packages/effects/layouts/package.json
  packages/stores/package.json
  packages/types/global.d.ts
  packages/types/package.json
  packages/utils/package.json
  pnpm-lock.yaml
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write

chore: update upgrade prompt
  src/layouts/default/header/components/UpgradePrompt.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

chore: 文档添加社区链接，增加QQ群和QQ频道二维码
  website/.vitepress/config.mts
  website/src/public/guide/qq.png
  website/src/public/guide/qq_channel.png
Due: none

chore: 增加社区交流页面
  website/.vitepress/config.mts
  website/src/commercial/community.md
  website/src/commercial/technical-support.md
Due: prettier --cache --ignore-unknown --write

chore: 顶部社区跳转到社区交流页面
  website/.vitepress/config.mts
Due: none

chore: update UpgradePrompt
  src/layouts/default/header/components/UpgradePrompt.vue
  src/locales/lang/en/layout.json
  src/locales/lang/zh-CN/layout.json
Due: eslint --cache --fix, prettier --write, stylelint --fix

feat: 1.ApiSelect增加远程搜索功能 2.ApiSelect设定懒加载时允许控制空搜索时不查询
  src/components/Form/src/components/ApiSelect.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

feat: 增加下拉远程搜索Json版本demo
  src/views/demo/form/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

chore: update router locales
  apps/web-antd/src/router/routes/modules/vben.ts
  apps/web-ele/src/router/routes/modules/vben.ts
  apps/web-ele/src/views/demos/element/index.vue
  apps/web-naive/src/router/routes/modules/vben.ts
  packages/locales/src/langs/en-US.json
  packages/locales/src/langs/zh-CN.json
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

chore: typo in quick-start
  website/src/guide/introduction/quick-start.md
Due: prettier --cache --ignore-unknown --write

chore: update Readme.md
  README.md
  README.zh-CN.md
Due: prettier --cache --ignore-unknown --write

chore: update deps
  .npmrc
  apps/web-antd/.env.production
  apps/web-antd/package.json
  apps/web-ele/.env.production
  apps/web-ele/package.json
  apps/web-naive/.env.production
  apps/web-naive/package.json
  internal/lint-configs/eslint-config/package.json
  internal/tailwind-config/package.json
  internal/vite-config/package.json
  package.json
  packages/@core/base/typings/package.json
  packages/effects/common-ui/package.json
  packages/effects/hooks/package.json
  packages/effects/layouts/package.json
  packages/stores/package.json
  packages/types/package.json
  packages/utils/package.json
  pnpm-lock.yaml
  website/src/guide/in-depth/access.md
  website/src/guide/in-depth/features.md
  website/src/guide/introduction/vben.md
Due: prettier --cache --ignore-unknown --write, prettier --cache --write

chore: update docs
  website/src/guide/in-depth/access.md
  website/src/guide/project/cli.md
Due: prettier --cache --ignore-unknown --write

chore: Delete unnecessary files
  packages/constants/build.config.ts
  packages/effects/access/build.config.ts
  packages/effects/chart-ui/build.config.ts
  packages/effects/common-ui/build.config.ts
  packages/effects/hooks/build.config.ts
  packages/effects/layouts/build.config.ts
  packages/effects/request/build.config.ts
  packages/icons/build.config.ts
  packages/locales/build.config.ts
  packages/preferences/build.config.ts
  packages/stores/build.config.ts
  packages/styles/build.config.ts
  packages/types/build.config.ts
  packages/utils/build.config.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

feat(ci): add codeql.yml [deploy]
  .github/workflows/codeql.yml
Due: none

fix: some environments failed to build
  .github/workflows/draft.yml
  package.json
Due: prettier --cache --write
