Repository vbenjs/vue-vben-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

feat: iframe expose postmessage function (#3368)
  src/views/sys/iframe/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

chore(table): typo
  src/components/Table/src/types/table.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

perf(BasicTree): 外部获取treeData不必通过treeDataRef.value
  src/components/Tree/src/BasicTree.vue
  src/components/Tree/src/types/tree.ts
  src/views/demo/tree/ActionTree.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

feat(treeTable): add function collapseRows and demo
  src/components/Table/src/BasicTable.vue
  src/components/Table/src/hooks/useTable.ts
  src/components/Table/src/hooks/useTableExpand.ts
  src/components/Table/src/types/table.ts
  src/views/demo/table/TreeTable.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

chore(table): typo (#3374)
  src/components/Table/src/types/table.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

perf(BasicTree): 外部获取treeData不必通过treeDataRef.value (#3353)
  src/components/Tree/src/BasicTree.vue
  src/components/Tree/src/types/tree.ts
  src/views/demo/tree/ActionTree.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

feat(treeTable): add function collapseRows and demo (#3375)
  src/components/Table/src/BasicTable.vue
  src/components/Table/src/hooks/useTable.ts
  src/components/Table/src/hooks/useTableExpand.ts
  src/components/Table/src/types/table.ts
  src/views/demo/table/TreeTable.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

feat: table搜索表单值发生改变可以触发reload
  src/components/Form/src/components/FormItem.vue
  src/components/Form/src/props.ts
  src/components/Form/src/types/form.ts
  src/views/demo/table/tableData.tsx
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

feat: table搜索表单值发生改变可以触发reload (#3378)
  src/components/Form/src/components/FormItem.vue
  src/components/Form/src/props.ts
  src/components/Form/src/types/form.ts
  src/views/demo/table/tableData.tsx
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: 使用suffix时，label没有垂直居中
  src/components/Form/src/BasicForm.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: 使用suffix时，label没有垂直居中 (#3384)
  src/components/Form/src/BasicForm.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix:table表格宽度自适应，隐藏的列导致宽度增加
  src/components/Table/src/hooks/useTableScroll.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix(BasicTable): table表格宽度自适应，隐藏的列导致宽度增加 (#3388)
  src/components/Table/src/hooks/useTableScroll.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

feat: Icon统一导出
  src/components/Icon/index.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

feat(Prompt): 增加InputPassword类型
  src/components/Prompt/state.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: table height calc when fullcontent and footer visible change
  src/components/Table/src/hooks/useTableScroll.ts
  src/layouts/default/footer/index.vue
  src/settings/designSetting.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: useRootSetting dep path wrong
  src/components/Table/src/hooks/useTableScroll.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

feat(hooks): useWatermark添加水印防篡改功能
  src/hooks/web/useWatermark.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: table height calc when fullcontent and footer visible change (#3392)
  src/components/Table/src/hooks/useTableScroll.ts
  src/layouts/default/footer/index.vue
  src/settings/designSetting.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

feat(hooks): useWatermark添加水印防篡改功能(#3395)
  src/hooks/web/useWatermark.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

refactor: ColumnSetting and SizeSetting persist
  src/components/Table/src/components/settings/ColumnSetting.vue
  src/components/Table/src/components/settings/SizeSetting.vue
  src/components/Table/src/types/table.ts
  src/enums/cacheEnum.ts
  src/store/modules/tableSetting.ts
  src/utils/cache/persistent.ts
  types/store.d.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

feat(hooks): useWatermark添加水印防篡改功能(#3395) (#3397)
  src/hooks/web/useWatermark.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix(BasicDrawer): remove toRaw props
  src/components/Drawer/src/BasicDrawer.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix(BasicDrawer): remove toRaw props (#3399)
  src/components/Drawer/src/BasicDrawer.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

feat: ColumnSetting and SizeSetting persist (#3398)
  src/components/Table/src/components/settings/ColumnSetting.vue
  src/components/Table/src/components/settings/SizeSetting.vue
  src/components/Table/src/types/table.ts
  src/enums/cacheEnum.ts
  src/store/modules/tableSetting.ts
  src/utils/cache/persistent.ts
  types/store.d.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: navigator.clipboard 兼容问题 #3372
  src/layouts/default/setting/components/SettingFooter.vue
  src/utils/copyTextToClipboard.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: navigator.clipboard 兼容问题 #3372 (#3403)
  src/layouts/default/setting/components/SettingFooter.vue
  src/utils/copyTextToClipboard.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

Revert "feat: table搜索表单值发生改变可以触发reload (#3378)"
  src/components/Form/src/components/FormItem.vue
  src/components/Form/src/props.ts
  src/components/Form/src/types/form.ts
  src/views/demo/table/tableData.tsx
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

Path conditions:
  prettier --cache --ignore-unknown --write: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.{scss,less,styl,html})) or (any of: *.md)
  eslint --cache --fix: (any of: *.{js,jsx,ts,tsx}) or (any of: *.vue)
  prettier --cache --write: any of: package.json
  prettier --write: any of: *.vue
  stylelint --fix: (any of: *.vue) or (any of: *.{scss,less,styl,html})
