Repository vbenjs/vue-vben-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": ["prettier --cache --ignore-unknown  --write", "eslint --cache --fix"],
  "{!(package)*.json,*.code-snippets,.!(browserslist)*rc}": [
    "prettier --cache --write--parser json"
  ],
  "package.json": ["prettier --cache --write"],
  "*.vue": ["prettier --write", "eslint --cache --fix", "stylelint --fix"],
  "*.{scss,less,styl,html}": ["prettier --cache --ignore-unknown --write", "stylelint --fix"],
  "*.md": ["prettier --cache --ignore-unknown --write"]
}

fix(ApiSelect): BasicForm emit ield-value-change twice
  src/components/Form/src/components/ApiSelect.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

chore(ApiSelect): 该组件设定成手动触发验证
  src/components/Form/src/helper.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: 还原表单组件引用
  src/components/Form/src/componentMap.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix(ApiTree): 多触发一次onchange
  src/components/Form/src/components/ApiTree.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

refactor: cipher
  src/utils/cache/storageCache.ts
  src/utils/cipher.ts
  src/utils/cipherOld.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

feat: add pinia persist plugin
  package.json
  pnpm-lock.yaml
  src/store/index.ts
  src/store/plugin/persist.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write

feat: add pinia persist plugin (#3173)
  package.json
  pnpm-lock.yaml
  src/store/index.ts
  src/store/plugin/persist.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write

refactor: cipher (#3174)
  src/utils/cache/storageCache.ts
  src/utils/cipher.ts
  src/utils/cipherOld.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

chore: ImageUpload demo
  src/views/demo/form/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

chore: fix SimpleRootMenuContextProps type error
  src/components/Drawer/src/BasicDrawer.vue
  src/components/SimpleMenu/src/components/Menu.vue
  src/components/SimpleMenu/src/components/useMenu.ts
  src/components/SimpleMenu/src/components/useSimpleMenuContext.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

chore: update ImageUpload demo
  src/views/demo/form/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: SimpleRootMenuContextProps type error (#3176)
  src/components/Drawer/src/BasicDrawer.vue
  src/components/SimpleMenu/src/components/Menu.vue
  src/components/SimpleMenu/src/components/useMenu.ts
  src/components/SimpleMenu/src/components/useSimpleMenuContext.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: 'visible' will be removed in next major version
  src/components/Form/src/components/ImageUpload.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix(Menu): tab标签切换选中状态焦点重复. fix #1681
  src/components/SimpleMenu/src/components/SubMenuItem.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix(ApiCascader): apiParamKey not working
  src/components/Form/src/components/ApiCascader.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

chore(BasicTree): Resolve ts type error
  src/components/Tree/src/BasicTree.vue
  src/components/Tree/src/TreeIcon.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

chore(BasicTable): resolve BasicTable component ts type error
  src/components/Table/src/BasicTable.vue
  src/components/Table/src/components/HeaderCell.vue
  src/components/Table/src/hooks/useColumns.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix(BasicTree): not inherit slot and not show icon slot. close #1902
  src/components/Tree/src/BasicTree.vue
  src/components/Tree/src/TreeIcon.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

chore(demo): basicTree组件增加icon 和 switcherIcon示例
  src/views/demo/tree/data.ts
  src/views/demo/tree/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

chore: 修改api接口返回值参数
  src/components/Form/src/components/ImageUpload.vue
  src/views/demo/form/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

feat: Form增加ImageUpload组件 (#3172)
  src/components/Form/index.ts
  src/components/Form/src/componentMap.ts
  src/components/Form/src/components/ImageUpload.vue
  src/components/Form/src/helper.ts
  src/components/Form/src/types/index.ts
  src/views/demo/form/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

feat: 增加文本省略组件
  src/components/EllipsisText/index.ts
  src/components/EllipsisText/src/EllipsisText.vue
  src/locales/lang/en/routes/demo.json
  src/locales/lang/zh-CN/routes/demo.json
  src/router/routes/modules/demo/feat.ts
  src/utils/strLength.ts
  src/views/demo/feat/ellipsis/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix(tabs): 修复标签页快捷菜单缩小问题
  src/layouts/default/tabs/components/TabContent.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

refactor: 重构文本省略组件
  src/components/EllipsisText/src/EllipsisText.vue
  src/components/EllipsisText/src/Tooltip.vue
  src/components/EllipsisText/src/_utils.ts
  src/utils/strLength.ts
  src/views/demo/feat/ellipsis/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

feat: 增加远程懒加载下拉树功能
  src/components/Form/src/components/ApiTreeSelect.vue
  src/views/demo/feat/ellipsis/index.vue
  src/views/demo/form/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix(Upload): The file name is too long bug
  src/components/Upload/src/FileList.vue
  src/components/Upload/src/data.tsx
  src/locales/lang/en/component.json
  src/locales/lang/zh-CN/component.json
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

feat: 站内切换接口API
  src/enums/cacheEnum.ts
  src/layouts/default/header/components/ChangeApi/index.vue
  src/layouts/default/header/components/user-dropdown/index.vue
  src/store/modules/app.ts
  src/utils/env.ts
  types/store.d.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

feat: 站内切换接口API
  src/utils/env.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix
