Repository vbenjs/vue-vben-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": ["prettier --cache --ignore-unknown  --write", "eslint --cache --fix"],
  "{!(package)*.json,*.code-snippets,.!(browserslist)*rc}": [
    "prettier --cache --write--parser json"
  ],
  "package.json": ["prettier --cache --write"],
  "*.vue": ["prettier --write", "eslint --cache --fix", "stylelint --fix"],
  "*.{scss,less,styl,html}": ["prettier --cache --ignore-unknown --write", "stylelint --fix"],
  "*.md": ["prettier --cache --ignore-unknown --write"]
}

chore: release 2.11.4
  CHANGELOG.md
  package.json
Due: prettier --cache --ignore-unknown --write, prettier --cache --write

fix(imgUpload): disabled not effect in the form
  src/components/Upload/src/components/ImageUpload.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix(imgUpload): disabled not effect in the form (#3809)
  src/components/Upload/src/components/ImageUpload.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

测试git
  .env
Due: none

测试
  .env
Due: none

测试
  .env
  CHANGELOG.en_US.md
  CHANGELOG.md
  CHANGELOG.zh_CN.md
Due: prettier --cache --ignore-unknown --write

perf(components): 优化下拉表格组件，支持搜索
  src/components/Form/src/smart-boot/components/SmartPulldownTable.tsx
  src/components/Form/src/smart-boot/components/style/SmartPullownTable.less
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, stylelint --fix

feat(认证): access 认证支持设置租户
  src/modules/smart-system/views/accessSecret/SysAuthAccessSecretListView.api.ts
  src/modules/smart-system/views/accessSecret/SysAuthAccessSecretListView.config.ts
  src/modules/smart-system/views/accessSecret/SysAuthAccessSecretListView.vue
  src/modules/smart-system/views/accessSecret/lang/zh_CN.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix(BasicModal): 修复BasicModal添加wrapClassName样式异常问题
  vite.config.ts.timestamp-1712666259713-c676d8b11191e.mjs
Due: none

fix(Breadcrumb): if hideBreadcrumb is true and hidden
  src/layouts/default/header/components/Breadcrumb.vue
  vite.config.ts.timestamp-1715092294202-fe71971d0784.mjs
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix(Breadcrumb): if hideBreadcrumb is true and hidden
  vite.config.ts.timestamp-1715092294202-fe71971d0784.mjs
Due: none

perf(BasicForm):fix invaild defaultValue && split-setdefault-setvalue
  src/components/Form/src/BasicForm.vue
  src/components/Form/src/hooks/useForm.ts
  src/components/Form/src/hooks/useFormEvents.ts
  src/components/Form/src/hooks/useFormValues.ts
  src/components/Form/src/types/form.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix(Form组件): 修复form组件setFieldsValue，setFieldsValue({date: dayjs() }) 会报错问题
  src/components/Form/src/hooks/useFormEvents.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

perf(BasicForm): fix invaild defaultValue && split-setdefault-setvalue (#3815)
  src/components/Form/src/BasicForm.vue
  src/components/Form/src/hooks/useForm.ts
  src/components/Form/src/hooks/useFormEvents.ts
  src/components/Form/src/hooks/useFormValues.ts
  src/components/Form/src/types/form.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix(BasicForm): setFieldsValue not work in form when use date comp
  src/components/Form/src/hooks/useFormEvents.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: Rename the default export name
  src/router/routes/modules/demo/flow.ts
  src/router/routes/modules/demo/level.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix(BasicForm): add lost time component
  src/components/Form/src/helper.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix(Breadcrumb): if hideBreadcrumb is true and hidden
  src/layouts/default/header/components/Breadcrumb.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix(BasicForm): setFieldsValue not work in form when use date comp (#3819)
  src/components/Form/src/helper.ts
  src/components/Form/src/hooks/useFormEvents.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

chore: Rename the default export name (#3820)
  src/router/routes/modules/demo/flow.ts
  src/router/routes/modules/demo/level.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix(Breadcrumb): if hideBreadcrumb is true and hidden (#3821)
  src/layouts/default/header/components/Breadcrumb.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

feat: ScreenShot
  package.json
  pnpm-lock.yaml
  src/locales/lang/en/routes/demo.json
  src/locales/lang/zh-CN/routes/demo.json
  src/router/routes/modules/demo/feat.ts
  src/views/demo/feat/screenshot/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

fix(BasicForm): when value is 0 or false resetFields is not work
  src/components/Form/src/hooks/useForm.ts
  src/components/Form/src/hooks/useFormEvents.ts
  src/components/Form/src/hooks/useFormValues.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix(BasicForm): when value is 0 or false resetFields is not work
  src/components/Form/src/hooks/useFormEvents.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

chore(codeEditor): add type and config && add use case
  src/components/CodeEditor/src/CodeEditor.vue
  src/components/CodeEditor/src/codemirror/CodeMirror.vue
  src/components/CodeEditor/src/codemirror/codemirror.css
  src/components/CodeEditor/src/typing.ts
  src/locales/lang/en/routes/demo.json
  src/locales/lang/zh-CN/routes/demo.json
  src/router/routes/modules/demo/comp.ts
  src/views/demo/editor/code/Editor.vue
  src/views/demo/editor/code/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

type(codeEditor): perf the config
  src/components/CodeEditor/src/CodeEditor.vue
  src/components/CodeEditor/src/codemirror/CodeMirror.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix annotate
  src/components/CodeEditor/src/typing.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix(BasicForm):修复FormSchema中使用ifShow隐藏字段时，默认表单查询重置按钮位置偏移量计算问题
  src/components/Form/src/hooks/useAdvanced.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

feat(codeEditor): add type and config && add use case (#3829)
  src/components/CodeEditor/src/CodeEditor.vue
  src/components/CodeEditor/src/codemirror/CodeMirror.vue
  src/components/CodeEditor/src/codemirror/codemirror.css
  src/components/CodeEditor/src/typing.ts
  src/locales/lang/en/routes/demo.json
  src/locales/lang/zh-CN/routes/demo.json
  src/router/routes/modules/demo/comp.ts
  src/views/demo/editor/code/Editor.vue
  src/views/demo/editor/code/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

feat(Demo): add ScreenShot page demo (#3826)
  package.json
  pnpm-lock.yaml
  src/locales/lang/en/routes/demo.json
  src/locales/lang/zh-CN/routes/demo.json
  src/router/routes/modules/demo/feat.ts
  src/views/demo/feat/screenshot/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

fix(BasicForm): 修复FormSchema中使用ifShow隐藏字段时，默认表单查询重置按钮位置偏移量计算问题 (#3830)
  src/components/Form/src/hooks/useAdvanced.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

修改md
  .huskybak/commit-msg
  .huskybak/common.sh
  .huskybak/pre-commit
  LICENSE
  README.md
  README.md.bak
  README.zh-CN.md
Due: prettier --cache --ignore-unknown --write

fix(BasicForm): when value is 0 or false resetFields is not work (#3828)
  src/components/Form/src/hooks/useForm.ts
  src/components/Form/src/hooks/useFormEvents.ts
  src/components/Form/src/hooks/useFormValues.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: 路由参数存在非英文字符的情况下 会生成一个新的tab 而非返回原有tab
  src/store/modules/multipleTab.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix
