Repository vbenjs/vue-vben-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

fix: default value for nested fields
  packages/@core/base/shared/package.json
  packages/@core/base/shared/src/utils/index.ts
  packages/@core/ui-kit/form-ui/src/use-form-context.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write

feat: Add recalculate costs feature
  apps/web-np/src/api/order.ts
  apps/web-np/src/views/reports/order/form-modal-recalculate.vue
  apps/web-np/src/views/reports/order/index.vue
  apps/web-np/src/views/reports/order/table-config.ts
  apps/web-np/src/views/settings/cogs-handling-fees/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: default value for nested fields (#5763)
  packages/@core/base/shared/package.json
  packages/@core/base/shared/src/utils/index.ts
  packages/@core/ui-kit/form-ui/src/use-form-context.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write

feat: Add recalculate costs feature
  apps/web-np/src/constants.ts
  apps/web-np/src/router/routes/modules/reports.ts
  apps/web-np/src/views/reports/order/index.vue
  apps/web-np/src/views/settings/cogs-handling-fees/form-modal-cogs.vue
  apps/web-np/src/views/settings/cogs-handling-fees/form-modal-import.vue
  apps/web-np/src/views/settings/cogs-handling-fees/form-modal-product.vue
  apps/web-np/src/views/settings/cogs-handling-fees/form-modal-recalculate.vue
  apps/web-np/src/views/settings/cogs-handling-fees/index.vue
  apps/web-np/src/views/settings/cogs-handling-fees/table-config.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

feat: Add recalculate costs feature
  apps/web-np/src/views/reports/order/form-modal-recalculate.vue
  apps/web-np/src/views/settings/cogs-handling-fees/form-modal-import.vue
  apps/web-np/src/views/settings/cogs-handling-fees/form-modal-product.vue
  apps/web-np/src/views/settings/cogs-handling-fees/index.vue
  apps/web-np/src/views/settings/transaction-fees/form-modal-recalculate.vue
  apps/web-np/src/views/settings/transaction-fees/index.vue
  apps/web-np/src/views/settings/zone-shipping/form-modal.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

feat: Add recalculate costs feature
  apps/web-np/src/views/settings/zone-shipping/form-modal-recalculate.vue
  apps/web-np/src/views/settings/zone-shipping/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

feat: Add recalculate costs feature
  apps/web-np/src/views/settings/custom-costs/form-modal-example.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

feat: Add notification
  apps/web-np/.env.development
  apps/web-np/.env.production
  apps/web-np/src/store/shop.ts
  apps/web-np/src/views/settings/cogs-handling-fees/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

feat(ui): logo icon support click events (#5725)
  packages/effects/layouts/src/authentication/authentication.vue
  packages/effects/layouts/src/basic/layout.vue
  playground/src/layouts/auth.vue
  playground/src/layouts/basic.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: menu drawer can not be closed after a successful submitting
  playground/src/views/system/menu/modules/form.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: menu drawer can not be closed after a successful submitting (#5770)
  playground/src/views/system/menu/modules/form.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

feat: Add notification
  apps/web-np/src/store/shop.ts
  apps/web-np/src/views/_core/notification-message.vue
  apps/web-np/src/views/settings/cogs-handling-fees/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

feat: Update layout
  apps/web-np/src/layouts/basic.vue
  apps/web-np/src/preferences.ts
  apps/web-np/src/router/routes/core.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

feat: notification
  apps/web-np/src/api/index.ts
  apps/web-np/src/api/notification.ts
  apps/web-np/src/layouts/basic.vue
  apps/web-np/src/layouts/notification.vue
  apps/web-np/src/store/shop.ts
  apps/web-np/src/views/_core/notification-message.vue
  packages/effects/common-ui/src/components/index.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

feat: notification
  apps/web-np/src/layouts/basic.vue
  apps/web-np/src/layouts/notification.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

perf: 优化多文件上传入参是数组的情况 (#5757)
  packages/effects/request/src/request-client/modules/uploader.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: popover background color in dark mode
  packages/@core/base/design/src/design-tokens/dark.css
Due: none

fix: popover background color in dark mode (#5783)
  packages/@core/base/design/src/design-tokens/dark.css
Due: none

feat: p and l report
  apps/web-np/package.json
  apps/web-np/src/api/order.ts
  apps/web-np/src/router/routes/modules/reports.ts
  apps/web-np/src/views/reports/p-and-l/index.vue
  apps/web-np/src/views/reports/p-and-l/table-config.ts
  pnpm-lock.yaml
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

style: 更正引用格式
  packages/icons/src/index.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

feat: p and l report
  apps/web-np/src/constants.ts
  apps/web-np/src/locales/langs/en-US/field-name.json
  apps/web-np/src/views/reports/order/table-config.ts
  apps/web-np/src/views/reports/order/table-filter.ts
  apps/web-np/src/views/reports/p-and-l/index.vue
  apps/web-np/src/views/reports/p-and-l/table-config.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

feat: p and l report
  apps/web-np/src/bootstrap.ts
  apps/web-np/src/locales/langs/en-US/field-name.json
  apps/web-np/src/utils.ts
  apps/web-np/src/views/reports/order/table-config.ts
  apps/web-np/src/views/reports/p-and-l/index.vue
  apps/web-np/src/views/reports/p-and-l/table-config.ts
  apps/web-np/src/views/settings/custom-costs/form-modal.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

feat: p and l report
  apps/web-np/src/locales/langs/en-US/field-name.json
  apps/web-np/src/utils.ts
  apps/web-np/src/views/reports/p-and-l/index.vue
  apps/web-np/src/views/reports/p-and-l/table-config.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: auto check parent after node selected
  packages/@core/ui-kit/shadcn-ui/src/ui/tree/tree.vue
  packages/@core/ui-kit/shadcn-ui/src/ui/tree/types.ts
  playground/src/views/system/role/modules/form.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: auto check parent after node selected (#5794)
  packages/@core/ui-kit/shadcn-ui/src/ui/tree/tree.vue
  packages/@core/ui-kit/shadcn-ui/src/ui/tree/types.ts
  playground/src/views/system/role/modules/form.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

perf: improve component packaging to enable instance method retrieval
  apps/web-antd/src/adapter/component/index.ts
  apps/web-ele/src/adapter/component/index.ts
  apps/web-naive/src/adapter/component/index.ts
  playground/src/adapter/component/index.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

perf: improve component packaging to enable instance method retrieval (#5795)
  apps/web-antd/src/adapter/component/index.ts
  apps/web-ele/src/adapter/component/index.ts
  apps/web-naive/src/adapter/component/index.ts
  playground/src/adapter/component/index.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

perf: improve api-component for using in form
  packages/effects/common-ui/src/components/api-component/api-component.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

perf: improve api-component for using in form (#5796)
  packages/effects/common-ui/src/components/api-component/api-component.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

feat: correct text
  apps/web-np/src/constants.ts
  apps/web-np/src/views/reports/order/form-modal-recalculate.vue
  apps/web-np/src/views/reports/order/table-filter.ts
  apps/web-np/src/views/settings/cogs-handling-fees/form-modal-recalculate.vue
  apps/web-np/src/views/settings/custom-costs/form-modal.vue
  apps/web-np/src/views/settings/custom-costs/table-filter.ts
  apps/web-np/src/views/settings/transaction-fees/form-modal-recalculate.vue
  apps/web-np/src/views/settings/zone-shipping/form-modal-recalculate.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

feat: p and l report
  apps/web-np/src/views/reports/p-and-l/table-config.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

feat: p and l report
  apps/web-np/src/locales/index.ts
  apps/web-np/src/views/reports/p-and-l/service.ts
  apps/web-np/src/views/reports/p-and-l/table-config.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

feat: p and l report
  apps/web-np/src/views/reports/p-and-l/service.ts
  apps/web-np/src/views/reports/p-and-l/table-config.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: vben tree component warning
  packages/@core/ui-kit/shadcn-ui/src/ui/tree/tree.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: vben tree component warning (#5809)
  packages/@core/ui-kit/shadcn-ui/src/ui/tree/tree.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

docs: fix form `compact` docs
  docs/src/components/common-ui/vben-form.md
Due: prettier --cache --ignore-unknown --write

docs: remove `compact` from FormCommonConfig
  docs/src/components/common-ui/vben-form.md
Due: prettier --cache --ignore-unknown --write

Path conditions:
  prettier --cache --ignore-unknown --write: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.{scss,less,styl,html})) or (any of: *.md)
  eslint --cache --fix: (any of: *.{js,jsx,ts,tsx}) or (any of: *.vue)
  prettier --cache --write: any of: package.json
  prettier --write: any of: *.vue
  stylelint --fix: (any of: *.vue) or (any of: *.{scss,less,styl,html})
