Repository vbenjs/vue-vben-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

fix(@vben-core/form-ui): resolve oxlint and eslint errors
  packages/@core/ui-kit/form-ui/package.json
  packages/@core/ui-kit/form-ui/src/components/form-field-array.vue
  packages/@core/ui-kit/form-ui/src/form-runtime.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

chore: fix merge artifacts and formatting
  package.json
  packages/@core/preferences/__tests__/__snapshots__/config.test.ts.snap
  playground/src/views/demos/form-array/README.md
Due: prettier --cache --ignore-unknown --write, prettier --cache --write

chore: 更新.gitattributes文件配置
  .gitattributes
Due: none

chore: 调整 sortablejs 的位置，只在用到的模块引入
  package.json
  packages/effects/layouts/package.json
  pnpm-lock.yaml
Due: prettier --cache --write

fix: non-null assertion lint error
  packages/effects/layouts/src/widgets/preferences/blocks/draggable-list.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: 修复点击退出图标确认后不能退出
  playground/src/layouts/basic.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: 图标排序等数组字段需顺序敏感比较
  packages/@core/base/shared/src/utils/__tests__/diff.test.ts
  packages/@core/base/shared/src/utils/diff.ts
  packages/@core/preferences/src/use-preferences.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

feat: 配置中增加 refresh 并统一位置
  packages/@core/preferences/__tests__/__snapshots__/config.test.ts.snap
  packages/@core/preferences/src/config.ts
  packages/effects/layouts/src/basic/header/header.vue
  packages/effects/layouts/src/widgets/preferences/blocks/layout/widget.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: 修复点击退出图标确认后不能退出 && 图标排序等数组字段需顺序敏感比较 (#8179)
  package.json
  packages/@core/base/shared/src/utils/__tests__/diff.test.ts
  packages/@core/base/shared/src/utils/diff.ts
  packages/@core/preferences/__tests__/__snapshots__/config.test.ts.snap
  packages/@core/preferences/src/config.ts
  packages/@core/preferences/src/use-preferences.ts
  packages/effects/layouts/package.json
  packages/effects/layouts/src/basic/header/header.vue
  packages/effects/layouts/src/widgets/preferences/blocks/draggable-list.vue
  packages/effects/layouts/src/widgets/preferences/blocks/layout/widget.vue
  playground/src/layouts/basic.vue
  pnpm-lock.yaml
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

refactor(@vben-core/form-ui): optimize form runtime and value flow
  packages/@core/ui-kit/form-ui/__tests__/form-api.test.ts
  packages/@core/ui-kit/form-ui/__tests__/form-compatibility.test.ts
  packages/@core/ui-kit/form-ui/__tests__/form-integration.test.ts
  packages/@core/ui-kit/form-ui/__tests__/form-runtime.test.ts
  packages/@core/ui-kit/form-ui/__tests__/form-types.test.ts
  packages/@core/ui-kit/form-ui/__tests__/form-value-transform.test.ts
  packages/@core/ui-kit/form-ui/src/components/form-actions.vue
  packages/@core/ui-kit/form-ui/src/components/form-field-array.vue
  packages/@core/ui-kit/form-ui/src/config.ts
  packages/@core/ui-kit/form-ui/src/field-name.ts
  packages/@core/ui-kit/form-ui/src/form-api.ts
  packages/@core/ui-kit/form-ui/src/form-render/dependencies.ts
  packages/@core/ui-kit/form-ui/src/form-render/form-field.vue
  packages/@core/ui-kit/form-ui/src/form-render/schema.ts
  packages/@core/ui-kit/form-ui/src/form-runtime-field.ts
  packages/@core/ui-kit/form-ui/src/form-runtime.ts
  packages/@core/ui-kit/form-ui/src/form-value-transform.ts
  packages/@core/ui-kit/form-ui/src/types.ts
  packages/@core/ui-kit/form-ui/src/vben-use-form.vue
  packages/effects/layouts/src/widgets/lock-screen/lock-screen-modal.vue
  playground/src/views/demos/form-array/index.vue
  playground/src/views/examples/form/basic.vue
  playground/src/views/examples/form/custom.vue
  playground/src/views/examples/form/rules.vue
  playground/src/views/system/menu/modules/form.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix(@vben/layouts): dispose sortable instance on unmount
  packages/effects/layouts/src/widgets/preferences/blocks/draggable-list.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

docs(@vben/docs): document form runtime API changes
  docs/src/components/common-ui/vben-form.md
  docs/src/demos/vben-form/dynamic/index.vue
  docs/src/en/components/common-ui/vben-form.md
  docs/src/en/guide/in-depth/zod-v4-form-migration.md
  docs/src/guide/in-depth/zod-v4-form-migration.md
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: fixed the icon defect which cause to langauge button can not be clicked
  packages/@core/ui-kit/shadcn-ui/src/components/button/icon-button.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: fixed the icon defect which cause to langauge button can not be clicked (#8184)
  packages/@core/ui-kit/shadcn-ui/src/components/button/icon-button.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

feat: fix some defect of Zod 4 refactor and add test cases
  packages/@core/ui-kit/form-ui/__tests__/form-integration.test.ts
  packages/@core/ui-kit/form-ui/src/form-render/form.vue
  packages/@core/ui-kit/form-ui/src/form-runtime.ts
  packages/@core/ui-kit/form-ui/src/types.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: 修复用户下拉框小部件菜单行点击无响应及弹框闪退
  .gitignore
  packages/effects/layouts/src/widgets/notification/notification.vue
  packages/effects/layouts/src/widgets/preferences/blocks/layout/widget.vue
  packages/effects/layouts/src/widgets/timezone/timezone-button.vue
  packages/effects/layouts/src/widgets/user-dropdown/user-dropdown.vue
  packages/locales/src/langs/zh-CN/preferences.json
Due: eslint --cache --fix, prettier --write, stylelint --fix

feat: draggable-list.vue 直接复用 SelectItem，用法和 tabbar.vue 完全一致
  packages/effects/layouts/src/widgets/preferences/blocks/draggable-list.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

refactor(project): propagate form codec generics
  apps/web-antd/src/adapter/form.ts
  apps/web-antdv-next/src/adapter/form.ts
  apps/web-ele/src/adapter/form.ts
  apps/web-naive/src/adapter/form.ts
  apps/web-tdesign/src/adapter/form.ts
  docs/src/_env/adapter/form.ts
  playground/src/adapter/form.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

refactor(@vben/playground): migrate form codec examples
  playground/src/views/demos/form-array/README.md
  playground/src/views/demos/form-array/index.vue
  playground/src/views/examples/form/basic.vue
  playground/src/views/examples/form/custom.vue
  playground/src/views/examples/form/value-format.vue
  playground/src/views/examples/vxe-table/form.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

feat(@vben-core/form-ui): add typed form value codecs
  packages/@core/ui-kit/form-ui/src/form-api.ts
  packages/@core/ui-kit/form-ui/src/form-codec.ts
  packages/@core/ui-kit/form-ui/src/form-render/form.vue
  packages/@core/ui-kit/form-ui/src/form-runtime.ts
  packages/@core/ui-kit/form-ui/src/index.ts
  packages/@core/ui-kit/form-ui/src/types.ts
  packages/@core/ui-kit/form-ui/src/use-vben-form.ts
  packages/@core/ui-kit/form-ui/src/vben-use-form.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

feat(@vben/plugins): propagate form codecs through vxe grids
  apps/web-antd/src/adapter/vxe-table.ts
  apps/web-antdv-next/src/adapter/vxe-table.ts
  apps/web-ele/src/adapter/vxe-table.ts
  apps/web-naive/src/adapter/vxe-table.ts
  apps/web-tdesign/src/adapter/vxe-table.ts
  packages/effects/plugins/src/vxe-table/api.ts
  packages/effects/plugins/src/vxe-table/types.ts
  packages/effects/plugins/src/vxe-table/use-vxe-grid.ts
  playground/src/adapter/vxe-table.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

docs(@vben/docs): document form value codecs
  docs/src/components/common-ui/vben-form.md
  docs/src/demos/vben-form/value-format/index.vue
  docs/src/en/components/common-ui/vben-form.md
  docs/src/en/guide/in-depth/zod-v4-form-migration.md
  docs/src/guide/in-depth/zod-v4-form-migration.md
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

refactor(@vben/playground): migrate query forms to codecs
  playground/src/views/system/menu/modules/form.vue
  playground/src/views/system/role/list.vue
  playground/src/views/system/user/list.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

test(@vben-core/form-ui): cover codec value boundaries
  packages/@core/ui-kit/form-ui/__tests__/form-api.test.ts
  packages/@core/ui-kit/form-ui/__tests__/form-codec.test.ts
  packages/@core/ui-kit/form-ui/__tests__/form-compatibility.test.ts
  packages/@core/ui-kit/form-ui/__tests__/form-integration.test.ts
  packages/@core/ui-kit/form-ui/__tests__/form-types.test.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: 修复锁定屏幕和退出登录小部件，位置在 user-dropdown 时，使用快捷键唤出两个模态窗
  packages/effects/layouts/src/basic/header/header.vue
  packages/effects/layouts/src/widgets/user-dropdown/user-dropdown.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: dropdown menu responsiveness and improve dialog handling (#8187)
  .gitignore
  packages/effects/layouts/src/widgets/notification/notification.vue
  packages/effects/layouts/src/widgets/preferences/blocks/draggable-list.vue
  packages/effects/layouts/src/widgets/preferences/blocks/layout/widget.vue
  packages/effects/layouts/src/widgets/timezone/timezone-button.vue
  packages/effects/layouts/src/widgets/user-dropdown/user-dropdown.vue
  packages/locales/src/langs/zh-CN/preferences.json
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix(@vben-core/form-ui): preserve array field focus
  packages/@core/ui-kit/form-ui/__tests__/form-integration.test.ts
  packages/@core/ui-kit/form-ui/src/components/form-field-array.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix(@vben/playground): address form codec edge cases
  playground/src/views/demos/form-array/index.vue
  playground/src/views/system/menu/modules/form.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

refactor(@vben/playground): share date range codecs
  playground/__tests__/unit/date-range-codec.test.ts
  playground/src/utils/date-range-codec.ts
  playground/src/views/examples/vxe-table/form.vue
  playground/src/views/system/role/list.vue
  playground/src/views/system/user/list.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

perf(@vben-core/form-ui): benchmark form hot paths
  packages/@core/ui-kit/form-ui/__tests__/form-component-performance.benchmark.ts
  packages/@core/ui-kit/form-ui/__tests__/form-integration.test.ts
  packages/@core/ui-kit/form-ui/__tests__/form-performance.benchmark.ts
  packages/@core/ui-kit/form-ui/package.json
  packages/@core/ui-kit/form-ui/src/form-runtime.ts
  packages/@core/ui-kit/form-ui/src/vben-use-form.vue
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

perf(@vben-core/form-ui): optimize array field updates
  package.json
  packages/@core/ui-kit/form-ui/__tests__/form-integration.test.ts
  packages/@core/ui-kit/form-ui/__tests__/form-performance.benchmark.ts
  packages/@core/ui-kit/form-ui/src/components/form-field-array.vue
  packages/@core/ui-kit/form-ui/src/form-render/form-field.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

fix(@vben-core/form-ui): harden codec value boundaries
  packages/@core/ui-kit/form-ui/__tests__/form-api.test.ts
  packages/@core/ui-kit/form-ui/__tests__/form-types.test.ts
  packages/@core/ui-kit/form-ui/src/form-api.ts
  packages/@core/ui-kit/form-ui/src/types.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: 添加 StyleProvider 以支持 Tailwind 样式覆盖;移除 InputNumber 组件的宽度样式，优化组件适配;antdv 暂不支持
  apps/web-antdv-next/src/adapter/component/index.ts
  apps/web-antdv-next/src/app.vue
  apps/web-ele/src/adapter/component/index.ts
  apps/web-ele/vite.config.ts
  apps/web-naive/src/adapter/component/index.ts
  apps/web-tdesign/src/adapter/component/index.ts
  apps/web-tdesign/vite.config.ts
  internal/tailwind-config/src/theme.css
  internal/vite-config/src/plugins/css-layer.ts
  internal/vite-config/src/plugins/index.ts
  playground/src/adapter/component/index.ts
  playground/src/app.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

chore: bump versions
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --cache --write

chore: bump versions (#8192)
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --cache --write

test(@vben-core/form-ui): harden benchmark fixtures
  packages/@core/ui-kit/form-ui/__tests__/benchmark-fixtures.ts
  packages/@core/ui-kit/form-ui/__tests__/form-component-performance.benchmark.ts
  packages/@core/ui-kit/form-ui/__tests__/form-performance.benchmark.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix(@vben/playground): constrain date range codec fields
  playground/__tests__/unit/date-range-codec.test.ts
  playground/src/utils/date-range-codec.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

docs(@vben/docs): document form runtime and benchmarks
  docs/src/components/common-ui/vben-form.md
  docs/src/en/components/common-ui/vben-form.md
Due: prettier --cache --ignore-unknown --write

Path conditions:
  prettier --cache --ignore-unknown --write: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.{scss,less,styl,html})) or (any of: *.md)
  eslint --cache --fix: (any of: *.{js,jsx,ts,tsx}) or (any of: *.vue)
  prettier --cache --write: any of: package.json
  prettier --write: any of: *.vue
  stylelint --fix: (any of: *.vue) or (any of: *.{scss,less,styl,html})
