Repository vbenjs/vue-vben-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

feat: add example
  packages/@core/ui-kit/form-ui/src/config.ts
  packages/@core/ui-kit/form-ui/src/form-api.ts
  packages/@core/ui-kit/form-ui/src/form-render/dependencies.ts
  packages/@core/ui-kit/form-ui/src/form-render/form-field.vue
  packages/@core/ui-kit/form-ui/src/form-render/form.vue
  packages/@core/ui-kit/form-ui/src/form-render/helper.ts
  packages/@core/ui-kit/form-ui/src/types.ts
  packages/@core/ui-kit/form-ui/src/use-form-context.ts
  packages/@core/ui-kit/shadcn-ui/src/components/expandable-arrow/expandable-arrow.vue
  packages/effects/layouts/src/widgets/preferences/preferences-drawer.vue
  playground/src/adapter.ts
  playground/src/locales/langs/en-US.json
  playground/src/locales/langs/zh-CN.json
  playground/src/router/routes/modules/examples.ts
  playground/src/views/demos/features/clipboard/index.vue
  playground/src/views/examples/form/custom.vue
  playground/src/views/examples/form/dynamic.vue
  playground/src/views/examples/form/rules.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

feat: add formModel,formDrawer demo
  playground/src/views/examples/drawer/form-drawer-demo.vue
  playground/src/views/examples/drawer/index.vue
  playground/src/views/examples/modal/form-model-demo.vue
  playground/src/views/examples/modal/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: build error
  apps/web-antd/src/adapter/form.ts
  apps/web-antd/src/adapter/index.ts
  apps/web-ele/src/adapter/form.ts
  apps/web-ele/src/adapter/index.ts
  apps/web-naive/src/adapter/form.ts
  apps/web-naive/src/adapter/index.ts
  apps/web-naive/src/views/demos/naive/index.vue
  docs/.vitepress/config/zh.mts
  docs/src/components/common-ui/vben-form.md
  internal/vite-config/src/plugins/archiver.ts
  packages/@core/ui-kit/form-ui/src/form-api.ts
  packages/@core/ui-kit/form-ui/src/types.ts
  packages/@core/ui-kit/form-ui/src/use-vben-form.ts
  packages/locales/src/langs/en-US.json
  packages/locales/src/langs/zh-CN.json
  playground/src/adapter/form.ts
  playground/src/adapter/index.ts
  playground/src/locales/langs/en-US.json
  playground/src/locales/langs/zh-CN.json
  playground/src/views/examples/drawer/form-drawer-demo.vue
  playground/src/views/examples/drawer/index.vue
  playground/src/views/examples/modal/form-model-demo.vue
  playground/src/views/examples/modal/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: typo
  packages/effects/common-ui/src/components/captcha/index.ts
  packages/effects/common-ui/src/components/captcha/point-selection-captcha.vue
  packages/effects/common-ui/src/components/captcha/types.ts
  playground/src/views/examples/captcha/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: ci error
  packages/effects/common-ui/src/components/captcha/point-selection-captcha.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

chore: update deps
  apps/web-antd/package.json
  apps/web-ele/package.json
  apps/web-naive/package.json
  docs/package.json
  package.json
  packages/@core/base/icons/package.json
  packages/@core/base/shared/package.json
  packages/@core/base/typings/package.json
  packages/@core/composables/package.json
  packages/@core/preferences/package.json
  packages/@core/ui-kit/form-ui/package.json
  packages/@core/ui-kit/layout-ui/package.json
  packages/@core/ui-kit/menu-ui/package.json
  packages/@core/ui-kit/popup-ui/package.json
  packages/@core/ui-kit/shadcn-ui/package.json
  packages/@core/ui-kit/tabs-ui/package.json
  packages/effects/access/package.json
  packages/effects/common-ui/package.json
  packages/effects/hooks/package.json
  packages/effects/layouts/package.json
  packages/effects/plugins/package.json
  packages/locales/package.json
  packages/stores/package.json
  packages/types/package.json
  playground/package.json
  pnpm-lock.yaml
Due: prettier --cache --write

chore: typo
  packages/effects/layouts/src/widgets/theme-toggle/theme-button.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

chore: release v5.3.0-beta.1
  apps/web-antd/package.json
  apps/web-ele/package.json
  apps/web-naive/package.json
  docs/package.json
  internal/lint-configs/commitlint-config/package.json
  internal/lint-configs/stylelint-config/package.json
  internal/node-utils/package.json
  internal/tailwind-config/package.json
  internal/tsconfig/package.json
  internal/vite-config/package.json
  package.json
  packages/@core/base/design/package.json
  packages/@core/base/icons/package.json
  packages/@core/base/shared/package.json
  packages/@core/base/typings/package.json
  packages/@core/composables/package.json
  packages/@core/preferences/package.json
  packages/@core/ui-kit/layout-ui/package.json
  packages/@core/ui-kit/menu-ui/package.json
  packages/@core/ui-kit/shadcn-ui/package.json
  packages/@core/ui-kit/tabs-ui/package.json
  packages/constants/package.json
  packages/effects/access/package.json
  packages/effects/common-ui/package.json
  packages/effects/hooks/package.json
  packages/effects/layouts/package.json
  packages/effects/plugins/package.json
  packages/effects/request/package.json
  packages/icons/package.json
  packages/locales/package.json
  packages/preferences/package.json
  packages/stores/package.json
  packages/styles/package.json
  packages/types/package.json
  packages/utils/package.json
  playground/package.json
  scripts/turbo-run/package.json
  scripts/vsh/package.json
Due: prettier --cache --write

chore: release v5.3.0-beta.1 [skip ci]
  apps/web-antd/package.json
  apps/web-ele/package.json
  apps/web-naive/package.json
  docs/package.json
  internal/lint-configs/commitlint-config/package.json
  internal/lint-configs/stylelint-config/package.json
  internal/node-utils/package.json
  internal/tailwind-config/package.json
  internal/tsconfig/package.json
  internal/vite-config/package.json
  package.json
  packages/@core/base/design/package.json
  packages/@core/base/icons/package.json
  packages/@core/base/shared/package.json
  packages/@core/base/typings/package.json
  packages/@core/composables/package.json
  packages/@core/preferences/package.json
  packages/@core/ui-kit/layout-ui/package.json
  packages/@core/ui-kit/menu-ui/package.json
  packages/@core/ui-kit/shadcn-ui/package.json
  packages/@core/ui-kit/tabs-ui/package.json
  packages/constants/package.json
  packages/effects/access/package.json
  packages/effects/common-ui/package.json
  packages/effects/hooks/package.json
  packages/effects/layouts/package.json
  packages/effects/plugins/package.json
  packages/effects/request/package.json
  packages/icons/package.json
  packages/locales/package.json
  packages/preferences/package.json
  packages/stores/package.json
  packages/styles/package.json
  packages/types/package.json
  packages/utils/package.json
  playground/package.json
  scripts/turbo-run/package.json
  scripts/vsh/package.json
Due: prettier --cache --write

chore: release v5.3.0-beta.2
  apps/web-antd/package.json
  apps/web-ele/package.json
  apps/web-naive/package.json
  docs/package.json
  internal/lint-configs/commitlint-config/package.json
  internal/lint-configs/stylelint-config/package.json
  internal/node-utils/package.json
  internal/tailwind-config/package.json
  internal/tsconfig/package.json
  internal/vite-config/package.json
  package.json
  packages/@core/base/design/package.json
  packages/@core/base/icons/package.json
  packages/@core/base/shared/package.json
  packages/@core/base/typings/package.json
  packages/@core/composables/package.json
  packages/@core/preferences/package.json
  packages/@core/ui-kit/layout-ui/package.json
  packages/@core/ui-kit/menu-ui/package.json
  packages/@core/ui-kit/shadcn-ui/package.json
  packages/@core/ui-kit/tabs-ui/package.json
  packages/constants/package.json
  packages/effects/access/package.json
  packages/effects/common-ui/package.json
  packages/effects/hooks/package.json
  packages/effects/layouts/package.json
  packages/effects/plugins/package.json
  packages/effects/request/package.json
  packages/icons/package.json
  packages/locales/package.json
  packages/preferences/package.json
  packages/stores/package.json
  packages/styles/package.json
  packages/types/package.json
  packages/utils/package.json
  playground/package.json
  scripts/turbo-run/package.json
  scripts/vsh/package.json
Due: prettier --cache --write

feat: add change FormProps logic
  playground/src/views/examples/form/basic.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

chore: update menu icons
  apps/web-antd/src/router/routes/modules/dashboard.ts
  apps/web-antd/src/router/routes/modules/vben.ts
  apps/web-ele/src/router/routes/modules/dashboard.ts
  apps/web-ele/src/router/routes/modules/vben.ts
  apps/web-naive/src/router/routes/modules/dashboard.ts
  apps/web-naive/src/router/routes/modules/vben.ts
  packages/@core/ui-kit/menu-ui/src/components/menu-item.vue
  packages/@core/ui-kit/shadcn-ui/src/components/breadcrumb/breadcrumb-background.vue
  packages/@core/ui-kit/shadcn-ui/src/components/breadcrumb/breadcrumb.vue
  packages/@core/ui-kit/tabs-ui/src/components/tabs-chrome/tabs.vue
  packages/icons/src/svg/icons/antdv-logo.svg
  packages/icons/src/svg/index.ts
  playground/src/router/routes/modules/dashboard.ts
  playground/src/router/routes/modules/examples.ts
  playground/src/router/routes/modules/vben.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix(@vben/docs): build failed on windows
  docs/.vitepress/config/plugins/demo-preview.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix(@vben/docs): build failed on windows (#4362)
  docs/.vitepress/config/plugins/demo-preview.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: 修复宽度低于maxWidth时的文字溢出
  packages/effects/common-ui/src/components/ellipsis-text/ellipsis-text.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: text overflow when text omission component width is lower than maxWidth (#4364)
  packages/effects/common-ui/src/components/ellipsis-text/ellipsis-text.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

perf: update menu icons (#4357)
  apps/web-antd/src/router/routes/modules/dashboard.ts
  apps/web-antd/src/router/routes/modules/vben.ts
  apps/web-ele/src/router/routes/modules/dashboard.ts
  apps/web-ele/src/router/routes/modules/vben.ts
  apps/web-naive/src/router/routes/modules/dashboard.ts
  apps/web-naive/src/router/routes/modules/vben.ts
  packages/@core/ui-kit/menu-ui/src/components/menu-item.vue
  packages/@core/ui-kit/shadcn-ui/src/components/breadcrumb/breadcrumb-background.vue
  packages/@core/ui-kit/shadcn-ui/src/components/breadcrumb/breadcrumb.vue
  packages/@core/ui-kit/tabs-ui/src/components/tabs-chrome/tabs.vue
  packages/icons/src/svg/icons/antdv-logo.svg
  packages/icons/src/svg/index.ts
  playground/src/router/routes/modules/dashboard.ts
  playground/src/router/routes/modules/examples.ts
  playground/src/router/routes/modules/vben.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: vue received a Component that was made a reactive object
  packages/@core/base/shared/package.json
  packages/@core/base/shared/src/utils/index.ts
  packages/@core/base/shared/src/utils/reactivity.ts
  packages/@core/ui-kit/tabs-ui/package.json
  packages/@core/ui-kit/tabs-ui/src/components/tabs-chrome/tabs.vue
  packages/@core/ui-kit/tabs-ui/src/components/tabs/tabs.vue
  packages/effects/layouts/src/basic/layout.vue
  packages/effects/layouts/src/basic/menu/menu.vue
  pnpm-lock.yaml
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

fix: vue received a Component that was made a reactive object (#4367)
  packages/@core/base/shared/package.json
  packages/@core/base/shared/src/utils/index.ts
  packages/@core/base/shared/src/utils/reactivity.ts
  packages/@core/ui-kit/tabs-ui/package.json
  packages/@core/ui-kit/tabs-ui/src/components/tabs-chrome/tabs.vue
  packages/@core/ui-kit/tabs-ui/src/components/tabs/tabs.vue
  packages/effects/layouts/src/basic/layout.vue
  packages/effects/layouts/src/basic/menu/menu.vue
  pnpm-lock.yaml
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

fix: select components used in modal pop-ups cannot be selected
  packages/@core/base/design/src/css/global.css
  packages/@core/ui-kit/popup-ui/src/modal/modal-api.ts
  packages/@core/ui-kit/popup-ui/src/modal/modal.ts
  packages/@core/ui-kit/popup-ui/src/modal/modal.vue
  packages/effects/common-ui/src/ui/authentication/code-login.vue
  packages/effects/common-ui/src/ui/authentication/forget-password.vue
  packages/effects/common-ui/src/ui/authentication/login.vue
  packages/effects/common-ui/src/ui/authentication/qrcode-login.vue
  packages/effects/common-ui/src/ui/authentication/register.vue
  packages/effects/common-ui/src/ui/authentication/types.ts
  packages/effects/layouts/src/authentication/toolbar.vue
  playground/src/views/examples/modal/form-model-demo.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

chore: update ci
  .github/workflows/build.yml
Due: none

chore: update css
  packages/@core/base/design/src/css/global.css
Due: none

fix: select components used in modal pop-ups cannot be selected (#4368)
  .github/workflows/build.yml
  packages/@core/base/design/src/css/global.css
  packages/@core/ui-kit/popup-ui/src/modal/modal-api.ts
  packages/@core/ui-kit/popup-ui/src/modal/modal.ts
  packages/@core/ui-kit/popup-ui/src/modal/modal.vue
  packages/effects/common-ui/src/ui/authentication/code-login.vue
  packages/effects/common-ui/src/ui/authentication/forget-password.vue
  packages/effects/common-ui/src/ui/authentication/login.vue
  packages/effects/common-ui/src/ui/authentication/qrcode-login.vue
  packages/effects/common-ui/src/ui/authentication/register.vue
  packages/effects/common-ui/src/ui/authentication/types.ts
  packages/effects/layouts/src/authentication/toolbar.vue
  playground/src/views/examples/modal/form-model-demo.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: fixed some style issues
  apps/web-antd/src/router/index.ts
  apps/web-ele/src/router/index.ts
  apps/web-naive/src/router/index.ts
  docs/src/en/guide/essentials/development.md
  docs/src/en/guide/introduction/thin.md
  docs/src/guide/essentials/development.md
  docs/src/guide/introduction/thin.md
  package.json
  packages/@core/base/shared/src/utils/merge.ts
  packages/@core/ui-kit/form-ui/src/form-api.ts
  packages/@core/ui-kit/form-ui/src/form-render/expandable.ts
  packages/@core/ui-kit/popup-ui/src/drawer/drawer-api.ts
  packages/@core/ui-kit/popup-ui/src/drawer/drawer.ts
  packages/@core/ui-kit/popup-ui/src/drawer/drawer.vue
  packages/@core/ui-kit/popup-ui/src/modal/modal-api.ts
  packages/@core/ui-kit/popup-ui/src/modal/modal.ts
  packages/@core/ui-kit/popup-ui/src/modal/modal.vue
  packages/@core/ui-kit/shadcn-ui/src/components/index.ts
  packages/@core/ui-kit/shadcn-ui/src/components/spine-text/index.ts
  packages/@core/ui-kit/shadcn-ui/src/components/spine-text/spine-text.vue
  packages/effects/common-ui/src/ui/authentication/code-login.vue
  packages/effects/common-ui/src/ui/authentication/forget-password.vue
  packages/effects/common-ui/src/ui/authentication/login.vue
  packages/effects/common-ui/src/ui/authentication/register.vue
  playground/src/router/index.ts
  playground/src/views/examples/form/custom.vue
  playground/src/views/examples/form/dynamic.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

fix: fixed some style issues (#4379)
  apps/web-antd/src/router/index.ts
  apps/web-ele/src/router/index.ts
  apps/web-naive/src/router/index.ts
  docs/src/en/guide/essentials/development.md
  docs/src/en/guide/introduction/thin.md
  docs/src/guide/essentials/development.md
  docs/src/guide/introduction/thin.md
  package.json
  packages/@core/base/shared/src/utils/merge.ts
  packages/@core/ui-kit/form-ui/src/form-api.ts
  packages/@core/ui-kit/form-ui/src/form-render/expandable.ts
  packages/@core/ui-kit/popup-ui/src/drawer/drawer-api.ts
  packages/@core/ui-kit/popup-ui/src/drawer/drawer.ts
  packages/@core/ui-kit/popup-ui/src/drawer/drawer.vue
  packages/@core/ui-kit/popup-ui/src/modal/modal-api.ts
  packages/@core/ui-kit/popup-ui/src/modal/modal.ts
  packages/@core/ui-kit/popup-ui/src/modal/modal.vue
  packages/@core/ui-kit/shadcn-ui/src/components/index.ts
  packages/@core/ui-kit/shadcn-ui/src/components/spine-text/index.ts
  packages/@core/ui-kit/shadcn-ui/src/components/spine-text/spine-text.vue
  packages/effects/common-ui/src/ui/authentication/code-login.vue
  packages/effects/common-ui/src/ui/authentication/forget-password.vue
  packages/effects/common-ui/src/ui/authentication/login.vue
  packages/effects/common-ui/src/ui/authentication/register.vue
  playground/src/router/index.ts
  playground/src/views/examples/form/custom.vue
  playground/src/views/examples/form/dynamic.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

fix: ci error
  apps/web-antd/src/views/_core/authentication/login.vue
  apps/web-ele/src/views/_core/authentication/login.vue
  apps/web-naive/src/views/_core/authentication/login.vue
  packages/locales/src/langs/zh-CN.json
  playground/src/views/_core/authentication/login.vue
  turbo.json
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: try to fix the ci error (#4381)
  apps/web-antd/src/views/_core/authentication/login.vue
  apps/web-ele/src/views/_core/authentication/login.vue
  apps/web-naive/src/views/_core/authentication/login.vue
  packages/locales/src/langs/zh-CN.json
  playground/src/views/_core/authentication/login.vue
  turbo.json
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: ci error
  docs/src/en/guide/essentials/development.md
  docs/src/en/guide/introduction/thin.md
  docs/src/guide/essentials/development.md
  docs/src/guide/introduction/thin.md
  package.json
Due: prettier --cache --ignore-unknown --write, prettier --cache --write

refactor: refactor code structure and improve captcha demo page
  packages/effects/common-ui/src/components/captcha/captcha-card.vue
  packages/effects/common-ui/src/components/captcha/index.ts
  packages/effects/common-ui/src/components/captcha/point-selection-captcha.vue
  packages/effects/common-ui/src/components/captcha/types.ts
  packages/effects/common-ui/src/components/captcha/utils.ts
  playground/src/views/examples/captcha/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

chore(@vben/common-ui): 增加拖拽校验组件
  packages/effects/common-ui/package.json
  packages/effects/common-ui/src/components/index.ts
  packages/effects/common-ui/src/components/verify/drag-verify/action.vue
  packages/effects/common-ui/src/components/verify/drag-verify/bar.vue
  packages/effects/common-ui/src/components/verify/drag-verify/content.vue
  packages/effects/common-ui/src/components/verify/drag-verify/index.vue
  packages/effects/common-ui/src/components/verify/index.ts
  packages/effects/common-ui/src/components/verify/typing.ts
  packages/effects/common-ui/src/components/verify/use-event-listener.ts
  playground/src/router/routes/modules/examples.ts
  playground/src/views/examples/verify/drag-verify/index.vue
  pnpm-lock.yaml
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

chore: 增加样式
  packages/effects/common-ui/src/components/verify/drag-verify/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: improve the dialog and drawer scrollbar experience, fix internal click failure problems and warnings
  apps/web-ele/src/views/demos/element/index.vue
  packages/@core/base/design/src/css/global.css
  packages/@core/base/shared/src/utils/dom.ts
  packages/@core/composables/src/index.ts
  packages/@core/composables/src/use-scroll-lock.ts
  packages/@core/ui-kit/layout-ui/src/vben-layout.vue
  packages/@core/ui-kit/popup-ui/src/drawer/drawer-api.ts
  packages/@core/ui-kit/popup-ui/src/drawer/drawer.ts
  packages/@core/ui-kit/popup-ui/src/drawer/drawer.vue
  packages/@core/ui-kit/popup-ui/src/drawer/use-drawer.ts
  packages/@core/ui-kit/popup-ui/src/modal/modal.vue
  packages/@core/ui-kit/popup-ui/src/modal/use-modal.ts
  packages/@core/ui-kit/shadcn-ui/build.config.ts
  packages/@core/ui-kit/shadcn-ui/package.json
  packages/@core/ui-kit/shadcn-ui/src/components/ui/dialog/DialogContent.vue
  packages/@core/ui-kit/shadcn-ui/src/components/ui/dialog/DialogOverlay.vue
  packages/@core/ui-kit/shadcn-ui/src/components/ui/sheet/SheetContent.vue
  packages/@core/ui-kit/shadcn-ui/src/components/ui/sheet/SheetOverlay.vue
  packages/effects/layouts/src/basic/tabbar/tabbar.vue
  pnpm-lock.yaml
  scripts/turbo-run/src/run.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

chore: remove test code
  apps/web-ele/src/views/demos/element/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: improve the dialog and drawer scrollbar experience, fix internal click failure problems and warnings (#4391)
  packages/@core/base/design/src/css/global.css
  packages/@core/base/shared/src/utils/dom.ts
  packages/@core/composables/src/index.ts
  packages/@core/composables/src/use-scroll-lock.ts
  packages/@core/ui-kit/layout-ui/src/vben-layout.vue
  packages/@core/ui-kit/popup-ui/src/drawer/drawer-api.ts
  packages/@core/ui-kit/popup-ui/src/drawer/drawer.ts
  packages/@core/ui-kit/popup-ui/src/drawer/drawer.vue
  packages/@core/ui-kit/popup-ui/src/drawer/use-drawer.ts
  packages/@core/ui-kit/popup-ui/src/modal/modal.vue
  packages/@core/ui-kit/popup-ui/src/modal/use-modal.ts
  packages/@core/ui-kit/shadcn-ui/build.config.ts
  packages/@core/ui-kit/shadcn-ui/package.json
  packages/@core/ui-kit/shadcn-ui/src/components/ui/dialog/DialogContent.vue
  packages/@core/ui-kit/shadcn-ui/src/components/ui/dialog/DialogOverlay.vue
  packages/@core/ui-kit/shadcn-ui/src/components/ui/sheet/SheetContent.vue
  packages/@core/ui-kit/shadcn-ui/src/components/ui/sheet/SheetOverlay.vue
  packages/effects/layouts/src/basic/tabbar/tabbar.vue
  pnpm-lock.yaml
  scripts/turbo-run/src/run.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

chore: chore(deps): bump pinia-plugin-persistedstate from 3.2.3 to 4.0.1
  apps/web-antd/package.json
  apps/web-ele/package.json
  apps/web-naive/package.json
  cspell.json
  internal/lint-configs/commitlint-config/package.json
  internal/lint-configs/eslint-config/package.json
  internal/tailwind-config/package.json
  internal/tsconfig/package.json
  internal/vite-config/package.json
  package.json
  packages/@core/base/typings/package.json
  packages/effects/common-ui/package.json
  packages/effects/hooks/package.json
  packages/effects/layouts/package.json
  packages/stores/package.json
  packages/stores/src/modules/access.ts
  packages/stores/src/modules/lock.ts
  packages/stores/src/modules/tabbar.ts
  packages/types/package.json
  packages/utils/package.json
  playground/package.json
  pnpm-lock.yaml
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write

chore: chore(deps): bump pinia-plugin-persistedstate from 3.2.3 to 4.0.1 (#4392)
  apps/web-antd/package.json
  apps/web-ele/package.json
  apps/web-naive/package.json
  cspell.json
  internal/lint-configs/commitlint-config/package.json
  internal/lint-configs/eslint-config/package.json
  internal/tailwind-config/package.json
  internal/tsconfig/package.json
  internal/vite-config/package.json
  package.json
  packages/@core/base/typings/package.json
  packages/effects/common-ui/package.json
  packages/effects/hooks/package.json
  packages/effects/layouts/package.json
  packages/stores/package.json
  packages/stores/src/modules/access.ts
  packages/stores/src/modules/lock.ts
  packages/stores/src/modules/tabbar.ts
  packages/types/package.json
  packages/utils/package.json
  playground/package.json
  pnpm-lock.yaml
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write

Path conditions:
  prettier --cache --ignore-unknown --write: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.{scss,less,styl,html})) or (any of: *.md)
  eslint --cache --fix: (any of: *.{js,jsx,ts,tsx}) or (any of: *.vue)
  prettier --cache --write: any of: package.json
  prettier --write: any of: *.vue
  stylelint --fix: (any of: *.vue) or (any of: *.{scss,less,styl,html})
