Repository vbenjs/vue-vben-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": ["prettier --cache --ignore-unknown  --write", "eslint --cache --fix"],
  "{!(package)*.json,*.code-snippets,.!(browserslist)*rc}": [
    "prettier --cache --write--parser json"
  ],
  "package.json": ["prettier --cache --write"],
  "*.vue": ["prettier --write", "eslint --cache --fix", "stylelint --fix"],
  "*.{scss,less,styl,html}": ["prettier --cache --ignore-unknown --write", "stylelint --fix"],
  "*.md": ["prettier --cache --ignore-unknown --write"]
}

fix: satisfy lint formatting for preferences extension demo
  playground/src/views/demos/features/preferences-extension/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: harden custom preferences validation and i18n labels
  apps/web-antd/src/preferences.ts
  packages/@core/preferences/__tests__/preferences.test.ts
  packages/@core/preferences/src/preferences.ts
  packages/effects/layouts/src/widgets/preferences/blocks/custom/custom.vue
  packages/effects/layouts/src/widgets/preferences/blocks/input-item.vue
  packages/effects/layouts/src/widgets/preferences/blocks/select-item.vue
  packages/locales/src/langs/en-US/preferences.json
  packages/locales/src/langs/zh-CN/preferences.json
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: remove localized default from playground extension config
  .gitignore
  playground/src/preferences.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

feat(@vben-core/form-ui): support schema valueFormat on getValues
  packages/@core/ui-kit/form-ui/__tests__/form-api.test.ts
  packages/@core/ui-kit/form-ui/src/form-api.ts
  packages/@core/ui-kit/form-ui/src/types.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix(@vben-core/form-ui): restore mount compatibility and share field path parsing
  packages/@core/ui-kit/form-ui/__tests__/form-api.test.ts
  packages/@core/ui-kit/form-ui/src/field-name.ts
  packages/@core/ui-kit/form-ui/src/form-api.ts
  packages/@core/ui-kit/form-ui/src/form-render/dependencies.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix(@vben-core/form-ui): clear stale component refs on unmount
  packages/@core/ui-kit/form-ui/__tests__/form-api.test.ts
  packages/@core/ui-kit/form-ui/src/form-api.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

refactor(@vben-core/form-ui): trim redundant valueFormat plumbing
  packages/@core/ui-kit/form-ui/src/form-api.ts
  packages/@core/ui-kit/form-ui/src/types.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: antdv-next message/notification 跟随暗色主题 (#7799)
  apps/web-antdv-next/src/app.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

feat(common-ui): add labelFn support to ApiComponent (#7801)
  packages/effects/common-ui/src/components/api-component/api-component.vue
  packages/effects/common-ui/src/components/api-component/index.ts
  packages/effects/common-ui/src/components/api-component/types.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

feat(@vben-core/form-ui): document valueFormat with live examples
  docs/src/components/common-ui/vben-form.md
  docs/src/demos/vben-form/value-format/index.vue
  docs/src/en/components/common-ui/vben-form.md
  playground/src/locales/langs/en-US/examples.json
  playground/src/locales/langs/zh-CN/examples.json
  playground/src/router/routes/modules/examples.ts
  playground/src/views/examples/form/value-format.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

chore(@vben-core/form-ui): normalize valueFormat demo formatting
  docs/src/components/common-ui/vben-form.md
  docs/src/demos/vben-form/value-format/index.vue
  docs/src/en/components/common-ui/vben-form.md
  playground/src/views/examples/form/value-format.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix(@vben-core/form-ui): remove docs demo dayjs dependency
  docs/src/demos/vben-form/value-format/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

docs: document project-scoped preferences extension workflow
  docs/src/en/guide/essentials/settings.md
  docs/src/guide/essentials/settings.md
Due: prettier --cache --ignore-unknown --write

fix: harden custom preferences defaults and baselines
  apps/web-antd/src/preferences.ts
  packages/@core/preferences/__tests__/preferences.test.ts
  packages/@core/preferences/src/preferences.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

test: relax custom preference cache key matching
  packages/@core/preferences/__tests__/preferences.test.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

feat(form-ui): support schema valueFormat for getValues payload shaping (#7804)
  docs/src/components/common-ui/vben-form.md
  docs/src/demos/vben-form/value-format/index.vue
  docs/src/en/components/common-ui/vben-form.md
  packages/@core/ui-kit/form-ui/__tests__/form-api.test.ts
  packages/@core/ui-kit/form-ui/src/field-name.ts
  packages/@core/ui-kit/form-ui/src/form-api.ts
  packages/@core/ui-kit/form-ui/src/form-render/dependencies.ts
  packages/@core/ui-kit/form-ui/src/types.ts
  playground/src/locales/langs/en-US/examples.json
  playground/src/locales/langs/zh-CN/examples.json
  playground/src/router/routes/modules/examples.ts
  playground/src/views/examples/form/value-format.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

feat: enable project-scoped preferences extension tabs (#7803)
  .gitignore
  apps/web-antd/src/main.ts
  apps/web-antd/src/preferences.ts
  docs/src/en/guide/essentials/settings.md
  docs/src/guide/essentials/settings.md
  packages/@core/preferences/__tests__/preferences.test.ts
  packages/@core/preferences/src/index.ts
  packages/@core/preferences/src/preferences.ts
  packages/@core/preferences/src/types.ts
  packages/@core/preferences/src/use-preferences.ts
  packages/effects/layouts/src/widgets/preferences/blocks/custom/custom.vue
  packages/effects/layouts/src/widgets/preferences/blocks/index.ts
  packages/effects/layouts/src/widgets/preferences/blocks/input-item.vue
  packages/effects/layouts/src/widgets/preferences/blocks/select-item.vue
  packages/effects/layouts/src/widgets/preferences/preferences-drawer.vue
  packages/locales/src/langs/en-US/preferences.json
  packages/locales/src/langs/zh-CN/preferences.json
  packages/preferences/src/index.ts
  playground/src/locales/langs/en-US/demos.json
  playground/src/locales/langs/zh-CN/demos.json
  playground/src/main.ts
  playground/src/preferences.ts
  playground/src/router/routes/modules/demos.ts
  playground/src/views/demos/features/preferences-extension/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

feat: 通知模块自定义加强
  apps/web-antd/src/layouts/basic.vue
  apps/web-antdv-next/src/layouts/basic.vue
  apps/web-ele/src/layouts/basic.vue
  apps/web-naive/src/layouts/basic.vue
  apps/web-tdesign/src/layouts/basic.vue
  packages/@core/base/icons/src/lucide.ts
  packages/effects/common-ui/src/components/index.ts
  packages/effects/layouts/src/widgets/notification/notification.vue
  packages/effects/layouts/src/widgets/notification/types.ts
  playground/src/layouts/basic.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

chore: update deps
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --cache --write

chore: typescript config is expired‌
  .vscode/settings.json
Due: none

perf: replace `onUnMounted` to `tryOnScopeDispose` (#7747)
  packages/effects/hooks/src/use-hover-toggle.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

feat(@vben/plugins): add tiptap rich text editor
  packages/@core/base/icons/src/lucide.ts
  packages/effects/plugins/package.json
  packages/effects/plugins/src/tiptap/extensions.ts
  packages/effects/plugins/src/tiptap/index.ts
  packages/effects/plugins/src/tiptap/preview.vue
  packages/effects/plugins/src/tiptap/style.css
  packages/effects/plugins/src/tiptap/tiptap.vue
  packages/effects/plugins/src/tiptap/toolbar.ts
  packages/effects/plugins/src/tiptap/types.ts
  packages/effects/plugins/src/tiptap/use-tiptap-toolbar.ts
  packages/locales/src/langs/en-US/ui.json
  packages/locales/src/langs/zh-CN/ui.json
  playground/src/adapter/component/index.ts
  playground/src/locales/langs/en-US/examples.json
  playground/src/locales/langs/zh-CN/examples.json
  playground/src/router/routes/modules/examples.ts
  playground/src/views/examples/form/basic.vue
  playground/src/views/examples/tiptap/index.vue
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

feat: fix oxlint error for oxlint upgrade (#7756)
  internal/lint-configs/eslint-config/src/configs/javascript.ts
  internal/lint-configs/oxlint-config/src/configs/javascript.ts
  package.json
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write

fix: make search case-insensitive (#7689) (#7755)
  packages/effects/layouts/src/widgets/global-search/search-panel.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: extension-document
  packages/effects/plugins/package.json
  packages/effects/plugins/src/tiptap/extensions.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write

feat: 表单 Schema 支持组件 Props 映射泛型，同步适配VxeGrid
  apps/web-antd/src/adapter/component/index.ts
  apps/web-antd/src/adapter/form-schema.ts
  apps/web-antd/src/adapter/form.ts
  apps/web-antd/src/adapter/vxe-table.ts
  apps/web-antdv-next/src/adapter/component/index.ts
  apps/web-antdv-next/src/adapter/form-schema.ts
  apps/web-antdv-next/src/adapter/form.ts
  apps/web-antdv-next/src/adapter/vxe-table.ts
  apps/web-ele/src/adapter/component/index.ts
  apps/web-ele/src/adapter/form-schema.ts
  apps/web-ele/src/adapter/form.ts
  apps/web-ele/src/adapter/vxe-table.ts
  apps/web-naive/src/adapter/component/index.ts
  apps/web-naive/src/adapter/form-schema.ts
  apps/web-naive/src/adapter/form.ts
  apps/web-naive/src/adapter/vxe-table.ts
  apps/web-tdesign/src/adapter/component/index.ts
  apps/web-tdesign/src/adapter/form-schema.ts
  apps/web-tdesign/src/adapter/form.ts
  apps/web-tdesign/src/adapter/vxe-table.ts
  packages/@core/ui-kit/form-ui/src/index.ts
  packages/@core/ui-kit/form-ui/src/types.ts
  packages/@core/ui-kit/form-ui/src/use-vben-form.ts
  packages/effects/plugins/src/vxe-table/types.ts
  packages/effects/plugins/src/vxe-table/use-vxe-grid.ts
  playground/src/adapter/component/index.ts
  playground/src/adapter/form-schema.ts
  playground/src/adapter/form.ts
  playground/src/adapter/vxe-table.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: 函数式 componentProps 按已注册 component 的 Props 校验返回值
  apps/web-antd/src/adapter/form-schema.ts
  apps/web-antdv-next/src/adapter/form-schema.ts
  apps/web-ele/src/adapter/form-schema.ts
  apps/web-naive/src/adapter/form-schema.ts
  apps/web-tdesign/src/adapter/form-schema.ts
  playground/src/adapter/form-schema.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

feat: Schema 中 componentProps 随注册组件联动类型提示
  apps/web-antd/src/adapter/form-schema.ts
  apps/web-antd/src/adapter/form.ts
  apps/web-antdv-next/src/adapter/form-schema.ts
  apps/web-antdv-next/src/adapter/form.ts
  apps/web-ele/src/adapter/form-schema.ts
  apps/web-ele/src/adapter/form.ts
  apps/web-naive/src/adapter/form-schema.ts
  apps/web-naive/src/adapter/form.ts
  apps/web-tdesign/src/adapter/form-schema.ts
  apps/web-tdesign/src/adapter/form.ts
  packages/effects/common-ui/src/components/api-component/api-component.vue
  packages/effects/common-ui/src/components/api-component/index.ts
  packages/effects/common-ui/src/components/api-component/types.ts
  packages/effects/common-ui/src/components/icon-picker/icon-picker.vue
  packages/effects/common-ui/src/components/icon-picker/index.ts
  packages/effects/common-ui/src/components/icon-picker/types.ts
  playground/src/adapter/form-schema.ts
  playground/src/adapter/form.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix(form): 修复表单示例中 switch 组件无法切换的问题 (#7636) (#7763)
  playground/src/views/examples/form/merge.vue
  playground/src/views/examples/form/scroll-to-error-test.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

refactor: 简化 componentProps 回调的类型写法
  apps/web-antd/src/adapter/form-schema.ts
  apps/web-antdv-next/src/adapter/form-schema.ts
  apps/web-ele/src/adapter/form-schema.ts
  apps/web-naive/src/adapter/form-schema.ts
  apps/web-tdesign/src/adapter/form-schema.ts
  packages/@core/ui-kit/form-ui/src/index.ts
  playground/src/adapter/form-schema.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: 修复 FormField 在 SFC 中的运行时异常
  packages/@core/ui-kit/form-ui/src/form-render/form-field.vue
  packages/@core/ui-kit/form-ui/src/types.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: 修复部分情况 component 类型丢失问题
  packages/@core/ui-kit/form-ui/src/types.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: 弹窗组件拖拽后全屏位置异常
  packages/@core/ui-kit/popup-ui/src/modal/modal.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: tailwindcss config
  internal/tailwind-config/src/theme.css
  packages/@core/ui-kit/shadcn-ui/src/ui/button/button.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: 补全 ComponentPropsMap 与 Vxe 表格表单链路的类型
  apps/web-antd/src/adapter/component/index.ts
  apps/web-antd/src/adapter/vxe-table.ts
  apps/web-antdv-next/src/adapter/component/index.ts
  apps/web-antdv-next/src/adapter/vxe-table.ts
  apps/web-ele/src/adapter/vxe-table.ts
  apps/web-naive/src/adapter/vxe-table.ts
  apps/web-tdesign/src/adapter/vxe-table.ts
  packages/@core/ui-kit/form-ui/src/types.ts
  packages/effects/common-ui/src/components/api-component/types.ts
  packages/effects/plugins/src/vxe-table/api.ts
  packages/effects/plugins/src/vxe-table/types.ts
  packages/effects/plugins/src/vxe-table/use-vxe-grid.ts
  playground/src/adapter/component/index.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

chore: fix lint
  pnpm-workspace.yaml
Due: none

chore: 修正注释
  internal/tailwind-config/src/theme.css
Due: none

fix: 配置 TypeScript 构建根目录
  internal/node-utils/tsconfig.build.json
Due: none
