Repository vbenjs/vue-vben-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

fix(full-screen): dom fullscreen status text (#3130)
  src/views/demo/feat/full-screen/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix(BasicForm): useForm 中 scheme 选项 slot 与 component冲突
  src/components/Form/src/types/form.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix(app): removed unused codes
  src/views/sys/login/LoginForm.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix(customExport): Failure to export
  src/components/Excel/src/ExportExcelModal.vue
  src/components/Form/src/types/form.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix(customExport): Failure to export (#3137)
  src/components/Excel/src/ExportExcelModal.vue
  src/components/Form/src/types/form.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

chore: fix type:check error
  src/api/demo/model/tableModel.ts
  src/components/Form/src/hooks/useForm.ts
  src/components/Form/src/types/form.ts
  src/components/Markdown/src/MarkdownViewer.vue
  src/components/Table/src/components/settings/SizeSetting.vue
  src/components/Tree/src/hooks/useTree.ts
  src/views/demo/page/form/high/PersonTable.vue
  src/views/demo/table/EditRowTable.vue
  src/views/form-design/components/VFormCreate/index.vue
  src/views/form-design/hooks/useFormInstanceMethods.ts
  src/views/form-design/hooks/useVFormMethods.ts
  types/global.d.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

chore: fix type:check error (#3139)
  src/api/demo/model/tableModel.ts
  src/components/Form/src/hooks/useForm.ts
  src/components/Form/src/types/form.ts
  src/components/Markdown/src/MarkdownViewer.vue
  src/components/Table/src/components/settings/SizeSetting.vue
  src/components/Tree/src/hooks/useTree.ts
  src/views/demo/page/form/high/PersonTable.vue
  src/views/demo/table/EditRowTable.vue
  src/views/form-design/components/VFormCreate/index.vue
  src/views/form-design/hooks/useFormInstanceMethods.ts
  src/views/form-design/hooks/useVFormMethods.ts
  types/global.d.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

feat: 为CodeEditor添加bordered属性
  src/components/CodeEditor/src/CodeEditor.vue
  src/components/CodeEditor/src/codemirror/CodeMirror.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: 去除重复的ant-inputclass
  src/components/CodeEditor/src/codemirror/CodeMirror.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

Pr/code editor boardered (#3142)
  src/components/CodeEditor/src/CodeEditor.vue
  src/components/CodeEditor/src/codemirror/CodeMirror.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix(LockModal): Cannot unlock
  src/layouts/default/header/components/lock/LockModal.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix(LockModal): Cannot unlock (#3143)
  src/layouts/default/header/components/lock/LockModal.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

chore: update deps
  internal/eslint-config/package.json
  internal/stylelint-config/package.json
  internal/ts-config/package.json
  internal/vite-config/package.json
  package.json
  packages/hooks/package.json
  pnpm-lock.yaml
Due: prettier --cache --write

fix: lint prettier
  src/components/Application/src/AppDarkModeToggle.vue
  src/components/Application/src/search/AppSearchFooter.vue
  src/components/CodeEditor/src/codemirror/codemirror.css
  src/components/Cropper/src/CropperModal.vue
  src/components/Modal/src/index.less
  src/components/Page/src/PageFooter.vue
  src/components/StrengthMeter/src/StrengthMeter.vue
  src/design/dark.less
  src/design/theme.less
  src/design/transition/fade.less
  src/design/transition/index.less
  src/design/transition/zoom.less
  src/hooks/web/useLockPage.ts
  src/utils/http/axios/Axios.ts
  src/utils/is.ts
  src/views/form-design/components/VFormDesign/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: eslint
  src/utils/is.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

chore(Pagination): Remove the unnecessary pagesize attribute
  src/components/Table/src/hooks/usePagination.tsx
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

feat(BasicButton): BasicButton组件支持icon插槽. close #1377
  src/components/Button/src/BasicButton.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: #3144 Drawer的footer样式错位问题
  src/components/Drawer/src/components/DrawerFooter.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: #3144 Drawer的footer样式错位问题 (#3148)
  src/components/Drawer/src/components/DrawerFooter.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: ApiTransfer 不支持disabled
  src/components/Form/src/components/ApiTransfer.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: ApiTransfer 不支持disabled (#3149)
  src/components/Form/src/components/ApiTransfer.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix(ApiTree): Modify Trigger Selection Event Name
  src/components/Form/src/components/ApiTree.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

chore(Demo): restore ApiTree schema show
  src/views/demo/form/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

chore: add type-predicate utils
  src/components/Form/src/types/form.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

feat(ApiTree): 完善ApiTree组件的重置回显功能. close #2307
  src/components/Form/src/components/ApiTree.vue
  src/components/Form/src/hooks/useFormEvents.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

chore: add FormSchemaInner type
  src/components/Form/src/BasicForm.vue
  src/components/Form/src/components/FormItem.vue
  src/components/Form/src/hooks/useAdvanced.ts
  src/components/Form/src/hooks/useAutoFocus.ts
  src/components/Form/src/hooks/useForm.ts
  src/components/Form/src/hooks/useFormEvents.ts
  src/components/Form/src/hooks/useFormValues.ts
  src/components/Form/src/hooks/useLabelWidth.ts
  src/components/Form/src/types/form.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix(ApiSelect): type warning
  src/components/Form/src/components/ApiSelect.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

Path conditions:
  prettier --cache --ignore-unknown --write: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.{scss,less,styl,html})) or (any of: *.md)
  eslint --cache --fix: (any of: *.{js,jsx,ts,tsx}) or (any of: *.vue)
  prettier --cache --write: any of: package.json
  prettier --write: any of: *.vue
  stylelint --fix: (any of: *.vue) or (any of: *.{scss,less,styl,html})
