Repository vbenjs/vue-vben-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

feat: naive `CheckboxGroup` and `RadioGroup` support `options`
  apps/web-naive/src/adapter/component/index.ts
  apps/web-naive/src/locales/langs/en-US/demos.json
  apps/web-naive/src/locales/langs/zh-CN/demos.json
  apps/web-naive/src/router/routes/modules/demos.ts
  apps/web-naive/src/views/demos/form/basic.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

feat: improve element plus form component
  apps/web-ele/src/adapter/component/index.ts
  apps/web-ele/src/adapter/form.ts
  apps/web-ele/src/locales/langs/en-US/demos.json
  apps/web-ele/src/locales/langs/zh-CN/demos.json
  apps/web-ele/src/router/routes/modules/demos.ts
  apps/web-ele/src/views/demos/form/basic.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

feat: imporve naive form component (#5071)
  apps/web-naive/src/adapter/component/index.ts
  apps/web-naive/src/locales/langs/en-US/demos.json
  apps/web-naive/src/locales/langs/zh-CN/demos.json
  apps/web-naive/src/router/routes/modules/demos.ts
  apps/web-naive/src/views/demos/form/basic.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

feat: improve element plus form component (#5072)
  apps/web-ele/src/adapter/component/index.ts
  apps/web-ele/src/adapter/form.ts
  apps/web-ele/src/locales/langs/en-US/demos.json
  apps/web-ele/src/locales/langs/zh-CN/demos.json
  apps/web-ele/src/router/routes/modules/demos.ts
  apps/web-ele/src/views/demos/form/basic.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

feat: improve `ApiSelect` component
  apps/web-antd/src/adapter/component/index.ts
  apps/web-ele/src/adapter/component/index.ts
  apps/web-ele/src/views/demos/form/basic.vue
  apps/web-naive/src/adapter/component/index.ts
  apps/web-naive/src/views/demos/form/basic.vue
  packages/effects/common-ui/src/components/api-select/api-select.vue
  playground/src/adapter/component/index.ts
  playground/src/views/examples/form/basic.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

chore: `ApiSelect` props name changed
  apps/web-antd/src/adapter/component/index.ts
  apps/web-ele/src/adapter/component/index.ts
  apps/web-naive/src/adapter/component/index.ts
  packages/effects/common-ui/src/components/api-select/api-select.vue
  playground/src/adapter/component/index.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

feat: improve `ApiSelect` component (#5075)
  apps/web-antd/src/adapter/component/index.ts
  apps/web-ele/src/adapter/component/index.ts
  apps/web-ele/src/views/demos/form/basic.vue
  apps/web-naive/src/adapter/component/index.ts
  apps/web-naive/src/views/demos/form/basic.vue
  packages/effects/common-ui/src/components/api-select/api-select.vue
  playground/src/adapter/component/index.ts
  playground/src/views/examples/form/basic.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

feat: add default `placeholder` for `ApiSelect`
  apps/web-antd/src/adapter/component/index.ts
  apps/web-ele/src/adapter/component/index.ts
  apps/web-ele/src/views/demos/form/basic.vue
  apps/web-naive/src/adapter/component/index.ts
  apps/web-naive/src/views/demos/form/basic.vue
  playground/src/adapter/component/index.ts
  playground/src/views/examples/form/basic.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

feat: add default `placeholder` for `ApiSelect` (#5078)
  apps/web-antd/src/adapter/component/index.ts
  apps/web-ele/src/adapter/component/index.ts
  apps/web-ele/src/views/demos/form/basic.vue
  apps/web-naive/src/adapter/component/index.ts
  apps/web-naive/src/views/demos/form/basic.vue
  playground/src/adapter/component/index.ts
  playground/src/views/examples/form/basic.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

feat: enhance component adapter with custom Checkbox and RadioGroup handling
  apps/web-ele/src/adapter/component/index.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: route auth
  packages/utils/src/helpers/generate-routes-frontend.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

feat: update component adapter to use CheckboxProps and RadioProps for better type safety
  apps/web-ele/src/adapter/component/index.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

feat: replace `ElSelect` with `ElSelectV2` in component adapter for butter performance
  apps/web-ele/src/adapter/component/index.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

feat(@vben/common-ui): [api-select] add loading slots
  packages/effects/common-ui/src/components/api-select/api-select.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

feat: modal/drawer support append to main content
  docs/src/components/common-ui/vben-drawer.md
  docs/src/components/common-ui/vben-modal.md
  packages/@core/base/shared/src/constants/globals.ts
  packages/@core/ui-kit/layout-ui/package.json
  packages/@core/ui-kit/layout-ui/src/vben-layout.vue
  packages/@core/ui-kit/popup-ui/src/drawer/drawer.ts
  packages/@core/ui-kit/popup-ui/src/drawer/drawer.vue
  packages/@core/ui-kit/popup-ui/src/modal/modal.ts
  packages/@core/ui-kit/popup-ui/src/modal/modal.vue
  packages/@core/ui-kit/shadcn-ui/src/ui/dialog/DialogContent.vue
  packages/@core/ui-kit/shadcn-ui/src/ui/dialog/DialogOverlay.vue
  packages/@core/ui-kit/shadcn-ui/src/ui/dialog/DialogScrollContent.vue
  packages/@core/ui-kit/shadcn-ui/src/ui/sheet/SheetContent.vue
  packages/@core/ui-kit/shadcn-ui/src/ui/sheet/SheetOverlay.vue
  packages/@core/ui-kit/shadcn-ui/src/ui/sheet/sheet.ts
  packages/effects/common-ui/src/components/page/page.vue
  playground/src/views/examples/drawer/in-content-demo.vue
  playground/src/views/examples/drawer/index.vue
  playground/src/views/examples/modal/in-content-demo.vue
  playground/src/views/examples/modal/index.vue
  pnpm-lock.yaml
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

fix: drawer prop define
  packages/@core/ui-kit/popup-ui/src/drawer/drawer.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

feat: modal zIndex support
  docs/src/components/common-ui/vben-drawer.md
  docs/src/components/common-ui/vben-modal.md
  packages/@core/ui-kit/popup-ui/src/modal/modal.ts
  packages/@core/ui-kit/popup-ui/src/modal/modal.vue
  packages/@core/ui-kit/shadcn-ui/src/ui/dialog/DialogContent.vue
  packages/@core/ui-kit/shadcn-ui/src/ui/dialog/DialogOverlay.vue
  packages/@core/ui-kit/shadcn-ui/src/ui/dialog/DialogScrollContent.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

chore: type
  packages/effects/common-ui/src/components/page/page.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: modal/drawer position fixed while append to body
  docs/src/components/common-ui/vben-drawer.md
  docs/src/components/common-ui/vben-modal.md
  packages/@core/ui-kit/shadcn-ui/src/ui/dialog/DialogContent.vue
  packages/@core/ui-kit/shadcn-ui/src/ui/dialog/DialogOverlay.vue
  packages/@core/ui-kit/shadcn-ui/src/ui/sheet/SheetContent.vue
  packages/@core/ui-kit/shadcn-ui/src/ui/sheet/sheet.ts
  playground/src/views/examples/vxe-table/basic.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

docs: typo
  docs/src/components/common-ui/vben-modal.md
Due: prettier --cache --ignore-unknown --write

chore: add full-width drawer in content area
  playground/src/views/examples/drawer/index.vue
  playground/src/views/examples/vxe-table/basic.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

chore: remove unnecessary class
  packages/@core/ui-kit/shadcn-ui/src/ui/dialog/DialogOverlay.vue
  packages/@core/ui-kit/shadcn-ui/src/ui/sheet/SheetOverlay.vue
  packages/@core/ui-kit/shadcn-ui/src/ui/sheet/sheet.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

feat: modal&drawer support appendToMain and zIndex (#5092)
  docs/src/components/common-ui/vben-drawer.md
  docs/src/components/common-ui/vben-modal.md
  packages/@core/base/shared/src/constants/globals.ts
  packages/@core/ui-kit/layout-ui/package.json
  packages/@core/ui-kit/layout-ui/src/vben-layout.vue
  packages/@core/ui-kit/popup-ui/src/drawer/drawer.ts
  packages/@core/ui-kit/popup-ui/src/drawer/drawer.vue
  packages/@core/ui-kit/popup-ui/src/modal/modal.ts
  packages/@core/ui-kit/popup-ui/src/modal/modal.vue
  packages/@core/ui-kit/shadcn-ui/src/ui/dialog/DialogContent.vue
  packages/@core/ui-kit/shadcn-ui/src/ui/dialog/DialogOverlay.vue
  packages/@core/ui-kit/shadcn-ui/src/ui/dialog/DialogScrollContent.vue
  packages/@core/ui-kit/shadcn-ui/src/ui/sheet/SheetContent.vue
  packages/@core/ui-kit/shadcn-ui/src/ui/sheet/SheetOverlay.vue
  packages/@core/ui-kit/shadcn-ui/src/ui/sheet/sheet.ts
  packages/effects/common-ui/src/components/page/page.vue
  playground/src/views/examples/drawer/in-content-demo.vue
  playground/src/views/examples/drawer/index.vue
  playground/src/views/examples/modal/in-content-demo.vue
  playground/src/views/examples/modal/index.vue
  playground/src/views/examples/vxe-table/basic.vue
  pnpm-lock.yaml
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

chore: remove redundant test code
  playground/src/views/examples/vxe-table/basic.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

chore: remove redundant test code (#5094)
  playground/src/views/examples/vxe-table/basic.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

feat: add new API components (ApiCascader, ApiCheckbox, ApiRadio, ApiTransfer) and update imports
  packages/effects/common-ui/src/components/api-cascader/api-cascader.vue
  packages/effects/common-ui/src/components/api-cascader/index.ts
  packages/effects/common-ui/src/components/api-checkbox/api-checkbox.vue
  packages/effects/common-ui/src/components/api-checkbox/index.ts
  packages/effects/common-ui/src/components/api-radio/api-radio.vue
  packages/effects/common-ui/src/components/api-radio/index.ts
  packages/effects/common-ui/src/components/api-transfer/api-transfer.vue
  packages/effects/common-ui/src/components/api-transfer/index.ts
  packages/effects/common-ui/src/components/index.ts
  playground/src/adapter/component/index.ts
  playground/src/views/examples/form/basic.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

docs: remove invalid docs
  docs/src/components/common-ui/vben-api-component.md
Due: prettier --cache --ignore-unknown --write

refactor: `ApiComponent` with docs
  apps/web-antd/src/adapter/component/index.ts
  apps/web-ele/src/adapter/component/index.ts
  apps/web-naive/src/adapter/component/index.ts
  docs/.vitepress/config/zh.mts
  docs/src/components/common-ui/vben-api-component.md
  docs/src/demos/vben-api-component/cascader/data.ts
  docs/src/demos/vben-api-component/cascader/index.vue
  docs/src/demos/vben-api-component/segmented/data.ts
  docs/src/demos/vben-api-component/segmented/index.vue
  packages/effects/common-ui/src/components/api-component/api-component.vue
  packages/effects/common-ui/src/components/api-component/index.ts
  packages/effects/common-ui/src/components/api-select/index.ts
  packages/effects/common-ui/src/components/index.ts
  playground/src/adapter/component/index.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

docs: remove duplicate prop docs
  docs/src/components/common-ui/vben-api-component.md
Due: prettier --cache --ignore-unknown --write

feat: replace `ElSelect` with `ElSelectV2` in component adapter for butter performance (#5085)
  apps/web-ele/src/adapter/component/index.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

docs: update `ApiComponent` docs
  docs/src/components/common-ui/vben-api-component.md
  docs/src/demos/vben-api-component/cascader/data.ts
  docs/src/demos/vben-api-component/cascader/index.vue
  docs/src/demos/vben-api-component/segmented/data.ts
  docs/src/demos/vben-api-component/segmented/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

refactor: `ApiComponent` with docs (#5099)
  apps/web-antd/src/adapter/component/index.ts
  apps/web-ele/src/adapter/component/index.ts
  apps/web-naive/src/adapter/component/index.ts
  docs/.vitepress/config/zh.mts
  docs/src/components/common-ui/vben-api-component.md
  docs/src/demos/vben-api-component/cascader/index.vue
  packages/effects/common-ui/src/components/api-component/api-component.vue
  packages/effects/common-ui/src/components/api-component/index.ts
  packages/effects/common-ui/src/components/api-select/index.ts
  packages/effects/common-ui/src/components/index.ts
  playground/src/adapter/component/index.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: table auto height
  packages/effects/common-ui/src/components/page/page.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: table auto height (#5101)
  packages/effects/common-ui/src/components/page/page.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

Path conditions:
  prettier --cache --ignore-unknown --write: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.{scss,less,styl,html})) or (any of: *.md)
  eslint --cache --fix: (any of: *.{js,jsx,ts,tsx}) or (any of: *.vue)
  prettier --cache --write: any of: package.json
  prettier --write: any of: *.vue
  stylelint --fix: (any of: *.vue) or (any of: *.{scss,less,styl,html})
