Repository vbenjs/vue-vben-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": ["prettier --cache --ignore-unknown  --write", "eslint --cache --fix"],
  "{!(package)*.json,*.code-snippets,.!(browserslist)*rc}": [
    "prettier --cache --write--parser json"
  ],
  "package.json": ["prettier --cache --write"],
  "*.vue": ["prettier --write", "eslint --cache --fix", "stylelint --fix"],
  "*.{scss,less,styl,html}": ["prettier --cache --ignore-unknown --write", "stylelint --fix"],
  "*.md": ["prettier --cache --ignore-unknown --write"]
}

chore: delete volar-ts server extensions
  .vscode/extensions.json
Due: none

fix: z-index of medium-zoom
  docs/.vitepress/theme/components/site-layout.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: successful login should not take you to the login page
  apps/web-antd/src/router/guard.ts
  apps/web-ele/src/router/guard.ts
  apps/web-naive/src/router/guard.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

chore: use DEFAULT_HOME_PATH constants
  apps/web-antd/src/router/guard.ts
  apps/web-ele/src/router/guard.ts
  apps/web-naive/src/router/guard.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

chore: remove invalid spaces in script
  package.json
Due: prettier --cache --write

docs: remove invalid spaces
  README.md
  README.zh-CN.md
  docs/src/guide/essentials/build.md
  docs/src/guide/essentials/development.md
  docs/src/guide/essentials/server.md
  docs/src/guide/introduction/quick-start.md
  docs/src/guide/introduction/vben.md
  docs/src/guide/other/faq.md
  docs/src/guide/project/changeset.md
  docs/src/guide/project/cli.md
Due: prettier --cache --ignore-unknown --write

fix: z-index of medium-zoom (#4055)
  docs/.vitepress/theme/components/site-layout.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

chore: delete volar-ts server extensions (#4054)
  .vscode/extensions.json
Due: none

docs: remove invalid spaces (#4057)
  README.md
  README.zh-CN.md
  docs/src/guide/essentials/build.md
  docs/src/guide/essentials/development.md
  docs/src/guide/essentials/server.md
  docs/src/guide/introduction/quick-start.md
  docs/src/guide/introduction/vben.md
  docs/src/guide/other/faq.md
  docs/src/guide/project/changeset.md
  docs/src/guide/project/cli.md
Due: prettier --cache --ignore-unknown --write

fix: lint error
  apps/web-antd/src/router/guard.ts
  apps/web-ele/src/router/guard.ts
  apps/web-naive/src/router/guard.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

删除了多余的菜单数据的步骤，减少性能开销，优化初始化速度。 (#4012)
  src/router/helper/menuHelper.ts
  src/router/menus/index.ts
  src/store/modules/permission.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

chore: 组件命名方式遵从packages
  apps/web-antd/src/components/EllipsisText/ellipsis-text.vue
  apps/web-antd/src/components/EllipsisText/index.ts
  apps/web-antd/src/components/EllipsisText/tooltip.vue
  apps/web-antd/src/views/examples/ellipsis/data.ts
  apps/web-antd/src/views/examples/ellipsis/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: successful login should not take you to the login page (#4056)
  apps/web-antd/src/router/guard.ts
  apps/web-ele/src/router/guard.ts
  apps/web-naive/src/router/guard.ts
  package.json
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write

chore: update ci
  .github/action/setup-node/action.yml
  .github/workflows/build.yml
  .github/workflows/changeset-version.yml
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .github/workflows/issue-close-require.yml
  .github/workflows/issue-labeled.yml
  .github/workflows/release-tag.yml
  .github/workflows/semantic-pull-request.yml
  .node-version
  internal/lint-configs/commitlint-config/index.mjs
Due: none

chore: update ci
  .github/actions/setup-node/action.yml
Due: none

chore: 更改slot命名方式支持header左侧自定义插槽，命名方式：header-right-n，header-left-n，具体位置看README
  packages/effects/layouts/src/basic/README.md
  packages/effects/layouts/src/basic/header/header.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

feat: add support for custom slot header-index, sorted by index (#4039)
  packages/effects/layouts/src/basic/README.md
  packages/effects/layouts/src/basic/header/header.vue
  packages/effects/layouts/src/basic/layout.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

ci: update action (#4046)
  .github/actions/setup-node/action.yml
  .github/workflows/build.yml
  .github/workflows/changeset-version.yml
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .github/workflows/draft.yml
  .github/workflows/issue-close-require.yml
  .github/workflows/issue-labeled.yml
  .github/workflows/lock.yml
  .github/workflows/release-tag.yml
  .github/workflows/semantic-pull-request.yml
  .github/workflows/stale.yml
  .node-version
  internal/lint-configs/commitlint-config/index.mjs
Due: none

chore: update authentication background
  packages/@core/base/design/src/design-tokens/default/index.css
  packages/effects/layouts/src/widgets/preferences/blocks/theme/builtin.vue
  packages/effects/layouts/src/widgets/preferences/preferences-sheet.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: 优化正则表达式
  packages/@core/base/shared/src/colorful/convert.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: 优化正则表达式2
  packages/@core/base/shared/src/colorful/convert.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: 正则表达式优化，优化hlsStringToRGB函数
  packages/@core/base/shared/src/colorful/convert.ts
  packages/effects/hooks/src/use-design-tokens.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

chore: add role ctx highlight
  .vscode/extensions.json
  .vscode/settings.json
Due: none

chore: add role ctx highlight
  .vscode/settings.json
Due: none

fix: 使用tinyColor进行转换
  packages/@core/base/shared/src/colorful/convert.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

Update packages/@core/base/shared/src/colorful/convert.ts
  packages/@core/base/shared/src/colorful/convert.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

chore: Optimize the onExpand function
  apps/web-antd/src/components/EllipsisText/ellipsis-text.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

feat: api suffix
  apps/web-antd/src/api/core/auth.ts
  apps/web-antd/src/api/core/menu.ts
  apps/web-antd/src/api/core/user.ts
  apps/web-antd/src/api/demos/status.ts
  apps/web-antd/src/router/access.ts
  apps/web-antd/src/store/auth.ts
  apps/web-antd/src/views/demos/features/login-expired/index.vue
  apps/web-ele/src/api/core/auth.ts
  apps/web-ele/src/api/core/menu.ts
  apps/web-ele/src/api/core/user.ts
  apps/web-ele/src/router/access.ts
  apps/web-ele/src/store/auth.ts
  apps/web-naive/src/api/core/auth.ts
  apps/web-naive/src/api/core/menu.ts
  apps/web-naive/src/api/core/user.ts
  apps/web-naive/src/router/access.ts
  apps/web-naive/src/store/auth.ts
  docs/src/guide/essentials/server.md
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

chore: update css
  apps/web-antd/src/components/EllipsisText/ellipsis-text.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

chore(@vben/web-antd): optimize the getPosition function
  apps/web-antd/src/components/EllipsisText/tooltip.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: ci build failed
  .github/workflows/build.yml
  package.json
Due: prettier --cache --write

fix: ci build failed (#4066)
  .github/workflows/build.yml
  package.json
Due: prettier --cache --write

fix: lint error
  packages/@core/base/shared/src/colorful/convert.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

chore: add ellipsis-text in comm-ui
  packages/effects/common-ui/src/ellipsis-text/ellipsis-text.vue
  packages/effects/common-ui/src/ellipsis-text/help.ts
  packages/effects/common-ui/src/ellipsis-text/index.ts
  packages/effects/common-ui/src/index.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: an error was reported in the adaptation of the naive component library theme (#4041)
  apps/web-naive/src/locales/langs/en-US.json
  apps/web-naive/src/locales/langs/zh-CN.json
  apps/web-naive/src/router/routes/modules/demos.ts
  apps/web-naive/src/views/demos/table/index.vue
  packages/@core/base/shared/src/colorful/convert.ts
  packages/effects/hooks/src/use-design-tokens.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

chore: 文本省略组件迁移至common-ui
  apps/web-antd/src/components/EllipsisText/_utils.ts
  apps/web-antd/src/components/EllipsisText/ellipsis-text.vue
  apps/web-antd/src/components/EllipsisText/index.ts
  apps/web-antd/src/components/EllipsisText/tooltip.vue
  apps/web-antd/src/views/examples/ellipsis/index.vue
  packages/effects/common-ui/src/ellipsis-text/ellipsis-text.vue
  packages/effects/common-ui/src/ellipsis-text/help.ts
  packages/effects/common-ui/src/index.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

feat: api suffix (#4065)
  apps/web-antd/src/api/core/auth.ts
  apps/web-antd/src/api/core/menu.ts
  apps/web-antd/src/api/core/user.ts
  apps/web-antd/src/api/demos/status.ts
  apps/web-antd/src/router/access.ts
  apps/web-antd/src/store/auth.ts
  apps/web-antd/src/views/demos/features/login-expired/index.vue
  apps/web-ele/src/api/core/auth.ts
  apps/web-ele/src/api/core/menu.ts
  apps/web-ele/src/api/core/user.ts
  apps/web-ele/src/router/access.ts
  apps/web-ele/src/store/auth.ts
  apps/web-naive/src/api/core/auth.ts
  apps/web-naive/src/api/core/menu.ts
  apps/web-naive/src/api/core/user.ts
  apps/web-naive/src/router/access.ts
  apps/web-naive/src/store/auth.ts
  docs/src/guide/essentials/server.md
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

feat(@vben/common-ui): Tooltip的tip支持style传参
  packages/@core/ui-kit/shadcn-ui/src/components/tooltip/tooltip.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

chore: 优化组件渲染
  packages/effects/common-ui/src/ellipsis-text/ellipsis-text.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix
