Repository vbenjs/vue-vben-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

perf: improve the dark theme
  internal/tailwind-config/src/index.ts
  packages/@core/hooks/src/use-namespace.ts
  packages/@core/shared/constants/src/global.ts
  packages/@core/shared/design/src/design-tokens/dark/index.css
  packages/@core/shared/design/src/design-tokens/default/index.css
  packages/@core/shared/design/src/scss/base.scss
  packages/@core/ui-kit/layout-ui/src/components/layout-sidebar.vue
  packages/@core/ui-kit/layout-ui/src/components/widgets/sidebar-collapse-button.vue
  packages/@core/ui-kit/layout-ui/src/components/widgets/sidebar-fixed-button.vue
  packages/@core/ui-kit/menu-ui/src/components/menu.vue
  packages/@core/ui-kit/menu-ui/src/components/normal-menu/normal-menu.vue
  packages/@core/ui-kit/shadcn-ui/src/components/logo/logo.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: fix known problems
  internal/vite-config/package.json
  internal/vite-config/src/config/application.ts
  internal/vite-config/src/plugins/index.ts
  internal/vite-config/src/typing.ts
  packages/@core/shared/design/src/css/global.css
  packages/@core/shared/design/src/css/nprogress.css
  packages/@core/shared/design/src/css/tailwind.css
  packages/@core/shared/design/src/design-tokens/dark/index.css
  packages/@core/shared/design/src/design-tokens/default/index.css
  packages/@core/shared/design/src/index.ts
  packages/@core/shared/design/src/scss/base.scss
  packages/@core/shared/design/src/scss/index.scss
  packages/@core/ui-kit/layout-ui/src/vben-layout.vue
  packages/@core/ui-kit/menu-ui/src/components/menu-item.vue
  packages/@core/ui-kit/menu-ui/src/components/menu.vue
  packages/@core/ui-kit/menu-ui/src/components/sub-menu.vue
  packages/@core/ui-kit/shadcn-ui/src/components/tooltip/tooltip.vue
  packages/@core/ui-kit/tabs-ui/src/components/tabs-chrome/tabs.vue
  packages/@core/ui-kit/tabs-ui/src/components/tabs/tabs.vue
  packages/effects/layouts/src/widgets/global-search/search-panel.vue
  pnpm-lock.yaml
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

fix: resolve redirect not found issue and remove /demos prefix
  apps/backend-mock/src/modules/menu/menu.controller.ts
  apps/web-antd/src/router/routes/modules/demos.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: typo opend -> opened
  src/components/SimpleMenu/src/components/MenuItem.vue
  src/components/SimpleMenu/src/components/SubMenuItem.vue
  src/components/SimpleMenu/src/components/useSimpleMenuContext.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: shake when adding tabs
  apps/web-antd/src/router/routes/modules/demos.ts
  internal/lint-configs/eslint-config/package.json
  internal/tailwind-config/package.json
  internal/tsconfig/package.json
  internal/vite-config/package.json
  internal/vite-config/src/utils/env.ts
  package.json
  packages/@core/shared/constants/src/global.ts
  packages/@core/shared/constants/src/globals.ts
  packages/@core/shared/constants/src/index.ts
  packages/@core/ui-kit/layout-ui/src/components/layout-tabbar.vue
  packages/@core/ui-kit/layout-ui/src/vben-layout.vue
  packages/@core/ui-kit/tabs-ui/src/components/tabs-chrome/tabs.vue
  packages/@core/ui-kit/tabs-ui/src/components/tabs/tabs.vue
  packages/effects/common-ui/src/fallback/fallback.vue
  pnpm-lock.yaml
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

fix: style optimization
  packages/@core/shared/design/src/css/global.css
  packages/@core/ui-kit/layout-ui/src/components/layout-tabbar.vue
  packages/@core/ui-kit/layout-ui/src/vben-layout.vue
  packages/@core/ui-kit/tabs-ui/src/components/tabs-chrome/tabs.vue
  packages/@core/ui-kit/tabs-ui/src/components/tabs/tabs.vue
  packages/effects/layouts/src/basic/layout.vue
  packages/effects/layouts/src/basic/tabbar/tabbar.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: typo opend -> opened (#3968)
  src/components/SimpleMenu/src/components/MenuItem.vue
  src/components/SimpleMenu/src/components/SubMenuItem.vue
  src/components/SimpleMenu/src/components/useSimpleMenuContext.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

style: 格式化代码
  src/components/Form/src/components/FormItem.vue
  src/components/Form/src/helper.ts
  src/components/Form/src/hooks/useFormEvents.ts
  src/components/Upload/src/BasicUpload.vue
  src/components/Upload/src/components/ImageUpload.vue
  src/components/Upload/src/components/UploadPreviewModal.vue
  src/components/Upload/src/props.ts
  src/locales/lang/en/routes/demo.json
  src/locales/lang/zh-CN/routes/demo.json
  src/store/modules/multipleTab.ts
  src/views/demo/form/RuleForm.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

feat: add v-access directive
  apps/web-antd/src/layouts/basic.vue
  apps/web-antd/src/router/routes/modules/demos.ts
  apps/web-antd/src/views/demos/access/button-control.vue
  packages/@core/forward/preferences/src/config.ts
  packages/@core/forward/preferences/src/types.ts
  packages/@core/locales/src/langs/zh-CN.json
  packages/@core/ui-kit/layout-ui/src/vben-layout.vue
  packages/@core/ui-kit/shadcn-ui/src/components/ui/card/Card.vue
  packages/effects/access/src/access-control.vue
  packages/effects/access/src/directive.ts
  packages/effects/access/src/index.ts
  packages/effects/access/src/use-access.ts
  packages/effects/common-ui/src/authentication/login-expired-modal.vue
  packages/effects/layouts/src/basic/layout.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: fix a series of known problems,fixed #54
  apps/web-antd/package.json
  apps/web-antd/src/locales/langs/en-US.json
  apps/web-antd/src/locales/langs/zh-CN.json
  apps/web-antd/src/router/routes/modules/demos.ts
  apps/web-antd/src/views/demos/badge/index.vue
  internal/node-utils/package.json
  internal/tailwind-config/package.json
  internal/tailwind-config/src/index.ts
  internal/vite-config/package.json
  package.json
  packages/@core/forward/preferences/src/config.ts
  packages/@core/forward/preferences/src/use-preferences.ts
  packages/@core/shared/design/src/css/global.css
  packages/@core/shared/design/src/design-tokens/dark/index.css
  packages/@core/shared/design/src/design-tokens/default/index.css
  packages/@core/ui-kit/layout-ui/src/components/layout-content.vue
  packages/@core/ui-kit/layout-ui/src/components/layout-footer.vue
  packages/@core/ui-kit/layout-ui/src/components/layout-header.vue
  packages/@core/ui-kit/layout-ui/src/components/layout-sidebar.vue
  packages/@core/ui-kit/layout-ui/src/components/layout-tabbar.vue
  packages/@core/ui-kit/layout-ui/src/vben-layout.ts
  packages/@core/ui-kit/layout-ui/src/vben-layout.vue
  packages/@core/ui-kit/menu-ui/src/components/menu.vue
  packages/@core/ui-kit/menu-ui/src/components/normal-menu/normal-menu.vue
  packages/@core/ui-kit/shadcn-ui/src/components/breadcrumb/breadcrumb-background.vue
  packages/@core/ui-kit/shadcn-ui/src/components/logo/logo.vue
  packages/@core/ui-kit/shadcn-ui/src/components/menu-badge/menu-badge.vue
  packages/@core/ui-kit/shadcn-ui/src/components/scrollbar/scrollbar.vue
  packages/@core/ui-kit/tabs-ui/src/components/tabs-chrome/tabs.vue
  packages/@core/ui-kit/tabs-ui/src/components/tabs/tabs.vue
  packages/effects/layouts/src/authentication/form.vue
  packages/effects/layouts/src/basic/layout.vue
  packages/effects/layouts/src/basic/menu/mixed-menu.vue
  packages/effects/layouts/src/basic/menu/use-extra-menu.ts
  packages/effects/layouts/src/basic/menu/use-mixed-menu.ts
  pnpm-lock.yaml
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

fix: css introduction order error
  packages/@core/shared/design/src/css/global.css
Due: none

feat: add breadcrumb navigation example
  apps/web-antd/src/locales/langs/en-US.json
  apps/web-antd/src/locales/langs/zh-CN.json
  apps/web-antd/src/router/routes/modules/demos.ts
  apps/web-antd/src/views/demos/features/breadcrumb/lateral-detail.vue
  apps/web-antd/src/views/demos/features/breadcrumb/lateral.vue
  apps/web-antd/src/views/demos/features/breadcrumb/level-detail.vue
  packages/@core/forward/helpers/src/generate-menus.test.ts
  packages/@core/forward/helpers/src/generate-menus.ts
  packages/@core/forward/helpers/src/generate-routes-frontend.test.ts
  packages/@core/forward/helpers/src/generate-routes-frontend.ts
  packages/@core/locales/src/langs/zh-CN.json
  packages/@core/shared/design/src/design-tokens/dark/index.css
  packages/@core/shared/typings/src/vue-router.d.ts
  packages/@core/ui-kit/layout-ui/package.json
  packages/@core/ui-kit/layout-ui/src/components/layout-sidebar.vue
  packages/@core/ui-kit/menu-ui/src/components/menu-item.vue
  packages/@core/ui-kit/menu-ui/src/components/menu.vue
  packages/@core/ui-kit/menu-ui/src/components/normal-menu/normal-menu.vue
  packages/@core/ui-kit/menu-ui/src/sub-menu.vue
  packages/@core/ui-kit/shadcn-ui/src/components/menu-badge/menu-badge.vue
  packages/effects/layouts/src/basic/menu/use-extra-menu.ts
  packages/effects/layouts/src/basic/menu/use-mixed-menu.ts
  packages/effects/layouts/src/widgets/preferences/blocks/layout/sidebar.vue
  pnpm-lock.yaml
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

perf: footer ICP spacing
  packages/effects/layouts/src/basic/copyright/copyright.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

chore: 格式化代码 (#3972)
  src/components/Form/src/components/FormItem.vue
  src/components/Form/src/helper.ts
  src/components/Form/src/hooks/useFormEvents.ts
  src/components/Upload/src/BasicUpload.vue
  src/components/Upload/src/components/ImageUpload.vue
  src/components/Upload/src/components/UploadPreviewModal.vue
  src/components/Upload/src/props.ts
  src/locales/lang/en/routes/demo.json
  src/locales/lang/zh-CN/routes/demo.json
  src/store/modules/multipleTab.ts
  src/views/demo/form/RuleForm.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: page not found when clicked breadcrumb
  apps/backend-mock/src/modules/menu/menu.controller.ts
  apps/web-antd/src/router/routes/modules/demos.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

feat: add tabs demo
  apps/backend-mock/utils/mock-data.ts
  apps/web-antd/src/views/demos/features/tabs/index.vue
  internal/tailwind-config/package.json
  internal/tailwind-config/src/index.ts
  packages/@core/forward/stores/src/modules/tabbar.ts
  packages/@core/hooks/src/use-tabs.ts
  packages/@core/ui-kit/tabs-ui/src/components/tabs-chrome/tabs.vue
  packages/@core/ui-kit/tabs-ui/src/components/tabs/tabs.vue
  packages/effects/layouts/src/basic/tabbar/use-tabbar.ts
  pnpm-lock.yaml
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

chore: update deps
  apps/backend-mock/package.json
  apps/web-antd/package.json
  internal/lint-configs/eslint-config/package.json
  internal/vite-config/package.json
  package.json
  packages/@core/forward/preferences/package.json
  packages/@core/forward/stores/package.json
  packages/@core/hooks/package.json
  packages/@core/locales/package.json
  packages/@core/shared/icons/package.json
  packages/@core/shared/toolkit/package.json
  packages/@core/shared/typings/package.json
  packages/@core/ui-kit/layout-ui/package.json
  packages/@core/ui-kit/menu-ui/package.json
  packages/@core/ui-kit/shadcn-ui/package.json
  packages/@core/ui-kit/tabs-ui/package.json
  packages/effects/access/package.json
  packages/effects/chart-ui/package.json
  packages/effects/common-ui/package.json
  packages/effects/layouts/package.json
  packages/types/package.json
  pnpm-lock.yaml
  website/package.json
Due: prettier --cache --write

feat: add 'maxNumOfOpenTab' to limit the maximum number of tabs with the same name
  apps/web-antd/src/locales/langs/en-US.json
  apps/web-antd/src/locales/langs/zh-CN.json
  apps/web-antd/src/router/routes/modules/demos.ts
  apps/web-antd/src/views/demos/features/tabs/index.vue
  apps/web-antd/src/views/demos/features/tabs/tab-detail.vue
  internal/lint-configs/eslint-config/src/custom-config.ts
  packages/@core/forward/stores/src/modules/tabbar.ts
  packages/@core/shared/typings/src/vue-router.d.ts
  packages/effects/layouts/src/basic/tabbar/use-tabbar.ts
  turbo.json
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: Incorrect css variable，fixed #57
  packages/@core/shared/design/src/design-tokens/default/index.css
Due: none

chore: update deps
  apps/web-antd/src/locales/README.md
  apps/web-antd/src/locales/index.ts
  apps/web-antd/src/router/routes/modules/dashboard.ts
  internal/vite-config/package.json
  package.json
  packages/@core/forward/preferences/src/config.ts
  packages/@core/hooks/package.json
  packages/@core/shared/design/src/design-tokens/dark/index.css
  packages/@core/ui-kit/layout-ui/src/components/layout-sidebar.vue
  packages/@core/ui-kit/menu-ui/src/components/menu.vue
  packages/@core/ui-kit/shadcn-ui/package.json
  pnpm-lock.yaml
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

types(logic): 减少冗沉，用了泛型
  src/logics/initAppConfig.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

chore: types(logic) 减少冗沉，用了泛型 (#3977)
  src/logics/initAppConfig.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

perf(Preview): 优化实例创建更新逻辑, 防止重复创建dom
  src/components/Preview/src/functional.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

perf(component): 优化EditableCell组件handleSubmit方法报错时增加warn日志显示
  src/components/Table/src/components/editable/EditableCell.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

perf: 逻辑优化
  src/components/Preview/src/functional.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

chore(component): 优化EditableCell组件handleSubmit方法报错时增加warn日志显示 (#3981)
  src/components/Table/src/components/editable/EditableCell.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

feat(Preview): 优化实例创建更新逻辑, 防止重复创建dom (#3979)
  src/components/Preview/src/functional.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

chore: update theme
  apps/web-antd/src/app.vue
  apps/web-antd/src/views/demos/nested/menu-1.vue
  apps/web-antd/src/views/demos/nested/menu-2-1.vue
  apps/web-antd/src/views/demos/nested/menu-3-1.vue
  apps/web-antd/src/views/demos/nested/menu-3-2-1.vue
  internal/tailwind-config/src/index.ts
  packages/@core/shared/design/src/design-tokens/default/index.css
  packages/effects/hooks/src/index.ts
  packages/effects/hooks/src/use-design-tokens.ts
  packages/effects/layouts/src/widgets/preferences/blocks/theme/builtin.vue
  pnpm-lock.yaml
  website/.vitepress/config.mts
  website/package.json
  website/src/guide/in-depth/theme.md
  website/src/guide/introduction/quick-start.md
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

chore: update README.md
  .gitpod.yml
  README.md
  README.zh-CN.md
  internal/tailwind-config/package.json
  packages/@core/shared/icons/package.json
  packages/@core/ui-kit/shadcn-ui/package.json
  pnpm-lock.yaml
Due: prettier --cache --ignore-unknown --write, prettier --cache --write

chore: update docs
  website/.vitepress/config.mts
Due: none

chore: update ci
  .github/workflows/deploy.yml
  apps/web-antd/.env.production
  website/.vitepress/config.mts
  website/src/guide/in-depth/loading.md
Due: prettier --cache --ignore-unknown --write

chore: update docs
  .github/workflows/deploy.yml
  website/src/guide/essentials/concept.md
Due: prettier --cache --ignore-unknown --write

fix: fix known issues. fixed #59,fixed #61, fixed #67, fixed #68 [deploy]
  .github/workflows/deploy.yml
  apps/web-antd/.env
  apps/web-antd/index.html
  apps/web-antd/src/preferences.ts
  apps/web-antd/vite.config.mts
  internal/vite-config/src/config/application.ts
  internal/vite-config/src/options.ts
  internal/vite-config/src/plugins/inject-app-loading/default-loading-antd.html
  internal/vite-config/src/plugins/inject-app-loading/default-loading.html
  internal/vite-config/src/utils/env.ts
  package.json
  packages/@core/ui-kit/shadcn-ui/src/components/breadcrumb/breadcrumb-background.vue
  packages/@core/ui-kit/shadcn-ui/src/components/scrollbar/scrollbar.vue
  packages/@core/ui-kit/tabs-ui/src/components/tabs-chrome/tabs.vue
  packages/@core/ui-kit/tabs-ui/src/components/tabs/tabs.vue
  packages/@core/ui-kit/tabs-ui/src/tabs-view.vue
  packages/effects/hooks/src/use-app-config.ts
  packages/stores/src/modules/tabbar.ts
  packages/types/global.d.ts
  pnpm-lock.yaml
  scripts/vsh/src/lint/index.ts
  website/src/commercial/technical-support.md
  website/src/guide/essentials/concept.md
  website/src/guide/essentials/development.md
  website/src/guide/essentials/settings.md
  website/src/guide/in-depth/loading.md
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

fix: Echarts初始宽度监听修复
  src/hooks/web/useECharts.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

feat: ApiSelect增加远程搜索功能
  src/components/Form/src/components/ApiSelect.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

Path conditions:
  prettier --cache --ignore-unknown --write: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.{scss,less,styl,html})) or (any of: *.md)
  eslint --cache --fix: (any of: *.{js,jsx,ts,tsx}) or (any of: *.vue)
  prettier --cache --write: any of: package.json
  prettier --write: any of: *.vue
  stylelint --fix: (any of: *.vue) or (any of: *.{scss,less,styl,html})
