Repository vbenjs/vue-vben-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": ["prettier --cache --ignore-unknown  --write", "eslint --cache --fix"],
  "{!(package)*.json,*.code-snippets,.!(browserslist)*rc}": [
    "prettier --cache --write--parser json"
  ],
  "package.json": ["prettier --cache --write"],
  "*.vue": ["prettier --write", "eslint --cache --fix", "stylelint --fix"],
  "*.{scss,less,styl,html}": ["prettier --cache --ignore-unknown --write", "stylelint --fix"],
  "*.md": ["prettier --cache --ignore-unknown --write"]
}

fix(VxeTable): 修复VxeTable自定义组件重复注册导致控制台警告
  src/components/VxeTable/src/components/index.tsx
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: fix 'page not found' error on clicking breadcrumbs
  apps/web-antd/src/router/routes/modules/demos.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: dataindex为数组时排序错误，数组列排到最后
  pnpm-lock.yaml
  src/components/Table/src/hooks/useColumns.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix(VxeTable): 修复VxeTable自定义组件重复注册导致控制台警告 (#3944)
  src/components/VxeTable/src/components/index.tsx
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

chore: 移除编辑器字体配置
  .vscode/settings.json
Due: none

fix: fix the preference problem，close #8, close #9
  apps/web-antd/package.json
  internal/tailwind-config/package.json
  package.json
  packages/@core/forward/preferences/src/preferences.ts
  packages/@core/forward/request/src/request-client/modules/canceler.test.ts
  packages/@core/forward/request/src/request-client/modules/canceler.ts
  packages/@core/forward/request/src/request-client/request-client.ts
  packages/@core/forward/stores/src/modules/access.test.ts
  packages/@core/ui-kit/shadcn-ui/package.json
  packages/business/layouts/src/basic/widgets/breadcrumb.vue
  packages/business/widgets/src/preferences/preferences-widget.vue
  packages/locales/src/langs/zh-CN.yaml
  pnpm-lock.yaml
  vben-admin.code-workspace
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

fix: update tab titles when switching language (#17)
  packages/business/layouts/src/basic/tabbar/use-tabs.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

chore: add translation for tabbar context menu
  packages/business/layouts/src/basic/tabbar/use-tabs.ts
  packages/locales/src/langs/en-US.yaml
  packages/locales/src/langs/zh-CN.yaml
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: Typecheck and loop dependency problem repair
  .github/release-drafter.yml
  .tazerc.json
  internal/lint-configs/eslint-config/package.json
  package.json
  packages/@core/ui-kit/shadcn-ui/src/components/floating-button-group/floating-button-group.vue
  packages/@core/ui-kit/shadcn-ui/src/components/floating-button-group/index.ts
  packages/@core/ui-kit/shadcn-ui/src/components/index.ts
  packages/@core/ui-kit/shadcn-ui/src/components/ui/select/SelectContent.vue
  packages/business/access/src/generate-menu-and-routes/generate-routes-backend.ts
  packages/business/layouts/package.json
  packages/business/layouts/src/basic/layout.vue
  packages/business/layouts/src/basic/tabbar/use-tabs.ts
  packages/business/universal-ui/package.json
  packages/business/universal-ui/tsconfig.json
  packages/business/widgets/package.json
  packages/business/widgets/src/preferences/blocks/layout/breadcrumb.vue
  packages/types/global.d.ts
  packages/types/package.json
  packages/types/window.d.ts
  pnpm-lock.yaml
  scripts/vsh/src/check-circular/index.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

chore: 优化查找根菜单的逻辑
  packages/@core/forward/helpers/src/find-menu-by-path.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

perf: Improve the use of store in the app
  apps/backend-mock/src/modules/mock/mock.service.ts
  apps/web-antd/src/forward/request.ts
  apps/web-antd/src/layouts/basic.vue
  apps/web-antd/src/router/guard.ts
  apps/web-antd/src/router/routes/modules/demos.ts
  apps/web-antd/src/store/index.ts
  apps/web-antd/src/store/modules/access.ts
  apps/web-antd/src/store/modules/app.ts
  apps/web-antd/src/store/modules/example.test.ts
  apps/web-antd/src/store/modules/example.ts
  apps/web-antd/src/views/_essential/authentication/login.vue
  apps/web-antd/src/views/dashboard/workspace/index.vue
  apps/web-antd/src/views/demos/access/frontend/access-test-3.vue
  apps/web-antd/src/views/demos/access/frontend/index.vue
  internal/lint-configs/eslint-config/package.json
  packages/@core/forward/stores/src/modules/access.test.ts
  packages/@core/forward/stores/src/modules/access.ts
  packages/@core/forward/stores/src/modules/tabbar.test.ts
  packages/@core/forward/stores/src/modules/tabbar.ts
  packages/@core/shared/toolkit/package.json
  packages/@core/shared/toolkit/src/index.ts
  packages/business/access/src/generate-menu-and-routes/index.ts
  packages/business/access/src/index.ts
  packages/business/access/src/role-authority.vue
  packages/business/access/src/use-access.ts
  packages/business/layouts/src/basic/content/content.vue
  packages/business/layouts/src/basic/header/header.vue
  packages/business/layouts/src/basic/menu/use-extra-menu.ts
  packages/business/layouts/src/basic/menu/use-mixed-menu.ts
  packages/business/layouts/src/basic/tabbar/use-tabs.ts
  packages/business/layouts/src/iframe/iframe-router-view.vue
  packages/business/universal-ui/package.json
  packages/business/universal-ui/src/authentication/code-login.vue
  packages/business/universal-ui/src/authentication/forget-password.vue
  packages/business/universal-ui/src/authentication/qrcode-login.vue
  packages/business/universal-ui/src/authentication/register.vue
  packages/locales/src/langs/en-US.yaml
  packages/locales/src/langs/zh-CN.yaml
  pnpm-lock.yaml
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

chore: update deps
  apps/backend-mock/package.json
  apps/web-antd/src/layouts/basic.vue
  internal/tailwind-config/package.json
  package.json
  packages/@core/ui-kit/README.md
  pnpm-lock.yaml
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

feat: Improve the front-end permission access logic and sample code
  apps/web-antd/src/views/demos/access/frontend/button-control.vue
  apps/web-antd/src/views/demos/access/frontend/index.vue
  packages/business/access/src/code-authority.vue
  packages/business/access/src/index.ts
  packages/business/access/src/use-access.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: pin tab not working correct (#23)
  packages/@core/forward/stores/src/modules/tabbar.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

feat: Improve the front-end and back-end permission mode and useAccess
  apps/backend-mock/package.json
  apps/backend-mock/src/modules/auth/auth.controller.ts
  apps/backend-mock/src/modules/auth/auth.service.ts
  apps/backend-mock/src/modules/menu/menu.controller.ts
  apps/web-antd/src/apis/modules/user.ts
  apps/web-antd/src/router/routes/modules/demos.ts
  apps/web-antd/src/store/modules/access.ts
  apps/web-antd/src/views/demos/access/backend/access-test-1.vue
  apps/web-antd/src/views/demos/access/backend/access-test-2.vue
  apps/web-antd/src/views/demos/access/backend/access-test-3.vue
  apps/web-antd/src/views/demos/access/backend/button-control.vue
  apps/web-antd/src/views/demos/access/backend/index.vue
  apps/web-antd/src/views/demos/access/frontend/access-test-1.vue
  apps/web-antd/src/views/demos/access/frontend/access-test-2.vue
  apps/web-antd/src/views/demos/access/frontend/button-control.vue
  apps/web-antd/src/views/demos/access/frontend/index.vue
  package.json
  packages/@core/forward/preferences/src/types.ts
  packages/@core/forward/stores/src/modules/access.ts
  packages/business/access/src/code-authority.vue
  packages/business/access/src/generate-menu-and-routes/generate-routes-backend.ts
  packages/business/access/src/generate-menu-and-routes/index.ts
  packages/business/access/src/role-authority.vue
  packages/business/access/src/use-access.ts
  packages/locales/src/langs/en-US.yaml
  packages/locales/src/langs/zh-CN.yaml
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

feat: Preferences support clearing the cache and logging out
  apps/web-antd/src/layouts/basic.vue
  internal/node-utils/package.json
  package.json
  packages/@core/forward/preferences/src/index.ts
  packages/business/layouts/src/basic/layout.vue
  packages/business/widgets/src/preferences/preferences.vue
  packages/locales/src/langs/en-US.yaml
  packages/locales/src/langs/zh-CN.yaml
  pnpm-lock.yaml
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

fix: fix: Try to fix the right-click menu and cause the scroll bar to lock #24
  packages/@core/ui-kit/tabs-ui/src/components/chrome-tabs/tab.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

refactor: remove 'affixTabs' from state (#25)
  packages/@core/forward/stores/src/modules/tabbar.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: fix content style error when footer is not fixed
  .github/workflows/changeset-version.yml
  apps/web-antd/src/store/modules/app.ts
  packages/@core/forward/preferences/src/config.ts
  packages/@core/forward/preferences/src/types.ts
  packages/@core/ui-kit/layout-ui/src/vben-layout.vue
  packages/@core/ui-kit/tabs-ui/src/widgets/tool-more.vue
  packages/business/layouts/src/basic/layout.vue
  packages/business/widgets/src/preferences/preferences.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

feat: add copyright components to enable preferences to configure copyright more accurately
  packages/@core/forward/preferences/src/config.ts
  packages/@core/forward/preferences/src/types.ts
  packages/@core/ui-kit/shadcn-ui/src/components/back-top/back-top.vue
  packages/business/layouts/src/authentication/from-view.vue
  packages/business/layouts/src/basic/copyright/copyright.vue
  packages/business/layouts/src/basic/copyright/index.ts
  packages/business/layouts/src/basic/layout.vue
  packages/business/widgets/src/preferences/blocks/index.ts
  packages/business/widgets/src/preferences/blocks/layout/copyright.vue
  packages/business/widgets/src/preferences/preferences-widget.vue
  packages/business/widgets/src/preferences/preferences.vue
  packages/locales/src/langs/en-US.yaml
  packages/locales/src/langs/zh-CN.yaml
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: fix 'useCoreAccessStore' test fail (#27)
  packages/@core/forward/stores/src/modules/tabbar.test.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: fix preferences locale wrong
  packages/locales/src/langs/en-US.yaml
Due: none

fix: fix preferences locale wrong (#28)
  packages/locales/src/langs/en-US.yaml
Due: none

feat: richer copyright and sidebar preferences
  cspell.json
  packages/@core/ui-kit/shadcn-ui/package.json
  packages/@core/ui-kit/shadcn-ui/src/components/index.ts
  packages/@core/ui-kit/shadcn-ui/src/components/ui/input/Input.vue
  packages/@core/ui-kit/shadcn-ui/src/components/ui/input/index.ts
  packages/@core/ui-kit/shadcn-ui/src/components/ui/number-field/NumberField.vue
  packages/@core/ui-kit/shadcn-ui/src/components/ui/number-field/NumberFieldContent.vue
  packages/@core/ui-kit/shadcn-ui/src/components/ui/number-field/NumberFieldDecrement.vue
  packages/@core/ui-kit/shadcn-ui/src/components/ui/number-field/NumberFieldIncrement.vue
  packages/@core/ui-kit/shadcn-ui/src/components/ui/number-field/NumberFieldInput.vue
  packages/@core/ui-kit/shadcn-ui/src/components/ui/number-field/index.ts
  packages/business/widgets/src/preferences/blocks/input-item.vue
  packages/business/widgets/src/preferences/blocks/layout/copyright.vue
  packages/business/widgets/src/preferences/blocks/layout/sidebar.vue
  packages/business/widgets/src/preferences/blocks/layout/tabbar.vue
  packages/business/widgets/src/preferences/blocks/number-field-item.vue
  packages/business/widgets/src/preferences/blocks/switch-item.vue
  packages/business/widgets/src/preferences/preferences-widget.vue
  packages/business/widgets/src/preferences/preferences.vue
  packages/locales/src/langs/en-US.yaml
  packages/locales/src/langs/zh-CN.yaml
  pnpm-lock.yaml
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

fix: prevent default searching in browser
  packages/business/widgets/src/global-search/global-search.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

perf: reduce the number of icon component instances
  packages/@core/shared/iconify/src/create-icon.ts
  packages/@core/shared/iconify/src/factory.ts
  packages/@core/shared/iconify/src/index.ts
  packages/@core/shared/iconify/src/material.ts
  packages/@core/shared/iconify/src/mdi.ts
  packages/business/widgets/src/preferences/blocks/input-item.vue
  packages/business/widgets/src/preferences/blocks/number-field-item.vue
  packages/business/widgets/src/preferences/blocks/select-item.vue
  packages/locales/src/langs/en-US.yaml
  packages/locales/src/langs/zh-CN.yaml
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

perf: remove the side effects of @vben-core/locales
  apps/web-antd/src/bootstrap.ts
  internal/vite-config/src/plugins/index.ts
  packages/@core/locales/package.json
  packages/@core/locales/src/i18n.ts
  packages/@core/locales/src/index.ts
  packages/@core/locales/src/langs/en-US.json
  packages/@core/locales/src/langs/en-US.yaml
  packages/@core/locales/src/langs/zh-CN.json
  packages/@core/locales/src/langs/zh-CN.yaml
  packages/@core/locales/src/typing.ts
  pnpm-lock.yaml
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write

perf: replace vue-sonner with the toast component of shadcn-ui
  packages/@core/locales/src/langs/en-US.json
  packages/@core/locales/src/langs/zh-CN.json
  packages/@core/shared/iconify/src/create-icon.ts
  packages/@core/shared/iconify/src/material.ts
  packages/@core/shared/iconify/src/mdi.ts
  packages/@core/ui-kit/shadcn-ui/package.json
  packages/@core/ui-kit/shadcn-ui/src/components/index.ts
  packages/@core/ui-kit/shadcn-ui/src/components/ui/sonner/Sonner.vue
  packages/@core/ui-kit/shadcn-ui/src/components/ui/sonner/index.ts
  packages/@core/ui-kit/shadcn-ui/src/components/ui/toast/Toast.vue
  packages/@core/ui-kit/shadcn-ui/src/components/ui/toast/ToastAction.vue
  packages/@core/ui-kit/shadcn-ui/src/components/ui/toast/ToastClose.vue
  packages/@core/ui-kit/shadcn-ui/src/components/ui/toast/ToastDescription.vue
  packages/@core/ui-kit/shadcn-ui/src/components/ui/toast/ToastProvider.vue
  packages/@core/ui-kit/shadcn-ui/src/components/ui/toast/ToastTitle.vue
  packages/@core/ui-kit/shadcn-ui/src/components/ui/toast/ToastViewport.vue
  packages/@core/ui-kit/shadcn-ui/src/components/ui/toast/Toaster.vue
  packages/@core/ui-kit/shadcn-ui/src/components/ui/toast/index.ts
  packages/@core/ui-kit/shadcn-ui/src/components/ui/toast/use-toast.ts
  packages/business/universal-ui/src/index.ts
  packages/business/widgets/src/preferences/preferences.vue
  packages/icons/src/svg/index.ts
  pnpm-lock.yaml
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

chore: conditionally display notification dot (#31)
  apps/web-antd/src/layouts/basic.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

perf: add eslint import rules, improve the coupling of some components
  apps/web-antd/src/app.vue
  internal/lint-configs/eslint-config/src/custom-config.ts
  packages/@core/locales/src/i18n.ts
  packages/@core/shared/toolkit/src/dom.ts
  packages/@core/shared/typings/vue-router.d.ts
  packages/business/widgets/src/global-provider/global-provider.vue
  packages/business/widgets/src/global-search/search-panel.vue
  scripts/vsh/src/aggregate-changelog/index.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

docs: update docs
  .husky/post-merge
  apps/web-antd/src/layouts/basic.vue
  apps/web-antd/vite.config.mts
  internal/lint-configs/eslint-config/src/custom-config.ts
  packages/@core/forward/preferences/src/config.ts
  packages/@core/shared/iconify/build.config.ts
  packages/@core/shared/iconify/package.json
  packages/business/widgets/src/preferences/blocks/layout/copyright.vue
  packages/business/widgets/src/preferences/preferences.vue
  packages/constants/src/vben.ts
  website/.vitepress/config.mts
  website/src/en/index.md
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

chore: update deps
  README.zh-CN.md
  internal/lint-configs/eslint-config/src/configs/import.ts
  internal/tailwind-config/package.json
  internal/vite-config/package.json
  package.json
  packages/@core/shared/toolkit/package.json
  packages/@core/ui-kit/shadcn-ui/package.json
  pnpm-lock.yaml
  website/package.json
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write

fix(@vben/commitlint-config): scope is not suitable for scoped package names
  internal/lint-configs/commitlint-config/package.json
  internal/lint-configs/commitlint-config/src/index.ts
  pnpm-lock.yaml
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write

chore: update deps
  internal/lint-configs/eslint-config/package.json
  internal/node-utils/package.json
  internal/vite-config/package.json
  package.json
  packages/@core/ui-kit/shadcn-ui/package.json
  pnpm-lock.yaml
Due: prettier --cache --write

chore: update scripts
  apps/backend-mock/package.json
Due: prettier --cache --write

fix: service request exceptions after deployment
  apps/web-antd/.env.production
  apps/web-antd/dist.zip
  packages/@core/forward/request/src/request-client/request-client.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

feat: support some configurations through the .env file
  apps/web-antd/.env.analyze
  apps/web-antd/.env.production
  apps/web-antd/package.json
  apps/web-antd/vite.config.mts
  internal/vite-config/src/config/application.ts
  internal/vite-config/src/config/library.ts
  internal/vite-config/src/index.ts
  internal/vite-config/src/plugins/extra-app-config.ts
  internal/vite-config/src/typing.ts
  internal/vite-config/src/utils/env.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write
