Repository vbenjs/vue-vben-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

chore: typo
  src/components/Prompt/dialog.vue
  src/layouts/default/header/components/user-dropdown/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

typo(Modal): 将visible替换成open
  src/components/Drawer/src/BasicDrawer.vue
  src/components/Modal/src/BasicModal.vue
  src/components/Modal/src/components/Modal.tsx
  src/components/Modal/src/components/ModalWrapper.vue
  src/components/Modal/src/hooks/useModal.ts
  src/components/Modal/src/hooks/useModalDrag.ts
  src/components/Modal/src/props.ts
  src/components/Modal/src/typing.ts
  src/components/Prompt/dialog.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

typo：修改modal弹窗的绑定函数名称
  src/views/demo/comp/modal/Modal1.vue
  src/views/demo/comp/modal/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

style(Modal): 为了解决直接引用 Modal 组件时关闭按钮样式的问题，增加一个名为 "vben-basic-modal" 的类名，以实现样式隔离。
  src/components/Modal/src/BasicModal.vue
  src/components/Modal/src/index.less
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

Update package.json
  package.json
Due: prettier --cache --write

fix: 配置文件公共路径无效
  internal/vite-config/src/config/application.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

typo(Drawer): Drawer 组件 visible 变为 open
  src/components/Drawer/src/BasicDrawer.vue
  src/components/Drawer/src/props.ts
  src/components/Drawer/src/typing.ts
  src/components/Drawer/src/useDrawer.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

typo(Table): Table 组件 filterDropdownVisible 变为 filterDropdownOpen。
  src/components/Table/src/types/column.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

typo(TreeSelect): 组件弹框的 classname API 统一为 popupClassName，dropdownClassName
  src/views/form-design/components/VFormDesign/config/componentPropsConfig.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

feat: pageWrapper.vue加入sticky功能
  src/components/Page/src/PageWrapper.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

antdv升级到4.x版本 (#3006)
  package.json
  pnpm-lock.yaml
  src/components/Drawer/src/BasicDrawer.vue
  src/components/Drawer/src/props.ts
  src/components/Drawer/src/typing.ts
  src/components/Drawer/src/useDrawer.ts
  src/components/Modal/src/BasicModal.vue
  src/components/Modal/src/components/Modal.tsx
  src/components/Modal/src/components/ModalWrapper.vue
  src/components/Modal/src/hooks/useModal.ts
  src/components/Modal/src/hooks/useModalDrag.ts
  src/components/Modal/src/index.less
  src/components/Modal/src/props.ts
  src/components/Modal/src/typing.ts
  src/components/Prompt/dialog.vue
  src/components/SimpleMenu/src/components/SubMenuItem.vue
  src/components/Table/src/types/column.ts
  src/layouts/default/header/components/user-dropdown/index.vue
  src/layouts/default/header/index.vue
  src/layouts/default/sider/LayoutSider.vue
  src/layouts/default/sider/index.vue
  src/main.ts
  src/views/demo/comp/modal/Modal1.vue
  src/views/demo/comp/modal/index.vue
  src/views/form-design/components/VFormDesign/config/componentPropsConfig.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

fix: 配置文件公共路径无效 (#3007)
  internal/vite-config/src/config/application.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

feat: pageWrapper.vue加入sticky功能 (#3008)
  src/components/Page/src/PageWrapper.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

style(Drawer): antdv4版本 drawer要使用rootClassName来来配置最外层元素样式
  src/components/Drawer/src/BasicDrawer.vue
  src/components/Drawer/src/typing.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

style(Drawer): antdv4版本 drawer要使用rootClassName来来配置最外层元素样式 (#3012)
  src/components/Drawer/src/BasicDrawer.vue
  src/components/Drawer/src/typing.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: arrow-left icon not centered
  src/design/ant/index.less
Due: prettier --cache --ignore-unknown --write, stylelint --fix

排除anticon-copy
  src/design/ant/index.less
Due: prettier --cache --ignore-unknown --write, stylelint --fix

fix: arrow-left icon not centered (#3013)
  src/design/ant/index.less
Due: prettier --cache --ignore-unknown --write, stylelint --fix

fix: 由于更新ant-vue 新版本到 4.0.2以上 tsx 渲染 FormItem 插入style 导致的出错 改换class
  src/views/demo/form/CustomerForm.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: 由于更新ant-vue 新版本到 4.0.2以上 tsx 渲染 FormItem 插入style 导致的出错 改换class (#3016)
  src/views/demo/form/CustomerForm.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix(Modal): 全屏modal样式问题 #3019
  src/components/Modal/src/BasicModal.vue
  src/components/Modal/src/index.less
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix(Modal): 全屏modal样式问题 #3019 (#3020)
  src/components/Modal/src/BasicModal.vue
  src/components/Modal/src/index.less
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: Upgrade Vue version
  package.json
Due: prettier --cache --write

fix(Header): 顶部菜单混合模式下，头部导航栏样式错位 #3021
  src/layouts/default/header/index.less
Due: prettier --cache --ignore-unknown --write, stylelint --fix

chore: 移除无用css
  src/layouts/default/header/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: Upgrade Vue version (#3023)
  package.json
Due: prettier --cache --write

fix(Header): 顶部菜单混合模式下，头部导航栏样式错位 #3021 (#3024)
  src/layouts/default/header/index.less
  src/layouts/default/header/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: type check failed for prop 'onClick'
  src/components/Form/src/components/FormAction.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: isible deprecated warnings
  src/components/Table/src/components/settings/ColumnSetting.vue
  src/views/demo/form/UseForm.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

feat: BasicTable 组件 HeaderCell 新增(类customRender) customHeaderRender 方法 自定义渲染支持
  src/components/Table/src/BasicTable.vue
  src/components/Table/src/components/EditTableHeaderIcon.vue
  src/components/Table/src/components/HeaderCell.vue
  src/components/Table/src/types/table.ts
  src/views/demo/table/tableData.tsx
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: type check failed for prop 'onClick' (#3028)
  src/components/Form/src/components/FormAction.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

Path conditions:
  prettier --cache --ignore-unknown --write: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.{scss,less,styl,html})) or (any of: *.md)
  eslint --cache --fix: (any of: *.{js,jsx,ts,tsx}) or (any of: *.vue)
  prettier --cache --write: any of: package.json
  prettier --write: any of: *.vue
  stylelint --fix: (any of: *.vue) or (any of: *.{scss,less,styl,html})
