Repository vbenjs/vue-vben-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": ["prettier --cache --ignore-unknown  --write", "eslint --cache --fix"],
  "{!(package)*.json,*.code-snippets,.!(browserslist)*rc}": [
    "prettier --cache --write--parser json"
  ],
  "package.json": ["prettier --cache --write"],
  "*.vue": ["prettier --write", "eslint --cache --fix", "stylelint --fix"],
  "*.{scss,less,styl,html}": ["prettier --cache --ignore-unknown --write", "stylelint --fix"],
  "*.md": ["prettier --cache --ignore-unknown --write"]
}

refactor: vueuse to vben/hooks
  packages/hooks/src/index.ts
  packages/hooks/src/useWindowSizeFn.ts
  src/components/Application/src/search/useMenuSearch.ts
  src/components/ClickOutSide/src/ClickOutSide.vue
  src/components/CodeEditor/src/codemirror/CodeMirror.vue
  src/components/CountDown/src/useCountdown.ts
  src/components/CountTo/src/CountTo.vue
  src/components/Cropper/src/Cropper.vue
  src/components/Drawer/src/useDrawer.ts
  src/components/Form/src/BasicForm.vue
  src/components/Form/src/hooks/useAdvanced.ts
  src/components/Form/src/hooks/useComponentRegister.ts
  src/components/Icon/src/IconPicker.vue
  src/components/Modal/src/components/ModalWrapper.vue
  src/components/Modal/src/hooks/useModal.ts
  src/components/SimpleMenu/src/useOpenKeys.ts
  src/components/Table/src/components/settings/FullScreenSetting.vue
  src/components/Table/src/hooks/useTableScroll.ts
  src/components/Time/src/Time.vue
  src/components/Tree/src/components/TreeHeader.vue
  src/hooks/event/useEventListener.ts
  src/hooks/event/useScroll.ts
  src/hooks/web/useECharts.ts
  src/hooks/web/useLockPage.ts
  src/hooks/web/useTitle.ts
  src/layouts/default/header/components/FullScreen.vue
  src/layouts/default/menu/useLayoutMenu.ts
  src/layouts/default/sider/useLayoutSider.ts
  src/utils/domUtils.ts
  src/views/demo/feat/full-screen/index.vue
  src/views/demo/feat/ws/index.vue
  src/views/demo/form/index.vue
  src/views/form-design/components/VFormCreate/index.vue
  src/views/form-design/components/VFormDesign/index.vue
  src/views/form-design/components/VFormDesign/modules/Toolbar.vue
  src/views/form-design/components/VFormItem/index.vue
  src/views/sys/lock/useNow.ts
  src/views/sys/login/LoginForm.vue
  src/views/sys/login/useLogin.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

chore: update vueuse version
  packages/hooks/package.json
  pnpm-lock.yaml
Due: prettier --cache --write

fix: repeat import
  src/components/SimpleMenu/src/useOpenKeys.ts
  src/components/Table/src/hooks/useTableScroll.ts
  src/hooks/web/useECharts.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: axios eslint
  src/utils/http/axios/Axios.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix(vxe-table): theme dark is not work (#3239)
  src/components/VxeTable/src/css/component.scss
  src/components/VxeTable/src/css/index.scss
  src/components/VxeTable/src/css/scrollbar.scss
  src/components/VxeTable/src/css/toolbar.scss
  src/components/VxeTable/src/css/variable.scss
Due: prettier --cache --ignore-unknown --write, stylelint --fix

优化Upload组件目录结构，以及图片上传组件 (#3241)
  src/components/Form/index.ts
  src/components/Form/src/componentMap.ts
  src/components/Form/src/components/ImageUpload.vue
  src/components/Modal/src/index.less
  src/components/Upload/index.ts
  src/components/Upload/src/BasicUpload.vue
  src/components/Upload/src/components/FileList.vue
  src/components/Upload/src/components/ImageUpload.vue
  src/components/Upload/src/components/ThumbUrl.vue
  src/components/Upload/src/components/UploadModal.vue
  src/components/Upload/src/components/UploadPreviewModal.vue
  src/components/Upload/src/components/data.tsx
  src/components/Upload/src/hooks/useUpload.ts
  src/components/Upload/src/props.ts
  src/components/Upload/src/types/typing.ts
  src/views/demo/form/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

feat: pinia persist plugin custom serializer
  src/settings/encryptionSetting.ts
  src/store/plugin/persist.ts
  src/utils/cache/index.ts
  src/utils/cache/storageCache.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

refactor: remove cipher old
  src/utils/cache/storageCache.ts
  src/utils/cipherOld.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

refactor: fix type check
  src/components/Form/src/hooks/useFormEvents.ts
  src/components/Form/src/hooks/useFormValues.ts
  src/components/SimpleMenu/src/SimpleMenu.vue
  src/components/Table/src/components/settings/ColumnSetting.vue
  src/layouts/default/menu/index.vue
  src/layouts/default/tabs/useMultipleTabs.ts
  src/router/helper/menuHelper.ts
  src/router/menus/index.ts
  src/utils/cache/memory.ts
  src/utils/cache/storageCache.ts
  src/utils/http/axios/index.ts
  src/utils/is.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

feat: pinia persist plugin custom serializer (#3244)
  src/settings/encryptionSetting.ts
  src/store/plugin/persist.ts
  src/utils/cache/index.ts
  src/utils/cache/storageCache.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

refactor: remove cipher old (#3245)
  src/utils/cache/storageCache.ts
  src/utils/cipherOld.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

refactor: fix type check (#3246)
  src/components/Form/src/hooks/useFormEvents.ts
  src/components/Form/src/hooks/useFormValues.ts
  src/components/SimpleMenu/src/SimpleMenu.vue
  src/components/Table/src/components/settings/ColumnSetting.vue
  src/layouts/default/menu/index.vue
  src/layouts/default/tabs/useMultipleTabs.ts
  src/router/helper/menuHelper.ts
  src/router/menus/index.ts
  src/utils/cache/memory.ts
  src/utils/cache/storageCache.ts
  src/utils/http/axios/index.ts
  src/utils/is.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

feat(Table-> CustomerCell): helpMessage支持传递 tsx 和 h函数的数据
  src/components/Basic/src/BasicHelp.vue
  src/components/Table/src/types/table.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

chore(demo): 自定义列的helpMessage增加tsx和h函数渲染的数据
  src/views/demo/table/CustomerCell.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix(loading): 解决当内容有滚动条时，视觉上会有两个加载图标的问题
  src/components/Loading/src/Loading.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

perf(ImageUpload): 根据官方示例设置图片回显格式
  src/components/Upload/src/components/ImageUpload.vue
  src/views/demo/form/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: validateFields await missing
  src/components/Form/src/hooks/useFormEvents.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

chore: update logo
  public/favicon.ico
  public/logo.png
  src/assets/images/logo.png
Due: none

feat(design:ant): add tree.less and update index.less
  src/design/ant/index.less
  src/design/ant/tree.less
Due: prettier --cache --ignore-unknown --write, stylelint --fix

fix(dept): no parentDept can edit parentDept
  src/views/demo/system/dept/dept.data.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: validateFields await missing (#3254)
  src/components/Form/src/hooks/useFormEvents.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix(dept): no parentDept can edit parentDept (#3255)
  src/views/demo/system/dept/dept.data.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

feat(MultipleTab): add tabs auto collapse interaction and setting
  src/hooks/setting/useMultipleTabSetting.ts
  src/layouts/default/header/MultipleHeader.vue
  src/layouts/default/index.vue
  src/layouts/default/setting/SettingDrawer.tsx
  src/layouts/default/setting/enum.ts
  src/layouts/default/setting/handler.ts
  src/layouts/default/tabs/index.less
  src/layouts/default/tabs/index.vue
  src/locales/lang/en/layout.json
  src/locales/lang/zh-CN/layout.json
  src/settings/designSetting.ts
  src/settings/projectSetting.ts
  types/config.d.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

feat(components:AppLogo): change AppLogo style
  src/components/Application/src/AppLogo.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

feat(components:Table): 新增导出excel功能
  src/api/model/baseModel.ts
  src/components/Table/src/BasicTable.vue
  src/components/Table/src/components/settings/ExportSetting.vue
  src/components/Table/src/components/settings/index.vue
  src/components/Table/src/types/table.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

perf(components:Table): 调整SizeSettting
  src/components/Table/src/components/settings/SizeSetting.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

perf(components:Tree): 调整TreeHeader搜索框size
  src/components/Tree/src/components/TreeHeader.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

perf(components:Upload): 完善Upload组件以适应自身业务
  src/api/sys/model/uploadModel.ts
  src/components/Upload/src/BasicUpload.vue
  src/components/Upload/src/UploadModal.vue
  src/components/Upload/src/UploadPreviewModal.vue
  src/components/Upload/src/data.tsx
  src/components/Upload/src/props.ts
  src/components/Upload/src/typing.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

chore: 删除多余代码
  src/router/routes/modules/about.ts
  src/router/routes/modules/dashboard.ts
  src/router/routes/modules/form-design/main.ts
  src/views/dashboard/analysis/components/GrowCard.vue
  src/views/dashboard/analysis/components/SalesProductPie.vue
  src/views/dashboard/analysis/components/SiteAnalysis.vue
  src/views/dashboard/analysis/components/VisitAnalysis.vue
  src/views/dashboard/analysis/components/VisitAnalysisBar.vue
  src/views/dashboard/analysis/components/VisitRadar.vue
  src/views/dashboard/analysis/components/props.ts
  src/views/dashboard/analysis/data.ts
  src/views/dashboard/analysis/index.vue
  src/views/dashboard/workbench/components/DynamicInfo.vue
  src/views/dashboard/workbench/components/ProjectCard.vue
  src/views/dashboard/workbench/components/QuickNav.vue
  src/views/dashboard/workbench/components/SaleRadar.vue
  src/views/dashboard/workbench/components/WorkbenchHeader.vue
  src/views/dashboard/workbench/components/data.ts
  src/views/dashboard/workbench/index.vue
  src/views/form-design/components/VFormCreate/components/FormRender.vue
  src/views/form-design/components/VFormDesign/components/FormNode.vue
  src/views/form-design/components/VFormDesign/components/FormNodeOperate.vue
  src/views/form-design/components/VFormDesign/components/FormOptions.vue
  src/views/form-design/components/VFormDesign/components/RuleProps.vue
  src/views/form-design/components/VFormDesign/config/formItemPropsConfig.ts
  src/views/form-design/components/VFormDesign/modules/Toolbar.vue
  src/views/form-design/components/VFormDesign/styles/variable.less
  src/views/form-design/components/VFormItem/index.vue
  src/views/form-design/components/VFormItem/vFormItem.vue
  src/views/form-design/components/index.ts
  src/views/form-design/core/formItemConfig.ts
  src/views/form-design/core/iconConfig.ts
  src/views/form-design/examples/baseForm.vue
  src/views/form-design/hooks/useFormDesignState.ts
  src/views/form-design/index.vue
  src/views/form-design/tests/import1.json
  src/views/form-design/typings/base-type.ts
  src/views/form-design/typings/form-type.ts
  src/views/form-design/utils/index.ts
  src/views/form-design/utils/message.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

chore(env): 修改环境变量设置
  .env
  .env.development
  .env.production
  src/utils/env.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix
