Repository vbenjs/vue-vben-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

Fix: Resolve onClosed method failure in connectedComponent of useVbenModal
  packages/@core/ui-kit/popup-ui/src/modal/use-modal.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: 修复使用useVbenVxeGrid配置hasEmptyText、hasEmptyRender不生效的问题
  packages/effects/plugins/src/vxe-table/use-vxe-grid.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: alert width fixed in small screen
  packages/@core/ui-kit/popup-ui/src/alert/alert.vue
  packages/@core/ui-kit/shadcn-ui/src/ui/alert-dialog/AlertDialogContent.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: alert width fixed in small screen (#6312)
  packages/@core/ui-kit/popup-ui/src/alert/alert.vue
  packages/@core/ui-kit/shadcn-ui/src/ui/alert-dialog/AlertDialogContent.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

feat: Update env for PROD
  apps/web-np/.env.production
Due: none

setValues合并算法支持嵌套对象赋值，解决嵌套对象无法正常初始化问题
  packages/@core/ui-kit/form-ui/src/form-api.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

feat: Enable live chat and disable ads menu
  apps/web-np/index.html
  apps/web-np/src/layouts/basic.vue
  apps/web-np/src/router/routes/modules/ads.ts
  apps/web-np/src/store/auth.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix(dev): 更新登录界面，覆盖全局配置
  apps/backend-mock/utils/mock-data.ts
  apps/web-antd/.env
  apps/web-antd/package.json
  apps/web-antd/public/static/avatar_default.png
  apps/web-antd/public/static/login_logo.png
  apps/web-antd/public/static/logo.png
  apps/web-antd/public/static/sd.jpg
  apps/web-antd/public/static/slogan.jpg
  apps/web-antd/src/layouts/auth.vue
  apps/web-antd/src/layouts/basic.vue
  apps/web-antd/src/preferences.ts
  apps/web-antd/src/router/routes/core.ts
  apps/web-antd/src/router/routes/modules/dashboard.ts
  apps/web-antd/src/router/routes/modules/demos.ts
  apps/web-antd/src/router/routes/modules/vben.ts
  apps/web-antd/src/views/_core/authentication/code-login.vue
  apps/web-antd/src/views/_core/authentication/forget-password.vue
  apps/web-antd/src/views/_core/authentication/login.vue
  apps/web-antd/src/views/_core/authentication/not-receive-code.vue
  apps/web-antd/src/views/_core/authentication/register.vue
  package.json
  packages/@core/base/design/src/design-tokens/default.css
  packages/@core/preferences/src/config.ts
  packages/effects/common-ui/src/ui/authentication/auth-title.vue
  packages/effects/common-ui/src/ui/authentication/code-login.vue
  packages/effects/common-ui/src/ui/authentication/forget-password.vue
  packages/effects/common-ui/src/ui/authentication/index.ts
  packages/effects/common-ui/src/ui/authentication/login.vue
  packages/effects/common-ui/src/ui/authentication/register.vue
  packages/effects/common-ui/src/ui/authentication/tabs.vue
  packages/effects/common-ui/src/ui/authentication/tabs2.vue
  packages/effects/layouts/src/authentication/authentication.vue
  packages/locales/src/langs/zh-CN/authentication.json
  packages/stores/src/modules/user.ts
  pnpm-lock.yaml
  turbo.json
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

fix(dev): update style
  packages/effects/common-ui/src/ui/authentication/tabs2.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

docs(settings): 完善'生产环境动态配置'步骤 (#6297)
  docs/src/en/guide/essentials/settings.md
  docs/src/guide/essentials/settings.md
Due: prettier --cache --ignore-unknown --write

fix: When defaultHomePage is inconsistent with user.homePath, the pa… (#6299)
  playground/src/router/guard.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: 修复使用useVbenVxeGrid配置hasEmptyText、hasEmptyRender不生效的问题 (#6310)
  packages/effects/plugins/src/vxe-table/use-vxe-grid.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: resolve onClosed method failure in connectedComponent of useVbenModal (#6309)
  packages/@core/ui-kit/popup-ui/src/modal/use-modal.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

setValues合并算法支持嵌套对象赋值，且排除不存在于schema中的属性
  packages/@core/ui-kit/form-ui/src/form-api.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

feat: fix Shopify App Bridge
  apps/web-np/.env
  apps/web-np/.env.production
  apps/web-np/index.html
  apps/web-np/package.json
  apps/web-np/src/store/auth.ts
  apps/web-np/src/utils.ts
  apps/web-np/tsconfig.json
  pnpm-lock.yaml
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, stylelint --fix

feat: Disable live chat
  apps/web-np/index.html
  apps/web-np/src/layouts/basic.vue
  apps/web-np/src/store/auth.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

feat: Enable ads Menu
  apps/web-np/src/router/routes/modules/ads.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

types: 扩展user-dropdown组件的menus类型，支持iconify (#6283)
  packages/effects/layouts/src/widgets/user-dropdown/user-dropdown.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

feat(hooks): support separate enter/leave delays in useHoverToggle
  packages/effects/hooks/src/use-hover-toggle.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: 树形菜单颜色不随主题
  packages/@core/ui-kit/shadcn-ui/src/ui/tree/tree.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: [adapter] 表格配置类型报错
  apps/web-antd/src/adapter/vxe-table.ts
  apps/web-ele/src/adapter/vxe-table.ts
  apps/web-naive/src/adapter/vxe-table.ts
  playground/src/adapter/vxe-table.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

chore(@vben-core/shared): 优化 lodash依赖
  packages/@core/base/shared/package.json
  packages/@core/base/shared/src/utils/index.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write

Revert "fix: 树形菜单颜色不随主题"
  packages/@core/ui-kit/shadcn-ui/src/ui/tree/tree.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

revert: 树形菜单回退
  packages/@core/ui-kit/shadcn-ui/src/ui/tree/tree.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: requestClient.upload会将vbenform中value为undefined的值转为字符串'undefined’提交给后台保存
  packages/effects/request/src/request-client/modules/uploader.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

feat: vbenCheckButtonGroup support clear and maxCount
  packages/@core/ui-kit/shadcn-ui/src/components/button/button.ts
  packages/@core/ui-kit/shadcn-ui/src/components/button/check-button-group.vue
  playground/src/views/examples/button-group/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

feat: add icon slot support for vbenCheckButtonGroup
  packages/@core/ui-kit/shadcn-ui/src/components/button/check-button-group.vue
  playground/src/views/examples/button-group/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

feat: improve vbenCheckButtonGroup (#6329)
  packages/@core/ui-kit/shadcn-ui/src/components/button/button.ts
  packages/@core/ui-kit/shadcn-ui/src/components/button/check-button-group.vue
  playground/src/views/examples/button-group/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

chore: release 5.5.7
  apps/web-antd/package.json
  apps/web-ele/package.json
  apps/web-naive/package.json
  docs/package.json
  internal/lint-configs/commitlint-config/package.json
  internal/lint-configs/stylelint-config/package.json
  internal/node-utils/package.json
  internal/tailwind-config/package.json
  internal/tsconfig/package.json
  package.json
  packages/@core/base/design/package.json
  packages/@core/base/icons/package.json
  packages/@core/base/shared/package.json
  packages/@core/base/typings/package.json
  packages/@core/composables/package.json
  packages/@core/preferences/package.json
  packages/@core/ui-kit/form-ui/package.json
  packages/@core/ui-kit/layout-ui/package.json
  packages/@core/ui-kit/menu-ui/package.json
  packages/@core/ui-kit/shadcn-ui/package.json
  packages/@core/ui-kit/tabs-ui/package.json
  packages/constants/package.json
  packages/effects/access/package.json
  packages/effects/common-ui/package.json
  packages/effects/hooks/package.json
  packages/effects/layouts/package.json
  packages/effects/request/package.json
  packages/icons/package.json
  packages/locales/package.json
  packages/preferences/package.json
  packages/stores/package.json
  packages/styles/package.json
  packages/types/package.json
  packages/utils/package.json
  playground/package.json
  scripts/turbo-run/package.json
Due: prettier --cache --write

feat(hooks): useHoverToggle的入参refElement支持传入响应式数组
  packages/effects/hooks/src/use-hover-toggle.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix(button): 为按钮添加type属性防止表单提交意外触发表单验证机制
  packages/@core/ui-kit/shadcn-ui/src/components/button/check-button-group.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

feat: [vben-tree]增加数据disabled
  packages/@core/ui-kit/shadcn-ui/src/ui/tree/tree.vue
  packages/@core/ui-kit/shadcn-ui/src/ui/tree/types.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

types: 为useVbenVxeGrid添加泛型声明,使grid实例上能正确获取到行数据的类型 (#5653)
  packages/effects/plugins/src/vxe-table/api.ts
  packages/effects/plugins/src/vxe-table/types.ts
  packages/effects/plugins/src/vxe-table/use-vxe-grid.ts
  playground/src/adapter/vxe-table.ts
  playground/src/views/examples/vxe-table/basic.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: menu type is not 'button' (#6277)
  playground/src/views/system/menu/modules/form.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: requestClient.upload会将vbenform中value为undefined的值转为字符串undefined’提… (#6300)
  packages/effects/request/src/request-client/modules/uploader.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

feat(hooks): support separate enter/leave delays in useHoverToggle (#6325)
  packages/effects/hooks/src/use-hover-toggle.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: [adapter] 表格配置类型报错 (#6327)
  apps/web-antd/src/adapter/vxe-table.ts
  apps/web-ele/src/adapter/vxe-table.ts
  apps/web-naive/src/adapter/vxe-table.ts
  playground/src/adapter/vxe-table.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix(button): 为按钮添加type属性防止表单提交意外触发表单验证机制 (#6340)
  packages/@core/ui-kit/shadcn-ui/src/components/button/check-button-group.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

Update packages/@core/ui-kit/shadcn-ui/src/ui/tree/tree.vue
  packages/@core/ui-kit/shadcn-ui/src/ui/tree/tree.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

Path conditions:
  prettier --cache --ignore-unknown --write: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.{scss,less,styl,html})) or (any of: *.md)
  eslint --cache --fix: (any of: *.{js,jsx,ts,tsx}) or (any of: *.vue)
  prettier --cache --write: any of: package.json
  prettier --write: any of: *.vue
  stylelint --fix: (any of: *.vue) or (any of: *.{scss,less,styl,html})
