Repository vbenjs/vue-vben-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

fix: test case
  packages/@core/preferences/src/preferences.test.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

chore: update ci
  .github/workflows/build.yml
  .github/workflows/semantic-pull-request.yml
  internal/lint-configs/commitlint-config/index.mjs
Due: none

perf: optimize for some details and comments (#4030)
  .github/workflows/build.yml
  .github/workflows/ci.yml
  .github/workflows/semantic-pull-request.yml
  deploy/nginx.conf
  docs/src/guide/in-depth/loading.md
  internal/lint-configs/commitlint-config/index.mjs
  internal/vite-config/src/config/application.ts
  internal/vite-config/src/config/library.ts
  internal/vite-config/src/options.ts
  internal/vite-config/src/plugins/inject-app-loading/README.md
  internal/vite-config/src/plugins/inject-app-loading/default-loading.html
  internal/vite-config/src/plugins/inject-app-loading/index.ts
  internal/vite-config/src/typing.ts
  packages/@core/preferences/src/preferences.test.ts
  packages/@core/preferences/src/preferences.ts
  packages/@core/preferences/src/update-css-variables.ts
  packages/@core/preferences/src/use-preferences.ts
  packages/effects/hooks/src/use-design-tokens.ts
  packages/utils/src/helpers/unmount-global-loading.ts
  scripts/turbo-run/src/run.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, stylelint --fix

fix: typo in tabbar preferences (#4027)
  packages/effects/layouts/src/widgets/preferences/blocks/layout/tabbar.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: enablePreferences does not meet expectations
  build-local-docker-image.sh
  deploy/nginx.conf
  internal/lint-configs/commitlint-config/index.mjs
  packages/effects/layouts/src/widgets/user-dropdown/user-dropdown.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: enablePreferences does not meet expectations (#4031)
  build-local-docker-image.sh
  deploy/nginx.conf
  internal/lint-configs/commitlint-config/index.mjs
  packages/effects/layouts/src/widgets/user-dropdown/user-dropdown.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

chore: update eslint type
  internal/lint-configs/eslint-config/src/configs/jsonc.ts
  internal/lint-configs/eslint-config/src/custom-config.ts
  internal/lint-configs/eslint-config/src/index.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: test type error
  internal/lint-configs/eslint-config/src/configs/test.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

chore: update eslint type (#4032)
  internal/lint-configs/eslint-config/src/configs/jsonc.ts
  internal/lint-configs/eslint-config/src/configs/test.ts
  internal/lint-configs/eslint-config/src/custom-config.ts
  internal/lint-configs/eslint-config/src/index.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: missing await for an async function call
  packages/effects/hooks/src/use-refresh.ts
  packages/effects/hooks/src/use-tabs.ts
  packages/effects/hooks/src/use-watermark.ts
  packages/stores/src/modules/tabbar.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

chore: dark menu disable
  packages/effects/layouts/src/widgets/preferences/blocks/theme/theme.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: missing await for an async function call (#4035)
  packages/effects/hooks/src/use-refresh.ts
  packages/effects/hooks/src/use-tabs.ts
  packages/effects/hooks/src/use-watermark.ts
  packages/stores/src/modules/tabbar.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

chore: dark menu disable (#4036)
  packages/effects/layouts/src/widgets/preferences/blocks/theme/theme.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

docs: update docs [deploy]
  .github/ISSUE_TEMPLATE/feature-request.yml
  .github/workflows/draft.yml
  .github/workflows/release-tag.yml
  .vscode/launch.json
  .vscode/settings.json
  docs/src/guide/in-depth/loading.md
  docs/src/guide/project/standard.md
  internal/vite-config/src/config/application.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: scrollbar height is too small
  packages/@core/base/design/src/css/global.css
Due: none

chore: update ci
  .github/workflows/deploy.yml
Due: none

chore: update ci
  .github/workflows/ci.yml
Due: none

fix: ci error
  .github/workflows/ci.yml
Due: none

fix: scrollbar height is too small (#4038)
  packages/@core/base/design/src/css/global.css
Due: none

docs: update docs [deploy] (#4037)
  .github/ISSUE_TEMPLATE/feature-request.yml
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .github/workflows/draft.yml
  .github/workflows/release-tag.yml
  .vscode/launch.json
  .vscode/settings.json
  docs/src/guide/in-depth/loading.md
  docs/src/guide/project/standard.md
  internal/vite-config/src/config/application.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

Revert "chore: 组件路由放置到演示路由下"
  apps/web-antd/src/locales/langs/en-US.json
  apps/web-antd/src/locales/langs/zh-CN.json
  apps/web-antd/src/router/routes/modules/comp.ts
  apps/web-antd/src/router/routes/modules/demos.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

chore: typo
  apps/web-antd/src/locales/langs/en-US.json
  apps/web-antd/src/locales/langs/zh-CN.json
  apps/web-antd/src/router/routes/modules/examples.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

feat: header右侧支持n个自定义位置插槽，插槽命名方式header-index，根据index大小排序。 框架默认插槽user-dropdown的index:20，notification的index:10 (#4034)
  apps/web-antd/src/layouts/basic.vue
  packages/effects/layouts/src/basic/header/header.vue
  packages/effects/layouts/src/basic/layout.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

docs: fix document errors
  docs/src/guide/essentials/icons.md
Due: prettier --cache --ignore-unknown --write

docs: fix document errors (#4040)
  docs/src/guide/essentials/icons.md
Due: prettier --cache --ignore-unknown --write

fix: naive组件库 主题适配报错，需将hsl转换为rgb格式
  packages/effects/hooks/src/convert.ts
  packages/effects/hooks/src/use-design-tokens.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

feat: 增加NDataTable示例
  apps/web-naive/src/locales/langs/en-US.json
  apps/web-naive/src/locales/langs/zh-CN.json
  apps/web-naive/src/router/routes/modules/demos.ts
  apps/web-naive/src/views/demos/table/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

chore: hsl转换函数移动到@vben/utils内
  packages/@core/base/shared/src/colorful/convert.ts
  packages/effects/hooks/src/convert.ts
  packages/effects/hooks/src/use-design-tokens.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

chore: 增加密码强度组件
  apps/web-antd/package.json
  apps/web-antd/src/components/StrengthMeter.vue
  apps/web-antd/src/router/routes/modules/examples.ts
  apps/web-antd/src/views/examples/strength-meter/index.vue
  pnpm-lock.yaml
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

chore: 国际化密码强度的菜单
  apps/web-antd/src/components/StrengthMeter.vue
  apps/web-antd/src/locales/langs/en-US.json
  apps/web-antd/src/locales/langs/zh-CN.json
  apps/web-antd/src/router/routes/modules/examples.ts
  apps/web-antd/src/views/examples/strength-meter/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

chore: 将默认组件加入排序
  apps/web-antd/src/layouts/basic.vue
  packages/effects/layouts/src/basic/header/header.vue
  packages/effects/layouts/src/basic/layout.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

ci: update action
  .github/workflows/build.yml
  .github/workflows/changeset-version.yml
  .github/workflows/draft.yml
  .github/workflows/issue-close-require.yml
  .github/workflows/issue-labeled.yml
  .github/workflows/lock.yml
  .github/workflows/release-tag.yml
  .github/workflows/semantic-pull-request.yml
  .github/workflows/stale.yml
Due: none

fix: typo
  apps/web-naive/src/views/demos/naive/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: The projectSettings default dark mode is not taking effect
  src/store/modules/app.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: typo (#4047)
  apps/web-naive/src/views/demos/naive/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: The projectSettings default dark mode is not taking effect (#4052)
  src/store/modules/app.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

chore(@vben/web-antd): 迁移文本省略组件
  apps/web-antd/package.json
  apps/web-antd/src/components/EllipsisText/Tooltip.vue
  apps/web-antd/src/components/EllipsisText/_utils.ts
  apps/web-antd/src/components/EllipsisText/index.vue
  apps/web-antd/src/components/StrengthMeter.vue
  apps/web-antd/src/locales/langs/en-US.json
  apps/web-antd/src/locales/langs/zh-CN.json
  apps/web-antd/src/router/routes/modules/examples.ts
  apps/web-antd/src/views/examples/ellipsis/index.vue
  apps/web-antd/src/views/examples/strength-meter/index.vue
  pnpm-lock.yaml
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

chore: typo
  apps/web-antd/src/views/examples/ellipsis/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

Path conditions:
  prettier --cache --ignore-unknown --write: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.{scss,less,styl,html})) or (any of: *.md)
  eslint --cache --fix: (any of: *.{js,jsx,ts,tsx}) or (any of: *.vue)
  prettier --cache --write: any of: package.json
  prettier --write: any of: *.vue
  stylelint --fix: (any of: *.vue) or (any of: *.{scss,less,styl,html})
