Repository vbenjs/vue-vben-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

perf(ImageUpload): 优化图片上传组
  src/components/Upload/src/components/ImageUpload.vue
  src/views/demo/form/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

perf(breakpointEnum): 修改enum与breakpoint.less内一致
  src/enums/breakpointEnum.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

perf(ImageUpload): 根据官方示例设置图片回显格式 (#3252)
  src/components/Upload/src/components/ImageUpload.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix(DatePicker): zh-CN is not work in DatePicker (#3273)
  src/locales/lang/zh_CN.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

perf(breakpointEnum): 修改enum与breakpoint.less内一致 (#3276)
  src/enums/breakpointEnum.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

perf(IconPicker): input trigger popover by click
  src/components/Icon/src/IconPicker.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix(BasicForm): validate Form tip height
  src/components/Form/src/BasicForm.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

perf(IconPicker): input trigger popover by click (#3278)
  src/components/Icon/src/IconPicker.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix(BasicForm): validate Form tip height (#3286). close #3281
  src/components/Form/src/BasicForm.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix(useFormEvent): 修复表单项存在defaultValue时,updateSchema方法会将setFieldsValue设置的值覆盖问题
  src/components/Form/src/hooks/useFormEvents.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: defaultValue类型为number时的bug
  src/components/Form/src/helper.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: defaultValue类型为number时的bug (#3288)
  src/components/Form/src/helper.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix(useFormEvent): 修复表单项存在defaultValue时,updateSchema方法会将setFieldsValue设置的值覆盖问题 (#3287)
  src/components/Form/src/hooks/useFormEvents.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

refactor: charts demo use setup refactor
  src/views/demo/charts/Line.vue
  src/views/demo/charts/Map.vue
  src/views/demo/charts/Pie.vue
  src/views/demo/charts/SaleRadar.vue
  src/views/demo/charts/map/Baidu.vue
  src/views/demo/charts/map/Gaode.vue
  src/views/demo/charts/map/Google.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

refactor: some feat pages transfer setup grammar
  src/views/demo/feat/breadcrumb/ChildrenList.vue
  src/views/demo/feat/breadcrumb/ChildrenListDetail.vue
  src/views/demo/feat/breadcrumb/FlatList.vue
  src/views/demo/feat/breadcrumb/FlatListDetail.vue
  src/views/demo/feat/click-out-side/index.vue
  src/views/demo/feat/context-menu/index.vue
  src/views/demo/feat/copy/index.vue
  src/views/demo/feat/download/index.vue
  src/views/demo/feat/ellipsis/index.vue
  src/views/demo/feat/full-screen/index.vue
  src/views/demo/feat/icon/index.vue
  src/views/demo/feat/img-preview/index.vue
  src/views/demo/feat/menu-params/index.vue
  src/views/demo/feat/msg/index.vue
  src/views/demo/feat/print/index.vue
  src/views/demo/feat/tab-params/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

refactor: update
  src/views/demo/feat/session-timeout/index.vue
  src/views/demo/feat/tabs/TabDetail.vue
  src/views/demo/feat/tabs/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: useTable中title使用VNodeChild
  src/components/Table/src/components/TableTitle.vue
  src/views/demo/table/FetchTable.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

refactor: some feat pages transfer setup grammar (#3292)
  src/views/demo/feat/breadcrumb/ChildrenList.vue
  src/views/demo/feat/breadcrumb/ChildrenListDetail.vue
  src/views/demo/feat/breadcrumb/FlatList.vue
  src/views/demo/feat/breadcrumb/FlatListDetail.vue
  src/views/demo/feat/click-out-side/index.vue
  src/views/demo/feat/context-menu/index.vue
  src/views/demo/feat/copy/index.vue
  src/views/demo/feat/download/index.vue
  src/views/demo/feat/ellipsis/index.vue
  src/views/demo/feat/full-screen/index.vue
  src/views/demo/feat/icon/index.vue
  src/views/demo/feat/img-preview/index.vue
  src/views/demo/feat/menu-params/index.vue
  src/views/demo/feat/msg/index.vue
  src/views/demo/feat/print/index.vue
  src/views/demo/feat/session-timeout/index.vue
  src/views/demo/feat/tab-params/index.vue
  src/views/demo/feat/tabs/TabDetail.vue
  src/views/demo/feat/tabs/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: tab-params
  src/views/demo/feat/tab-params/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

revert: settings.json
  .vscode/settings.json
Due: none

style(demo->Modal1): loading text line height
  src/views/demo/comp/modal/Modal1.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

Update index.vue
  src/views/demo/feat/tab-params/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

feat(menu): Added menu mouse move in style
  src/components/SimpleMenu/src/components/menu.less
  src/layouts/default/sider/MixSider.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

refactor: /@/ => @/
  src/views/dashboard/analysis/components/GrowCard.vue
  src/views/dashboard/analysis/components/SalesProductPie.vue
  src/views/dashboard/analysis/components/VisitAnalysis.vue
  src/views/dashboard/analysis/components/VisitAnalysisBar.vue
  src/views/dashboard/analysis/components/VisitRadar.vue
  src/views/dashboard/analysis/components/VisitSource.vue
  src/views/dashboard/workbench/components/SaleRadar.vue
  src/views/dashboard/workbench/components/WorkbenchHeader.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

refactor: table demo use script setup
  src/views/demo/table/AuthColumn.vue
  src/views/demo/table/Basic.vue
  src/views/demo/table/CustomerCell.vue
  src/views/demo/table/EditCellTable.vue
  src/views/demo/table/EditRowTable.vue
  src/views/demo/table/ExpandTable.vue
  src/views/demo/table/FetchTable.vue
  src/views/demo/table/FixedColumn.vue
  src/views/demo/table/FixedHeight.vue
  src/views/demo/table/FooterTable.vue
  src/views/demo/table/FormTable.vue
  src/views/demo/table/MergeHeader.vue
  src/views/demo/table/MultipleHeader.vue
  src/views/demo/table/RefTable.vue
  src/views/demo/table/ResizeParentHeightTable.vue
  src/views/demo/table/TreeTable.vue
  src/views/demo/table/UseTable.vue
  src/views/demo/table/VxeTable.vue
  src/views/demo/table/tableData.tsx
  src/views/demo/tree/ActionTree.vue
  src/views/demo/tree/EditTree.vue
  src/views/demo/tree/data.ts
  src/views/demo/tree/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

refactor: change /@/ to @/
  src/views/sys/about/index.vue
  src/views/sys/error-log/DetailModal.vue
  src/views/sys/error-log/data.tsx
  src/views/sys/error-log/index.vue
  src/views/sys/exception/Exception.vue
  src/views/sys/iframe/index.vue
  src/views/sys/lock/LockPage.vue
  src/views/sys/lock/index.vue
  src/views/sys/lock/useNow.ts
  src/views/sys/login/ForgetPasswordForm.vue
  src/views/sys/login/Login.vue
  src/views/sys/login/LoginForm.vue
  src/views/sys/login/LoginFormTitle.vue
  src/views/sys/login/MobileForm.vue
  src/views/sys/login/QrCodeForm.vue
  src/views/sys/login/RegisterForm.vue
  src/views/sys/login/SessionTimeoutLogin.vue
  src/views/sys/login/useLogin.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

feat: add antdv qrcode demo
  src/views/demo/comp/qrcode/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

feat: 恢复菜单主题设置
  src/layouts/default/setting/SettingDrawer.tsx
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

Path conditions:
  prettier --cache --ignore-unknown --write: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.{scss,less,styl,html})) or (any of: *.md)
  eslint --cache --fix: (any of: *.{js,jsx,ts,tsx}) or (any of: *.vue)
  prettier --cache --write: any of: package.json
  prettier --write: any of: *.vue
  stylelint --fix: (any of: *.vue) or (any of: *.{scss,less,styl,html})
