Repository vbenjs/vue-vben-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

fix: Fix context menu style not working (#3075)
  src/components/ContextMenu/src/ContextMenu.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

chore: release 2.10.1
  package.json
Due: prettier --cache --write

chore(ApiTree): 消除绑定属性的类型错误
  src/components/Form/src/components/ApiTree.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

chore: rm unused watchEffect
  src/components/Form/src/components/ApiTreeSelect.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

chore(ApiTree): 移除无用的suffixIcon slot, ant的tree组件并没有提供这个slot
  src/components/Form/src/components/ApiTree.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

#3080 按钮权限示例的判断权限异常
  src/hooks/web/usePermission.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: 修复rule validator类型默认为string，导致 radio 等组件在 setFormValues 时，如果值不是string类型，提示校验错误
  src/components/Form/src/components/FormItem.vue
  src/components/Form/src/helper.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: #3077 最新代码 ApiTransfer编辑后无法正常显示数据
  src/components/Form/src/components/ApiTransfer.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: #3077 最新代码 ApiTransfer编辑后无法正常显示数据 (#3083)
  src/components/Form/src/components/ApiTransfer.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

🐞 fix(项目整体): 同步vben主仓库main分支
  src/design/ant/input.less.3343547207
  src/design/ant/pagination.less.2510944109
  src/design/public.less
  src/design/theme.less
  src/design/transition/fade.less.3094304386
  src/design/transition/scale.less.1884883598
  src/design/transition/slide.less.2900804956
  src/design/transition/zoom.less.2234564151
Due: prettier --cache --ignore-unknown --write, stylelint --fix

Revert "🐞 fix(项目整体): 同步vben主仓库main分支"
  src/design/ant/input.less.3343547207
  src/design/ant/pagination.less.2510944109
  src/design/public.less
  src/design/theme.less
  src/design/transition/fade.less.3094304386
  src/design/transition/scale.less.1884883598
  src/design/transition/slide.less.2900804956
  src/design/transition/zoom.less.2234564151
Due: prettier --cache --ignore-unknown --write, stylelint --fix

perf(watermark): 消除水印hook类型问题
  src/hooks/web/useWatermark.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

feat: 支持设置多重水印，增加清除所有水印方法
  src/hooks/web/useWatermark.ts
  src/views/demo/feat/watermark/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

chore: 应该让用户自己来进行水印清除
  src/hooks/web/useWatermark.ts
  src/views/demo/feat/watermark/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

✨ feat(系统管理): 调整系统管理路由配置
  src/router/routes/modules/system.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

feat: 支持设置多重水印，增加清除所有水印方法. close #2610 (#3084)
  src/hooks/web/useWatermark.ts
  src/views/demo/feat/watermark/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

chore: 设定权限列columns宽度，消除演示表格错位问题
  src/views/demo/table/AuthColumn.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

Fix unable to run the clear cache command normally #3086
  package.json
Due: prettier --cache --write

chore: 设定权限列columns宽度，消除演示表格错位问题 (#3087)
  src/views/demo/table/AuthColumn.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

Maintain NPM packaging command
  package.json
Due: prettier --cache --write

Fix unable to run the clear cache command normally #3086 (#3088)
  package.json
Due: prettier --cache --write

feat: 升级ant-design-vue至4.0.3
  internal/vite-config/package.json
  package.json
Due: prettier --cache --write

✨ feat(系统管理): 增加日志路由权限
  src/router/routes/modules/system.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

feat: vite-config up to antd v4
  internal/vite-config/src/utils/modifyVars.ts
  pnpm-lock.yaml
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: 去掉console
  internal/vite-config/src/utils/modifyVars.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

vite-config中将ant-design-vue升级到版本4 (#3089)
  internal/vite-config/package.json
  internal/vite-config/src/utils/modifyVars.ts
  package.json
  pnpm-lock.yaml
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write

fix: 修正日期区间拆解时数据为null时异常问题
  src/components/Form/src/hooks/useFormValues.ts
  src/utils/is.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: 修正validate|validateFields时，未将对象型数据进行转换
  src/components/Form/src/hooks/useFormEvents.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

Path conditions:
  prettier --cache --ignore-unknown --write: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.{scss,less,styl,html})) or (any of: *.md)
  eslint --cache --fix: (any of: *.{js,jsx,ts,tsx}) or (any of: *.vue)
  prettier --cache --write: any of: package.json
  prettier --write: any of: *.vue
  stylelint --fix: (any of: *.vue) or (any of: *.{scss,less,styl,html})
