Repository vbenjs/vue-vben-admin: changes, and which lefthook commands are due for each by the changed paths.
All: lint-md, lint-vue, lint-js, lint-style, lint-package, lint-json

lefthook.yml:

# EXAMPLE USAGE:
#
#   Refer for explanation to following link:
#   https://lefthook.dev/configuration/
#
# pre-push:
#   jobs:
#     - name: packages audit
#       tags:
#         - frontend
#         - security
#       run: yarn audit
#
#     - name: gems audit
#       tags:
#         - backend
#         - security
#       run: bundle audit
#
# pre-commit:
#   parallel: true
#   jobs:
#     - run: yarn eslint {staged_files}
#       glob: "*.{js,ts,jsx,tsx}"
#
#     - name: rubocop
#       glob: "*.rb"
#       exclude:
#         - config/application.rb
#         - config/routes.rb
#       run: bundle exec rubocop --force-exclusion {all_files}
#
#     - name: govet
#       files: git ls-files -m
#       glob: "*.go"
#       run: go vet {files}
#
#     - script: "hello.js"
#       runner: node
#
#     - script: "hello.go"
#       runner: go run

pre-commit:
  parallel: true
  commands:
    code-workspace:
      run: pnpm vsh code-workspace --auto-commit
    lint-md:
      run: pnpm prettier --cache --ignore-unknown --write {staged_files}
      glob: '*.md'
    lint-vue:
      run: pnpm prettier --write {staged_files} && pnpm eslint --cache --fix {staged_files} && pnpm stylelint --fix --allow-empty-input {staged_files}
      glob: '*.vue'
    lint-js:
      run: pnpm prettier --cache --ignore-unknown --write {staged_files} && pnpm eslint --cache --fix {staged_files}
      glob: '*.{js,jsx,ts,tsx}'
    lint-style:
      run: pnpm prettier --cache --ignore-unknown --write {staged_files} && pnpm stylelint --fix --allow-empty-input {staged_files}
      glob: '*.{scss,less,styl,html,vue,css}'
    lint-package:
      run: pnpm prettier --cache --write {staged_files}
      glob: 'package.json'
    lint-json:
      run: pnpm prettier --cache --write --parser json {staged_files}
      glob: '{!(package)*.json,*.code-snippets,.!(browserslist)*rc}'

post-merge:
  commands:
    install:
      run: pnpm install

commit-msg:
  commands:
    commitlint:
      run: pnpm exec commitlint --edit $1

fix: make bug report envinfo command cross-platform
  .github/ISSUE_TEMPLATE/bug-report.yml
Due: none

fix: reserve space for antdv-next textarea count
  packages/styles/src/antdv-next/index.css
Due: lint-style

fix: report Vue version in bug template (#8396)
  .github/ISSUE_TEMPLATE/bug-report.yml
Due: none

fix: reserve space for antdv-next textarea count (#8399)
  packages/styles/src/antdv-next/index.css
Due: lint-style

chore: 更新项目依赖包版本
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

fix: declare model defaults to fix formatting checks
  packages/@core/ui-kit/tabs-ui/src/components/tabs-chrome/tabs.vue
  packages/@core/ui-kit/tabs-ui/src/components/tabs/tabs.vue
  packages/effects/common-ui/src/ui/profile/profile.vue
  packages/effects/layouts/src/widgets/preferences/blocks/checkbox-item.vue
  packages/effects/layouts/src/widgets/preferences/blocks/general/animation.vue
  packages/effects/layouts/src/widgets/preferences/blocks/general/general.vue
  packages/effects/layouts/src/widgets/preferences/blocks/input-item.vue
  packages/effects/layouts/src/widgets/preferences/blocks/layout/breadcrumb.vue
  packages/effects/layouts/src/widgets/preferences/blocks/layout/copyright.vue
  packages/effects/layouts/src/widgets/preferences/blocks/layout/header.vue
  packages/effects/layouts/src/widgets/preferences/blocks/layout/navigation.vue
  packages/effects/layouts/src/widgets/preferences/blocks/layout/sidebar.vue
  packages/effects/layouts/src/widgets/preferences/blocks/layout/tabbar.vue
  packages/effects/layouts/src/widgets/preferences/blocks/layout/widget.vue
  packages/effects/layouts/src/widgets/preferences/blocks/number-field-item.vue
  packages/effects/layouts/src/widgets/preferences/blocks/select-item.vue
  packages/effects/layouts/src/widgets/preferences/blocks/theme/builtin.vue
  packages/effects/layouts/src/widgets/preferences/blocks/toggle-item.vue
  packages/effects/layouts/src/widgets/preferences/preferences-drawer.vue
Due: lint-vue, lint-style

docs: fix style
  docs/src/components/common-ui/vben-count-to-animator.md
Due: lint-md

docs: fix style
  docs/src/components/common-ui/vben-alert.md
Due: lint-md

docs: fix demo-preview and code copy btn
  docs/.vitepress/config/plugins/demo-preview.ts
  docs/.vitepress/config/shared.mts
Due: lint-js

docs: fix style
  docs/src/components/common-ui/vben-descriptions.md
Due: lint-md

docs: fix style
  docs/src/components/common-ui/vben-table-action.md
Due: lint-md

docs: fix style
  docs/src/components/common-ui/vben-vxe-table.md
Due: lint-md

fix: declare model defaults to fix formatting checks (#8407)
  packages/@core/ui-kit/tabs-ui/src/components/tabs-chrome/tabs.vue
  packages/@core/ui-kit/tabs-ui/src/components/tabs/tabs.vue
  packages/effects/common-ui/src/ui/profile/profile.vue
  packages/effects/layouts/src/widgets/preferences/blocks/checkbox-item.vue
  packages/effects/layouts/src/widgets/preferences/blocks/general/animation.vue
  packages/effects/layouts/src/widgets/preferences/blocks/general/general.vue
  packages/effects/layouts/src/widgets/preferences/blocks/input-item.vue
  packages/effects/layouts/src/widgets/preferences/blocks/layout/breadcrumb.vue
  packages/effects/layouts/src/widgets/preferences/blocks/layout/copyright.vue
  packages/effects/layouts/src/widgets/preferences/blocks/layout/header.vue
  packages/effects/layouts/src/widgets/preferences/blocks/layout/navigation.vue
  packages/effects/layouts/src/widgets/preferences/blocks/layout/sidebar.vue
  packages/effects/layouts/src/widgets/preferences/blocks/layout/tabbar.vue
  packages/effects/layouts/src/widgets/preferences/blocks/layout/widget.vue
  packages/effects/layouts/src/widgets/preferences/blocks/number-field-item.vue
  packages/effects/layouts/src/widgets/preferences/blocks/select-item.vue
  packages/effects/layouts/src/widgets/preferences/blocks/theme/builtin.vue
  packages/effects/layouts/src/widgets/preferences/blocks/toggle-item.vue
  packages/effects/layouts/src/widgets/preferences/preferences-drawer.vue
Due: lint-vue, lint-style

docs: fix style (#8410)
  docs/src/components/common-ui/vben-alert.md
  docs/src/components/common-ui/vben-count-to-animator.md
  docs/src/components/common-ui/vben-descriptions.md
  docs/src/components/common-ui/vben-table-action.md
  docs/src/components/common-ui/vben-vxe-table.md
Due: lint-md

docs: fix demo-preview and code copy btn (#8411)
  docs/.vitepress/config/plugins/demo-preview.ts
  docs/.vitepress/config/shared.mts
Due: lint-js

feat: Add menuCodes support to CellOperation.
  playground/src/adapter/vxe-table.ts
  playground/src/views/examples/vxe-table/viewed.vue
Due: lint-vue, lint-js, lint-style

fix: address review comments
  playground/src/adapter/vxe-table.ts
  playground/src/views/examples/vxe-table/viewed.vue
Due: lint-vue, lint-js, lint-style

feat: add menuCodes support to CellOperation. (#8412)
  playground/src/adapter/vxe-table.ts
  playground/src/views/examples/vxe-table/viewed.vue
Due: lint-vue, lint-js, lint-style

fix(apps): 登出时若已在登录页，redirect 会逐跳嵌套把 URL 撑长
  apps/web-antd/src/store/auth.ts
  apps/web-antdv-next/src/store/auth.ts
  apps/web-ele/src/store/auth.ts
  apps/web-naive/src/store/__tests__/auth.test.ts
  apps/web-naive/src/store/auth.ts
  apps/web-tdesign/src/store/auth.ts
  playground/src/store/auth.ts
Due: lint-js

chore(web-naive): 修正 auth 测试文件的 import 排序
  apps/web-naive/src/store/__tests__/auth.test.ts
Due: lint-js

fix(apps): 登出时若已在登录页，redirect 会逐跳嵌套把 URL 撑长 (#8417)
  apps/web-antd/src/store/auth.ts
  apps/web-antdv-next/src/store/auth.ts
  apps/web-ele/src/store/auth.ts
  apps/web-naive/src/store/__tests__/auth.test.ts
  apps/web-naive/src/store/auth.ts
  apps/web-tdesign/src/store/auth.ts
  playground/src/store/auth.ts
Due: lint-js

fix(core): 同步插入样式标签，修复重复标签导致主题色无法实时更新
  packages/@core/base/shared/src/utils/__tests__/update-css-variables.test.ts
  packages/@core/base/shared/src/utils/update-css-variables.ts
Due: lint-js

fix(core): 同步插入样式标签，修复重复标签导致主题色无法实时更新 (#8420)
  packages/@core/base/shared/src/utils/__tests__/update-css-variables.test.ts
  packages/@core/base/shared/src/utils/update-css-variables.ts
Due: lint-js

docs: explain monorepo package boundaries and dependency install
  docs/src/guide/other/faq.md
Due: lint-md

docs: note that pnpm rejects `add` at the workspace root by default
  docs/src/guide/other/faq.md
Due: lint-md

fix(layout): 取消固定后二级菜单消失问题
  packages/@core/ui-kit/layout-ui/src/components/layout-sidebar.vue
  packages/@core/ui-kit/layout-ui/src/components/widgets/sidebar-fixed-button.vue
Due: lint-vue, lint-style

fix(layout): 修复 collapse 时宽度计算仍包含 extraWidth 的问题
  packages/@core/ui-kit/layout-ui/src/components/layout-sidebar.vue
Due: lint-vue, lint-style

docs: explain monorepo package boundaries and dependency install (#8425)
  docs/src/guide/other/faq.md
Due: lint-md

fix(layout): 取消固定后二级菜单消失问题 (#8429)
  packages/@core/ui-kit/layout-ui/src/components/layout-sidebar.vue
  packages/@core/ui-kit/layout-ui/src/components/widgets/sidebar-fixed-button.vue
Due: lint-vue, lint-style

fix(@vben/layouts): 默认子路由 path 为空时二级菜单不渲染
  packages/effects/layouts/src/basic/menu/__tests__/use-extra-menu.test.ts
  packages/effects/layouts/src/basic/menu/use-extra-menu.ts
Due: lint-js

fix(@vben/layouts): 鼠标移出侧边栏时按 activePath 还原二级菜单
  packages/effects/layouts/src/basic/menu/__tests__/use-extra-menu.test.ts
  packages/effects/layouts/src/basic/menu/use-extra-menu.ts
Due: lint-js

fix(@vben/layouts): 默认子路由 path 为空时二级菜单不渲染 (#8432)
  packages/effects/layouts/src/basic/menu/__tests__/use-extra-menu.test.ts
  packages/effects/layouts/src/basic/menu/use-extra-menu.ts
Due: lint-js

fix(@vben-core/layout-ui): 二级面板可见性与占位宽度同源，避免遮挡正文
  packages/@core/ui-kit/layout-ui/src/__tests__/layout-sidebar-extra-panel.test.ts
  packages/@core/ui-kit/layout-ui/src/components/layout-sidebar.vue
Due: lint-vue, lint-js, lint-style

fix(@vben/layouts): 页面不属于任何菜单时收起二级面板
  packages/effects/layouts/src/basic/layout.vue
  packages/effects/layouts/src/basic/menu/__tests__/use-extra-menu.test.ts
  packages/effects/layouts/src/basic/menu/use-extra-menu.ts
Due: lint-vue, lint-js, lint-style

fix(@vben-core/layout-ui): 展开条件补回 expandOnHover，兼容只传单个 prop 的调用方
  packages/@core/ui-kit/layout-ui/src/__tests__/layout-sidebar-extra-panel.test.ts
  packages/@core/ui-kit/layout-ui/src/components/layout-sidebar.vue
Due: lint-vue, lint-js, lint-style

fix(@vben-core/layout-ui): header 偏移在侧栏折叠时不再多算二级列宽
  packages/@core/ui-kit/layout-ui/src/vben-layout.vue
Due: lint-vue, lint-style

fix: 双列菜单二级面板与占位宽度不同源，导致遮挡正文 (#8434)
  packages/@core/ui-kit/layout-ui/src/__tests__/layout-sidebar-extra-panel.test.ts
  packages/@core/ui-kit/layout-ui/src/components/layout-sidebar.vue
  packages/@core/ui-kit/layout-ui/src/vben-layout.vue
  packages/effects/layouts/src/basic/layout.vue
  packages/effects/layouts/src/basic/menu/__tests__/use-extra-menu.test.ts
  packages/effects/layouts/src/basic/menu/use-extra-menu.ts
Due: lint-vue, lint-js, lint-style
