Repository vbenjs/vue-vben-admin: changes, and which lefthook commands are due for each by the changed paths.
All: lint-md, lint-vue, lint-js, lint-style, lint-package, lint-json

lint-md:
  run: pnpm prettier --cache --ignore-unknown --write {staged_files}

lint-vue:
  run: pnpm prettier --write {staged_files} && pnpm eslint --cache --fix {staged_files} && pnpm stylelint --fix --allow-empty-input {staged_files}

lint-js:
  run: pnpm prettier --cache --ignore-unknown --write {staged_files} && pnpm eslint --cache --fix {staged_files}

lint-style:
  run: pnpm prettier --cache --ignore-unknown --write {staged_files} && pnpm stylelint --fix --allow-empty-input {staged_files}

lint-package:
  run: pnpm prettier --cache --write {staged_files}

lint-json:
  run: pnpm prettier --cache --write --parser json {staged_files}

docs(@vben/docs): 添加 VCropper 图片裁剪组件文档 (#7904)
  docs/.vitepress/config/en.mts
  docs/.vitepress/config/zh.mts
  docs/src/components/common-ui/vben-cropper.md
  docs/src/demos/vben-cropper/aspect-ratio/index.vue
  docs/src/demos/vben-cropper/basic/index.vue
  docs/src/en/components/common-ui/vben-cropper.md
Due: lint-md, lint-vue, lint-style

fix(deploy): use IMAGE_NAME variable in remove_image instead of hardcoded name
  scripts/deploy/build-local-docker-image.sh
Due: none

fix: preserve tree default value when treeData starts empty
  .changeset/tree-default-value.md
  packages/@core/ui-kit/shadcn-ui/src/ui/tree/tree.vue
Due: lint-md, lint-vue, lint-style

fix: update primary color when toggling dark/light mode with custom theme
  .changeset/element-plus-theme-switch.md
  packages/effects/layouts/src/widgets/preferences/blocks/theme/builtin.vue
Due: lint-md, lint-vue, lint-style

fix: skip fixed footer height in auto-content-height calculation
  .changeset/page-auto-content-height.md
  packages/effects/common-ui/src/components/page/page.vue
Due: lint-md, lint-vue, lint-style

fix: replace getComputedStyle footer height check with footerFixed prop
  packages/effects/common-ui/src/components/page/page.vue
  packages/effects/common-ui/src/components/page/types.ts
Due: lint-vue, lint-js, lint-style

fix: guard svg icon loading during docs SSR
  .changeset/small-moons-hunt.md
  packages/icons/src/svg/load.ts
Due: lint-md, lint-js

chore: update deps
  .vscode/settings.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: lint-package

chore: remove npm warn Unknown project config
  .npmrc
Due: none

Revert "chore: remove npm warn Unknown project config"
  .npmrc
Due: none

chore: pnpm v11
  .gitignore
  .npmrc
  package.json
  pnpm-workspace.yaml
Due: lint-package

chore: pnpm v11
  .gitpod.yml
  README.ja-JP.md
  README.md
  README.zh-CN.md
  docs/src/en/guide/introduction/quick-start.md
  docs/src/guide/introduction/quick-start.md
  internal/lint-configs/eslint-config/src/configs/yaml.ts
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/deploy/Dockerfile
Due: lint-md, lint-js, lint-package

fix: lint
  docs/src/demos/vben-tiptap/basic/index.vue
  internal/lint-configs/oxlint-config/src/configs/comments.ts
  packages/@core/base/shared/src/utils/__tests__/state-handler.test.ts
  packages/@core/base/shared/src/utils/__tests__/util.test.ts
  packages/effects/request/src/request-client/request-client.test.ts
Due: lint-vue, lint-js, lint-style

chore: fix zod version
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

style: 优化显示名称
  playground/src/locales/langs/en-US/demos.json
  playground/src/locales/langs/zh-CN/demos.json
Due: none

fix: README
  README.md
  README.zh-CN.md
Due: lint-md

fix: doc build error
  docs/.vitepress/config/shared.mts
  packages/icons/src/svg/load.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: lint-js

feat: 1、完善tree组件的全选状态不正确、全选没有label、item内容超长导致复选框对齐错乱、item内容超长没有tips无法看到完整内容的问题
  packages/@core/ui-kit/shadcn-ui/src/ui/tree/tree.vue
  packages/@core/ui-kit/shadcn-ui/src/ui/tree/types.ts
Due: lint-vue, lint-js, lint-style

chore: update deps
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

fix(@vben/plugins): 修复 tiptap 重复注册扩展警告
  packages/effects/plugins/src/tiptap/extensions.ts
Due: lint-js

chore: update deps
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: lint-package

fix: preserve tree default value when treeData starts empty (#7908)
  .changeset/tree-default-value.md
  packages/@core/ui-kit/shadcn-ui/src/ui/tree/tree.vue
Due: lint-md, lint-vue, lint-style

fix: update primary color when toggling dark/light mode with custom theme (#7909)
  .changeset/element-plus-theme-switch.md
  packages/effects/layouts/src/widgets/preferences/blocks/theme/builtin.vue
Due: lint-md, lint-vue, lint-style

fix: skip fixed footer height in auto-content-height calculation (#7910)
  .changeset/page-auto-content-height.md
  packages/effects/common-ui/src/components/page/page.vue
  packages/effects/common-ui/src/components/page/types.ts
Due: lint-md, lint-vue, lint-js, lint-style

fix: guard svg icon loading during docs SSR (#7912)
  .changeset/small-moons-hunt.md
  packages/icons/src/svg/load.ts
Due: lint-md, lint-js

feat: 1、完善tree组件的全选状态不正确、全选没有label、item内容超长导致复选框对齐错乱、item内容超长没有tips无法看到完整内容的问题 (#7915)
  packages/@core/ui-kit/shadcn-ui/src/ui/tree/tree.vue
  packages/@core/ui-kit/shadcn-ui/src/ui/tree/types.ts
Due: lint-vue, lint-js, lint-style

fix(@vben/plugins): 修复 tiptap 重复注册扩展警告 (#7917)
  packages/effects/plugins/src/tiptap/extensions.ts
Due: lint-js

fix(deploy): use IMAGE_NAME variable in remove_image instead of hardcoded name (#7907)
  scripts/deploy/build-local-docker-image.sh
Due: none

fix: lint
  .changeset/element-plus-theme-switch.md
  .changeset/page-auto-content-height.md
  .changeset/small-moons-hunt.md
  .changeset/tree-default-value.md
  packages/effects/common-ui/src/components/page/page.vue
  packages/effects/plugins/src/tiptap/extensions.ts
Due: lint-md, lint-vue, lint-js, lint-style

chore: 更新 pnpm-workspace.yaml 配置，添加 publicHoistPattern 和 allowBuilds 设置
  .npmrc
  pnpm-workspace.yaml
Due: none

fix: lint
  docs/src/demos/vben-tiptap/basic/index.vue
  internal/lint-configs/oxlint-config/src/configs/comments.ts
Due: lint-vue, lint-js, lint-style

build: change app config from query-based url to hashed filename
  docs/src/en/guide/essentials/server.md
  docs/src/en/guide/essentials/settings.md
  docs/src/guide/essentials/server.md
  docs/src/guide/essentials/settings.md
  internal/vite-config/src/plugins/extra-app-config.ts
Due: lint-md, lint-js

style: apply vsh lint formatting
  .changeset/element-plus-theme-switch.md
  .changeset/page-auto-content-height.md
  .changeset/small-moons-hunt.md
  .changeset/tree-default-value.md
  docs/src/demos/vben-tiptap/basic/index.vue
  packages/@core/base/shared/src/cache/README.md
  packages/@core/base/shared/src/cache/__tests__/storage-manager.test.ts
  packages/@core/base/shared/src/cache/indexeddb-driver.ts
  packages/@core/base/shared/src/cache/local-storage-driver.ts
  packages/@core/base/shared/src/cache/memory-storage-driver.ts
  packages/@core/base/shared/src/cache/storage-manager.ts
  packages/@core/base/shared/src/cache/types.ts
  packages/@core/preferences/src/preferences.ts
  packages/effects/common-ui/src/components/page/page.vue
  packages/effects/plugins/src/tiptap/extensions.ts
  packages/effects/plugins/src/vxe-table/api.ts
  packages/effects/plugins/src/vxe-table/types.ts
  packages/effects/plugins/src/vxe-table/use-viewed-row.ts
  packages/effects/plugins/src/vxe-table/use-vxe-grid.vue
  playground/src/views/examples/vxe-table/viewed.vue
Due: lint-md, lint-vue, lint-js, lint-style

fix: lint
  playground/src/views/examples/count-to/index.vue
Due: lint-vue, lint-style

fix: 修复 InputNumber 组件宽度在表单中不占满的问题
  playground/src/adapter/component/index.ts
Due: lint-js

Path conditions:
  lint-md: any of: *.md
  lint-vue: any of: *.vue
  lint-js: any of: *.{js,jsx,ts,tsx}
  lint-style: any of: *.{scss,less,styl,html,vue,css}
  lint-package: any of: package.json
  lint-json: any of: {!(package)*.json,*.code-snippets,.!(browserslist)*rc}
