Repository vbenjs/vue-vben-admin: changes, and which lefthook commands are due for each by the changed paths.
All: lint-md, lint-vue, lint-js, lint-style, lint-package, lint-json

lint-md:
  run: pnpm prettier --cache --ignore-unknown --write {staged_files}

lint-vue:
  run: pnpm prettier --write {staged_files} && pnpm eslint --cache --fix {staged_files} && pnpm stylelint --fix --allow-empty-input {staged_files}

lint-js:
  run: pnpm prettier --cache --ignore-unknown --write {staged_files} && pnpm eslint --cache --fix {staged_files}

lint-style:
  run: pnpm prettier --cache --ignore-unknown --write {staged_files} && pnpm stylelint --fix --allow-empty-input {staged_files}

lint-package:
  run: pnpm prettier --cache --write {staged_files}

lint-json:
  run: pnpm prettier --cache --write --parser json {staged_files}

fix: vxe i18n (#7675)
  packages/effects/plugins/src/vxe-table/init.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: lint-js

perf: 裁剪组件默认输出格式调整 (#7673)
  packages/effects/common-ui/src/components/cropper/cropper.vue
Due: lint-vue, lint-style

chore: Configure the ESLint auto-repair feature (#7670)
  .vscode/settings.json
Due: none

fix: 修复构建脚本中的进程执行问题
  internal/node-utils/scripts/build.mjs
Due: none

chore: 处理合并的一些问题
  packages/@core/base/shared/tsdown.config.ts
  packages/@core/base/typings/vue-router.d.ts
  packages/@core/ui-kit/form-ui/tsdown.config.ts
  packages/@core/ui-kit/layout-ui/tsdown.config.ts
  packages/@core/ui-kit/menu-ui/tsdown.config.ts
  packages/@core/ui-kit/popup-ui/tsdown.config.ts
  packages/@core/ui-kit/tabs-ui/tsdown.config.ts
  pnpm-lock.yaml
Due: lint-js

feat: add tiptap editor plugin
  packages/@core/base/icons/src/lucide.ts
  packages/effects/plugins/package.json
  packages/effects/plugins/src/tiptap/extensions.ts
  packages/effects/plugins/src/tiptap/index.ts
  packages/effects/plugins/src/tiptap/tiptap.vue
  packages/effects/plugins/src/tiptap/toolbar.ts
  packages/effects/plugins/src/tiptap/types.ts
  packages/effects/plugins/src/tiptap/use-tiptap-toolbar.ts
  packages/locales/src/langs/en-US/ui.json
  packages/locales/src/langs/zh-CN/ui.json
  playground/src/locales/langs/en-US/examples.json
  playground/src/locales/langs/zh-CN/examples.json
  playground/src/router/routes/modules/examples.ts
  playground/src/views/examples/tiptap/index.vue
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: lint-vue, lint-js, lint-style

fix: build error
  internal/node-utils/scripts/build.mjs
Due: none

fix: Fix issue where commands could not be executed correctly when they contained spaces
  internal/node-utils/scripts/build.mjs
Due: none

chore: oxfmt
  internal/node-utils/scripts/build.mjs
Due: none

feat: tiptap preview
  packages/effects/plugins/src/tiptap/index.ts
  packages/effects/plugins/src/tiptap/preview.vue
  packages/effects/plugins/src/tiptap/style.css
  packages/effects/plugins/src/tiptap/tiptap.vue
  packages/effects/plugins/src/tiptap/types.ts
  packages/locales/src/langs/en-US/ui.json
  packages/locales/src/langs/zh-CN/ui.json
  playground/src/views/examples/tiptap/index.vue
Due: lint-vue, lint-js, lint-style

feat: add tiptap in vben form
  playground/src/adapter/component/index.ts
  playground/src/views/examples/form/basic.vue
Due: lint-vue, lint-js, lint-style

fix: lint
  packages/@core/ui-kit/form-ui/tsdown.config.ts
  packages/@core/ui-kit/layout-ui/tsdown.config.ts
  packages/@core/ui-kit/menu-ui/tsdown.config.ts
  packages/@core/ui-kit/popup-ui/tsdown.config.ts
  packages/@core/ui-kit/tabs-ui/tsdown.config.ts
Due: lint-js

chore: update deps
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

fix: build.mjs commands could not be executed correctly. (#7682)
  internal/node-utils/scripts/build.mjs
Due: none

fix: catelog
  docs/src/en/guide/project/dir.md
  docs/src/en/guide/project/standard.md
  docs/src/guide/project/dir.md
  docs/src/guide/project/standard.md
  oxfmt.config.mjs
  oxlint.config.mjs
  vben-admin.code-workspace
Due: lint-md

fix: system
  internal/vite-config/src/config/application.ts
Due: lint-js

fix: tailwindcss config
  .vscode/settings.json
  docs/package.json
  docs/src/en/guide/project/tailwindcss.md
  docs/src/guide/project/tailwindcss.md
  internal/lint-configs/oxlint-config/src/configs/tailwindcss.ts
  internal/tailwind-config/package.json
  internal/tailwind-config/src/index.ts
  internal/tailwind-config/src/theme.css
  internal/vite-config/src/plugins/tailwind-reference.ts
  package.json
  packages/@core/base/design/package.json
  packages/@core/base/design/src/css/global.css
  packages/@core/base/design/src/css/nprogress.css
  packages/@core/ui-kit/menu-ui/src/components/normal-menu/normal-menu.vue
  packages/@core/ui-kit/shadcn-ui/src/assets/index.css
  packages/@core/ui-kit/shadcn-ui/src/components/breadcrumb/breadcrumb-background.vue
  packages/@core/ui-kit/tabs-ui/src/components/tabs-chrome/tabs.vue
  packages/effects/common-ui/src/components/cropper/cropper.vue
  packages/effects/layouts/src/widgets/theme-toggle/theme-button.vue
  packages/effects/plugins/src/vxe-table/style.css
  pnpm-lock.yaml
  scripts/vsh/src/check-dep/index.ts
  vben-admin.code-workspace
Due: lint-md, lint-vue, lint-js, lint-style, lint-package

fix: lint
  internal/tailwind-config/src/index.ts
Due: lint-js

fix: lint
  internal/lint-configs/eslint-config/src/configs/node.ts
  playground/src/views/examples/form/basic.vue
Due: lint-vue, lint-js, lint-style

fix: sass-embedded@1.98.0 在 macOS 13 会直接崩 (#7692)
  docs/src/en/guide/project/dir.md
  docs/src/en/guide/project/standard.md
  docs/src/guide/project/dir.md
  docs/src/guide/project/standard.md
  internal/vite-config/src/config/application.ts
  oxfmt.config.mjs
  oxlint.config.mjs
  vben-admin.code-workspace
Due: lint-md, lint-js

Revert "fix: sass-embedded@1.98.0 在 macOS 13 会直接崩 (#7692)"
  docs/src/en/guide/project/dir.md
  docs/src/en/guide/project/standard.md
  docs/src/guide/project/dir.md
  docs/src/guide/project/standard.md
  internal/vite-config/src/config/application.ts
  oxfmt.config.ts
  oxlint.config.ts
  vben-admin.code-workspace
Due: lint-md, lint-js

fix: playground(drawer) comment
  playground/src/views/examples/drawer/index.vue
Due: lint-vue, lint-style

revert: "fix: sass-embedded@1.98.0 在 macOS 13 会直接崩 (#7692)"
  docs/src/en/guide/project/dir.md
  docs/src/en/guide/project/standard.md
  docs/src/guide/project/dir.md
  docs/src/guide/project/standard.md
  internal/vite-config/src/config/application.ts
  oxfmt.config.ts
  oxlint.config.ts
  vben-admin.code-workspace
Due: lint-md, lint-js

fix: playground(drawer) comment (#7695)
  playground/src/views/examples/drawer/index.vue
Due: lint-vue, lint-style

fix(@vben/oxfmt-config): rename default config export
  internal/lint-configs/oxfmt-config/src/index.ts
Due: lint-js

fix: tailwindcss config (#7693)
  .vscode/settings.json
  docs/package.json
  docs/src/en/guide/project/tailwindcss.md
  docs/src/guide/project/tailwindcss.md
  internal/lint-configs/eslint-config/src/configs/node.ts
  internal/lint-configs/oxlint-config/src/configs/tailwindcss.ts
  internal/tailwind-config/package.json
  internal/tailwind-config/src/index.ts
  internal/tailwind-config/src/theme.css
  internal/vite-config/src/plugins/tailwind-reference.ts
  package.json
  packages/@core/base/design/package.json
  packages/@core/base/design/src/css/global.css
  packages/@core/base/design/src/css/nprogress.css
  packages/@core/ui-kit/menu-ui/src/components/normal-menu/normal-menu.vue
  packages/@core/ui-kit/shadcn-ui/src/assets/index.css
  packages/@core/ui-kit/shadcn-ui/src/components/breadcrumb/breadcrumb-background.vue
  packages/@core/ui-kit/tabs-ui/src/components/tabs-chrome/tabs.vue
  packages/effects/common-ui/src/components/cropper/cropper.vue
  packages/effects/layouts/src/widgets/theme-toggle/theme-button.vue
  packages/effects/plugins/src/vxe-table/style.css
  playground/src/views/examples/form/basic.vue
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/vsh/src/check-dep/index.ts
  vben-admin.code-workspace
Due: lint-md, lint-vue, lint-js, lint-style, lint-package

fix: 修复菜单项外部链接跳转问题
  packages/@core/ui-kit/menu-ui/src/components/menu-item.vue
Due: lint-vue, lint-style

refactor(@vben-core/menu-ui): normalize leaf menu item markup
  packages/@core/ui-kit/menu-ui/src/components/menu-item.vue
  packages/@core/ui-kit/menu-ui/src/components/menu.vue
Due: lint-vue, lint-style

chore(@vben-core/menu-ui): silence submenu oxlint warning
  packages/@core/ui-kit/menu-ui/src/components/sub-menu.vue
Due: lint-vue, lint-style

fix(project): fix sub sidebar theme in two-column menu
  packages/@core/base/design/src/design-tokens/default.css
  packages/effects/layouts/src/basic/layout.vue
Due: lint-vue, lint-style

fix(project): fix sub sidebar theme in two-column menu (#7708)
  packages/@core/base/design/src/design-tokens/default.css
  packages/effects/layouts/src/basic/layout.vue
Due: lint-vue, lint-style

feat: table允许通过props动态变化data数据
  package.json
  packages/effects/plugins/src/vxe-table/use-vxe-grid.vue
Due: lint-vue, lint-style, lint-package

feat: table 类型VxeTableGridColumns替代VxeTableGridOptions['columns']魔法值写法
  packages/effects/plugins/src/vxe-table/index.ts
  packages/effects/plugins/src/vxe-table/types.ts
  playground/src/views/system/dept/data.ts
  playground/src/views/system/menu/data.ts
  playground/src/views/system/role/data.ts
Due: lint-js

feat: 增加table 帮助信息help通过表单values动态展示内容
  packages/@core/ui-kit/form-ui/src/form-render/form-field.vue
  packages/@core/ui-kit/form-ui/src/types.ts
  playground/src/views/examples/form/basic.vue
Due: lint-vue, lint-js, lint-style

feat: ApiSelect增加shouldFetch控制，在api请求之前的判断是否允许请求的回调函数
  packages/effects/common-ui/src/components/api-component/api-component.vue
  playground/src/views/examples/form/basic.vue
Due: lint-vue, lint-style

chore: update deps
  internal/vite-config/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

fix: rollup -> rolldown
  internal/vite-config/src/plugins/license.ts
Due: lint-js

Path conditions:
  lint-md: any of: *.md
  lint-vue: any of: *.vue
  lint-js: any of: *.{js,jsx,ts,tsx}
  lint-style: any of: *.{scss,less,styl,html,vue,css}
  lint-package: any of: package.json
  lint-json: any of: {!(package)*.json,*.code-snippets,.!(browserslist)*rc}
