Repository vbenjs/vue-vben-admin: changes, and which lefthook commands are due for each by the changed paths.
All: lint-md, lint-vue, lint-js, lint-style, lint-package, lint-json

lint-md:
  run: pnpm prettier --cache --ignore-unknown --write {staged_files}

lint-vue:
  run: pnpm prettier --write {staged_files} && pnpm eslint --cache --fix {staged_files} && pnpm stylelint --fix --allow-empty-input {staged_files}

lint-js:
  run: pnpm prettier --cache --ignore-unknown --write {staged_files} && pnpm eslint --cache --fix {staged_files}

lint-style:
  run: pnpm prettier --cache --ignore-unknown --write {staged_files} && pnpm stylelint --fix --allow-empty-input {staged_files}

lint-package:
  run: pnpm prettier --cache --write {staged_files}

lint-json:
  run: pnpm prettier --cache --write --parser json {staged_files}

fix(prisma): add deptCode/deptType/remark to SysDept, printCode to SysPrintDesign for new add modal fields
  apps/server/prisma/schema.prisma
Due: none

fix: 修复路由重复
  packages/effects/access/src/accessible.ts
Due: lint-js

fix: 修复名称冲突时子项合并顺序/覆盖（后端子项可能会丢失）。
  packages/effects/access/src/accessible.ts
Due: lint-js

fix: 优化可访问性判断逻辑
  packages/effects/access/src/accessible.ts
Due: lint-js

fix: bump version to 5.6.0
  package.json
Due: lint-package

fix: bump version to 5.6.0 (#7592)
  package.json
Due: lint-package

feat(preferences): add toggle for copy preferences button
  docs/src/en/guide/essentials/settings.md
  docs/src/guide/essentials/settings.md
  packages/@core/preferences/__tests__/__snapshots__/config.test.ts.snap
  packages/@core/preferences/src/config.ts
  packages/@core/preferences/src/types.ts
  packages/effects/layouts/src/widgets/preferences/blocks/general/general.vue
  packages/effects/layouts/src/widgets/preferences/preferences-drawer.vue
  packages/locales/src/langs/en-US/preferences.json
  packages/locales/src/langs/zh-CN/preferences.json
Due: lint-md, lint-vue, lint-js, lint-style

fix: 修复混合双列布局侧边栏拖拽线条位置显示bug，同步修复普通布局和混合双列布局切换时width计算导致侧边栏宽度显示异常问题，新增普通布局和混合双列布局侧边栏菜单折叠状态同步
  packages/@core/ui-kit/layout-ui/src/components/layout-sidebar.vue
  packages/@core/ui-kit/layout-ui/src/vben-layout.vue
Due: lint-vue, lint-style

chore: update deps
  internal/lint-configs/eslint-config/package.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: lint-package

feat: use jsonc/x language
  internal/lint-configs/eslint-config/src/configs/jsonc.ts
  internal/lint-configs/eslint-config/src/configs/pnpm.ts
Due: lint-js

chore: update eslint 10.0
  internal/lint-configs/eslint-config/package.json
  internal/lint-configs/eslint-config/src/configs/comments.ts
  internal/lint-configs/eslint-config/src/configs/test.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: lint-js

fix: no-useless-assignment
  apps/backend-mock/api/table/list.ts
  apps/web-antd/src/store/auth.ts
  apps/web-antdv-next/src/store/auth.ts
  apps/web-ele/src/store/auth.ts
  apps/web-naive/src/store/auth.ts
  apps/web-tdesign/src/store/auth.ts
  packages/@core/ui-kit/layout-ui/src/vben-layout.vue
  packages/effects/request/src/request-client/modules/sse.ts
  packages/effects/request/src/request-client/preset-interceptors.ts
  packages/icons/src/svg/load.ts
  playground/src/adapter/vxe-table.ts
  playground/src/store/auth.ts
  pnpm-workspace.yaml
Due: lint-vue, lint-js, lint-style

feat: add CLAUDE.md
  CLAUDE.md
Due: lint-md

chore: ignore
  .gitignore
  .prettierignore
Due: none

feat: claude
  CLAUDE.md
Due: lint-md

feat(preferences): add toggle for copy preferences button (#7594)
  docs/src/en/guide/essentials/settings.md
  docs/src/guide/essentials/settings.md
  packages/@core/preferences/__tests__/__snapshots__/config.test.ts.snap
  packages/@core/preferences/src/config.ts
  packages/@core/preferences/src/types.ts
  packages/effects/layouts/src/widgets/preferences/blocks/general/general.vue
  packages/effects/layouts/src/widgets/preferences/preferences-drawer.vue
  packages/locales/src/langs/en-US/preferences.json
  packages/locales/src/langs/zh-CN/preferences.json
Due: lint-md, lint-vue, lint-js, lint-style

fix: 修复混合双列布局侧边栏拖拽线条位置显示bug，同步修复普通布局和混合双列布局切换时width计算导致侧边栏宽度显示异常问题，新增普通布局和混合双列布局侧边栏菜单折叠状态同步 (#7596)
  packages/@core/ui-kit/layout-ui/src/components/layout-sidebar.vue
  packages/@core/ui-kit/layout-ui/src/vben-layout.vue
Due: lint-vue, lint-style

fix: lint
  CLAUDE.md
Due: lint-md

chore: suppot eslint v10
  internal/lint-configs/eslint-config/src/configs/comments.ts
  internal/lint-configs/eslint-config/src/configs/perfectionist.ts
  internal/lint-configs/eslint-config/src/configs/yaml.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: lint-js

fix: lint
  packages/effects/layouts/src/widgets/preferences/blocks/general/general.vue
  packages/effects/layouts/src/widgets/preferences/preferences-drawer.vue
Due: lint-vue, lint-style

fix: lint
  packages/@core/preferences/src/types.ts
Due: lint-js

fix: type check
  packages/@core/ui-kit/form-ui/src/form-api.ts
  packages/@core/ui-kit/popup-ui/src/drawer/drawer-api.ts
  packages/@core/ui-kit/popup-ui/src/modal/modal-api.ts
  packages/effects/plugins/src/vxe-table/api.ts
Due: lint-js

fix: unit test
  packages/@core/preferences/__tests__/__snapshots__/config.test.ts.snap
  packages/@core/preferences/src/config.ts
  packages/@core/ui-kit/popup-ui/src/drawer/__tests__/drawer-api.test.ts
  packages/@core/ui-kit/popup-ui/src/modal/__tests__/modal-api.test.ts
Due: lint-js

fix: Suggested fix
  packages/@core/ui-kit/popup-ui/src/drawer/drawer-api.ts
  packages/@core/ui-kit/popup-ui/src/modal/modal-api.ts
Due: lint-js

fix: unit test
  packages/@core/ui-kit/popup-ui/src/drawer/drawer-api.ts
  packages/@core/ui-kit/popup-ui/src/modal/modal-api.ts
Due: lint-js

chore: update stylelint v17
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

chore: update all major deps
  cspell.json
  packages/@core/base/shared/src/utils/__tests__/resources.test.ts
  packages/effects/plugins/src/echarts/use-echarts.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/turbo-run/src/index.ts
  scripts/vsh/env.d.ts
  scripts/vsh/src/index.ts
  scripts/vsh/tsconfig.json
  vitest.config.ts
Due: lint-js

fix: echarts console warn
  packages/effects/plugins/src/echarts/echarts.ts
Due: lint-js

chore: update vitest v4
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

fix: fix component type
  packages/effects/common-ui/src/components/captcha/slider-captcha/index.vue
Due: lint-vue, lint-style

fix: error Forbidden non-null assertion
  packages/effects/access/src/accessible.ts
Due: lint-js

feat: add skills ignores
  internal/lint-configs/eslint-config/src/configs/ignores.ts
Due: lint-js

chore: update deps
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

fix: 拖拽使用遮罩层实现，使得拖拽到min或max临界值时cursor显示not-allowed，同时拖拽线条颜色变浅，类似于disabled，提升用户体验
  packages/@core/ui-kit/layout-ui/src/components/layout-sidebar.vue
  packages/@core/ui-kit/layout-ui/src/hooks/use-sidebar-drag.ts
Due: lint-vue, lint-js, lint-style

fix: 修复代码审查建议；修复lint和test报错
  packages/@core/preferences/__tests__/__snapshots__/config.test.ts.snap
  packages/@core/preferences/src/types.ts
  packages/@core/ui-kit/layout-ui/src/hooks/use-sidebar-drag.ts
  packages/effects/layouts/src/widgets/preferences/blocks/general/general.vue
  packages/effects/layouts/src/widgets/preferences/preferences-drawer.vue
Due: lint-vue, lint-js, lint-style

fix: 修复遮罩层挡住hover:bg-primary视觉效果问题
  packages/@core/ui-kit/layout-ui/src/components/layout-sidebar.vue
  packages/@core/ui-kit/layout-ui/src/hooks/use-sidebar-drag.ts
Due: lint-vue, lint-js, lint-style

fix: 修复执行: check:cspell 命令路径参数传入没有转义导致检测路径失效。添加菜单右键功能。优化:多余监听 activePath 变化，自动滚动到激活项 watch
  package.json
  packages/@core/base/typings/src/menu-record.ts
  packages/@core/ui-kit/layout-ui/src/components/layout-sidebar.vue
  packages/@core/ui-kit/menu-ui/package.json
  packages/@core/ui-kit/menu-ui/src/components/menu-item.vue
  packages/@core/ui-kit/menu-ui/src/components/menu.vue
  packages/@core/ui-kit/menu-ui/src/sub-menu.vue
  packages/@core/ui-kit/menu-ui/src/types.ts
  packages/utils/src/helpers/generate-menus.ts
Due: lint-vue, lint-js, lint-style, lint-package

chore: update pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

chore: update package.json and cspell.json
  cspell.json
  package.json
Due: lint-package

chore: update deps
  internal/lint-configs/eslint-config/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

Path conditions:
  lint-md: any of: *.md
  lint-vue: any of: *.vue
  lint-js: any of: *.{js,jsx,ts,tsx}
  lint-style: any of: *.{scss,less,styl,html,vue,css}
  lint-package: any of: package.json
  lint-json: any of: {!(package)*.json,*.code-snippets,.!(browserslist)*rc}
