Repository vbenjs/vue-vben-admin: changes, and which lefthook commands are due for each by the changed paths.
All: lint-md, lint-vue, lint-js, lint-style, lint-package, lint-json

lefthook.yml:

# EXAMPLE USAGE:
#
#   Refer for explanation to following link:
#   https://lefthook.dev/configuration/
#
# pre-push:
#   jobs:
#     - name: packages audit
#       tags:
#         - frontend
#         - security
#       run: yarn audit
#
#     - name: gems audit
#       tags:
#         - backend
#         - security
#       run: bundle audit
#
# pre-commit:
#   parallel: true
#   jobs:
#     - run: yarn eslint {staged_files}
#       glob: "*.{js,ts,jsx,tsx}"
#
#     - name: rubocop
#       glob: "*.rb"
#       exclude:
#         - config/application.rb
#         - config/routes.rb
#       run: bundle exec rubocop --force-exclusion {all_files}
#
#     - name: govet
#       files: git ls-files -m
#       glob: "*.go"
#       run: go vet {files}
#
#     - script: "hello.js"
#       runner: node
#
#     - script: "hello.go"
#       runner: go run

pre-commit:
  parallel: true
  commands:
    code-workspace:
      run: pnpm vsh code-workspace --auto-commit
    lint-md:
      run: pnpm prettier --cache --ignore-unknown --write {staged_files}
      glob: '*.md'
    lint-vue:
      run: pnpm prettier --write {staged_files} && pnpm eslint --cache --fix {staged_files} && pnpm stylelint --fix --allow-empty-input {staged_files}
      glob: '*.vue'
    lint-js:
      run: pnpm prettier --cache --ignore-unknown --write {staged_files} && pnpm eslint --cache --fix {staged_files}
      glob: '*.{js,jsx,ts,tsx}'
    lint-style:
      run: pnpm prettier --cache --ignore-unknown --write {staged_files} && pnpm stylelint --fix --allow-empty-input {staged_files}
      glob: '*.{scss,less,styl,html,vue,css}'
    lint-package:
      run: pnpm prettier --cache --write {staged_files}
      glob: 'package.json'
    lint-json:
      run: pnpm prettier --cache --write --parser json {staged_files}
      glob: '{!(package)*.json,*.code-snippets,.!(browserslist)*rc}'

post-merge:
  commands:
    install:
      run: pnpm install

commit-msg:
  commands:
    commitlint:
      run: pnpm exec commitlint --edit $1

feat: add useTDesignDesignTokens
  apps/web-tdesign/src/app.vue
  apps/web-tdesign/src/bootstrap.ts
  packages/@core/base/shared/src/utils/__tests__/update-css-variables.test.ts
  packages/@core/base/shared/src/utils/update-css-variables.ts
  packages/effects/hooks/src/use-design-tokens.ts
Due: lint-vue, lint-js, lint-style

fix: test
  packages/@core/base/shared/src/utils/__tests__/update-css-variables.test.ts
Due: lint-js

chore: update deps
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

fix: vue(no-reserved-component-names)
  packages/@core/ui-kit/menu-ui/src/components/menu.vue
Due: lint-vue, lint-style

feat: fixed regression of modal for element plus
  packages/@core/ui-kit/popup-ui/src/alert/alert.vue
  packages/@core/ui-kit/popup-ui/src/modal/modal.vue
  packages/@core/ui-kit/shadcn-ui/src/ui/alert-dialog/AlertDialogAction.vue
  packages/@core/ui-kit/shadcn-ui/src/ui/alert-dialog/AlertDialogCancel.vue
  packages/@core/ui-kit/shadcn-ui/src/ui/alert-dialog/AlertDialogContent.vue
  packages/@core/ui-kit/shadcn-ui/src/ui/dialog/DialogContent.vue
Due: lint-vue, lint-style

feat: add useTDesignDesignTokens
  apps/web-tdesign/src/app.vue
  apps/web-tdesign/src/bootstrap.ts
  internal/lint-configs/eslint-config/src/configs/node.ts
  package.json
  packages/@core/base/shared/src/utils/__tests__/update-css-variables.test.ts
  packages/@core/base/shared/src/utils/update-css-variables.ts
  packages/@core/ui-kit/menu-ui/src/components/menu.vue
  packages/effects/hooks/src/use-design-tokens.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: lint-vue, lint-js, lint-style, lint-package

feat: fixed regression of modal for element plus (#7999)
  packages/@core/ui-kit/popup-ui/src/alert/alert.vue
  packages/@core/ui-kit/popup-ui/src/modal/modal.vue
  packages/@core/ui-kit/shadcn-ui/src/ui/alert-dialog/AlertDialogAction.vue
  packages/@core/ui-kit/shadcn-ui/src/ui/alert-dialog/AlertDialogCancel.vue
  packages/@core/ui-kit/shadcn-ui/src/ui/alert-dialog/AlertDialogContent.vue
  packages/@core/ui-kit/shadcn-ui/src/ui/dialog/DialogContent.vue
Due: lint-vue, lint-style

feat: fixed the defects the scrollbar disapear when modal close
  packages/@core/ui-kit/shadcn-ui/src/ui/dialog/DialogContent.vue
  packages/@core/ui-kit/shadcn-ui/src/ui/dialog/DialogOverlay.vue
Due: lint-vue, lint-style

fix(menu-ui): rename component for issue #8003
  .changeset/fancy-ears-walk.md
  packages/@core/ui-kit/menu-ui/src/components/menu.vue
Due: lint-md, lint-vue, lint-style

chore: 固定vite 8.0.10，避免编译后异常
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

feat: fixed the overlay layer can not work with reka-ui
  packages/@core/ui-kit/shadcn-ui/src/ui/dialog/DialogOverlay.vue
Due: lint-vue, lint-style

fix: fixed modal freeze issue
  packages/@core/ui-kit/popup-ui/src/modal/modal.vue
  packages/@core/ui-kit/shadcn-ui/src/ui/dialog/DialogContent.vue
  packages/@core/ui-kit/shadcn-ui/src/ui/dialog/DialogOverlay.vue
Due: lint-vue, lint-style

feat: fixed the regression of changing Menu to MenuUI
  .changeset/fancy-ears-walk.md
  packages/@core/ui-kit/menu-ui/src/components/menu-item.vue
  packages/@core/ui-kit/menu-ui/src/components/sub-menu.vue
  packages/@core/ui-kit/menu-ui/src/hooks/use-menu-context.ts
  packages/@core/ui-kit/menu-ui/src/hooks/use-menu.ts
Due: lint-md, lint-vue, lint-js, lint-style

feat: component and workflow error
  .changeset/.prettierrc.json
  packages/@core/ui-kit/shadcn-ui/src/ui/dialog/DialogOverlay.vue
Due: lint-vue, lint-style

fix: workflow (#8013)
  .changeset/.prettierrc.json
  packages/@core/ui-kit/shadcn-ui/src/ui/dialog/DialogOverlay.vue
Due: lint-vue, lint-style

chore: update deps
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: lint-package

feat: 同步 antdv-next 的组件
  apps/web-antdv-next/src/adapter/component/index.ts
  apps/web-antdv-next/src/api/core/index.ts
  apps/web-antdv-next/src/api/core/upload.ts
Due: lint-js

fix: vue/custom-event-name-casing
  packages/@core/ui-kit/layout-ui/src/vben-layout.vue
Due: lint-vue, lint-style

fix: modal 下拉等不能选中
  packages/@core/ui-kit/popup-ui/src/modal/modal.vue
  packages/@core/ui-kit/shadcn-ui/src/ui/dialog/DialogContent.vue
  packages/@core/ui-kit/shadcn-ui/src/ui/dialog/DialogOverlay.vue
  packages/@core/ui-kit/shadcn-ui/src/ui/dialog/DialogScrollContent.vue
Due: lint-vue, lint-style

feat: form 表单赋值
  playground/src/adapter/form.ts
  playground/src/views/examples/modal/form-modal-demo.vue
  playground/src/views/examples/modal/index.vue
Due: lint-vue, lint-js, lint-style

ci: bump amannn/action-semantic-pull-request from 5 to 6
  .github/workflows/semantic-pull-request.yml
Due: none

ci: bump dessant/lock-threads from 5 to 6
  .github/workflows/lock.yml
Due: none

ci: bump actions/stale from 9 to 10
  .github/workflows/issue-close-require.yml
  .github/workflows/stale.yml
Due: none

chore: node v24
  .github/workflows/codeql.yml
  .node-version
Due: none

feat: 将锁定屏幕和退出登录图标从用户下拉菜单移至头部栏
  apps/web-antd/src/layouts/basic.vue
  apps/web-antdv-next/src/layouts/basic.vue
  apps/web-ele/src/layouts/basic.vue
  apps/web-naive/src/layouts/basic.vue
  apps/web-tdesign/src/layouts/basic.vue
  packages/effects/layouts/src/basic/header/header.vue
  packages/effects/layouts/src/basic/layout.vue
  packages/effects/layouts/src/widgets/user-dropdown/user-dropdown.vue
Due: lint-vue, lint-style

feat: support unlocking scroll when modal dialog closes
  packages/@core/ui-kit/shadcn-ui/src/ui/dialog/DialogContent.vue
  packages/@core/ui-kit/shadcn-ui/src/ui/dialog/DialogOverlay.vue
Due: lint-vue, lint-style

fix: user-dropdown
  packages/effects/layouts/src/widgets/user-dropdown/user-dropdown.vue
Due: lint-vue, lint-style

chore: update archiver v8
  internal/vite-config/src/plugins/archiver.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: lint-js

fix: 下拉框都无法选择
  packages/@core/ui-kit/shadcn-ui/src/ui/dialog/DialogOverlay.vue
  packages/@core/ui-kit/shadcn-ui/src/ui/select/SelectContent.vue
  packages/effects/layouts/src/widgets/preferences/blocks/select-item.vue
Due: lint-vue, lint-style

feat: 整体调整偏好设置样式
  packages/effects/layouts/src/widgets/preferences/blocks/number-field-item.vue
  packages/effects/layouts/src/widgets/preferences/blocks/select-item.vue
  packages/effects/layouts/src/widgets/preferences/blocks/theme/font-size.vue
  packages/effects/layouts/src/widgets/preferences/blocks/theme/radius.vue
  packages/effects/layouts/src/widgets/preferences/blocks/toggle-item.vue
Due: lint-vue, lint-style

fix(style): 1.修复ToggleGroupItem边框样式问题 2.修复用户头像下拉框Badge背景颜色
  packages/@core/ui-kit/shadcn-ui/src/ui/toggle-group/ToggleGroupItem.vue
  packages/effects/layouts/src/widgets/user-dropdown/user-dropdown.vue
Due: lint-vue, lint-style

fix: 偏好设置中下拉框无法选择的问题，原因： 同步 shadcn-vue 将 z-popup 同步为 shadcn 的 z-50
  packages/@core/ui-kit/shadcn-ui/src/ui/select/SelectContent.vue
Due: lint-vue, lint-style

fix: 鼠标hover到用户登录头像 下拉来回闪烁 隐藏 显示
  packages/effects/layouts/src/widgets/user-dropdown/user-dropdown.vue
Due: lint-vue, lint-style

fix: alert
  packages/@core/ui-kit/popup-ui/src/alert/alert.vue
  packages/@core/ui-kit/shadcn-ui/src/ui/alert-dialog/AlertDialogAction.vue
  packages/@core/ui-kit/shadcn-ui/src/ui/alert-dialog/AlertDialogCancel.vue
  packages/@core/ui-kit/shadcn-ui/src/ui/alert-dialog/AlertDialogContent.vue
  packages/@core/ui-kit/shadcn-ui/src/ui/alert-dialog/AlertDialogDescription.vue
Due: lint-vue, lint-style

fix: select and user-dropdown (#8042)
  packages/@core/ui-kit/shadcn-ui/src/ui/select/SelectContent.vue
  packages/effects/layouts/src/widgets/user-dropdown/user-dropdown.vue
Due: lint-vue, lint-style

fix: 修复Tree组件不支持半选的问题（子节点全选时父节点选中图标为勾选状态，子节点部分选中时父节点图标为减号，也就是版勾选状态，子节点未被选中时，父节点不被选中）
  packages/@core/ui-kit/shadcn-ui/src/ui/checkbox/Checkbox.vue
  packages/@core/ui-kit/shadcn-ui/src/ui/tree/tree.vue
Due: lint-vue, lint-style

feat: aligns ESLint with oxfmt's behavior
  internal/lint-configs/eslint-config/src/configs/vue.ts
Due: lint-js
