Repository vbenjs/vue-vben-admin: changes, and which lefthook commands are due for each by the changed paths.
All: lint-md, lint-vue, lint-js, lint-style, lint-package, lint-json

lint-md:
  run: pnpm prettier --cache --ignore-unknown --write {staged_files}

lint-vue:
  run: pnpm prettier --write {staged_files} && pnpm eslint --cache --fix {staged_files} && pnpm stylelint --fix --allow-empty-input {staged_files}

lint-js:
  run: pnpm prettier --cache --ignore-unknown --write {staged_files} && pnpm eslint --cache --fix {staged_files}

lint-style:
  run: pnpm prettier --cache --ignore-unknown --write {staged_files} && pnpm stylelint --fix --allow-empty-input {staged_files}

lint-package:
  run: pnpm prettier --cache --write {staged_files}

lint-json:
  run: pnpm prettier --cache --write --parser json {staged_files}

fix(form): bind rich editor through modelValue (#8347)
  .changeset/fresh-tiptap-model.md
  apps/web-antdv-next/src/adapter/form.test.ts
  apps/web-antdv-next/src/adapter/form.ts
  playground/src/adapter/form.ts
Due: lint-md, lint-js

feat(request): 落地统一响应字段约定 ResultFieldEnum
  apps/web-antd/src/api/request.ts
  apps/web-antdv-next/src/api/request.ts
  apps/web-ele/src/api/request.ts
  apps/web-naive/src/api/request.ts
  apps/web-tdesign/src/api/request.ts
  docs/src/en/guide/essentials/server.md
  docs/src/guide/essentials/server.md
  packages/constants/src/http.enum.ts
  packages/effects/request/src/request-client/preset-interceptors.ts
  playground/src/api/request.ts
Due: lint-md, lint-js

fix(form-ui): 动态表单定义下重置时恢复错误的默认值
  packages/@core/ui-kit/form-ui/CHANGELOG.md
  packages/@core/ui-kit/form-ui/__tests__/form-api.test.ts
  packages/@core/ui-kit/form-ui/src/form-api.ts
  packages/@core/ui-kit/form-ui/src/form-default-values.ts
  packages/@core/ui-kit/form-ui/src/use-form-context.ts
Due: lint-md, lint-js

fix(demo-preview): 使用异步组件加载避免 SSR 报错
  docs/.vitepress/config/plugins/demo-preview.ts
Due: lint-js

fix(@vben/layouts): preserve distinct unnamed breadcrumb routes
  packages/effects/layouts/src/widgets/__tests__/breadcrumb-routes.test.ts
  packages/effects/layouts/src/widgets/breadcrumb-routes.ts
Due: lint-js

fix(@vben-core/shared): keep filterTree from mutating the source tree
  .changeset/quiet-trees-filter.md
  packages/@core/base/shared/src/utils/__tests__/tree.test.ts
  packages/@core/base/shared/src/utils/tree.ts
  packages/utils/src/helpers/__tests__/generate-routes-frontend.test.ts
Due: lint-md, lint-js

docs(@vben-core/shared): correct filterTree reference-semantics comment
  packages/@core/base/shared/src/utils/tree.ts
Due: lint-js

fix(common-ui): fetch api options after late binding
  .changeset/calm-api-selects-load.md
  packages/effects/common-ui/src/components/api-component/__tests__/api-component.test.ts
  packages/effects/common-ui/src/components/api-component/api-component.vue
Due: lint-md, lint-vue, lint-js, lint-style

test(common-ui): assert late api options payload
  packages/effects/common-ui/src/components/api-component/__tests__/api-component.test.ts
Due: lint-js

fix(form-ui): support native zod string format defaults
  .changeset/bright-zebras-default.md
  packages/@core/ui-kit/form-ui/__tests__/form-integration.test.ts
  packages/@core/ui-kit/form-ui/src/use-form-context.ts
Due: lint-md, lint-js

fix(form-ui): normalize zod formats before default extraction
  packages/@core/ui-kit/form-ui/__tests__/form-integration.test.ts
  packages/@core/ui-kit/form-ui/src/use-form-context.ts
Due: lint-js

docs(form-ui): document zod default normalization
  packages/@core/ui-kit/form-ui/src/use-form-context.ts
Due: lint-js

fix(vsh): invalidate publint cache when outputs change
  scripts/vsh/src/publint/__tests__/cache.test.ts
  scripts/vsh/src/publint/index.ts
Due: lint-js

fix(preferences): type custom preference updates
  .changeset/typed-custom-preferences-update.md
  packages/@core/preferences/__tests__/preferences-types.test.ts
  packages/@core/preferences/src/preferences.ts
Due: lint-md, lint-js

fix(vsh): hash wildcard publint outputs
  scripts/vsh/src/publint/__tests__/cache.test.ts
  scripts/vsh/src/publint/index.ts
Due: lint-js

style(preferences): order type test imports
  packages/@core/preferences/__tests__/preferences-types.test.ts
Due: lint-js

style(@vben-core/shadcn-ui): format collapsible test
  packages/@core/ui-kit/shadcn-ui/src/components/collapsible/__tests__/collapsible.test.ts
Due: lint-js

fix(@vben-core/shadcn-ui): preserve collapsible outlines
  .changeset/tidy-radios-collapsible.md
  packages/@core/ui-kit/shadcn-ui/src/components/collapsible/collapsible.vue
Due: lint-md, lint-vue, lint-style

fix(@vben-core/shared): preserve branch references in filterTree
  packages/@core/base/shared/src/utils/__tests__/tree.test.ts
  packages/@core/base/shared/src/utils/tree.ts
Due: lint-js

fix(request): preserve response metadata on errors
  .changeset/gentle-requests-return.md
  packages/effects/request/src/request-client/request-client.test.ts
  packages/effects/request/src/request-client/request-client.ts
Due: lint-md, lint-js

style(request): order interceptor test imports
  packages/effects/request/src/request-client/request-client.test.ts
Due: lint-js

docs: update reference web index and resources
  README.md
Due: lint-md

feat(@vben-core/form-ui): support grouped schema for collapsible sections
  .changeset/grouped-form-sections.md
  docs/src/components/common-ui/vben-form.md
  docs/src/en/components/common-ui/vben-form.md
  packages/@core/ui-kit/form-ui/__tests__/form-api.test.ts
  packages/@core/ui-kit/form-ui/__tests__/form-group.test.ts
  packages/@core/ui-kit/form-ui/__tests__/form-schema.test.ts
  packages/@core/ui-kit/form-ui/__tests__/form-types.test.ts
  packages/@core/ui-kit/form-ui/__tests__/form-value-transform.test.ts
  packages/@core/ui-kit/form-ui/src/components/form-field-array.vue
  packages/@core/ui-kit/form-ui/src/form-api.ts
  packages/@core/ui-kit/form-ui/src/form-render/form-group.vue
  packages/@core/ui-kit/form-ui/src/form-render/form.vue
  packages/@core/ui-kit/form-ui/src/form-render/schema.ts
  packages/@core/ui-kit/form-ui/src/form-value-transform.ts
  packages/@core/ui-kit/form-ui/src/index.ts
  packages/@core/ui-kit/form-ui/src/types.ts
  packages/@core/ui-kit/form-ui/src/use-form-context.ts
  packages/@core/ui-kit/form-ui/src/vben-use-form.vue
  playground/src/views/examples/form/collapsible.vue
Due: lint-md, lint-vue, lint-js, lint-style

fix(@vben-core/form-ui): harden grouped section behavior
  docs/src/components/common-ui/vben-form.md
  packages/@core/ui-kit/form-ui/__tests__/form-group.test.ts
  packages/@core/ui-kit/form-ui/src/form-render/form-group.vue
Due: lint-md, lint-vue, lint-js, lint-style

feat(@vben/layouts): support activePath breadcrumb hierarchy (#8346)
  .changeset/kind-cats-breadcrumb.md
  docs/src/en/guide/essentials/route.md
  docs/src/guide/essentials/route.md
  packages/@core/base/typings/src/vue-router.d.ts
  packages/effects/layouts/src/widgets/__tests__/breadcrumb-routes.test.ts
  packages/effects/layouts/src/widgets/breadcrumb-routes.ts
  packages/effects/layouts/src/widgets/breadcrumb.vue
Due: lint-md, lint-vue, lint-js, lint-style

fix(@vben-core/shared): keep filterTree from mutating the source tree (#8370)
  .changeset/quiet-trees-filter.md
  packages/@core/base/shared/src/utils/__tests__/tree.test.ts
  packages/@core/base/shared/src/utils/tree.ts
  packages/utils/src/helpers/__tests__/generate-routes-frontend.test.ts
Due: lint-md, lint-js

fix(@vben/common-ui): fetch ApiComponent options after late API binding (#8371)
  .changeset/calm-api-selects-load.md
  packages/effects/common-ui/src/components/api-component/__tests__/api-component.test.ts
  packages/effects/common-ui/src/components/api-component/api-component.vue
Due: lint-md, lint-vue, lint-js, lint-style

fix(@vben-core/form-ui): support native Zod string format defaults (#8372)
  .changeset/bright-zebras-default.md
  packages/@core/ui-kit/form-ui/__tests__/form-integration.test.ts
  packages/@core/ui-kit/form-ui/src/use-form-context.ts
Due: lint-md, lint-js

fix(vsh): invalidate publint cache when outputs change (#8373)
  scripts/vsh/src/publint/__tests__/cache.test.ts
  scripts/vsh/src/publint/index.ts
Due: lint-js

fix(@vben-core/preferences): type custom preference updates (#8374)
  .changeset/typed-custom-preferences-update.md
  packages/@core/preferences/__tests__/preferences-types.test.ts
  packages/@core/preferences/src/preferences.ts
Due: lint-md, lint-js

fix(@vben-core/shadcn-ui): preserve radio outlines in collapsible (#8376)
  .changeset/tidy-radios-collapsible.md
  packages/@core/ui-kit/shadcn-ui/src/components/collapsible/__tests__/collapsible.test.ts
  packages/@core/ui-kit/shadcn-ui/src/components/collapsible/collapsible.vue
Due: lint-md, lint-vue, lint-js, lint-style

fix(@vben/request): preserve response metadata on errors (#8377)
  .changeset/gentle-requests-return.md
  packages/effects/request/src/request-client/request-client.test.ts
  packages/effects/request/src/request-client/request-client.ts
Due: lint-md, lint-js

feat(@vben-core/form-ui): support grouped schema for collapsible sections (#8379)
  .changeset/grouped-form-sections.md
  docs/src/components/common-ui/vben-form.md
  docs/src/en/components/common-ui/vben-form.md
  packages/@core/ui-kit/form-ui/__tests__/form-api.test.ts
  packages/@core/ui-kit/form-ui/__tests__/form-group.test.ts
  packages/@core/ui-kit/form-ui/__tests__/form-schema.test.ts
  packages/@core/ui-kit/form-ui/__tests__/form-types.test.ts
  packages/@core/ui-kit/form-ui/__tests__/form-value-transform.test.ts
  packages/@core/ui-kit/form-ui/src/components/form-field-array.vue
  packages/@core/ui-kit/form-ui/src/form-api.ts
  packages/@core/ui-kit/form-ui/src/form-render/form-group.vue
  packages/@core/ui-kit/form-ui/src/form-render/form.vue
  packages/@core/ui-kit/form-ui/src/form-render/schema.ts
  packages/@core/ui-kit/form-ui/src/form-value-transform.ts
  packages/@core/ui-kit/form-ui/src/index.ts
  packages/@core/ui-kit/form-ui/src/types.ts
  packages/@core/ui-kit/form-ui/src/use-form-context.ts
  packages/@core/ui-kit/form-ui/src/vben-use-form.vue
  playground/src/views/examples/form/collapsible.vue
Due: lint-md, lint-vue, lint-js, lint-style

feat: add menu mode to CellOperation renderer
  packages/locales/src/langs/en-US/common.json
  packages/locales/src/langs/zh-CN/common.json
  packages/locales/src/langs/zh-TW/common.json
  playground/src/adapter/vxe-table.ts
  playground/src/views/examples/vxe-table/viewed.vue
Due: lint-vue, lint-js, lint-style

feat: add menu mode to CellOperation renderer
  playground/src/adapter/vxe-table.ts
Due: lint-js

feat: add menu mode to CellOperation renderer (#8393)
  packages/locales/src/langs/en-US/common.json
  packages/locales/src/langs/zh-CN/common.json
  packages/locales/src/langs/zh-TW/common.json
  playground/src/adapter/vxe-table.ts
  playground/src/views/examples/vxe-table/viewed.vue
Due: lint-vue, lint-js, lint-style

feat(@vben-core/form-ui): 新增 useCustomFieldValue 支持自定义控件取值
  .changeset/custom-field-value.md
  docs/src/components/common-ui/vben-form.md
  docs/src/en/components/common-ui/vben-form.md
  packages/@core/ui-kit/form-ui/__tests__/use-custom-field-value.test.ts
  packages/@core/ui-kit/form-ui/src/form-render/form-field.vue
  packages/@core/ui-kit/form-ui/src/index.ts
  packages/@core/ui-kit/form-ui/src/types.ts
  packages/@core/ui-kit/form-ui/src/use-custom-field-value.ts
  playground/src/views/examples/form/custom.vue
  playground/src/views/examples/form/modules/tag-picker.vue
Due: lint-md, lint-vue, lint-js, lint-style

fix(@vben/playground): drop non-null assertion in CellOperation renderer
  playground/src/adapter/vxe-table.ts
Due: lint-js

fix: report Vue version in bug template
  .github/ISSUE_TEMPLATE/bug-report.yml
Due: none

Path conditions:
  lint-md: any of: *.md
  lint-vue: any of: *.vue
  lint-js: any of: *.{js,jsx,ts,tsx}
  lint-style: any of: *.{scss,less,styl,html,vue,css}
  lint-package: any of: package.json
  lint-json: any of: {!(package)*.json,*.code-snippets,.!(browserslist)*rc}
