Repository vbenjs/vue-vben-admin: changes, and which lefthook commands are due for each by the changed paths.
All: lint-md, lint-vue, lint-js, lint-style, lint-package, lint-json

lefthook.yml:

# EXAMPLE USAGE:
#
#   Refer for explanation to following link:
#   https://lefthook.dev/configuration/
#
# pre-push:
#   jobs:
#     - name: packages audit
#       tags:
#         - frontend
#         - security
#       run: yarn audit
#
#     - name: gems audit
#       tags:
#         - backend
#         - security
#       run: bundle audit
#
# pre-commit:
#   parallel: true
#   jobs:
#     - run: yarn eslint {staged_files}
#       glob: "*.{js,ts,jsx,tsx}"
#
#     - name: rubocop
#       glob: "*.rb"
#       exclude:
#         - config/application.rb
#         - config/routes.rb
#       run: bundle exec rubocop --force-exclusion {all_files}
#
#     - name: govet
#       files: git ls-files -m
#       glob: "*.go"
#       run: go vet {files}
#
#     - script: "hello.js"
#       runner: node
#
#     - script: "hello.go"
#       runner: go run

pre-commit:
  parallel: true
  commands:
    code-workspace:
      run: pnpm vsh code-workspace --auto-commit
    lint-md:
      run: pnpm prettier --cache --ignore-unknown --write {staged_files}
      glob: '*.md'
    lint-vue:
      run: pnpm prettier --write {staged_files} && pnpm eslint --cache --fix {staged_files} && pnpm stylelint --fix --allow-empty-input {staged_files}
      glob: '*.vue'
    lint-js:
      run: pnpm prettier --cache --ignore-unknown --write {staged_files} && pnpm eslint --cache --fix {staged_files}
      glob: '*.{js,jsx,ts,tsx}'
    lint-style:
      run: pnpm prettier --cache --ignore-unknown --write {staged_files} && pnpm stylelint --fix --allow-empty-input {staged_files}
      glob: '*.{scss,less,styl,html,vue,css}'
    lint-package:
      run: pnpm prettier --cache --write {staged_files}
      glob: 'package.json'
    lint-json:
      run: pnpm prettier --cache --write --parser json {staged_files}
      glob: '{!(package)*.json,*.code-snippets,.!(browserslist)*rc}'

post-merge:
  commands:
    install:
      run: pnpm install

commit-msg:
  commands:
    commitlint:
      run: pnpm exec commitlint --edit $1

feat: add the attribute `routeCached` to `route` to control cache the DOM corresponding to the route
  packages/effects/layouts/src/basic/content/content.vue
  packages/effects/layouts/src/hooks/index.ts
  packages/effects/layouts/src/route-cached/route-cached-view.vue
  packages/stores/src/modules/tabbar.ts
Due: lint-vue, lint-js, lint-style

feat: add the attribute `routeCached` to `route` to control cache the DOM corresponding to the route
  packages/effects/layouts/src/hooks/index.ts
Due: lint-js

feat: add the attribute `routeCached` to `route` to control cache the DOM corresponding to the route
  packages/effects/layouts/src/route-cached/route-cached-view.vue
Due: lint-vue, lint-style

feat: add the attribute `routeCached` to `route` to control cache the DOM corresponding to the route
  docs/src/guide/essentials/route.md
  packages/@core/base/typings/src/vue-router.d.ts
  packages/effects/layouts/src/basic/content/content.vue
  packages/effects/layouts/src/route-cached/route-cached-page.vue
  packages/effects/layouts/src/route-cached/route-cached-view.vue
  playground/src/router/routes/modules/demos.ts
Due: lint-md, lint-vue, lint-js, lint-style

feat: add the attribute `domCached` to `route` to control cache the DOM corresponding to the route
  packages/effects/layouts/src/route-cached/route-cached-page.vue
Due: lint-vue, lint-style

fix: fix bug where `renderEcharts` gets stuck in a dead loop
  packages/effects/plugins/src/echarts/use-echarts.ts
  playground/src/router/routes/modules/dashboard.ts
Due: lint-js

docs: add Deploy on Hostinger button
  README.md
Due: lint-md

fix: filter out the external onBlur of antdv-next TreeSelect
  apps/web-antdv-next/src/adapter/component/index.ts
Due: lint-js

feat(vite-config): vite export typing
  internal/vite-config/src/index.ts
Due: lint-js

feat(vite-config): add type
  internal/vite-config/src/index.ts
Due: lint-js

fix: fix the warning issues in vite.config.ts
  internal/vite-config/src/index.ts
Due: lint-js

feature: 简易版菜单宽度拖拽功能
  packages/@core/ui-kit/layout-ui/src/components/layout-sidebar.vue
  packages/@core/ui-kit/layout-ui/src/vben-layout.vue
  packages/effects/layouts/src/basic/layout.vue
Due: lint-vue, lint-style

fix: fix lint
  packages/stores/src/modules/tabbar.ts
Due: lint-js

feat(vite-config): vite export typing (#7569)
  internal/vite-config/src/index.ts
Due: lint-js

chore: 更新表单描述显示样式 (#6938)
  packages/@core/ui-kit/form-ui/src/form-render/form-field.vue
  playground/src/views/examples/form/basic.vue
Due: lint-vue, lint-style

fix: fix bug where `renderEcharts` gets stuck in a dead loop (#7561)
  packages/effects/plugins/src/echarts/use-echarts.ts
  playground/src/router/routes/modules/dashboard.ts
Due: lint-js

feat: 侧边栏宽度拖拽改为composable实现，同时修复tabbar.ts文件lint报错
  packages/@core/composables/src/index.ts
  packages/@core/composables/src/use-resizable.ts
  packages/@core/ui-kit/layout-ui/src/components/layout-sidebar.vue
  packages/@core/ui-kit/layout-ui/src/vben-layout.vue
  packages/stores/src/modules/tabbar.ts
Due: lint-vue, lint-js, lint-style

fix: 修复文档错误
  docs/src/guide/introduction/thin.md
Due: lint-md

feat: 优化侧边栏拖拽逻辑
  packages/@core/composables/src/use-resizable.ts
  packages/@core/ui-kit/layout-ui/src/components/layout-sidebar.vue
  packages/effects/layouts/src/basic/layout.vue
Due: lint-vue, lint-js, lint-style

fix: 优化侧边栏拖拽逻辑，支持展开和折叠
  packages/@core/composables/src/index.ts
  packages/@core/ui-kit/layout-ui/src/components/layout-sidebar.vue
  packages/@core/ui-kit/layout-ui/src/hooks/use-sidebar-drag.ts
  packages/@core/ui-kit/layout-ui/src/vben-layout.vue
Due: lint-vue, lint-js, lint-style

fix: 优化最小值限制
  packages/@core/ui-kit/layout-ui/src/components/layout-sidebar.vue
Due: lint-vue, lint-style

fix: 优化最大值限制
  packages/@core/ui-kit/layout-ui/src/components/layout-sidebar.vue
Due: lint-vue, lint-style

feat(sys-manage): implement full CRUD for Menu module and fix Prisma tree parsing
  apps/server/src/sys-menu/sys-menu.service.ts
  apps/web-antd/src/views/sys/menu/index.vue
Due: lint-vue, lint-js, lint-style

feat(sys-dict): implement backend controllers and frontend UI for full dictionary type and data CRUD
  apps/server/src/sys-dict/sys-dict.controller.ts
  apps/server/src/sys-dict/sys-dict.service.ts
  apps/web-antd/src/api/core/sys-manage.ts
  apps/web-antd/src/views/sys/dict/index.vue
Due: lint-vue, lint-js, lint-style

fix(sys-dict): fix update type prisma payload bug and enhance category UI
  apps/server/src/sys-dict/sys-dict.service.ts
Due: lint-js

fix(sys-dict): clear selected category and table data when current dict type is deleted
  apps/web-antd/src/views/sys/dict/index.vue
Due: lint-vue, lint-style

feat(sys-manage): improve Tenant, Operation Log, and Login Log UI with full CRUD and modals
  apps/web-antd/src/views/sys/logininfor/index.vue
  apps/web-antd/src/views/sys/oper-log/index.vue
  apps/web-antd/src/views/sys/tenant/index.vue
Due: lint-vue, lint-style

feat: add the attribute routeCached to route to control cache the DOM corresponding to the route
  docs/src/guide/essentials/route.md
  packages/@core/base/typings/src/vue-router.d.ts
  packages/effects/layouts/src/basic/content/content.vue
  packages/effects/layouts/src/hooks/index.ts
  packages/effects/layouts/src/route-cached/index.ts
  packages/effects/layouts/src/route-cached/route-cached-page.vue
  packages/effects/layouts/src/route-cached/route-cached-view.vue
  packages/stores/src/modules/tabbar.ts
  playground/src/router/routes/modules/demos.ts
Due: lint-md, lint-vue, lint-js, lint-style

feat(sys-post): implement full CRUD UI for Post Management and add sysPostApi
  apps/web-antd/src/api/core/sys-manage.ts
  apps/web-antd/src/views/sys/post/index.vue
  pnpm-workspace.yaml
Due: lint-vue, lint-js, lint-style

feat(sys-ui): improve UI density across User/Role/Post/Dept/Menu with status filter Select, size=middle table, formatDate, Radio for status form fields
  apps/web-antd/src/views/sys/dept/index.vue
  apps/web-antd/src/views/sys/menu/index.vue
  apps/web-antd/src/views/sys/role/index.vue
  apps/web-antd/src/views/sys/user/index.vue
Due: lint-vue, lint-style

fix(sys-manage): remove duplicate sysPostApi export causing compile error
  apps/web-antd/src/api/core/sys-manage.ts
Due: lint-js

feat(sys-ui): improve UI density for ALL remaining modules - tenant/oper-log/logininfor/job/doc-code/form-design/approval-process/print-design
  apps/web-antd/src/views/sys/approval-process/index.vue
  apps/web-antd/src/views/sys/doc-code/index.vue
  apps/web-antd/src/views/sys/form-design/index.vue
  apps/web-antd/src/views/sys/job/index.vue
  apps/web-antd/src/views/sys/logininfor/index.vue
  apps/web-antd/src/views/sys/oper-log/index.vue
  apps/web-antd/src/views/sys/print-design/index.vue
  apps/web-antd/src/views/sys/tenant/index.vue
Due: lint-vue, lint-style

feat(sys-approval): add sub-routes for approval process (7 sub-pages) and form design (2 sub-pages) matching vol.pro structure
  apps/web-antd/src/router/routes/modules/sys.ts
  apps/web-antd/src/views/sys/approval-process/ApprovalList.vue
  apps/web-antd/src/views/sys/approval-process/all-approval.vue
  apps/web-antd/src/views/sys/approval-process/approved.vue
  apps/web-antd/src/views/sys/approval-process/cc-to-me.vue
  apps/web-antd/src/views/sys/approval-process/flow-config.vue
  apps/web-antd/src/views/sys/approval-process/my-approval.vue
  apps/web-antd/src/views/sys/approval-process/my-submit.vue
  apps/web-antd/src/views/sys/approval-process/pending.vue
  apps/web-antd/src/views/sys/form-design/form-config.vue
Due: lint-vue, lint-js, lint-style

feat(sys-form-flow): add 6 sub-modules for form flow + align approval process ApprovalList with vol.pro columns
  apps/web-antd/src/router/routes/modules/sys.ts
  apps/web-antd/src/views/sys/form-design/FlowTaskList.vue
  apps/web-antd/src/views/sys/form-design/cc.vue
  apps/web-antd/src/views/sys/form-design/done.vue
  apps/web-antd/src/views/sys/form-design/flow-manage.vue
  apps/web-antd/src/views/sys/form-design/initiate.vue
  apps/web-antd/src/views/sys/form-design/my-submit.vue
  apps/web-antd/src/views/sys/form-design/todo.vue
Due: lint-vue, lint-js, lint-style

feat(sys-modals): align add/edit modals with vol.pro - user(sex/dept/role/post), role(dataScope), dept(code/type/status), post(parentId)
  apps/web-antd/src/views/sys/dept/index.vue
  apps/web-antd/src/views/sys/post/index.vue
  apps/web-antd/src/views/sys/role/index.vue
  apps/web-antd/src/views/sys/user/index.vue
Due: lint-vue, lint-style

feat(sys): add modals for print-design and flow-manage, complete CRUD for all modules
  apps/web-antd/src/views/sys/form-design/flow-manage.vue
  apps/web-antd/src/views/sys/print-design/index.vue
Due: lint-vue, lint-style

fix: 侧边栏菜单拖拽功能在设置内增加开关
  packages/@core/preferences/src/config.ts
  packages/@core/preferences/src/types.ts
  packages/@core/ui-kit/layout-ui/src/components/layout-sidebar.vue
  packages/@core/ui-kit/layout-ui/src/hooks/use-sidebar-drag.ts
  packages/@core/ui-kit/layout-ui/src/vben-layout.vue
  packages/effects/layouts/src/basic/layout.vue
  packages/effects/layouts/src/widgets/preferences/blocks/layout/sidebar.vue
  packages/effects/layouts/src/widgets/preferences/preferences-drawer.vue
  packages/locales/src/langs/en-US/preferences.json
  packages/locales/src/langs/zh-CN/preferences.json
Due: lint-vue, lint-js, lint-style

fix: 修复lint报错
  packages/@core/preferences/__tests__/__snapshots__/config.test.ts.snap
Due: none
