Repository vbenjs/vue-vben-admin: changes, and which lefthook commands are due for each by the changed paths.
All: lint-md, lint-vue, lint-js, lint-style, lint-package, lint-json

lefthook.yml:

# EXAMPLE USAGE:
#
#   Refer for explanation to following link:
#   https://lefthook.dev/configuration/
#
# pre-push:
#   jobs:
#     - name: packages audit
#       tags:
#         - frontend
#         - security
#       run: yarn audit
#
#     - name: gems audit
#       tags:
#         - backend
#         - security
#       run: bundle audit
#
# pre-commit:
#   parallel: true
#   jobs:
#     - run: yarn eslint {staged_files}
#       glob: "*.{js,ts,jsx,tsx}"
#
#     - name: rubocop
#       glob: "*.rb"
#       exclude:
#         - config/application.rb
#         - config/routes.rb
#       run: bundle exec rubocop --force-exclusion {all_files}
#
#     - name: govet
#       files: git ls-files -m
#       glob: "*.go"
#       run: go vet {files}
#
#     - script: "hello.js"
#       runner: node
#
#     - script: "hello.go"
#       runner: go run

pre-commit:
  parallel: true
  commands:
    code-workspace:
      run: pnpm vsh code-workspace --auto-commit
    lint-md:
      run: pnpm prettier --cache --ignore-unknown --write {staged_files}
      glob: '*.md'
    lint-vue:
      run: pnpm prettier --write {staged_files} && pnpm eslint --cache --fix {staged_files} && pnpm stylelint --fix --allow-empty-input {staged_files}
      glob: '*.vue'
    lint-js:
      run: pnpm prettier --cache --ignore-unknown --write {staged_files} && pnpm eslint --cache --fix {staged_files}
      glob: '*.{js,jsx,ts,tsx}'
    lint-style:
      run: pnpm prettier --cache --ignore-unknown --write {staged_files} && pnpm stylelint --fix --allow-empty-input {staged_files}
      glob: '*.{scss,less,styl,html,vue,css}'
    lint-package:
      run: pnpm prettier --cache --write {staged_files}
      glob: 'package.json'
    lint-json:
      run: pnpm prettier --cache --write --parser json {staged_files}
      glob: '{!(package)*.json,*.code-snippets,.!(browserslist)*rc}'

post-merge:
  commands:
    install:
      run: pnpm install

commit-msg:
  commands:
    commitlint:
      run: pnpm exec commitlint --edit $1

chore(deps): 更新项目依赖包版本
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

fix: 个人中心按钮i18n
  packages/effects/common-ui/src/ui/profile/base-setting.vue
  packages/effects/common-ui/src/ui/profile/password-setting.vue
  packages/locales/src/langs/en-US/profile.json
  packages/locales/src/langs/zh-CN/profile.json
Due: lint-vue, lint-style

fix: eslint format
  packages/effects/common-ui/src/ui/profile/base-setting.vue
Due: lint-vue, lint-style

fix: 调整label宽度让英文显示在一行
  packages/effects/common-ui/src/ui/profile/password-setting.vue
Due: lint-vue, lint-style

chore: 调整label小点
  packages/effects/common-ui/src/ui/profile/password-setting.vue
Due: lint-vue, lint-style

chore: 更新pnpm工作区配置
  pnpm-workspace.yaml
Due: none

fix: import
  packages/effects/common-ui/src/ui/profile/password-setting.vue
Due: lint-vue, lint-style

perf: optimizing hidden fields cannot trigger `dependencies`
  packages/@core/ui-kit/form-ui/src/form-render/dependencies.ts
Due: lint-js

fix: arguments order update (#7132)
  packages/@core/ui-kit/shadcn-ui/src/components/render-content/render-content.vue
Due: lint-vue, lint-style

chore: 给个人中心的2个按钮加上 i18n (#7138)
  packages/effects/common-ui/src/ui/profile/base-setting.vue
  packages/effects/common-ui/src/ui/profile/password-setting.vue
  packages/locales/src/langs/en-US/profile.json
  packages/locales/src/langs/zh-CN/profile.json
Due: lint-vue, lint-style

perf: optimizing hidden fields cannot trigger `dependencies` (#7142)
  packages/@core/ui-kit/form-ui/src/form-render/dependencies.ts
Due: lint-js

fix: 修复表单展开无效
  packages/@core/ui-kit/form-ui/src/form-render/form.vue
Due: lint-vue, lint-style

fix: 修复表单展开无效 (#7148)
  packages/@core/ui-kit/form-ui/src/form-render/form.vue
Due: lint-vue, lint-style

1111
  apps/web-antd/index.html
Due: lint-style

chore: add yaml eslint validate
  .vscode/settings.json
Due: none

chore: update deps
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: lint-package

fix: unused ts lint
  packages/@core/ui-kit/form-ui/src/form-render/form.vue
  packages/@core/ui-kit/layout-ui/src/components/layout-content.vue
  packages/@core/ui-kit/layout-ui/src/components/layout-sidebar.vue
  packages/@core/ui-kit/popup-ui/src/drawer/drawer.vue
  packages/@core/ui-kit/popup-ui/src/modal/modal.vue
  packages/@core/ui-kit/tabs-ui/src/components/tabs-chrome/tabs.vue
  packages/@core/ui-kit/tabs-ui/src/tabs-view.vue
Due: lint-vue, lint-style

fix: 弹窗只能点击一次 #7140
  packages/@core/ui-kit/popup-ui/src/modal/use-modal.ts
Due: lint-js

chore: update actions/checkout v6
  .github/actions/setup-node/action.yml
  .github/workflows/build.yml
  .github/workflows/changeset-version.yml
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/deploy.yml
  .github/workflows/release-tag.yml
Due: none

chore: update node version v22.22.0
  .node-version
Due: none

fix: 修复设置default-expanded-level后无法check更低层级节点 logic and tree value updates
  packages/@core/ui-kit/shadcn-ui/src/ui/tree/tree.vue
Due: lint-vue, lint-style

fix: #7140 (#7153)
  .github/actions/setup-node/action.yml
  .github/workflows/build.yml
  .github/workflows/changeset-version.yml
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/deploy.yml
  .github/workflows/release-tag.yml
  .node-version
  .vscode/settings.json
  package.json
  packages/@core/ui-kit/form-ui/src/form-render/form.vue
  packages/@core/ui-kit/layout-ui/src/components/layout-content.vue
  packages/@core/ui-kit/layout-ui/src/components/layout-sidebar.vue
  packages/@core/ui-kit/popup-ui/src/drawer/drawer.vue
  packages/@core/ui-kit/popup-ui/src/modal/modal.vue
  packages/@core/ui-kit/popup-ui/src/modal/use-modal.ts
  packages/@core/ui-kit/tabs-ui/src/components/tabs-chrome/tabs.vue
  packages/@core/ui-kit/tabs-ui/src/tabs-view.vue
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: lint-vue, lint-js, lint-style, lint-package

fix: fix Nested Objects dependencies not effective
  packages/@core/ui-kit/form-ui/src/form-render/dependencies.ts
Due: lint-js

feat(deps): migrate antdv to antdv-next
  apps/web-antd/package.json
  apps/web-antd/src/adapter/component/index.ts
  apps/web-antd/src/adapter/vxe-table.ts
  apps/web-antd/src/api/request.ts
  apps/web-antd/src/app.vue
  apps/web-antd/src/locales/index.ts
  apps/web-antd/src/router/access.ts
  apps/web-antd/src/store/auth.ts
  apps/web-antd/src/views/_core/profile/password-setting.vue
  apps/web-antd/src/views/demos/antd/index.vue
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: lint-vue, lint-js, lint-style

fix: fix Nested Objects dependencies not effective (#7345)
  packages/@core/ui-kit/form-ui/src/form-render/dependencies.ts
Due: lint-js

perf: optimize the closing jump logic of tabs
  packages/@core/base/shared/src/utils/__tests__/stack.test.ts
  packages/@core/base/shared/src/utils/index.ts
  packages/@core/base/shared/src/utils/stack.ts
  packages/stores/src/modules/tabbar.ts
Due: lint-js

fix: 当 showToolbar 为 false 时禁用工具栏(vxe-table)，减少无 Toolbar 的 Gird 留白
  packages/effects/plugins/src/vxe-table/use-vxe-grid.vue
Due: lint-vue, lint-style

fix:fix password input icon visual bug in certain browser
  packages/@core/ui-kit/shadcn-ui/src/ui/input/Input.vue
Due: lint-vue, lint-style

fix: 修复设置default-expanded-level后无法check更低层级节点 logic and tree value updates (#7155)
  packages/@core/ui-kit/shadcn-ui/src/ui/tree/tree.vue
Due: lint-vue, lint-style

fix: refresh token
  playground/src/api/core/auth.ts
  playground/src/store/auth.ts
  playground/src/utils/token-util.ts
Due: lint-js

fix: import
  playground/src/api/core/auth.ts
Due: lint-js

fix: doRefreshToken should extract resp.data.data for the token string
  playground/src/api/request.ts
Due: lint-js

chore: 添加注释
  playground/src/api/request.ts
Due: lint-js

chore: format
  playground/src/api/request.ts
Due: lint-js

fix: format
  playground/src/api/request.ts
Due: lint-js

fix:fix password input icon visual bug in certain browser (#7521)
  packages/@core/ui-kit/shadcn-ui/src/ui/input/Input.vue
Due: lint-vue, lint-style

chore: upgrade
  apps/web-antd/src/views/demos/antd/index.vue
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: lint-vue, lint-style

feat: support `menuVisibleWithForbidden` in generate-routes-backend
  packages/utils/src/helpers/generate-routes-backend.ts
Due: lint-js

perf: optimize the closing jump logic of tabs
  packages/@core/preferences/src/config.ts
  packages/@core/preferences/src/types.ts
  packages/effects/layouts/src/widgets/preferences/blocks/layout/tabbar.vue
  packages/effects/layouts/src/widgets/preferences/preferences-drawer.vue
  packages/locales/src/langs/en-US/preferences.json
  packages/locales/src/langs/zh-CN/preferences.json
  packages/stores/src/modules/tabbar.ts
Due: lint-vue, lint-js, lint-style
