Repository vbenjs/vue-vben-admin: changes, and which lefthook commands are due for each by the changed paths.
All: lint-md, lint-vue, lint-js, lint-style, lint-package, lint-json

lefthook.yml:

# EXAMPLE USAGE:
#
#   Refer for explanation to following link:
#   https://lefthook.dev/configuration/
#
# pre-push:
#   jobs:
#     - name: packages audit
#       tags:
#         - frontend
#         - security
#       run: yarn audit
#
#     - name: gems audit
#       tags:
#         - backend
#         - security
#       run: bundle audit
#
# pre-commit:
#   parallel: true
#   jobs:
#     - run: yarn eslint {staged_files}
#       glob: "*.{js,ts,jsx,tsx}"
#
#     - name: rubocop
#       glob: "*.rb"
#       exclude:
#         - config/application.rb
#         - config/routes.rb
#       run: bundle exec rubocop --force-exclusion {all_files}
#
#     - name: govet
#       files: git ls-files -m
#       glob: "*.go"
#       run: go vet {files}
#
#     - script: "hello.js"
#       runner: node
#
#     - script: "hello.go"
#       runner: go run

pre-commit:
  parallel: true
  commands:
    code-workspace:
      run: pnpm vsh code-workspace --auto-commit
    lint-md:
      run: pnpm prettier --cache --ignore-unknown --write {staged_files}
      glob: '*.md'
    lint-vue:
      run: pnpm prettier --write {staged_files} && pnpm eslint --cache --fix {staged_files} && pnpm stylelint --fix --allow-empty-input {staged_files}
      glob: '*.vue'
    lint-js:
      run: pnpm prettier --cache --ignore-unknown --write {staged_files} && pnpm eslint --cache --fix {staged_files}
      glob: '*.{js,jsx,ts,tsx}'
    lint-style:
      run: pnpm prettier --cache --ignore-unknown --write {staged_files} && pnpm stylelint --fix --allow-empty-input {staged_files}
      glob: '*.{scss,less,styl,html,vue,css}'
    lint-package:
      run: pnpm prettier --cache --write {staged_files}
      glob: 'package.json'
    lint-json:
      run: pnpm prettier --cache --write --parser json {staged_files}
      glob: '{!(package)*.json,*.code-snippets,.!(browserslist)*rc}'

post-merge:
  commands:
    install:
      run: pnpm install

commit-msg:
  commands:
    commitlint:
      run: pnpm exec commitlint --edit $1

Update tailwindcss.md (#5602)
  docs/src/guide/project/tailwindcss.md
Due: lint-md

fix: destroyOnClose works within connectedComponent (#5989)
  docs/src/components/common-ui/vben-modal.md
  packages/@core/ui-kit/popup-ui/src/modal/use-modal.ts
Due: lint-md, lint-js

fix: alert send wrong confirm state to beforeClose (#5991)
  packages/@core/ui-kit/popup-ui/src/alert/alert.vue
Due: lint-vue, lint-style

fix: fix geader menu activation path (#5997)
  packages/effects/layouts/src/basic/menu/use-mixed-menu.ts
Due: lint-js

fix: vxe-table theme token follow primary color (#6007)
  packages/effects/plugins/src/vxe-table/style.css
Due: lint-style

fix: alert confirm state in beforeClose callback (#6019)
  packages/@core/ui-kit/popup-ui/src/alert/alert.vue
Due: lint-vue, lint-style

fix: the initial value echo for the check-button-group (#6029)
  packages/@core/ui-kit/shadcn-ui/src/components/button/check-button-group.vue
Due: lint-vue, lint-style

docs: update example (#6036)
  docs/src/guide/in-depth/access.md
Due: lint-md

feat: vbenSelect support prop `allowClear` (#6043)
  packages/@core/ui-kit/shadcn-ui/src/components/select/select.vue
Due: lint-vue, lint-style

perf: improve destroyOnClose for VbenDrawer&VbenModal (#6051)
  packages/@core/ui-kit/popup-ui/src/drawer/drawer.ts
  packages/@core/ui-kit/popup-ui/src/drawer/drawer.vue
  packages/@core/ui-kit/popup-ui/src/drawer/use-drawer.ts
  packages/@core/ui-kit/popup-ui/src/modal/use-modal.ts
  playground/src/views/examples/drawer/in-content-demo.vue
Due: lint-vue, lint-js, lint-style

fix: title of search button in vxeTable toolbar (#6046)
  packages/effects/plugins/src/vxe-table/use-vxe-grid.vue
  packages/locales/src/langs/en-US/common.json
  packages/locales/src/langs/zh-CN/common.json
Due: lint-vue, lint-style

docs: add deepWiki doc link (#6057)
  docs/src/index.md
Due: lint-md

feat: encrypt the privacy data when it is persisted (#6056)
  apps/web-antd/.env
  apps/web-ele/.env
  apps/web-naive/.env
  packages/effects/layouts/src/basic/layout.vue
  packages/effects/layouts/src/widgets/lock-screen/lock-screen.vue
  packages/effects/layouts/src/widgets/user-dropdown/user-dropdown.vue
  packages/stores/package.json
  packages/stores/src/modules/access.ts
  packages/stores/src/modules/index.ts
  packages/stores/src/modules/lock.test.ts
  packages/stores/src/modules/lock.ts
  packages/stores/src/setup.ts
  playground/.env
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: lint-vue, lint-js, lint-style

chore: release v5.5.5
  apps/web-antd/package.json
  apps/web-ele/package.json
  apps/web-naive/package.json
  docs/package.json
  internal/lint-configs/commitlint-config/package.json
  internal/lint-configs/stylelint-config/package.json
  internal/node-utils/package.json
  internal/tailwind-config/package.json
  internal/tsconfig/package.json
  internal/vite-config/package.json
  package.json
  packages/@core/base/design/package.json
  packages/@core/base/icons/package.json
  packages/@core/base/shared/package.json
  packages/@core/base/typings/package.json
  packages/@core/composables/package.json
  packages/@core/preferences/package.json
  packages/@core/ui-kit/form-ui/package.json
  packages/@core/ui-kit/layout-ui/package.json
  packages/@core/ui-kit/menu-ui/package.json
  packages/@core/ui-kit/shadcn-ui/package.json
  packages/@core/ui-kit/tabs-ui/package.json
  packages/constants/package.json
  packages/effects/access/package.json
  packages/effects/common-ui/package.json
  packages/effects/hooks/package.json
  packages/effects/layouts/package.json
  packages/effects/plugins/package.json
  packages/effects/request/package.json
  packages/icons/package.json
  packages/locales/package.json
  packages/preferences/package.json
  packages/stores/package.json
  packages/styles/package.json
  packages/types/package.json
  packages/utils/package.json
  playground/package.json
  scripts/turbo-run/package.json
  scripts/vsh/package.json
Due: lint-package

perf: resolve duplicate component names (#6039)
  apps/web-antd/src/adapter/component/index.ts
  apps/web-ele/src/adapter/component/index.ts
  apps/web-naive/src/adapter/component/index.ts
Due: lint-js

fix: install corepack from npm (#5905)
  .gitpod.yml
  README.ja-JP.md
  README.md
  README.zh-CN.md
  docs/src/en/guide/introduction/quick-start.md
  docs/src/guide/introduction/quick-start.md
  scripts/deploy/Dockerfile
Due: lint-md

chore: update dependency version for improved stability and compatibility (#6023)
  internal/lint-configs/eslint-config/src/configs/vue.ts
  internal/lint-configs/stylelint-config/index.mjs
  package.json
  packages/@core/base/shared/src/utils/inference.ts
  packages/@core/ui-kit/menu-ui/src/components/menu.vue
  packages/@core/ui-kit/menu-ui/src/components/sub-menu-content.vue
  packages/@core/ui-kit/shadcn-ui/src/components/segmented/segmented.vue
  packages/effects/common-ui/src/components/captcha/hooks/useCaptchaPoints.ts
  packages/effects/common-ui/src/components/json-viewer/style.scss
  packages/effects/common-ui/src/components/resize/resize.vue
  packages/effects/common-ui/src/ui/authentication/login.vue
  packages/effects/common-ui/src/ui/authentication/register.vue
  packages/effects/common-ui/src/ui/dashboard/analysis/analysis-charts-tabs.vue
  packages/effects/common-ui/src/ui/dashboard/analysis/analysis-overview.vue
  packages/effects/common-ui/src/ui/dashboard/workbench/workbench-project.vue
  packages/effects/common-ui/src/ui/dashboard/workbench/workbench-quick-nav.vue
  packages/effects/common-ui/src/ui/dashboard/workbench/workbench-todo.vue
  packages/effects/common-ui/src/ui/dashboard/workbench/workbench-trends.vue
  packages/effects/layouts/src/basic/copyright/copyright.vue
  packages/effects/layouts/src/basic/menu/extra-menu.vue
  packages/effects/layouts/src/basic/menu/menu.vue
  packages/effects/layouts/src/widgets/global-search/global-search.vue
  packages/effects/layouts/src/widgets/global-search/search-panel.vue
  packages/effects/layouts/src/widgets/preferences/blocks/checkbox-item.vue
  packages/effects/layouts/src/widgets/preferences/blocks/toggle-item.vue
  packages/effects/layouts/src/widgets/theme-toggle/theme-button.vue
  packages/effects/plugins/src/vxe-table/use-vxe-grid.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: lint-vue, lint-js, lint-style, lint-package

fix: add rounded corners to project and quick nav items (#5296)
  packages/effects/common-ui/src/ui/dashboard/workbench/workbench-project.vue
  packages/effects/common-ui/src/ui/dashboard/workbench/workbench-quick-nav.vue
Due: lint-vue, lint-style

fix: lock state will not change overflow style in drawer and modal (#6067)
  packages/@core/ui-kit/popup-ui/src/drawer/drawer.vue
  packages/@core/ui-kit/popup-ui/src/modal/modal.vue
Due: lint-vue, lint-style

fix: Update existing route index to prevent 404 on user switch (#6003)
  packages/effects/access/src/accessible.ts
Due: lint-js

chore: update dependencies and documentation, optimize build toolchain (#6060)
  .lintstagedrc.mjs
  .node-version
  .vscode/settings.json
  README.ja-JP.md
  README.md
  README.zh-CN.md
  internal/vite-config/src/typing.ts
  package.json
  packages/effects/access/src/accessible.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/clean.mjs
  scripts/deploy/Dockerfile
  scripts/turbo-run/README.md
  scripts/turbo-run/src/run.ts
  scripts/vsh/README.md
  scripts/vsh/src/check-circular/index.ts
  scripts/vsh/src/check-dep/index.ts
  scripts/vsh/src/index.ts
Due: lint-md, lint-js, lint-package

chore: update readme.md
  README.ja-JP.md
  README.md
  README.zh-CN.md
Due: lint-md

fix: calculation for collapsing search form is incorrect while initially hidden (#6068)
  packages/@core/ui-kit/form-ui/src/form-render/expandable.ts
Due: lint-js

perf: page componet supports custom height offset for flexible content height … (#6081)
  packages/effects/common-ui/src/components/page/page.vue
  packages/effects/common-ui/src/components/page/types.ts
Due: lint-vue, lint-js, lint-style

fix: show validation message as tooltip in compact form (#6087)
  packages/@core/ui-kit/form-ui/package.json
  packages/@core/ui-kit/form-ui/src/form-render/form-field.vue
  pnpm-lock.yaml
Due: lint-vue, lint-style

fix: destroyOnClose incorrect default value, fixed #6092 (#6093)
  docs/src/components/common-ui/vben-drawer.md
  packages/@core/ui-kit/popup-ui/src/drawer/drawer.vue
  packages/@core/ui-kit/popup-ui/src/drawer/use-drawer.ts
  packages/@core/ui-kit/popup-ui/src/modal/modal.vue
  packages/@core/ui-kit/popup-ui/src/modal/use-modal.ts
Due: lint-md, lint-vue, lint-js, lint-style

fix: fix `LoginExpiredModal` in some cases, `message` may be obscured (#6086)
  packages/effects/common-ui/src/ui/authentication/login-expired-modal.vue
Due: lint-vue, lint-style

fix: add missing translation for preferences drawer (#6094)
  packages/effects/layouts/src/widgets/preferences/blocks/layout/sidebar.vue
  packages/locales/src/langs/en-US/preferences.json
  packages/locales/src/langs/zh-CN/preferences.json
Due: lint-vue, lint-style

refactor: modify the default homepage path loaded from the preference… (#6099)
  apps/web-antd/src/router/guard.ts
  apps/web-antd/src/router/routes/core.ts
  apps/web-antd/src/store/auth.ts
  apps/web-ele/src/router/guard.ts
  apps/web-ele/src/router/routes/core.ts
  apps/web-ele/src/store/auth.ts
  apps/web-naive/src/router/guard.ts
  apps/web-naive/src/router/routes/core.ts
  apps/web-naive/src/store/auth.ts
  docs/src/en/guide/essentials/settings.md
  docs/src/guide/essentials/settings.md
  packages/@core/preferences/__tests__/__snapshots__/config.test.ts.snap
  packages/@core/preferences/src/config.ts
  packages/@core/preferences/src/types.ts
  packages/constants/README.md
  packages/constants/src/core.ts
  playground/src/router/guard.ts
  playground/src/router/routes/core.ts
  playground/src/store/auth.ts
Due: lint-md, lint-js

fix: add triggerClass binding to PopoverTrigger and update icon-picker styles (#6095)
  packages/@core/ui-kit/shadcn-ui/src/components/popover/popover.vue
  packages/effects/common-ui/src/components/icon-picker/icon-picker.vue
Due: lint-vue, lint-style

chore: close eslint object sorting (#6101)
  apps/web-antd/src/adapter/component/index.ts
  apps/web-ele/src/adapter/component/index.ts
  apps/web-naive/src/adapter/component/index.ts
  internal/lint-configs/eslint-config/src/configs/perfectionist.ts
  internal/lint-configs/eslint-config/src/custom-config.ts
  packages/@core/ui-kit/form-ui/src/use-vben-form.ts
  packages/@core/ui-kit/popup-ui/src/drawer/use-drawer.ts
  packages/@core/ui-kit/popup-ui/src/modal/use-modal.ts
  packages/@core/ui-kit/tabs-ui/src/components/tabs-chrome/tabs.vue
  packages/@core/ui-kit/tabs-ui/src/components/tabs/tabs.vue
  packages/effects/layouts/src/widgets/language-toggle.vue
  packages/effects/layouts/src/widgets/layout-toggle.vue
  packages/effects/layouts/src/widgets/theme-toggle/theme-toggle.vue
  playground/src/adapter/component/index.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: lint-vue, lint-js, lint-style

feat: support smooth auto-scroll to active menu item (#6102)
  packages/@core/ui-kit/menu-ui/src/components/menu.vue
  packages/@core/ui-kit/menu-ui/src/hooks/use-menu-scroll.ts
  packages/@core/ui-kit/menu-ui/src/menu.vue
  packages/@core/ui-kit/menu-ui/src/types.ts
  packages/effects/access/src/accessible.ts
  packages/effects/layouts/src/basic/menu/menu.vue
  packages/effects/layouts/src/basic/menu/use-navigation.ts
  packages/utils/src/helpers/__tests__/generate-menus.test.ts
  packages/utils/src/helpers/generate-menus.ts
Due: lint-vue, lint-js, lint-style

feat(project): migrate from husky and lint-staged to lefthook (#6104)
  .husky/commit-msg
  .husky/post-merge
  .husky/pre-commit
  .lintstagedrc.mjs
  .npmrc
  .vscode/settings.json
  docs/src/en/guide/essentials/development.md
  docs/src/en/guide/other/faq.md
  docs/src/en/guide/project/standard.md
  docs/src/guide/essentials/development.md
  docs/src/guide/other/faq.md
  docs/src/guide/project/standard.md
  lefthook.yml
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/vsh/src/check-dep/index.ts
Due: lint-md, lint-js, lint-package

chore: update prepare script in package.json to remove lefthook installation
  package.json
Due: lint-package

chore: remove prepare script from package.json
  package.json
Due: lint-package

fix: fix `IconPicker` props warning (#6108)
  packages/effects/common-ui/src/components/icon-picker/icon-picker.vue
Due: lint-vue, lint-style

fix: when keepAlive is enabled, returning directly through browser buttons/gestures will not close pop ups (#6113)
  packages/@core/ui-kit/popup-ui/src/drawer/use-drawer.ts
  packages/@core/ui-kit/popup-ui/src/modal/use-modal.ts
Due: lint-js

fix: handle undefined children in generate-menus (#6117)
  packages/utils/src/helpers/generate-menus.ts
Due: lint-js

chore: release v5.5.6
  apps/web-antd/package.json
  apps/web-ele/package.json
  apps/web-naive/package.json
  docs/package.json
  internal/lint-configs/commitlint-config/package.json
  internal/lint-configs/stylelint-config/package.json
  internal/node-utils/package.json
  internal/tailwind-config/package.json
  internal/tsconfig/package.json
  internal/vite-config/package.json
  package.json
  packages/@core/base/design/package.json
  packages/@core/base/icons/package.json
  packages/@core/base/shared/package.json
  packages/@core/base/typings/package.json
  packages/@core/composables/package.json
  packages/@core/preferences/package.json
  packages/@core/ui-kit/form-ui/package.json
  packages/@core/ui-kit/layout-ui/package.json
  packages/@core/ui-kit/menu-ui/package.json
  packages/@core/ui-kit/shadcn-ui/package.json
  packages/@core/ui-kit/tabs-ui/package.json
  packages/constants/package.json
  packages/effects/access/package.json
  packages/effects/common-ui/package.json
  packages/effects/hooks/package.json
  packages/effects/layouts/package.json
  packages/effects/plugins/package.json
  packages/effects/request/package.json
  packages/icons/package.json
  packages/locales/package.json
  packages/preferences/package.json
  packages/stores/package.json
  packages/styles/package.json
  packages/types/package.json
  packages/utils/package.json
  playground/package.json
  scripts/turbo-run/package.json
  scripts/vsh/package.json
Due: lint-package

fix: delete Popconfirm being obscured by fixed columns (#6118)
  playground/src/adapter/vxe-table.ts
Due: lint-js
