Repository vbenjs/vue-vben-admin: changes, and which lefthook commands are due for each by the changed paths.
All: lint-md, lint-vue, lint-js, lint-style, lint-package, lint-json

lefthook.yml:

# EXAMPLE USAGE:
#
#   Refer for explanation to following link:
#   https://lefthook.dev/configuration/
#
# pre-push:
#   jobs:
#     - name: packages audit
#       tags:
#         - frontend
#         - security
#       run: yarn audit
#
#     - name: gems audit
#       tags:
#         - backend
#         - security
#       run: bundle audit
#
# pre-commit:
#   parallel: true
#   jobs:
#     - run: yarn eslint {staged_files}
#       glob: "*.{js,ts,jsx,tsx}"
#
#     - name: rubocop
#       glob: "*.rb"
#       exclude:
#         - config/application.rb
#         - config/routes.rb
#       run: bundle exec rubocop --force-exclusion {all_files}
#
#     - name: govet
#       files: git ls-files -m
#       glob: "*.go"
#       run: go vet {files}
#
#     - script: "hello.js"
#       runner: node
#
#     - script: "hello.go"
#       runner: go run

pre-commit:
  parallel: true
  commands:
    code-workspace:
      run: pnpm vsh code-workspace --auto-commit
    lint-md:
      run: pnpm prettier --cache --ignore-unknown --write {staged_files}
      glob: '*.md'
    lint-vue:
      run: pnpm prettier --write {staged_files} && pnpm eslint --cache --fix {staged_files} && pnpm stylelint --fix --allow-empty-input {staged_files}
      glob: '*.vue'
    lint-js:
      run: pnpm prettier --cache --ignore-unknown --write {staged_files} && pnpm eslint --cache --fix {staged_files}
      glob: '*.{js,jsx,ts,tsx}'
    lint-style:
      run: pnpm prettier --cache --ignore-unknown --write {staged_files} && pnpm stylelint --fix --allow-empty-input {staged_files}
      glob: '*.{scss,less,styl,html,vue,css}'
    lint-package:
      run: pnpm prettier --cache --write {staged_files}
      glob: 'package.json'
    lint-json:
      run: pnpm prettier --cache --write --parser json {staged_files}
      glob: '{!(package)*.json,*.code-snippets,.!(browserslist)*rc}'

post-merge:
  commands:
    install:
      run: pnpm install

commit-msg:
  commands:
    commitlint:
      run: pnpm exec commitlint --edit $1

perf: optimize the closing jump logic of tabs
  packages/effects/layouts/src/widgets/preferences/blocks/layout/tabbar.vue
Due: lint-vue, lint-style

perf: optimize the closing jump logic of tabs
  packages/@core/preferences/__tests__/__snapshots__/config.test.ts.snap
Due: none

feat(web): cancel `pnpm-lock.yaml` submission
  pnpm-lock.yaml
Due: none

Revert "feat(web): cancel `pnpm-lock.yaml` submission"
  pnpm-lock.yaml
Due: none

chore: fix lint
  packages/@core/ui-kit/shadcn-ui/src/ui/input/Input.vue
Due: lint-vue, lint-style

feat: support `menuVisibleWithForbidden` in generate-routes-backend (#7526)
  packages/utils/src/helpers/generate-routes-backend.ts
Due: lint-js

chore: 更新开发环境端口号配置
  apps/web-antdv-next/.env.development
  vben-admin.code-workspace
Due: none

chore: fix lint
  packages/@core/base/design/src/css/global.css
Due: lint-style

chore: update deps
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

feat(@core/ui-kit): 为弹窗组件添加泛型类型支持
  packages/@core/ui-kit/popup-ui/src/drawer/drawer-api.ts
  packages/@core/ui-kit/popup-ui/src/drawer/drawer.ts
  packages/@core/ui-kit/popup-ui/src/drawer/use-drawer.ts
  packages/@core/ui-kit/popup-ui/src/modal/modal-api.ts
  packages/@core/ui-kit/popup-ui/src/modal/modal.ts
  packages/@core/ui-kit/popup-ui/src/modal/use-modal.ts
Due: lint-js

refactor(@vben/request): 优化请求客户端类型系统，支持泛型返回值类型推导
  packages/effects/request/src/request-client/modules/downloader.ts
  packages/effects/request/src/request-client/modules/sse.ts
  packages/effects/request/src/request-client/modules/uploader.ts
  packages/effects/request/src/request-client/request-client.test.ts
  packages/effects/request/src/request-client/request-client.ts
  packages/effects/request/src/request-client/types.ts
Due: lint-js

fix(@vben/request): 为 authenticateResponseInterceptor 添加泛型类型约束
  packages/effects/request/src/request-client/preset-interceptors.ts
Due: lint-js

refactor: 优化请求客户端泛型类型约束和刷新令牌接口类型定义
  apps/web-antd/src/api/core/auth.ts
  apps/web-antd/src/api/request.ts
  apps/web-antdv-next/src/api/core/auth.ts
  apps/web-antdv-next/src/api/request.ts
  apps/web-ele/src/api/core/auth.ts
  apps/web-ele/src/api/request.ts
  apps/web-naive/src/api/core/auth.ts
  apps/web-naive/src/api/request.ts
  apps/web-tdesign/src/api/core/auth.ts
  apps/web-tdesign/src/api/request.ts
  playground/src/api/core/auth.ts
  playground/src/api/request.ts
Due: lint-js

feat(playground): add antdv-next router link
  playground/src/router/routes/modules/vben.ts
Due: lint-js

fix: 优化横向布局时菜单激活或聚焦时背景色，标签工具栏新增刷新按钮，其他样式优化
  packages/@core/base/icons/src/lucide.ts
  packages/@core/preferences/src/config.ts
  packages/@core/preferences/src/constants.ts
  packages/@core/preferences/src/types.ts
  packages/@core/ui-kit/menu-ui/src/components/menu.vue
  packages/@core/ui-kit/menu-ui/src/components/sub-menu.vue
  packages/@core/ui-kit/tabs-ui/src/components/tabs-chrome/tabs.vue
  packages/@core/ui-kit/tabs-ui/src/components/tabs/tabs.vue
  packages/@core/ui-kit/tabs-ui/src/components/widgets/index.ts
  packages/@core/ui-kit/tabs-ui/src/components/widgets/tool-more.vue
  packages/@core/ui-kit/tabs-ui/src/components/widgets/tool-refresh.vue
  packages/@core/ui-kit/tabs-ui/src/tabs-view.vue
  packages/effects/layouts/src/basic/layout.vue
  packages/effects/layouts/src/basic/tabbar/tabbar.vue
  packages/effects/layouts/src/widgets/preferences/blocks/theme/builtin.vue
  packages/effects/plugins/src/vxe-table/use-vxe-grid.vue
Due: lint-vue, lint-js, lint-style

fix: config.test.ts.snap新增showRefresh参数
  packages/@core/preferences/__tests__/__snapshots__/config.test.ts.snap
Due: none

fix(@vben/plugins): Fixed the misspelling of the data update method name in the echarts hook
  packages/effects/plugins/src/echarts/use-echarts.ts
Due: lint-js

Revert "fix(@vben/plugins): Fixed the misspelling of the data update method name in the echarts hook"
  packages/effects/plugins/src/echarts/use-echarts.ts
Due: lint-js

fix(@vben/plugins): fixed the misspelling of the data update method name in the echarts hook
  packages/effects/plugins/src/echarts/use-echarts.ts
Due: lint-js

fix: correct updateDate to updateData in the echarts hook (#7538)
  packages/effects/plugins/src/echarts/use-echarts.ts
Due: lint-js

feat(playground): add antdv-next router link (#7532)
  playground/src/router/routes/modules/vben.ts
Due: lint-js

fix: [issues 7028](https://github.com/vbenjs/vue-vben-admin/issues/7028)
  packages/@core/base/typings/src/helper.d.ts
Due: lint-js

fix: ts 错误: 类型实例化过深，且可能无限
  packages/@core/base/typings/src/helper.d.ts
Due: lint-js

fix: 双列菜单模式下新增深色侧边栏和深色侧边栏子栏
  packages/@core/preferences/src/config.ts
  packages/@core/preferences/src/types.ts
  packages/@core/ui-kit/layout-ui/src/components/layout-sidebar.vue
  packages/@core/ui-kit/layout-ui/src/vben-layout.ts
  packages/@core/ui-kit/layout-ui/src/vben-layout.vue
  packages/effects/layouts/src/basic/layout.vue
  packages/effects/layouts/src/widgets/preferences/blocks/theme/theme.vue
  packages/effects/layouts/src/widgets/preferences/preferences-drawer.vue
  packages/locales/src/langs/en-US/preferences.json
  packages/locales/src/langs/zh-CN/preferences.json
Due: lint-vue, lint-js, lint-style

fix: 修复报错 config.test.ts.snap
  packages/@core/preferences/__tests__/__snapshots__/config.test.ts.snap
Due: none

fix: 修复lint报错
  packages/@core/ui-kit/layout-ui/src/vben-layout.vue
  packages/effects/layouts/src/basic/layout.vue
Due: lint-vue, lint-style

fix: 修复侧边栏菜单文本内容溢出问题
  packages/@core/ui-kit/menu-ui/src/components/normal-menu/normal-menu.vue
Due: lint-vue, lint-style

fix: 修复lint报错
  packages/@core/ui-kit/menu-ui/src/components/normal-menu/normal-menu.vue
Due: lint-vue, lint-style

fix(tabbar): visitHistory field
  packages/stores/src/modules/tabbar.ts
Due: lint-js

fix(menu): update hover color variable to use the correct reference
  packages/@core/ui-kit/menu-ui/src/components/menu.vue
Due: lint-vue, lint-style

fix(menu): simplify hover styles by removing redundant nested hover rules
  packages/@core/ui-kit/menu-ui/src/components/menu.vue
Due: lint-vue, lint-style

fix: 双列菜单模式下新增深色侧边栏和深色侧边栏子栏 (#7542)
  packages/@core/preferences/__tests__/__snapshots__/config.test.ts.snap
  packages/@core/preferences/src/config.ts
  packages/@core/preferences/src/types.ts
  packages/@core/ui-kit/layout-ui/src/components/layout-sidebar.vue
  packages/@core/ui-kit/layout-ui/src/vben-layout.ts
  packages/@core/ui-kit/layout-ui/src/vben-layout.vue
  packages/@core/ui-kit/menu-ui/src/components/normal-menu/normal-menu.vue
  packages/effects/layouts/src/basic/layout.vue
  packages/effects/layouts/src/widgets/preferences/blocks/theme/theme.vue
  packages/effects/layouts/src/widgets/preferences/preferences-drawer.vue
  packages/locales/src/langs/en-US/preferences.json
  packages/locales/src/langs/zh-CN/preferences.json
Due: lint-vue, lint-js, lint-style

fix(tabbar): visitHistory field (#7543)
  packages/stores/src/modules/tabbar.ts
Due: lint-js

chore: fix lint
  packages/stores/src/modules/tabbar.ts
Due: lint-js

fix: Fix layout change, ensure div[ref="asideRef"] is contained within <aside>
  packages/@core/ui-kit/layout-ui/src/components/layout-sidebar.vue
Due: lint-vue, lint-style

fix: Fix layout change, ensure div[ref="asideRef"] is contained within <aside> (#7551)
  packages/@core/ui-kit/layout-ui/src/components/layout-sidebar.vue
Due: lint-vue, lint-style

fix(menu): update hover color variable to use the correct reference (#7544)
  packages/@core/ui-kit/menu-ui/src/components/menu.vue
Due: lint-vue, lint-style

feat: add the attribute `routeCached` to `route` to control cache the DOM corresponding to the route
  docs/src/guide/essentials/route.md
  packages/@core/base/typings/src/vue-router.d.ts
  packages/effects/layouts/src/basic/content/content.vue
  packages/effects/layouts/src/route-cached/index.ts
  packages/effects/layouts/src/route-cached/route-cached-page.vue
  packages/effects/layouts/src/route-cached/route-cached-view.vue
  packages/stores/src/modules/tabbar.ts
  playground/src/router/routes/modules/demos.ts
Due: lint-md, lint-vue, lint-js, lint-style
