Repository vbenjs/vue-vben-admin: changes, and which lefthook commands are due for each by the changed paths.
All: lint-md, lint-vue, lint-js, lint-style, lint-package, lint-json

lint-md:
  run: pnpm prettier --cache --ignore-unknown --write {staged_files}

lint-vue:
  run: pnpm prettier --write {staged_files} && pnpm eslint --cache --fix {staged_files} && pnpm stylelint --fix --allow-empty-input {staged_files}

lint-js:
  run: pnpm prettier --cache --ignore-unknown --write {staged_files} && pnpm eslint --cache --fix {staged_files}

lint-style:
  run: pnpm prettier --cache --ignore-unknown --write {staged_files} && pnpm stylelint --fix --allow-empty-input {staged_files}

lint-package:
  run: pnpm prettier --cache --write {staged_files}

lint-json:
  run: pnpm prettier --cache --write --parser json {staged_files}

chore: release v5.7.0
  .gitignore
Due: none

chore: remove rolldown dep
  internal/vite-config/package.json
  internal/vite-config/src/plugins/license.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: lint-js

feat(workflow): 添加手动触发release标签工作流
  .github/workflows/release-tag.yml
Due: none

refactor(workflow): 优化发布工作流配置
  .github/workflows/release-tag.yml
Due: none

fix: issues-helper and maintain-one-comment are temporarily disabled due to security issues
  .github/workflows/issue-labeled.yml
Due: none

chore: update deps
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: lint-package

fix: change error type to TypeError for non-browser environment check in LocalStorageDriver
  packages/@core/base/shared/src/cache/local-storage-driver.ts
Due: lint-js

fix(vite-config): include tsdown config in tsconfig
  internal/vite-config/tsconfig.json
Due: none

fix: preferences-button click to show setting drawer
  packages/effects/layouts/src/widgets/preferences/preferences-button.vue
Due: lint-vue, lint-style

chore: 更新 vite 依赖版本
  pnpm-workspace.yaml
Due: none

chore: 更新pnpm-lock
  pnpm-lock.yaml
Due: none

chore: vite config tsconfig include (#7936)
  internal/vite-config/tsconfig.json
Due: none

fix: preferences-button click to show setting drawer (#7938)
  packages/effects/layouts/src/widgets/preferences/preferences-button.vue
Due: lint-vue, lint-style

fix: 在isMobile=true时无法自定义Drawer的class问题
  packages/@core/ui-kit/popup-ui/src/drawer/drawer.vue
Due: lint-vue, lint-style

fix: 在ResizableHandle两边增加边距
  packages/effects/common-ui/src/components/col-page/col-page.vue
Due: lint-vue, lint-style

chore: update pnpm v11
  .gitignore
  docs/src/en/guide/introduction/quick-start.md
  docs/src/guide/introduction/quick-start.md
  internal/lint-configs/eslint-config/src/configs/yaml.ts
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: lint-md, lint-js, lint-package

Fix: 在isMobile=true时无法自定义Drawer的class问题 (#7941)
  packages/@core/ui-kit/popup-ui/src/drawer/drawer.vue
  packages/effects/common-ui/src/components/col-page/col-page.vue
Due: lint-vue, lint-style

chore: pnpm v11 (#7942)
  .github/workflows/issue-labeled.yml
  .gitignore
  docs/src/en/guide/introduction/quick-start.md
  docs/src/guide/introduction/quick-start.md
  internal/lint-configs/eslint-config/src/configs/yaml.ts
  internal/vite-config/package.json
  internal/vite-config/src/plugins/license.ts
  package.json
  packages/@core/base/shared/src/cache/local-storage-driver.ts
  packages/effects/layouts/src/widgets/preferences/preferences-button.vue
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: lint-md, lint-vue, lint-js, lint-style, lint-package

fix: type check
  packages/@core/ui-kit/popup-ui/src/drawer/drawer.vue
Due: lint-vue, lint-style

fix: i18n
  packages/@core/ui-kit/popup-ui/src/drawer/drawer.vue
Due: lint-vue, lint-style

chore: vite 降级到8.0.10
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

feat: 快捷键追加ESC控制，关闭当前窗口
  packages/@core/preferences/src/config.ts
  packages/@core/preferences/src/types.ts
  packages/@core/preferences/src/use-preferences.ts
  packages/effects/layouts/src/widgets/preferences/blocks/shortcut-keys/global.vue
  packages/effects/layouts/src/widgets/preferences/preferences-drawer.vue
  packages/locales/src/langs/en-US/preferences.json
  packages/locales/src/langs/zh-CN/preferences.json
Due: lint-vue, lint-js, lint-style

feat: 偏好设置中，页面切换动画的颜色看不清的问题（使用当前主题色）
  packages/effects/layouts/src/widgets/preferences/blocks/general/animation.vue
Due: lint-vue, lint-style

feat: 三种弹出框支持快捷键ESC动作
  packages/@core/ui-kit/popup-ui/package.json
  packages/@core/ui-kit/popup-ui/src/alert/alert.ts
  packages/@core/ui-kit/popup-ui/src/alert/alert.vue
  packages/@core/ui-kit/popup-ui/src/drawer/use-drawer.ts
  packages/@core/ui-kit/popup-ui/src/modal/use-modal.ts
Due: lint-vue, lint-js, lint-style

feat: 代码自动格式化（3个框架改动）
  packages/@core/ui-kit/popup-ui/src/alert/alert.vue
  packages/@core/ui-kit/popup-ui/src/drawer/use-drawer.ts
  packages/@core/ui-kit/popup-ui/src/modal/use-modal.ts
Due: lint-vue, lint-js, lint-style

feat: 代码自动格式化（3个框架改动）
  packages/effects/layouts/src/widgets/preferences/blocks/general/animation.vue
  packages/effects/layouts/src/widgets/preferences/preferences-drawer.vue
Due: lint-vue, lint-style

fix: 修正locale数据获取方式
  packages/@core/preferences/src/use-preferences.ts
Due: lint-js

单元测试问题修改
  packages/@core/preferences/__tests__/__snapshots__/config.test.ts.snap
Due: none

单元测试问题修改
  pnpm-lock.yaml
Due: none

fix: 解决代码评论的问题
  packages/@core/ui-kit/popup-ui/src/alert/alert.ts
  packages/@core/ui-kit/popup-ui/src/alert/alert.vue
  packages/@core/ui-kit/popup-ui/src/drawer/drawer.vue
  packages/@core/ui-kit/popup-ui/src/drawer/use-drawer.ts
  packages/@core/ui-kit/popup-ui/src/modal/use-modal.ts
Due: lint-vue, lint-js, lint-style

fix: 解决代码评论的问题
  packages/@core/ui-kit/popup-ui/src/drawer/use-drawer.ts
  packages/@core/ui-kit/popup-ui/src/modal/use-modal.ts
Due: lint-js

fix: 解决代码评论的问题
  packages/@core/ui-kit/popup-ui/src/alert/alert.vue
Due: lint-vue, lint-style

fix: 解决代码评论的问题
  packages/@core/ui-kit/popup-ui/src/alert/alert.vue
  packages/@core/ui-kit/popup-ui/src/drawer/use-drawer.ts
  packages/@core/ui-kit/popup-ui/src/modal/use-modal.ts
Due: lint-vue, lint-js, lint-style

fix(preferences): 修复主题等个性化信息持久化被初始化配置覆盖
  packages/@core/preferences/src/preferences.ts
Due: lint-js

单元测试问题修改
  packages/@core/ui-kit/popup-ui/src/alert/alert.vue
Due: lint-vue, lint-style

fix: 解决评论问题
  packages/@core/preferences/__tests__/__snapshots__/config.test.ts.snap
  packages/@core/preferences/src/config.ts
  packages/@core/ui-kit/popup-ui/src/alert/alert.vue
Due: lint-vue, lint-js, lint-style

fix: 移动端禁用混合布局菜单拆分
  packages/effects/layouts/src/basic/menu/use-mixed-menu.ts
Due: lint-js

fix(@vben-core/popup-ui): modal 响应式适配，支持视口自适应
  packages/@core/ui-kit/popup-ui/src/modal/modal.vue
Due: lint-vue, lint-style

Path conditions:
  lint-md: any of: *.md
  lint-vue: any of: *.vue
  lint-js: any of: *.{js,jsx,ts,tsx}
  lint-style: any of: *.{scss,less,styl,html,vue,css}
  lint-package: any of: package.json
  lint-json: any of: {!(package)*.json,*.code-snippets,.!(browserslist)*rc}
