Repository vbenjs/vue-vben-admin: changes, and which lefthook commands are due for each by the changed paths.
All: lint-md, lint-vue, lint-js, lint-style, lint-package, lint-json

lint-md:
  run: pnpm prettier --cache --ignore-unknown --write {staged_files}

lint-vue:
  run: pnpm prettier --write {staged_files} && pnpm eslint --cache --fix {staged_files} && pnpm stylelint --fix --allow-empty-input {staged_files}

lint-js:
  run: pnpm prettier --cache --ignore-unknown --write {staged_files} && pnpm eslint --cache --fix {staged_files}

lint-style:
  run: pnpm prettier --cache --ignore-unknown --write {staged_files} && pnpm stylelint --fix --allow-empty-input {staged_files}

lint-package:
  run: pnpm prettier --cache --write {staged_files}

lint-json:
  run: pnpm prettier --cache --write --parser json {staged_files}

fix(@vben/web-ele): 修复token过期之后没有正确跳转到登录页的问题
  packages/effects/request/src/request-client/preset-interceptors.ts
Due: lint-js

fix(@vben/web-ele): 对接用户管理新增编辑
  apps/web-ele/src/api/core/user.ts
  apps/web-ele/src/views/sys/user/drawer.vue
  apps/web-ele/src/views/sys/user/index.vue
Due: lint-vue, lint-js, lint-style

fix: 修复菜单管理中标题栏样式异常问题
  playground/src/views/system/menu/modules/form.vue
Due: lint-vue, lint-style

feat(@vben/web-ele): 新增编辑获取请请求用户角色列表
  apps/web-ele/src/api/core/user.ts
  apps/web-ele/src/views/sys/user/drawer.vue
Due: lint-vue, lint-js, lint-style

chore: update deps
  internal/tailwind-config/package.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: lint-package

fix: sort
  package.json
Due: lint-package

chore: update vue-tsc
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

chore: update node version >=20.12.0
  internal/lint-configs/eslint-config/src/configs/node.ts
Due: lint-js

chore: 更新表单描述显示样式
  packages/@core/ui-kit/form-ui/src/form-render/form-field.vue
  playground/src/views/examples/form/basic.vue
Due: lint-vue, lint-style

feat: Consider multi-line formatting for readability
  packages/@core/ui-kit/shadcn-ui/src/ui/context-menu/ContextMenuSubContent.vue
  packages/@core/ui-kit/shadcn-ui/src/ui/dropdown-menu/DropdownMenuSubContent.vue
Due: lint-vue, lint-style

Enhance package loading with fs checks
  internal/tailwind-config/src/index.ts
Due: lint-js

fix: tree component cannot set a value
  packages/@core/ui-kit/shadcn-ui/src/ui/tree/tree.vue
Due: lint-vue, lint-style

refactor(@vben/web-ele): 重构获取菜单列表api的写法
  apps/web-ele/src/api/core/menu.ts
  apps/web-ele/src/preferences.ts
  apps/web-ele/src/router/access.ts
  packages/effects/access/src/accessible.ts
Due: lint-js

revert(@vben/web-ele): 撤销左侧菜单栏无用的部分
  apps/web-ele/src/router/routes/modules/demos.ts
  apps/web-ele/src/router/routes/modules/vben.ts
  apps/web-ele/src/views/demos/element/index.vue
  apps/web-ele/src/views/demos/form/basic.vue
Due: lint-vue, lint-js, lint-style

revert(@vben/web-ele): 撤销下拉用户菜单无用的部分
  apps/web-ele/src/layouts/basic.vue
Due: lint-vue, lint-style

fix: fix `IconPicker` reporting an error when using search if no icon is found
  packages/effects/common-ui/src/components/icon-picker/icon-picker.vue
  packages/effects/hooks/src/use-pagination.ts
Due: lint-vue, lint-js, lint-style

refactor(project): 优化用户详情获取逻辑并调整代码结构
  apps/web-ele/src/api/core/user.ts
  apps/web-ele/src/views/sys/user/drawer.vue
Due: lint-vue, lint-js, lint-style

fix: update snapshot for defaultPreferences immutability test to reflect fontSize change
  packages/@core/preferences/__tests__/__snapshots__/config.test.ts.snap
Due: none

feat: add menu font size variable and update related components
  packages/@core/base/design/src/design-tokens/default.css
  packages/@core/preferences/src/preferences.ts
  packages/@core/preferences/src/update-css-variables.ts
  packages/@core/ui-kit/menu-ui/src/components/menu.vue
Due: lint-vue, lint-js, lint-style

chore: update package.json and app.vue imports, and ensure global styles are included
  apps/web-tdesign/src/app.vue
  apps/web-tdesign/src/bootstrap.ts
  package.json
Due: lint-vue, lint-js, lint-style, lint-package

fix: centered 为 true 时设置 draggable 无法拖拽
  packages/@core/ui-kit/popup-ui/src/modal/modal.vue
  packages/@core/ui-kit/popup-ui/src/modal/use-modal-draggable.ts
Due: lint-vue, lint-js, lint-style

feat(@vben/web-ele): 实现用户管理页面功能
  apps/web-ele/package.json
  apps/web-ele/src/api/core/user.ts
  apps/web-ele/src/views/sys/user/index.vue
  packages/types/src/user.ts
  pnpm-lock.yaml
Due: lint-vue, lint-js, lint-style

feat(function): add antd上传组件支持调用Image组件查看图片
  apps/web-antd/src/adapter/component/index.ts
  playground/src/adapter/component/index.ts
Due: lint-js

feat(project): 用户管理功能优化
  apps/web-ele/src/api/core/user.ts
  apps/web-ele/src/views/sys/user/drawer.vue
Due: lint-vue, lint-js, lint-style

build(project): 补充build命令用了构建其他子包的打包
  package.json
  pnpm-lock.yaml
Due: lint-package

build(@vben/web-ele): 修改生产环境的接口地址
  apps/web-ele/.env.production
  pnpm-lock.yaml
Due: none

build(@vben/web-ele): 部署时将后台地址升级为https
  apps/web-ele/index.html
Due: lint-style

build(@vben/web-ele): 部署时将后台地址升级为https的功能去除
  apps/web-ele/index.html
Due: lint-style

fix: 修复菜单管理中标题栏样式异常问题 (#6934)
  playground/src/views/system/menu/modules/form.vue
Due: lint-vue, lint-style

fix: tree component cannot set a value (#6941)
  packages/@core/ui-kit/shadcn-ui/src/ui/tree/tree.vue
Due: lint-vue, lint-style

fix: fix `IconPicker` reporting an error when using search if no icon is found (#6944)
  packages/effects/common-ui/src/components/icon-picker/icon-picker.vue
  packages/effects/hooks/src/use-pagination.ts
Due: lint-vue, lint-js, lint-style

fix: centered 为 true 时设置 draggable 无法拖拽 (#6948)
  packages/@core/ui-kit/popup-ui/src/modal/modal.vue
  packages/@core/ui-kit/popup-ui/src/modal/use-modal-draggable.ts
Due: lint-vue, lint-js, lint-style

feat: 新增角色管理模块 包含添加、编辑、删除、搜索、分页
  .npmrc
  apps/web-ele/package.json
  apps/web-ele/src/bootstrap.ts
  apps/web-ele/src/views/sys/role/index.vue
  pnpm-lock.yaml
Due: lint-vue, lint-js, lint-style

fix: 修复角色管理页面类型错误和数据显示问题
  apps/web-ele/src/views/sys/role/index.vue
Due: lint-vue, lint-style

chore: add vercel.json config
  vercel.json
Due: none

Path conditions:
  lint-md: any of: *.md
  lint-vue: any of: *.vue
  lint-js: any of: *.{js,jsx,ts,tsx}
  lint-style: any of: *.{scss,less,styl,html,vue,css}
  lint-package: any of: package.json
  lint-json: any of: {!(package)*.json,*.code-snippets,.!(browserslist)*rc}
