Repository vbenjs/vue-vben-admin: changes, and which lefthook commands are due for each by the changed paths.
All: lint-md, lint-vue, lint-js, lint-style, lint-package, lint-json

lefthook.yml:

# EXAMPLE USAGE:
#
#   Refer for explanation to following link:
#   https://lefthook.dev/configuration/
#
# pre-push:
#   jobs:
#     - name: packages audit
#       tags:
#         - frontend
#         - security
#       run: yarn audit
#
#     - name: gems audit
#       tags:
#         - backend
#         - security
#       run: bundle audit
#
# pre-commit:
#   parallel: true
#   jobs:
#     - run: yarn eslint {staged_files}
#       glob: "*.{js,ts,jsx,tsx}"
#
#     - name: rubocop
#       glob: "*.rb"
#       exclude:
#         - config/application.rb
#         - config/routes.rb
#       run: bundle exec rubocop --force-exclusion {all_files}
#
#     - name: govet
#       files: git ls-files -m
#       glob: "*.go"
#       run: go vet {files}
#
#     - script: "hello.js"
#       runner: node
#
#     - script: "hello.go"
#       runner: go run

pre-commit:
  parallel: true
  commands:
    code-workspace:
      run: pnpm vsh code-workspace --auto-commit
    lint-md:
      run: pnpm prettier --cache --ignore-unknown --write {staged_files}
      glob: '*.md'
    lint-vue:
      run: pnpm prettier --write {staged_files} && pnpm eslint --cache --fix {staged_files} && pnpm stylelint --fix --allow-empty-input {staged_files}
      glob: '*.vue'
    lint-js:
      run: pnpm prettier --cache --ignore-unknown --write {staged_files} && pnpm eslint --cache --fix {staged_files}
      glob: '*.{js,jsx,ts,tsx}'
    lint-style:
      run: pnpm prettier --cache --ignore-unknown --write {staged_files} && pnpm stylelint --fix --allow-empty-input {staged_files}
      glob: '*.{scss,less,styl,html,vue,css}'
    lint-package:
      run: pnpm prettier --cache --write {staged_files}
      glob: 'package.json'
    lint-json:
      run: pnpm prettier --cache --write --parser json {staged_files}
      glob: '{!(package)*.json,*.code-snippets,.!(browserslist)*rc}'

post-merge:
  commands:
    install:
      run: pnpm install

commit-msg:
  commands:
    commitlint:
      run: pnpm exec commitlint --edit $1

fix: fix lint
  apps/web-tdesign/src/api/request.ts
  apps/web-tdesign/src/router/access.ts
Due: lint-js

feat: 增强 util-formatDate ts 类型提示
  packages/@core/base/shared/src/utils/date.ts
Due: lint-js

fix: radix => reka
  internal/tailwind-config/src/index.ts
  packages/@core/ui-kit/tabs-ui/src/use-tabs-view-scroll.ts
Due: lint-js

chore: add reka cspell
  cspell.json
Due: none

fix: Composition url
  packages/@core/ui-kit/shadcn-ui/src/components/button/button.ts
Due: lint-js

feat: add form handleCollapsedChange event
  docs/src/components/common-ui/vben-form.md
  packages/@core/ui-kit/form-ui/src/form-api.ts
  packages/@core/ui-kit/form-ui/src/types.ts
  packages/@core/ui-kit/form-ui/src/use-form-context.ts
  packages/@core/ui-kit/form-ui/src/vben-form.vue
  packages/@core/ui-kit/form-ui/src/vben-use-form.vue
Due: lint-md, lint-vue, lint-js, lint-style

fix: ts lint
  packages/@core/ui-kit/form-ui/src/vben-form.vue
  packages/@core/ui-kit/form-ui/src/vben-use-form.vue
Due: lint-vue, lint-style

fix: updating Tailwind CSS variables from --radix-* to --reka-* (#6890)
  cspell.json
  internal/tailwind-config/src/index.ts
  packages/@core/ui-kit/shadcn-ui/src/components/button/button.ts
  packages/@core/ui-kit/tabs-ui/src/use-tabs-view-scroll.ts
Due: lint-js

fix: prevent JSONBigInt parsing error on non-string data (#6891)
  playground/src/api/request.ts
Due: lint-js

chore: 增强 util-formatDate ts 类型提示 (#6886)
  packages/@core/base/shared/src/utils/date.ts
Due: lint-js

fix(@vben/web-ele): 更改代理地址
  apps/web-ele/vite.config.mts
Due: none

feat: add profile comps
  packages/effects/common-ui/src/ui/index.ts
  packages/effects/common-ui/src/ui/profile/base-setting.vue
  packages/effects/common-ui/src/ui/profile/index.ts
  packages/effects/common-ui/src/ui/profile/notification-setting.vue
  packages/effects/common-ui/src/ui/profile/password-setting.vue
  packages/effects/common-ui/src/ui/profile/profile.vue
  packages/effects/common-ui/src/ui/profile/security-setting.vue
  packages/effects/common-ui/src/ui/profile/types.ts
Due: lint-vue, lint-js, lint-style

feat: antdv add profile
  apps/web-antd/src/views/_core/profile/base-setting.vue
  apps/web-antd/src/views/_core/profile/index.vue
  apps/web-antd/src/views/_core/profile/notification-setting.vue
  apps/web-antd/src/views/_core/profile/password-setting.vue
  apps/web-antd/src/views/_core/profile/security-setting.vue
Due: lint-vue, lint-style

feat: route add profile
  apps/web-antd/src/layouts/basic.vue
  apps/web-antd/src/locales/langs/en-US/page.json
  apps/web-antd/src/locales/langs/zh-CN/page.json
  apps/web-antd/src/router/routes/modules/vben.ts
Due: lint-vue, lint-js, lint-style

fix: types
  packages/effects/common-ui/src/ui/profile/types.ts
Due: lint-js

feat: ele add profile
  apps/web-ele/src/layouts/basic.vue
  apps/web-ele/src/locales/langs/en-US/page.json
  apps/web-ele/src/locales/langs/zh-CN/page.json
  apps/web-ele/src/router/routes/modules/vben.ts
  apps/web-ele/src/views/_core/profile/base-setting.vue
  apps/web-ele/src/views/_core/profile/index.vue
  apps/web-ele/src/views/_core/profile/notification-setting.vue
  apps/web-ele/src/views/_core/profile/password-setting.vue
  apps/web-ele/src/views/_core/profile/security-setting.vue
Due: lint-vue, lint-js, lint-style

feat: naive add profile
  apps/web-naive/src/layouts/basic.vue
  apps/web-naive/src/locales/langs/en-US/page.json
  apps/web-naive/src/locales/langs/zh-CN/page.json
  apps/web-naive/src/router/routes/modules/vben.ts
  apps/web-naive/src/views/_core/profile/base-setting.vue
  apps/web-naive/src/views/_core/profile/index.vue
  apps/web-naive/src/views/_core/profile/notification-setting.vue
  apps/web-naive/src/views/_core/profile/password-setting.vue
  apps/web-naive/src/views/_core/profile/security-setting.vue
Due: lint-vue, lint-js, lint-style

feat: tdesign add profile
  apps/web-tdesign/src/layouts/basic.vue
  apps/web-tdesign/src/locales/langs/en-US/page.json
  apps/web-tdesign/src/locales/langs/zh-CN/page.json
  apps/web-tdesign/src/router/routes/modules/vben.ts
  apps/web-tdesign/src/views/_core/profile/base-setting.vue
  apps/web-tdesign/src/views/_core/profile/index.vue
  apps/web-tdesign/src/views/_core/profile/notification-setting.vue
  apps/web-tdesign/src/views/_core/profile/password-setting.vue
  apps/web-tdesign/src/views/_core/profile/security-setting.vue
Due: lint-vue, lint-js, lint-style

feat: playground add profile
  playground/src/layouts/basic.vue
  playground/src/locales/langs/en-US/page.json
  playground/src/locales/langs/zh-CN/page.json
  playground/src/router/routes/modules/vben.ts
  playground/src/views/_core/profile/base-setting.vue
  playground/src/views/_core/profile/index.vue
  playground/src/views/_core/profile/notification-setting.vue
  playground/src/views/_core/profile/password-setting.vue
  playground/src/views/_core/profile/security-setting.vue
Due: lint-vue, lint-js, lint-style

fix: ts error
  packages/@core/ui-kit/form-ui/src/components/form-actions.vue
  packages/@core/ui-kit/form-ui/src/vben-use-form.vue
Due: lint-vue, lint-style

feat: add read and delete for each notification
  apps/web-antd/src/layouts/basic.vue
  apps/web-ele/src/layouts/basic.vue
  apps/web-naive/src/layouts/basic.vue
  packages/effects/layouts/src/widgets/notification/notification.vue
  packages/effects/layouts/src/widgets/notification/types.ts
Due: lint-vue, lint-js, lint-style

feat: sport notification link
  apps/web-antd/src/layouts/basic.vue
  apps/web-ele/src/layouts/basic.vue
  apps/web-naive/src/layouts/basic.vue
  packages/effects/layouts/src/widgets/notification/notification.vue
  packages/effects/layouts/src/widgets/notification/types.ts
  playground/src/layouts/basic.vue
Due: lint-vue, lint-js, lint-style

fix: for tdesign
  apps/web-tdesign/src/layouts/basic.vue
Due: lint-vue, lint-style

feat: add form handleCollapsedChange event (#6893)
  docs/src/components/common-ui/vben-form.md
  packages/@core/ui-kit/form-ui/src/components/form-actions.vue
  packages/@core/ui-kit/form-ui/src/form-api.ts
  packages/@core/ui-kit/form-ui/src/types.ts
  packages/@core/ui-kit/form-ui/src/use-form-context.ts
  packages/@core/ui-kit/form-ui/src/vben-form.vue
  packages/@core/ui-kit/form-ui/src/vben-use-form.vue
Due: lint-md, lint-vue, lint-js, lint-style

feat: add global font size adjustment
  package.json
  packages/@core/base/design/src/css/global.css
  packages/@core/preferences/src/config.ts
  packages/@core/preferences/src/types.ts
  packages/@core/preferences/src/update-css-variables.ts
  packages/@core/ui-kit/menu-ui/src/components/menu.vue
  packages/@core/ui-kit/menu-ui/src/components/normal-menu/normal-menu.vue
  packages/effects/layouts/src/widgets/preferences/blocks/index.ts
  packages/effects/layouts/src/widgets/preferences/preferences-drawer.vue
  packages/locales/src/langs/en-US/preferences.json
  packages/locales/src/langs/zh-CN/preferences.json
Due: lint-vue, lint-js, lint-style, lint-package

feat: add global font size adjustment
  packages/@core/preferences/src/types.ts
  packages/effects/layouts/src/widgets/preferences/blocks/theme/font-size.vue
  packages/effects/layouts/src/widgets/preferences/preferences-drawer.vue
Due: lint-vue, lint-js, lint-style

chore: update depends
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: lint-package

refactor(shared): 替换 lodash 工具函数为 es-toolkit 兼容版本
  packages/@core/base/shared/package.json
  packages/@core/base/shared/src/utils/index.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: lint-js

chore(@vben/utils): 替换 lodash 工具函数为 es-toolkit 实现
  packages/@core/base/shared/src/utils/index.ts
Due: lint-js

chore(@vben/utils): 移除冗余的 lodash 依赖
  packages/@core/base/shared/package.json
Due: none

chore: 替换 lodash-es为 es-toolkit 并调整样式引入方式
  apps/web-tdesign/package.json
  apps/web-tdesign/src/app.vue
  apps/web-tdesign/src/bootstrap.ts
Due: lint-vue, lint-js, lint-style

chore: 替换 lodash-es为 es-toolkit 并调整样式引入方式 (#6912)
  apps/web-tdesign/package.json
  apps/web-tdesign/src/app.vue
  apps/web-tdesign/src/bootstrap.ts
Due: lint-vue, lint-js, lint-style

chore: 更新依赖
  pnpm-lock.yaml
Due: none

feat(@vben/web-ele): 实现用户管理页面功能
  apps/web-ele/package.json
  apps/web-ele/src/api/core/user.ts
  apps/web-ele/src/views/sys/user/index.vue
  packages/types/src/user.ts
  pnpm-lock.yaml
Due: lint-vue, lint-js, lint-style

chore: move tdesign-vue-next to workspace
  apps/web-tdesign/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

chore: add tdesign cspell
  cspell.json
Due: none

fix: rollback zod-defaults version to 0.1.3 (#6925)
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

fix: 更新依赖后的表格显示问题
  package.json
  packages/@core/base/shared/package.json
  packages/@core/base/shared/src/utils/index.ts
  pnpm-lock.yaml
Due: lint-js, lint-package

feat: Adding claude
  apps/web-np/.claude/CLAUDE.md
  apps/web-np/.claude/settings.local.json
Due: lint-md

feat: update npm lock file
  pnpm-lock.yaml
Due: none
