Repository vbenjs/vue-vben-admin: changes, and which lefthook commands are due for each by the changed paths.
All: lint-md, lint-vue, lint-js, lint-style, lint-package, lint-json

lefthook.yml:

# EXAMPLE USAGE:
#
#   Refer for explanation to following link:
#   https://lefthook.dev/configuration/
#
# pre-push:
#   jobs:
#     - name: packages audit
#       tags:
#         - frontend
#         - security
#       run: yarn audit
#
#     - name: gems audit
#       tags:
#         - backend
#         - security
#       run: bundle audit
#
# pre-commit:
#   parallel: true
#   jobs:
#     - run: yarn eslint {staged_files}
#       glob: "*.{js,ts,jsx,tsx}"
#
#     - name: rubocop
#       glob: "*.rb"
#       exclude:
#         - config/application.rb
#         - config/routes.rb
#       run: bundle exec rubocop --force-exclusion {all_files}
#
#     - name: govet
#       files: git ls-files -m
#       glob: "*.go"
#       run: go vet {files}
#
#     - script: "hello.js"
#       runner: node
#
#     - script: "hello.go"
#       runner: go run

pre-commit:
  parallel: true
  commands:
    code-workspace:
      run: pnpm vsh code-workspace --auto-commit
    lint-md:
      run: pnpm prettier --cache --ignore-unknown --write {staged_files}
      glob: '*.md'
    lint-vue:
      run: pnpm prettier --write {staged_files} && pnpm eslint --cache --fix {staged_files} && pnpm stylelint --fix --allow-empty-input {staged_files}
      glob: '*.vue'
    lint-js:
      run: pnpm prettier --cache --ignore-unknown --write {staged_files} && pnpm eslint --cache --fix {staged_files}
      glob: '*.{js,jsx,ts,tsx}'
    lint-style:
      run: pnpm prettier --cache --ignore-unknown --write {staged_files} && pnpm stylelint --fix --allow-empty-input {staged_files}
      glob: '*.{scss,less,styl,html,vue,css}'
    lint-package:
      run: pnpm prettier --cache --write {staged_files}
      glob: 'package.json'
    lint-json:
      run: pnpm prettier --cache --write --parser json {staged_files}
      glob: '{!(package)*.json,*.code-snippets,.!(browserslist)*rc}'

post-merge:
  commands:
    install:
      run: pnpm install

commit-msg:
  commands:
    commitlint:
      run: pnpm exec commitlint --edit $1

fix: missing argument for getPopupContainer
  playground/src/adapter/vxe-table.ts
Due: lint-js

fix: tsconfig moduleResolution (#6122)
  internal/tailwind-config/tsconfig.json
Due: none

docs(@vben/docs): update settings doc (#6128)
  docs/src/en/guide/essentials/settings.md
  docs/src/guide/essentials/settings.md
Due: lint-md

fix: delete useless code (#6143)
  apps/web-antd/src/router/guard.ts
  apps/web-ele/src/router/guard.ts
  apps/web-naive/src/router/guard.ts
  playground/src/router/guard.ts
Due: lint-js

feat: support to refresh the tab page by route name (#6153)
  packages/effects/hooks/src/use-tabs.ts
  packages/stores/src/modules/tabbar.ts
Due: lint-js

fix: refresh command of tabbar issue, fixed: #6162 (#6169)
  packages/effects/layouts/src/basic/tabbar/use-tabbar.ts
Due: lint-js

types: 导出authentication组件的type，自定义toolbarList时类型使用ToolbarType (#6158)
  packages/effects/layouts/src/authentication/index.ts
Due: lint-js

feat(tabs): 支持计算属性作为标签标题，解决 #6170 的问题 (#6163)
  packages/effects/hooks/src/use-tabs.ts
  packages/stores/src/modules/tabbar.ts
Due: lint-js

fix: the mobile terminal can wrap lines and expand slot attributes (#6165)
  packages/@core/ui-kit/shadcn-ui/src/components/button/button.ts
  packages/@core/ui-kit/shadcn-ui/src/components/button/check-button-group.vue
  playground/src/views/examples/button-group/index.vue
Due: lint-vue, lint-js, lint-style

fix: css style (#6176)
  packages/effects/layouts/src/authentication/authentication.vue
Due: lint-vue, lint-style

fix(@vben-core/shadcn-ui): fix disabled functionality not working in VbenTree component (#6205)
  packages/@core/ui-kit/shadcn-ui/src/ui/tree/tree.vue
Due: lint-vue, lint-style

perf: perf the control logic of Tab (#6220)
  docs/src/guide/essentials/route.md
  packages/@core/base/typings/src/tabs.ts
  packages/@core/base/typings/src/vue-router.d.ts
  packages/@core/ui-kit/tabs-ui/src/components/tabs-chrome/tabs.vue
  packages/@core/ui-kit/tabs-ui/src/components/tabs/tabs.vue
  packages/effects/layouts/src/basic/content/content.vue
  packages/effects/layouts/src/basic/tabbar/tabbar.vue
  packages/effects/layouts/src/basic/tabbar/use-tabbar.ts
  packages/stores/src/modules/tabbar.test.ts
  packages/stores/src/modules/tabbar.ts
Due: lint-md, lint-vue, lint-js, lint-style

fix: in mixed layout mode, the sidebar does not display when the first child node is an external link (#6219)
  packages/effects/layouts/src/basic/menu/use-mixed-menu.ts
Due: lint-js

perf: stub unbuild params (#6210)
  internal/tailwind-config/package.json
Due: none

feat: electron support
  .npmrc
  playground/.env
  pnpm-workspace.yaml
Due: none

chore: update electron dependence
  pnpm-lock.yaml
Due: none

feat(preferences): 补充VbenAdminLayout传入属性(来自偏好设置)
  packages/@core/preferences/src/config.ts
  packages/@core/preferences/src/types.ts
  packages/effects/layouts/src/basic/layout.vue
Due: lint-vue, lint-js, lint-style

docs(@vben/docs):update settings doc
  docs/src/en/guide/essentials/settings.md
  docs/src/guide/essentials/settings.md
  packages/@core/preferences/__tests__/__snapshots__/config.test.ts.snap
Due: lint-md

Update build.md
  docs/src/guide/essentials/build.md
Due: lint-md

docs: Update build.md
  docs/src/guide/essentials/build.md
Due: lint-md

fix(use-design-tokens): 完善element-plus暗色主题颜色 (#6224)
  packages/effects/hooks/src/use-design-tokens.ts
Due: lint-js

feat: additional-settings (#6225)
  docs/src/en/guide/essentials/settings.md
  docs/src/guide/essentials/settings.md
  packages/@core/preferences/__tests__/__snapshots__/config.test.ts.snap
  packages/@core/preferences/src/config.ts
  packages/@core/preferences/src/types.ts
  packages/effects/layouts/src/basic/layout.vue
Due: lint-md, lint-vue, lint-js, lint-style

docs: Update build.md (#6228)
  docs/src/guide/essentials/build.md
Due: lint-md

fix(preferences): update content padding default to 0
  docs/src/en/guide/essentials/settings.md
  docs/src/guide/essentials/settings.md
  packages/@core/preferences/__tests__/__snapshots__/config.test.ts.snap
  packages/@core/preferences/src/config.ts
Due: lint-md, lint-js

fix(preferences): 更新内容内边距默认值
  docs/src/en/guide/essentials/settings.md
  docs/src/guide/essentials/settings.md
  packages/@core/preferences/__tests__/__snapshots__/config.test.ts.snap
  packages/@core/preferences/src/config.ts
Due: lint-md, lint-js

feat: Add ads account page
  apps/web-np/src/views/ads/account/table-filter.ts
  apps/web-np/src/views/ads/ad-costs/table-config.ts
  apps/web-np/src/views/ads/ad-costs/table-filter.ts
Due: lint-js

fix(preferences): 更新内容内边距默认值 (#6233)
  docs/src/en/guide/essentials/settings.md
  docs/src/guide/essentials/settings.md
  packages/@core/preferences/__tests__/__snapshots__/config.test.ts.snap
  packages/@core/preferences/src/config.ts
Due: lint-md, lint-js

feat: ellipsis text automatically displays tooltip based on ellipsis
  docs/src/components/common-ui/vben-ellipsis-text.md
  docs/src/demos/vben-ellipsis-text/auto-display/index.vue
  packages/effects/common-ui/src/components/ellipsis-text/ellipsis-text.vue
Due: lint-md, lint-vue, lint-style

chore: export framework components for use in independent pages
  packages/effects/common-ui/src/components/index.ts
Due: lint-js

fix: Component Input is not registered when initialize page
  apps/web-antd/src/adapter/form.ts
  apps/web-antd/src/bootstrap.ts
  apps/web-ele/src/adapter/form.ts
  apps/web-ele/src/bootstrap.ts
  apps/web-naive/src/adapter/form.ts
  apps/web-naive/src/bootstrap.ts
  playground/src/adapter/form.ts
  playground/src/bootstrap.ts
Due: lint-js

fix: Component Input is not registered when initialize page
  apps/web-naive/src/bootstrap.ts
Due: lint-js

feat: enhances compatibility with APIs returning large numeric values
  apps/backend-mock/api/demo/bigint.ts
  playground/package.json
  playground/src/api/examples/json-bigint.ts
  playground/src/api/request.ts
  playground/src/router/routes/modules/demos.ts
  playground/src/views/demos/features/json-bigint/index.vue
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: lint-vue, lint-js, lint-style

feat: ellipsis text automatically displays tooltip based on ellipsis
  packages/effects/common-ui/src/components/ellipsis-text/ellipsis-text.vue
Due: lint-vue, lint-style

fix: getFieldComponentRef will return actual ref within AsyncComponentWrapper
  packages/@core/ui-kit/form-ui/src/form-api.ts
  playground/src/views/examples/form/api.vue
Due: lint-vue, lint-js, lint-style

fix: getFieldComponentRef will return actual ref within AsyncComponentWrapper (#6252)
  packages/@core/ui-kit/form-ui/src/form-api.ts
  playground/src/views/examples/form/api.vue
Due: lint-vue, lint-js, lint-style

fix: 修复菜单管理中按钮类型值错误的问题
  playground/src/views/system/menu/data.ts
Due: lint-js

fix: tab cannot be displayed correctly after browser refresh
  packages/stores/src/modules/tabbar.ts
Due: lint-js

feat: improve check updates
  packages/effects/layouts/src/widgets/check-updates/check-updates.vue
Due: lint-vue, lint-style

fix: tabbar lose current tab without persistent
  packages/stores/src/modules/tabbar.ts
Due: lint-js

fix: tab cannot be displayed correctly after browser refresh (#6256)
  packages/stores/src/modules/tabbar.ts
Due: lint-js
