Repository vbenjs/vue-vben-admin: changes, and which lefthook commands are due for each by the changed paths.
All: lint-md, lint-vue, lint-js, lint-style, lint-package, lint-json

lefthook.yml:

# EXAMPLE USAGE:
#
#   Refer for explanation to following link:
#   https://lefthook.dev/configuration/
#
# pre-push:
#   jobs:
#     - name: packages audit
#       tags:
#         - frontend
#         - security
#       run: yarn audit
#
#     - name: gems audit
#       tags:
#         - backend
#         - security
#       run: bundle audit
#
# pre-commit:
#   parallel: true
#   jobs:
#     - run: yarn eslint {staged_files}
#       glob: "*.{js,ts,jsx,tsx}"
#
#     - name: rubocop
#       glob: "*.rb"
#       exclude:
#         - config/application.rb
#         - config/routes.rb
#       run: bundle exec rubocop --force-exclusion {all_files}
#
#     - name: govet
#       files: git ls-files -m
#       glob: "*.go"
#       run: go vet {files}
#
#     - script: "hello.js"
#       runner: node
#
#     - script: "hello.go"
#       runner: go run

pre-commit:
  parallel: true
  commands:
    code-workspace:
      run: pnpm vsh code-workspace --auto-commit
    lint-md:
      run: pnpm prettier --cache --ignore-unknown --write {staged_files}
      glob: '*.md'
    lint-vue:
      run: pnpm prettier --write {staged_files} && pnpm eslint --cache --fix {staged_files} && pnpm stylelint --fix --allow-empty-input {staged_files}
      glob: '*.vue'
    lint-js:
      run: pnpm prettier --cache --ignore-unknown --write {staged_files} && pnpm eslint --cache --fix {staged_files}
      glob: '*.{js,jsx,ts,tsx}'
    lint-style:
      run: pnpm prettier --cache --ignore-unknown --write {staged_files} && pnpm stylelint --fix --allow-empty-input {staged_files}
      glob: '*.{scss,less,styl,html,vue,css}'
    lint-package:
      run: pnpm prettier --cache --write {staged_files}
      glob: 'package.json'
    lint-json:
      run: pnpm prettier --cache --write --parser json {staged_files}
      glob: '{!(package)*.json,*.code-snippets,.!(browserslist)*rc}'

post-merge:
  commands:
    install:
      run: pnpm install

commit-msg:
  commands:
    commitlint:
      run: pnpm exec commitlint --edit $1

Update form-api.ts
  packages/@core/ui-kit/form-ui/src/form-api.ts
Due: lint-js

feat(hooks): 1、增加 useHoverToggle 中 refElement 参数关于传入响应式数组的注释说明。 2、修改 watch 监听深度，仅需浅层监听 refs 变化。 3、使用 effectScope 管理 useElementHover 实例，避免 refs 变化时事件监听器累积导致的内存泄漏问题
  packages/effects/hooks/src/use-hover-toggle.ts
Due: lint-js

feat(hooks): 在useHoverToggle中增强 updateHovers 的边界处理，优化watch方案，只监听元素数量变化而不是整个数组变化，避免过度依赖收集
  packages/effects/hooks/src/use-hover-toggle.ts
Due: lint-js

feat: Adding countries list
  apps/web-np/src/constants.ts
  apps/web-np/src/views/settings/zone-shipping/modules/countries.vue
Due: lint-vue, lint-js, lint-style

feat: Updating P and L report
  apps/web-np/src/constants.ts
  apps/web-np/src/locales/langs/en-US/field-name.json
  apps/web-np/src/views/reports/p-and-l/service.ts
  apps/web-np/src/views/reports/p-and-l/table-config.ts
Due: lint-js

feat: Add Ad spends
  apps/web-np/src/locales/langs/en-US/field-name.json
  apps/web-np/src/views/dashboard/order-statistic.vue
  apps/web-np/src/views/dashboard/overview-custom-costs.vue
  apps/web-np/src/views/dashboard/service.ts
  apps/web-np/src/views/reports/p-and-l/table-config.ts
Due: lint-vue, lint-js, lint-style

feat: Add Ad spends
  apps/web-np/src/views/dashboard/overview-custom-costs.vue
Due: lint-vue, lint-style

feat: Adding crisp
  apps/web-np/.env
  apps/web-np/package.json
  apps/web-np/src/adapter/crisp.ts
  apps/web-np/src/bootstrap.ts
  apps/web-np/src/store/auth.ts
  pnpm-lock.yaml
Due: lint-js

feat: Update dayjs in GMT
  apps/web-np/src/views/settings/cogs-handling-fees/form-modal-cogs.vue
Due: lint-vue, lint-style

feat: Update Crisp and dayjs
  apps/web-np/src/layouts/basic.vue
  apps/web-np/src/layouts/chat.vue
  apps/web-np/src/shared/crisp.ts
  apps/web-np/src/store/auth.ts
  apps/web-np/src/views/reports/customer-ltv/index.vue
  apps/web-np/src/views/reports/customer-ltv/service.ts
  apps/web-np/src/views/reports/customer-ltv/table-config.ts
  apps/web-np/src/views/settings/cogs-handling-fees/table-config.ts
  apps/web-np/src/views/settings/custom-costs/table-filter.ts
Due: lint-vue, lint-js, lint-style

feat: Adding system statistic
  apps/web-np/src/layouts/shop-statistic.vue
  apps/web-np/src/store/shop.ts
Due: lint-vue, lint-js, lint-style

fix: auto close popup on deactivated
  packages/@core/ui-kit/popup-ui/src/drawer/drawer.vue
  packages/@core/ui-kit/popup-ui/src/drawer/use-drawer.ts
  packages/@core/ui-kit/popup-ui/src/modal/modal.vue
  packages/@core/ui-kit/popup-ui/src/modal/use-modal.ts
Due: lint-vue, lint-js, lint-style

fix: auto close popup on deactivated (#6368)
  packages/@core/ui-kit/popup-ui/src/drawer/drawer.vue
  packages/@core/ui-kit/popup-ui/src/drawer/use-drawer.ts
  packages/@core/ui-kit/popup-ui/src/modal/modal.vue
  packages/@core/ui-kit/popup-ui/src/modal/use-modal.ts
Due: lint-vue, lint-js, lint-style

feat: Adding system statistic component
  apps/web-np/src/api/order.ts
  apps/web-np/src/api/shop.ts
  apps/web-np/src/layouts/shop-statistic.vue
  apps/web-np/src/store/currency.ts
  apps/web-np/src/store/index.ts
  apps/web-np/src/store/shop.ts
  apps/web-np/src/store/system-statistic.ts
  apps/web-np/src/views/reports/order/form-modal-recalculate.vue
  apps/web-np/src/views/settings/cogs-handling-fees/form-modal-recalculate.vue
  apps/web-np/src/views/settings/transaction-fees/form-modal-recalculate.vue
  apps/web-np/src/views/settings/zone-shipping/form-modal-recalculate.vue
Due: lint-vue, lint-js, lint-style

feat: Adding roas and poas
  apps/web-np/src/locales/langs/en-US/field-name.json
  apps/web-np/src/views/dashboard/order-statistic.vue
  apps/web-np/src/views/dashboard/service.ts
Due: lint-vue, lint-js, lint-style

feat: Adding roas and poas
  apps/web-np/src/views/dashboard/service.ts
Due: lint-js

feat: Update chat button
  apps/web-np/src/layouts/chat.vue
  apps/web-np/src/shared/crisp.ts
  apps/web-np/src/store/auth.ts
Due: lint-vue, lint-js, lint-style

feat: Update UX for Crisp
  apps/web-np/src/locales/langs/en-US/authentication.json
  apps/web-np/src/shared/crisp.ts
  apps/web-np/src/store/auth.ts
Due: lint-js

feat: Update UX for recalculation order fees
  apps/web-np/src/views/reports/order/index.vue
Due: lint-vue, lint-style

feat: 组件json-viewer支持bigint数据显示 cwy
  packages/effects/common-ui/package.json
  packages/effects/common-ui/src/components/json-viewer/index.vue
  pnpm-lock.yaml
Due: lint-vue, lint-style

feat: Update layout fog COGS settings
  apps/web-np/src/views/settings/cogs-handling-fees/index.vue
Due: lint-vue, lint-style

feat: element-plus style optimization
  apps/web-ele/src/views/demos/element/index.vue
  packages/effects/hooks/src/use-design-tokens.ts
  packages/styles/src/ele/index.css
Due: lint-vue, lint-js, lint-style

feat: Adding pricing flow
  apps/web-np/.env
  apps/web-np/src/api/shop.ts
  apps/web-np/src/layouts/basic.vue
  apps/web-np/src/router/routes/modules/dashboard.ts
  apps/web-np/src/router/routes/modules/pricing.ts
  apps/web-np/src/shared/constants.ts
  apps/web-np/src/shared/utils.ts
  apps/web-np/src/store/shop.ts
  apps/web-np/src/views/dashboard/index.vue
  apps/web-np/src/views/settings/general/index.vue
  packages/effects/layouts/src/widgets/user-dropdown/user-dropdown.vue
Due: lint-vue, lint-js, lint-style

feat: Update layout
  apps/web-np/src/layouts/basic.vue
  apps/web-np/src/shared/utils.ts
  apps/web-np/src/store/shop.ts
  apps/web-np/src/views/dashboard/index.vue
Due: lint-vue, lint-js, lint-style

feat: Update layout
  apps/web-np/src/shared/utils.ts
  apps/web-np/src/store/auth.ts
  apps/web-np/src/store/shop.ts
  apps/web-np/src/store/shopify-app-bridge.ts
  apps/web-np/src/views/ads/account/index.vue
  apps/web-np/src/views/reports/order/form-modal-order-detail.vue
Due: lint-vue, lint-js, lint-style

feat: Update layout
  apps/web-np/src/shared/utils.ts
  apps/web-np/src/store/shop.ts
Due: lint-js

feat: Update layout
  apps/web-np/src/store/shopify-app-bridge.ts
Due: lint-js

fix: css lint
  packages/styles/src/ele/index.css
Due: lint-style

feat: Update layout
  apps/web-np/src/router/guard.ts
  apps/web-np/src/store/auth.ts
  apps/web-np/src/store/shopify-app-bridge.ts
Due: lint-js

feat: Update layout
  apps/web-np/src/layouts/basic.vue
  apps/web-np/src/preferences.ts
Due: lint-vue, lint-js, lint-style

feat: Update layout
  apps/web-np/src/shared/utils.ts
  apps/web-np/src/store/currency.ts
Due: lint-js

fix: Incorrect ref mutation – use .value
  apps/web-ele/src/views/demos/element/index.vue
Due: lint-vue, lint-style

fix: ElCheckTag is effectively read-only without @change
  apps/web-ele/src/views/demos/element/index.vue
Due: lint-vue, lint-style

feat: more style optimization
  apps/web-ele/src/views/demos/element/index.vue
  packages/styles/src/ele/index.css
Due: lint-vue, lint-style

fix: css stylelint
  packages/styles/src/ele/index.css
Due: lint-style

docs: fix delete request usage
  docs/src/en/guide/essentials/server.md
  docs/src/guide/essentials/server.md
Due: lint-md

docs: fix delete request usage (#6389)
  docs/src/en/guide/essentials/server.md
  docs/src/guide/essentials/server.md
Due: lint-md
