Repository vbenjs/vue-vben-admin: changes, and which lefthook commands are due for each by the changed paths.
All: lint-md, lint-vue, lint-js, lint-style, lint-package, lint-json

lefthook.yml:

# EXAMPLE USAGE:
#
#   Refer for explanation to following link:
#   https://lefthook.dev/configuration/
#
# pre-push:
#   jobs:
#     - name: packages audit
#       tags:
#         - frontend
#         - security
#       run: yarn audit
#
#     - name: gems audit
#       tags:
#         - backend
#         - security
#       run: bundle audit
#
# pre-commit:
#   parallel: true
#   jobs:
#     - run: yarn eslint {staged_files}
#       glob: "*.{js,ts,jsx,tsx}"
#
#     - name: rubocop
#       glob: "*.rb"
#       exclude:
#         - config/application.rb
#         - config/routes.rb
#       run: bundle exec rubocop --force-exclusion {all_files}
#
#     - name: govet
#       files: git ls-files -m
#       glob: "*.go"
#       run: go vet {files}
#
#     - script: "hello.js"
#       runner: node
#
#     - script: "hello.go"
#       runner: go run

pre-commit:
  parallel: true
  commands:
    code-workspace:
      run: pnpm vsh code-workspace --auto-commit
    lint-md:
      run: pnpm prettier --cache --ignore-unknown --write {staged_files}
      glob: '*.md'
    lint-vue:
      run: pnpm prettier --write {staged_files} && pnpm eslint --cache --fix {staged_files} && pnpm stylelint --fix --allow-empty-input {staged_files}
      glob: '*.vue'
    lint-js:
      run: pnpm prettier --cache --ignore-unknown --write {staged_files} && pnpm eslint --cache --fix {staged_files}
      glob: '*.{js,jsx,ts,tsx}'
    lint-style:
      run: pnpm prettier --cache --ignore-unknown --write {staged_files} && pnpm stylelint --fix --allow-empty-input {staged_files}
      glob: '*.{scss,less,styl,html,vue,css}'
    lint-package:
      run: pnpm prettier --cache --write {staged_files}
      glob: 'package.json'
    lint-json:
      run: pnpm prettier --cache --write --parser json {staged_files}
      glob: '{!(package)*.json,*.code-snippets,.!(browserslist)*rc}'

post-merge:
  commands:
    install:
      run: pnpm install

commit-msg:
  commands:
    commitlint:
      run: pnpm exec commitlint --edit $1

docs: 补充架构现状映射与PRD验收标准
  docs/architecture.md
  docs/prd.md
Due: lint-md

feat: 添加OpenAPI契约规范文档
  docs/openapi/README.md
  docs/openapi/factoryos-openapi.yaml
Due: lint-md

docs: 增强PRD验收标准与文档分片结构
  docs/prd.md
  docs/prd/README.md
  docs/prd/ai-assistant.md
  docs/prd/epics/README.md
  docs/prd/epics/epic-01.md
  docs/prd/epics/epic-02.md
  docs/prd/epics/epic-03.md
  docs/prd/epics/epic-04.md
  docs/prd/epics/epic-05.md
  docs/prd/epics/epic-06.md
  docs/prd/epics/epic-07.md
  docs/prd/epics/epic-08.md
  docs/prd/epics/epic-09.md
  docs/prd/epics/epic-10.md
  docs/prd/epics/epic-11.md
  docs/prd/epics/epic-12.md
Due: lint-md

feat: 新增PRD自动化分片脚本工具
  internal/scripts/shard-prd.mjs
  package.json
Due: lint-package

feat: 新增 FactoryOS 模块路由配置文件
  apps/web-antd/src/router/routes/modules/account.ts
  apps/web-antd/src/router/routes/modules/approvals.ts
  apps/web-antd/src/router/routes/modules/finance.ts
  apps/web-antd/src/router/routes/modules/goals-bi.ts
  apps/web-antd/src/router/routes/modules/help.ts
  apps/web-antd/src/router/routes/modules/hr.ts
  apps/web-antd/src/router/routes/modules/integration.ts
  apps/web-antd/src/router/routes/modules/knowledge.ts
  apps/web-antd/src/router/routes/modules/projects.ts
  apps/web-antd/src/router/routes/modules/settings.ts
Due: lint-js

feat: 更新后端 Mock 数据，集成 FactoryOS 菜单系统
  apps/backend-mock/utils/mock-data.ts
Due: lint-js

refactor: 优化 AI 助手聊天页面代码格式
  apps/web-antd/src/views/ai-assistant/chat/index.vue
Due: lint-vue, lint-style

chore: 一些调整和兼容性更新
  apps/web-tdesign/.env
  apps/web-tdesign/src/adapter/component/index.ts
  apps/web-tdesign/src/adapter/form.ts
  apps/web-tdesign/src/app.vue
Due: lint-vue, lint-js, lint-style

chore: 一些调整
  packages/@core/preferences/__tests__/__snapshots__/config.test.ts.snap
  packages/@core/preferences/src/config.ts
Due: lint-js

chore: fix lint
  packages/effects/plugins/src/echarts/use-echarts.ts
Due: lint-js

chore: fix lint
  packages/@core/preferences/src/config.ts
  packages/effects/plugins/src/echarts/use-echarts.ts
Due: lint-js

feat: increase support for multiple time zones
  apps/backend-mock/api/timezone/getTimezone.ts
  apps/backend-mock/api/timezone/getTimezoneOptions.ts
  apps/backend-mock/api/timezone/setTimezone.ts
  apps/backend-mock/utils/mock-data.ts
  apps/web-antd/src/api/core/index.ts
  apps/web-antd/src/api/core/user-profile.ts
  apps/web-antd/src/layouts/basic.vue
  apps/web-antd/src/store/index.ts
  apps/web-antd/src/store/user-profile.ts
  apps/web-ele/src/api/core/index.ts
  apps/web-ele/src/api/core/user-profile.ts
  apps/web-ele/src/layouts/basic.vue
  apps/web-ele/src/store/index.ts
  apps/web-ele/src/store/user-profile.ts
  apps/web-naive/src/api/core/index.ts
  apps/web-naive/src/api/core/user-profile.ts
  apps/web-naive/src/layouts/basic.vue
  apps/web-naive/src/store/index.ts
  apps/web-naive/src/store/user-profile.ts
  packages/@core/base/typings/src/app.d.ts
  packages/@core/base/typings/src/index.ts
  packages/@core/base/typings/src/user-profile.d.ts
  packages/@core/preferences/src/constants.ts
  packages/effects/layouts/src/basic/header/header.vue
  packages/effects/layouts/src/widgets/timezone/timezone-button.vue
  packages/stores/src/modules/index.ts
  packages/stores/src/modules/timezone.ts
  playground/src/api/core/index.ts
  playground/src/api/core/timezone.ts
  playground/src/bootstrap.ts
  playground/src/timezone-init.ts
Due: lint-vue, lint-js, lint-style

feat: increase support for multiple time zones
  apps/backend-mock/api/timezone/getTimezoneOptions.ts
  apps/backend-mock/api/timezone/setTimezone.ts
  apps/backend-mock/utils/mock-data.ts
  packages/effects/layouts/src/widgets/timezone/timezone-button.vue
  packages/stores/src/modules/timezone.ts
  playground/src/api/core/timezone.ts
Due: lint-vue, lint-js, lint-style

feat: increase support for multiple time zones
  packages/effects/layouts/src/widgets/timezone/timezone-button.vue
Due: lint-vue, lint-style

feat: increase support for multiple time zones
  playground/src/api/core/timezone.ts
Due: lint-js

fix(@vben/web-ele): 修复了登录成功后，前端静态路由没有渲染的问题
  README.md
  apps/web-ele/src/api/core/auth.ts
  apps/web-ele/src/api/core/menu.ts
  apps/web-ele/src/preferences.ts
  apps/web-ele/src/router/guard.ts
  apps/web-ele/src/store/auth.ts
  packages/stores/src/modules/access.ts
Due: lint-md, lint-js

fix: resolve the issue of logout failure caused by the timezone store
  packages/@core/base/shared/src/utils/__tests__/date.test.ts
  packages/@core/base/shared/src/utils/date.ts
  packages/stores/src/modules/timezone.ts
Due: lint-js

fix: resolve the issue of logout failure caused by the timezone store
  packages/@core/base/shared/src/utils/date.ts
Due: lint-js

chore(timezone): 添加 $reset 方法并初始化时区存储
  packages/stores/src/modules/timezone.ts
Due: lint-js

chore: lint
  packages/@core/base/shared/src/utils/date.ts
  packages/stores/src/modules/timezone.ts
Due: lint-js

revert: .npmrc
  .npmrc
Due: none

refactor(jwt): 更新 JWT 工具函数实现方式
  apps/backend-mock/utils/jwt-utils.ts
Due: lint-js

feat: add theme-aware logo support via optional sourceDark configuration (#6866)
  .npmrc
  apps/web-antd/src/layouts/auth.vue
  apps/web-ele/src/layouts/auth.vue
  apps/web-naive/src/layouts/auth.vue
  docs/src/en/guide/essentials/settings.md
  docs/src/guide/essentials/settings.md
  packages/@core/base/shared/src/utils/date.ts
  packages/@core/preferences/src/types.ts
  packages/@core/ui-kit/shadcn-ui/src/components/logo/logo.vue
  packages/effects/layouts/src/authentication/authentication.vue
  packages/effects/layouts/src/basic/layout.vue
  packages/stores/src/modules/timezone.ts
Due: lint-md, lint-vue, lint-js, lint-style

refactor(jwt): 更新 JWT 工具函数实现方式 (#6869)
  apps/backend-mock/utils/jwt-utils.ts
Due: lint-js

feat(@vben/web-ele): 完成一级和二级动态路由菜单的渲染
  apps/web-ele/src/api/core/auth.ts
  apps/web-ele/src/api/core/menu.ts
  apps/web-ele/src/store/auth.ts
  apps/web-ele/src/views/sys/menu/index.vue
  apps/web-ele/src/views/sys/role/index.vue
  apps/web-ele/src/views/sys/user/index.vue
  packages/@core/base/typings/src/basic.d.ts
  packages/stores/src/modules/user.ts
  packages/types/src/user.ts
  packages/utils/src/helpers/generate-routes-backend.ts
  packages/utils/src/helpers/generate-routes-frontend.ts
Due: lint-vue, lint-js, lint-style

Revert "refactor(jwt): 更新 JWT 工具函数实现方式 (#6869)"
  apps/backend-mock/utils/jwt-utils.ts
Due: lint-js

feat(@vben/web-ele): 重构转换为真实路由的函数,并且去除掉无用的属性
  packages/utils/src/helpers/generate-routes-backend.ts
Due: lint-js

fix(@vben/web-ele): 修改获取用户菜单列表的接口
  apps/web-ele/src/api/core/menu.ts
Due: lint-js

Update README.md (#6828)
  README.md
Due: lint-md

fix: replace ant-design-vue with tdesign components in web-tdesign app (#6880)
  apps/web-tdesign/package.json
  apps/web-tdesign/src/adapter/component/index.ts
  apps/web-tdesign/src/adapter/tdesign.ts
  apps/web-tdesign/src/adapter/vxe-table.ts
  apps/web-tdesign/src/api/request.ts
  apps/web-tdesign/src/locales/index.ts
  apps/web-tdesign/src/router/access.ts
  apps/web-tdesign/src/store/auth.ts
  apps/web-tdesign/src/views/demos/antd/index.vue
Due: lint-vue, lint-js, lint-style

chore: apply coderabbitai suggestions
  apps/web-tdesign/src/adapter/component/index.ts
  apps/web-tdesign/src/router/routes/modules/demos.ts
  apps/web-tdesign/src/store/auth.ts
  apps/web-tdesign/src/views/demos/tdesign/index.vue
  pnpm-lock.yaml
  vben-admin.code-workspace
Due: lint-vue, lint-js, lint-style

fix: fix build error
  apps/web-tdesign/src/adapter/tdesign.ts
  docs/src/en/guide/essentials/development.md
  docs/src/en/guide/introduction/thin.md
  docs/src/guide/essentials/development.md
  docs/src/guide/introduction/thin.md
  package.json
Due: lint-md, lint-js, lint-package

chore: enable VITE_NITRO_MOCK
  apps/web-tdesign/.env.development
  package.json
  pnpm-lock.yaml
Due: lint-package

chore: demo i18n
  apps/web-tdesign/src/locales/langs/en-US/demos.json
  apps/web-tdesign/src/locales/langs/zh-CN/demos.json
  apps/web-tdesign/src/router/routes/modules/demos.ts
Due: lint-js

chore: update demo routes
  apps/web-antd/src/locales/langs/en-US/demos.json
  apps/web-antd/src/locales/langs/zh-CN/demos.json
  apps/web-antd/src/router/routes/modules/vben.ts
  apps/web-ele/src/locales/langs/en-US/demos.json
  apps/web-ele/src/locales/langs/zh-CN/demos.json
  apps/web-ele/src/router/routes/modules/vben.ts
  apps/web-naive/src/locales/langs/en-US/demos.json
  apps/web-naive/src/locales/langs/zh-CN/demos.json
  apps/web-naive/src/router/routes/modules/vben.ts
  apps/web-tdesign/.env.development
  apps/web-tdesign/src/router/routes/modules/vben.ts
  packages/@core/base/shared/src/constants/vben.ts
  playground/src/locales/langs/en-US/demos.json
  playground/src/locales/langs/zh-CN/demos.json
  playground/src/router/routes/modules/vben.ts
  pnpm-lock.yaml
Due: lint-js

chore: add tdesign logo
  apps/web-antd/src/router/routes/modules/vben.ts
  apps/web-ele/src/router/routes/modules/vben.ts
  apps/web-naive/src/router/routes/modules/vben.ts
  packages/icons/src/svg/icons/tdesign-logo.svg
  packages/icons/src/svg/index.ts
  playground/src/router/routes/modules/vben.ts
Due: lint-js

fix: fix typecheck
  apps/web-tdesign/package.json
  apps/web-tdesign/src/app.vue
  apps/web-tdesign/src/locales/index.ts
  pnpm-lock.yaml
Due: lint-vue, lint-js, lint-style

fix: fix lint
  apps/web-tdesign/src/adapter/form.ts
  apps/web-tdesign/vite.config.mts
Due: lint-js
