Repository vbenjs/vue-vben-admin: changes, and which lefthook commands are due for each by the changed paths.
All: lint-md, lint-vue, lint-js, lint-style, lint-package, lint-json

lefthook.yml:

# EXAMPLE USAGE:
#
#   Refer for explanation to following link:
#   https://lefthook.dev/configuration/
#
# pre-push:
#   jobs:
#     - name: packages audit
#       tags:
#         - frontend
#         - security
#       run: yarn audit
#
#     - name: gems audit
#       tags:
#         - backend
#         - security
#       run: bundle audit
#
# pre-commit:
#   parallel: true
#   jobs:
#     - run: yarn eslint {staged_files}
#       glob: "*.{js,ts,jsx,tsx}"
#
#     - name: rubocop
#       glob: "*.rb"
#       exclude:
#         - config/application.rb
#         - config/routes.rb
#       run: bundle exec rubocop --force-exclusion {all_files}
#
#     - name: govet
#       files: git ls-files -m
#       glob: "*.go"
#       run: go vet {files}
#
#     - script: "hello.js"
#       runner: node
#
#     - script: "hello.go"
#       runner: go run

pre-commit:
  parallel: true
  commands:
    code-workspace:
      run: pnpm vsh code-workspace --auto-commit
    lint-md:
      run: pnpm prettier --cache --ignore-unknown --write {staged_files}
      glob: '*.md'
    lint-vue:
      run: pnpm prettier --write {staged_files} && pnpm eslint --cache --fix {staged_files} && pnpm stylelint --fix --allow-empty-input {staged_files}
      glob: '*.vue'
    lint-js:
      run: pnpm prettier --cache --ignore-unknown --write {staged_files} && pnpm eslint --cache --fix {staged_files}
      glob: '*.{js,jsx,ts,tsx}'
    lint-style:
      run: pnpm prettier --cache --ignore-unknown --write {staged_files} && pnpm stylelint --fix --allow-empty-input {staged_files}
      glob: '*.{scss,less,styl,html,vue,css}'
    lint-package:
      run: pnpm prettier --cache --write {staged_files}
      glob: 'package.json'
    lint-json:
      run: pnpm prettier --cache --write --parser json {staged_files}
      glob: '{!(package)*.json,*.code-snippets,.!(browserslist)*rc}'

post-merge:
  commands:
    install:
      run: pnpm install

commit-msg:
  commands:
    commitlint:
      run: pnpm exec commitlint --edit $1

fix(preferences): 修复主题等个性化信息持久化被初始化配置覆盖 (#7948)
  packages/@core/preferences/src/preferences.ts
Due: lint-js

fix: 移动端禁用混合布局菜单拆分 (#7949)
  packages/effects/layouts/src/basic/menu/use-mixed-menu.ts
Due: lint-js

fix: 解决代码格式导致pnpm run lint报错的问题
  packages/@core/preferences/src/preferences.ts
Due: lint-js

feat: 偏好设置的快捷键列表追加ESC快捷键的控制（关闭当前窗口） (#7947)
  packages/@core/preferences/__tests__/__snapshots__/config.test.ts.snap
  packages/@core/preferences/src/config.ts
  packages/@core/preferences/src/preferences.ts
  packages/@core/preferences/src/types.ts
  packages/@core/preferences/src/use-preferences.ts
  packages/@core/ui-kit/popup-ui/package.json
  packages/@core/ui-kit/popup-ui/src/alert/alert.ts
  packages/@core/ui-kit/popup-ui/src/alert/alert.vue
  packages/@core/ui-kit/popup-ui/src/drawer/drawer.vue
  packages/@core/ui-kit/popup-ui/src/drawer/use-drawer.ts
  packages/@core/ui-kit/popup-ui/src/modal/use-modal.ts
  packages/effects/layouts/src/widgets/preferences/blocks/general/animation.vue
  packages/effects/layouts/src/widgets/preferences/blocks/shortcut-keys/global.vue
  packages/effects/layouts/src/widgets/preferences/preferences-drawer.vue
  packages/locales/src/langs/en-US/preferences.json
  packages/locales/src/langs/zh-CN/preferences.json
  pnpm-lock.yaml
Due: lint-vue, lint-js, lint-style

fix(@vben-core/popup-ui): modal 响应式适配，支持视口自适应 (#7951)
  packages/@core/ui-kit/popup-ui/src/modal/modal.vue
Due: lint-vue, lint-style

chore: sync upstream changes
  .github/workflows/issue-labeled.yml
  .gitignore
  docs/src/en/guide/introduction/quick-start.md
  docs/src/guide/introduction/quick-start.md
  internal/lint-configs/eslint-config/src/configs/yaml.ts
  internal/vite-config/package.json
  internal/vite-config/src/plugins/license.ts
  internal/vite-config/tsconfig.json
  package.json
  packages/@core/base/shared/src/cache/local-storage-driver.ts
  packages/@core/preferences/__tests__/__snapshots__/config.test.ts.snap
  packages/@core/preferences/src/config.ts
  packages/@core/preferences/src/preferences.ts
  packages/@core/preferences/src/types.ts
  packages/@core/preferences/src/use-preferences.ts
  packages/@core/ui-kit/popup-ui/package.json
  packages/@core/ui-kit/popup-ui/src/alert/alert.ts
  packages/@core/ui-kit/popup-ui/src/alert/alert.vue
  packages/@core/ui-kit/popup-ui/src/drawer/drawer.vue
  packages/@core/ui-kit/popup-ui/src/drawer/use-drawer.ts
  packages/@core/ui-kit/popup-ui/src/modal/modal.vue
  packages/@core/ui-kit/popup-ui/src/modal/use-modal.ts
  packages/effects/common-ui/src/components/col-page/col-page.vue
  packages/effects/layouts/src/basic/menu/use-mixed-menu.ts
  packages/effects/layouts/src/widgets/preferences/blocks/general/animation.vue
  packages/effects/layouts/src/widgets/preferences/blocks/shortcut-keys/global.vue
  packages/effects/layouts/src/widgets/preferences/preferences-button.vue
  packages/effects/layouts/src/widgets/preferences/preferences-drawer.vue
  packages/locales/src/langs/en-US/preferences.json
  packages/locales/src/langs/zh-CN/preferences.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: lint-md, lint-vue, lint-js, lint-style, lint-package

fix: 修复 useVbenModal useVbenDrawer 传入参数失效的问题
  packages/@core/ui-kit/popup-ui/src/drawer/use-drawer.ts
  packages/@core/ui-kit/popup-ui/src/modal/use-modal.ts
Due: lint-js

build: change runtime config asset naming strategy for PWA compatibility
  docs/src/en/guide/essentials/server.md
  docs/src/en/guide/essentials/settings.md
  docs/src/guide/essentials/server.md
  docs/src/guide/essentials/settings.md
  internal/vite-config/src/plugins/extra-app-config.ts
Due: lint-md, lint-js

fix(@vben/web-naive): 修复 naive input 输入 _ 不显示的问题 (#7962)
  packages/styles/src/naive/index.css
Due: lint-style

fix(@vben/web-naive): 限制 input 字体修复作用域，避免全局影响
  packages/styles/src/naive/index.css
Due: lint-style

fix: useStore is deprecated
  packages/@core/ui-kit/form-ui/src/use-vben-form.ts
  packages/@core/ui-kit/popup-ui/src/drawer/use-drawer.ts
  packages/@core/ui-kit/popup-ui/src/modal/use-modal.ts
Due: lint-js

chore: update deps
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: lint-package

fix: 修复 useVbenModal useVbenDrawer 传入参数失效的问题 (#7964)
  packages/@core/ui-kit/popup-ui/src/drawer/use-drawer.ts
  packages/@core/ui-kit/popup-ui/src/modal/use-modal.ts
Due: lint-js

fix: 修复 web-naive 表单页 Input 输入 _ 不显示的问题 (#7962) (#7965)
  packages/styles/src/naive/index.css
Due: lint-style

build: change runtime config asset naming strategy for PWA compatibility (#7963)
  docs/src/en/guide/essentials/server.md
  docs/src/en/guide/essentials/settings.md
  docs/src/guide/essentials/server.md
  docs/src/guide/essentials/settings.md
  internal/vite-config/src/plugins/extra-app-config.ts
Due: lint-md, lint-js

feat: 升级shadcn-ui v4
  packages/@core/ui-kit/shadcn-ui/src/ui/avatar/Avatar.vue
  packages/@core/ui-kit/shadcn-ui/src/ui/avatar/AvatarFallback.vue
  packages/@core/ui-kit/shadcn-ui/src/ui/avatar/AvatarImage.vue
  packages/@core/ui-kit/shadcn-ui/src/ui/badge/Badge.vue
  packages/@core/ui-kit/shadcn-ui/src/ui/badge/badge.ts
  packages/@core/ui-kit/shadcn-ui/src/ui/button/Button.vue
  packages/@core/ui-kit/shadcn-ui/src/ui/button/button.ts
  packages/@core/ui-kit/shadcn-ui/src/ui/card/Card.vue
  packages/@core/ui-kit/shadcn-ui/src/ui/card/CardContent.vue
  packages/@core/ui-kit/shadcn-ui/src/ui/card/CardDescription.vue
  packages/@core/ui-kit/shadcn-ui/src/ui/card/CardFooter.vue
  packages/@core/ui-kit/shadcn-ui/src/ui/card/CardHeader.vue
  packages/@core/ui-kit/shadcn-ui/src/ui/card/CardTitle.vue
  packages/@core/ui-kit/shadcn-ui/src/ui/checkbox/Checkbox.vue
  packages/@core/ui-kit/shadcn-ui/src/ui/input/Input.vue
  packages/@core/ui-kit/shadcn-ui/src/ui/label/Label.vue
  packages/@core/ui-kit/shadcn-ui/src/ui/separator/Separator.vue
  packages/@core/ui-kit/shadcn-ui/src/ui/switch/Switch.vue
  packages/@core/ui-kit/shadcn-ui/src/ui/textarea/Textarea.vue
  packages/@core/ui-kit/shadcn-ui/src/ui/toggle-group/ToggleGroup.vue
  packages/@core/ui-kit/shadcn-ui/src/ui/toggle-group/ToggleGroupItem.vue
  packages/@core/ui-kit/shadcn-ui/src/ui/toggle/Toggle.vue
  packages/@core/ui-kit/shadcn-ui/src/ui/toggle/toggle.ts
Due: lint-vue, lint-js, lint-style

fix: workbench style
  packages/effects/common-ui/src/ui/dashboard/workbench/workbench-project.vue
  packages/effects/common-ui/src/ui/dashboard/workbench/workbench-quick-nav.vue
  packages/effects/common-ui/src/ui/dashboard/workbench/workbench-todo.vue
  packages/effects/common-ui/src/ui/dashboard/workbench/workbench-trends.vue
Due: lint-vue, lint-style

feat: 升级shadcn-ui v4 step2
  packages/@core/ui-kit/shadcn-ui/src/ui/number-field/NumberField.vue
  packages/@core/ui-kit/shadcn-ui/src/ui/number-field/NumberFieldContent.vue
  packages/@core/ui-kit/shadcn-ui/src/ui/number-field/NumberFieldDecrement.vue
  packages/@core/ui-kit/shadcn-ui/src/ui/number-field/NumberFieldIncrement.vue
  packages/@core/ui-kit/shadcn-ui/src/ui/number-field/NumberFieldInput.vue
  packages/@core/ui-kit/shadcn-ui/src/ui/pin-input/PinInput.vue
  packages/@core/ui-kit/shadcn-ui/src/ui/pin-input/PinInputGroup.vue
  packages/@core/ui-kit/shadcn-ui/src/ui/pin-input/PinInputInput.vue
  packages/@core/ui-kit/shadcn-ui/src/ui/pin-input/PinInputSeparator.vue
  packages/@core/ui-kit/shadcn-ui/src/ui/radio-group/RadioGroup.vue
  packages/@core/ui-kit/shadcn-ui/src/ui/radio-group/RadioGroupItem.vue
  packages/@core/ui-kit/shadcn-ui/src/ui/select/Select.vue
  packages/@core/ui-kit/shadcn-ui/src/ui/select/SelectContent.vue
  packages/@core/ui-kit/shadcn-ui/src/ui/select/SelectGroup.vue
  packages/@core/ui-kit/shadcn-ui/src/ui/select/SelectItem.vue
  packages/@core/ui-kit/shadcn-ui/src/ui/select/SelectItemText.vue
  packages/@core/ui-kit/shadcn-ui/src/ui/select/SelectLabel.vue
  packages/@core/ui-kit/shadcn-ui/src/ui/select/SelectScrollDownButton.vue
  packages/@core/ui-kit/shadcn-ui/src/ui/select/SelectScrollUpButton.vue
  packages/@core/ui-kit/shadcn-ui/src/ui/select/SelectSeparator.vue
  packages/@core/ui-kit/shadcn-ui/src/ui/select/SelectTrigger.vue
  packages/@core/ui-kit/shadcn-ui/src/ui/select/SelectValue.vue
Due: lint-vue, lint-style

feat: 升级shadcn-ui v4 step3
  packages/@core/ui-kit/shadcn-ui/src/ui/accordion/Accordion.vue
  packages/@core/ui-kit/shadcn-ui/src/ui/accordion/AccordionContent.vue
  packages/@core/ui-kit/shadcn-ui/src/ui/accordion/AccordionItem.vue
  packages/@core/ui-kit/shadcn-ui/src/ui/accordion/AccordionTrigger.vue
  packages/@core/ui-kit/shadcn-ui/src/ui/breadcrumb/Breadcrumb.vue
  packages/@core/ui-kit/shadcn-ui/src/ui/breadcrumb/BreadcrumbEllipsis.vue
  packages/@core/ui-kit/shadcn-ui/src/ui/breadcrumb/BreadcrumbItem.vue
  packages/@core/ui-kit/shadcn-ui/src/ui/breadcrumb/BreadcrumbLink.vue
  packages/@core/ui-kit/shadcn-ui/src/ui/breadcrumb/BreadcrumbList.vue
  packages/@core/ui-kit/shadcn-ui/src/ui/breadcrumb/BreadcrumbPage.vue
  packages/@core/ui-kit/shadcn-ui/src/ui/breadcrumb/BreadcrumbSeparator.vue
  packages/@core/ui-kit/shadcn-ui/src/ui/pagination/PaginationEllipsis.vue
  packages/@core/ui-kit/shadcn-ui/src/ui/pagination/PaginationFirst.vue
  packages/@core/ui-kit/shadcn-ui/src/ui/pagination/PaginationLast.vue
  packages/@core/ui-kit/shadcn-ui/src/ui/pagination/PaginationNext.vue
  packages/@core/ui-kit/shadcn-ui/src/ui/pagination/PaginationPrev.vue
  packages/@core/ui-kit/shadcn-ui/src/ui/resizable/ResizableHandle.vue
  packages/@core/ui-kit/shadcn-ui/src/ui/resizable/ResizablePanelGroup.vue
  packages/@core/ui-kit/shadcn-ui/src/ui/scroll-area/ScrollArea.vue
  packages/@core/ui-kit/shadcn-ui/src/ui/scroll-area/ScrollBar.vue
  packages/@core/ui-kit/shadcn-ui/src/ui/tabs/Tabs.vue
  packages/@core/ui-kit/shadcn-ui/src/ui/tabs/TabsContent.vue
  packages/@core/ui-kit/shadcn-ui/src/ui/tabs/TabsList.vue
  packages/@core/ui-kit/shadcn-ui/src/ui/tabs/TabsTrigger.vue
Due: lint-vue, lint-style

types: add commitlint config declaration
  internal/lint-configs/commitlint-config/index.d.ts
  internal/lint-configs/commitlint-config/package.json
Due: lint-js

chore: add commitlint config declaration (#7968)
  internal/lint-configs/commitlint-config/index.d.ts
  internal/lint-configs/commitlint-config/package.json
Due: lint-js

fix: pagination
  packages/@core/ui-kit/shadcn-ui/src/ui/pagination/PaginationFirst.vue
  packages/@core/ui-kit/shadcn-ui/src/ui/pagination/PaginationNext.vue
Due: lint-vue, lint-style

fix: dark style
  playground/src/views/examples/form/scroll-to-error-test.vue
Due: lint-vue, lint-style

fix: doc import
  docs/.vitepress/components/preview-group.vue
Due: lint-vue, lint-style

feat: 增加详情组件，参考 antdv-next
  packages/@core/ui-kit/shadcn-ui/src/components/descriptions/descriptions-cell.vue
  packages/@core/ui-kit/shadcn-ui/src/components/descriptions/descriptions-item.vue
  packages/@core/ui-kit/shadcn-ui/src/components/descriptions/descriptions-row.vue
  packages/@core/ui-kit/shadcn-ui/src/components/descriptions/descriptions.vue
  packages/@core/ui-kit/shadcn-ui/src/components/descriptions/index.ts
  packages/@core/ui-kit/shadcn-ui/src/components/descriptions/types.ts
  packages/@core/ui-kit/shadcn-ui/src/components/descriptions/use-descriptions.ts
  packages/@core/ui-kit/shadcn-ui/src/components/index.ts
  packages/effects/common-ui/src/components/index.ts
  packages/locales/src/langs/en-US/common.json
  packages/locales/src/langs/zh-CN/common.json
  playground/src/adapter/vxe-table.ts
  playground/src/views/system/user/data.ts
  playground/src/views/system/user/list.vue
  playground/src/views/system/user/modules/detail.vue
  playground/src/views/system/user/modules/form.vue
Due: lint-vue, lint-js, lint-style

docs: descriptions docs
  docs/.vitepress/config/en.mts
  docs/.vitepress/config/zh.mts
  docs/src/components/common-ui/vben-descriptions.md
  docs/src/demos/vben-descriptions/basic/index.vue
  docs/src/demos/vben-descriptions/bordered/index.vue
  docs/src/demos/vben-descriptions/custom/index.vue
  docs/src/demos/vben-descriptions/size/index.vue
  docs/src/demos/vben-descriptions/span/index.vue
  docs/src/demos/vben-descriptions/vertical/index.vue
  docs/src/en/components/common-ui/vben-descriptions.md
Due: lint-md, lint-vue, lint-style

docs: Browser Support
  README.ja-JP.md
  README.md
  README.zh-CN.md
  docs/src/en/guide/introduction/vben.md
  docs/src/guide/introduction/vben.md
Due: lint-md

feat: add table action
  docs/.vitepress/config/en.mts
  docs/.vitepress/config/zh.mts
  docs/src/components/common-ui/vben-table-action.md
  docs/src/demos/vben-table-action/basic/index.vue
  docs/src/demos/vben-table-action/dropdown/index.vue
  docs/src/demos/vben-table-action/permission/index.vue
  docs/src/demos/vben-table-action/popconfirm/index.vue
  docs/src/demos/vben-table-action/tooltip/index.vue
  docs/src/en/components/common-ui/vben-table-action.md
  packages/@core/ui-kit/shadcn-ui/src/components/index.ts
  packages/@core/ui-kit/shadcn-ui/src/components/table-action/action-item.vue
  packages/@core/ui-kit/shadcn-ui/src/components/table-action/index.ts
  packages/@core/ui-kit/shadcn-ui/src/components/table-action/table-action.vue
  packages/@core/ui-kit/shadcn-ui/src/components/table-action/types.ts
  packages/effects/common-ui/src/components/index.ts
  playground/src/adapter/vxe-table.ts
  playground/src/views/system/user/data.ts
  playground/src/views/system/user/list.vue
Due: lint-md, lint-vue, lint-js, lint-style

feat: icon use vbenIcon
  docs/src/components/common-ui/vben-table-action.md
  docs/src/en/components/common-ui/vben-table-action.md
  packages/@core/ui-kit/shadcn-ui/src/components/table-action/action-item.vue
  packages/@core/ui-kit/shadcn-ui/src/components/table-action/table-action.vue
  packages/@core/ui-kit/shadcn-ui/src/components/table-action/types.ts
Due: lint-md, lint-vue, lint-js, lint-style

fix: type error
  packages/@core/ui-kit/shadcn-ui/src/components/table-action/types.ts
Due: lint-js

fix: dropdown popConfirm
  docs/src/components/common-ui/vben-table-action.md
  docs/src/demos/vben-table-action/dropdown/index.vue
  docs/src/en/components/common-ui/vben-table-action.md
  packages/@core/composables/src/use-simple-locale/messages.ts
  packages/@core/ui-kit/shadcn-ui/src/components/segmented/segmented.vue
  packages/@core/ui-kit/shadcn-ui/src/components/table-action/action-dropdown-item.vue
  packages/@core/ui-kit/shadcn-ui/src/components/table-action/table-action.vue
  playground/src/views/system/user/list.vue
Due: lint-md, lint-vue, lint-js, lint-style

feat: 使用默认的文字交互
  playground/src/views/system/user/list.vue
Due: lint-vue, lint-style

feat: 优化渲染性能
  packages/@core/ui-kit/shadcn-ui/src/components/table-action/table-action.vue
Due: lint-vue, lint-style

feat(@core/form-ui): 新增 useVbenForm 数组编辑器 VbenFormFieldArray
  apps/web-naive/src/locales/langs/en-US/demos.json
  apps/web-naive/src/locales/langs/zh-CN/demos.json
  apps/web-naive/src/router/routes/modules/demos.ts
  apps/web-naive/src/views/demos/naive/array-form/index.vue
  packages/@core/ui-kit/form-ui/src/components/form-field-array.vue
  packages/@core/ui-kit/form-ui/src/config.ts
  packages/@core/ui-kit/form-ui/src/index.ts
  packages/@core/ui-kit/form-ui/src/types.ts
Due: lint-vue, lint-js, lint-style

style: format naive styles
  packages/styles/src/naive/index.css
Due: lint-style

chore: add changeset for form field array
  .changeset/fancy-ears-walk.md
Due: lint-md

feat: node >= 22.18.0
  internal/lint-configs/eslint-config/src/configs/node.ts
Due: lint-js
