Repository vbenjs/vue-vben-admin: changes, and which lefthook commands are due for each by the changed paths.
All: lint-md, lint-vue, lint-js, lint-style, lint-package, lint-json

lefthook.yml:

# EXAMPLE USAGE:
#
#   Refer for explanation to following link:
#   https://lefthook.dev/configuration/
#
# pre-push:
#   jobs:
#     - name: packages audit
#       tags:
#         - frontend
#         - security
#       run: yarn audit
#
#     - name: gems audit
#       tags:
#         - backend
#         - security
#       run: bundle audit
#
# pre-commit:
#   parallel: true
#   jobs:
#     - run: yarn eslint {staged_files}
#       glob: "*.{js,ts,jsx,tsx}"
#
#     - name: rubocop
#       glob: "*.rb"
#       exclude:
#         - config/application.rb
#         - config/routes.rb
#       run: bundle exec rubocop --force-exclusion {all_files}
#
#     - name: govet
#       files: git ls-files -m
#       glob: "*.go"
#       run: go vet {files}
#
#     - script: "hello.js"
#       runner: node
#
#     - script: "hello.go"
#       runner: go run

pre-commit:
  parallel: true
  commands:
    code-workspace:
      run: pnpm vsh code-workspace --auto-commit
    lint-md:
      run: pnpm prettier --cache --ignore-unknown --write {staged_files}
      glob: '*.md'
    lint-vue:
      run: pnpm prettier --write {staged_files} && pnpm eslint --cache --fix {staged_files} && pnpm stylelint --fix --allow-empty-input {staged_files}
      glob: '*.vue'
    lint-js:
      run: pnpm prettier --cache --ignore-unknown --write {staged_files} && pnpm eslint --cache --fix {staged_files}
      glob: '*.{js,jsx,ts,tsx}'
    lint-style:
      run: pnpm prettier --cache --ignore-unknown --write {staged_files} && pnpm stylelint --fix --allow-empty-input {staged_files}
      glob: '*.{scss,less,styl,html,vue,css}'
    lint-package:
      run: pnpm prettier --cache --write {staged_files}
      glob: 'package.json'
    lint-json:
      run: pnpm prettier --cache --write --parser json {staged_files}
      glob: '{!(package)*.json,*.code-snippets,.!(browserslist)*rc}'

post-merge:
  commands:
    install:
      run: pnpm install

commit-msg:
  commands:
    commitlint:
      run: pnpm exec commitlint --edit $1

fix: appendToMain warning
  packages/@core/ui-kit/shadcn-ui/src/ui/dialog/DialogContent.vue
  packages/@core/ui-kit/shadcn-ui/src/ui/sheet/SheetContent.vue
Due: lint-vue, lint-style

fix: appendToMain warning (#6684)
  packages/@core/ui-kit/shadcn-ui/src/ui/dialog/DialogContent.vue
  packages/@core/ui-kit/shadcn-ui/src/ui/sheet/SheetContent.vue
Due: lint-vue, lint-style

fix: 角色管理，授权的树形组件，取消勾选叶子节点，父级节点状态错误 (#6680)
  packages/@core/ui-kit/shadcn-ui/src/ui/tree/tree.vue
Due: lint-vue, lint-style

重构系统角色管理功能
  apps/web-naive/src/api/core/system/role.ts
  apps/web-naive/src/views/system/role/data.ts
  apps/web-naive/src/views/system/role/index.vue
  apps/web-naive/src/views/system/role/modules/form.vue
Due: lint-vue, lint-js, lint-style

docs: improve README with better structure and examples
  README.md
Due: lint-md

fix(@vben/common-ui): resolve #6698
  packages/effects/common-ui/src/components/page/page.vue
Due: lint-vue, lint-style

fix(@vben/common-ui): resolve conversation
  packages/effects/common-ui/src/components/page/page.vue
Due: lint-vue, lint-style

fix(@vben-core/shadcn-ui): 修复VbenPinInput组件在点击获取验证码和回车同时进行时会重复触发计时器的问题
  packages/@core/ui-kit/shadcn-ui/src/components/pin-input/input.vue
Due: lint-vue, lint-style

fix(@vben-core/shadcn-ui): 修复VbenPinInput组件在点击获取验证码和回车同时进行时会重复触发计时器的问题 (#6705)
  packages/@core/ui-kit/shadcn-ui/src/components/pin-input/input.vue
Due: lint-vue, lint-style

fix(@vben/common-ui): resolve #6698 (#6700)
  packages/effects/common-ui/src/components/page/page.vue
Due: lint-vue, lint-style

feat: add global event bus based on Mitt
  packages/@core/base/shared/package.json
  packages/@core/base/shared/src/utils/__tests__/event-bus.test.ts
  packages/@core/base/shared/src/utils/event-bus.ts
  packages/@core/base/shared/src/utils/index.ts
  pnpm-workspace.yaml
Due: lint-js

feat: add global event bus based on Mitt
  pnpm-lock.yaml
Due: none

fix(@vben-core/form-ui): 支持object类型值的合并
  packages/@core/ui-kit/form-ui/src/form-api.ts
Due: lint-js

feat(authentication): 二维码登录和验证码登录组件增加返回按钮显隐配置
  packages/effects/common-ui/src/ui/authentication/code-login.vue
  packages/effects/common-ui/src/ui/authentication/qrcode-login.vue
Due: lint-vue, lint-style

fix(@vben-core/form-ui): 修复Array类型合并出现和默认值合并的问题
  packages/@core/ui-kit/form-ui/src/form-api.ts
Due: lint-js

提交
  packages/effects/layouts/src/basic/content/content.vue
Due: lint-vue, lint-style

form-api fieldMappingTime支持多级路径转换
  packages/@core/ui-kit/form-ui/src/form-api.ts
Due: lint-js

增加demo示例
  playground/src/views/examples/form/basic.vue
Due: lint-vue, lint-style

feat: Update order layout
  apps/web-np/src/views/reports/order/index.vue
  apps/web-np/src/views/reports/order/table-config.ts
Due: lint-vue, lint-js, lint-style

feat: Update product sale list
  apps/web-np/src/api/product.ts
  apps/web-np/src/views/reports/product/table-config.ts
Due: lint-js

feat: Update layout
  apps/web-np/src/api/order.ts
  apps/web-np/src/views/reports/order/form-modal-order-detail.vue
  apps/web-np/src/views/reports/order/index.vue
  apps/web-np/src/views/settings/zone-shipping/form-modal.vue
Due: lint-vue, lint-js, lint-style

feat: Update product sale list
  apps/web-np/src/views/reports/product/table-config.ts
Due: lint-js

feat: Adding shipping cost level - ORDER
  apps/web-np/src/api/index.ts
  apps/web-np/src/api/region.ts
  apps/web-np/src/api/shop.ts
  apps/web-np/src/shared/constants.ts
  apps/web-np/src/store/shop-settings.ts
  apps/web-np/src/views/onboard/step-2-handling-fees.vue
  apps/web-np/src/views/onboard/step-3-shipping-fees.vue
  apps/web-np/src/views/onboard/step-4-transaction-fees.vue
  apps/web-np/src/views/settings/zone-shipping/form-modal.vue
Due: lint-vue, lint-js, lint-style

fix: 修复路由跳转的页面出现空白
  apps/web-antd/src/app.vue
  apps/web-ele/src/app.vue
  apps/web-naive/src/app.vue
Due: lint-vue, lint-style

fix: 删除注释
  apps/web-ele/src/app.vue
Due: lint-vue, lint-style

feat: add SSE support to request-client
  packages/effects/request/src/request-client/modules/sse.test.ts
  packages/effects/request/src/request-client/modules/sse.ts
  packages/effects/request/src/request-client/request-client.ts
  packages/effects/request/src/request-client/types.ts
Due: lint-js

feat: add SSE support to request-client
  packages/effects/request/src/request-client/modules/sse.test.ts
  packages/effects/request/src/request-client/modules/sse.ts
  packages/effects/request/src/request-client/types.ts
Due: lint-js

fix: 全选时过滤disabled的节点
  packages/@core/ui-kit/shadcn-ui/src/ui/tree/tree.vue
  packages/@core/ui-kit/shadcn-ui/src/ui/tree/types.ts
Due: lint-vue, lint-js, lint-style

fix: 节点选中时过滤父节点禁用状态
  packages/@core/ui-kit/shadcn-ui/src/ui/tree/tree.vue
Due: lint-vue, lint-style

feat: Update product sale
  apps/web-np/src/views/reports/product/table-config.ts
Due: lint-js

feat(authentication): 二维码登录和验证码登录组件增加返回按钮显隐配置 (#6713)
  packages/effects/common-ui/src/ui/authentication/code-login.vue
  packages/effects/common-ui/src/ui/authentication/qrcode-login.vue
Due: lint-vue, lint-style

chore: update deps vxe, vxe-table: 4.14.4 -> 4.16.11 vxe-pc-ui: 4.7.12 -> 4.9.29
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

fix: resolve the ESLint warning generated by #6317
  packages/effects/common-ui/src/ui/authentication/code-login.vue
  packages/effects/common-ui/src/ui/authentication/qrcode-login.vue
Due: lint-vue, lint-style

feat(common-ui): 添加 Tree 组件
  packages/effects/common-ui/src/components/tree/index.ts
  packages/effects/common-ui/src/components/tree/tree.vue
Due: lint-vue, lint-js, lint-style

chore: update deps vxe, vxe-table: 4.14.4 -> 4.16.11 vxe-pc-ui: 4.7.… (#6752)
  packages/effects/common-ui/src/ui/authentication/code-login.vue
  packages/effects/common-ui/src/ui/authentication/qrcode-login.vue
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: lint-vue, lint-style
