Repository vbenjs/vue-vben-admin: changes, and which lefthook commands are due for each by the changed paths.
All: lint-md, lint-vue, lint-js, lint-style, lint-package, lint-json

lefthook.yml:

# EXAMPLE USAGE:
#
#   Refer for explanation to following link:
#   https://lefthook.dev/configuration/
#
# pre-push:
#   jobs:
#     - name: packages audit
#       tags:
#         - frontend
#         - security
#       run: yarn audit
#
#     - name: gems audit
#       tags:
#         - backend
#         - security
#       run: bundle audit
#
# pre-commit:
#   parallel: true
#   jobs:
#     - run: yarn eslint {staged_files}
#       glob: "*.{js,ts,jsx,tsx}"
#
#     - name: rubocop
#       glob: "*.rb"
#       exclude:
#         - config/application.rb
#         - config/routes.rb
#       run: bundle exec rubocop --force-exclusion {all_files}
#
#     - name: govet
#       files: git ls-files -m
#       glob: "*.go"
#       run: go vet {files}
#
#     - script: "hello.js"
#       runner: node
#
#     - script: "hello.go"
#       runner: go run

pre-commit:
  parallel: true
  commands:
    code-workspace:
      run: pnpm vsh code-workspace --auto-commit
    lint-md:
      run: pnpm prettier --cache --ignore-unknown --write {staged_files}
      glob: '*.md'
    lint-vue:
      run: pnpm prettier --write {staged_files} && pnpm eslint --cache --fix {staged_files} && pnpm stylelint --fix --allow-empty-input {staged_files}
      glob: '*.vue'
    lint-js:
      run: pnpm prettier --cache --ignore-unknown --write {staged_files} && pnpm eslint --cache --fix {staged_files}
      glob: '*.{js,jsx,ts,tsx}'
    lint-style:
      run: pnpm prettier --cache --ignore-unknown --write {staged_files} && pnpm stylelint --fix --allow-empty-input {staged_files}
      glob: '*.{scss,less,styl,html,vue,css}'
    lint-package:
      run: pnpm prettier --cache --write {staged_files}
      glob: 'package.json'
    lint-json:
      run: pnpm prettier --cache --write --parser json {staged_files}
      glob: '{!(package)*.json,*.code-snippets,.!(browserslist)*rc}'

post-merge:
  commands:
    install:
      run: pnpm install

commit-msg:
  commands:
    commitlint:
      run: pnpm exec commitlint --edit $1

perf: 表单需要通过权限控制是否需要展示，dependencies.if 这种方式需要别triggerFields触发字段，不能满足要求
  docs/src/components/common-ui/vben-form.md
  packages/@core/ui-kit/form-ui/src/form-render/form-field.vue
  packages/@core/ui-kit/form-ui/src/types.ts
Due: lint-md, lint-vue, lint-js, lint-style

feat: Refactor date handling to use GMT across various components
  .vscode/settings.json
  apps/web-np/src/shared/dayjs.ts
  apps/web-np/src/shared/utils.ts
  apps/web-np/src/store/shop.ts
  apps/web-np/src/views/ads/ad-insights/table-filter.ts
  apps/web-np/src/views/dashboard/service.ts
  apps/web-np/src/views/reports/customer-ltv/index.vue
  apps/web-np/src/views/reports/customer-ltv/service.ts
  apps/web-np/src/views/reports/customer-ltv/table-config.ts
  apps/web-np/src/views/reports/order/form-modal-order-sync.vue
  apps/web-np/src/views/reports/order/form-modal-recalculate.vue
  apps/web-np/src/views/reports/order/table-filter.ts
  apps/web-np/src/views/reports/p-and-l/table-config.ts
  apps/web-np/src/views/reports/product/table-config.ts
  apps/web-np/src/views/settings/cogs-handling-fees/form-modal-cogs.vue
  apps/web-np/src/views/settings/cogs-handling-fees/form-modal-recalculate.vue
  apps/web-np/src/views/settings/custom-costs/form-modal.vue
  apps/web-np/src/views/settings/custom-costs/table-filter.ts
  apps/web-np/src/views/settings/transaction-fees/form-modal-recalculate.vue
  apps/web-np/src/views/settings/zone-shipping/form-modal-recalculate.vue
  apps/web-np/src/views/shared-components/date-range-picker.vue
Due: lint-vue, lint-js, lint-style

feat: Add timezone selection and update settings to use shop timezone
  apps/web-np/src/router/routes/modules/settings.ts
  apps/web-np/src/shared/constants.ts
  apps/web-np/src/store/auth.ts
  apps/web-np/src/store/shop.ts
  apps/web-np/src/views/settings/general/index.vue
  apps/web-np/src/views/shared-components/date-range-picker.vue
Due: lint-vue, lint-js, lint-style

feat: Update date handling to use dayjs for improved date processing
  apps/web-np/src/router/routes/modules/reports.ts
  apps/web-np/src/views/reports/p-and-l/service.ts
Due: lint-js

feat: Refactor date handling to use dayjs for consistency and improved readability
  apps/web-np/src/router/routes/modules/reports.ts
  apps/web-np/src/views/reports/customer-ltv/service.ts
  apps/web-np/src/views/reports/customer-ltv/table-config.ts
Due: lint-js

feat: Update addExtraFields function to accept hasTotalCost parameter for conditional cost calculation
  apps/web-np/src/views/reports/p-and-l/table-config.ts
Due: lint-js

feat: Add totalOrders field to P and L report
  apps/web-np/src/locales/langs/en-US/field-name.json
  apps/web-np/src/views/reports/p-and-l/index.vue
  apps/web-np/src/views/reports/p-and-l/service.ts
Due: lint-vue, lint-js, lint-style

feat: Update p and l report
  apps/web-np/src/router/routes/modules/reports.ts
  apps/web-np/src/views/reports/p-and-l/table-config.ts
Due: lint-js

feat: Update customer report filter
  apps/web-np/src/views/reports/customer-ltv/table-config.ts
Due: lint-js

feat: Force to upgrade
  apps/web-np/src/store/shop.ts
  apps/web-np/src/views/ads/account/index.vue
  apps/web-np/src/views/dashboard/order-statistic.vue
  apps/web-np/src/views/reports/customer-ltv/index.vue
  apps/web-np/src/views/reports/customer-ltv/table-config.ts
  apps/web-np/src/views/reports/order/index.vue
  apps/web-np/src/views/reports/order/table-filter.ts
  apps/web-np/src/views/reports/p-and-l/index.vue
  apps/web-np/src/views/reports/p-and-l/table-config.ts
  apps/web-np/src/views/reports/product/index.vue
  apps/web-np/src/views/reports/product/table-config.ts
  apps/web-np/src/views/settings/cogs-handling-fees/index.vue
  apps/web-np/src/views/settings/cogs-handling-fees/modules/products.vue
  apps/web-np/src/views/settings/cogs-handling-fees/table-filter.ts
  apps/web-np/src/views/settings/custom-costs/index.vue
  apps/web-np/src/views/settings/custom-costs/table-filter.ts
  apps/web-np/src/views/settings/zone-shipping/index.vue
  apps/web-np/src/views/shared-components/upgrade-btn.vue
Due: lint-vue, lint-js, lint-style

fix: 修复注解错误
  packages/@core/ui-kit/form-ui/src/types.ts
Due: lint-js

fix: 解决搜索表单中arrayToStringFields属性无法在搜索时生效的问题 (#6591)
  packages/@core/ui-kit/form-ui/src/form-api.ts
Due: lint-js

perf: 表单需要通过权限控制是否需要展示，dependencies.if 这种方式需要别triggerFields触发字段，不能满足要求 (#6756)
  docs/src/components/common-ui/vben-form.md
  packages/@core/ui-kit/form-ui/src/form-render/form-field.vue
  packages/@core/ui-kit/form-ui/src/types.ts
Due: lint-md, lint-vue, lint-js, lint-style

fix: 修复注解错误 (#6763)
  packages/@core/ui-kit/form-ui/src/types.ts
Due: lint-js

fix: 修复部分场景 echarts 在使用 v-show 时获取不到 width 的问题
  packages/effects/plugins/src/echarts/use-echarts.ts
Due: lint-js

feat: Force to upgrade
  apps/web-np/src/views/dashboard/index.vue
  apps/web-np/src/views/dashboard/order-statistic.vue
Due: lint-vue, lint-style

feat: Force to upgrade
  apps/web-np/src/views/dashboard/order-statistic.vue
Due: lint-vue, lint-style

fix: 修复设置表单值时合并子对象的错误
  packages/@core/ui-kit/form-ui/src/form-api.ts
Due: lint-js

fix(theme-button): fix flicker during theme switch
  packages/effects/layouts/src/widgets/theme-toggle/theme-button.vue
Due: lint-vue, lint-style

fix: 修复部分场景 echarts 在使用 v-show 时获取不到 width 的问题 (#6776)
  packages/effects/plugins/src/echarts/use-echarts.ts
Due: lint-js

fix: 修复设置表单值时合并子对象的错误 (#6780)
  packages/@core/ui-kit/form-ui/src/form-api.ts
Due: lint-js

fix(theme-button): fix flicker during theme switch (#6782)
  packages/effects/layouts/src/widgets/theme-toggle/theme-button.vue
Due: lint-vue, lint-style

fix: watermark create error #6788
  playground/src/views/demos/features/watermark/index.vue
Due: lint-vue, lint-style

fix: 修复了水印新建问题
  playground/src/views/demos/features/watermark/index.vue
Due: lint-vue, lint-style

fix: watermark create error #6788 (#6789)
  playground/src/views/demos/features/watermark/index.vue
Due: lint-vue, lint-style

fix: 1、更换其他登录方式图标为彩色图标；2、新增其他登录方式tooltip文字提示
  apps/web-antd/src/layouts/basic.vue
  apps/web-ele/src/layouts/basic.vue
  apps/web-naive/src/layouts/basic.vue
  packages/effects/common-ui/src/ui/authentication/dingding-login.vue
  packages/effects/common-ui/src/ui/authentication/third-party-login.vue
  packages/icons/src/iconify/index.ts
  packages/icons/src/svg/icons/dingding.svg
  packages/icons/src/svg/icons/github.svg
  packages/icons/src/svg/icons/google.svg
  packages/icons/src/svg/icons/qqchat.svg
  packages/icons/src/svg/icons/wechat.svg
  packages/icons/src/svg/index.ts
  packages/locales/src/langs/en-US/authentication.json
  packages/locales/src/langs/zh-CN/authentication.json
  playground/src/layouts/basic.vue
  playground/src/views/demos/features/icons/index.vue
Due: lint-vue, lint-js, lint-style

chore: 更换其他登录方式图标为彩色图标，新增其他登录方式tooltip文字提示 (#6799)
  apps/web-antd/src/layouts/basic.vue
  apps/web-ele/src/layouts/basic.vue
  apps/web-naive/src/layouts/basic.vue
  packages/effects/common-ui/src/ui/authentication/dingding-login.vue
  packages/effects/common-ui/src/ui/authentication/third-party-login.vue
  packages/icons/src/iconify/index.ts
  packages/icons/src/svg/icons/dingding.svg
  packages/icons/src/svg/icons/github.svg
  packages/icons/src/svg/icons/google.svg
  packages/icons/src/svg/icons/qqchat.svg
  packages/icons/src/svg/icons/wechat.svg
  packages/icons/src/svg/index.ts
  packages/locales/src/langs/en-US/authentication.json
  packages/locales/src/langs/zh-CN/authentication.json
  playground/src/layouts/basic.vue
  playground/src/views/demos/features/icons/index.vue
Due: lint-vue, lint-js, lint-style

feature: 新增水印文案自定义功能；
  apps/web-antd/src/layouts/basic.vue
  apps/web-ele/src/layouts/basic.vue
  apps/web-naive/src/layouts/basic.vue
  packages/@core/preferences/src/config.ts
  packages/@core/preferences/src/types.ts
  packages/effects/layouts/src/widgets/preferences/blocks/general/general.vue
  packages/effects/layouts/src/widgets/preferences/blocks/input-item.vue
  packages/effects/layouts/src/widgets/preferences/preferences-drawer.vue
  packages/locales/src/langs/en-US/preferences.json
  packages/locales/src/langs/zh-CN/preferences.json
  playground/src/layouts/basic.vue
Due: lint-vue, lint-js, lint-style

chore: 偏好设置、主题切换、语言选择、是否全屏按钮新增动画效果
  packages/@core/base/design/src/css/ui.css
  packages/@core/ui-kit/shadcn-ui/src/components/full-screen/full-screen.vue
  packages/effects/layouts/src/widgets/language-toggle.vue
  packages/effects/layouts/src/widgets/preferences/preferences-button.vue
  packages/effects/layouts/src/widgets/theme-toggle/theme-button.vue
Due: lint-vue, lint-style

feat: 1、新增水印文案自定义功能；2、input-item输入框组件新增清除功能(可用于快捷清除水印文案)；3、偏好设置、主题切换、语言选择、是否全屏按钮新增动画效果 (#6800)
  apps/web-antd/src/layouts/basic.vue
  apps/web-ele/src/layouts/basic.vue
  apps/web-naive/src/layouts/basic.vue
  packages/@core/base/design/src/css/ui.css
  packages/@core/preferences/src/config.ts
  packages/@core/preferences/src/types.ts
  packages/@core/ui-kit/shadcn-ui/src/components/full-screen/full-screen.vue
  packages/effects/layouts/src/widgets/language-toggle.vue
  packages/effects/layouts/src/widgets/preferences/blocks/general/general.vue
  packages/effects/layouts/src/widgets/preferences/blocks/input-item.vue
  packages/effects/layouts/src/widgets/preferences/preferences-button.vue
  packages/effects/layouts/src/widgets/preferences/preferences-drawer.vue
  packages/effects/layouts/src/widgets/theme-toggle/theme-button.vue
  packages/locales/src/langs/en-US/preferences.json
  packages/locales/src/langs/zh-CN/preferences.json
  playground/src/layouts/basic.vue
Due: lint-vue, lint-js, lint-style

chore: 新增是否开启首选项导航栏（外观、布局、快捷键、通用）吸顶效果，调整部分样式
  packages/@core/preferences/src/config.ts
  packages/@core/preferences/src/types.ts
  packages/@core/ui-kit/shadcn-ui/src/components/segmented/segmented.vue
  packages/@core/ui-kit/shadcn-ui/src/components/segmented/tabs-indicator.vue
  packages/effects/layouts/src/widgets/preferences/blocks/theme/builtin.vue
  packages/effects/layouts/src/widgets/preferences/preferences-drawer.vue
  packages/locales/src/langs/en-US/preferences.json
  packages/locales/src/langs/zh-CN/preferences.json
Due: lint-vue, lint-js, lint-style

fix: 混合双列 onMounted 关闭二级侧边栏
  packages/effects/layouts/src/basic/layout.vue
Due: lint-vue, lint-style

feat: Enhance free subscription validation logic for Special shop
  apps/web-np/src/store/shop.ts
Due: lint-js

fix: Corrected day difference calculation in cost period logic
  apps/web-np/src/views/settings/custom-costs/form-modal.vue
Due: lint-vue, lint-style

chore: 新增是否开启首选项导航栏（外观、布局、快捷键、通用）吸顶效果，调整部分样式 (#6804)
  packages/@core/preferences/src/config.ts
  packages/@core/preferences/src/types.ts
  packages/@core/ui-kit/shadcn-ui/src/components/segmented/segmented.vue
  packages/@core/ui-kit/shadcn-ui/src/components/segmented/tabs-indicator.vue
  packages/effects/layouts/src/widgets/preferences/blocks/theme/builtin.vue
  packages/effects/layouts/src/widgets/preferences/preferences-drawer.vue
  packages/locales/src/langs/en-US/preferences.json
  packages/locales/src/langs/zh-CN/preferences.json
Due: lint-vue, lint-js, lint-style

fix: 混合双列 onMounted 关闭二级侧边栏 (#6807)
  packages/effects/layouts/src/basic/layout.vue
Due: lint-vue, lint-style

feat: Add Google connection option for specific shop
  apps/web-np/src/views/ads/account/index.vue
Due: lint-vue, lint-style
